[2017-03-03 19:27] simonhatch opened #3333 "Pinpoint - Need basic "new" page for initiating bisects."
Nothing fancy for now, just needs to be functional, mostly a copy of bisect-form.

[2017-03-03 19:29] simonhatch opened #3334 "Pinpoint - Job status page w/ graph"
Display line graph with test results + build/test failures above like in Pinpoint doc.

[2017-03-03 19:55] dave-2 commented on #2891
#3332 for bisection!

[2017-03-03 21:20] sunjianchromium opened #3335 "Add breakdown diagnostic for spa navigation metric."
Currently, spa navigation has a metric for navigation start to first
paint duration. We would like to add a breakdown diagnostic for each
duration.

[2017-03-03 21:27] benshayden commented on #3289
If these deep links replace the existing localStorage integration, then that would solve a whole class of bugs like #3281

[2017-03-03 22:51] benshayden opened #3336 "Escape json in results_renderer.py"
If any part of a Histogram JSON contains "<" or ">", then it needs to be escaped so that it doesn't interfere with the browser's parsing of `<histogram-json>...</histogram-json>` tags.

cpuProcessMetric can tickle this bug.

[2017-03-03 22:56] weableandbob opened #3337 "_PERMISSIONS_BLACKLIST in device_utils.py needs to be updated"
According to [this](https://developer.android.com/training/permissions/requesting.html), any normal permission that's requested is automatically granted, which means that trying to set them throws

`Operation not allowed: java.lang.SecurityException: Permission <permission> is not a changeable permission type`

android.permission.ACCESS_NOTIFICATION_POLICY is the permission that's currently giving

[2017-03-03 23:22] jessimb commented on #3203
Try now :)

[2017-03-03 23:22] #3203 closed

[2017-03-04 00:34] #3337 closed

[2017-03-05 21:24] wangxianzhu opened #3339 "Removal of iterItems() broke html results of perf tests"
For example, now html result of blink_perf.paint show only one result. See HTML results link in
https://build.chromium.org/p/tryserver.chromium.perf/builders/linux_perf_bisect/builds/7060.

[2017-03-06 04:49] benshayden commented on #3339
[Revision link](https://github.com/catapult-project/catapult/commit/5f6a29f) since the title is not a clickable link.

Why do you think removing iterItems caused the results.html to display only 1 result?
When I open the results.html sent from googleusercontent.com, I see only 2 `<histogram-json>` tags in the file and no errors on the devtools console.

[2017-03-06 08:44] natorion commented on #3203
Works, thanks!

[2017-03-06 09:08] natorion opened #3340 "Show V8 changelog un the overlay pane of a commit"
Github equivalent of crbug.com/694537.

Show the V8 changelog in the overlay pane. It seems we already have the data?

See screenshot for an example.
![v8git](https://cloud.githubusercontent.com/assets/7190422/23603297/d4e1a03c-0254-11e7-9474-8fd5defe36b7.png)

[2017-03-06 13:53] anniesullie commented on #3340
@martiniss - see details on crbug.com/694537 - looks like we have a problem with `got_v8_revision` not showing up in the perf dashboard upload. Any ideas? Or know who to ask?

[2017-03-06 15:09] anniesullie commented on #1818
We've talked through this problem a lot over the past few months! I've continued to feel strongly about keeping things documented in the code after the many mistakes we've made in the past with a centralized model (unit-info.json, dashboard sheriffing, etc). Would be happy to pick up the discussion again.

@simonhatch FYI

[2017-03-06 15:54] #3178 closed

[2017-03-06 15:54] #3174 closed

[2017-03-06 15:57] zeptonaut commented on #2932
Going to close this as WontFix, given that it doesn't seem like we have consensus that this is a good idea.

[2017-03-06 15:57] #2932 closed

[2017-03-06 16:12] nedn commented on #1818
I think "centralization of documentation is bad" is too general of an assessment. For example, devtool team also uses https://chromium.googlesource.com/chromium/src/+/master/third_party/WebKit/Source/core/inspector/browser_protocol.json  as a declarative way to keep track of their public APsI and I find it make it easy for me as the user to look for APIs that I care about.

My main concern with re

[2017-03-06 16:19] tdresser commented on #1818
Doesn't declaring the dependencies in the js and then having a presubmit check which generates all_metrics.json solve most of the issues being raised?

[2017-03-06 16:25] nedn commented on #1818
I am sorry for conflating two different issues in one bug. The two issues are:
1) We need a way to declare which tracing categories a metric depend on.
2) We may need a all_metrics.json file that declare which histograms each metric produces & further documentation.

For (1), I am totally supportive with declaring the dependencies in metrics code. Which tracing categories a metric depend on is an

[2017-03-06 18:16] weableandbob opened #3341 "Uninstalling/reinstalling system apps"
I'm running into an issue running tests on the Chromium BuildBots when an additional APK needs to be installed, but the application is a system app. Currently, the test runner uses the default logic of removing the existing version of the application before installing the provided APK, which throws an error with a system app. There are two potential solutions to this:

1. Add support to the test r

[2017-03-06 18:18] jbudorick commented on #3341
@case540 @perezju @yoland68 ^^^

I vote for the second option.

[2017-03-06 20:02] benshayden commented on #3297
@chromy Are you driving this? Did you mean to assign yourself?

[2017-03-06 20:12] benshayden opened #3342 "Add screenshots of Histograms and Diagnostics to how-to-write-metrics"
The UI has grown and stabilized since the doc was originally written, and a picture is worth 1e3 words.

[2017-03-06 20:24] simonhatch opened #3343 "Dashboard - Unselected tests don't display name anymore."
Pretty sure the displayName change is the problem.

[2017-03-06 21:17] zeptonaut commented on #3339
Doing some manual reconstruction based on [the CL that the try job was launched from](https://codereview.chromium.org/2732573003/#ps60001), I think that I've figured out the problem that @wangxianzhu is talking about.

Before my change, the results2 UI looked like this:

![after_revert](https://cloud.githubusercontent.com/assets/1407397/23629879/1391dd74-0287-11e7-9af4-64144f8cf36b.png)

After the

[2017-03-06 21:18] zeptonaut commented on #3339
I think I may have found the problem:

![problem](https://cloud.githubusercontent.com/assets/1407397/23630254/741dd264-0288-11e7-9d0f-2f8437bc7b7a.png)

It looks like I didn't change a `return` statement to a `continue` inside of an `iterItems` call. I'm going to see how hard it is to add a test for that, and then make sure that I didn't make the same mistake elsewhere.

[2017-03-06 21:24] zeptonaut commented on #3339
Hmmm, it actually looks like this is a pretty specific logic path that probably doesn't justify a test. I'm just going to try to find anywhere else that I may have screwed this up.

[2017-03-07 00:27] weableandbob commented on #3341
An implementation of option #2 is available at https://codereview.chromium.org/2734023002/ if it's decided to go that route.

[2017-03-07 00:31] #3339 closed

[2017-03-07 00:32] #3031 closed

[2017-03-07 10:12] perezju commented on #3028
This is now done!

[2017-03-07 10:12] #3028 closed

[2017-03-07 14:34] perezju commented on #3308
Looks like a was a bit mistaken on my original assessment. The `sysfs_power_monitor` module _is_ in fact used on two different platforms: Android and ChromeOS. In fact, looks like `RunCommand` was added precisely to share this module between the two.

I still think it's a good idea to kill `platform.RunCommand`, so I'm planning to replace it instead with a `sysfs_power_monitor._RunCommand`. This w

[2017-03-07 14:42] perezju commented on #3308
The other two alternatives are:

* Keep `platform.RunCommand`, but document and implement a consistent interface across platforms.
* Do nothing, and wait for `sysfs_power_monitor` to die.

[2017-03-07 15:19] perezju opened #3344 "Usability problems of results2.html for system health benchmark"
On [crbug.com/697910#c9](https://bugs.chromium.org/p/chromium/issues/detail?id=697910#c9) a developer ran a trybot and obtained [these results](https://console.developers.google.com/m/cloudstorage/b/chromium-telemetry/o/html-results/results-2017-03-06_00-32-17).

* The page is not very responsive when typing a filter for histrogram names; e.g. when typing "v8:effective" the feedback (letters shown

[2017-03-07 15:19] nedn commented on #3308
sgtm. In this case, feel free to do things like:
[code]

This is because we probably gonna kill the legacy sysfs_power_monitor soonish.

[2017-03-07 15:48] anniesullie commented on #3344
Also @simonhatch  FYI

[2017-03-07 16:11] perezju commented on #3308
I had a more careful look now (there are too many different things named `RunCommand` in our usual repos!) and it seems that there are a few more clients than I originally thought:

* [telemetry.internal.psutil](https://cs.chromium.org/chromium/src/third_party/catapult/telemetry/telemetry/internal/util/ps_util.py?q=%5C.RunCommand%5C%28+file:%5C.py$+file:catapult+-file:gsutil&ct=rc&cd=3&dr=C)
* [te

[2017-03-07 16:22] chromy commented on #3297
Yep, I'm driving this but it's low priority. I'm off this week but maybe I
can look at it next week.

On Mon, 6 Mar 2017, 21:02 Ben Hayden, <notifications@github.com> wrote:

[2017-03-07 16:24] zeptonaut opened #3345 "Allow perf try jobs to be run with a diffbase other than ToT"
Filing a bug as suggested by @simonhatch.

When launching a perf try job, it tries to apply the patch on top of tip-of-tree. It'd be useful to be able to use a diffbase other than tip-of-tree, though. For example, if you do:

[code]

it'd be logical that these changes would be applied with a base of abc1234 when running the try job, not a diff base of origin/master.

[2017-03-07 17:07] benshayden commented on #3297
sgtm, thanks!

[2017-03-07 18:21] hkjellander opened #3346 "Unable to remove internal_only flag from builders"
I've been trying to remove the "internal_only" flag from bots at https://chromeperf.appspot.com/change_internal_only for more than a day now, but every time I check back on the page, my changes are reset so it seems something must be failing somewhere.

Example:
[code]
None of those should be marked internal_only, but I'm unable to change them using that page.

I'm also curious about which is the

[2017-03-07 18:24] simonhatch commented on #3346
I think this takes a couple days to full work through. Quick check on the appengine dashboard shows the migrate queue has thousands of tasks in it, and growing.

[2017-03-07 19:51] sunjianchromium opened #3347 "Replaced History::pushState and Location::setHash with FrameLoader::updateForSameDocumentNavigation."
Currently, we are using History::pushState and Location::setHash
as the indicators for spa navigations.
However, we found out that FrameLoader::updateForSameDocumentNavigation
is the central point for same document navigation (aka spa navigation).
Therefore, we will replace History::pushState and Location::setHash with
FrameLoader::updateForSameDocumentNavigation.

[2017-03-07 22:58] nedn opened #3348 "Supporting user_agent at page level"
V8 team wants to keep the same WPR recording on mobile & desktop for every story in their page_set, so we need to be able to support faking user_agent at page level.

[2017-03-08 06:55] veryzhang opened #3349 "Totals always be '0' in multi event summary table(analysis view)"
In file below:
catapult/tracing/tracing/ui/analysis/multi_event_summary_table.html
#line 295
`var allEvents = new tr.model.EventSet();
    var rows = [];
    for (var [title, eventsOfSingleTitle] of Object.entries(eventsByTitle)) {
      for (var event of allEvents) allEvents.push(event);
      var row = new tr.ui.analysis.MultiEventSummary(
          title, eventsOfSingleTitle);
      rows.push(r

[2017-03-08 17:48] benshayden commented on #3289
Currently, the histogram-set-table manages all of the configuration, but I think it's complex enough to warrant its own MVC pattern:

![](http://i.imgur.com/vpLOKm5.png)

Some of the configuration is set by the user in the top-controls (which should be moved to a separate dom-module), and some is set in the table itself (which should also be moved to its own dom-module). The histogram-set-table it

[2017-03-08 18:37] #3320 closed

[2017-03-08 19:31] benshayden opened #3350 "histogram-set-table search onkeyup is slow"
It looks like updateContents_ is unnecessarily calling updateGroups_, which can take a while to iterate over each Histogram if there are many.

[2017-03-08 19:41] benshayden commented on #3344
Thanks for the bug report[s]!

The unresponsive search box appears to be due to the fact that histogram-set-table.updateContents_ unnecessarily calls updateGroups_, which should only be called in `set histograms`. https://codereview.chromium.org/2741453003

Looking into the other issues is taking longer since it's harder to debug tab crashes.

[2017-03-08 19:55] #3341 closed

[2017-03-08 20:05] benshayden commented on #3349
Good eye!
https://codereview.chromium.org/2728373007
Looks like an honest mistake in a complex refactoring change.

[2017-03-08 22:06] #3349 closed

[2017-03-08 23:28] benshayden opened #3351 "Enable no-console eslint rule."
There are currently 63 calls to console methods in 36 files in tracing, including 8 `*_cmdline.html`.

We've historically advised against calling these methods in code review in the past with varying levels of strength in order to keep the console clean when running tests, but they sneak in. Reviewers are only human.

Recently, however, keeping the console clean has also become vital to ensuring t

[2017-03-08 23:42] benshayden commented on #3295
Fix: https://codereview.chromium.org/2742533002
Followup: #3351

[2017-03-09 07:08] veryzhang opened #3352 "With shiftWorldToZero = false, the slice shows in a mess"
Hi Sir,
I'm a kernel driver engineer and sometimes need to reference systrace with other kernel log(not imported into ftrace) too.
But systrace will shift all timestamps to zero by default, which will bring me a huge effort for re-calc the real timestamp of systrace slice.
I tried to modify import option below:
`
  function ImportOptions() {
    this.shiftWorldToZero = false; // xuecheng, for test

[2017-03-09 10:17] natorion commented on #3340
Gentle ping on this. Would be good to know what is still missing to proceed.

[2017-03-09 13:46] anniesullie commented on #3340
Looks like we're still blocked on sorting out what's happening in the recipe in crbug.com/694537 and our expert, @martiniss, is totally swamped. @martiniss do you know anyone else we could ask? Or maybe comment on the bug with some debugging steps?

[2017-03-09 14:28] tdresser commented on #3351
Overall, SGTM.

I'm not convinced that migrating to DEBUG over console.log is worth it though. How often do contributors bypass presubmit?

[2017-03-09 14:29] anniesullie commented on #3351
Agreed on sgtm except I don't think `DEBUG` is worth it.

[2017-03-09 16:47] perezju commented on #2612
Removing myself as owner as no longer working on this.

[2017-03-09 16:50] perezju commented on #2250
I'm going to close this as obsolete. Probably not worth thinking too much about it.

[2017-03-09 16:50] #2250 closed

[2017-03-09 16:52] benshayden commented on #3351
Just to clarify, instead of making console inaccessible, the presubmit should check that it isn't used outside of _cmdline.html. Is that right? SGTM if it SGTY.

[2017-03-09 16:53] perezju commented on #2610
Hey, I've just stumbled across this bug again. Sounds like we should be able to re-enable these tests on reference again?

@nedn @anniesullie

[2017-03-09 16:54] tdresser commented on #3351
Yup, that's what I was thinking.

[2017-03-09 16:56] jessimb opened #3353 "Add more monorail integration with the Release Notes page"
As part of #3141, we would like to add extra columns to the Release Notes alerts-table.

One of the extra columns would include more monorail information about the bug, such as: title, link, owners, status, priority, and labels.
We should probably have a new element that organizes this information nicely, and then we can pull this element into the alert-table's extraColumns feature.

[2017-03-09 17:03] jessimb opened #3354 "Add more bisect information with the Release Notes page"
As part of #3141, we would like to add extra columns to the Release Notes alerts-table.

One of the extra columns would include more bisect information about the alert: more clear status and ability to re-kick a bisect from the Speed Releasing page.

We can either update the existing bisect-status element (thus this would be functionality on /alerts as well), or we can create a new element for use

[2017-03-09 17:30] nedn commented on #2610
We updated the ref build recently, I think we can just reenable this test.
Can you explain how you stumbled across this bug? Is a ref benchmark for memory failing?

[2017-03-09 17:31] anniesullie commented on #3353
Might take a look at bug_details.py and bug-details.html. They're pretty ugly right now, but it's a start.

[2017-03-09 18:00] jessimb opened #3355 "Remove code duplication of onPushHistoryState"
When sorting the alerts-table, the URL params are updated with each column heading click. This allows for easy link sharing: so users don't have to also explain their configuration for how they were viewing the table.

For the Release Notes portion of #3141, we are using an alerts-table in a new element, speed-releasing-alerts. In order to preserve this URL updating, we need to duplicate the [onPu

[2017-03-09 18:08] eakuefner commented on #3351
This all sounds fine to me. I think we should proceed with this fix, but I also wonder offhand how Node and company handle data interchange, and if it's by some mechanism other than standard streams. Not a question to answer right now, but just something I might think about as we move closer to a Node-centric world.

[2017-03-09 19:10] tdresser opened #3356 "Expected Queueing Time noisy in system health benchmarks"
See [graphs](https://chromeperf.appspot.com/report?sid=6f9faf52b9b93a8694decadb2241269a1bd414ed33788283f720e9d2cb70a19e).

These are much noisier than I anticipated. We should dig into some traces to try to figure out what's going on.

[2017-03-09 19:10] tdresser commented on #3356
@ulan, do you want to take a look, or should @deepanjanroy or I take a look?

[2017-03-09 19:39] benshayden commented on #3350
This responsiveness still isn't great, but I think that #3289 will take it as far as it can go.

[2017-03-09 19:39] #3350 closed

[2017-03-09 20:01] eakuefner opened #3357 "Models for Histogram and SparseDiagnostic"
We need to implement an ndb model for sparse shared diagnostics so that they can be queried by timeseries when we're fetching graphs.

[2017-03-09 20:05] eakuefner opened #3358 "Divide shared diagnostics into sparse and dense"
Currently, shared diagnostics cannot be binned into sparse and dense, which is necessary in order to fix #3357, which will allow us to surface shared diagnostics as annotations on charts.

For `TelemetryInfo` for example, benchmark start time will change on a per-upload basis, and `BuildbotInfo` has a build number. Many similar dense fields are already stored on `Row`, so we could probably use tha

[2017-03-10 00:14] fmeawad opened #3359 "Benchmarks disabled for Mac 10.11 El Capitan still run"
For example, the following [page](https://cs.chromium.org/chromium/src/tools/perf/page_sets/system_health/browsing_stories.py?rcl=38c3be3e1d35d839e87eba82c38459fbb971c9aa&l=148) as part of browsing stories should be disabled on elcapitan, but it is not and it is failing on the waterfall [here](https://luci-logdog.appspot.com/v/?s=chrome%2Fbb%2Fchromium.perf%2FMac_10.11_Perf%2F444%2F%2B%2Frecipes%2

[2017-03-10 09:05] hkjellander commented on #3346
It's been 3 more days now and these builders are still marked as internal_only. Is it really taking that long?
Is it possible to view this queue statuses if you don't have App engine dashboard access?

[2017-03-10 09:23] perezju commented on #3172
This is done!

[2017-03-10 09:23] #3172 closed

[2017-03-10 10:53] perezju commented on #2610
Well, the tests still [fail on Windows tryserver](https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Windows%20Tryserver/builds/6652) with `Error: Unable to obtain memory dump`. Which Chrome version is being used there?

I was just cleaning up the list of bugs assigned to myself :)

[2017-03-10 12:12] nedn commented on #2610
Chrome 56: https://github.com/catapult-project/catapult/blob/master/common/py_utils/py_utils/chrome_binaries.json#L77

[2017-03-10 13:57] anniesullie commented on #3346
@simonhatch: I think the problem is that it takes a very long time to change all `Row` entities. I *think* I changed it so that we don't actually need to query internal_only state of `Row` anymore, maybe we can flip this to just changing `Bot` and `Test`? We ran out of quota yesterday, and I worry about the expense of migration tasks like this.

[2017-03-10 14:57] zeptonaut commented on #3351
Agree w/ others: +1 on enabling presubmit, but DEBUG isn't worth it. I think this can be achieved with eslint's [`no-console`](http://eslint.org/docs/rules/no-console) rule combined with a

[code]

at the top of the _cmdline.html file.

[2017-03-10 15:14] zeptonaut commented on #3280
Given that this aligns with both the Google and airbnb style guides, I think it makes sense.

[2017-03-10 15:22] zeptonaut commented on #3289
Also worth noting as a possible implementation is https://github.com/Kalitte/app-states#0.6.9: I'm not sure which is more used, that or `<app-route>`.

[2017-03-10 16:21] simonhatch opened #3360 "Dashboard - Change /change_internal_only to only flip bot/test data."
From @anniesullie in #3346:

I think the problem is that it takes a very long time to change all Row entities. I think I changed it so that we don't actually need to query internal_only state of Row anymore, maybe we can flip this to just changing Bot and Test? We ran out of quota yesterday, and I worry about the expense of migration tasks like this.

[2017-03-10 16:23] simonhatch commented on #3259
Kinda reluctant to do this right now because Pinpoint is actually going to support exactly this workflow, so I don't want to

[2017-03-10 16:28] zeptonaut opened #3361 "Enable eslint's object-shorthand rule"
I propose that we enable eslint's [`object-shorthand` rule](http://eslint.org/docs/rules/object-shorthand), which discourages things like:

[code]

in favor of

[code]

This is allowed by Google's internal style guide and recommended by [airbnb's style guide](https://github.com/airbnb/javascript#es6-object-shorthand).

@eakuefner @benshayden @lpy WDYT?

[2017-03-10 16:29] simonhatch opened #3362 "Dashboard - Use services on the backend."
@eakuefner @anniesullie

Since Dave has added gcloud support, don't think there's much stopping us from migrating some of the backend tasks and stuff to cheaper managed vm's on GCE.

[2017-03-10 16:57] simonhatch opened #3363 "Dashboard - Investigate using AppStats to get an overall sense of costs."
https://cloud.google.com/appengine/docs/standard/python/tools/appstats

Seems like it might be able to, not totally sure?

@eakuefner @anniesullie

[2017-03-10 16:57] simonhatch commented on #3362
https://cloud.google.com/appengine/docs/standard/#instance_classes
https://cloud.google.com/compute/docs/machine-types

[2017-03-10 16:58] benshayden commented on #3361
sgtm

[2017-03-10 17:16] simonhatch commented on #3259
Kinda wanna punt on this for now because Pinpoint is actually planning on doing this, and additionally the histogram pipeline is being built which plumbs through data like owners and components. There's a lot of work that's basically working towards this exact goal.

[2017-03-10 17:25] simonhatch commented on #3363
So I enabled this globally and its pretty amazing the breakdown it gives you. Demo here:

https://dev-simonhatch-1ebe3684-dot-chromeperf.appspot.com/_ah/stats/

I'm not clear what the impact of running this all the time is though, if there's low impact I think this is good data to be able to access whenever but we could also just make it a deployment option.

[2017-03-10 17:39] benshayden opened #3364 "Refactor GC metrics to eliminate groupAndProcessEvents()"
Sorry, I should have caught this stuff when the function was added.

groupAndProcessEvents() also filters events, so it should be called filterAndGroupAndProcessEvents. You might be starting to see that the function is trying to do too much by the word "And" in the name, which is a smell.

Another smell is the vague word "Process". There's no reason that it shouldn't return the grouped map of even

[2017-03-10 17:45] zeptonaut opened #3365 "Dashboard - Data stoppage alert was sent over a month late"
Today, I spent 20 minutes or so investigating [this](https://groups.google.com/a/google.com/forum/?utm_medium=email&utm_source=footer#!msg/chrome-power-perf-alerts/jM_7riH0hvc/hc_IlhspBgAJ) data stoppage alert. Specifically, I was interested in why the _NoGpuSharedPageState trivial_pages tests had randomly stopped working. Here's a screenshot of the email:

![9h8qp17jn2m](https://cloud.githubuserc

[2017-03-10 17:48] anniesullie commented on #3365
@simonhatch these come from the mapreduce job in mr.py. Note that perf sheriffs look at them on the dashboard, where they have a table explaining last date and a debug button. So we normally don't see this email, but media team has noted it's frustrating to use as well.

[2017-03-10 17:53] zeptonaut commented on #3365
FWIW, if I look at the power perf sheriff rotation on the dashboard [here](https://chromeperf.appspot.com/alerts?sortby=end_revision&sortdirection=down&sheriff=Power%20Perf%20Sheriff), it doesn't seem like there's any section for data stoppage alerts. Does that mean that there haven't been any recently? (I'd just assumed that meant I wasn't looking in the right place.)

[2017-03-10 17:56] anniesullie commented on #3365
I see 667 data stoppage alerts on that page?

[2017-03-10 18:02] weableandbob opened #3366 "SharedPrefs doesn't work properly with SELinux enabled"
SharedPrefs always writes directly to the shared preference file on the device, which seems to work fine if the file already exists. However, if the file does not exist and is created, then the app will be unable to read it even if the permissions, user, and group are set to be identical to a normally created (from the app) preference file. Disabling SELinux (su 0 setenforce 0) fixes this issue, s

[2017-03-10 19:26] krisselden opened #3367 "Suggestion: publish the tracing model as a node library"
I would love to use this model, it also seems like lighthouse has a similar model or maybe it was copied from here.

The build script already builds a js bundle now for tracing, maybe this script could build a node module and publish it?

[2017-03-10 19:28] benshayden opened #3368 "Hide Interaction track if UserModel.expectations.length < 2"
If the UserModelBuilder doesn't find any events to distinguish UserExpectations, then it will contain a single Idle, which is not useful, so it should not be displayed.

https://github.com/catapult-project/catapult/blob/master/tracing/tracing/ui/tracks/model_track.html#L139

@rdsmith @xunjieli

[2017-03-10 19:40] zeptonaut commented on #3365
Oh wow, yep, I can't read.

[2017-03-10 19:43] simonhatch commented on #3363
Still not clear if there's much impact running this all the time, but at least have some stats. AppStats claims that somewhere in the realm of 97% of time/resources spent via /add_point_queue so we can try optimizing in there a bit as a first step.

[2017-03-10 19:49] simonhatch commented on #3365
To clarify, the problem is that once you hit the stoppage page, it's not immediately clear how long the stoppage has been going on? Or that the original email should have said something to the effect of "Last data on Feb 2, 2017"?

[2017-03-10 19:52] anniesullie commented on #3363
Thanks for looking into this! We had a problem updating the dashboard in September, I think, when @dave-2 added the config for pinpoint, because the dashboard machines were using a default configuration and the pinpoint configs overrode them and lowered the machine specs. We started getting OOM errors and had to explicitly use the highest machine specs, which is what we had been using by default.

[2017-03-10 20:02] zeptonaut commented on #3365
From my perspective, there are two problems:

- In the above example, the first data stoppage alert for a test path was sent out over a month after that test path stopped reporting data. I recently (can't remember how recently unfortunately - 10 days ago?) changed the power benchmarks from alerting on a per-metric level to a per-metric/per-story level. It's possible that what happened is that when

[2017-03-10 20:12] anniesullie commented on #3365
The code is much simpler than that, we run a continuous mapreduce over all `TestMetadata` entities to check for several things:
1. If they are monitored and there is no data for the sheriff's stoppage_alert_delay, create a stoppage alert.
2. Mark deprecated if no data seen for 14 days
3. Completely delete if no data seen for 183 days

I am worried that this mapreduce does not complete in a timely

[2017-03-10 20:16] simonhatch commented on #3363
I'll see if I can find out, but AppStats doesn't provide memory data.

Also I think if we prioritize #3362 we get much more powerful hardware for a similar cost, so more breathing room (especially for the upcoming giant histogramset files).

[2017-03-10 20:17] anniesullie commented on #3363
I didn't realize the managed VMs were cheaper, awesome!

[2017-03-10 20:26] simonhatch commented on #3363
Certainly seems like you pay closer to GCE pricing, so it seems like we should check that out first.

[2017-03-10 22:09] simonhatch commented on #3362
I'm just playing around with deploying something to a "backend" service right now. Will experiment a bit and write up a plan on how to migrate this if we decide to go ahead.

[2017-03-10 22:25] weableandbob commented on #3366
Original solution does not work with release APKs, as run-as requires a debuggable app.

New solution is to use chcon to apply the package's security context to /data/data/<package>/shared_prefs

[2017-03-11 21:17] benshayden commented on #3319
Now that I'm almost done implementing this, what do you think of [mean/median absolute deviation](https://www.edge.org/response-detail/25401)?

If you would be interested in evaluating them as alternatives to IPRs, then I can easily resurrect [this old CL](https://codereview.chromium.org/2000893002) and make Histogram support both IPRs and the MADs for direct comparison.

[2017-03-13 10:30] natorion opened #3369 "group_report?rev=xxx grouping broken (?) when CL is impactful"
V8 recently switched the compiler architecture. In order to easily identify the improvements and regressions we are using the group_report view (https://chromeperf.appspot.com/group_report?rev=455720). Issues found:

1.) The grouping seems to be broken. Improvement alerts with the same revision range and even from the same testsuites and bots are not grouped together.

2.) The default state of the

[2017-03-13 11:55] natorion opened #3370 "It is hard to differentiate rows with a lot of alerts"
When I have an alert page with a lot of alerts, it is hard to identify the checkboxes that belog to individual alerts. It would have to either have a filter on the alert/issue page or to alternate the background color for each row in the table.

Example (I was isolating the JetStream alerts and put them into a separate bug):
![vyw72swevqy](https://cloud.githubusercontent.com/assets/7190422/2385331

[2017-03-13 12:04] tdresser commented on #3319
The big question is how we want to handle outliers. IPR ignores them, STD emphasizes them, and MAD is in between.

Would it be reasonable to do a local benchmark run including IPR, STD and MAD on a benchmark or two, and upload the results, so we can see some practical examples? That way we can look at some concrete data before uploading these patches, reducing the risk that folks will come to depe

[2017-03-13 12:54] gkraynov opened #3371 "Add tracing metrics for Android systrace"
As discussed with Android people we are going to implement some timeline-based metrics for Android systrace. It aimed to provide meaningful numbers in TraceViewer while exploring Android trace and should reduce human analysys time.
![systrace_metrics](https://cloud.githubusercontent.com/assets/7749127/23854793/e8425054-07ea-11e7-86a3-8aa289bcb355.png)
At the moment we have implemented 2 metrics (n

[2017-03-13 13:58] anniesullie commented on #3369
@simonhatch

[2017-03-13 14:04] natorion opened #3372 "It is not possible to slice regressions for a single CL because of autobisect"
I was triaging the alerts associated with V8's switch to I+TF. I wanted to cut out the execution performance regressions from https://bugs.chromium.org/p/chromium/issues/detail?id=700364 into separate bugs for easier handling and to set them to "WontFix":

1.) Open alerts for https://bugs.chromium.org/p/chromium/issues/detail?id=700364
2.) Select alerts associated in https://bugs.chromium.org/p/ch

[2017-03-13 14:06] anniesullie commented on #3372
We've had requests for a user-added label that would basically tell bisect "do not dupe this bug into another one", would that solve the issue? @simonhatch

[2017-03-13 14:08] natorion commented on #3372
Yes. As I make that decision during bug creation, a checkbox in the chromeperf popup for bug creation would make sense. If it simply adds a label which prevents duplication marking, that would be perfect.

[2017-03-13 15:02] perezju opened #3373 "adb_wrapper_devicetest.TestAdbWrapper.testUninstall fails on N"
On a couple of test devices I have, the output of `adb uninstall some.nonexistant.package` used to be (L and M):

[code]

However on N it seems to return:

[code]

Not sure if this is something that will be fixed on Android eventually. Meanwhile, should we also [change this test](https://github.com/catapult-project/catapult/blob/master/devil/devil/android/sdk/adb_wrapper.py#L756) to check for othe

[2017-03-13 15:09] perezju opened #3374 "run_py_devicetests hangs in flag_changer_devicetest.FlagChangerTest"
There is a missing call to `super(...).tearDown()` [here](https://github.com/catapult-project/catapult/blob/master/devil/devil/android/flag_changer_devicetest.py#L41), so the device used for the test is never released.

This also caused me to wonder, do we run `run_py_devicetests` on any bots? Maybe it works because it has more that one device?

@jbudorick

[2017-03-13 15:37] jbudorick commented on #3374
They run on the [catapult android trybot](https://uberchromegw.corp.google.com/i/tryserver.client.catapult/builders/Catapult%20Android%20Tryserver).

[2017-03-13 15:38] simonhatch opened #3375 "Dashboard - Should we be using threadsafe: true?"
We have threadsafe: false specified in app.yaml, but this disables concurrent requests and might be causing AppEngine to spin up more instances than we need to handle load or causing us to respond slower than we could.

Believe setting this to true sets default to 8 concurrent requests per instance for python27.

@eakuefner @anniesullie

[2017-03-13 15:39] anniesullie commented on #3375
For the record, I do not remember the exact reason this was turned off. I'm wondering if there's an easy way to test turning it on. Perhaps there is a way to divert X% of traffic to a threadsafe version and compare performance and error rates?

[2017-03-13 15:47] simonhatch opened #3376 "Dashboard - Cleanup main directory."
Coming out of: https://codereview.chromium.org/2732193003/

Main directory starting to get a little crowded, maybe time to think about how to structure the code a bit more.

[2017-03-13 15:54] perezju commented on #3374
Yeah, it has several devices. That's probably why it didn't get stuck.

Anyway, this should be fixed now.

[2017-03-13 15:54] #3374 closed

[2017-03-13 16:09] #3366 closed

[2017-03-13 16:11] simonhatch commented on #3363
Btw saw there's an "overhead" column on the stats page and it looks roughly like the overhead is a couple % of total time per request. A lot of the /add_point_queue calls I see a couple hundred ms recorded as overhead for AppStats.

[2017-03-13 16:39] benshayden opened #3377 "Resizing a histogram-span should resize all of the histogram-set-table-cells in the row."
Currently, resizing a histogram-span in a table with multiple value columns helps read that particular histogram, but makes it impossible to visually compare it against the other histograms in the row.

Propagating the resize events to the other histogram-spans in the row will retain visual comparability.

[2017-03-13 16:41] benshayden commented on #2850
Relatedly, closing a histogram-set-table-cell should close all of the cells in the row.

However, the tricky part is making it possible for the user to open/close a single cell in a row if they want.

So I think that what I actually want to do is add 1 new button to the existing UI when there are 2 or more value columns: a histogram icon button in the name-cell to open all cells in the row that ch

[2017-03-13 16:51] eakuefner commented on #3375
@anniesullie There should be, yes. In the versions page, you can set up percentages and all of that.

[2017-03-13 16:52] eakuefner commented on #3375
("Split Traffic" is the button)

[2017-03-13 16:56] anniesullie commented on #3375
Yep! But do we know how to:

  * Compare error rates
  * Get an analysis report comparing the two versions from Cloud Trace?
  * See the task queue delay dashboards we have set up on stackdriver for both versions?

[2017-03-13 17:45] perezju opened #3378 "Provide better interface for device.GetPids"
I had a look at [clients using device.GetPids](https://cs.chromium.org/search/?q=%5C.GetPids%5C%28+file:%5C.py$&type=cs) (only 10 excluding device_utils_test), and looks like none of them actually want what GetPids provides.

Most of them seem to know the exact package name they want to look up, and expect to find exactly one single pid for it (duplicating code to check for those conditions in sev

[2017-03-13 18:09] benshayden commented on #2857
@fmeawad I think this feature will not be necessary when #3289 is done. Please reopen if you disagree.

[2017-03-13 18:09] #2857 closed

[2017-03-13 18:14] benshayden commented on #2858
@fmeawad results already tend to take up an entire screen, so I think that showing multiple tables in the same tab won't end up being a great experience. I think that #3289 will allow a similar UX in which users can Duplicate results.html tabs and flip back and forth between them. Please reopen if you think that an Add Table button would still be necessary after #3289 .

[2017-03-13 18:14] #2858 closed

[2017-03-13 18:15] benshayden commented on #1158
I have no concrete plans to do this until a benchmark requires it, and then I'll probably ask the benchmark author to implement it, so unassigning, but I'll keep this open for reference.

[2017-03-13 18:16] benshayden commented on #1146
I have no concrete plans to do this until a benchmark requires it, and then I'll probably ask the benchmark author to implement it, so unassigning, but I'll keep this open for reference.

[2017-03-13 18:17] benshayden commented on #1186
I have no concrete plans to do this until a benchmark requires it, and then I'll probably ask the benchmark author to implement it, so unassigning, but I'll keep this open for reference.

[2017-03-13 18:17] benshayden commented on #1221
I have no concrete plans to do this until a benchmark requires it, and then I'll probably ask the benchmark author to implement it, so unassigning, but I'll keep this open for reference.

[2017-03-13 18:17] benshayden commented on #2173
I have no concrete plans to do this until a benchmark requires it, and then I'll probably ask the benchmark author to implement it, so unassigning, but I'll keep this open for reference.

[2017-03-13 18:18] benshayden commented on #950
Archiving.

[2017-03-13 18:18] #950 closed

[2017-03-13 18:18] benshayden commented on #1802
I have no concrete plans to do this until a benchmark requires it, and then I'll probably ask the benchmark author to implement it, so unassigning, but I'll keep this open for reference.

[2017-03-13 18:18] benshayden commented on #1663
I have no concrete plans to do this until a benchmark requires it, and then I'll probably ask the benchmark author to implement it, so unassigning, but I'll keep this open for reference.

[2017-03-13 18:19] simonhatch opened #3379 "Dashboard - /add_point_queue tests getting put()'d needlessly."
Found this via AppStats, digging in there's some code _GetOrCreateTest that sets an improvement_direction, which can be immediately get overwritten by another improvement_direction in a properties dict back to the original value. Nothing changes, but the test gets put() which kicks off the _pre_put_hook(), which itself does a bunch of sync queries in stuff.

[2017-03-13 18:19] benshayden commented on #1433
I have no concrete plans to do this until a benchmark requires it, and then I'll probably ask the benchmark author to implement it, so unassigning, but I'll keep this open for reference.

[2017-03-13 18:21] #1590 closed

[2017-03-13 18:22] benshayden commented on #1776
Duplicate #2336

[2017-03-13 18:22] #1776 closed

[2017-03-13 18:22] benshayden commented on #2119
I have no concrete plans to do this until a benchmark requires it, and then I'll probably ask the benchmark author to implement it, so unassigning, but I'll keep this open for reference.

[2017-03-13 18:23] benshayden commented on #1145
I have no concrete plans to do this until a benchmark requires it, and then I'll probably ask the benchmark author to implement it, so unassigning, but I'll keep this open for reference.

[2017-03-13 18:23] benshayden commented on #1024
I have no concrete plans to do this until a benchmark requires it, and then I'll probably ask the benchmark author to implement it, so unassigning, but I'll keep this open for reference.

[2017-03-13 18:23] benshayden commented on #1819
I have no concrete plans to do this until a benchmark requires it, and then I'll probably ask the benchmark author to implement it, so unassigning, but I'll keep this open for reference.

[2017-03-13 18:24] benshayden commented on #1762
I have no concrete plans to do this until a benchmark requires it, and then I'll probably ask the benchmark author to implement it, so unassigning, but I'll keep this open for reference.

[2017-03-13 18:27] benshayden commented on #2740
Sorry, too low priority. Please open a new bug if this type of issue causes a problem.

[2017-03-13 18:27] #2740 closed

[2017-03-13 18:27] #3056 closed

[2017-03-13 18:29] benshayden commented on #3040
Sorry, too low priority. Unassigning, but keeping open in the Code Health label in case we ever make time to scrub that.

[2017-03-13 20:31] #3368 closed

[2017-03-13 20:42] #3363 closed

[2017-03-13 20:54] #3379 closed

[2017-03-13 21:22] benshayden commented on #3319
Can I ask you or @deepanjanroy  to patch in [AAD/MAD](https://codereview.chromium.org/2745333002) and [IPRs](https://codereview.chromium.org/2742163002) and enable them in whichever metrics interest you and run the benchmarks? I have about [50 bugs](https://github.com/catapult-project/catapult/issues?q=assignee%3Abenshayden+is%3Aopen) that I need to fix asap, and I think you're probably stronger o

[2017-03-13 22:29] benshayden opened #3380 "Display multiple statistics in histogram-set-table-cell."
The statistic selector should change to a dropdown with checkboxes.

[2017-03-14 00:43] zeptonaut commented on #3317
It seems like, more generally, the problem here is the same as #1790: because there's no way to rearrange/pin tracks, their original vertical location matters a whole lot more than it probably should. CPUs lie right near the border of device and kernel: they belong to the device, but work is scheduled by the kernel. We originally introduced the distinction because we had power samples that clearly

[2017-03-14 00:54] zeptonaut commented on #3326
I don't think I understand breakdowns or diagnostics quite well enough to contribute to the discussion :-/

My intuition though is that we should try to do something simple, like round to a certain # of significant figures or places after the decimal point, unless there's a really compelling reason not to do so. I generally prefer the approach "wait until people are so frustrated that they're scre

[2017-03-14 00:57] ChrisCraik commented on #3317
I don't worry as much about the original vertical location - main problem is information that's supposed to display and react to track collapse state is now completely hidden and invisible.

I think the right way to approach fixing 'device' content showing in the 'kernel' track would have been to separate it into a 'device' track, or to simply rename 'kernel' -> 'device' or something similar. The

[2017-03-14 01:05] zeptonaut commented on #2826
@chiniforooshan, any recent updates on this now that the first CL is landed?

[2017-03-14 01:25] nedn opened #3381 "Telemetry spew confusing log when running against content_shell on Mac"
This is from: https://groups.google.com/a/chromium.org/d/msg/blink-dev/m0X9L1gN_z4/HoVJ0VBRBgAJ

I am able to reproduce it by:
Build content_shell.
Run: tools/perf/run_benchmark --browser=content-shell-default blink_perf.dom --story-filter=long-sibling-list.html

Log shows:
[code]

I trace this to be due to the code in https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/in

[2017-03-14 01:25] nedn commented on #3381
Assign to @ashley3

[2017-03-14 01:33] zeptonaut commented on #3361
Anyone interested in helping to enable this rule? @deepanjanroy? @lpy?

[2017-03-14 03:47] benshayden commented on #3288
I think I can get rid of box plots by re-binning single-bin histograms after #3324 synchronizes the dataRange between table-cells.
I resisted that idea earlier because the bin counts won't be exact, and would change when the page is refreshed if there are more than samples than maxNumSampleValues, which is currently 10, so that would need to be bumped to 100 or 1000 or something.
But I just realiz

[2017-03-14 03:48] benshayden opened #3382 "Set max-height and overflow-y: auto on histogram-span's statistics table."
Currently, there's wasted space beneath the chart.
The scroll position should be synchronized between cells to facilitate horizontal scanning.

[2017-03-14 12:55] tdresser commented on #3326
Monitoring the sum of the 'other' category sounds great to me, as does using RelatedEventSets.
I'm fine with dumb rounding.

[2017-03-14 13:20] nedn commented on #3326
+1 for dumb rounding. People can pick appropriate representation themselves for the breakdown, IMO.

Monitoring other is an interesting idea. That means you will need to export 'other' breakdown as a metric, doesn't it?

[2017-03-14 13:38] deepanjanroy commented on #3361
I can take this.

[2017-03-14 13:45] #3112 closed

[2017-03-14 13:46] #3373 closed

[2017-03-14 13:51] tdresser commented on #3319
Yup, one of us can take a look.

[2017-03-14 14:52] simonhatch commented on #3183
Forgot to specify BUG: https://codereview.chromium.org/2749483002/

[2017-03-14 14:52] #3183 closed

[2017-03-14 14:54] simonhatch opened #3383 "Dashboard - Make stored_object use tasklets."
Lots of opportunities for concurrency in here, should switch this over to use tasklets. That'll also allow us to make graph_revisions.AddRowsToCache faster, which is the next low hanging fruit in /add_point_queue.

I have a cl that's like, 50% of the way there, should be able to wrap this up soon unless anybody else wants to take a crack at it.

[2017-03-14 16:21] benshayden opened #3384 "Minimap Diagnostics"
There are a few metrics, such as TTI, for which a simple Breakdown is not always the right diagnostic concept. Understanding why a TTI is what it is requires a full trace to see the idle times and short tasks between the long tasks, delineating different types of work. But a full trace is too much data and UI surface to fit into results.html. The devtools minimap is the perfect compact UI for diag

[2017-03-14 17:27] eakuefner opened #3385 "Replace chart-container.addSeriesGroup with addSeriesGroup2 completely"
Now that addSeriesGroup2 will have been introduced in https://codereview.chromium.org/2716683004, we should get rid of the few remaining callsites of addSeriesGroup and rename addSeriesGroup2.

[2017-03-14 17:40] CalebRouleau opened #3386 "Data stoppage from January alerted in March"
My rotation "Chromium AV Perf Sheriff" just received data stoppage alerts because of graphs that haven't been updated since January.

Here's the alert text: https://docs.google.com/document/d/1gJ_3tfm6dMcf7WiFYP51pJ-smvjR55KwETQ0hI7RkQQ/edit?usp=sharing

It seems like this is a little be late to get the alert (Although we aren't worried about it since the machine was simply updated). Is this a kno

[2017-03-14 17:46] simonhatch commented on #3386
Yep! #3365

[2017-03-14 17:47] #3386 closed

[2017-03-14 17:47] CalebRouleau commented on #3386
Thank you!

[2017-03-14 17:58] benshayden opened #3387 "Merge iteration_helpers, sorted_array_utils into base/utils.html"
* dictionaryLength can be converted to Object.keys().length
 * group can be replaced with groupIntoMap
 * ...

[2017-03-14 18:55] zeptonaut opened #3388 "Add a way to view/download the clock sync graph of a trace as a dot file"
Okay: I surrender. I now see that dealing with clock sync problems is something that we're just going to need to occasionally do, and it seems like we might as well have a nice way of doing so. @randalnephew is trying to get systrace clock sync working again, and it's a bear without having a visual way to see what's going on in the graph.

I'd like to add a way to generate a clock sync graph in a

[2017-03-14 20:40] benshayden commented on #3304
Dupe #3349

[2017-03-14 20:40] #3304 closed

[2017-03-14 20:47] zeptonaut commented on #3361
Thanks Deep!

The main way we've been doing this is to enable the rule in the .eslintrc file, then run `common/eslint/bin/run_eslint --all --extra-args="--fix"` to fix all violations of the rule across the codebase. You might have to follow up with some manual cleanups (if, for example, fixing the instance caused a violation of another rule), but that shouldn't be too bad. Once all of that's done,

[2017-03-14 21:00] eakuefner opened #3389 "Modernize simple_xhr"
simple_xhr is basically a library that wraps XHR with hand-rolled quasi-Promises. This leads to quite a bit of cruft when using it, especially when parallelizing. Probably it can be entirely subsumed by use of the fetch API: https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API which is a more modern counterpart to XHR that can return Promises natively.

[2017-03-14 21:09] eakuefner opened #3390 "Use a promise to cohesively handle errors in test-picker"
In https://codereview.chromium.org/2716683004 we kick off a pair of XHRs in test-picker but only set this.loading = false in the second one. Ideally we should combine them using Promise.all, which would reject if either XHR fails, and then set this.loading = false in the reject handler.

[2017-03-14 21:10] chiniforooshan commented on #2826
I'll send the next CL today/tomorrow.

[2017-03-14 21:12] zeptonaut commented on #2826
Thanks Ehsan!

On Tue, Mar 14, 2017 at 5:10 PM, chiniforooshan <notifications@github.com>
wrote:

--

Charlie Andrews |  Software Engineer |  charliea@google.com

[2017-03-14 21:25] eakuefner opened #3391 "Improve report-page's handling of promise rejection"
In https://codereview.chromium.org/2716683004 we leave the error handling in report-page a little coarse. We should figure out the best thing to do and modify the reject handler not to just do a console.log.

[2017-03-15 00:47] dave-2 opened #3392 "Pinpoint - make Quest list mutable"
Making the Job's quest list mutable is very powerful. It allows you to modify the Job after
it's started running; e.g. to bisect on a related metric, or multiple metrics.

We need to:
1. Make Attempts key their Executions by Quest, rather than have a flat list.
Doing so would allow us to change the Quests arbitrarily while retaining the
data from the previous Executions. That means we can change t

[2017-03-15 00:52] dave-2 opened #3393 "Pinpoint - better failure handling"
* Catch exceptions at the top level and show these failures in the UI. Update the Job's state to show that it failed.
* Reduce the scope of `Execution`'s [big exception handler](https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/pinpoint/models/quest/execution.py#L72) to exclude `StandardError`.

[2017-03-15 00:54] dave-2 commented on #3146
Moved the above two points to a separate issue (#3393). So I'm closing this one.

[2017-03-15 00:54] #3146 closed

[2017-03-15 00:57] dave-2 opened #3394 "Pinpoint - request builds using Buildbucket"
Sometimes builds aren't available from the perf builders. This is especially true of perf tryjobs with a patch. Use Buildbucket to request builds. This also fills in the gaps before we have "build every DEPS roll on perf"

We must be able to handle Clank and multiple nested DEPS as well.

One idea we should also consider is merging the bisect builder pool into the perf builder pool, since:
* they'

[2017-03-15 00:59] dave-2 opened #3395 "Pinpoint - make bisection handle DEPS rolls"
The current `Change.Midpoint()` algorithm doesn't handle `DEPS` rolls. Make it so.
We have to watch out to ensure it handles nested `DEPS` as well.

[2017-03-15 01:02] dave-2 opened #3396 "Swarming test runner that outputs histograms"
Currently, we run Telemetry benchmarks on Swarming using the [run_telemetry_benchmark_as_googletest.py](https://chromium.googlesource.com/chromium/src/+/HEAD/testing/scripts/run_telemetry_benchmark_as_googletest.py) test runner.
But this test runner is specific to chartjson, and we want to run using `--output-format=histograms`.

So we need to either adapt it to output histograms, or write a new o

[2017-03-15 01:13] dave-2 opened #3397 "Define the Pinpoint API using the Endpoints library."
API calls to start with:

Accessors:
* `pinpoint.job` for getting a Job's state.
* `pinpoint.jobs` for listing Jobs with a set of optional filters.

Mutators:
* `pinpoint.new` for starting a Job.

[2017-03-15 11:33] perezju opened #3398 ""WindowsError: [Error 32]" in CollectAgentTraceData"
Logs from windows bots are being littered with:

[code]

([full log](https://luci-logdog.appspot.com/v/?s=chrome%2Fbb%2Fchromium.perf%2FWin_10_High-DPI_Perf%2F375%2F%2B%2Frecipes%2Fsteps%2Fsystem_health.common_desktop_on_Intel_GPU_on_Windows_on_Windows-10-10240%2F0%2Fstdout) from `system_health.common_desktop` on [build](https://luci-milo.appspot.com/buildbot/chromium.perf/Win%2010%20High-DPI%20Pe

[2017-03-15 12:06] hkjellander commented on #3346
Thanks for looking into this. Does that mean I should redo my operation of removing 'internal_only' from the bots that shouldn't have it?

[2017-03-15 12:35] natorion commented on #3340
https://bugs.chromium.org/p/chromium/issues/detail?id=694537 is now fixed. I just tried it out with https://chromeperf.appspot.com/report?sid=21d3e722b2f814cb1fc4e9cf30d98425f7631f283e65a3f13201379d6470b16f but it does not show up. What else is needed?

[2017-03-15 12:46] perezju opened #3399 "Unable to obtain memory dump on reference builds on Windows"
These are consistently failing on [Win 10 High-DPI Perf](https://luci-milo.appspot.com/buildbot/chromium.perf/Win%2010%20High-DPI%20Perf) and [Win Zenbook Perf](https://luci-milo.appspot.com/buildbot/chromium.perf/Win%20Zenbook%20Perf/) with the typical error message:

[code]

([full log](https://luci-logdog.appspot.com/v/?s=chrome%2Fbb%2Fchromium.perf%2FWin_10_High-DPI_Perf%2F378%2F%2B%2Frecipes%

[2017-03-15 13:08] anniesullie commented on #3340
This is now **fixed**.

[2017-03-15 13:09] anniesullie commented on #3222
@martiniss you may want to do something similar for test runtimes once they're in the dashboard, if you have any proposals definitely throw them on here! Dashboard data model is documented here: https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/models/graph_data.py

[2017-03-15 13:56] anniesullie opened #3400 "Catapult roll failing on Windows with "No browser found of type any.""
Example roll:
https://codereview.chromium.org/2751093002/

Changelog: https://chromium.googlesource.com/external/github.com/catapult-project/catapult.git/+log/e9f547be045d..08aa4bd87198
[code]

Example failures:
https://luci-logdog.appspot.com/v/?s=chromium%2Fbb%2Ftryserver.chromium.win%2Fwin_chromium_x64_rel_ng%2F384669%2F%2B%2Frecipes%2Fsteps%2Ftelemetry_perf_unittests__with_patch_%2F0%2Fstdout

[2017-03-15 16:56] simonhatch commented on #3346
Sorry I haven't actually looked into the change Annie suggested yet.

One question for @anniesullie do we need to add those bots to the bot_whitelist first before the change_internal. Kinda poking around add_point_queue and it seems like the test would get reset to internal if its not in the whitelist?

[2017-03-15 16:57] anniesullie commented on #3346
Yeah, I think there may be a bug if they're not getting added to the whitelist by change_internal?

[2017-03-15 17:00] simonhatch commented on #3346
I don't see any mention of it in /change_internal_only so kinda sounds like that's the issue. I'll make the change and upload a fix today.

[2017-03-15 17:23] ChrisCraik commented on #3317
If there's no clear plan how to improve this in the short term, can we consider reverting fe1f77a for the time being, as it breaks the Systrace displaying CPU frequency? Android devs are hitting bugs that need fixes that have already landed upstream, and I'd like to push an update when possible.

I'd be happy to review it re-landing, and discuss what the appropriate long term display for the data

[2017-03-15 19:43] #3383 closed

[2017-03-15 19:55] anniesullie commented on #3400
Roll with the revert landed.

[2017-03-15 19:55] #3400 closed

[2017-03-15 21:38] geekodour commented on #3370
How about switching the the checkbox column from first column to the last column? along with alternate background color for rows?

[2017-03-15 21:39] geekodour commented on #3370
Let me know, I'll send a PR to this issue

[2017-03-15 21:46] eakuefner commented on #3370
Most look-and-feel guidelines [suggest](http://ux.stackexchange.com/questions/5080/should-checkbox-labels-be-to-the-right-or-the-left) that checkbox labels should be positioned to the right of the control for left-to-right languages, so I don't think moving the checkboxes is a good idea.

Zebra-striping is a good idea, though, and I'd support a patch that adds that.

@geekodour please note that we

[2017-03-15 21:51] randalnephew opened #3401 "Benchmark health dashboard showing benchmarks that haven't run in window"
If you look at the main page for benchmark health you can see there are both page_cycler and page_cycler_v2 benchmarks:
https://chromeperf.appspot.com/benchmark_health_report?num_days=1

https://chromeperf.appspot.com/benchmark_health_report?benchmark=page_cycler.basic_oopif&master=ChromiumPerf&num_days=1

If you look in code search, the page_cycler benchmarkrs no longer exist:
https://cs.chromium

[2017-03-15 22:03] eakuefner commented on #3389
In order to use fetch, we need to be able to mock fetch calls. Luckily, fetch-mock exists https://github.com/wheresrhys/fetch-mock, and according to npm is quite popular indeed https://www.npmjs.com/package/fetch-mock.

@anniesullie @simonhatch What do you think about adding fetch-mock to third_party? Adding it would allow us to use fetch, delete simple_xhr, and delete addXhrMock and clearXhrMock

[2017-03-15 22:06] eakuefner commented on #3389
(An alternative, which might be better founded, would be to start using Sinon as we've talked about in other contexts; it's trivial using Sinon to stub fetch calls, e.g. https://rjzaworski.com/2015/06/testing-api-requests-from-window-fetch)

[2017-03-15 22:31] eakuefner commented on #3389
Okay, actually, after a little in-person discussion with @natduca I'm convinced that this isn't the right approach. Never mind for now.

[2017-03-15 23:13] jbudorick opened #3402 "Don't use preexec_fn in devil.utils.cmd_helper on windows"
[title]

[2017-03-15 23:26] randomascii opened #3403 "Retrying telemetry unit tests loses --browser-executable flag"
From a Chromium repo I was running tests with this command line:

python tools\perf\run_telemetry_tests --browser=exact --browser-executable=c:\src\chromium4\src\out\debug_component\chrome.exe

Some of the tests failed and the framework retried them, which led to this error:

BrowserFinderException: --browser=exact requires --browser-executable to be set.

My diagnosis is that the retry system onl

[2017-03-16 00:16] jreck opened #3404 "systrace picks up the wrong adb"
systrace is picking up files named 'adb' in the current directory even if the current directory is not part of the path. This results in version mismatches between direct usage of adb and systrace's calls into adb, resulting in either large slowdowns from killing/restarting the server if the adb version differs to actual bugs & crashes.

A simple test:

$ ./systrace.py -t 1
<works fine>
$ echo hel

[2017-03-16 01:12] ChrisCraik commented on #3404
Fixed with above change

[2017-03-16 01:12] #3404 closed

[2017-03-16 14:24] nedn opened #3405 "Dashboard should make it easier to explore related test path"
Context: any time a regression happen (e.g: https://chromeperf.appspot.com/group_report?bug_id=701829), people usually want to see whether other metrics or other pages on the regressed benchmarks also change. Or sometimes people want to see what happen on other bots.

After trying to click around on clickable part of the test path, it seems like this feature is sort of support, but not in a very i

[2017-03-16 14:51] natorion opened #3406 "Formalize SeriesGroup"
I have the following report created: https://chromeperf.appspot.com/report?sid=586693eb71389e83b46647fa97f2346c35a9a7cc3e743a4b2bbd0dcc22366d71

![gb1xpk7hcgw](https://cloud.githubusercontent.com/assets/7190422/24002174/58f7a534-0a60-11e7-8f55-e76d6c9d276c.png)

When I open the URL in a new tab the graphs are all in a chart each and not working properly:
![foe1acamgio](https://cloud.githubusercont

[2017-03-16 14:52] natorion commented on #3406
I am logged in btw.

[2017-03-16 14:54] anniesullie commented on #3406
@eakuefner can you check if this is related to https://codereview.chromium.org/2716683004/ ?

@natorion does this seem like a new bug today?

[2017-03-16 14:55] natorion commented on #3406
I think this is not older than a day. I noticed this today as our screen suddenly is showing a chart for each graph.

[2017-03-16 15:00] anniesullie commented on #3406
I locally reverted @eakuefner's CL, chart looks different: https://dev-sullivan-185a732f-dot-chromeperf.appspot.com/report?sid=586693eb71389e83b46647fa97f2346c35a9a7cc3e743a4b2bbd0dcc22366d71

I'm going to push this version live and revert the CL. @eakuefner can you take a look?

[2017-03-16 15:01] natorion commented on #3406
Thanks.

[2017-03-16 15:21] eakuefner commented on #3406
Thanks @anniesullie, and thanks @natorion for reporting. Looks like, with my patch, we're deserializing page states slightly wrong. I'll figure out the fix and upload it.

[2017-03-16 19:12] eakuefner commented on #3406
Two problems here:

1. addChart formerly was able to take multiple series groups, but I refactored addChart to take a single exploded series group. This was just a conceptual misunderstanding.
2. The functionality that converts legacy chart states into these exploded series groups was not tested, nor easy to test as factored.

To fix this, and make sure that this kind of thing is well-tested, I pl

[2017-03-16 21:46] chromy opened #3407 "Add a mocking framework"
I am several yaks deep and would like a mocking framework for a test in tracing.
I suggest http://sinonjs.org/ since it is actively maintained and has some documentation.

[2017-03-16 21:49] chromy commented on #3407
https://codereview.chromium.org/2760473002/

[2017-03-16 21:57] eakuefner commented on #3407
I came to @natduca talking about this just yesterday, and the conclusion was that for the most part, we should see if we can solve these sorts of testing problems without mocking. Can you say more about your use case?

[2017-03-16 21:58] eakuefner commented on #3406
Okay, actually, I think this might be able not to be reviewed by Ben, as it's a little less innovative than I thought, having written it out. For now, I'm testing the request builder, but nothing about whether the correct requests are performed, and I think that would have been sufficient to catch the bug that @natorion is talking about.

[2017-03-16 22:25] chromy commented on #3407
Great minds ;)

I have two objects `A` and `B`, I want to test `A`. `A` calls methods on `B` and uses the results to construct some value objects. `B` is a complicated thing in its own right which takes input and processes it to create the output that `A` uses. Constructing `B` in the test, while possible, will just obscure the details of `B` that `A` relies on while also making it possible to bre

[2017-03-16 23:27] eakuefner commented on #3406
Graphs look the same in https://dev-eakuefner-7b3ab91d-dot-chromeperf.appspot.com/report?sid=586693eb71389e83b46647fa97f2346c35a9a7cc3e743a4b2bbd0dcc22366d71

As a side effect, it looks like this actually fixes a zoom bug; if you look in production, the graphs displayed don't match the zoom region, but here, they do.

[2017-03-16 23:27] #3406 closed

[2017-03-17 11:03] nedn opened #3408 "Dashboard cannot handle duplicate revision range"
From https://bugs.chromium.org/p/chromium/issues/detail?id=694537#c16:

If one run has the same V8 range as the previous one the range link looks like:

https://chromium.googlesource.com/v8/v8/+log/f7036b132f6bcce9312b52a9ba386ae487280713..f7036b132f6bcce9312b52a9ba386ae487280713

As a result no commits are shown. It should only use the link https://chromium.googlesource.com/v8/v8/+/f7036b132f6bcc

[2017-03-17 11:41] #1931 closed

[2017-03-17 11:49] natorion opened #3409 "No changelog/commit ranges shown anymore"
No Chromium or V8 commit range is shown anymore:

![11bhctw8mrw](https://cloud.githubusercontent.com/assets/7190422/24041959/17149acc-0b10-11e7-8245-f9dc1b881620.png)

[2017-03-17 11:49] natorion commented on #3409
This still worked two hours ago.

[2017-03-17 12:11] anniesullie commented on #3409
@simonhatch can you take a look? I have not done any pushes this morning.

[2017-03-17 12:47] nedn commented on #3409
Dashboard uploading log shows that the v8 revision was uploaded: https://luci-logdog.appspot.com/v/?s=chrome%2Fbb%2Fchromium.perf%2FLinux_Perf%2F470%2F%2B%2Frecipes%2Fsteps%2Fspeedometer_Dashboard_Upload%2F0%2Fstdout

So this is a problem with dashboard server

[2017-03-17 13:46] #3321 closed

[2017-03-17 13:47] nedn opened #3410 "Remove support for strace profiler in Telemetry"
Context: https://groups.google.com/a/chromium.org/forum/#!topic/telemetry-announce/uAYGe9sLDJQ

[2017-03-17 13:48] nedn opened #3411 "Remove support for android-systrace profiler in Telemetry"
Context: https://groups.google.com/a/chromium.org/forum/#!topic/telemetry-announce/uAYGe9sLDJQ

[2017-03-17 13:49] nedn opened #3412 "Remove support for android-traceview profiler in Telemetry"
Context: https://groups.google.com/a/chromium.org/forum/#!topic/telemetry-announce/uAYGe9sLDJQ

[2017-03-17 14:43] simonhatch commented on #3405
There's a similar request that might conflict a bit with this, #2641 the plan there is to have the title auto-populate the picker.

[2017-03-17 15:04] simonhatch commented on #3346
So this doesn't implement the fix Annie mentions ( #3360 ) but running /change_internal_only should work now at least.

[2017-03-17 15:17] simonhatch opened #3413 "Dashboard - Investigate memcache calls in stored_object."
NDB is supposed to managed memcache for you, unless you explicitly change the functionality so the extra memcache calls in here seem redundant. Possibly remove them?

[2017-03-17 16:07] simonhatch commented on #3409
Oh weird this only shows up if you're not logged in. Seems like the revision_info is empty that's getting passed back from /report.

[2017-03-17 16:35] natorion opened #3414 "Also add the first "Subtest" entry to the issue title"
Currently, when an issue is created via Chromeperf a standard title in the following format is created:
<relative regression range> regression in <test suite> at <revisionrange>
Example: 4.8% regression in v8 at 43508:43526

It would help if the first level of the subtest is also in the title:
<relative regression range> regression in <test suite>/<first level of subtest> at <revisionrange>
Exampl

[2017-03-17 16:46] hkjellander commented on #3346
Thanks simonhatch! I checked now and a few of the bots I previously changed were now updated. I updated the last few now (~5).

[2017-03-17 17:18] simonhatch commented on #3409
This is working now, tracked it down to missing data in the revision_info stored_object. Annie pointed me to the group where changes to these are logged and I was able to restore it. Deeper mystery is how it got overwritten now, there were no changes logged last night to that object, last one was on March 15 in the morning.

[2017-03-17 17:27] simonhatch commented on #3168
Have a page for both job and listing, so closing. There are new issues filed for making them pretty.

[2017-03-17 17:27] #3168 closed

[2017-03-17 18:05] sahel-sharify opened #3415 "Disable testSwipe to land https://codereview.chromium.org/2742473002/ cl"
The cl adds touchpad support for swipe function. It also changes the swipe directions to be consistent with
smoothScrollBy function and that's why the following test fails: telemetry.internal.actions.action_runner_unittest.ActionRunnerTest.testSwipe
I will re-enable the test with corrected directions once I land the following cl:
https://codereview.chromium.org/2742473002/

[2017-03-17 19:24] benshayden opened #3416 "Analytics metrics for results2"
Results2 has so many features, we desperately need data on which features are used so we can simplify away the unused ones to make room for new features and optimize more frequent usage patterns.

How often do users manually do these things?
 * type in the search box
 * select a reference column
 * select a statistic
 * turn on show all
 * download csv
 * click Help
 * reorder groupings
 * enable

[2017-03-17 19:55] benshayden opened #3417 "Allow async/await"
It's been [in Chrome since 55](https://www.chromestatus.com/feature/5643236399906816). It looks awesome! See histogram_set_table_test.html in [this CL](https://codereview.chromium.org/2747453003) for example.
This will require adding `"parserOptions": { "ecmaVersion": 2017, },` to .eslintrc .

@zeptonaut @eakuefner WDYT?

[2017-03-17 20:03] eakuefner commented on #3417
+1000

To say a little more about why we _really_ want this, it also allows you to write "async function" inside of a test case, and this will just work, since the harness already allows sync functions that return promises. We're writing increasingly promise-oriented code, so I think async/await are going to be key to maintaining our velocity there.

Since we're allowing other ES2017 features that

[2017-03-17 20:59] eakuefner opened #3418 "container-to-container drag is hosed"
With my recent CL, I broke the functionality whereby you can drag a series group from one chart container to another, which I didn't even realize was possible until I read the code in chart-legend that facilitates this. In discussion with @simonhatch it seemed like he too only recently became aware of this functionality, and in a similar way (stumbled across it while fixing something else).

My st

[2017-03-17 21:03] anniesullie commented on #3418
I think it's fine to kill it. We'd still be able to drag from the menu at the top to a chart, right?

[2017-03-17 21:03] eakuefner commented on #3418
Yes.

[2017-03-17 21:08] eakuefner commented on #3418
CL: https://codereview.chromium.org/2758033002

[2017-03-17 23:17] sunjianchromium opened #3419 "Include back/forward button pressing events that trigger spa navigations."
Include back/forward button pressing events that trigger spa navigations.

Currently, we are only able to identify spa navigations that are triggered by input evens (mouse click specifically). However, we found out that pressing back/forward buttons can also trigger a spa navigation.
Therefore, we need to include these two situations.

[2017-03-17 23:43] jreck opened #3420 "The importer progress shows what just finished instead of what's running"
The importer progress box displays the message for the previous stage instead of the current one. If you import a huge trace it will for example get stuck on "importing clock sync markers" even though it's the importEvents() that's slow.

This is due to progressMeter.update() being called in the same task as the thing it's about to run, so the DOM update doesn't happen until after the task complet

[2017-03-18 01:27] kainino0x commented on #2865
@kenrussell has asked if I'm interested in working on this. I would be glad to. I plan to work on it pretty soon.

[2017-03-18 05:46] benshayden commented on #3380
When a reference column is selected, this dropdown could contain 3 columns of checkboxes for non-delta statistics, absolute delta statistics, and percent delta statistics. This level of control should significantly mitigate the [firehose that could have resulted from generalizing delta statistics](https://codereview.chromium.org/2742163002) (currently filtered ham-handedly using `IGNORE_DELTA_STAT

[2017-03-20 08:17] natorion opened #3421 "Starting a bisect ends in an error 500"
Repro:
1.) Open https://chromeperf.appspot.com/report?sid=52526171df058db7556268f29628a5fb8433821fd889f035360b5abfdee7722a&rev=457752
2.) Click on the triaged alert shown
3.) Click Bisect
4.) Error 500 shown in the status pane on the bottom left.
![9shqjo7jxfy](https://cloud.githubusercontent.com/assets/7190422/24092336/fce6047a-0d4d-11e7-930d-12480320d537.png)

[2017-03-20 08:20] natorion opened #3422 "Chromeperf is non-functional"
1.) Starting a Bisect results in a 500
2.) Test suite selection on https://chromeperf.appspot.com/report is not possible (the bot selection never appears
3.) Report in https://bugs.chromium.org/p/chromium/issues/detail?id=703047 cannot be opened

Tried it out on two different computer with different accounts. Same result.

[2017-03-20 10:49] natorion commented on #3422
This seems to work now.

[2017-03-20 10:52] natorion opened #3423 "Some bots are suddenly private"
It seems that since this weekend a lot of bots have gone private. We used to display https://chromeperf.appspot.com/report?sid=dacae5bee5602349868539c19c00afbaa35ef42024e13cec1b35fda91883e166 on a Screen (speedometer with some bots) and now this does not work anymore because "Failed to fetch graph data.
Note that some data is only available when logged in.". It seems the only available bots when o

[2017-03-20 10:52] natorion commented on #3422
Bisect still does not work.

[2017-03-20 13:09] #3329 closed

[2017-03-20 13:28] anniesullie commented on #3409
Looks like it is the same issue resolved in https://codereview.chromium.org/2758273002/ ?

[2017-03-20 13:31] schuay commented on #3422
Starting bisects works again for me, thanks!

[2017-03-20 13:45] simonhatch commented on #3409
Yeah think it's all the same underlying issue, sorry about that!

[2017-03-20 13:52] tdresser commented on #3150
This is making perf sheriffing for sizes really painful currently. Any update here?

[2017-03-20 13:59] simonhatch commented on #3421
Think this was fixed with: https://codereview.chromium.org/2758273002/

Can you try again?

[2017-03-20 14:23] simonhatch commented on #3423
Not intentional no, I'll try to figure out why they're private now.

[2017-03-20 14:45] fmeawad commented on #3420
@lpy

[2017-03-20 18:06] #2850 closed

[2017-03-20 18:24] benshayden commented on #2892
It looks like this rule is only disabled in statistics.html for normalized_samples.

[2017-03-20 18:31] benshayden commented on #2241
tracing's unit testing system already allows tests to return Promises, which have a bit of a learning curve (I had to fix some broken Promise-based tests in find_controller_test recently), but [async/await](https://github.com/catapult-project/catapult/issues/3417) makes async js very easy. See histogram_set_table_test.html in [this CL](https://codereview.chromium.org/2747453003) for example.

[2017-03-20 18:34] eakuefner commented on #2241
Yup, I think this bug is an antique.

[2017-03-20 18:34] #2241 closed

[2017-03-20 18:46] zeptonaut commented on #3417
sgtm. Looks pretty awesome!

[2017-03-20 18:47] eakuefner commented on #3417
@benshayden I think we might not have an entry for async/await in the style guide yet, care to add one and mark it approved?

[2017-03-20 18:52] zeptonaut opened #3424 "Approve ES2017 Array.includes()"
ES 2017 introduces an `Array`/`String.includes()` method that allows you to write:

[code]

instead of

[code]

[This new syntax has already slipped into the codebase without causing any problems.](https://cs.corp.google.com/search/?q=p:github+f:%5Ecatapult-project/catapult/+indexof.*!%3D%3D%5C+-1+f:.html&m=100&det=matsel&type=cs) Are there any objections to marking it as approved?

@eakuefner @be

[2017-03-20 18:59] zeptonaut commented on #3424
Also relevant: the feature is widely implemented (Chrome 47, Firefox 43, Edge 14, Opera 34, Safari 9).

[2017-03-20 19:05] zeptonaut commented on #2892
Yea, I think this bug is okay to close. I think that we've naturally adopted this process, anyhow.

[2017-03-20 19:05] #2892 closed

[2017-03-20 19:20] benshayden commented on #3424
sgtm, thanks!

(Looks like the link is for indexOf, not includes)

[2017-03-20 19:33] natorion commented on #3422
Thanks folks.

[2017-03-20 19:33] natorion commented on #3421
Closing according to #3422

[2017-03-20 19:33] #3421 closed

[2017-03-20 21:09] benshayden commented on #3288
I think the only time when histogram-span will show a BoxPlot is when a Histogram has a single bin in one column but multiple bins in another column, which should never happen in practice, so closing.
I'll leave removing BoxPlot support from histogram-span for another time. No bug for that for now until we see how users feel about rebinning.

[2017-03-20 21:09] #3288 closed

[2017-03-20 21:58] lpy commented on #3424
LGTM.
BTW, I guess we really shouldn't post any corp link publicly.

[2017-03-20 22:15] lpy commented on #3268
This was fixed.

[2017-03-20 22:15] #3268 closed

[2017-03-20 22:39] benshayden opened #3425 "Refactor math utilities in base"
Currently, there are several files in base that provide math utilities:

 * bbox2.html
 * math.html
 * quad.html
 * rect.html
 * running_statistics.html
 * statistics.html
 * piecewise_linear_function.html
 * range.html
 * sorted_array_utils.html

It would be easier to understand both these related files and the rest of base/ if these files were moved to a subdirectory.

[2017-03-20 22:55] benshayden opened #3426 "Doc for frame viewer"
The frame viewer is a great piece of tech that has significant influence on much of tracing, though it seems to have been largely forgotten since it is not under active development.

Who uses it?
What for?
Which chrome tracing category enables it?
How does it work?
What kinds of tests are missing?

[2017-03-20 23:01] benshayden commented on #2970
Can this be closed? I'll open a new bug about refactoring ColorScheme and FixedColorScheme.

[2017-03-20 23:06] benshayden opened #3427 "Refactor ColorScheme and FixedColorScheme"
We needed to make FixedColorScheme and FixedColorSchemeRegistry for results2, but it shares some concepts with ColorScheme, which might try to do too much.

What do we actually need here?
Should the reserved color names be moved to separate FixedColorSchemes?
Where should the brightening/dimming stuff go?
Is the current ColorScheme more like a ColorCache plus some other stuff? Should ColorCache be

[2017-03-21 11:45] chromy commented on #3425
Something like this: https://codereview.chromium.org/2764863002/?

[2017-03-21 11:46] #2970 closed

[2017-03-21 12:44] chromy commented on #3427
I think it would be great to turn reserved color names into FixedColorSchemes. The main problem currently is the use of colorIds, a common patten is:

- Call `ColorScheme.getColorIdForReservedName` to get a colorId
- Pass this colorId down several layers
- (sometimes) Calculate a variant: `var colorId = thingy.colorId + offset;`
- Finally index directly into `ColorScheme.colors`: `var color = Colo

[2017-03-21 13:05] zeptonaut commented on #3424
@lpy This is definitely the policy. I'm going to start a conversation about this in an internal email thread to figure out how we should handle this wrt. code search, code review, etc.

[2017-03-21 13:39] ulan commented on #3356
Seems to be caused by the noise in TTI:
https://chromeperf.appspot.com/report?sid=55264eef176d66eeae4cb404f1c0ce8a8977f109db96133c4a517480c7da9d73

The noise increased around chromium range: 451822 - 452965

[2017-03-21 13:47] tdresser commented on #3356
Great! That TTI definition is out of date.

I propose we don't worry about this until we've settled on a definition of TTI that we're happy with.

[2017-03-21 15:07] ulan commented on #3364
Thanks, Ben. I'll take a look. It's indeed time to update the GC metrics. The tr.b.groupIntoMap() didn't exist when this metrics were added.

We can limit this to renderer processes. Is there function that gets all events of all renderer processes?

The V8 GC metrics actually use different filter functions. So we'll still need some filtering helper.

[2017-03-21 15:08] ulan commented on #3275
v8MemoryMetric sgtm

[2017-03-21 16:59] eakuefner commented on #3417
This is done, thanks Ben!

[2017-03-21 16:59] #3417 closed

[2017-03-21 17:58] anniesullie commented on #3408
This is actually a much narrower bug: If the v8 commit pos wasn't reported in the previous revision, and it's reported in the next, it doesn't display correctly. Since we're now reporting v8 commit pos in every revision it was a one-time blip. Going to close since there isn't really a reference to use in this case.

But here's a page showing single v8 revisions displaying correctly: https://chrome

[2017-03-21 17:58] #3408 closed

[2017-03-21 17:59] simonhatch opened #3428 "Dashboard - Optimize DeprecatedTests MR"
Getting stoppage alerts sometimes a month later, and @anniesullie mentioned the s5 bots still haven't been marked deprecated.

Quick look in here looks like the MR runs over every TestMetadata entity, does a list_tests.GetTestDescendants() call, and queues up tasks to delete Row data if there are no descendants.

Wonder if it'd be faster to somehow only run the MR at the suite level, query for lis

[2017-03-21 18:11] anniesullie commented on #3428
Another note: there is no good reason for this to be a mapreduce. Having it be a mapreduce makes it really easy to code up in a way that there is one function run per test, and if we are calling list_tests.GetTestDescendants() for every single test, that's not a good thing. Should consider a taskqueue-driven option here.

[2017-03-21 19:38] benshayden opened #3429 "Use eslint to prevent aliasing `this`."
Aliasing `this` is a footgun that is actually causing bugs. Aliasing `this` is so rarely necessary that nobody thinks to check for it when refactoring, so there are broken references to `that` and `self` here and there. We should use more mainstream language features like bind or arrow functions or true methods instead.

[From codereview](https://codereview.chromium.org/2767543002):

Not exactly a

[2017-03-21 19:52] zeptonaut commented on #3429
I think this is interesting because I could definitely see someone having a legitimate reason for wanting to do this, but people seem to always just do it incorrectly, so I'm not sure that we event want to try and support this. I'd be in favor of fixing the existing errors, enabling this rule, and seeing what happens (and if it ever even comes up that people aren't able to find a better way to acc

[2017-03-21 20:12] eakuefner commented on #3429
:+1: to what @zeptonaut says. In particular, I'm actually really interested in answering the question of "are there any meaningful situations where we actually need to do this" by having people throw their use cases at it and seeing if anything sticks.

[2017-03-21 20:40] zeptonaut commented on #3429
Me too :-)

On Tue, Mar 21, 2017 at 4:12 PM, Ethan Kuefner <notifications@github.com>
wrote:

--

Charlie Andrews |  Software Engineer |  charliea@google.com

[2017-03-21 21:27] benshayden opened #3430 "Analytics metrics for dashboard"
The dashboard currently contains a dom-module `load-analytics` to measure page loads, but no analytics to measure what users do after the page loads.
If we're going to be removing UI features, then it would be good to be able to know how often they are used.
What events could be tracked?

 * test-picker
    * "ADD" onclick
    * Dragging the cardinal rose to add a timeseries to an existing chart

[2017-03-21 21:28] benshayden commented on #3429
The one existing alias that I'd disable the rule for is in base/base.html: `var global = this;`

It is also possible for a callback to want to reference a different `this` as mentioned in [eslint 1745](https://github.com/eslint/eslint/issues/1745#issuecomment-72146755), but that would be even more rare and confusing than your everyday aliasing `this`, so I'd look very closely for ways to refactor

[2017-03-21 21:49] lpy commented on #3007
DONE

[2017-03-21 21:49] #3007 closed

[2017-03-21 22:04] eakuefner commented on #3429
So, offline, we realized that var global = this doesn't actually need a disable; it just needed to be rewritten. The one wrinkle in that plan was that d8 doesn't define global but Node does, but that can be fixed by writing `global.global = global;` in d8_bootstrap.

[2017-03-22 06:04] benshayden opened #3431 "Redesign ExtensionRegistry"
Currently, there are 2 ExtensionRegistry modes with slightly different APIs, both of which are difficult to remember, spread between 4 different files.
Let's study existing clients and design a single simple API that works for all of them.

@zeptonaut @lpy

[2017-03-22 06:14] benshayden opened #3432 "Update old code to reflect new style guide."
Code throughout catapult should be updated to use new features where possible:

 * ES6 classes
 * Map
 * Set
 * arrow functions
 * for..of instead of for..in or forEach or iteration_helpers
 * const/let
 * shorthand object properties
 * Promises and async/await

Relatedly, block style is changing: #3322 #2910

Perhaps with a bit more description here about what exactly is needed, we can set GoodFi

[2017-03-22 06:23] benshayden opened #3433 "Rename scaleFast etc methods to scaleInPlace, add comments"
These methods need better names and docstrings to explain how they are used to prevent garbage.

@zeptonaut

[2017-03-22 06:26] benshayden opened #3434 "Trace viewer needs more perf tests"
What operations specifically have regressed?
Does the perf test harness need any new features?

@natduca @lpy

[2017-03-22 07:08] benshayden commented on #3425
Wow, yes, thanks!
How many files are left in base after that CL?
Please send that to me and charliea, and self-assign this bug. I'll probably stamp it quickly, but I'd like to make sure that he doesn't have any concerns.
Thanks!

[2017-03-22 10:53] sh4d0wst0rm commented on #3370
May be we can try to highlight the complete  row where cursor is currently present  .

[2017-03-22 14:53] zeptonaut commented on #3280
Follow-up discussion from [Ben's CL clarifying this in the style guide](https://codereview.chromium.org/2768433003/):

We've mentioned that our preference is for our style rules to be enforced via presubmit and save the style guide only for things that can't be. eslint has a [`prefer-const`](http://eslint.org/docs/rules/prefer-const) rule that stops you from using `let` when you can instead use `c

[2017-03-22 15:07] tdresser commented on #3280
no-var SGTM. I should be a pretty simple find/replace right? I'd be okay replacing all var's with let's, and then migrating to const over time.

I'm less sure about prefer-const. I can imagine a case where I don't mutate an object, but I'd prefer to not consider it const, because the reassigning the identifier is completely fine.

I'm fine with making blaming a bit harder. There are good tools for

[2017-03-22 15:13] zeptonaut commented on #3280
@tdresser I think that, ignoring some factors, not enabling `prefer-const` would also be my weak preference because it's most similar to how I've used `const` in the past. However, when I add into the mix that both the Google and airbnb style guides recommend using `const` whenever possible, I think it makes sense to enable `prefer-const` also in order to be consistent with them.

[2017-03-22 15:14] tdresser commented on #3280
Fine by me!

[2017-03-22 15:14] nedn commented on #3434
@zeptonaut already added tracing import as a metric:
https://chromeperf.appspot.com/report?sid=acf61875e7af890a421954ed1d301bf395252938d5b2d70ab7104558d3206d5d

[2017-03-22 15:36] zeptonaut commented on #3434
Note that the metric is currently unmonitored, which almost certainly isn't good. There should maybe be a tracing-alerts@ alias, and tracing perf sheriff rotation that sends alerts to that alias which is monitored by the tracing owners?

[2017-03-22 15:43] eakuefner commented on #3280
Just want to chime in in support of `const`. It's more similar to `final` in Java than `const` in C++, and I think using it will result in more correct code. As well, `no-var` sgtm.

[2017-03-22 16:19] nedn opened #3435 "The histogram produce too many statistics by default"
By default, it produces "avg, count, max, std, min, std, sum".
And because we don't have a code review mechanism to know which specific data point a metric will produce, people usually ends up having more metrics than they need.

An example is the case of trace_import_duration, which should have only 1 data point per trace, and I am sure that @zeptonaut only cares about the "avg" value here.
Shoul

[2017-03-22 16:25] nedn commented on #3435
![download](https://cloud.githubusercontent.com/assets/911877/24208698/a4b2a2d2-0efa-11e7-84d8-d7e83fcbab4a.png)

[2017-03-22 16:54] benshayden commented on #3289
hash is lost through the google signin page. probably use query string and html5 history api instead.

[2017-03-22 16:57] zeptonaut commented on #3430
I support the general idea of knowing usage before removing features, but defer to @eakuefner @anniesullie and @simonhatch completely on dashboard UI in general.

[2017-03-22 16:58] #3424 closed

[2017-03-22 16:58] simonhatch commented on #3430
@natorion

[2017-03-22 17:10] #3332 closed

[2017-03-22 17:11] zeptonaut commented on #3431
I'm definitely supportive of someone taking this on and would be happy to chime in on discussions about potential designs, but definitely don't have time to own this personally ATM.

[2017-03-22 17:11] simonhatch commented on #3435
+1 if we're storing these on rows, probably best to start with the minimal set possible and let interested users expand.

[2017-03-22 17:18] zeptonaut commented on #3435
My vote is for only "_avg" by default and to let people expand as necessary. From what I've seen, "_avg" is by far the most common thing that people are after, although others are certainly useful at times.

[2017-03-22 17:44] lpy commented on #3280
both sgtm.

[2017-03-22 17:51] zeptonaut commented on #3432
I think each of these are at different stages of being able to deploy widely:

- **ES6 classes** This seems ready, but will require lots of manual work. [This search](https://goto.google.com/rjuww) seems to indicate that there are something like 260 classes within tracing/ alone that will need to be migrated, often one at a time.
- **`Map`** I think it's still unclear to me when to use an object a

[2017-03-22 17:54] zeptonaut commented on #3432
Also: I think it's worthwhile to break this apart into the separate components: I think "bring code base in line with latest style" is probably too broad and will discourage ownership of concrete parts of this goal. Doing this would also allow us to give the label of "Good First Bug" to the subtasks that are relatively well-defined and to discuss the subtasks that aren't.

[2017-03-22 17:56] benshayden commented on #3280
+1 to both no-var and prefer-const

[2017-03-22 17:59] zeptonaut commented on #3280
Who wants to own the process of bringing the current codebase in line with this? It's likely going to involve...

1. Enabling these rules in .eslintrc
2. Running `eslint --fix` over the codebase with the command: `common/eslint/bin/run_eslint --all --extra-args="--fix"`
3. Running the unit tests to see if tests are passing
4. Looking at the diff until you convince yourself that things went well (o

[2017-03-22 18:03] simonhatch commented on #3331
Ok hoping this is fixed now, will re-open if it's still happening.

[2017-03-22 18:03] #3331 closed

[2017-03-22 18:07] benshayden commented on #3434
I think that the perf tests that we were discussing were also about interacting with the timeline-view, not just import. Zoom/pan, expanding rows, selecting events, etc.

[2017-03-22 18:16] zeptonaut commented on #3433
It seems like the only instances of these methods pertain to the frame viewer stuff. Given that, I think it might be better to have someone more familiar with the frame viewer look at this. @natduca, any idea who might be a good fit for this, or is no one familiar with it except you?

[2017-03-22 18:18] nedn commented on #3434
Writing automatic perf test & make them stable is not easy. Can you just manually trace the trace-viewer to fix the perf issues as they pop up? How often do we have perf regressions with those?

[2017-03-22 19:10] simonhatch commented on #3422
Gonna close this out, working again, sorry!

[2017-03-22 19:10] #3422 closed

[2017-03-22 19:51] simonhatch opened #3436 "Dashboard - AttributeError: 'int' object has no attribute 'bug_id' in auto_bisect"
Found via errors console.

[2017-03-22 20:40] anniesullie commented on #3150
A related feature we've had a request for is better and more configurable bug titles. See #3414 and #2337.

@simonhatch @eakuefner should we merge the issues together?

[2017-03-22 20:46] eakuefner commented on #3150
It seems like #3414 and #2337 are asking for the same thing as each other, but not as this bug.

In particular, it doesn't seem to me like they're asking for more configuration in either case; rather just for some subtest components to be added to the bug title. I think we should coalesce those two bugs and come to a conclusion about what the right pieces to add are. @natorion has a good suggestio

[2017-03-22 20:57] zeptonaut commented on #3317
Just to summarize: @ChrisCraik and I talked offline and decided to follow the plan he summarized in his last comment.

[2017-03-22 21:06] anniesullie commented on #3150
When I look at #3414 and #2337, I see the need for user configuration. For the memory metrics, we would want to focus on the metric name and not mention the benchmark at all. For v8, we'd want to keep the benchmark name in there and extend it to a subtest.

This bug is about user configuration too, adding a template.

[2017-03-22 21:08] eakuefner commented on #3150
Sure, I buy that. So yeah, if we're willing to block #3414 and #2337 on the histogram pipeline, then we can easily incorporate those use cases into designing a solution for this problem.

[2017-03-22 21:23] zeptonaut commented on #3322
@lpy this came up in code review recently when someone noticed this still wasn't being caught. Any update on enabling this rule?

https://codereview.chromium.org/2769513002/diff/80001/tracing/tracing/model/helpers/chrome_renderer_helper.html#newcode140

[2017-03-22 21:56] simonhatch commented on #3252
Hacked up an attempt at this: https://dev-simonhatch-36b1fa4a-dot-chromeperf.appspot.com/group_report?keys=agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgIDgzIH0_goM

[2017-03-22 22:45] lpy commented on #3322
ah sorry, it's on my list, I will send out a patch late today or maybe tomorrow.

One thing I noticed was that --fix would mess up with the codebase and changed code from
[code]
to
[code]

And those will need manual editing, any suggestion for eslint configuration? Or it's just something that can't be done by eslint?

[2017-03-23 11:26] primiano opened #3437 "Introduce periodic process stats (mem, page faults) into systrace"
Tracker bug to introduce the notion of periodic process stats into the systrace.
In the very essence, I'd like to get top-level counters (memory, page faults, oom scores) samples and exposed in the trace, similary to what we do in chrome for memory, e.g.:

![image](https://cloud.githubusercontent.com/assets/7137473/24245550/3b65d59e-0fbb-11e7-979a-28e26fe07ff4.png)

The plan is to:

- Create a hel

[2017-03-23 11:30] primiano commented on #3437
+@ChrisCraik

benm@ is on the importer side.

Draft CL for the helper daemon here:
https://codereview.chromium.org/2724443004/

[2017-03-23 11:57] natorion commented on #3340
Not showing up at https://chromeperf.appspot.com/report?sid=abee1ce85c773a978c7ff149df5e24e3e0fe17a9e2f952b555606684c074950c but showing up in https://chromeperf.appspot.com/report?sid=9dac5f0d42bd78f9170392b03e43a39d35eb7a7b6a496e76c14014fe7c38058c. Any clue what's happening here?

[2017-03-23 13:28] anniesullie commented on #3340
@nedn Looks like this doesn't work on Android. Here's that same test on more android builders: https://chromeperf.appspot.com/report?sid=bfb29e9e083eb1ba0f17ca68ca6e479536893fb16916755a10b1d6746a55942a

And you can see  `got_v8_revision` here: https://build.chromium.org/p/chromium.perf/builders/Android%20One%20Perf%20%281%29/builds/5079

But no v8 revision in the chartjson: https://luci-logdog.app

[2017-03-23 13:29] nedn commented on #3340
This is because ANdroid is not yet swarmed.

@martiniss

[2017-03-23 15:18] simonhatch commented on #3436
Ok confirmed there have been no new instances since this was deployed.

[2017-03-23 15:18] #3436 closed

[2017-03-23 15:38] anniesullie opened #3438 "Dashboard trace button needs a new name"
The dashboard has two features in the tooltip:
 * A link to the trace collected during the benchmark in cloud storage
 * A button to re-run the benchmark at that revision as a perf tryjob in order to get a trace.

These are both called "trace". The naming is confusing, the button name should be more clear.

@nedn @tdresser @simonhatch @eakuefner @benshayden

[2017-03-23 16:04] chromy commented on #3425
Cool! I added you and charliea to the review :)

Afterwards there would be 30 source files and 23 test files for 53 total. These are the ones that are left:
[code]

[2017-03-23 16:27] ChrisCraik commented on #2311
Reopening as the CL was reverted to fix https://github.com/catapult-project/catapult/issues/3317

[2017-03-23 16:27] #3317 closed

[2017-03-23 17:26] ChrisCraik commented on #3437
Nice, the general approach looks great! Somewhat similar to how Android Studio captures/displays similar information in their UI.

How expensive is writing out the JSON? Would it be less intrusive to stash it in memory until it's dump time, or is it too large?

[2017-03-23 17:38] primiano commented on #3437
Yeah I was considering that. The expensive part is really the computatio.
The kernel<>userspace interface is idiotic and the only way  to get memory details involves parsing a *human readable* file, blah. It takes ~1.5-2s to fully dump (i.e. with the -m option) memory stats for all processes in the system. Most of that is blocked on waiting on I/O on the pseudo /proc filesystem. Writing itself is

[2017-03-23 17:39] eakuefner opened #3439 "Eliminate globals in dashboard"
Every project has a need to export modules of pure JavaScript. To this end, dashboard has a lot of globals that are pre-Catapult, and I think if we were to do this again, we would use tr.b.exportTo. I've started to do this in https://codereview.chromium.org/2756573004 and we're seeing more need for it in https://codereview.chromium.org/2750223003.

We should port existing globals to use tr.b.expor

[2017-03-23 18:05] zeptonaut commented on #3322
It looks like [that's what the `multi-line` option is for](http://eslint.org/docs/rules/curly#multi-line). Did you give that a try?

It seems like we probably also want the `consistent` option.

[2017-03-23 18:19] zeptonaut commented on #3434
I think I'm with Ned - it seems like, given the same amount of time, we'd be much more effective in improving trace viewer performance by using that time to fix performance problems as opposed to writing performance tests. I'm all for writing performance tests when we find common problems that can easily be tested, but we know how hard it can be to set up a real performance testing infrastructure

[2017-03-23 18:30] lpy commented on #3322
Yes, I tried it with `"curly": ["error", "multi-line", "consistent"]`

[2017-03-23 18:43] simonhatch commented on #3252
Multiple alerting graphs examples:

Here's dotted line extending to bottom, and floating the alerts a bit above the points:
https://dev-simonhatch-eb8c85d5-dot-chromeperf.appspot.com/report?sid=f4959a908625dbced0499ed0e9ff3e53a6e940546777a75d37afe6acf93a1343

Alert at top, line extending to bottom:
https://dev-simonhatch-d1a14d6e-dot-chromeperf.appspot.com/report?sid=d5360100abaabb01f4ae4ef3409bc7

[2017-03-23 19:21] benshayden opened #3440 "Consider allowing user to enter custom statistic."
Currently, users can only select a statistic to display in the histogram-set-table if any Histogram is configured to produce that statistic. However, some users may want to see other statistics. It may be reasonable to ask some users to edit TBMv2 metrics to produce more statistics, but it's probably not reasonable to ask users to edit the ChartJsonConverter to produce more statistics for legacy m

[2017-03-23 19:35] anniesullie commented on #3434
I wonder if there's a quick manual spot check we could do once in a while, or ask people to do for large changes?

[2017-03-23 19:43] deepanjanroy commented on #3280
I currently have a few higher priority things on my plate, but I could take this up in two weeks.

[2017-03-23 19:54] simonhatch commented on #3436
For reference, managed to specify wrong bug in CL: https://codereview.chromium.org/2766213003/

[2017-03-23 20:11] zeptonaut commented on #3322
Hmmm, maybe I was wrong then. Is [`multi`](http://eslint.org/docs/rules/curly#multi) more what we're going for? It seems to be a more restrictive version of `multi-line`.

[2017-03-23 20:50] natorion commented on #3252
Played around a little bit. Feedback following in chunks

1.) Floating alerts bit above the points:
- Looked nice at first
- Does not solve the problem if there is a steeper regression and at that point is still in the way
![6ls6uxf5ypl](https://cloud.githubusercontent.com/assets/7190422/24269699/98acc4a4-1012-11e7-8e00-87020ddc812b.png)

[2017-03-23 21:36] eakuefner opened #3441 "Generalize request memoization pattern"
As described to @simonhatch and implemented initially by @jessimb in https://codereview.chromium.org/2750223003, we have started to use an approach of using a map of promises to allow us to memoize the results of the small requests we're increasingly making throughout the dashboard in an efficient, asynchronous way.

One major side effect of using this pattern is that, by allowing the map to retur

[2017-03-23 23:22] nedn opened #3442 "story_runner_unittest should use telemetry.testing.fakes.FakePlatform"
Right now, it's using it own FakePlatform implementation.

@martiniss @randalnephew @zeptonaut @ashley3

[2017-03-23 23:25] ChrisCraik commented on #3437
+@jreck

[2017-03-24 02:34] eakuefner opened #3443 "Standardize test path handling on the client side"
As part of the work on rolling out use of the new and improved `test_path_dict` mode of `/list_tests`, we've been inserting code in a number of places to deal with the output of this endpoint, which is good for a great many different use cases. At the same time, we have a lot of code for mangling test paths (e.g. in chart-container, for computing legends, and similarly in https://codereview.chromi

[2017-03-24 12:49] anniesullie commented on #3322
I took a look at the [review](https://codereview.chromium.org/2776653002/), just wanted to verify that changes like this are what we want:

[code]

becomes

[code]

and **NOT**

[code]

[2017-03-24 13:23] simonhatch commented on #3428
Also, was poking more at this last night and discovered we have at least 4 mapreduces running in parallel, with a hundred or so still in the running state. Not clear if they're just giving priority to the newer ones, or stalled out in some way, or what's going on with them, but they're still active. The oldest is nearly a year old and still going. Spoke to @anniesullie this morning to confirm, thi

[2017-03-24 13:30] chromy commented on #3425
Done!

[2017-03-24 13:30] #3425 closed

[2017-03-24 14:58] zeptonaut commented on #3322
Yep! That's exactly right.

[2017-03-24 15:56] simonhatch opened #3444 "Dashboard - Alerts are sometimes off for resource_sizes"
See: https://chromeperf.appspot.com/report?sid=cfc29eed1238fd38fb5e6cf83bdba6c619be621b606e03e5dfc2e99db14c418b&start_rev=458710&end_rev=458720

[2017-03-24 16:06] zeptonaut commented on #3280
Sounds good. I'll be OOO in two weeks, but maybe @benshayden or @eakuefner would be willing to make sure that someone takes ownership of this soon?

[2017-03-24 16:33] eakuefner commented on #3280
Sure. @deepanjanroy, let's revisit this in a couple weeks.

[2017-03-24 17:13] jreck commented on #3437
My initial thoughts are a combination of this is going to heavily skew trace results as the polling check is going to be a heavy, bursty workload. If we do want this it's probably better as a daemon inside atrace so that atrace remains the single entry-point into tracing. But I'm going to first follow up with the systems team to see if we could just add some of this to ftrace instead so it's event

[2017-03-24 17:15] jreck commented on #3437
page faults are already in the ftrace buffer if you have sched enabled I believe and trace-viewer will highlight it (it's the bright yellow color in the sched bar). Is there anything else necessary there?

[2017-03-24 17:21] eakuefner commented on #3423
@simonhatch can this be closed?

[2017-03-24 17:24] simonhatch commented on #3423
Indeed!

[2017-03-24 17:24] #3423 closed

[2017-03-24 17:53] lpy commented on #3322
I am a little confused here.

[code]
and
[code]
both should be valid, right? The rule we are going to turn on accepts both cases.

[2017-03-24 18:06] zeptonaut commented on #3322
Ah, yes, sorry. They need to both be valid in case the whole thing doesn't fit on one line. Ideally, we'd have a rule that amounted to "If the whole thing fits on one line, require that it be put on one line. Otherwise, put it to the next line and add braces." eslint isn't that sophisticated, though, so we'll just have to keep an eye out for that part in code review and recommend that people squas

[2017-03-24 19:45] simonhatch commented on #3428
I think I have some cycles to start on this.

[2017-03-24 20:38] vinterstum commented on #2336
Adding metadata in https://codereview.chromium.org/2776753003

[2017-03-27 07:47] natorion opened #3445 ""Download as CSV" only exports the newest 500 entries"
"Download as CSV" only exports the newest 500 entries. I would expect that it exports the whole displayed/zoomed range.

[2017-03-27 11:15] primiano commented on #3437
True, we have the same issue in chrome. The idea is that is an extra flag that you have to pass explicitly (read: not enabled by default) to get these periodic snapshots.

What is the benefit? Downsides I see: this increases coupling, mainteinance cost of atrace, and reduces stability of atrace (if something goes wrong in the stats collecting process, the entire trace will go bankrupt).

Unfortuna

[2017-03-27 13:36] zeptonaut opened #3446 "Rail stage names are squished in the RAIL track, even when there's enough room for it not to be"
For some reason, how text for different RAIL stages is renderer seems to follow different rules depending on the rail stage.

For example, in this image:

![squished_rail_stages](https://cloud.githubusercontent.com/assets/1407397/24358800/539d8aae-12d0-11e7-8b38-5d7197013d35.png)

"Scroll animation" is rendered normally, but "Successful load" is renderer in reaaaaally thin letters that are hard to

[2017-03-27 13:40] zeptonaut commented on #3446
https://goto.google.com/ihtai provides a repro case for this, if necessary.

[2017-03-27 13:41] zeptonaut opened #3447 "Story reporting load:energy_sum of zero, even when there are successful loads an power data"
This should never happen.

Repro case: https://goto.google.com/ihtai

[2017-03-27 13:52] zeptonaut opened #3448 "No way to access revision ranges from perf dashboard"
Steps to reproduce:

1. Go to any graph on the perf dashboard (e.g. https://chromeperf.appspot.com/group_report?bug_id=704182)
2. Click on a data point on the graph
3. Click on the revision range associated with that data point

**Expected**: See the list of patches associated with that revision.
**Actual**: Get a sad robot page.

![sad_robot](https://cloud.githubusercontent.com/assets/1407397/243

[2017-03-27 14:00] anniesullie commented on #3448
I can't repro; looks like you're having a login issue?

[2017-03-27 14:03] simonhatch commented on #3448
Works fine in incognito too, so not sure what the problem is.

[2017-03-27 14:04] zeptonaut commented on #3448
Closing as WontFix. I can open it fine w/ my personal account, but unable to open it with my google.com or chromium.org accounts. I'll continue debugging on my end.

[2017-03-27 14:04] #3448 closed

[2017-03-27 15:46] benshayden commented on #3446
KI for a while. Somewhere under RectTrack > tr.ui.b.drawLabels.

[2017-03-27 16:18] jreck commented on #3437
systrace.py is but 1 of 4 mechanisms that I'm currently aware of for initiating a trace (and 1 of 5 for dumping a trace), so we would need to re-implement this in a few other places if we want this data in the other pipelines. That's why I was suggesting it be done as an atrace option instead since atrace is the common entry point that everything shares.

[2017-03-27 16:35] zeptonaut commented on #3446
Sorry: what does KI stand for?

[2017-03-27 16:37] eakuefner commented on #3446
Known Issue.

[2017-03-27 17:17] eakuefner opened #3449 "It should be possible to mock XHR at a harness level"
Many unit tests currently require XHR mocks but do not need to. Separately, though, there is the issue of how to accommodate code that _does_ require XHR to be mocked. For example, we would like to be able to test the pattern described in #3441 and used by myself, @jessimb, et al. by mocking XHR and making sure that the memoization table makes requests properly, and does not make any spurious requ

[2017-03-27 19:25] wangxianzhu opened #3450 "The blue "Trace" button in perf dashboard doesn't work for Timeline based benchmarks"
/cc @simonhatch @zeptonaut
1. Open https://chromeperf.appspot.com/group_report?bug_id=704182
2. Click the black "!" in the graph
3. Click "Trace"

Actual: after some time, the trace job finished: https://codereview.chromium.org/2775363002/ which seems successful. However, there are failure messages inside: https://luci-logdog.appspot.com/v/?s=chrome%2Fbb%2Ftryserver.chromium.perf%2Fmac_retina_perf

[2017-03-27 19:30] ChrisCraik commented on #3437
It might make sense to build it into both. Building into atrace enables other means of capture (such as host-less), and simplifies the job of the tracer long term. Building into the python tracer allows us to use the feature immediately.

If the output format isn't easy to agree upon (here, seems like something that might be extensible and grow in complexity over time). For something like dumping

[2017-03-27 19:59] hyangah commented on #627
Hello, is there any update on this?
Go's execution tracer splits the large traces into parts as a workaround of this issue, but the hack limits the usability of the trace viewer a lot.

Or, is there any hook that we can utilize to let the trace viewer load and rerender a new set of data as panning left or right?

[2017-03-27 22:37] deepanjanroy opened #3452 "Move UserModelBuilder validation warnings to an on-demand method on the UserModel."
Opening [this trace](https://github.com/catapult-project/catapult/files/873997/trace_youtube.json.gz) gives me the following warning and user expectations are not created:

![image](https://cloud.githubusercontent.com/assets/3505637/24380930/be710072-131b-11e7-8a81-47e818f8b664.png)

The trace was taken during a youtube video playback, which may be relevant to the issue.

[2017-03-27 22:52] deepanjanroy commented on #3452
After applying https://codereview.chromium.org/2772253003/ I now get "Please file a bug with this trace: double-handled event: MouseLeave @ 6509.617000102997".

[2017-03-27 23:49] vinterstum commented on #2336
Landed in #459919

[2017-03-28 08:20] kmpont commented on #627
I have run into this bug when attempting to trace a TensorFlow execution - it worked fine for a small test network, but for my real task the plain .json file was 293Mb and chrome://tracing silently failed to do anything, showing only the initial screen with no significant content. Attempted to work around with catapult at command line, but the generated .html file also showed a blank screen (in Fi

[2017-03-28 12:55] nedn commented on #627
The actual work is being worked on in https://github.com/catapult-project/catapult/issues/2826

[2017-03-28 15:41] natduca commented on #627
#2826 is one issue, but there are more that lead to the 256mb limit.

[2017-03-28 16:15] benshayden commented on #3452
Better than a ReferenceError :-)

I added that validation code while I was actively working on the UMB, but UMB is now in maintenance-plus mode: I'll definitely keep it working (fixing ReferenceErrors and the like), and I'll try to fix these logic errors when they're impacting benchmarks/metrics. If there are too many bugs filed due to this validation code that aren't actually impacting benchmarks

[2017-03-28 16:26] deepanjanroy commented on #3452
That message was scary enough to make me think the user model is likely corrupted and if I metrics depend on expectations they won't give meaningful results anymore. If you think most of the time the user model is totally fine after double handing like this, and we should only file a bug when metrics start looking funny, then moving it to a console.warning sounds like a better idea.

[2017-03-28 16:40] benshayden commented on #3452
We actually just disabled console, so I'll move it to a method on UserModel.
Thanks!

[2017-03-28 17:43] benshayden commented on #3435
See also https://github.com/catapult-project/catapult/issues/3380 and https://github.com/catapult-project/catapult/issues/3440

[2017-03-28 18:28] simonhatch opened #3453 "Dashboard - AssertionError: resource_sizes could not extract suite name"
Lot of errors on console about this.

[2017-03-28 18:35] simonhatch opened #3454 "Dashboard - TypeError: 'bool' object is not iterable"
Lot of errors on console about this.

  File "/dashboard/add_point.py", line 133, in post
    self.AddData(data_str)
  File "/dashboard/add_point.py", line 147, in AddData
    data = _DashboardJsonToRawRows(data)
  File "/dashboard/add_point.py", line 220, in _DashboardJsonToRawRows
    for trace in charts[chart]:
TypeError: 'bool' object is not iterable

[2017-03-28 19:36] primiano opened #3455 "Malformed flow events can cause the TraceViewer UI to hang"
See crbug.com/706042 .
Specifically hang of the UI happens with this trace
https://drive.google.com/file/d/0B035MaLYW36CLVkwU2Zaa0xFQ0k/view?usp=drive_web

But does not happen after I filter out the flow events
https://drive.google.com/open?id=0B1oJWfrTOXwxX3hMODNDYnQyS2M

Very likely because I ended up with mismatching IDs in the flow events generated by memory-infra.
Not high prio, as I am just

[2017-03-28 20:40] #3429 closed

[2017-03-28 21:50] martiniss opened #3456 "Need unittests for stori_runner.RunBenchmark"
I noticed that telemetry.internal.story_runner.RunBenchmark has no unittests while writing a [CL](https://codereview.chromium.org/2777093004/)

This bit me because I accidentally made a change to an unrelated return value in RunBenchmark, and it slipped through CQ on accident.

We should unittest the function.

[2017-03-29 15:05] zeptonaut commented on #3450
I also find this very confusing: especially the part about "this is a timeline based measurement benchmark: you cannot run it with trace profiler enabled". Isn't that the _point_ of timeline based measurements?

[2017-03-29 16:09] mlippautz opened #3457 "Grouping in tracing gc_objects_stats_table broken"
The code there assumes that the instance types and their groupings are constant, mentioning to emulate a list from a custom viewer. In fact, the custom viewer treats any entries that are non-existent in the groups as a group itself. This is different from skipping the entries by relying on stable groups.

This breaks as soon as instance types change on the producer side of the tracer. We just figu

[2017-03-29 16:57] tdresser commented on #3450
When I do this locally, I run with:

`tools/perf/run_benchmark --output-format=json --output-dir=/tmp/traces`

And then in timeline_based_measurement.py, Options::__init__, I set
overhead_level = DEBUG_OVERHEAD_LEVEL

Could we do something similar here?

On Wed, Mar 29, 2017 at 11:05 AM Charlie Andrews <notifications@github.com>
wrote:

[2017-03-29 17:21] simonhatch commented on #3450
It's been a couple years since I did much with the trace button, info may be out of date. At the time, I introduced something in telemetry benchmark.SetupBenchmarkDefaultTraceRerunOptions that allowed you to extend the tracing categories with additional ones in the event of a trace request from the dashboard. These were uploaded as trace_rerun_options via chartjson, and in the absence of those rer

[2017-03-29 17:22] anniesullie commented on #3450
@nedn

[2017-03-29 19:13] eakuefner opened #3458 "Create chrome_thread_helper"
As discussed offline, we want to introduce chrome_thread_helper as a module for dealing with tasks like "given this thread, give me all of the events of particular interest to me", so that we can have brighter, clearer lines around what the various helpers do. In this world, the thread helper is responsible for these sorts of event-level questions, and the process helpers (renderer and browser) wi

[2017-03-29 19:14] eakuefner opened #3459 "Move breakdown creation out of renderer helper"
We should move the breakdown stuff that's currently in chrome_renderer_helper into the loading metric, so that it computes its own breakdowns just like the v8 metric does.

@benshayden

[2017-03-29 19:18] eakuefner opened #3460 "Chrome-specific Event filtering methods should be moved to chrome_thread_helper.html"
We should move any methods that say "give me these events of interest" out of chrome_browser_helper after chrome_thread_helper is implemented (see #3458), and factor them to be of the form "give me a thread and I'll give you the events you want".

I think @benshayden had some other specific things that he wanted to see moved into chrome_thread_helper.

@zeptonaut @maxlgu

[2017-03-29 19:37] nedn commented on #3450
The whole implementation of this should be overhauled. This could be a Q2 task for benchmarking team, but I need to have a better sense of priority.
How often do folks use this feature to debug, or do they just do local debugging?

[2017-03-29 19:41] anniesullie commented on #3450
@wangxianzhu: how much of this is just a UI issue (there is a trace link and a trace button, would the trace link have been good enough?)

If you need the trace button to do something different than the link, are you expecting roughly what @tdresser suggests above?

[2017-03-29 19:48] benshayden commented on #3344
I think I'd like to finish the MVC refactor #3289 , then add Google Analytics metrics to measure usage frequencies, latencies, and crashes #3416 . Hopefully, the MVC refactor should fix most of the responsiveness issues and crashes, and the analytics should help find the rest.
So I'll close this bug in favor of those, if that's ok. Please feel free to reopen this or open a new bug. Thanks!

[2017-03-29 19:48] #3344 closed

[2017-03-29 20:31] #3324 closed

[2017-03-29 22:50] zeptonaut opened #3461 "eslint's dot-notation rule should be enabled"
The airbnb style guide recommends preferring dot notation when possible. For example:

[code]

There's an eslint rule to enforce this: [`dot-notation`](http://eslint.org/docs/rules/dot-notation). We should turn it on.

@eakuefner @benshayden @lpy

Anyone interested in helping out with this?

[2017-03-30 00:34] eakuefner commented on #3461
Pet peeve, so hell yeah I'm willing to help out. I expect to be mostly swamped for the rest of this week, but I think I should be able to work on this in some of the downtime on Monday.

[2017-03-30 00:35] zeptonaut commented on #3461
Awesome. Thanks Ethan!

On Wed, Mar 29, 2017 at 8:34 PM, Ethan Kuefner <notifications@github.com>
wrote:

--

Charlie Andrews |  Software Engineer |  charliea@google.com

[2017-03-30 06:58] natorion opened #3462 "Use the same colors for graphs when the same report is opened"
e.g. I have the following report: https://chromeperf.appspot.com/report?sid=dacae5bee5602349868539c19c00afbaa35ef42024e13cec1b35fda91883e166

When I open the report the first time it looks like this:
![6xneqhxssmt](https://cloud.githubusercontent.com/assets/7190422/24491266/c84a66b2-1526-11e7-8c33-03b370c86413.png)

Now I hit refresh in the browser or open the report on another machine/window and

[2017-03-30 14:03] #3282 closed

[2017-03-30 14:48] zeptonaut commented on #3458
A few suggestions about improvements to `getNetworkEventsInRange`:

Right now you're checking for category parts with:

[code]

However, what if there are multiple categories on one of these events?

e.g.
[code]

your boolean is going to return false. It's for this reason that we usually use `tr.b.getCategoryParts` when checking whether an event has a particular category: this helper function retu

[2017-03-30 14:57] eakuefner commented on #3458
@zeptonaut Just to bring you up-to-date, as far as rephrasing it and using the helper, I had written this comment https://codereview.chromium.org/2769513002/diff/180001/tracing/tracing/model/thread.html#newcode308 where I proposed that @maxlgu should write it as a set intersection (aside, we should consider adding tr.b.setIntersection to iteration_helpers, maybe).

But +1 to filtering in the calle

[2017-03-30 15:11] zeptonaut commented on #3460
One thing that's worthwhile note is that we've historically differentiated between things named `ChromeThreadHelper` (e.g. `ChromeBrowserHelper) and files named like `chrome_thread_helpers` (e.g. `iteration_helpers.html`).

The former is an actual object that's created by passing it a thread, e.g.:

[code]

The latter is just a file that contains a whole bunch of helper functions:

[code]

`Chrome

[2017-03-30 18:27] jessimb commented on #3353
This is done.

[2017-03-30 18:27] #3353 closed

[2017-03-30 18:28] jessimb commented on #3311
This is done.

[2017-03-30 18:28] #3311 closed

[2017-03-30 19:04] randalnephew opened #3463 "CPU Clock Domain does not collapse properly without Chrome Trace"
It cannot find a path from the CPU tracing agent clock domain to the telemetry clock domain.
To reproduce this problem, just enable the CPU trace agent on the power.idle_platform benchmark once it lands.

This is a problem for the idle platform power benchmark I am writing. It is intended to run without launching chrome, so we can determine background system power and help find sources of noise.

[2017-03-30 22:59] eakuefner commented on #3418
We fixed the glitch.

[2017-03-30 22:59] #3418 closed

[2017-03-31 00:04] nedn opened #3464 "Legacy .sha1 files for Telemetry's dependent binaries should be removed."
Now that Telemetry relies on binary_manager.FetchPath(..) for fetching all dependent binaries, there is no need to keep the legacy .sha1 files for Telemetry's dependent binaries (https://cs.chromium.org/search/?q=.sha1+file:%5Esrc/third_party/catapult/telemetry/bin/+package:%5Echromium$&type=cs).

@randalnephew @ashley3

[2017-03-31 04:33] benshayden opened #3465 "run_dev_server_tests logging is difficult to skim."
When tests fail, it currently looks like this:
[code]

It should look like this instead:
[code]

[2017-03-31 14:52] maxlgu commented on #3459
Have been fixed in #3316
Code review:
https://codereview.chromium.org/2789573002/

Accoding to discussion in the code review. Breakdown generation has been moved to breakdown_tree_helpers instead of loading_metric

[2017-03-31 14:52] #3459 closed

[2017-03-31 15:54] Dimitrees commented on #2829
Hello, I am new to both your project and working with GitHub in general. Can I work on resolving this issue since its labeled as Good First Bug?

Thanks

[2017-03-31 15:59] anniesullie commented on #2829
@sfrankian: are you still working on this?

[2017-03-31 16:18] sfrankian commented on #2829
@anniesullie no, I am not working on this right now and have unassigned myself

[2017-03-31 16:38] anniesullie commented on #2829
@Dimitrees: Looks like this bug is available! First step is to review the [Contributor's guide](https://github.com/catapult-project/catapult/blob/master/CONTRIBUTING.md). Next step would be to pick a file from the list and update it. You can send CLs to eakuefner@chromium.org.

[2017-03-31 17:19] SummerLW opened #3466 "Perf Dashboard: Error creating bug!"
Chrome version: 56.0.2924.87 (Mac)
URL: https://chromeperf.appspot.com/alerts?sortby=end_revision&sortdirection=down

Please copy and paste any errors from JavaScript console (Command+Option+J to open):
Error creating bug!

Please describe the problem:
When I tried to create a new bug on the Chrome Performance Dashboard, it always showed me that "Error creating bug!" and I could not create any bug

[2017-03-31 18:07] anniesullie commented on #3466
@simonhatch @eakuefner

[2017-03-31 18:12] simonhatch commented on #3466
I see an error in the logs about <someone>@gmail.com, are you logged in with the wrong account?

[2017-03-31 19:34] simonhatch commented on #3428
This seems to be mostly working now, so next steps are:

- Get rid of the old MR code (I was having trouble getting gcloud to deploy mapreduce.yaml, so maybe need to switch back to the old AppEngineSDK temporarily?)
- Integrate some StackDriver metrics reporting and add alerting?

[2017-04-03 03:51] eakuefner opened #3467 "Dashboard JS test runner poisons history"
When running the tracing unit tests, it is possible to use the back button to get back to the landing page for the dev server. The dashboard tests, however, have some query parameters that get appended, and it seems like this prevents use of the back button.

[2017-04-03 03:56] eakuefner opened #3468 "test-picker should use paper-spinner and not paper-progress"
In the process of fixing #3228, it's become clear that `paper-progress` is the wrong element for the use case of indicating that the picker is waiting on requests. In particular, it can easily be confused for a text box, and takes up needless horizontal real estate compared to `paper-spinner`.

[2017-04-04 09:16] perezju opened #3469 "Do not expose .device on android platform."
We should check if there are any clients using it directly and migrate them to alternatives before making this attribute private.

@nedn

[2017-04-04 21:59] #3402 closed

[2017-04-04 22:58] simonhatch opened #3470 "Dashboard - /update_test_suites internal failing with OOM"
Possibly unrelated, /report no longer works, stored_object fails with exception attempting to unpickle.

[2017-04-05 07:36] natorion opened #3471 "/group_report interleaves stoppage and regression alerts"
E.g. https://chromeperf.appspot.com/group_report?rev=460218

Tests are enumerated but the actual regression size is not shown.

[2017-04-05 09:06] perezju opened #3472 "Broken "Buildbot stdio" links on perf dashboard"
For example hovering over points on [this graph](https://chromeperf.appspot.com/report?sid=da780d2ad605d0faedd6e10579e4dd4652d8395fd3b7f39de9ba83823a6c5173), some random "Buildbot stdio" link points to:

[code]

But the correct link should be:

[code]

I assume this affects all swarmed bots?

@anniesullie @simonhatch

[2017-04-05 14:49] perezju commented on #2826
Are there any updates?

[2017-04-05 14:52] chiniforooshan commented on #2826
Working on https://codereview.chromium.org/2755943002.

[2017-04-05 17:13] eakuefner commented on #3471
Probably this got broken in some of the speed releasing churn; I'll investigate and figure out a fix.

[2017-04-05 17:29] eakuefner commented on #3471
Okay, my initial hunch was wrong, here's an example of a group report that does show deltas: https://chromeperf.appspot.com/group_report?sid=fe1c846cdd8b94571d0c4c97482816f6556c61eb1a8c3097726e2bcdd19c36b0

[2017-04-05 18:19] jbudorick opened #3473 "Make device_recovery play nicely with ASAN"
device_recovery.py appears to not work when ASAN is set up on the device, failing with errors like this:

[code]

while attempting to run `adb shell pm path android`

device_recovery should *at least* fail more gracefully.

[original failure](https://luci-milo.appspot.com/buildbot/chromium.android/Android%20Cronet%20Builder%20Asan/1885)

[2017-04-06 13:26] natorion opened #3474 "No "revision navigator" on the bottom of a chart"
e.g. https://chromeperf.appspot.com/report?sid=1fa17bc31b0af720d548c3a58560396b2c642ccd0d099b0e59d7c3924c518ae6

I can't navigate to previous revisions etc. Reloading or constructing the report from scratch did not help.

![vc5uwmguhe7](https://cloud.githubusercontent.com/assets/7190422/24756267/69784368-1add-11e7-9c17-0c6f6b60273a.png)

[2017-04-06 16:07] maxlgu commented on #3458
I talked with Ethan offline, we decided to move getAllNetworkEvents() to loading_metric from chrome_renderer_helper because we want each level of helper to be responsible for its own domain without concerning about the lower level domains, and let callers to coordinate helpers of different level according to their needs. In our case, in order to get all the network events, loading_metric should ca

[2017-04-06 16:07] #3458 closed

[2017-04-06 16:16] simonhatch commented on #3471
Guess it depends on what people like @natorion expect to see on that page?

[2017-04-06 18:19] natorion commented on #3471
What is a stoppage alert?

[2017-04-06 22:43] eakuefner commented on #3471
Great question! Stoppage alerts are a kind of non-numerical alert that indicate that data has stopped coming in for a particular test. An implementation detail of the alerts-table element helps define how to display the columns that are unique to both kinds of alerts (StoppageAlert and Anomaly), but the delta columns are shown only if all alerts are Anomaly instances.

In essence, if you are not a

[2017-04-07 17:57] lpy commented on #3420
Is it done?

[2017-04-07 17:59] lpy commented on #3457
This is fixed.

[2017-04-07 17:59] #3457 closed

[2017-04-07 18:18] benshayden opened #3475 "Namespacing conventions?"
In [Add function to get total cpu time in thread](https://codereview.chromium.org/2798213002/), @deepanjanroy added a novel kind of namespace that isn't related to directory structure: tr.e.chrome.cpuTime in chrome/cpu_time.html

The alternatives to namespaces like cpuTime are
 * static classes like tr.b.Statistics and ChartJsonConverter, see related discussion in #3114
 * exporting several functi

[2017-04-07 20:22] lpy commented on #3475
I am under the impression that namespace in catapult/tracing is related to directory structure. A first glance at the patch I am opposed to create such namespace for one single file.

Exporting several functions to directory namespace in this case doesn't make sense to me, nor does splitting cpu_time.html. My suggestion would be to have a static class like [Base64](https://github.com/catapult-proj

[2017-04-07 20:58] deepanjanroy commented on #3475
Would it be more acceptable to name the module `tr.e.chrome.cpu_time` - to make it same as the file name?

I just didn't want to export the functions to `tr.e.chrome` - the functions are fairly specific to cpu time calculations and I wanted a way to indicate that.

The next best option was to create the static class, but it felt like extra typing without any added benefits. I also always feel odd

[2017-04-07 21:03] deepanjanroy commented on #3475
We can get pretty deep into bikeshedding territory here. I didn't know if the current guideline was to always have all files in a directory export to the same namespace. If that is the case and we want to stick to it, I can just export an object that holds all the functions or export an actual ES6 class with just static methods.

[2017-04-07 21:29] lpy commented on #3475
The way that explicitly creates a namespace that is only related to one file doesn't make sense to me here.

The Base64 is definitely in old-fashion and should be converted to a ES6 class with static methods. So maybe we should have a class called CpuTimeHelper? A helper class won't give code reader the feeling that it should be instantiated, and it has enough encapsulation.

WDYT?

[2017-04-07 21:42] deepanjanroy commented on #3475
Hm we already have [precedents](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/model/helpers/chrome_renderer_helper.html#L18) of helpers that *can* be instantiated. Let's just do a `CpuTime` static class then - the word `Helper` is not adding any extra meaning.

[2017-04-10 13:07] perezju opened #3476 "Device dropping offline should raise DeviceUnreachableError"
When a device becomes unresponsive adb (version 1.0.32) returns

[code]

and an exit status of `1`.

On [adb_wrapper.py](https://github.com/catapult-project/catapult/blob/master/devil/devil/android/sdk/adb_wrapper.py#L256) this is reported as an `AdbCommandFailedError`.

It would be preferable, however, to raise the more specific `DeviceUnreachableError`.

This will make it easier to gather stats

[2017-04-10 13:14] jbudorick commented on #3476
SGTM. My primary concern will be the places that handle both AdbCommandFailedError and AdbCommandTimeoutError but not DeviceUnreachableError.

After doing this, we could look at doing some more interesting things w/ DeviceUnreachableError, e.g. having some layer in devil (maybe a new one around DeviceUtils) automatically wait some length of time for a device to come back.

[2017-04-10 13:22] perezju commented on #3476
Good point. Will have that in mind and check for clients trying to catch these exceptions.

[2017-04-10 13:48] perezju opened #3477 "Profiling files/cloud_urls should be associated with runs"
The page `PageTestResults` object currently [associates profiling files/cloud_urls with pages](https://github.com/catapult-project/catapult/blob/9a55abab029cb9ae94f5160ded11b09a4638a955/telemetry/telemetry/internal/results/page_test_results.py#L329) (i.e. stories), but to better make sense of these they should be associated with individual story *runs* instead.

@nedn

[2017-04-10 13:53] nedn commented on #3477
@perezju Unless this is a one-line fix, I think we should hold off on fixing this at least until @ashley3 integrate Telemetry with flakiness dashboard?
That project would open a bunch of new possibilities for surfacing Telemetry's failures, which may change the way we think about this.

[2017-04-10 14:03] perezju commented on #3477
Ah, somehow I missed that this work was already assigned to @ashley3 , and I had started writing an output formatter for [JSON Test Results Format](https://www.chromium.org/developers/the-json-test-results-format).

I'll send out my CL to both of you to review, even if it's discarded and superseded by Ashley's work, I hope it will help to kick off the discussion on how to implement some of the fea

[2017-04-10 16:45] eakuefner commented on #3470
Closing as I think this is fixed.

[2017-04-10 16:45] #3470 closed

[2017-04-10 16:47] simonhatch commented on #3470
Will be when I deploy!

[2017-04-10 16:51] agrieve opened #3478 "Add ability to disable bisect on a per-graph basis"
E.g. for Chromium resource_sizes alerts:

The normal case is that there is only one commit in the blame list, so I know who to blame. I click "file bug", assign the owner and remove RVG.

Later, once bisect is done, it adds a big comment that buries the more useful initial comment, and adds back the RVG label (which I never want since this is an upstream graph).

There's also been a couple times w

[2017-04-10 19:45] primiano opened #3479 "Eslint checks on trybot don't match local checks"
I got a catapult CL [1] which failed presubmits on the CQ [2]. I see errors like
[code]

But I don't get the same locally (I develop on OSX).
If I run git cl presubmit --force, or just
[code]
I don't get anything (and if I screw up something I get some lint errors).

So it looks like the CQ is using different lint rules?

@benshayden ideas why?

[1] https://codereview.chromium.org/2516893003
[2] h

[2017-04-10 19:56] anniesullie commented on #3479
@eakuefner

[2017-04-10 20:02] simonhatch commented on #2771
Going to mark this as fixed since we landed some optimizations towards this. Reopen if still an issue.

[2017-04-10 20:02] #2771 closed

[2017-04-10 20:06] eakuefner commented on #3479
Primiano, it looks like you just didn't rebase. Applying the patch set with the errors at ToT causes the curly errors to show up locally for me. New rules are constantly being enabled in .eslintrc, and it looks like curly was enabled in https://codereview.chromium.org/2778063003.

[2017-04-10 20:06] #3479 closed

[2017-04-10 20:59] anniesullie commented on #3478
@simonhatch Maybe we could just not bisect if we know there's only one revision in the range?

[2017-04-10 22:36] simonhatch commented on #3478
That seems pretty reasonable, shouldn't be kicking off bisects in that case anyway. @agrieve wdyt?

[2017-04-11 00:20] nedn opened #3480 "Limit what character Telemetry tags can have"
We should limit what character Telemetry tags can have for possible future improvement (maybe "a:b" map to a key value pair {'a': 'b'}).

Proposed current limitation: a tag is a string which can only contain alphanumeric characters, underscores, and dashes ('-'). The maximum length is 50.

@benshayden @eakuefner @perezju

[2017-04-11 00:21] nedn commented on #3480
Telemetry announcement: https://groups.google.com/a/chromium.org/forum/#!topic/telemetry-announce/wx4edwTv0sI

[2017-04-11 00:30] agrieve commented on #3478
Sounds good to me!

[2017-04-11 09:04] perezju commented on #3480
To keep a consistent style among tag names, I think we should allow either underscores or dashes, but not both.

/bikeshedding

[2017-04-11 10:15] primiano commented on #3479
Ahh facepalm. I didn't think to that as I rebased just few days ago.
Your reply makes lot of sense. Sorry for the noise, wasn't used to such a live codebase :)
Thanks for keep improving eslint.

[2017-04-11 12:49] anniesullie opened #3481 "Stackdriver alert: metric absence on UpdateBugWithResults"
@simonhatch @eakuefner

The metric is ticked here, and hasn't been seen for 420 minutes: https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/update_bug_with_results.py#L114

When I search the logs for errors in /update_bug_with_results, I do see many successful calls. Not sure why the metric isn't being ticked?

I also see many of this error; not sure if buildbucket is slo

[2017-04-11 12:56] gkraynov opened #3482 "Introduce atrace_helper for Android instrumentation (systrace)"
There is the need to obtain some additional information not provided by systrace (from atrace agent on target device). However it's better to avoid situation when we have to push dozen of binaries to get things running. So [me](https://github.com/gkraynov) and [primiano@](https://github.com/primiano) think it's better to make a single binary for all this stuff.

Let's use this bug to track related

[2017-04-11 13:07] nedn commented on #3480
Allowing only alphanumeric & underscores sgtm.

[2017-04-11 15:17] simonhatch commented on #3481
I think those are all the same call to /update_bugs_with_results, the overall call fails at the 10 min mark and we don't tick the metric if any exceptions are encountered. Will look at why those exceptions are occurring.

[2017-04-11 18:10] #3316 closed

[2017-04-11 20:11] ChrisCraik opened #3483 "common/battor depends on telemetry/third_party/pyserial"
My understanding is that common/ (and systrace/, which depends on it) shouldn't take a dependency on telemetry/.

Unfortunately, we're shipping telemetry/ in the Android SDK because battor depends upon it - would be nice to remove this, so we can drop 15MB (half of Systrace's size) from the Android SDK.

In common/battor/battor/battor_wrapper.py:

    import serial
    from serial.tools import lis

[2017-04-11 20:27] anniesullie commented on #3472
This is tracked in crbug.com/663901

[2017-04-11 22:52] nedn commented on #3483
Your understanding is correct. None of the top level projects in catapult should ever depend on Telemetry.

@randalnephew can you take this bug?

[2017-04-12 00:06] chromy opened #3484 "explicitUndefinedHistogramSet passes but errors in the console"
It seems like this tracing.value.ui.histogram_set_view_test.explicitUndefinedHistogramSet is broken but the test still passes?

When I go to: http://localhost:8003/tracing/tests.html?testSuiteName=tracing.value.ui.histogram_set_view_test and open the console I see the following error:

[code]

But the test still pass. Seems like maybe it has something to do with the test being async?

@eakuefner @

[2017-04-12 04:57] vovandaihai commented on #2378
Thanks, i had set trace buffer size and success!

[2017-04-12 10:45] #3378 closed

[2017-04-12 13:07] pasko commented on #3476
An interesting application for DeviceUnreachableError would be to catch it on higher levels, not in devil (recipes?), wrap the test and notify the infra that the device flakes. Currently in tools/cygprofile we don't distinguish between wrong adb commands (i.e. more likely a developer issue) and devices unreachable (i.e. troopers need to look at it).

WDYT?

[2017-04-12 13:11] anniesullie commented on #3484
@simonhatch

[2017-04-12 13:26] jbudorick commented on #3476
In many cases (though perhaps not in tools/cygprofile?), we already do something like that via [the device blacklist](https://github.com/catapult-project/catapult/blob/master/devil/devil/android/device_blacklist.py) & [device_monitor.py](https://github.com/catapult-project/catapult/blob/master/devil/devil/android/tools/device_monitor.py), eventually resulting in the device tickets visible in [g/ci

[2017-04-12 13:29] nedn commented on #3483
Actually lemme take this, I will try to add some test to prevent other module from importing Telemetry.

[2017-04-12 13:36] #3411 closed

[2017-04-12 13:36] #3410 closed

[2017-04-12 13:36] #3412 closed

[2017-04-12 13:38] nedn opened #3485 "Remove support for tcdump profiler in Telemetry"
Context: https://groups.google.com/a/chromium.org/forum/#!topic/telemetry-announce/uAYGe9sLDJQ

[2017-04-12 13:39] nedn opened #3486 "Remove support for monsoon profiler in Telemetry"
Context: https://groups.google.com/a/chromium.org/forum/#!topic/telemetry-announce/uAYGe9sLDJQ

[2017-04-12 13:39] nedn opened #3487 "Remove support for tcmalloc profiler in Telemetry"
Context: https://groups.google.com/a/chromium.org/forum/#!topic/telemetry-announce/uAYGe9sLDJQ

[2017-04-12 13:41] nedn opened #3488 "Remove support for vtune profiler in Telemetry"
Context: https://groups.google.com/a/chromium.org/forum/#!topic/telemetry-announce/uAYGe9sLDJQ

[2017-04-12 15:14] randalnephew opened #3489 "--upload-results should not depend on stories containing urls"
I just recently added a story that lets the platform sit idle. Since this story contains no page, it contains no URL. The --upload-results names things based off url, not name so it requires all stories to contain a url.

Traceback (most recent call last):
  <module> at /b/s/w/ir/tools/perf/run_benchmark:22
    sys.exit(main())
  main at /b/s/w/ir/tools/perf/run_benchmark:19
    return benchmark_r

[2017-04-12 15:27] maxlgu opened #3490 "Histogram_set_view fails in trace-viewer"
Steps to reproduce the bug:
 1. Run Catapult
 2. Click Metrics on the right menu bar
 3. Select any metric that includes histograms
 4. The metric results don't show up. Console shows error message.
![image](https://cloud.githubusercontent.com/assets/26091905/24964907/870dd6a8-1f70-11e7-946f-9ceadd79faa3.png)

Other info:
1. The issue happens after the CL "Refactor histogram-set-view to an MVC pat

[2017-04-12 15:36] anniesullie opened #3491 "Commit queue failing on catapult roll"
@nedn

https://chromium-review.googlesource.com/c/475009/

Log only includes https://codereview.chromium.org/2768873004 "Make sure that trace are captured in results even when story run fails"

Failure:
https://build.chromium.org/p/tryserver.chromium.android/builders/android_n5x_swarming_rel/builds/155787
https://luci-logdog.appspot.com/v/?s=chromium%2Fbb%2Ftryserver.chromium.android%2Fandroid_n5x

[2017-04-12 16:42] eakuefner commented on #3490
Max, can you upload the trace and ping me the link? Also, if this is based on modifications to the loading metric, can you link a CL with your modifications? I can't repro this with ToT, sfgate, and the current loadingMetric.

@benshayden

[2017-04-12 16:46] eakuefner commented on #3490
Handing to @simonhatch since I think he might take a look at it.

[2017-04-12 16:57] maxlgu commented on #3490
I can reproduce the bug with ToT, using the trace 'Repaint On Scroll
Region', and testing on 'cpuTimeMetric'. I was not on my own CL when
producing the bug.

On Wed, Apr 12, 2017 at 12:42 PM, Ethan Kuefner <notifications@github.com>
wrote:

[2017-04-12 17:08] nedn commented on #3491
Manual roll: https://chromium-review.googlesource.com/c/475132/

[2017-04-12 17:36] nadia39 commented on #3438
I would like to contribute to this issue.
I need to contribute to an open source project.
Where is the file I need to change?

[2017-04-12 17:38] anniesullie commented on #3438
You'd need to change it here: https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/elements/trace-button.html#L40

Please read the contributor's guide first: https://github.com/catapult-project/catapult/blob/master/CONTRIBUTING.md

[2017-04-12 18:17] ZhilingHuang opened #3492 "atrace_agent.py runs into "printf: not found" error"
This is linked to a chromium [bug](https://bugs.chromium.org/p/chromium/issues/detail?id=710920).

[code]

printf command not found. Maybe add an exception catch around that block?

[2017-04-12 18:20] jbudorick commented on #3492
@ChrisCraik do you know if printf came in w/ toybox in M?

[2017-04-12 18:23] maxlgu commented on #3319
When the input is iprs: [[lower:0.2555, upper:0.7555]], do we want to produces: ipr_025_55_075_55 or do we want to truncate it to ipr_025_075? As I notice that for percentile [0.5555] it will produce pct_055_55.

[2017-04-12 18:35] maxlgu commented on #3319
If we produce ipr_011_011_011, it is ambiguous because it could means either {0.11011, 011} or {0.11, 0.11011}

[2017-04-12 21:07] kainino0x opened #3493 "Telemetry doesn't work on numpy>=1.12.0"
In numpy 1.12.0+, indexing by non-integral values was changed to an error:

[code]

There might be other issues as well, but this was the one I noticed.

[2017-04-12 22:28] enh commented on #3492
yes, it did: https://cs.corp.google.com/aosp-marshmallow/external/toybox/Android.mk?type=cs&q=file:toybox/android.mk&l=2

there was no printf before that.

can you use echo -n instead?

[2017-04-12 22:54] ChrisCraik commented on #3492
Enh confirms it was in M (https://plus.google.com/+ElliottHughes/posts/ji3ZTTDYP35), and suggests we can switch to echo. I tried it locally, looks like it works fine, we just need to switch from splitting on lines to splitting on spaces.

While we could just gate TGID fixup on M+ (since binder_tracing was added to the platform after printf), I'd prefer to switch to echo. Other importers can make u

[2017-04-13 12:03] simonhatch commented on #3481
All the old bisects have been cancelled and their TryJob's have been deleted and the metric is ticking again, so closing this out.

[2017-04-13 12:03] #3481 closed

[2017-04-13 14:13] anniesullie opened #3494 "Dashboard should support story tags"
Telemetry team is working on [better story organization through tagging](https://docs.google.com/document/d/1t8JG5988sB8ncznEjjQNfurRl6V8B2xML-kX07cQXaM/edit#heading=h.ktk80n4s9l13). On the dashboard side, we will need to:

1. Add tags to data model (probably as an indexed repeated `StringProperty` on `TestMetadata`)
2. Support setting tags through /add_histogram
3. Support filtering by tag on the

[2017-04-13 18:36] simonhatch commented on #3484
Fixed, managed to write the wrong issue # in the CL: https://codereview.chromium.org/2814243003/

[2017-04-13 18:36] #3484 closed

[2017-04-14 17:29] anniesullie commented on #3471
Fix is deployed.

[2017-04-14 17:29] #3471 closed

[2017-04-14 17:32] eakuefner commented on #3468
**Done.**

[2017-04-14 17:32] #3468 closed

[2017-04-14 20:01] dave-2 opened #3495 "Refactor buildbucket_service to remove buildbucket_job"
Right now, to use `buildbucket_service`, you create a `buildbucket_job.BisectJob` object, which is just a POD object that stores all the parameters, and pass that into `buildbucket_service.PutJob()`. `PutJob()` modifies the `BisectJob` object with the results.

This extra layer of indirection is unnecessary and has unexpected side effects. Better to just make it a thin wrapper that takes in a JSON

[2017-04-14 22:01] eakuefner commented on #3357
We have clarity now on what these models should look like, and I have a CL that implements them together.

[2017-04-16 23:35] benshayden commented on #3319
The [draft CL](https://codereview.chromium.org/2746363003) truncates using opt_force3.

[2017-04-17 03:02] #3420 closed

[2017-04-17 17:34] eakuefner commented on #3228
This is **done**.

[2017-04-17 17:34] #3228 closed

[2017-04-17 17:36] eakuefner commented on #2887
This is fixed.

[2017-04-17 17:36] #2887 closed

[2017-04-17 17:39] eakuefner commented on #2830
This has been fixed the right way, so v8 subtests should now load nearly instantaneously in the picker.

[2017-04-17 17:39] #2830 closed

[2017-04-17 17:40] eakuefner commented on #2387
This is fixed.

[2017-04-17 17:40] #2387 closed

[2017-04-17 18:26] eakuefner commented on #3009
Marking available to focus on histogram pipeline.

[2017-04-17 21:52] eakuefner opened #3496 "add_histograms endpoint"
We need the add_histograms endpoint to exist and be functional, that is, able to receive and store a `HistogramSet`.

[2017-04-17 21:53] eakuefner opened #3497 "Inline dense diagnostics"
We need to inline dense shared diagnostics as part of /add_histograms's work. To support this, we need to make it possible to inline diagnostics in the Python histogram code, and implement a Dashboard-side method that uses this functionality to inline the shared diagnostics that we know will vary per-upload.

[2017-04-17 21:53] eakuefner commented on #3497
This blocks #3496

[2017-04-17 22:07] bfontaine commented on #2323
Ping on this. Homebrew still uses the old repo URL and we can’t update the formula without a tagged release.

[2017-04-18 09:16] perezju opened #3498 "Factor out unnecessary steps between tearing down/setting up the state"
There seem to be many operations that do not need to be repeated between each story run; and done only once at the start of a Telemetry run. We should find those and factor them out.

As a concrete example, surely there is no need to check if the browser needs to be installed between stories:

[code]

[2017-04-18 11:10] nedn commented on #3498
I think we should profile how long does this take first before optimizing for it.

[2017-04-18 11:41] perezju commented on #3053
Fixed at [crbug.com/712077](crbug.com/712077)

[2017-04-18 11:41] #3053 closed

[2017-04-18 13:48] anniesullie commented on #3498
It should be pretty easy to run perf try jobs on various bots that just rip out operations and compare benchmark_duration?

[2017-04-18 13:49] nedn commented on #3498
This is a change to catapult & we don't support running perf try jobs against Telemetry change AFAIK.
I also think this can be done easily by adding some debug print around those code & run the thing locally.

[2017-04-18 13:55] anniesullie commented on #3498
Catapult should be supported on perf try jobs: https://cs.chromium.org/chromium/src/tools/perf/core/trybot_command.py?l=86

But it's fine to run locally too

[2017-04-18 13:59] nedn commented on #3498
Oh, that's cool to run catapult CL from perf try jobs. Do you just make the change in chromium/src/catapult/.. then trigger the try job with chromium/src/tools/perf/... ?

[2017-04-18 14:08] anniesullie commented on #3498
Yep, but see the arguments/documentation: https://cs.chromium.org/chromium/src/tools/perf/core/trybot_command.py?l=357

[2017-04-18 17:24] eakuefner opened #3499 "Deduplicate sparse diagnostics"
As part of the ongoing work in #3496 we need to implement the functionality for sparse diagnostics. In particular, we need to:

1. Check the most recent sparse diagnostic to see if the current uploaded one differs.
2. Store sparse diagnostics on the correct TestMetadata entities to make sure that we can query for them at upload time.
3. Monkeypatch references in the uploaded HistogramSet if the gu

[2017-04-18 19:15] eakuefner opened #3500 "Implement endpoint boilerplate for add_histograms"
Let's clone the design elements of add_point/add_point_queue so that we have something to start hitting with HistogramSets and optimizing.

[2017-04-19 08:28] natorion commented on #3474
This also happens with other reports like https://chromeperf.appspot.com/report?https://chromeperf.appspot.com/report?sid=1be638d9f575cfb937fab7d6ea8c133704cf8b2b1a5929a722ac21baf7cec8ad&start_rev=36493&end_rev=10000000000000.

cc @anniesullie @simonhatch @eakuefner

[2017-04-19 09:21] primiano opened #3501 "TraceViewer: memory-infra UI should hide PSS column if all zero"
Today on OSX we don't have PSS for technical reasons.
However, when grabbing a trace it shows negative numbers like the following:

![image](https://cloud.githubusercontent.com/assets/7137473/25172583/c9a5d0de-24f1-11e7-9914-6e36de0e9486.png)

This is because the dump provider emits all zeros, but then the tracing overhead gets discounted from native heap. We should not do that, or simply hide the

[2017-04-19 10:26] chromy commented on #3501
So I have written both patches to do it both ways I'm just trying to decide which is cleaner.

[2017-04-19 10:35] primiano commented on #3501
You rock!

The one that has less diff lines and touches less files :)

[2017-04-19 11:27] chromy commented on #3501
Sgtm :)

Mac:
![image](https://cloud.githubusercontent.com/assets/351085/25177813/2420ee46-24fb-11e7-961b-bcf17d7c1e8d.png)

Linux:
![image](https://cloud.githubusercontent.com/assets/351085/25177797/100af8e8-24fb-11e7-9a26-d96496474aa1.png)

CL: https://codereview.chromium.org/2821313003/

[2017-04-19 13:45] simonhatch commented on #3474
Console has an error:

Uncaught SyntaxError: Unexpected token N in JSON at position 368125
    at JSON.parse (<anonymous>)
    at HTMLElement.onLoadGraph (chart-slider.html:130)

I'll try to see why that's happening.

[2017-04-19 13:51] staniliev opened #3502 "Fix error when running map_traces"
map_traces fails, while trying to read args.trace_directory. This
command line option has been removed and the name
of the caller class LocalDirectoryCorpusDriver implies it should
be using the current folder instead.

[2017-04-19 14:25] #3502 closed

[2017-04-19 14:48] perezju opened #3503 "CommandTimeoutError during stories should not be fatal"
While accidentally running `browse:chrome:omnibox` on webview bots, the story failed with:

[code]

which is reasonable.

However this was treated as a "fatal failure", and execution of all succeeding stories was interrupted.

[2017-04-19 15:12] perezju commented on #3503
Wondering whether those exceptions should be re-cast as some other telemetry-known exception, or caught [here](https://github.com/catapult-project/catapult/blob/0bcfc3331d11209f4319163fd15c51fe4e80cada/telemetry/telemetry/internal/story_runner.py#L94) to make it non-fatal.

@nedn any preferences?

[2017-04-19 16:03] simonhatch commented on #3490
So this is working now, but with a big TODO in there to possibly fold the settings into the ViewState. For now at least, you'll get metric results.

[2017-04-19 16:23] simonhatch commented on #3474
So there's a NaN in the json send by /graph_revisions. Quick check on StackOverflow suggests this isn't a valid thing, http://stackoverflow.com/questions/15228651/how-to-parse-json-string-containing-nan-in-node-js. Not sure what to send in this case, anybody have opinion on this?

[2017-04-19 16:23] stephenkyle-ARM opened #3504 "Capturing ftrace sched_switch events with Telemetry and ChromeOS"
Hello,

Is there a set of guidelines as to how to collect ftrace scheduling information (i.e. sched_switch events) for Chromebooks with Telemetry? i.e., the equivalent of checking "System tracing" when recording under chrome://tracing.

For benchmarks that aren't TBMv2, I've managed to modify the traceConfig sent from StartTracing() in telemetry/internal/backends/chrome_inspector/tracing_backend.p

[2017-04-19 16:26] anniesullie commented on #3474
Does `null` cause errors or visual glitches?

[2017-04-19 16:48] simonhatch commented on #3474
The chart-slider shows up but /graph_json fails in _GetFlotJson() now if you try to scrub to the range with the null value.

[2017-04-19 17:25] anniesullie commented on #3474
I think maybe zeroing it out is the best thing to do. It will probably look like gaps in the data, which is correct.

[2017-04-19 18:51] simonhatch commented on #3474
Sigh, linked wrong bug in description, https://codereview.chromium.org/2827993003/

[2017-04-19 18:51] #3474 closed

[2017-04-19 19:25] maxlgu commented on #3490
Great thanks!

On Wed, Apr 19, 2017 at 12:04 PM, simonhatch <notifications@github.com>
wrote:

[2017-04-19 19:35] simonhatch opened #3505 "Pinpoint - Support chartjson output"
Support chartjson output from tests, histogram output coming soon but some (like c++ tests) will come much later. Need to support both formats for the time being.

@dave-2

[2017-04-19 20:39] eakuefner opened #3506 "IsInternalUser isn't mocked properly in testing_common.TestCase"
In https://codereview.chromium.org/2826253003 I assert utils.IsInternalUser() in the endpoint itself.  But it appears that the mocking that testing_common.TestCase is supposed to do isn't working.

This blocks landing the endpoint structure, because we don't want to deploy a dashboard that has this functionality available to non-admins, but we also need to be able to use it in unit tests so that w

[2017-04-19 20:58] eakuefner commented on #3506
Okay, Simon and I came to the conclusion offline that we confused the notion of admin with the notion of internal only. So this isn't actually a bug, and I should be calling SetIsInternalUser in the TestCase.

[2017-04-19 20:58] #3506 closed

[2017-04-19 21:01] eakuefner opened #3507 "Split TelemetryInfo fields to separate diagnostics"
We're going to have benchmarks that are not Telemetry-based, and in these cases, we'll still need `benchmarkName` and `benchmarkStart`, and maybe also `label`. We should probably split those into a new `BenchmarkInfo`. We might also want to do something with the rest of the fields (StoryInfo?) and figure out to what extent we actually need tir_label.

We can deal with this for development purposes

[2017-04-20 13:02] natorion commented on #3409
I think this is fixed.

[2017-04-20 13:02] #3409 closed

[2017-04-20 13:04] natorion commented on #3369
Generally, what are the current triggers for the grouping feature? I get this question often and would like to add it to https://docs.google.com/presentation/d/1JBs1dYP_6IPZfAEYGZr2HcWPfvFZjV6bqe1A6NIUqt0/edit.

[2017-04-20 14:56] chromy commented on #2323
+catapult org owners: @anniesullie @natduca @tdresser

We could tag fe5e396b07f8f81d7cd56ad930fdae77533fcc6b with "m59" since that is the version in the DEPS of m59.

I guess we can do:
[code]

[2017-04-20 16:16] simonhatch commented on #3369
I think alert_group specifically filters out improvements for grouping: https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/models/alert_group.py#L197

The requirements to be grouped should be that the ranges overlap, they're the same "kind" of alert (ie. StoppageAlert vs Alert), and they from the same test suite (https://github.com/catapult-project/catapult/blob/master/da

[2017-04-20 18:58] kainino0x opened #3508 "Clean up old unzipped dependency directories"
This has been discussed on the CL for #2865 in the thread starting here:
http://crrev.com/2809503002/#msg67

When telemetry.internal.util.binary_manager.FetchBinaryDependencies is used to fetch zip dependencies, it extracts them into a directory containing the zip's hash, e.g. `cv2_mac_x86_64_ee2a4110b6d78b0b824395e998a738bf813c23d7/`.

When the hash is changed in `binary_dependencies.json` (due t

[2017-04-20 20:36] randalnephew opened #3509 "Use telemetry.core.exceptions for failures telemetry can recover from"
We currently only whitelist exceptions that inherit from telemetry.core.exceptions to not cause complete telemetry run failure when a story is run.

https://cs.chromium.org/chromium/src/third_party/catapult/telemetry/telemetry/internal/story_runner.py?q=f:catapult+story_runner.py+package:%5Echromium$&dr&l=238

Some exceptions we throw that are recoverable do not inherit from this base class.
Chrom

[2017-04-20 21:09] simonhatch commented on #3369
Re: The button, should this default to showing the improvements or not?

[2017-04-21 11:05] perezju commented on #3509
I've raised a similar concern in #3503. Will close that one, since this sounds more general.

I'm wondering whether the default should be to "catch all exceptions" and instead mark a few as "fatal"? (For example most devil exceptions should probably be non-fatal; but there is no reason why those should inherit from telemetry.core.exceptions.)

[2017-04-21 11:05] perezju commented on #3503
Closing as dupe of #3509

[2017-04-21 11:05] #3503 closed

[2017-04-21 17:46] simonhatch opened #3510 "MacTryserver failing Telemetry Tests with Stable Browser (Desktop)"
https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Mac%20Tryserver

[2017-04-21 17:56] simonhatch commented on #3510
Only recent commit that's mac specific is: https://github.com/catapult-project/catapult/commit/07274b7a0b08880de3427d7117515a2b1440f1b6

@chiniforooshan @kainino0x

[2017-04-21 17:59] maxlgu commented on #3319
Is there any way to search for all the CL belonging this issue in https://codereview.chromium.org/ ? I missed [https://codereview.chromium.org/2746363003](url) until it was mentioned here actually. And it seems like Rietveld doesn't support searching CLs by subjects or descriptions.

[2017-04-21 18:00] kainino0x commented on #3510
@simonhatch My patch is mostly not mac specific, only the JSON entry is mac specific and I don't think it should be triggered at all yet. If a revert fixes it that would be great. I am digging through these logs to see what's going on there.

[2017-04-21 18:06] simonhatch commented on #3510
Awesome thanks for looking! My bad, just looked at the title and saw "Mac: ...", going to try repro on laptop.

[2017-04-21 18:13] simonhatch commented on #3510
The revert passes: https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Mac%20Tryserver/builds/7282

I'm doing a try on a fake cl with no changes just to confirm it's still broken

[2017-04-21 18:23] simonhatch commented on #3510
Repro'd this locally, it's stuck on asking for keychain access.

[2017-04-21 18:37] kainino0x commented on #3510
No problem, thank you for finding this. (Just to make sure - it does seem to be my patch, right?)

I don't know how to search these logs effectively - but I think this is the new error:

[code]

I have no clue what's causing this, but I think I did see it briefly on previous versions of my patch. It seemed to go away permanently after that so I assumed it was unrelated to my patch at the time.

[2017-04-21 18:38] simonhatch commented on #3510
Yeah does seem to be your patch, my empty patch that I ran through the tryservers is stuck on the mac try server: https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Mac%20Tryserver/builds/7283

but the one I posted which reverted that CL passed easily.

[2017-04-21 19:14] kainino0x commented on #3510
Yes, sorry for the delay. We should revert it.

[2017-04-21 20:36] simonhatch opened #3511 "Dashboard - Investigate /migrate_test_names performance and stability"
We anticipate some massive test migrations will happen in Q3, and we need to be sure that this works both quickly and reliably.

@anniesullie @nedn @eakuefner

[2017-04-21 21:23] anniesullie commented on #2323
That works for me. @natduca WDYT?

[2017-04-21 21:34] anniesullie commented on #3222
We settled on providing a JSON API. @natorion can you list the use cases that v8 team needs?

[2017-04-21 22:33] maxlgu commented on #3319
This is my report of comparing MAD, AAD, IQR and STD https://docs.google.com/a/google.com/document/d/1cu0h94BiL9BoBMSvAjNCZk1g4kixJvBTyOrUkUY3TwM/edit?usp=sharing

[2017-04-23 03:44] aschulm opened #3512 "Cherry Mobile One does not enable/disable charging before BattOr benchmarks"
Devil does not disable/enable USB charging on the Cherry Mobile One because the shell commands that control the Cherry Mobile One's charger have not been added yet.

[2017-04-23 03:44] aschulm commented on #3512
CC: @randalnephew

[2017-04-24 08:17] natorion commented on #3222
We want to derive the impact of a V8 CL. Regarding the performance we would need the following functionality in order of importance:

Must-have: Same data as in "group_alert?rev=12345"

Nice-to-have: Bisection progress for a revision: How many bots have already processed this revision? I think there is already an issue asking for the same thing but for showing it on Chromeperf.

Nice-to-have: SQL-

[2017-04-24 10:03] perezju opened #3513 "Wrong time units in alerts page (?)"
A recent [group of alerts](https://chromeperf.appspot.com/group_report?bug_id=714351) for a regression on benchmark duration is showing:

![zni14a8sxfw](https://cloud.githubusercontent.com/assets/16922344/25332215/8b57798c-28dd-11e7-9c91-5b37671a007a.png)

Which I read as, e.g. 15.718 **microseconds**; looking at the graph below, however, this appear to be **minutes**. Could we format these instea

[2017-04-24 11:41] chromy commented on #3513
I think the problem is around this [line](https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/elements/alerts-table.html#L561) which ends up eliding the conversion factor when converting from legacy to current units.

A CL like https://codereview.chromium.org/2834403002 fixes some of the problem but means that minutes are formatted like this instead:

<img width="1196" alt

[2017-04-24 12:11] nedn opened #3514 "Kill is_multi_tab_test flag in legacy_page_test .LegacyPageTest"
Enabling "is_multi_tab_test = True" breaks the abstraction of a story run | story set run is the atomic unit of benchmark run. This is because the state of subsequent runs is now vastly different from the previous run, not just in term of OS/browser machinery state but also at the abstraction level since the number of tabs on the browser aren't the same.

We should just kill this flag & the condit

[2017-04-24 12:11] nedn commented on #3514
@perezju

[2017-04-24 12:12] primiano opened #3515 "Results2 from the perf trybot is missing the groupby picker"
Somebody ran some perf trybot jobs on https://codereview.chromium.org/2835933002/ .
The results HTML (https://console.developers.google.com/m/cloudstorage/b/chromium-telemetry/o/html-results/results-2017-04-24_03-57-12) seem to miss the column picker.

Essentially I can see that a histogram for a metric has 100 samples, but I cannot split by individual page anymore.

![image](https://cloud.githubu

[2017-04-24 12:19] perezju commented on #3514
Seems like this is [currently only used in tests](https://cs.chromium.org/search/?q=def%5C+TabForPage&type=cs)? Agree we should kill and not let it be used in new benchmarks.

[2017-04-24 13:41] anniesullie commented on #3515
@simonhatch @eakuefner

[2017-04-24 13:51] anniesullie commented on #3513
Wait, in that screenshot we see 1 billion milliseconds = 11 days. Is that the right value? I think landing the CL is a good first step if it shows the correct time in ms when minutes or hours might be easier to read.

@simonhatch: I know you were looking at ramping up on some of the trace-viewer side UI code. Would you be interested in following up after @chromy's CL lands and seeing if we can get

[2017-04-24 14:12] perezju commented on #3515
Not that also the "triangles" to fold/unfold merged metrics into their parts are missing. Maybe something broke on the merging UI?

[2017-04-24 14:21] simonhatch opened #3516 "Pinpoint - Bisect with pinned DEPS or patch"
From @benhenry on crbug.com/714289:

Issue 711282 brought up a case where there is a regression somewhere in the CL range within a roll that we cannot bisect on because another CL in that roll range causes compiler failure or crash. In the issue listed, the subsequent Clank roll contained a fix to the compile issue. I would be nice to be able to kick off a bisect between those two rolls with the p

[2017-04-24 14:26] #3480 closed

[2017-04-24 14:35] simonhatch opened #3517 "Dashboard - Should we skip story filter if bisecting benchmark_duration"
From crbug.com/714288

[2017-04-24 14:36] anniesullie commented on #3517
@nedn I think we should skip story filter for benchmark_duration metric. Any objections?

[2017-04-24 14:45] nedn commented on #3517
Not at all. Using story_filter for benchmark_duration is totally a buggy state.

[2017-04-24 16:28] natorion commented on #3369
I would expect seeing improvements and regressions because when I am looking at this particular page I am interested in the general impact of it.

[2017-04-24 16:29] anniesullie commented on #3369
I think most users expect both improvements and regressions, understanding the general impact is the big reason for looking at /rev=XXX

[2017-04-24 16:39] benshayden commented on #3515
This issue will be fixed by [Fix a bug in how histogram-set-controls handles its groupby-picker.](https://codereview.chromium.org/2802333002)

[2017-04-24 17:02] benshayden commented on #3490
Apologies for the breakage and thanks, Simon, for the fix.
I think the correct solution would be to make the groupby-picker allow its settingsKey to be optional, and [Synchronize HistogramSetViewState with location.search using HTML5 history API.](https://codereview.chromium.org/2802933002) I still need to do a bit more work on that CL as described in the Messages.

[2017-04-24 19:28] ashley3 commented on #3514
Tentative change out for review here: https://codereview.chromium.org/2841663002/
Announcement made here: https://groups.google.com/a/chromium.org/forum/#!topic/telemetry-announce/1IX-tEKE7es

[2017-04-24 19:29] kainino0x opened #3518 "BaseConfigTest.testIterDependencies broken due to typo"
Some assertions in `BaseConfigTest.testIterDependencies` are totally broken. `assert_call_args` [[here](https://github.com/catapult-project/catapult/blob/25bf8da6025c242dcb2ab68692db33ac8f7d0e99/dependency_manager/dependency_manager/base_config_unittest.py#L1487)] doesn't exist, but silently pretends to work because the framework assumes it's a member of the mocked object and mocks it. Thus this t

[2017-04-24 20:15] maxlgu commented on #3490
Thanks Simon and Ben!

On Mon, Apr 24, 2017 at 1:02 PM, Ben Hayden <notifications@github.com>
wrote:

[2017-04-24 20:28] CalebRouleau commented on #2102
I'm trying to understand this bug: Is it about

1. Trying to run a test with two browser instances running at the same time and controlled by catapult.

or

2. Adding the architectural foundation necessary to support running catapult/telemetry against arbitrary browsers, like Firefox or Edge, rather than just against Chromium/Chrome?

It would help to understand what the use case is for this funct

[2017-04-24 20:36] nedn commented on #2102
@CalebRouleau , the issue with this is the API for creating a browser is very adhoc.

Today, to create a browser object, you need to start with a commandline object as follows:
finder_options = ... from some commandline parsing...
possible_browser = browser_finder.FindBrowser(finder_options)
browser = possible_browser.Create()

All of this seems very wrong. Why would you need to do commandline par

[2017-04-24 21:15] CalebRouleau opened #3519 "Graphs y-axis tick-mark labels are obscured by y-axis axis title"
![yaxis](https://cloud.githubusercontent.com/assets/1326100/25358972/37a3115a-28f8-11e7-84ba-d13af8571cae.PNG)

For these graphs: https://chromeperf.appspot.com/group_report?bug_id=710017 I keep thinking that the regression is from 2,000,000 to 600,000 because the first "1" is obscured. Not a huge issue, but a nice polish to fix this. Maybe a good first bug for someone.

[2017-04-24 21:17] anniesullie commented on #3519
@simonhatch @benshayden This might be an example where the solution should be simple, but flot makes it tough. Would be interested to hear whether there's a way to make this simple fix in flot.

[2017-04-24 21:36] simonhatch commented on #3519
Maybe we can move that to somewhere else, like below the test_path? Either that or you'd have to shrink the text so that they don't overlap, which end up being unreadable.

There's also a legend http://www.flotcharts.org/flot/examples/interacting/index.html that can be displayed, but unfortunately seems to prevent you from clicking on points behind it :(

[2017-04-25 00:02] kainino0x commented on #3510
Newly failing tests (all of these weren't run without numpy/cv2):

* `telemetry.internal.image_processing.screen_finder_unittest.ScreenFinderTest.testBasicFunctionality`
    Seem flaky without `-j1` (i.e. if running more than one job at a time).

* `telemetry.internal.image_processing.video_file_frame_generator_unittest.VideoFileFrameGeneratorTest.testVideoFileFrameGenerator{Success,Failure,SkipFr

[2017-04-25 00:06] nedn commented on #3510
Oh, for those cases that pass with -j1, can you add @decorators.Isolated()?

[2017-04-25 00:16] kainino0x commented on #3510
Actually, changing all of them to `@Disabled('all')` because they also fail on my Linux machine.

On Linux, `testBasicFunctionality`, `testVideoFileFrameGeneratorSuccess`, and `testVideoFileFrameGeneratorSkipFrames` above fail even with `-j1`. They all fail in the same way:
`FrameReadError: Not enough frames in capture.`

`testVideoFileFrameGeneratorFailure` passes, but that's probably just becaus

[2017-04-25 00:16] rschoen opened #3520 "Error message is too vague when filing bug with invalid owner email"
I was attempting to file a bug for this alert:
https://chromeperf.appspot.com/group_report?keys=agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgIDgoueQmgoM

I put the owner as acondor [at] chromium [dot] org, an email address I think may not exist. Instead of letting me know that, I got this rather unhelpful error message:

![screenshot 2017-04-24 at 5 11 57 pm](https://cloud.githubusercontent.com/assets/364

[2017-04-25 00:19] kainino0x commented on #3510
@nedn I will see if I can tighten some of these to `@Disabled('linux') @Isolated()` or something like that.

[2017-04-25 00:27] kainino0x commented on #3510
* Mac: `telemetry.internal.image_processing.video_file_frame_generator_unittest.VideoFileFrameGeneratorTest.testVideoFileFrameGeneratorSuccess`
    actually seems to fail always, `0.0 != 33.367`.

[2017-04-25 00:31] rschoen opened #3521 "Ignored alerts still appearing in triage list"
On https://chromeperf.appspot.com/alerts?sortby=end_revision&sortdirection=down, I see two sizes alerts that I've already clicked ignored on. These alerts can be seen at https://chromeperf.appspot.com/group_report?sid=83efdbe4725eb26dd3371fc1adbfecaf878b6e9613065dc8a4e85ce0b00b8f33.

![screenshot 2017-04-24 at 5 30 29 pm](https://cloud.githubusercontent.com/assets/3644011/25363973/d6e11986-2913-11

[2017-04-25 00:42] rschoen commented on #3521
Hmm... I marked them as ignored again and they disappeared. Perhaps I should have left them for debugging.

[2017-04-25 01:41] sunnyps opened #3522 "extra_browser_args needs to be double quoted for run_benchmark try"
I ran tools/perf/run_benchmark try all smoothness.gpu_rasterization.top_25_smooth --extra-browser-args="--enable-gpu-scheduler --enable-gpu-async-worker-context" for https://codereview.chromium.org/2814843002 but the results were useless because it removed the quotes and interpreted --enable-gpu-async-worker-context as a flag of run_benchmark. Also, note that buildbot does not detect the build as

[2017-04-25 03:15] sunnyps commented on #3522
It still fails after double quoting: https://luci-logdog.appspot.com/v/?s=chrome%2Fbb%2Ftryserver.chromium.perf%2Fandroid_nexus5_perf_bisect%2F4978%2F%2B%2Frecipes%2Fsteps%2FRunning_WITH_patch%2F0%2Fsteps%2FPerformance_Test__With_Patch__1_of_1%2F0%2Flogs%2FFailure_Output%2F0

/usr/bin/python /b/c/b/android_nexus5_perf_bisect/src/tools/perf/run_benchmark --browser=android-chromium smoothness.gpu_ra

[2017-04-25 13:09] anniesullie commented on #3522
@simonhatch

[2017-04-25 13:15] anniesullie commented on #3520
@simonhatch

[2017-04-25 17:38] kainino0x commented on #3510
* Mac: `telemetry.internal.image_processing.screen_finder_unittest.ScreenFinderTest.testBasicFunctionality`
    was found to fail even with `@decorators.Isolated()`. Disabling it as well.

[2017-04-26 14:10] lpy commented on #3461
I will take over this if it's OK to you Ethan @eakuefner

[2017-04-26 14:59] simonhatch commented on #3522
Note that the perf config is constructed here https://cs.chromium.org/chromium/src/tools/perf/core/trybot_command.py?q=trybot_comman+package:%5Echromium$&l=401 so we'd need to handle the quoting here and possibly on the recipe side (https://cs.chromium.org/chromium/build/scripts/slave/recipe_modules/perf_try/api.py?q=perf_try/api&l=182)

[2017-04-26 15:01] nedn opened #3523 "TestBrowserOperationDoNotLeakTempFiles.testBrowserNotLeakingTempFiles are failing, blocking catapult CQ"
Log:
https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Mac%20Tryserver/builds/7339/steps/Telemetry%20Tests%20with%20Stable%20Browser%20%28Desktop%29/logs/stdio

[2017-04-26 15:04] nedn commented on #3523
@kainino0x not sure if this is related to your opencv & numpy work

[2017-04-26 15:45] #3515 closed

[2017-04-26 16:04] eakuefner commented on #3461
Thanks, that's fine.

[2017-04-26 17:32] kainino0x commented on #3523
I noticed this last night when monitoring for failures. It didn't seem related at first glance but I didn't have time to look more closely.

[2017-04-26 17:51] kainino0x commented on #3523
I'm not able to reproduce this locally, but it really doesn't look related to my change.

[2017-04-26 17:52] kainino0x commented on #3523
(of course, it still could be related if these changes are hitting a codepath which optionally uses numpy/cv2)

[2017-04-26 19:51] ashley3 commented on #3523
I wasn't able to reproduce locally so I disabled the test for now to unblock catapult CQ

[2017-04-26 23:04] randomascii opened #3524 "chrome://tracing doesn't identify extension and utility processes"
In a typical chrome://tracing trace there will be several renderers that are just labeled as "Renderer (pid xxxx)" instead of having a URL. These appear to usually or always be extensions.

There will also often be a process that is just labeled as "Process xxx" - no type information at all, just the pid. This appears to usually or always be the "Utility: V8 Proxy Resolver" process, according to C

[2017-04-27 01:51] kenrussell opened #3525 "All Telemetry based tests on my Linux workstation core dump"
All Telemetry-based tests on my Linux workstation are core dumping somewhere inside Telemetry's Python code.

Attached is the output of:

strace -f -e trace=process ./content/test/gpu/run_unittests.py > output.txt 2>&1

with the following patch applied to rule out vtune as the cause of the core dumps:

--- a/telemetry/telemetry/internal/platform/profiler/vtune_profiler.py
+++ b/telemetry/telemetry

[2017-04-27 01:57] kenrussell commented on #3525
Figured out how to get pdb attached to run_tests.py. So far it's crashing inside this operation:

-> ret, test_set = self.find_tests(self.args)

Still looking.

[2017-04-27 01:58] kenrussell commented on #3525
CC'ing @dpranke and @nedn .

[2017-04-27 02:15] dpranke commented on #3525
python itself is core dumping?

[2017-04-27 02:29] kenrussell commented on #3525
Yes. With this log added:

kbr@ftfy:/Work/kbr/src/chrome/src$ diff /usr/lib/python2.7/unittest/loader.py /usr/lib/python2.7/unittest/loader.py.BACKUP
232d231
<         print 'importing ' + name

It's crashing attempting to load the lint unittest:

importing gpu_tests.gpu_integration_test_unittest
importing gpu_tests.test_expectations_unittest
importing gpu_tests.gpu_test_expectations_unittest
impo

[2017-04-27 02:30] kenrussell commented on #3525
P.S. I remember trying to look into pylint errors ynovikov@ was running into, but don't see any changes under third_party/logilab or third_party/pylint.

[2017-04-27 13:39] anniesullie commented on #3524
@lpy @zeptonaut @simonhatch

[2017-04-27 13:44] lpy commented on #3524
@fmeawad

[2017-04-27 13:45] lpy commented on #3461
Close as fixed

[2017-04-27 13:45] #3461 closed

[2017-04-27 13:46] ashley3 commented on #3523
Reduced priority to P1 since it's not blocking CQ anymore

[2017-04-27 15:02] primiano opened #3526 "Trace viewer is broken with "instant is not defined""
Copying from crbug.com/715512

Lastest Chrome Canary does not display traces properly — loads but not displays them, likely a problem with canvas.
Chrome dev (59.0.3071.15, OS X) is fine.

![image](https://cloud.githubusercontent.com/assets/7137473/25489743/b25315c8-2b62-11e7-835b-69f845d08b42.png)

Error from JS:
ReferenceError: instant is not defined
    at Object.getObjectInstanceColor (tracing

[2017-04-27 15:03] primiano commented on #3526
Looks like @chromy found the issue (which might have been a recent CL from him )

[2017-04-27 15:12] chromy commented on #3526
CL is on the CQ: https://codereview.chromium.org/2841243003/

[2017-04-27 15:59] chromy commented on #3526
Landed, tests as a follow up: https://codereview.chromium.org/2844203004/

[2017-04-27 15:59] #3526 closed

[2017-04-27 17:11] randomascii commented on #3524
I have a similar problem when recording ETW traces of Chrome. I can identify the process types (renderer, utility, extension) but I can't tell what page the renderers are on or what type of extension is associated with a process. Any ideas for solving *that* problem would also be appreciated.

Maybe I need to get Chrome to emit ETW events to identify the processes...

[2017-04-27 18:42] nedn commented on #3381
Thanks Ashley for addressing this!

[2017-04-27 18:42] #3381 closed

[2017-04-27 20:29] kenrussell commented on #3525
I'm still stuck on this and can't run any Telemetry tests on my workstation. Can anyone help me? How can I more easily try importing this particular file without trampolining through all of the Telemetry and typ harnesses?

[2017-04-27 20:57] kenrussell commented on #3525
Stepping through: it's crashing upon

import astroid

inside src/third_party/pylint/pylint/lint.py .

[2017-04-27 21:31] kenrussell commented on #3525
The crash is happening while pyximport is attempting to import mx/DateTime/mxDateTime out of /usr/lib/python2.7/dist-packages . A "return None" statement inside pyximport is causing a SIGSEGV. Here is the tail end of the pdb session:
[python-crash-backtrace.txt](https://github.com/catapult-project/catapult/files/962979/python-crash-backtrace.txt)

-> for path in paths:
(Pdb)

-> _debug("%s not fou

[2017-04-27 21:49] kenrussell commented on #3525
This:

sudo apt remove python-egenix-mxdatetime

Fixed the seg fault.

[2017-04-27 21:49] #3525 closed

[2017-04-27 21:49] kenrussell commented on #3525
Thanks @kainino0x for suggesting this as a viable solution!!!

[2017-04-27 21:59] kenrussell commented on #3525
Also for the record: how to find which package contained the file:

dpkg-query --search /usr/lib/python2.7/dist-packages/mx/...

[2017-04-27 22:31] kenrussell commented on #3525
Note: ynovikov@ is running into this same problem. I have a feeling a lot of Telemetry users inside Google may run into the same thing. It's worth a PSA.

[2017-04-27 22:34] nedn commented on #3525
I think the best thing here is improve the error message. Maybe add a try catch somewhere that would allow: "You maybe encounter the problem with python-egenix-mxdatetime module. You can try the workaround by ..."

[2017-04-27 23:57] kenrussell opened #3527 ""defaults write" command in desktop_browser_backend.py often fails, printing warning"
This invocation of "defaults write":
https://cs.chromium.org/chromium/src/third_party/catapult/telemetry/telemetry/internal/backends/chrome/desktop_browser_backend.py?q=defaults+file:third_party/catapult/telemetry+package:%5Echromium$&l=277&dr=C

fails very often -- as far as I can tell, every time, unless running the system browser. It prints the following warning:

(WARNING) 2017-04-27 19:47:09,

[2017-04-28 03:48] lpy commented on #3322
Closed as fixed.

[2017-04-28 03:48] #3322 closed

[2017-04-28 04:35] benshayden commented on #3416
[Started](https://codereview.chromium.org/2847893004)

[2017-04-28 06:50] lpy commented on #3361
I will take this if that's OK to you Deep @deepanjanroy

I will enable it with the following configuration:

[code]

[2017-04-28 11:26] ndfred commented on #2323
@anniesullie @natduca @tdresser please do that, I'm happy to update Homebrew after the release is up:
https://github.com/catapult-project/catapult/tags

[2017-04-28 13:31] bokand opened #3528 "IPC flow event lines jump around when scrolling"
Chrome Version: 58.0.3029.81
OS: Linux

What steps will reproduce the problem?
(1) Open up a trace with IPC flow lines. I've attached the trace I used
(2) Find an IPC event on the browser main thread. In the video I'm looking at the 	MouseWheelEventQueue::TryForwardNextEventToRenderer at 1,980.027 ms
(3) Try to scroll down to the flow line's end

What is the expected result?
The line should stay a

[2017-04-28 14:12] tdresser opened #3529 "Add CPU time EQT metric"
Some EQT variability is due to task descheduling.

We should add a CPU time EQT metric, similar to the way that we added a CPU time FMP metric.

We'd expect this metric to be less representative of user experience, but more stable.

[2017-04-28 14:13] tdresser commented on #3529
Ulan, do you want to take this on, or should we find someone else?

[2017-04-28 14:36] simonhatch opened #3530 "Dashboard - Reduce bisect retries?"
Now that these are working again, we might be spamming some bugs with way too many retries:

https://bugs.chromium.org/p/chromium/issues/detail?id=703743 has reached 107 comments, a large portion of which are bisect attempts.

[2017-04-28 14:37] anniesullie commented on #3530
@dave-2 has expressed opinions against retries in the past, IIRC

[2017-04-28 14:41] deepanjanroy commented on #3361
Actually yes go ahead. This slipped my mind.

On Fri, Apr 28, 2017 at 2:50 AM Peiyong Lin <notifications@github.com>
wrote:

[2017-04-28 18:31] #3517 closed

[2017-04-28 18:31] #3520 closed

[2017-04-28 18:33] #3414 closed

[2017-04-28 23:10] kenrussell commented on #3122
Note: possible reoccurrence of this in http://crbug.com/716564 . May be the case that command lines are not being propagated to Chrome on this non-rooted device.

[2017-04-29 03:34] lpy commented on #3361
Done.

[2017-04-29 03:34] #3361 closed

[2017-05-01 18:51] #3512 closed

[2017-05-02 05:22] ashley3 commented on #3514
Haven't seen any complaints on the announcement email so I'm gonna go ahead and submit the change now

[2017-05-02 10:28] perezju commented on #3122
Is there a way to query via devtools the flags that were used to launch Chrome? This way we could query those from Telemetry to ensure that flags were correctly received.

[2017-05-02 10:33] primiano commented on #3122
@perezju I don't think there is a devtools api to check the cmdline flags. However the trace metadata contains the cmdline. Is that enough or is it too late (trace gets collected only at the end)

[2017-05-02 13:10] ashley3 commented on #3514
Code removed; gonna go ahead and close this issue

[2017-05-02 13:10] #3514 closed

[2017-05-02 16:24] lpy commented on #3278
Duplicate to #3461, close it as duplicate and fixed.

[2017-05-02 16:24] #3278 closed

[2017-05-02 18:42] eakuefner opened #3531 "Start using TelemetryInfo and RevisionInfo to populate histogram entities"
After landing the scaffold (#3500) we need to start extracting relevant fields from TelemetryInfo and RevisionInfo to populate histogram entities (test paths from `TelemetryInfo`, Chromium commit position from `RevisionInfo`).

We'll have to think a little longer term to figure out how to inform which field of RevisionInfo to pick for waterfalls that don't use Chromium commit positions to identify

[2017-05-02 18:45] eakuefner opened #3532 "Create tests/bots/masters in add_histograms_queue"
As in [add_point_queue](https://github.com/catapult-project/catapult/blob/01ea3803d6f50394b0940079c1e4cf4969861e1f/dashboard/dashboard/add_point_queue.py), we need to create tests/bots/masters if they do not exist, at histogram add time.

[2017-05-02 18:46] eakuefner opened #3533 "Create matching rows + populate with stats in add_histograms_queue"
Per histogram, we also want to generate a corresponding Row; this row will be populated with additional statistics. As with #3532, add_point_queue does a lot of this; we should see whether it's worth sharing code.

[2017-05-02 21:08] dave-2 commented on #3530
Yes, I never really liked automated retries. It's unintuitive that the system would be doing all this stuff when nobody asked it to. Reducing the number of retries or eliminating them sgtm

[2017-05-02 22:49] dave-2 opened #3534 "Pinpoint isolate upload is broken"
Looks like `pinpoint.yaml` has a route for `/isolated/.*` but the post request is just `/isolated` with all the parameters in the body instead of the URL.

[2017-05-03 17:36] rmargold opened #3535 "Import of TraceViewer clashes with Polymer import"
Following this guide on embedding TraceViewer:
https://github.com/catapult-project/catapult/blob/master/tracing/docs/embedding-trace-viewer.md
Leads to issues when Polymer needs to be imported for other components in the same project. Gives this kind of error:

Uncaught DOMException: Failed to execute 'registerElement' on 'Document': Registration failed for type 'dom-module'. A type with that name

[2017-05-03 18:28] mustaqahmed opened #3536 "Perf Dashboard: problems with multiple login"
The [dashboard](https://chromeperf.appspot.com/) used to allow switching between multiple logins, but it no longer does. With multiple logins (in my case, google.com & chromium.org), the dashboard jumps to the "default" account. Clicking on the login id doesn't give us an option anymore, simply redirects to the same page.

[2017-05-03 18:31] eakuefner commented on #3536
@simonhatch

[2017-05-03 20:12] ulan commented on #3529
I will look into it.

[2017-05-03 20:49] benshayden commented on #3289
Done!

[2017-05-03 20:49] #3289 closed

[2017-05-04 14:26] zeptonaut commented on #3280
Just got back in the office - does anyone have the capacity to take this on?

[2017-05-04 17:38] #3453 closed

[2017-05-04 17:43] simonhatch opened #3537 "Dashboard - Test-Picker takes up a lot of space"
After selecting anything, often doubles in size. This was brought up by Ben from Dashboard story tagging support doc.

@eakuefner @benshayden

[2017-05-04 17:44] zeptonaut commented on #3475
Yea - I'm not sure if we 100% meet this goal, but it's certainly where we're headed. I'm in favor of a `CpuTime` wrapper class so that all files in the directory can export to the same namespace.

[2017-05-04 18:12] benshayden commented on #3280
I'll take it.

[2017-05-04 18:14] CalebRouleau commented on #3536
This is really broken right now. I can't seem to view results. I get this:
"No data available for crouleau@google.com. Note that some data is only visible when signed in with a chromium.org account, which is linked to a google user."

Then when I try to switch users it doesn't work.

[2017-05-04 18:20] simonhatch commented on #3536
What url are you trying to visit?

[2017-05-04 18:25] CalebRouleau commented on #3536
https://chromeperf.appspot.com/group_report?bug_id=718221

[2017-05-04 18:36] simonhatch commented on #3536
Doesn't seem to be any alerts on that report, so maybe the UI is misleading and shouldn't have that message.

The original link from the bug for all alerts was https://chromeperf.appspot.com/group_report?keys=agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgIDgsrSMtQoM, which shows the alert has since been marked ignore.

[2017-05-04 18:40] CalebRouleau commented on #3536
Thank you!

[2017-05-04 18:56] simonhatch opened #3538 "Dashboard - Misleading "no data available" for group_alert with no alerts."
From #3536 , https://chromeperf.appspot.com/group_report?bug_id=718221 has no alerts, looking at original bug and all alerts, only alert associated with it was marked ignore.

[2017-05-04 19:16] benshayden commented on #3280
One wrinkle is loops over maps that reset only one of the key or value:
`for (let [k, v] of map)` violates prefer-const for the variable that is not reassigned.
`for (const [k, v] of map)` violates no-const-assign for the variable that is reassigned.
I'm changing these to
[code]

[2017-05-04 22:44] eakuefner opened #3539 "Diagnostics need to set guids when being deserialized"
When we do `HistogramSet.importDicts()`, this arranges shared diagnostics into a map by guid internally, so it works in-memory. However, if you go to reserialize it, we'll end up generating fresh guids because Diagnostic.fromDict does not set guid, which breaks references.

I discovered this because I'm trying to make asserts about the contents of the task queue to unit test add_histograms as part

[2017-05-05 02:10] CalebRouleau opened #3540 "Telemetry documentation: unclear how to run unit tests"
Following directions at https://sites.google.com/a/chromium.org/dev/developers/telemetry/telemetry-unittests, I attempted to run the tests in catapult/telemetry/telemetry/internal/actions/play_unittests.py

How is this done? I'm happy to update the documentation if someone can give me a command that works. I started rabbit-holing when I was reading the code.

Thanks!

[2017-05-05 02:11] CalebRouleau commented on #3540
Whoops, didn't mean to submit yet. Adding detail now.

[2017-05-05 13:05] nico1510 commented on #1747
is there a solution for this ? I'm seeing the same problem

[2017-05-05 15:30] zeptonaut commented on #3524
Thanks for bringing this up @randomascii - this is definitely a problem that makes traces harder to interpret. It seems like this should be on the instrumentation team's radar: @fmeawad @vinterstum, do you know hard this would be to fix?

[2017-05-05 15:39] simonhatch commented on #3365
An update on this, the map-reduce that passes over all TestMetadata entities has been completely rewritten. Think all that's left for this bug is to make the emails clearer about when the stoppage occurred.

[2017-05-05 16:35] CalebRouleau commented on #3540
This is blocking crbug/713394, which is blocking crbug/710253, which is blocking crbug/713345 (Reducing the cycle time of perf waterfall from 10 hours to 1 hour)

@martiniss any ideas for this?

[2017-05-05 18:36] zeptonaut commented on #3322
Thanks @lpy!

[2017-05-05 18:36] zeptonaut commented on #3361
This is awesome. Thank you for taking this on!

[2017-05-05 19:00] zeptonaut commented on #3280
Yea, that's definitely an interesting edge case that I wouldn't have
thought of! Your solution seems reasonable to me.

On Thu, May 4, 2017 at 3:16 PM, Ben Hayden <notifications@github.com> wrote:

--

Charlie Andrews |  Software Engineer |  charliea@google.com

[2017-05-05 19:49] nedn opened #3541 "groupby picker only shows up after refreshing the page"
When I open https://console.developers.google.com/m/cloudstorage/b/chromium-telemetry/o/html-results/results-2017-04-07_17-42-56, I don't see the groupby picker. I can only see it after refreshing the page.

Chrome version:
Mac Version 58.0.3029.96 (64-bit)

**Found:**
<img width="720" alt="screen shot 2017-05-05 at 3 47 37 pm" src="https://cloud.githubusercontent.com/assets/911877/25761889/6efc7b

[2017-05-05 19:53] nedn commented on #3541
@eakuefner @benshayden

[2017-05-05 20:16] zeptonaut commented on #3365
Great! Simon, do you have any idea what the expected time from data
stoppage to stoppage alert is now?

On Fri, May 5, 2017 at 11:39 AM, simonhatch <notifications@github.com>
wrote:

--

Charlie Andrews |  Software Engineer |  charliea@google.com

[2017-05-05 20:19] simonhatch commented on #3365
The new run I think only takes a few hours to go through all entities, and runs every 2 days.

[2017-05-05 21:04] zeptonaut commented on #3365
Okay, good to know. Thanks Simon!

On Fri, May 5, 2017 at 4:19 PM, simonhatch <notifications@github.com> wrote:

--

Charlie Andrews |  Software Engineer |  charliea@google.com

[2017-05-08 08:25] ulan opened #3542 "Perf Dashboard: 500 Internal Server Error"
Creating a bug for an alert fails with:
"500 Internal Server Error
The server has either erred or is incapable of performing the requested operation."

I noticed the problem last week, when some request would fail with 500. Now it seems all requests are failing.

[2017-05-08 13:30] nedn commented on #3540
This is because the test is disabled on Linux, I think: "https://cs.chromium.org/chromium/src/third_party/catapult/telemetry/telemetry/internal/actions/play_unittest.py?rcl=d9a69250dacb324c594020c53e62097a6bb37569&l=23"

I can run the test with `./bin/run_tests --browser=system  PlayActionTest.testPlayWithNoSelector --also-run-disabled-tests`.

Sorry for the confusion, I will add something to logg