[2017-01-11 17:17] anniesullie commented on #2830
Workaround set to default version, longer-term fix still in progress.

[2017-01-11 18:32] natorion commented on #2830
I checked the staging server and it seems to work. Thanks!

[2017-01-11 19:53] ehanley324 commented on #2865
so today is my last day.  I have a CL that outlines the basic solution (https://codereview.chromium.org/2624143004) , but my upload of the zips to cloud storage isn't working correctly in my script, so here are the entries for the binary_dependencies.json once the correct hash is generated.

    "cv2": {
      "cloud_storage_base_folder": "binary_dependencies",
      "cloud_storage_bucket": "chrom

[2017-01-11 20:15] jessimb opened #3141 "Speed Releasing Dashboard Feature"
This is a tracking bug to track the speed releasing effort.

[2017-01-11 21:13] #3104 closed

[2017-01-12 11:19] chromy opened #3142 "Register ChromeUserFriendlyCategoryDriver as a FixedColorScheme"
This would let us merge the two code paths in tracing/tracing/value/ui/breakdown_span.html
See crrev.com/2477683002

+@benshayden

[2017-01-12 13:14] anniesullie commented on #3128
@eakuefner @benshayden @jessimb This is a super useful sheriffing feature. We already pipe some documentation from benchmark comments through to the test description, and it would be really cool to pipe a "what to do if you regressed this benchmark" link through as well.

@dave-2 @simonhatch This is an example of where we'd use the data pipe in pinpoint (or probably short-term we could do this in

[2017-01-12 15:22] simonhatch commented on #3128
Sure easy enough, which tests, system_health/memory.*?

[2017-01-12 15:26] anniesullie commented on #3128
Short term we can do it by test name. Long term the `TestMetadata` entity in the datastore should store the link.

@primiano @perezju what are the test suites we should add this documentation to?

[2017-01-12 15:37] perezju commented on #3128
Let's add the link for both:

* `system_health.memory_*`
* `memory.top_10_mobile*`

In it's current form the page might be a bit confusing for people landing there because of a `memory.top_10_mobile` regression, but I can add a new small section detailing the few differences and particularities of that benchmark.

[2017-01-12 16:14] simonhatch commented on #3135
@eakuefner since I vaguely recall he was looking into something similar for addPoint

[2017-01-12 20:45] simonhatch commented on #3134
File cleanup step has landed, and that bot is behaving nicely now. I'll close this.

[2017-01-12 20:45] #3134 closed

[2017-01-12 22:46] benshayden opened #3143 "Perf Dashboard: New Bug -> "No bisect automatically started. Invalid &#34;good&#34; revision: 1483535434.""
When sheriffing regression alerts, sometimes the New Bug button will file a bug, display that error message, but fail to start a bisect. This failure might be restricted to internal bots.

Clicking the Bisect button after filing the bug successfully starts the bisect, so this seems to be separate from the causes found in #2971 , but I'm not sure.

(As a separate but related issue, the html tag cod

[2017-01-13 04:10] amalphonse commented on #3018
Hello,

I am first time looking to contribute. Does this project still need help?

[2017-01-13 05:36] anniesullie commented on #2887
Wrote up a [design doc](https://docs.google.com/document/d/1HCoC__FPYwnuZRmnA-cmi6kKoWGq8YlFU9y3KRFbFnU/edit#). I'm hoping to optimize the queries in graph_json tomorrow.

[2017-01-13 15:23] simonhatch commented on #3143
haha nice :)

Probably the same issue, #2971 dealt with no auto-firing a bisect after New Bug, so it sounds the same but I'll grab this and look into it.

[2017-01-13 15:24] anniesullie commented on #3143
Wait, Ben, I thought the bisect **was** automatically kicked?

[2017-01-13 16:49] nedn commented on #2826
Hmhh,  for each trace file, the subtraces are stored as `{"subTraceName": <subTraceData"}`, I think we can't enforce the order for dictionary keys?

[2017-01-13 17:18] zeptonaut commented on #2826
We do?!? That seems crazy. I certainly don't see a reason why that should be the case.

[2017-01-13 17:42] nedn commented on #2826
@zeptonaut I believe what @chiniforooshan is asking is whether we can require the subtraces in a trace to be ordered according to their import priorities (right now we don't).

[2017-01-13 17:50] zeptonaut commented on #2826
Ahhh, okay, I see. @natduca, do you know what sorts of cases import order is important? It seems like, in an ideal world, importing traces in any order should yield the same result. I know that part of the point of a fixed import order is to guarantee that importing the same trace multiple times will give the same result, which @chiniforooshan's idea of importing the traces in the order that they

[2017-01-13 18:03] chiniforooshan commented on #2826
It's not impossible given that we have control over the JSON creation part on the chromium side,

but I get your point :p. It will be a difficult.

That's a good question. The current order is trace events < ftrace < everything else.

[2017-01-13 18:08] zeptonaut commented on #2826
To be clear, I don't think it's an unreasonable goal for traces to be able to import correctly *regardless* of their order, which would also work in the world that you suggested. I'm just saying that to move control of deciding import order from trace viewer to Telemetry doesn't seem like a good idea because, from Telemetry's point of view, it should just an implementation detail of trace viewer.

[2017-01-13 18:24] zeptonaut commented on #3026
I've always understood instantiation tests to have two purposes:

1. Allow future people who are going to change that component to have a testbed to verify those changes didn't break anything (not useful for automated regression testing)
2. Act as a sort of `assert.doesNotThrow` for the behavior in the test.

[2017-01-13 18:27] eakuefner commented on #3026
I'm still a little unclear on what you mean by 2. Maybe some examples would help? Unit tests should not throw by definition, right? Because if they do, they fail.

[2017-01-13 18:36] zeptonaut commented on #3026
Also, just to be clear: I'm not 100% clear on what an instantiation test is either. I'm guessing that the main purpose of an instantiation test is just to provide playground for future people who might like to change the UI component to see the effects of those changes, and that the reason that they shouldn't make assertions is that there should be other, non-instantiation tests that programmatica

[2017-01-13 20:06] natduca commented on #2826
Maybe we could just do multiple deompression passes in that case? E.g. we go through the traces, decompressing multiple times?

Seems like we want to go

Import(files) produces array of Restartable Streams. restartable streams you can read(), eof(), and rewind to zero and do again. The restartable streams are the leaf nodes of our data --- eg traceevent, etc. As part of that we'd construct an orde

[2017-01-13 22:01] #2972 closed

[2017-01-13 22:01] #2955 closed

[2017-01-13 23:50] benshayden opened #3144 "Translate Histogram from Javascript to Python."
@eakuefner

We're going to be parsing HistogramSet JSON on the dashboard, which cannot run javascript, and story-specific metrics #3078 will be adding Histograms to traces in Python.

[2017-01-16 09:41] perezju commented on #2906
Will this stop tagging milestones on bugs for clank alerts? That would be a regression from our point of view.

[2017-01-16 11:41] perezju commented on #3028
I started to work on [step 5 above](https://github.com/catapult-project/catapult/issues/3028#issuecomment-264153603), but it got really murky because of the API change needed, and how tricky it is  to be find the clients that need updating. It all gets extra confusing since, even before starting this cleanup, there were be several methods named, e.g., `EvaluateJavaScript` all with different interf

[2017-01-16 17:31] primiano commented on #2826
[code]

I don't remember the actual file format, but I remember we agreed to use a zip (or tar, or whatever format) as you say and have the various traces inside the container. There is a @zeptonaut's doc somewhere, I'm sure.

Also please let's not add more conceptual coupling between chrome and the importers (about enforcing order of keys). Remember the [Principle of Least Surprise](https://en.wi

[2017-01-17 16:13] anniesullie commented on #2906
@jessimb Can you take another look? How did this previously work for clank, since it used timestamps for revs?

[2017-01-17 16:26] perezju commented on #2906
Note sure how it was implemented, but this is an example of a [clank bug](https://bugs.chromium.org/p/chromium/issues/detail?id=655135) that somehow was auto-tagged with the correct milestone number.

[2017-01-17 16:27] anniesullie commented on #2906
Thanks, Juan!

[2017-01-17 18:51] jessimb commented on #2906
What I suspect is happening here is the opposite of V8's problem - the revision that is being passed in from the Anomaly is 1476193324, much too high to be a Chromium commit revision number. The algorithm decides which milestone branching point is closest to that revision, so in this case it will always choose the highest (Dev) version. If that happens to be correct each time, that is just a happy

[2017-01-17 18:55] anniesullie commented on #2906
@perezju: Does that explanation sound correct to you?

If that's what's happening, maybe we should check for a specific named commit (`r_chromium_commit_pos` or whatever it is named in these `Row` entities). That should work for all waterfalls that support chromium commit positions.

[2017-01-17 19:04] jessimb commented on #2906
At this point, we only have the `Anomaly` key; is there a way to trace that back to the `Row`? As far as I can tell, we can only glean information about where the `Anomaly` comes from via the `test` and `sheriff`.

[2017-01-17 19:24] zeptonaut commented on #2826
I think [this](https://docs.google.com/a/chromium.org/document/d/1a8c0tQGlwQapTruWoJTQz8n3kjwIcPnx4mnCBvi_guI/edit?usp=drive_web) is the doc that @primiano is talking about.

I agree that the multipass decoding sounds reasonable, although I freely admit that I don't know enough about how gzip compression works to understand the performance implications of such a strategy. We definitely need to loo

[2017-01-17 19:26] primiano commented on #2826
Right but IIR typically the importer logic need to read only the very few bytes. So we'd end up decompressing just the first bytes of the stream, until we get what necessary to make the decision, which should be really fast.

[2017-01-17 19:28] #3143 closed

[2017-01-17 19:31] zeptonaut commented on #2826
Yep, that sounds right to me. When deciding if a given importer can handle a given trace stream, some way to say "no need to feed me the rest of the trace, I am [not] the correct importer for this trace" is absolute necessary. I could see something like:

[code]

[2017-01-17 20:39] benshayden commented on #3143
The bisect was not being automatically kicked off when I filed the bug, but it did start when I clicked the Bisect button.

Also, I was only seeing this issue on the internal bots, which use git hashes instead of revision numbers, IIUC.

[2017-01-18 00:46] jbudorick opened #3145 "Support a public DeviceUtils fake"
DeviceUtils can be difficult for users to use in tests. Investigate supporting a fake.

[2017-01-18 00:55] kenrussell commented on #3122
CC'ing @jbudorick @zhenyao .

We are running into this frequently when trying to run the WebGL 2.0 conformance tests locally against a Google Pixel phone.

We noticed the following error:
<pre>
(WARNING) 2017-01-17 16:52:03,433 gpu_integration_test._RestartBrowser:47  Restarting browser due to unexpected test failure
(WARNING) 2017-01-17 16:52:03,768 gpu_integration_test.StartBrowser:29  Starting

[2017-01-18 01:05] nedn commented on #3122
Probably due to @perezju 's work to change the command-line flag on Android.

[2017-01-18 01:34] kenrussell commented on #3122
Thanks @nedn . Could you find an owner for this bug? To reproduce, just install Chrome Canary on a Google Pixel, plug it in, and run:

<pre>
./content/test/gpu/run_gpu_integration_test.py webgl_conformance --browser=android-chrome-canary --webgl-conformance-version=2.0.0
</pre>

After a few tests, one will fail, and the harness will tear down the browser and attempt to bring it back up. The bringu

[2017-01-18 03:08] dave-2 opened #3146 "Pinpoint core try logic and failure handling"
Running Quests, passing data from the Job to the Executions, handling of failures within Executions.

[2017-01-18 03:09] dave-2 commented on #2891
#3146 for core logic and failure handling.

[2017-01-18 04:21] randomascii opened #3147 "trace2html files always give "Could not find an importer for the provided eventData." on import"
I've just tried running trace2html on three different .json.gz files saved by chrome://tracing, using both canary and stable to save and try loading the results. In all three cases when loading the .html file I got:

Import error
Could not find an importer for the provided eventData.

One of the json.gz files, saved from canary with virtually zero tabs open, is attached.

[trace_test.json.gz](http

[2017-01-18 10:03] perezju commented on #3122
I'll look into this. Does it also reproduce on other devices? Which Android version is there on the phone?

[2017-01-18 10:24] perezju commented on #2906
Ah! Yes, you are right Jessi, this used to work for clank "by accident". As Annie points out the correct solution would probably involve plumbing the revision values through so that `r_commit_pos` is available on the anomalies. This might be needed anyway for the sort of things requested in #3014.

[2017-01-18 11:04] perezju commented on #3122
The `hung_browser.txt` log seems to be from before my changes were introduced (it still uses `android_command_line_backend` rather than `flag_changer`).

Setting up a phone now to see if I can reproduce locally.

[2017-01-18 15:03] anniesullie commented on #2906
Yep! @perezju is right, `r_commit_pos` is set for all these revisions. I verified that using that should be safe for v8 data; they seem to send just `r_v8_git` So switching the code to:

1.  Get the alert (I think you could move [this code](https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/models/stoppage_alert.py#L51) to the base class)
2. Check `r_commit_pos`

[2017-01-18 15:30] anniesullie commented on #3147
@benshayden Can you take a look?

[2017-01-18 19:13] kenrussell commented on #3122
I've seen this both on a Nexus 5X running:
bullhead-userdebug 6.0.1 MTC19V 2862947 dev-keys

as well as a Google Pixel running:
marlin-userdebug 7.1 NME60B 3231051 dev-keys

[2017-01-19 06:04] benshayden commented on #3147
Confirmed.

Workaround: it works if you gunzip the trace json before running trace2html.

The console says
[code]
which points to [this line](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/importer/import.html#L151)
[code]

There aren't any suspicious recent changes in tracing/tracing/importer. There are a few recent changes in extras/importer that could possibly be relat

[2017-01-19 10:57] chromy opened #3148 "results.html broken for system_health.memory_desktop"
For example the following command:

[code]

Generates a results.html file which gets stuck on 'Loading Histogram 6000 of 9186'
with the following stack trace:

[code]

This seems to be due to trying to build a histogram from a dict without a unit:

[code]

[2017-01-19 10:59] chromy commented on #3148
I'll look further today, we should probably add the unit to that histogram. @benshayden @gkraynov

[2017-01-19 12:12] benshayden commented on #3148
That's not a histogram, that's a shared diagnostic. It's confused because IterationInfo was recently renamed to TelemetryInfo. Do you need the data in that file, or can you re-run the benchmark? If you need the data, then I can alias IterationInfo for backcompat.

[2017-01-19 12:16] perezju opened #3149 "Catapult autoroller stuck for +24 hours"
Looks like the autoroller has been stuck and unable to roll changes into chromium for over a day now.

The [last successful roll](https://codereview.chromium.org/2635413002) went until [cfcae9b97](https://codereview.chromium.org/2635283003), and it started failing when trying to roll [c3ec514d8](https://codereview.chromium.org/2639203002/) "[telemetry] Bullet proof scroll.js".

@chromy can you dou

[2017-01-19 12:21] chromy commented on #3148
Ah I see, thanks! I was getting kind of confused looking at that json.
We can easily re-run the benchmark, but I think we're running ToT Chrome and catapult.
Should it be working currently given that configuration?

[2017-01-19 12:34] chromy commented on #3149
It seems very likely since it fails in tests that do some scrolling although I can't see the specific error case I added. I will revert the change.

[2017-01-19 14:27] agrieve opened #3150 "Allow alerts to specify bug template"
This would be really useful for things like `resource_sizes` alerts, where basically none of the bugs should be Restrict-View-Google, where starting a bisect is often unnecessary, and where the most important thing is to point people a the [how to deal with these alerts](tools/perf/docs/apk_size_regressions.md) page.

[2017-01-19 15:41] perezju commented on #3149
... aaaand [we've got a roll](https://codereview.chromium.org/2642083002)!

Still would be good to figure out why this wasn't caught earlier.

[2017-01-19 16:22] anniesullie commented on #3150
@eakuefner @simonhatch

[2017-01-19 17:25] benshayden commented on #3148
ToT catapult [should not be producing](https://github.com/catapult-project/catapult/search?utf8=%E2%9C%93&q=IterationInfo) new IterationInfos.

Did you have a pre-existing results.html that contained IterationInfo before you ran the benchmark? Existing results are preserved unless you pass --reset-results to run_benchmark.

I thought of another fix instead of maintaining an alias in the code for b

[2017-01-19 17:31] chromy commented on #3148
Yep that was the issue. Thanks Ben!

[2017-01-19 17:31] #3148 closed

[2017-01-19 19:20] jreck opened #3151 "systrace fails to extract thread names"
The switch to self._device_utils.RunShellCommand broke extract_thread_list and extract_tgids in atrace_agent.py

[2017-01-19 19:44] Alex319 commented on #3061
I'm currently working on a different task but as soon as I'm finished, I'll get back to this.

[2017-01-19 19:44] jessimb commented on #2906
I see that we use `start_revision` when trying to figure out which milestone the alert may belong to [(relevant code)](https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/file_bug.py#L228). But, to find the `Row` associated with the alert, we must look it up via `end_revision`. In the interest of code complexity, @anniesullie thinks (and I agree) that we should be using th

[2017-01-19 20:43] #3151 closed

[2017-01-19 21:25] achuithb commented on #3028
I've filed https://bugs.chromium.org/p/chromium/issues/detail?id=682812 to handle this in chromeos.

I'm planning on writing a wrapper method so we don't have to do this rename twice.

[2017-01-20 01:37] kenrussell opened #3152 "Intermittent timeouts in InspectorBackendList.GetBackendFromContextId"
In http://crbug.com/682819 intermittent timeouts are being seen when connecting to a newly launched web browser on macOS.

The relevant error appears to be the following:

Traceback (most recent call last):
  _RunGpuTest at content/test/gpu/gpu_tests/gpu_integration_test.py:68
    self.RunActualGpuTest(url, *args)
  RunActualGpuTest at content/test/gpu/gpu_tests/pixel_integration_test.py:129
    s

[2017-01-20 01:38] kenrussell commented on #3152
CC'ing @perezju and @randalnephew who seem to have worked on this code recently.

[2017-01-20 19:34] quisquous opened #3153 "Remote tracing closes trace window immediately after capturing trace"
Immediately after I finish a trace on a remote device, the trace tab closes.  It looks like adb briefly loses connection as the remote target listing on the chrome://inspect/?tracing#devices page refreshes as this happens.

I am trying to debug an issue on my nexus 5x at ToT (r444862).  Both the ChromePublic android build and my local Linux release build are at that revision.

From the chrome://in

[2017-01-20 22:30] benshayden opened #3154 "Add a separate option to run_benchmark to control whether to save traces."
Currently, `run_benchmark --output-format=json` has the side-effect of saving traces, and is the only way to accomplish this effect. This is undiscoverable and consistently confusing users, only most recently @shubhie .

I was about to write that it's impossible to generate html or csv results while saving traces (so you'd have to do this in two steps: `run_benchmark --output-format=json` then `ru

[2017-01-23 15:24] nedn commented on #3154
Please refer to https://github.com/catapult-project/catapult/issues/2483#issuecomment-233019161

[2017-01-23 15:25] nedn commented on #2483
@benshayden

[2017-01-23 15:25] nedn commented on #3154
Duplicate this to #2483

[2017-01-23 15:25] #3154 closed

[2017-01-23 16:52] benshayden commented on #2483
Can you update the title of this bug to reflect the plan to support traces, videos, and screenshots as well as crash dumps? That would make this bug easier to find. :-)

[2017-01-23 17:33] perezju commented on #2906
Yeah, no objections from here.

I've sometimes found `start_revision` to be a bit strange anyway. As far as I can tell it's something like the `end_revision` of the previous point `+ 1`, which doesn't always make sense (e.g. when these "revisions" are in fact timestamps).

[2017-01-23 18:13] #3003 closed

[2017-01-23 18:15] Alex319 commented on #2994
Just going through old bugs to check their status. Just checked dashboard and it appears this bug was fixed a while ago.

[2017-01-23 18:15] #2994 closed

[2017-01-23 18:15] #2915 closed

[2017-01-23 18:16] #2895 closed

[2017-01-23 18:16] #2867 closed

[2017-01-23 18:16] #2785 closed

[2017-01-23 18:18] benshayden opened #3155 "Add Segments to the UserModel"
Currently, the UserModel contains only UserExpectations.
Due to the messy nature of reality, UserExpectations can overlap.
This can make them difficult for some metrics to process.
Some metrics need a UserModel-level data structure that does not overlap. For example, the power and v8 metrics accumulate samples based on the current UserExpectation. Where multiple UEs overlap, samples are added to m

[2017-01-23 18:25] #2664 closed

[2017-01-23 18:25] #2597 closed

[2017-01-23 18:25] #2535 closed

[2017-01-23 18:26] Alex319 commented on #2371
Just going back through old issues and checking their status. It looks like this was renamed a while ago.

[2017-01-23 18:26] #2371 closed

[2017-01-23 18:26] #2361 closed

[2017-01-23 18:27] #2314 closed

[2017-01-23 18:27] #2300 closed

[2017-01-23 18:28] #2291 closed

[2017-01-23 18:28] #1820 closed

[2017-01-23 18:29] #2730 closed

[2017-01-23 18:29] #2673 closed

[2017-01-23 18:30] eakuefner commented on #3144
Is this done?

[2017-01-23 18:47] benhenry commented on #2906
end_revision sounds correct to me as well since we have a single git
revision/hash per branch per project.

Ben

On Mon, Jan 23, 2017 at 9:33 AM Juan A. Navarro Pérez <
notifications@github.com> wrote:

[2017-01-23 18:50] benshayden commented on #3155
@nedn @zeptonaut @tdresser

[2017-01-23 20:28] eakuefner commented on #3144
Thank you for the update!

[2017-01-23 21:23] Alex319 commented on #2762
This has been on the dashboard for a while (e.g. battor.tough_video_cases / chromium_rel_mac_retina / video_animation.power_avg).

[2017-01-23 21:23] #2762 closed

[2017-01-23 21:31] Alex319 commented on #2538
It looks like this setill needs to be done. Probably, rather than using the decorator it might be better to do:

with trace_event.traced("NameOfFunction", agent=<name_of_agent>)

[2017-01-23 21:47] Alex319 commented on #3061
After looking at this further, we determined that the best course of action here is to leave it up to the histogram to handle the case where there are zero samples in the histogram. Currently, the histogram seems to be doing the correct thing in this case: just not reporting anything in this case for mean, standard deviation, or variance.

[2017-01-23 21:47] #3061 closed

[2017-01-23 22:08] eakuefner commented on #3150
This seems like a great use case for the upcoming histogram pipeline; I'm going to make a hotlist to start collecting use cases like these.

[2017-01-23 22:20] benshayden commented on #2538
@nedn already did something along these lines using a metaclass to cover more methods with less code: https://github.com/catapult-project/catapult/commit/6dd81149598a684d96bdf3cd482e004580ea040a

What parts of telemetry still need to issue trace events?

[2017-01-23 23:36] benshayden opened #3156 "Delete hazardMetric."
System Health metrics evolved away from this idea, and Lighthouse incorporated the ideas differently, so this is dead code.

@paulirish @nedn @eakuefner

[2017-01-23 23:37] eakuefner commented on #3018
Thanks for your interest, but this bug is just about fixed pending a couple CLs from an external contributor that are still in flight. Assigning myself just to clarify that this bug is owned.

[2017-01-23 23:44] eakuefner commented on #3135
I can't see any logs; maybe they've disappeared.

@simonhatch what dashboard endpoint is this? I'm interested to peruse the logs myself.

@benhenry Who should I CC/what Chromium component should I use to file a bug about putting Logdog links in the bisect build steps?

[2017-01-23 23:45] eakuefner commented on #3128
@simonhatch looks like this is probably fixed for now, right?

[2017-01-23 23:47] simonhatch commented on #3135
Check dashboard logs for /add_point from around Jan 6, 2017

[2017-01-23 23:48] simonhatch commented on #3128
I assumed we were keeping it open for the long-term solution of storing this kind of data in TestMetadata.

[2017-01-23 23:48] eakuefner commented on #3135
Dumb question: when does bisect call add_point? I thought add_point was exclusively used to add new timeseries points.

[2017-01-23 23:49] eakuefner commented on #3128
Sounds good, I can add this to the histogram pipeline blocker tree I'm building.

[2017-01-23 23:49] simonhatch commented on #3135
Doh! I have /add_point on the brain since I was looking at it a few minutes ago.

I believe it would be /post_bisect_results

[2017-01-23 23:50] benhenry commented on #3135
Infra>Platform>Logdog, but I'd prefer all bugs be in crbug.com :)

On Mon, Jan 23, 2017 at 3:48 PM Ethan Kuefner <notifications@github.com>
wrote:

[2017-01-23 23:53] eakuefner commented on #3135
Bug filed: https://bugs.chromium.org/p/chromium/issues/detail?id=684149

Thanks!

[2017-01-24 00:17] zeptonaut opened #3157 "EventSet.push() should accept multiple events (like Array.push())"
I've seen multiple times now where this would have been useful. The fact that it doesn't is just dumb.

[2017-01-24 05:47] benshayden opened #3158 "Move longTasksMetric out of system_health/"
This metric isn't used by any benchmarks, but it is a great demo of the APIs and UI.
I think it's also a useful trace viewer feature to have all of the long tasks measured and collected so you can drill down into them.

@nedn @eakuefner

[2017-01-24 13:26] nedn commented on #3158
How is this related to expected input latency metric? Maybe diagnostic metric?
@tdresser

[2017-01-24 13:32] tdresser commented on #3158
If anything, this is a diagnostic of Expected Queueing Time.

I agree that this is a useful trace viewer feature. Once we've shipped the long tasks web perf API, developers will need to be able to quickly find all their long tasks, and we may want something like this built into devtools.

[2017-01-24 17:24] benshayden commented on #3158
If this will be a diagnostic of EQT (which is a SH metric IIUC), then should it stay in system_health/?
If so, then you can close this. :-)

[2017-01-24 17:28] nedn commented on #3158
Maybe retitle this to "modifying long task metric to be diagnostic of EQT"?

[2017-01-24 17:39] benshayden commented on #3158
I think it would make sense to keep longTasksMetric as a top-level metric as well as adding it as a diagnostic of EQT, so that it can remain a top-level feature of trace viewer. Any objection?

Does @ulan or @deepanjanroy own EQT?

[2017-01-24 17:51] zeptonaut commented on #2826
@chiniforooshan, any update on this? (This is a blocker to collecting some system health metrics that we want, like the cpu_time_metric.)

[2017-01-24 17:58] benshayden opened #3159 "Refactor UserExpectationVerifier"
Currently, user_model_builder_test.html uses UserExpectationVerifier to make various assertions about UserExpectations and Segments produced for various Models.
UEV allows the test to make a great number of assertions with relatively little code, and can make it difficult to figure out which particular assertion is failing. If anything ever breaks, it will be difficult to debug.
When this test was

[2017-01-24 18:07] chiniforooshan commented on #2826
I have a prototype. I will try to send the first patch today.

Note that for this first version, I implemented an in-memory version of "TraceStream", that keeps 1 copy of the trace in memory. It will let us process traces that are larger than 264M but fit in memory. It does not supporting streaming larger-than-available-memory traces for now because of the the Vinn mode: I don't think d8 has an AP

[2017-01-24 18:42] nedn commented on #2826
@chiniforooshan note that we have about 8Gb of heap size for vinn (https://github.com/catapult-project/catapult/blob/master/tracing/tracing/mre/map_single_trace.py#L101), so the memory usage shouldn't be that big of a problem as long as you make sure we don't leak the memory of the raw trace after it's fully parsed.

[2017-01-24 19:17] zeptonaut commented on #2826
+1 to what @nedn said. I think the goal right now is to get things working when the trace is longer than 268M characters unzipped but still fits in available memory.

[2017-01-24 19:20] zeptonaut commented on #2538
Looking at @nedn's CL, I don't see anything about tracing starting and stopping tracing, which is what @Alex319 is aiming to do.

[2017-01-24 19:37] ZhilingHuang opened #3160 "Make Tests Runnable on Emulator"

[2017-01-24 19:41] jbudorick commented on #3160
This issue should obviously only track catapult-side changes; chromium-side ones should be tracked in the crbug you filed.

[2017-01-24 19:48] ZhilingHuang commented on #3160
Currently running instrumentation tests and gtests are not supported on emulators. This bug is created to track progress of supporting emulator.

[2017-01-24 21:26] Alex319 opened #3161 "Bug relating to scope in tquery"
In tquery.html, "selectEverythingAsTask" function, the container variable is in function scope, so you will create all the subtasks, then when the subtasks are executed it will look at the container variable then (after the loop has already been iterated through) and get the wrong value.

Currently all the tests work, but it seems like that's just because of luck. When I changed the CPU from being

[2017-01-24 22:35] perezju commented on #3152
Hmm, interesting, the error appears to happen when trying to list available tabs in the browser. Ned, any ideas?

[2017-01-24 22:45] eakuefner commented on #2818
I think this is fixed as of pretty recently, right?

[2017-01-24 22:46] #2877 closed

[2017-01-25 00:07] benshayden commented on #3147
@randomascii If you git pull in catapult, this should be fixed now. Please re-open if not. Thanks!

[2017-01-25 00:07] #3147 closed

[2017-01-25 11:30] chromy opened #3162 "Speeding up the heap dump view"
On large traces the 'top-down (heavy)' and 'bottom-up (heavy)' [heap dump view](https://screenshot.googleplex.com/aNOU8X29mxh) can take up to 15 seconds to load. It would be great if it was faster.

[2017-01-25 13:53] nedn commented on #3152
I have no idea & currently swarmed, so cannot investigate this issue.

@anniesullie

[2017-01-25 14:01] chromy commented on #3162
See go/heap-dump-viewer-perf (internal link)

[2017-01-25 14:05] anniesullie commented on #3152
@randalnephew do you have time to look into this?

[2017-01-25 16:20] tdresser commented on #3158
What exactly do you mean by top level metric?

I think that probably means different things in different contexts.

By top level metric in this case, you mean "easily visible in tracing"?

That sounds reasonable to me, along with adding it as an EQT diagnostic.

[2017-01-25 18:13] benshayden commented on #3158
Yes, sorry, I meant "registered metric", that isn't necessarily a source node of the metric graphical model depending on how the benchmark is configured, but is accessible directly in the metrics-side-panel.

[2017-01-25 18:16] tdresser commented on #3158
SGTM.

In terms of ownership, I expect dproy@ will likely end up owning EQT in general in the long term (if that's okay with ulan@), but ulan@ may have more ownership of it currently, as he did a bunch of work getting it working for v8 folks.

[2017-01-25 18:24] eakuefner opened #3163 "Instead of prefixing bugs filed from dashboard, apply a hotlist label"
Currently, when bugs are filed from the perf dashboard, we prefix them with "Perf dashboard:" which is a verbose and implicit way to tell that a bug was filed from the perf dashboard. Instead, we should probably just add them to "Hotlist:From Dashboard".

@anniesullie

[2017-01-25 18:31] eakuefner commented on #3072
Alright, this is fixed, right?

[2017-01-25 18:31] #3072 closed

[2017-01-25 19:18] anniesullie commented on #3163
The big problem is that many people filing bugs aren't project members, so the bug labels get dropped. The bugs often lack context without these labels.

[2017-01-26 00:10] benshayden opened #3164 "Allow selecting summary statistic in histogram-set-table"
Currently, the histogram-set-table always displays absolute averages or delta absolute averages when histograms are closed.
This makes it impossible to sort rows by percent delta, or any other statistic.
A single drop-down in the top-controls would allow displaying and sorting by alternative statistics.

@camillobruni @fmeawad

[2017-01-26 00:26] randomascii commented on #3147
I tested and the problem is fixed, although it has not yet made it to canary.

I found that I had to save the trace with a fixed browser - loading it with a fixed browser was insufficient.

Are there any tests to prevent this or some similar bug from returning? trace2html support is an important scenario.

[2017-01-26 00:47] zeptonaut commented on #3114
I lean towards Ned's point of view here. I still have minor PTSD from my past project where class/file names were apparently determined by rolling a D20, and having a hard rule to say "files that you can run look like verbs, files that are used by files that can run look like nouns".

I don't think that there's a hard rule about 1 file === 1 export within tracing: for example, [iteration_helpers.h

[2017-01-26 03:54] anniesullie opened #3165 "Catapult roll failing"
It's been failing since this roll: https://codereview.chromium.org/2649013003/

Which has this CL:
678cfd33a `nednguyen [Telemetry] Remove labels field from story.Story constructor & labels related flags`

From the [logs](https://build.chromium.org/p/tryserver.chromium.android/builders/linux_android_rel_ng/builds/218106/steps/telemetry_perf_unittests%20%28with%20patch%29%20on%20Android/logs/stdio)

[2017-01-26 07:36] #3097 closed

[2017-01-26 07:37] #3045 closed

[2017-01-26 07:37] #3044 closed

[2017-01-26 07:37] #3043 closed

[2017-01-26 07:37] #2852 closed

[2017-01-26 07:38] #2973 closed

[2017-01-26 07:39] #2943 closed

[2017-01-26 07:47] #2844 closed

[2017-01-26 07:49] #3155 closed

[2017-01-26 07:50] #3124 closed

[2017-01-26 11:47] nedn commented on #3165
Should be fixed with https://codereview.chromium.org/2658033002/

[2017-01-26 11:47] #3165 closed

[2017-01-26 17:10] simonhatch commented on #2771
Picked this up yesterday, WIP: https://codereview.chromium.org/2650683007/

StackDriver seems to suggest this implementation takes 1300 ms vs 9950 ms (old) for 53 alerts.

[2017-01-26 18:10] paulirish opened #3166 "Invalid proto expectation"
Downstream bug report originally coming from https://github.com/paulirish/pwmetrics/issues/39

seeing logs like:
[code]

Trace attached here: [elitedaily.com_2017-01-26_09-54-13-0.trace.json.gz](https://github.com/catapult-project/catapult/files/733140/elitedaily.com_2017-01-26_09-54-13-0.trace.json.gz)

[2017-01-26 20:54] #3161 closed

[2017-01-26 21:40] eakuefner commented on #3163
Ah, not much to do here then.

[2017-01-26 21:40] #3163 closed

[2017-01-26 21:49] perezju opened #3167 "Telemetry won't work with a remote device"
I guess this is probably not a common use case, but it used to do the trick for me before while working from another office, but it no longer does.

Appears to be an issue with the way the new forwarding mechanism (TsProxy, etc.) works.

[code]

As an aside, Telemetry also doesn't seem to place nicely with OSX anymore. 😞

@nedn

[2017-01-26 23:03] Alex319 commented on #2904
It looks like this was done but not tested correctly; it didn't work. Will send commit that fixes the bug and adds a test case.

[2017-01-26 23:20] #3011 closed

[2017-01-27 00:09] perezju commented on #3122
Some updates, I sat together with zmo@ today and we were able to reproduce the issue on a Pixel, but strangely not on my N5.

I confirmed that the command line is set up correctly, flag_changer reads back the cmd_line file from the device after writing it and it correctly reports finding the flags:

`'--disable-fre', '--no-default-browser-check', '--metrics-recording-only', '--ignore-certificate-e

[2017-01-27 00:14] dave-2 opened #3168 "Pinpoint UI for listing jobs"
UI for checking on the status of a Pinpoint Job

[2017-01-27 00:22] kenrussell commented on #3122
@perezju yes, @zhenyao and I can help with logging the actual command line read by Chrome.

[2017-01-27 01:36] primiano commented on #3122
@perezju there are two ways you can check if the command line actually makes it to chrome:
1) look at chrome://version/
2) if you grab a trace, the trace metadata has the cmdline (click the "M"  button in chrome://tracing after having loaded the trace)

[2017-01-27 02:02] dave-2 commented on #2891
#3168 for Job Status UI.

[2017-01-27 04:42] simonhatch commented on #3168
WIP CL: https://codereview.chromium.org/2650653010/

[2017-01-27 13:22] tdresser opened #3169 "Bisect can auto-assign bug to roller"
As a perf sheriff, I interpret a successful bisect as "You don't need to worry about this regression anymore until the assigned owner comments", and have sometimes missed that the assigned owner is a roller.

We should avoid auto-assigning bugs to rollers. e.g., https://bugs.chromium.org/p/chromium/issues/detail?id=685721#c5

I'm not certain all the autorollers contain "roller" in their email addr

[2017-01-27 13:22] tdresser commented on #3169
@simonhatch

[2017-01-27 13:35] anniesullie opened #3170 "Errors kicking bisects: "'NoneType' object has no attribute 'get'""
In [bug 685179](http://crbug.com/685179), wangxianzhu is getting 500 errors kicking off bisects. I can kick them just fine as sullivan. Was this a transient error in buildbucket service? Or something account-specific? @simonhatch can you take a look?

[code]

[2017-01-27 14:28] simonhatch commented on #3169
Definitely want to get to this, already tracking it here:
https://bugs.chromium.org/p/chromium/issues/detail?id=672130

[2017-01-27 14:28] #3169 closed

[2017-01-27 19:22] #3000 closed

[2017-01-27 23:03] #2904 closed

[2017-01-28 00:41] #3098 closed

[2017-01-28 02:12] zeptonaut commented on #2813
Closing this issue, as we've changed how the CPU track bins are computed to be dynamic.

[2017-01-28 02:12] #2813 closed

[2017-01-28 02:15] zeptonaut commented on #2835
Hey Ned: any idea if this got fixed? I don't remember seeing any of these recently.

[2017-01-28 04:56] shreab373 commented on #2015
hello I'm new i would like to work on this, could you guide me as to how to move ahead?

[2017-01-28 20:27] benshayden commented on #2015
Hi, sure!
First please see the [Contributor's guide](https://github.com/catapult-project/catapult/blob/master/CONTRIBUTING.md).

This bug has mostly been fixed, but there are a few lines in [chart_base_2d.html](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/ui/base/chart_base_2d.html#L328) that still need to be fixed to use `tr.b.lesserPower(minValue) - 1` from [math.html

[2017-01-29 19:45] BenoitZugmeyer commented on #3004
I just read the eslint/eslint#7510 comments and after a quick search I found this issue. I am the author of eslint-plugin-html , and I just released a new major version featuring all improvement I wanted to see within my plugin, including the --fix support. I hope it can help you and I'd love to have some feedback about this new version. I had to rewrite it nearly completely, and I wouldn't be sup

[2017-01-30 13:41] perezju opened #3171 "Switch default of exact option on device.KillAll to True"
Looking at some quick [code search](https://cs.chromium.org/search/?q=%5C.KillAll%5C%28&sq=package:chromium&type=cs), looks like pretty much all clients provide what would be an exact match for the process name to kill anyway. That also seems like the less surprising default behavior.

For example [perf_tracing_agent.py](https://cs.chromium.org/chromium/src/third_party/catapult/systrace/profile_ch

[2017-01-30 13:47] perezju opened #3172 "Check SELinux mode before running Telemetry"
On Android N, some Telemetry features require SELinux mode set to 0. Bots do this automatically during device provisioning, but developers are often faced with confusing error messages when the mode is not set appropriately.

We could make Telemetry either (1) give more meaningful error messages or (2) have Telemetry itself change the mode before running.

@nedn @primiano thoughts?

[2017-01-30 14:11] nedn commented on #3172
(2) sgtm. Just need to make sure that we can revert the SELinux mode to original state if that's possible.

[2017-01-30 14:20] jbudorick commented on #3171
I think both of your suggestions are reasonable, though I think I prefer the second one between the two. My primary concern with either change would be the clients that currently kill package names -- those are liable to have additional processes with the package name as a substring (e.g. org.chromium.chrome:sandboxed_process*).

[2017-01-30 15:18] perezju commented on #3171
Hmm, that's a good point. I'll probably need to have a careful look making sure not to break expectations of current clients.

[2017-01-30 15:18] jbudorick commented on #3172
@perezju bots don't disable SELinux during provisioning.

[2017-01-30 16:01] jbudorick commented on #3172
(FTR, @perezju pointed out to me where we do disable SELinux during provisioning in some setups.)

[2017-01-30 16:25] perezju commented on #3028
Ready to move on with the mass migration of clients to the v2 API (i.e. step 3 in plan above). Will probably do this in at least 5 batches as listed here: [use_deprecated_js_api.txt](https://github.com/catapult-project/catapult/files/739535/use_deprecated_js_api.txt).

[2017-01-30 19:43] eakuefner opened #3173 "We shouldn't throw KeyError if supplemental is not present"
While iterating on the content of my request (investigating #3108) I ran into an issue I've hit several times in the past, which is that `supplemental` is required even if you don't upload any supplemental columns. I don't think blowing up if a user doesn't pass supplemental is the right thing to do; instead we should .get('supplemental', {}).

[2017-01-30 20:28] eakuefner commented on #3108
Got to a breakthrough here: _ValidateRowId performs a _lot_ of gets that probably should either be eliminated or moved to add_point_queue's handler.

[2017-01-30 23:42] anniesullie commented on #3108
I haven't looked at these, but ideally the validation would not be moved to add_point_queue because then we can't give an error message if validation fails. If they cannot be eliminated or moved, the gets could be batched in a get_multi().

[2017-01-30 23:43] eakuefner commented on #3004
Thanks Benoît! We'll follow up at some point and let you know.

[2017-01-30 23:47] eakuefner commented on #3108
For context, this is for last revision checks. One thing there is, I'm not sure we should be doing that for all tests? Especially if you get to a point where you're trying to process some hundreds of histograms per upload, I feel that maybe we should not be getting every touched test in the `add_point` request.

It's mostly to enforce this heuristic that, for every test, the uploaded point shouldn

[2017-01-30 23:51] anniesullie commented on #3108
Ah, yeah, this test should only need to happen for one test at most.

[2017-01-30 23:56] eakuefner commented on #3167
Could be a Devil issue -- I think I recall that Devil only officially supports Linux as a host platform.

@jbudorick

[2017-01-31 00:03] eakuefner commented on #2906
`start_revision` vs. `end_revision` hurts my brain. I was talking to @jessimb offline about this and I wonder if that concept can be eliminated in favor of simply "here's the revision the alert is pegged at"?

Does anyone (or any code) actually use the fact that begin/end is a window for anything? Perhaps when grouping alerts it's good to show a range, but if each individual alert were simply tagg

[2017-01-31 00:06] anniesullie commented on #2906
You'd need to do a full search of the code to propose a refactor to remove all usages, but `start_revision` is a concept used in a lot of places, including alert overlap, tooltip UI, and alerts table UI.

[2017-01-31 00:48] zeptonaut commented on #3004
^^ what he said! Thanks for your hard work. Getting this working will have a huge impact in the health of our codebase.

[2017-01-31 00:51] jbudorick commented on #3167
Yeah, we don't officially support mac. If it works, great, but we don't make any claims.

That said, devil *should* work with the kind of port-forwarding you're trying to do.

[2017-01-31 09:08] natorion commented on #2289
The button is still not working. The error message is not shown anymore though.

When triaging alerts it would be a help to see the positive impact of a change e.g. https://chromeperf.appspot.com/group_report?sid=adc5f471c19c4cef3c43ea072df81a19dae14423100c76cd5e44e11a9a442b9c to assess if it is worth reporting.

Suggestion: Either remove the button altogether or make it working again. Currently i

[2017-01-31 09:39] perezju commented on #2906
Yes, the start/end-revision range also gives the list of CLs between two points and therefore the bisect range. And I think that you really need to reason about these ranges to make alert grouping work.

I believe the main source of confusion is, however, that these start/end-revisions are actually point ids and *not* necessarily revisions.

[2017-01-31 09:44] perezju commented on #3167
Yes, pretty sure devil does work (well `adb` does work, and most of devil is a wrapper around `adb`). I think the problem arises because, somehow, the port forwarding thing I'm doing via ssh clashes with the port forwarding that Telemetry is trying to set up between the host and device.

[2017-01-31 14:44] anniesullie commented on #2289
@jessimb @eakuefner @benshayden Can one of you take a look?

[2017-01-31 19:22] jbudorick commented on #3167
Oh, yeah, that doesn't work. Telemetry and/or devil would need to be able to tunnel additional ports over SSH to support that.

(gtests that require the spawned_test_server face the same problem w/ running remotely.)

[2017-01-31 19:57] #3156 closed

[2017-01-31 20:08] #3106 closed

[2017-01-31 20:15] #2982 closed

[2017-01-31 20:49] randalnephew opened #3174 "BattOr autoflashing is not working on windows."

[2017-01-31 22:51] ChrisCraik opened #3175 "UI thread in Systrace getting sortIndex cleared"
The UI Thread should always be ordered above RnederThread and the hwuiTasks, but something is clearing the sortIndex on that thread. It doesn't happen with every trace (couldn't trigger the behavior with "systrace.py view", but with default tags and longer traces it happens frequently.

![incorrectorder](https://cloud.githubusercontent.com/assets/384439/22487895/210b46da-e7c4-11e6-8c1a-fffbbfd2299

[2017-01-31 23:25] ChrisCraik commented on #3175
The bug is that the process's pid is a string type. Looks like this happens when the process is first created from a scheduling event - schedSwitchEvent() calls getOrCreatePid() by passing in tgid, a string.

Looks like JReck changed this recently - likely just missing a parseInt() call.

[2017-02-01 00:08] #2776 closed

[2017-02-01 00:41] #2683 closed

[2017-02-01 00:42] #2757 closed

[2017-02-01 00:43] #2663 closed

[2017-02-01 10:09] perezju opened #3176 "Benchmarks with SharedMobilePageState stories should not run on desktop platforms"
Benchmarks containing only stories backed by the `SharedMobilePageState` should be implicitly disabled for desktop platforms.

As a workaround, benchmarks now have to explicitly state:

[code]

@nedn

[2017-02-01 20:46] dave-2 opened #3177 "Support for Google Cloud Endpoints"

[2017-02-01 23:09] Alex319 opened #3178 "Power metric is computing Chrome bounds incorrectly"
The bounds of the "Chrome part" of the trace, which is used in some power metrics, is being computed incorrectly: it's only taking into account renderer processes and not browser processes.

[2017-02-01 23:37] #3049 closed

[2017-02-01 23:37] jessimb commented on #3049
This seems to have fixed itself. Closing.

[2017-02-01 23:41] jessimb commented on #2906
Closing this issue as it should be fixed now.

[2017-02-01 23:41] #2906 closed

[2017-02-01 23:46] jessimb commented on #3111
This is fixed now.

[2017-02-01 23:46] #3111 closed

[2017-02-01 23:57] CalebRouleau commented on #3111
What is the new limit on stoppage alerts?

[2017-02-01 23:58] jessimb commented on #3111
It will fetch up to 5000 and display up to 500. That goes for regressions and stoppage alerts.

[2017-02-02 14:08] sfiera commented on #3112
I now get an exception at [flag_changer.py:292](https://github.com/catapult-project/catapult/blob/c76f6de23ebfaa9817b4802085e064d0f4f4ab58/devil/devil/android/flag_changer.py#L292) if I pass an empty flag (e.g. ``adb_chrome_public_command_line --google-base-url=``).

(I do this because I set my flags through a script with variables declared at the top . Usually I don't want a different base URL, s

[2017-02-02 14:30] nedn commented on #3176
Yeah, back in the day, we rely on faking out user agent to run these mobile benchmarks on desktop. But I think it's totally not worth the bot time to run these.

[2017-02-02 14:39] perezju commented on #3112
Thanks for reporting. Just sent out for review a CL to fix this.

[2017-02-02 18:55] sunjianchromium opened #3179 "Identifying Single Page App navigations"
Single Page Apps (SPA’s) are becoming more prevalent on the web, but we currently don’t report performance information for in app navigations. In order for developers to optimize SPA navigations, we need to expose this performance data. For now, we only make effort on identifying SPAs that update their URL through History::pushState calls.

[2017-02-02 21:09] simonhatch opened #3180 "Dashboard - Update bot_whitelist?"
Noticed a lot of bisects get flagged with Restrict-View that seemingly shouldn't.

Digging into this a bit, seems like bots are auto-flagged as internal_only by default, and have to be whitelisted.

Querying for bots:
SELECT * FROM Bot WHERE __key__ HAS ANCESTOR Key(Master, 'ChromiumPerf')

Yields a list of bots that probably shouldn't be internal only:

name=android-webview-nexus5X
name=android-w

[2017-02-02 22:07] eakuefner commented on #3180
This seems fine to me. And yes, you'll have to use /change_internal_only afterwards, which will schedule the updates to be done asynchronously.

[2017-02-02 22:23] Alex319 opened #3181 "Refactoring of power_metrics"
This is the tracking bug for the CL to refactor power_metrics.html.

[2017-02-02 22:38] #3046 closed

[2017-02-02 22:40] benshayden commented on #3046
This was fixed by 540c2319b770c51f285bf293290ff911e34adc76

[2017-02-02 22:49] eakuefner commented on #2289
I think this is done.

[2017-02-02 22:49] #2289 closed

[2017-02-02 22:50] eakuefner commented on #3004
@zeptonaut as per https://codereview.chromium.org/2671663002 I assume you've tested this and it does work?

What was the trouble you were having getting it to work earlier?

[2017-02-03 01:52] aluochromium opened #3182 "disable and enable verify not working as expected"
I got disable verity errors, turned out needed a fix to the regex and device error logic:

[code]

[2017-02-03 01:54] jbudorick commented on #3182
@yoland68

[2017-02-03 01:56] jbudorick commented on #3182
On that note, @anniesullie can you add @yoland68 to catapult?

[2017-02-03 15:10] simonhatch opened #3183 "Dashboard - Potential perf improvements in find_anomalies"
These are done as a series of individual calls from /add_point queue, with each call being completely serial. This looks like it could be batched pretty easily.

See https://codereview.chromium.org/2650683007/ for an example.

[2017-02-03 15:52] zeptonaut commented on #3004
I was running into a few things:

- There's at least one case where eslint didn't know hot to fix [`no-multiple-empty-lines`](http://eslint.org/docs/rules/no-multiple-empty-lines) when there wasn't a closing `<script>` tag in the file
- There was a bug in our eslint wrapper script, `run_eslint`, that was preventing it from properly printing eslint's output. This is fixed in [this CL](https://coder

[2017-02-03 15:57] #3180 closed

[2017-02-03 16:01] eakuefner commented on #3004
Thanks for the explanation. I had thought rolling eslint itself might make a difference.

[2017-02-03 16:43] chromy opened #3184 "trace_viewer crashes when loading trace in background"
To repro:
1) Open a trace (e.g. http://localhost:8003/tracing_examples/trace_viewer.html#/tracing/test_data/lthi_cats.json.gz)
2) Quickly switch to another tab
3) Wait for trace to load without going back to the tab (the trace above takes ~15s)

Expected:
Should see trace as normal.

Actual:
Trace is blank because we hit an exception.

The stack trace is:
[code]

The problem is we call `Polymer.do

[2017-02-03 16:48] chromy commented on #3184
I have an extremely hacky fix [here](https://codereview.chromium.org/2671813006) but I think there is probably a better solution.

[2017-02-03 17:04] zeptonaut opened #3185 "RunEslint can't handle multiple --extra-args parameters"
`RunEslint` chokes when it's handed multiple `--extra-args` parameters, separated by a string:

For example, if you give it `extra_args='--fix --help'`, `--help` is ignored due to the escaping that `check_output` automatically does.

[2017-02-03 18:20] #3182 closed

[2017-02-03 18:48] zeptonaut opened #3186 "Enable no-else-return rule"
We should enable the eslint `no-else-return` rule.

Basically, it discourages the following pattern:

[code]

In this case, the `else` block around the `return z;` is unnecessary. This should remove one more thing to comment on in code review.

[2017-02-03 19:03] eakuefner commented on #3186
👍

[2017-02-03 19:19] ChrisCraik opened #3187 "Binder tracing should be on by default in Systrace"

[2017-02-03 19:32] simonhatch opened #3188 "Dashboard - Don't allow both identical good/bad revision for bisect."
From: https://bugs.chromium.org/p/chromium/issues/detail?id=688134#c5

[2017-02-03 19:33] benshayden opened #3189 "Object.entries() in vinn on windows"
Do we expect Object.entries() to work in vinn on windows? @zeptonaut @nedn

[code]

[2017-02-03 19:39] nedn commented on #3189
What is the minimal reproducible js code? I expect vinn to work the same on all platforms. It's possible that we just need to update d8 binary on windows

[2017-02-03 19:44] eakuefner commented on #3004
I think this is fixed!

[2017-02-03 19:44] #3004 closed

[2017-02-03 19:51] eakuefner commented on #3189
It would be good to add the minimal repro as a unit test, since this blocks #3031. @benshayden can you own that task? And who can help roll d8? Are there instructions?

[2017-02-03 20:18] nedn opened #3190 "Update websocket library in Telemetry to latest version."
We currently use version 0.14.0 whereas the latest one is 0.41.0. There are few flakiness that I doubt related to websocket, so hopefully by upgrade to the latest version, Telemetry is more stable.

@kenrussell @perezju @zeptonaut

[2017-02-03 20:22] zeptonaut commented on #3189
Yea... this is my fault. Notice how the Mac and Linux binaries were updated
in December, but the Windows one wasn't.
<https://cs.corp.google.com/github/catapult-project/catapult/third_party/vinn/third_party/v8/>
If
I remember correctly, the update_v8 script on Windows wouldn't run,
although I eventually fixed the problem, but just never submitted the code.
I'll make a note to myself to update it n

[2017-02-03 20:34] benshayden commented on #3189
Sounds like there's a plan to fix it, but in case anybody is curious, [here's a minimal repro](https://codereview.chromium.org/2670423002).

[2017-02-04 11:52] AP-whitehat commented on #2015
I have fixed this little issue , but I can't import math.html
git cl upload        gives this error
'''
In tracing.ui.base.chart_base_2d, the <link rel="import" href="/tracing/tracing/base/math.html"> cannot be loaded because it is not in the search path
'''

[2017-02-04 21:29] anniesullie commented on #2015
I made a demo CL with the import and it does not have that error: https://codereview.chromium.org/2676133002/

[2017-02-05 20:44] gurunathpr commented on #2478
How can I ( a beginner) get started on this
?

[2017-02-05 22:37] #3188 closed

[2017-02-05 22:37] #3094 closed

[2017-02-05 22:39] simonhatch commented on #2602
Done in #3094

[2017-02-05 22:39] #2602 closed

[2017-02-05 22:43] simonhatch commented on #2578
Been a lot of work around output, think this can be closed.

[2017-02-05 22:43] #2578 closed

[2017-02-06 18:52] CalebRouleau commented on #2923
Any update on this? We are still affected.

Thanks!

[2017-02-06 21:06] benshayden commented on #2015
Thanks!

[2017-02-06 21:06] #2015 closed

[2017-02-06 21:07] eakuefner commented on #2350
Closing; this is no longer part of our plan. We're working a datastore-based approach to handling histograms.

[2017-02-06 21:07] #2350 closed

[2017-02-06 21:15] eakuefner commented on #2830
Taking this from @Apeliotes since I'm actively working on the longer-term solution for this.

[2017-02-06 21:16] eakuefner commented on #2652
Stealing this from Kari; it's on my roadmap.

[2017-02-06 21:18] eakuefner commented on #2642
Again stealing this from @Apeliotes -- fixing this will come as part of the work I am doing on #2830.

[2017-02-06 23:36] eakuefner commented on #2478
@gurunathpr Take a look at the [comment above](https://github.com/catapult-project/catapult/issues/2478#issuecomment-233446743) where I describe what to do.

[2017-02-07 01:02] dave-2 commented on #3082
Fixed:
https://chromium.googlesource.com/chromium/tools/build/+/697de94d35a7fe46bb40df4553eab2abe3deece9
https://chromium.googlesource.com/chromium/tools/build/+/b90ff8c4df66510c03a4ca6db09ab5f5990e1a6a

[2017-02-07 01:02] #3082 closed

[2017-02-07 01:02] #3137 closed

[2017-02-07 01:02] #3087 closed

[2017-02-07 01:07] dave-2 commented on #2891
#3177 Get Cloud Endpoints in Catapult

[2017-02-07 01:08] dave-2 commented on #3177
Depends on #1407 Migrate to Google Cloud SDK

[2017-02-07 11:10] perezju commented on #3171
@case540

[2017-02-07 13:51] nedn commented on #3190
done.

[2017-02-07 13:51] #3190 closed

[2017-02-07 13:51] nedn commented on #3119
Done.

[2017-02-07 13:51] #3119 closed

[2017-02-07 14:25] vforvad commented on #3115
I'll take it

[2017-02-07 17:07] mythrialle opened #3191 "record_wpr does not report a failure when a page fails to load."
I get a 404 page not found error when recording the following web pages:
https://assembly.com/
https://www.coursera.org/
http://yapp.us
http://mattermark.com

I was using python version 2.7.6. The record_wpr itself does not throw any error, it says it passed all the tests.  Upgrading the python version to 2.7.13 fixes it. It is possibly related to this bug: https://github.com/chromium/web-page-rep

[2017-02-07 17:12] perezju commented on #3191
That [related bug mentions](https://github.com/chromium/web-page-replay/issues/73#issuecomment-233347611) that an error should be shown if the Python version is too low.

@nedn any idea why the error does not propagate to Telemetry?

[2017-02-07 18:33] asvitkine-chromium opened #3192 "Perf Dashboard: No way to see history on sizes perf graphs"
Chrome version: 55.0.2883.95 (Mac)
URL: https://chromeperf.appspot.com/report?sid=5c4d18bdb14187843fec230023fe424da08f127596cdd8ee17e1b54ebf68e8c9

Please copy and paste any errors from JavaScript console (Command+Option+J to open):

No errors in console

Please describe the problem:

No way to see history on graph. The bottom bar that usually has a green box indicating which timespan to select ha

[2017-02-07 18:59] case540 opened #3193 "GetDevtoolsRemotePort does not retry getting pid."
Some of the logic in GetDevtoolsRemotePort was switched around a bit in 2015 (something about making the function fail if there are more than 1 pid of the process we are looking for). During this change, the loop no longer does any retries for 2 reasons.

- The loop always breaks during the first iteration
- The logic to check if we already found the pid doesn't work properly

[2017-02-07 23:32] Apeliotes opened #3194 "Use a Renard Series for preferred numbers instead of the 1-2-5 series."
Preferred numbers are used to determine human-readable steps for labeling axes in trace viewer.

base/math.html uses the 1-2-5 series to get the closest preferred number larger than the specified minimum. This should be changed to use one of the more rounded Renard Series to pick the closest preferred number instead. R''10 would probably work well.

See https://en.wikipedia.org/wiki/Renard_series

[2017-02-07 23:46] benshayden commented on #3194
[preferredNumberLargerThanMin](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/base/math.html) is currently only used by [chart_series_y_axis](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/ui/tracks/chart_series_y_axis.html) and [timeline_viewport](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/ui/timeline_viewport.html)

[2017-02-08 13:17] hlundin opened #3195 "Perf Dashboard:"
Chrome version: 57.0.2987.19 (Linux)
URL: https://chromeperf.appspot.com/alerts?sheriff=WebRTC%20Perf%20Sheriff&sortby=test&sortdirection=down&improvements=true

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):
(none)

Please describe the problem:
The counter reports 806 alerts, but the list is empty.

![image](https://cloud.githubusercontent.com/assets/8982948/2273

[2017-02-08 16:04] anniesullie commented on #3195
I can't repro, I'm seeing 0 alerts (also logged in):

![screen shot 2017-02-08 at 11 00 18 am](https://cloud.githubusercontent.com/assets/4331931/22745358/3f2301be-edee-11e6-9f00-3db8ce5bd6b8.png)

Is it possible you triaged the alerts on another page or something?

[2017-02-08 16:06] simonhatch commented on #3195
Weird, I see the 806 alerts.

[2017-02-08 16:09] anniesullie commented on #3195
That is definitely weird! @simonhatch since you can repro, can you take a look? Steps I would take are:

1. Looking at XHR to server to see what data it is filling in
2. Adding logging (or server-side debugging, if you can get that to work)

[2017-02-08 16:31] hlundin commented on #3195
@anniesullie you have to hit "Show Improvements" too.

[2017-02-08 16:40] anniesullie commented on #3195
Oh I missed that, sorry! Could be related to https://codereview.chromium.org/2669893003/

Not sure if @jessimb is in today/tomorrow?

[2017-02-08 16:41] simonhatch commented on #3195
Dug into this, yeah it's just the showImprovements thing. I think @jessimb fixed it but we haven't deployed a new dashboard.

[2017-02-08 16:44] simonhatch commented on #3195
Confirmed: https://clean-simonhatch-f20052d2-dot-chromeperf.appspot.com/alerts?sheriff=WebRTC%20Perf%20Sheriff&sortby=test&sortdirection=down&improvements=true

[2017-02-08 16:45] simonhatch commented on #3195
New dashboard is live, closing this.

[2017-02-08 16:45] #3195 closed

[2017-02-08 18:36] zeptonaut commented on #2910
So it turns out... this is a lot harder to fix with regular expressions than I thought.

Thankfully, `--fix` now works with the HTML plugin, so we should definitely enable this after running eslint --fix with this rule enabled :-)

[2017-02-08 19:01] anniesullie commented on #3192
I took a look at this. In [chart-slider.updateSelection()](https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/elements/chart-slider.html#L161), if there are too many total data points, the green selection is so narrow that it doesn't render. It disappears at 279/53115 data points. So we want to pad the start/end index so that it it is a bigger ratio than that. @jessimb @s

[2017-02-08 20:09] benshayden opened #3196 "Consider supporting half-open intervals in Range"
Currently, Range contains min and max and that's it. Many of its methods have Inclusive and Exclusive versions, but there's no concept of half-open intervals, and some of its methods like filterArray don't have an Exclusive version.
Clients like v8 runtimeStatsMetric are having to hack around these deficiencies, resulting in code that may be fragile and requires commenting.

Here's a straw-man des

[2017-02-08 20:25] simonhatch commented on #3192
Should be fixed once a new dashboard is deployed.

[2017-02-08 20:25] #3192 closed

[2017-02-08 20:27] asvitkine-chromium commented on #3192
Thanks for the quick fix!

[2017-02-08 22:14] simonhatch commented on #2272
Is this still valid? I'm unable to reproduce.

This code has changed substantially since the issue was logged. I did a bunch of work in here for the polymer 1.0 migration.

[2017-02-08 22:15] anniesullie commented on #2272
@jessimb Did some fixes to group sorting a few weeks ago.

[2017-02-08 22:17] simonhatch commented on #2272
I'll mark it closed, don't see anything resembling behaviour described by @natorion

[2017-02-08 22:17] #2272 closed

[2017-02-08 22:18] simonhatch commented on #2764
Got the big red warnings up again.

[2017-02-08 22:18] #2764 closed

[2017-02-08 22:25] zeptonaut commented on #2909
I'm about to submit a CL running eslint --fix with the "indent" rule enabled.

I used the following configuration for the "indent" rule in order to
match the existing Catapult style as closely as possible:

[code]

This introduces several spacing oddities. I'll briefly describe
each along with its plan to fix it.

1) PROBLEM: Some lines that weren't indented enough before are now
            longe

[2017-02-09 00:25] eakuefner opened #3197 "Remove support for simultaneous/implicit TBMv1"
Telemetry has two deprecated codepaths we no longer need to support, both of which were added by me in https://codereview.chromium.org/2073303002/:

1. Allowing users to specify both TBMv2 and TBMv1 metrics to be computed for a benchmark, and
2. Allowing users not to specify any TBMv1 or TBMv2 metrics and selecting all TBMv1 metrics implicitly.

We should get rid of both of these, as the removal d

[2017-02-09 02:00] sunnyps opened #3198 "smoothness metric percentage_smooth threshold is too low"
percentage_smooth is calculated by counting SurfaceFlinger frames that are less than 17ms long. On my nexus5 a lot of these frames are just a little longer than 17ms and this leads to a lot of variability between runs.

[code]

Frame timestamps logged from telemetry:
https://docs.google.com/spreadsheets/d/1R-jq_R_j3sDrutfa7WgkTlTjWxM_JviHvYtv4XV5i70/edit?usp=sharing

[2017-02-09 02:24] sunnyps opened #3199 "Telemetry output trace file does not contain SurfaceFlinger traces"
The smoothness benchmark imports SurfaceFlinger traces for computing frame times. However, when running with --output-format=json, this information is not present in the output trace file <webpage><timestamp>.html.

[2017-02-09 02:28] sunnyps commented on #3198
Actually, this might be because nexus 5 has a refresh rate of 58.6Hz. https://code.google.com/p/android/issues/detail?id=82922

[2017-02-09 11:25] perezju commented on #3127
The command line issue should be fixed now, some code clean up is still needed and tracked in #3112.

Improving things around the need for setenforce are tracked in #3172.

Feel free to reopen if there are other outstanding issues.

[2017-02-09 11:25] #3127 closed

[2017-02-09 14:56] nedn opened #3200 "Deprecate "--page-repeat" flag"
We should deprecate "--page-repeat" flag.

"--pageset-repeat" should be the only way to repeat a Telemetry test.

[2017-02-09 15:25] simonhatch commented on #2269
Demo: https://dev-simonhatch-1cf62889-dot-chromeperf.appspot.com/alerts?sortby=end_revision&sortdirection=down

@natorion is that the requested behaviour?

[2017-02-09 15:30] natorion commented on #2269
Exactly. One nit: When I hover my mouse cursor over the revision the mouse cursor does not change to a hyperlink mouse cursor.

[2017-02-09 16:15] natorion opened #3201 "Sort by delta does not distinct between regression and improvement"
Example: https://chromeperf.appspot.com/group_report?rev=375485

1.) Sort by Delta %
2.) It is sorted by the percentage. I would expect though that a 2 % regression is essentially a minus value when I sort.

E.g. sorting now:
Regression 1 %
Improvement 1.2 %
Regression 2 %

I would expect it goes from lowest (so worst from best or reverse):

Regression 2 %
Regression 1 %
Improvement 1.2 %

[2017-02-09 16:25] anniesullie commented on #3201
@simonhatch @jessimb

[2017-02-09 16:41] anniesullie commented on #2923
Sorry for the slow pace here. WIP CL:
https://codereview.chromium.org/2682173004

@martiniss: Any progress on the step names? My CL adds the buildbot status page, but we really need to fix the step names as well.

[2017-02-09 16:44] simonhatch commented on #3201
Makes sense, I can take a look.

[2017-02-09 17:42] #3201 closed

[2017-02-09 18:41] anniesullie commented on #3198
@tdresser

[2017-02-09 18:46] simonhatch commented on #2640
The test-picker code was completely rewritten back in Dec by @chromy, I don't think this is valid anymore and I can't reproduce it (I could repro it on an older dashboard).

[2017-02-09 18:46] #2640 closed

[2017-02-09 20:00] tdresser commented on #3198
With that data set:
25% of the data is < 17ms.
75% of the data is < 17.05ms.
80% of the data is < 17.1ms.
83% of the data is < 17.2ms.
85% of the data is < 31ms.

It does look like bumping this threshold up to 17.2ms or so would be pretty reasonable, though it would move all our metrics.

[2017-02-09 20:46] zeptonaut commented on #2909
Ahhh, it looks like 3) isn't actually a problem like I thought it was. It turns out the problem was that I wasn't setting the `CallExpression` option of the rule to use 2 indents for call expression continuations. I'm going to do that and rerun --fix across the codebase.

[2017-02-09 21:02] zeptonaut opened #3202 "Enable operator-linebreak eslint rule"
**Link to rule**: http://eslint.org/docs/rules/operator-linebreak
**Rationale**: This seems like a clear example of a style issue that we can make a once-and-for-all decision on and prevent from ever reaching code review in the future.

My vote is for putting the operators at the end of the line: that way, it makes it clearer to the user that the expression continues on the next line. It also seem

[2017-02-09 21:22] benshayden commented on #3202
sgtm

[2017-02-09 21:23] zeptonaut commented on #3202
@Alex319, would you be willing to take this on?

[2017-02-09 21:33] zeptonaut commented on #2909
Ahhh, I now see what was happening. I *was* setting `CallExpression`, but I was setting the `{"parameters": 2}` instead of `{"arguments": 2}`. That makes a difference.

[2017-02-09 21:50] zeptonaut commented on #2909
Just to recap: the `indent` configuration that I think most closely aligns with Catapult code is:

      "indent": ["error", 2, {
        "CallExpression": {"arguments": 2},
        "FunctionDeclaration": {"parameters": 2},
        "FunctionExpression": {"parameters": 2},
        "MemberExpression": 2,
        "SwitchCase": 1,
        "VariableDeclarator": 2,
      }],

[2017-02-10 07:42] hlundin commented on #3195
Verified. Thanks!

[2017-02-10 10:12] natorion commented on #2949
For completeness sake, what is the chromium tracking bug?

[2017-02-10 11:48] natorion opened #3203 "Can't see more than 500 alerts"
When I open an alerts page with more than 500 alerts e.g. https://chromeperf.appspot.com/alerts?sortby=end_revision&sortdirection=down&sheriff=V8%20Telemetry%20RuntimeStats, I can only see the first 500 alerts. This can be a problem if some benchmark is generating a lot of alerts (like Runtime callstats, memory benchmarks, ...)

There is a hidden expander button on the bottom. Clicking it makes an

[2017-02-10 12:34] natorion opened #3204 "Bisection is not descending into V8 rolls for runtime callstats"
Example alerts: https://chromeperf.appspot.com/group_report?bug_id=690837

Relevant output:
==============
2017-02-10 10:53:30
=== BISECT JOB RESULTS ===
Bisect was unable to run to completion

The bisect was able to narrow the range, you can try running with:
  good_revision: dd211c21b09bcba813a3c8c8bddff930e44f69a8
  bad_revision : bcd1a031bcd2e935901d83520339bcb089b57496

==============

Intere

[2017-02-10 12:35] natorion commented on #3204
cc @camillobruni

[2017-02-10 13:03] perezju commented on #3028
And the migration to v2 is completed!

I'll leave things to settle for a few days, to make sure no issues were introduced, before killing the old implementations and mapping old method names to the new implementation.

Will also send a new announcement before proceeding.

[2017-02-10 14:29] anniesullie commented on #3203
@jessimb @simonhatch

Yeah, paging of alerts definitely isn't implemented right now. In the short term, after all the recent performance fixes to alerts page, we could consider showing more than 500. @natorion do you know if there is a fixed number that might be better?

In the long term, we should implement proper paging. App engine data store supports [paged queries](https://cloud.google.com/app

[2017-02-10 14:30] nedn commented on #3200
This flag will be removed on 02/17/2017

[2017-02-10 14:49] anniesullie commented on #3204
@simonhatch can you take a look?

[2017-02-10 14:50] anniesullie commented on #3204
At first glance, it looks to me like the bisect is still running? @simonhatch is the bug that the quicklog was updated when the bisect is in progress?

[2017-02-10 15:04] natorion commented on #2830
The problem that we can't open the bit v8.x64 from scratch is still existing. This means we are not able to access the test results for any benchmark we are running on this bot. This is not only impacting the runtime call stats but other benchmarks like Octane or microbenchmarks too.

To reiterate:
1.) Open page to select benchmarks
2.) Select v8.x64
3.) Wait a long time
4.) Loading stops after ti

[2017-02-10 15:07] anniesullie commented on #2830
@eakuefner will you be able to work on this today?

[2017-02-10 15:07] simonhatch commented on #3204
Strange, that is a completed message but I think /update_bug_with_result is saying it isn't complete. Lemme add some logging and dig into this.

[2017-02-10 15:10] simonhatch commented on #2830
I'll take this later today after I clear up #3204

[2017-02-10 15:33] anniesullie opened #3205 "/group_report shows alerts from all sheriffing rotations"
It should only show alerts from the sheriffing rotation of the requested alerts, if known:
  * `bug=` show only alerts from the sheriffing rotation the alerts associated with the bug have.
  * `keys=` show only alerts from the sheriffing rotation the alerts with those keys have.
  * `rev=` there isn't currently a way to narrow this down to a rotation.

It's possible that `bug` or `keys` could have

[2017-02-10 15:37] simonhatch commented on #3204
Actually I think Annie was correct, it's a partial result and the final result hadn't streamed in yet. Checked the logs and the last /post_bisect_results was at 10:18:28, I ran /update_bug_with_results with extra logging at 10:18:48 and it updated the bug properly with the results. I think maybe what we can do here is make it clear that this bisect is still in progress in the quicklog?

If we chan

[2017-02-10 16:45] fmeawad commented on #2949
http://crbug.com/664318

Since a benchmark is up and running, I will mark that bug as fixed.

On Fri, Feb 10, 2017 at 2:12 AM, Michael Hablich <notifications@github.com>
wrote:

[2017-02-10 17:02] perezju commented on #3205
what is the rationale here? e.g. for `bug=` if, for whatever reason it happened, why would we hide some of the alerts that are associated with the bug?

[2017-02-10 17:11] CalebRouleau commented on #3205
I'm afraid I'm missing some context here. https://chromeperf.appspot.com/group_report does not show me any useful page. What is the exact link?

[2017-02-10 17:27] natorion commented on #3205
Context: Annie and I were discussing if we should set up an experimental rotation which is creating a lot of alerts.

Problem: Currently the group_report page shows ALL alerts from ALL rotations for the given revision range. This means that this new, very sensitive rotation would spill over alerts into the work flow of other sheriffs as the group_report page is openend, when one clicks on the "Gra

[2017-02-10 17:57] jessimb commented on #3203
+1 to paging! I like the idea of lazy loading (or clicking a button to load more) as well. From the user's perspective, being able to view more alerts at the same time is probably the better route. I can probably get to this next week.

[2017-02-10 18:15] benhenry commented on #1648
I would really really love to have this.

[2017-02-10 18:19] CalebRouleau commented on #3205
My team rarely, if ever, uses the group report feature. Michael's solution above makes sense to me, but it won't affect my team much either way.

[2017-02-10 18:29] eakuefner commented on #2830
Simon and I are taking a look at what's going on together right now, but I do hope to push forward on this today.

[2017-02-10 18:36] benhenry opened #3206 "Dashboard feature request: which branches CL has cherry-picked to"
Related to #1648 - If one could hover over a point in a graph on the dashboard to see which branches a specific CL has been cherry-picked to.

We could use 'git log --all --grep "<HASH_OF_CL_ON_MASTER>"' in a local checkout to get that information.

[2017-02-10 18:40] natorion commented on #2830
Thanks folks!

Ethan Kuefner <notifications@github.com> schrieb am Fr., 10. Feb. 2017,
19:29:

[2017-02-10 20:00] #3204 closed

[2017-02-10 22:21] eakuefner commented on #3197
Simultaneous TBMv1 has been removed by the CL referenced above. Going to come back to 2. next week because I'm trying to make progress on #2830.

[2017-02-10 23:04] anniesullie commented on #1648
@jessimb @eakuefner @simonhatch @benshayden

I think in the long-term, we're planning to write a new charting UI on top of trace-viewer. Should we consider adding small features like this in the flot version in the short term?

[2017-02-10 23:05] Alex319 opened #3207 "Enable eslint rule block_padding and fix existing errors."
Enable the "block_padding" eslint rule and fix existing errors.

[2017-02-10 23:11] eakuefner commented on #1648
I'm not sure about the timeframe for being able to use tracing-based charts on the dashboard, but we're also looking at adding annotations for diagnostic changes as part of histogram pipeline MVP. If we can't afford to block either use case on the new charts, then I think that implies that we do have to invest in doing this on top of Flot.

[2017-02-10 23:14] anniesullie commented on #3206
@dave-2 @simonhatch: Is there a gitiles API that would do something like the command @benhenry suggests?

@benshayden @jessimb @eakuefner

[2017-02-10 23:16] benhenry commented on #3206
I looked, and confirmed with Aaron, that gitiles and the gerrit REST API don't have commands we could use for this, and that (for now) we need a local checkout.

[2017-02-10 23:16] benhenry commented on #3206
@agable-chromium FYI

[2017-02-10 23:17] anniesullie commented on #3206
That's not possible from app engine standard environment AFAIK

[2017-02-10 23:18] eakuefner commented on #3206
Could we get gerrit-team to consider adding such functionality? I feel like it should be easily possible to do using JGit.

[2017-02-10 23:27] benhenry commented on #3206
+Aaron Gable <agable@google.com> - let's ask?

On Fri, Feb 10, 2017 at 3:18 PM Ethan Kuefner <notifications@github.com>
wrote:

[2017-02-11 00:22] agable-chromium commented on #3206
Sure, all you need to do is modify
https://gerrit.googlesource.com/gitiles/+/master/gitiles-servlet/src/main/java/com/google/gitiles/LogServlet.java
to support additional query parameters (presumably ?all=true and
?grep=<pattern>) and then use JGit's PatternMatchRevFilter to do the actual
filtering and produce the set of commits for the servlet to return.

I'm not going to volunteer to to this wor

[2017-02-12 19:00] anniesullie opened #3208 "Catapult roll failing at "Switch clients to new JavaScript API (batch 5)""
[First failing roll](https://codereview.chromium.org/2687073004/) has just [[Telemetry] Switch clients to new JavaScript API (batch 5)](https://codereview.chromium.org/2687773003) in the commit list.

From [the log](https://luci-logdog.appspot.com/v/?s=chromium%2Fbb%2Ftryserver.chromium.win%2Fwin_chromium_x64_rel_ng%2F364903%2F%2B%2Frecipes%2Fsteps%2Ftelemetry_perf_unittests__with_patch_%2F0%2Fstd

[2017-02-13 04:43] anniesullie commented on #2830
@simonhatch just landed a patch that should reduce the time to generate the menu to around 20s, which should at least make it work consistently while @eakuefner works on the longer-term speed up of fixing the dependencies on the whole tree of timeseries for each benchmark.

I just deployed the patch to the dashboard, let us know how it goes.

[2017-02-13 10:31] perezju commented on #3208
Thanks for reverting! Not sure why this wasn't caught in CQ?

[2017-02-13 10:46] natorion commented on #2830
Thanks, benchmarks are loading now (and results too). It takes ~ 30 seconds on my machine.

[2017-02-13 12:49] chromy commented on #3208
#3149 was another case when a patch passed the CQ but stuck the auto-roller.

[2017-02-13 12:53] chromy commented on #3208
In both cases it was the same set of bots: linux_chromium_rel_ng, android_n5x_swarming_rel,  linux_chromium_rel_ng, win_chromium_x64_rel_ng and win_chromium_rel_ng is it possible/desirable to add those to the catapult CQ?

[2017-02-13 14:12] nedn commented on #3208
@dpranke

[2017-02-13 15:12] simonhatch commented on #2830
I have another cl that should knock 4s off, but this is really worst case and anybody who visits after you the subtest dict should have been cached and it should load up in a few seconds.

[2017-02-13 15:16] simonhatch opened #3209 "Dashboard - layered_cache.Set doesn't purge expired entities via stored_object"
Looks like layered_cache.Set() uses stored_object as a fallback when the value > 1Mb, but AFAIK doesn't store any expiry information with it. Normally values set get an expiry value and can be periodically purged via the DeleteExpiredEntitiesHandler.

[2017-02-13 15:19] anniesullie commented on #3209
Good catch! I think ideally we'd only have one system for these types of caches, it doesn't make sense to me why stored_object was written in the first case instead of just improving layered_cache.

[2017-02-13 15:22] simonhatch commented on #3209
Yeah exactly what I was gonna write another bug up proposing we consolidate these 2, there's different behaviours depending on which you use which is a bit weird (ie. memcache or no memcache, expiry or no expiry, etc.)

[2017-02-13 15:27] simonhatch opened #3210 "Dashboard - Consolidate layered_cache and stored_object"
It's a bit weird to have 2 different caching systems, with different behaviours, one of which uses the other (sometimes).

Right now it looks like:

layered_cache.Set() with value < 1Mb
 - memcache -> No
 - ndb -> Yes
 - expiry -> Yes

layered_cache.Set() with value >= 1Mb
 - routes through stored_object.Set()
 - memcache -> Yes
 - ndb -> Yes
 - expiry -> No

stored_object.Set()
 - memcache -> Yes

[2017-02-13 18:24] simonhatch opened #3211 "Dashboard - test-picker issues redundant xhrs."
If you look in the logs, you'll see 2 xhr's issued when you go to select a test suite from the /report page. Breakpoint in js confirms 2 are sent.

@chromy

[2017-02-13 18:33] #3186 closed

[2017-02-13 18:33] #2538 closed

[2017-02-13 18:53] simonhatch commented on #2387
FYI: I worked on this on friday and got loading down to the ~25s range or so. New dashboard with fixes has been deployed.

That should be about the uncached worst case. Subsequent visits loading the benchmark list should be super responsive. A longer term change in how we query the data is in the works, but at least in the short term this should be very usable now.

[2017-02-14 03:31] simonhatch commented on #2511
Mind if I close this? Std dev bisects are gone, and any unused menu options have also been removed.

[2017-02-14 03:38] simonhatch commented on #2286
Is this still happening? It's pretty old, maybe we can close it out? Just landed a fix today that should make initial metric dropdown loading faster, believe the layered_cache fallback to stored_object fixes the caching issue, I can't repro the autocomplete issue and haven't seen the failed to fetch graph data.

[2017-02-14 03:45] simonhatch commented on #2626
Going to close this, output has changed significantly since this was filed.

[2017-02-14 03:45] #2626 closed

[2017-02-14 09:46] perezju opened #3212 "Improve autocomplete for memory infra metrics"
Splitting off from #2286, some examples of queries I would like to work, but they don't.

Suppose I want to find the metric:

[code]

(that is: total **java_heap** used by **renderers** as seen **by the os**)

So I start typing:

![java_heap](https://cloud.githubusercontent.com/assets/16922344/22922569/3f5afdec-f296-11e6-8b69-416816aadba5.png)

Lot's of `java_heap` metrics, good, but not the one I

[2017-02-14 09:48] perezju commented on #2286
Things are in a much better shape now, but we would also welcome some improvements:

- Autocomplete is not very useful for memory metrics, filed #3212 with examples.
- The dropdown to select a metric takes a long time to load (~ 3 seconds on some tries I did now). It's not terrible, and we've learned to live with it, but we would be very happy with any improvements there.

[2017-02-14 11:38] natorion opened #3213 "Big regression not on graph"
I noticed a big regression on Speedometer which already recovered. Out of curiosity I wanted to find out what happened. I opened Speedometer on Mac12: https://chromeperf.appspot.com/report?sid=d2754c1f24871b1870446d548cdbd4f2e5f4c6eb515d0901216aa0e9cf179148 and I can't select the regressing data points because they are "out of chart".

I suppose this is because there was no alert raised?

![grydoq

[2017-02-14 12:00] perezju commented on #3122
@zhenyao is this issue still affecting you? I did give it a try on a Nexus 6P (sadly Pixels are scarce!) but still unable to repro.

[2017-02-14 12:19] primiano commented on #3172
SGTM. Just plumb a call to "adb shell getenforce".
It it says "Enforcing" (mind the capital E) we should spit out an error to the developer saying "do adb shell setenforce 0"
otherwise, it's all good if it says "Disabled" or "Permissive".

[2017-02-14 12:23] perezju commented on #3205
I'm still having trouble figuring how the proposed workflow would work.

Say some CL triggers 5 alerts on my "regular" rotation and 150 alerts on the new "experimental" rotation.

That means all alerts are assigned to the same bug? So I assume I would see a bug report like:

[code]

Then:
- clicking on those links will show the alerts of which rotation?
- why are all the alerts on the same bug to

[2017-02-14 13:38] natorion commented on #3205
I think using one or multiple bugs for multiple rotations is an orthogonal problem and likely not something that needs to resolved because currently the two workflows are supported.

My take on this (please exchange the names with something more suiting):

Let's assume we can define an Alert rotation as "Experimental" by setting the property "int:Status" to "Experimental" (Rotations probably don't

[2017-02-14 14:01] anniesullie commented on #3213
@simonhatch @benshayden @eakuefner

The chart range is supposed to be automatically set by the flot library to include all data points. In this case, it clearly is not working correctly.

@benshayden if you're able to take a look at this and other chart bugs, would be interested on your opinion of fixing the current version vs prioritizing moving to a version that uses Kari's work to make the trac

[2017-02-14 14:05] anniesullie commented on #3212
Thanks, @chromy!!

@simonhatch @benshayden Can you review the CL? At a high level I think the CL and demo look great, much more predictable behavior. The previous behavior wasn't documented and is not based on any specific requirements.

@natorion Can you take a look at the demo and let us know if it's an okay change for v8?

[2017-02-14 14:08] anniesullie commented on #2642
I'm duping this into #2642 where it is being actively worked on.

[2017-02-14 14:08] #2642 closed

[2017-02-14 14:09] anniesullie commented on #2286
Since the remaining bug is the dropdown taking a long time to load, I'm going to close this as a duplicate of #2642 which @eakuefner is actively working on.

[2017-02-14 14:09] #2286 closed

[2017-02-14 14:44] natorion commented on #3212
+1 to this change. Awesome! We were also wondering how the filtering works :-D

[2017-02-14 14:51] simonhatch commented on #3213
I took a quick peek and it looks like the data point is an outlier, in the 4000-5000 range, haven't dug much further than that.

[2017-02-14 15:11] perezju commented on #2642
Annie, did you mean to close this issue as well? Or you meant to dupe against another issue?

[2017-02-14 17:03] simonhatch commented on #3213
Poke a bit more. So there's code in chart-container to disregard outliers, anything beyond 5 standard deviations from the mean isn't used to calculate the bounds of the chart so this is WAI.

Increased that to 10 standard deviations as a test, and the point shows up:

<img width="908" alt="screen shot 2017-02-14 at 12 01 21 pm" src="https://cloud.githubusercontent.com/assets/11619067/22939647/5d1b

[2017-02-14 22:32] jessimb opened #3214 "Monorail's 'Original alerts at time of bug-filing' link gives 400."
When bugs are filed, they automatically add the 'Original alerts at time of bug-filing' link to the Monorail bug. If there are many alerts (such as the case with [this bug](https://bugs.chromium.org/p/chromium/issues/detail?id=690358&can=1&q=status%3DFixed&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified&start=100)) then clicking the link gives us

[2017-02-14 22:34] jessimb commented on #3063
Duped in #3201. Fixed, closing this.

[2017-02-14 22:34] #3063 closed

[2017-02-14 22:41] anniesullie commented on #2642
Apologies, this is a dupe of #2387

[2017-02-15 11:54] perezju commented on #3172
@primiano does the test/check need to be done always? Or only on Android N (and above)?

On an Android L device, freshly rebooted, `adb shell getenforce` returns `Enforcing`; but we don't really need to switch it to permissive there, or do we?

[2017-02-15 12:58] perezju commented on #3172
Chatted offline with primiano, we'll do the check for N and above only.

I'll also do an experiment to see if we can keep the "disable - launch Chrome - ensure it read command line - enable again" cycle tight, so other bits in Chrome do not depend on SELinux being permissive.

[2017-02-15 13:55] jbudorick commented on #3172
N+ for now SGTM.

[2017-02-15 14:29] chromy commented on #2755
This seems to been fixed, when I patch in the test it looks like the expected output now.
I uploaded a [patch](https://codereview.chromium.org/2690113013/) to add Petr's test so we don't regress this in future.

[2017-02-15 14:29] chromy commented on #2754
This seems to been fixed, when I patch in the test it looks like the expected output now.
I uploaded a [patch](https://codereview.chromium.org/2690113013/) to add Petr's test so we don't regress this in future.

[2017-02-15 14:29] #2754 closed

[2017-02-15 14:29] #2755 closed

[2017-02-15 18:26] perezju opened #3215 "Reduce usage of RunShellCommand where appropriate"
Did some analysis of the existing callers to device utils `RunShellCommand`, writing off some of my findings here so I don't forget:

- 42 calls to `rm` should use `device.RemovePath` instead
- 6 calls to `ps`, should probably use `device.GetPids`
- 6 calls to `cat`, should probably use `device.ReadFile`
- 4 calls to `ls`, should probably use `device.ListDirectory`
- 14 calls to `mkdir`, maybe imp

[2017-02-15 19:56] benshayden opened #3216 "Display summary statistics in related-histogram-map-span."
related-histogram-map-span currently contains only a few links:
![screenshot](http://i.imgur.com/jrb481Y.png)

These spans would be more useful if they displayed summary statistics in a table alongside the links.

@mythrialle @fmeawad

[2017-02-15 22:31] eakuefner commented on #3213
@simonhatch Does it seem like a fix here could be to not consider any point that has an associated anomaly an outlier?

[2017-02-15 22:44] simonhatch commented on #3213
Hmm don't think that will work, this point has no associated anomaly.

[2017-02-15 22:49] eakuefner commented on #3213
Thanks for pointing that out; that slipped past me. So, I guess another question is, why do we even do outlier detection at all? Any threshold is vulnerable to this same problem due to a sufficiently large change, and we already support vertical scrubbing to zoom if people aren't satisfied with their amount of zoom.

[2017-02-15 22:53] anniesullie commented on #3213
I think the problem is that different people would want different things when viewing the same graph. At some point someone must have complained and said they couldn't see the slope of the graph because of the outliers. But @natorion really wants to be able to actually see the outliers, and that is a completely valid request.

I don't think this happens too often, and the charts have y-axis zoom,

[2017-02-15 22:55] eakuefner commented on #3213
+1000

[2017-02-15 22:57] simonhatch commented on #3213
Tried to do some code archeology to find the original change to see if there was some reasoning, but stopped at commit in 2015 that just mass added a bunch of polymer elements.

Yeah can totally see someone logging a bug if the outlier were large enough, since the rest of the graph might just appear as a flat line. I'd support Annie's suggestion of just killing it for now, and adding a checkbox if

[2017-02-15 23:25] eakuefner commented on #3194
Based on offline discussion, I think this bug can be closed.

[2017-02-15 23:25] #3194 closed

[2017-02-15 23:34] benshayden commented on #3213
Here's an alternative UI, feel free to ignore. :-)

[Histogram-span](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/value/ui/histogram_span.html#L389) deals with a similar problem by setting the dataRange max to 15% more than the second or third largest bin if the largest 1 or 2 bins are more than twice as large as the next largest bin. This causes the bar chart to draw a

[2017-02-16 00:50] vmpstr opened #3217 "Tracing test data cleanup"
Hi,

Some of the traces that are found in test data stuff are out of date. This is likely not a priority, but it would be nice to regenerate new test traces from current Chromium (or come up with a plan to deal with this)

This is filed due to crbug.com/485705

[2017-02-16 01:46] nedn opened #3218 "A telemetry tab is implemented using persistent websocket that is designed for short-lived connection"
This comes up when I am reading the code of Telemetry's tab_backend to investigate the issues related to Telemetry's startup is flaky on windows.

I think part of the reason why we can see flakes in the form of InspectorWebsocket errors is because Telemetry Tab is implemented using a persistent websocket  (connecting to devtool page's websocket) that is actually wasn't designed to be long lived.

[2017-02-16 10:05] perezju commented on #3208
This is fixed now. Not sure if adding some chromium tests on the catapult CQ is being tracked elsewhere?

[2017-02-16 10:05] #3208 closed

[2017-02-16 12:39] natorion opened #3219 "Why are some alerts grouped together and others not?"
Example: https://chromeperf.appspot.com/group_report?rev=39407

Some alerts are grouped, others are not. Why?

[2017-02-16 12:44] natorion opened #3220 "group_report?rev=xxxx does not show you if bots have processed that revision already"
Currently /group_report?rev=xxxx does not show you if all bots have processed that revision already. It would be good to show which bots have not yet processed the given revision.

Challenges: Multiple projects reporting to Chromeperf have different revisions so rev=xxxx might not be sufficient. Maybe support a CL id for rev=xxxx instead?

[2017-02-16 12:51] natorion commented on #3220
That might also make more information available to the system e.g. reverts, associated projects, ...

[2017-02-16 13:01] natorion opened #3221 "Alert on change in moving average"
It would be great to somehow alert if the moving average changes over the course of 100 revisions or something. I suppose that is somehow model-able via the current anomaly detection. My question is, how would a common performance sheriff approach this?

[2017-02-16 13:08] tdresser commented on #3221
As a perf sheriff, I would shake my head and walk away...

I don't think we can deal with this kind of "death by a thousand paper cuts" situation via perf sheriffing.
I think the right approach here is:
- Identify what kinds of things are causing gradual regressions over time, by performing deep performance investigations on specific metrics and benchmarks.
- Improve our infrastructure to prevent

[2017-02-16 13:43] natorion opened #3222 "Make the raw data on Chromeperf available via BigTable or similar for deeper analysis"
Chromeperf has great data stored. Currently, when I want to do some analysis I need to individually open all the necessary benchmarks and bots. Crosschecking needs to be done manually. Simple use cases taken from actual day-to-day work:

1.) I wonder how much we improved on memory consumption after the fix has landed? Would be good to know for a blog post like https://v8project.blogspot.de/2016/10

[2017-02-16 13:49] natorion commented on #3221
Fair point and it would be interesting to know if this is more common Chromium-wide.

The last time I can remember this happened in V8 was when we added ES6 support which resulted in a continuous regression in pageload performance. This obviously makes sense because we need to do a more sophisticated parsing.

[2017-02-16 14:34] anniesullie commented on #3221
I think @tdresser's comment is pretty representative of what chromium perf sheriffs would say. I think the two most common cases where we have slow and gradual increases over time are:

 * binary sizes
 * memory usage

These are both very tough because pretty much every committer can affect these a tiny bit, and for any one CL it's hard to evaluate the tradeoff in bytes of kilobytes. For these met

[2017-02-16 14:45] anniesullie commented on #3222
@simonhatch and @eakuefner have been looking into the dashboard backend lately. Some ideas on how this could work:

* Actually make the [cloud datastore](https://cloud.google.com/datastore/docs/concepts/overview) backend available in some other context. I haven't looked into feasibility here, especially around whether we could make it read-only. I think the lack of indexes would make this painful,

[2017-02-16 14:52] anniesullie commented on #3220
@simonhatch @eakuefner @jessimb

The big challenge here is that we don't actually know what repo rev=XXXX is from, so we don't know the full set of timeseries that *should* be in the report. But perhaps we could restrict to a sheriffing rotation (or a list of rotations) to understand what the list of timeseries that should be showing up are? If we did that, then we could:

* Compute how many build

[2017-02-16 14:58] anniesullie commented on #3219
The grouping code is pretty basic, but a cursory glance makes me think at least some of these alerts should have been grouped, because they have the same benchmark and overlapping revision range: https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/models/alert_group.py#L228

I think the best way to dig in would be to write a unit test which takes the alerts in the list and

[2017-02-16 15:36] #2909 closed

[2017-02-16 15:38] zeptonaut commented on #2739
Closing this as WontFix: this ended up being *much* more complicated than I expected. Basically, we're using the version of psutil that's supplied by depot_tools, which is very much discouraged. They suggest using a package manager and virtualenv with our own version of psutil if we want to use an updated version, which is a much larger change than just updating depot_tools psutil. Overall, we jus

[2017-02-16 15:38] #2739 closed

[2017-02-16 15:39] #3157 closed

[2017-02-16 15:39] #3185 closed

[2017-02-16 15:59] simonhatch commented on #3222
Would kinda like to hear more about uses cases.

Expanding on option 3, what if we were to expose an API and then users could import and users could use that to pull some data, do their dremel/fancy internal visualization tools.

[2017-02-16 16:08] simonhatch commented on #3213
Like that option, can maybe try it if someone complains. 'll leave a comment and we can revisit.

[2017-02-16 16:43] simonhatch commented on #3219
I modified this code recently so I can take a look.

[2017-02-16 16:59] #3213 closed

[2017-02-16 17:04] benshayden commented on #3217
Related: #1933

[2017-02-16 17:28] jbudorick opened #3223 "ls /root insufficient for root testing in some circumstances"
On Pixel+N, the shell doesn't seem to be able to see anything in /root, whether it has root access or not. It exits with 0 in both cases, though. (I haven't had a chance to check other device/OS combinations.)

We need an alternate implementation of HasRoot and NeedsSU for this situation. Not immediately sure what it should be, but a few possible components include:

 - using `which which` and `wh

[2017-02-16 17:51] jessimb commented on #3014
Downstream Anomalies from now on will have a 'display_start' and 'display_end' that the alerts-table will look for when displaying revision ranges. We kept a_default_rev to be the same because the clank hash is needed for bisect. We now check directly for the master name and add display_start/end if appropriate. It was the simplest way to fix the issue and not accumulate much more data.

So be on

[2017-02-16 20:52] anniesullie opened #3224 "Add benchmark health report on perf dashboard"
There are a lot of problems with benchmark quality that the alerts table on the dashboard is *almost* ready to surface, and that the dashboard can show a deep dive on:

 * Too many alerts
 * Too few alerts
 * No data coming in
 * High percentage of invalid alerts
 * High rate of unresolved bugs
 * Low rate of successful bisects.

I'm working on making a reporting page that surfaces this data using

[2017-02-16 21:09] simonhatch commented on #3219
Poked at this a bit, wasn't able to reproduce a simple test case where they didn't group so far. Did notice that there seems to be 2 different code paths to creating vs updating the groups, seems like it'd be a good idea to clean these up and have a single code path.

The ungrouped alerts "Octane2.1-Ignition/Richards" were marked ignore and both have "V8 Ignition Perf Sheriff" while the grouped on

[2017-02-16 21:26] natorion commented on #3219
For sure. But why should I care on the group report page if the alert is coming from a different rotation?

[2017-02-16 21:31] natorion commented on #3219
And thanks for investigating. Highly appreciated!

[2017-02-16 21:43] simonhatch commented on #3219
Just curious, is this from a link from the alerts page or something? I'm unfamiliar with how to actually get to this page besides creating the url myself.

[2017-02-16 22:07] benshayden commented on #2431
CollectedRelatedEventSet needs model.canonicalUrl, which is set by RunMetricOnTraces, so it needs to be plumbed through there regardless of whether it's plumbed through the TelemetryInfo in the trace metadata.

[2017-02-16 22:18] #3120 closed

[2017-02-16 22:18] #3054 closed

[2017-02-16 22:19] eakuefner commented on #2971
Simon, it seems like this bug is ready to close. Feel free to reopen if not.

[2017-02-16 22:19] #2971 closed

[2017-02-16 22:31] eakuefner opened #3225 "Implement test_path_dict mode for /list_tests"
As part of solving the problem in #2887 we're implementing an endpoint that helps resolve test path dicts into lists of test paths

[2017-02-16 22:32] eakuefner opened #3226 "Use /list_tests code in /report"
This should allow us to eliminate use of the subtest dict in report.

[2017-02-16 22:33] eakuefner opened #3227 "Use /list_tests's test_path_dict mode in /group_report"
Blocked on #3225

[2017-02-16 22:34] eakuefner opened #3228 "Get rid of test-picker's use of subtest dicts"
Blocked on #3225 and #3226.

[2017-02-16 23:54] vmpstr opened #3229 "symbolize_trace exception (undefined unsymbolized_name)"
I was running a symbolize_trace on a trace generated with --enable-heap-profiling=native and ran into the following exception:

Traceback (most recent call last):
  File "third_party/catapult/tracing/bin/symbolize_trace", line 462, in <module>
    main()
  File "third_party/catapult/tracing/bin/symbolize_trace", line 448, in main
    if SymbolizeFiles(symfiles, symbolizer):
  File "third_party/cat

[2017-02-17 00:06] jessimb opened #3230 "The number box next to grouped alerts overflows."
If there are 100+ alerts in a group, the box next to the alert overflows and takes up two lines.

![screenshot from 2017-02-16 16 00 00](https://cloud.githubusercontent.com/assets/6227957/23046909/49e32f2e-f461-11e6-8148-365ff2a368e4.png)

[2017-02-17 10:04] natorion opened #3231 "Offer a embed view to display reports on a dashboard"
We are currently displaying selected reports on multiple dashboards. The navigation bar etc. take a lot of prime screen estate which is not needed. There was something like this in the past but it is not supported anymore. Would be great to have it back.

[2017-02-17 10:33] natorion commented on #3219
I was investigating the perf impact of a CL

[2017-02-17 10:53] chromy commented on #3211
hmm, seems to be caused by onDropdownSelect firing twice, I'm not sure why yet

[2017-02-17 12:13] chromy commented on #3211
Okay, it's caused by the following line:
`selectedItemsChanged(selectedItems, selectedItems.*)`
I used the form:
`fooChanged(foo, foo.*)`
in a few places to trigger on all mutations of the array `foo` and also on setting `foo` but it seems this is actually an anti-pattern `fooChanged(foo.*)` triggers correctly on `set('foo', [...])` but  `fooChanged(foo, foo.*)` triggers twice. I'll prepare a CL.

[2017-02-17 12:29] chromy commented on #3212
:flight_arrival:

[2017-02-17 12:29] #3212 closed

[2017-02-17 14:36] nedn opened #3232 "Remove "storyRepeatCounter" concept"
Since we are removing the "--page-repeat" flag (https://github.com/catapult-project/catapult/issues/3200), there is no need to keep "storyRepeatCounter" concept in result2 system.

@benshayden @eakuefner

[2017-02-17 16:11] zeptonaut opened #3233 "Metrics in tracing_metric.html should be renamed for consistency with other metrics"
Right now, tracing_metric.html contains metrics with names like:

- `Average CPU overhead on all threads per memory-infra dump`
- `Average CPU overhead on non-memory-infra threads per memory-infra dump`
- `Max number of events per second`
- `Max event size in bytes per second`
- `Total trace size in bytes`

These are all great metric *descriptions*, but aren't consistent with other metric *names*,

[2017-02-17 16:33] anniesullie commented on #3224
First version:
https://codereview.chromium.org/2704663003/

Demo:
https://dev-sullivan-7c48f1f5-dot-chromeperf.appspot.com/benchmark_quality_report

[2017-02-17 16:42] tdresser commented on #3233
Having a central registry of metric names would be useful for a bunch of reasons, but I think it would also help with consistency here. If metric authors had to add their metric name to a list of other metric names, they'd be more likely to follow the conventions.

I agree that we should just go in and rename these though.

[2017-02-17 16:44] nedn commented on #3233
+1 for central registry of metrics. In general, I think there is a concept of "metric namespace" for test-agnostic metrics in general.

[2017-02-17 16:47] #3211 closed

[2017-02-17 18:05] anniesullie commented on #3231
Do you want basically the exact same chart, but just none of the other UX on the page? (For example, no requirement to also have a different chart UI or legend or anything?)

[2017-02-17 18:59] natorion commented on #3231
Example: We display https://chromeperf.appspot.com/report?sid=8cee7223afeac46b3524ead07244f1eed55836c5435c7e9e155536ee6bc92394 on a screen

The chart probably still needs to be interactive because I can imagine that one would like to simply display them in an iframe (like we do internally for other stuff).

We are also displaying it on a screen though, interactivity there is not important.

Regard

[2017-02-17 19:09] simonhatch opened #3234 "Dashboard - update_test_suites.FetchCachedTestSuites"
This came out of https://codereview.chromium.org/2704663003/

We're in the middle of trying to remove a lot of usage of subtest-dict, and this is a very subtest-dict like thing, in that we're computing and storing a large expensive object and then using some subset of it. A quick poke through the datastore shows this object is split among 3 entities, making it 2-3 mb.

In that CL's case, it just w

[2017-02-17 19:12] eakuefner commented on #3234
Thank you for filing a bug about this, Simon. I think this would be great for one of us to pick up, and I'd be willing to look at it after I'm finished a little more finished with the subtest dict project.

[2017-02-17 19:17] eakuefner commented on #3225
@anniesullie @simonhatch Just to give y'all an update on where I'm at with this today, I think it's finally time to parcel through that tricky logic in test-picker to handle the core case. I'll need to puzzle through the logic to make sure I understand it, but my goal is to generate tests from that, then do the port.

After core is implemented, I am confident that we should be able to burn down on

[2017-02-17 19:18] benshayden opened #3235 "Banish assert.equal()?"
I was taught (by nduca, IIRC) to use assert.strictEqual in tests in tracing because assert.equal() can hide bugs by hiding implicit casts. (Of course, floats should use assert.closeTo.)
But tracing contains 3658 `assert.equal`s and 1151 `assert.strictEqual`s.
None of the style guides have anything to say on the matter.
Is there any good reason to use assert.equal?
If we automatically replace all a

[2017-02-17 19:18] anniesullie opened #3236 "Benchmark health report: Support benchmarks with multiple sheriffs"
https://codereview.chromium.org/2704663003/ only supports a single sheriff, would ideally list all the sheriffs. Follow up #3224.

@simonhatch @eakuefner

[2017-02-17 19:19] simonhatch commented on #3225
Awesome, thanks Ethan!

[2017-02-17 19:22] eakuefner commented on #3235
In favor of strict equality in general, though it should be noted that the dashboard hasn't necessarily embraced this, so I'm not sure we have consensus. At least in unit tests, I'd probably be in favor of eliminating assert.equal for the reasons Ben describes, but in my feeling, non-strict equality is mostly a wart in JS.

To be clear, though, you can't just delete `assert.equal`; the `assert` mo

[2017-02-17 19:23] eakuefner commented on #3235
@anniesullie

[2017-02-17 19:30] lpy commented on #3235
I vote for using `assert.strictEqual`. I replaced all `assert.equal` in tracing/tracing directory with `assert.strictEqual`, only 3 tests failed in tracing/tracing. So at least the plan should work for tracing/tracing. Not sure about other directories though.

[2017-02-17 19:30] jessimb commented on #3014
Hm. It seems like new alerts don't have the correct display rev. This could potentially be due to the test kind? We now check for ```test.master_name == 'ClankInternal'``` so if the test passed into ProcessTest isn't a ```TestMetadata```, it won't properly check the master. As far as I can tell, it really should be a ```TestMetadata```. Anyone have thoughts on why it didn't work as intended? @anni

[2017-02-17 19:39] anniesullie commented on #3235
I think @eakuefner cc-ed me because I'm in a small minority that in general doesn't like JavaScript style rules requiring strict equality. But my concerns are mostly around the fact that strict equality treats null and undefined differently, and a lot of times code with strict equality assumes it knows whether to expect null vs undefined when it really doesn't.

In unit tests, whether a value is n

[2017-02-17 19:44] anniesullie opened #3237 "Benchmark Health Report: Include data on bisects and bugs"
This is a follow up to #3224.

For the benchmark health report, we'll want to include data on bisects and bugs. If we go with @benhenry's idea of trying to understand which stages of the perf sheriffing process we are failing in (where is that image, @benhenry) I think this means that we would want to display data by bug:

* We got an alert
* It was marked invalid, or triaged into a bug
* The bug

[2017-02-17 20:00] anniesullie opened #3238 "Benchmark Health Report: Add indexed benchmark and master fields to alert"
Follow up to #3224. In https://codereview.chromium.org/2704663003/ we do a query for alerts with a given sheriff, and then filter those for the desired master/benchmark. It would be better to have `master` and `benchmark` fields in `Alert` entities which are indexed so we can query directly.

[2017-02-17 20:07] #3200 closed

[2017-02-17 21:12] lpy opened #3239 "Intent to turn on JSDoc check in ESLint"
Tl;dr **JSDoc check in eslint will be turnt on by default.**

### Rules Summary
#### Explicitly require that
* functions that have a return statement provide an @returns annotation with a type and description, and that
* any JSDoc type signature can be parsed

#### Explicitly not require that
* JSDoc comments appear for every class or function, or that
* JSDoc comments specify a description, since

[2017-02-17 21:43] lpy commented on #3239
@benshayden @eakuefner @fmeawad @tdresser @zeptonaut @anniesullie

[2017-02-20 09:40] perezju commented on #3212
:tada:

[2017-02-20 12:17] perezju commented on #3223
:disappointed: yeah, don't have anything better to suggest, other than trying it out on several device and OS version combinaitons

[2017-02-20 13:45] primiano commented on #3221
Agree with the comments above. Alerts that say "the moving average went up in this range, but we have no way to tell where" are completely unactionable.
We can't revert 100 CLs because a slow regression of x% of {memory,binary, any metric} creeped in.
This sort of analysis can be done already by zooming out and observing the trend of a metric over time. I don't think we need the complexity of an a

[2017-02-20 14:08] natorion commented on #2874
I just noticed that there is a remark (e.g. on https://chromeperf.appspot.com/group_report?rev=43315)

[2017-02-20 14:08] #2874 closed

[2017-02-20 14:11] natorion commented on #3221
Fair enough and thanks for thinking about it. Concerns make absolutely sense.

[2017-02-20 14:11] #3221 closed

[2017-02-20 22:48] anniesullie commented on #3237
WIP: https://codereview.chromium.org/2706813003/

[2017-02-21 02:37] simonhatch opened #3240 "Dashboard - Delete task_runner?"
Looks like dead code, no references to it. Remove it?

[2017-02-21 02:41] anniesullie commented on #3240
Yep, let's do it!

[2017-02-21 08:30] natorion commented on #2269
Did something change recently? I triaged V8's general perf alerts (https://chromeperf.appspot.com/alerts?sortby=end_revision&sortdirection=down&sheriff=V8%20Perf%20Sheriff) and noticed the following behavior:

1.) I click on the revision for the marked alert
![step1_selectrevision](https://cloud.githubusercontent.com/assets/7190422/23156498/76014be0-f817-11e6-9b87-8899b10e2ad3.png)

2.) Than I get

[2017-02-21 09:02] natorion opened #3241 "How to get faster to the commit range of an alert?"
V8 performance bots run for every commit or for a small range of commits. Thus we normally don't need and support a bisect. This means the workflow for triaging V8 alerts is like this:

==========
If alert.wasRunOnV8Bots: //Thus we have run the V8 bots for every V8 revision
  alert.openReportPage
  ui.waitUntilGraphsAreLoaded
  ui.clickAlertOnFirstGraph
  ui.clickOnLink("V8 Git Hash Range")
![quic

[2017-02-21 09:20] natorion commented on #2269
With the following alert the bucketing works as expected:
![works](https://cloud.githubusercontent.com/assets/7190422/23158347/290a185a-f81f-11e6-8892-0b10fae52fa4.png)

There is still a difference to using the Checkbox->Graph button:
Not all alerts of the bucket are automatically selected and thus loaded on the report page.

[2017-02-21 11:08] perezju opened #3242 "Discourage clients to pass command as a string when shell features are not needed"
Borrowing from Python's own subprocess module, the safest and preferred method to specify a command and its arguments to run should be as a list.

Clients sometimes really need shell features (e.g. to expand variables or wildcards) which are only available by passing the command as a string. But the intent to use such features should be made explicit by setting a `shell=True` option.

We could sta

[2017-02-21 12:08] natorion commented on #3220
Perf rotations might alert on commits from different projects e.g. the V8 perf sheriff rotation alerts on V8 bots (which have a V8 rev number) and ChromePerf ones like Speedometer (which have Chromium rev numbers). I suppose and extension of your first suggestion might be sufficient:

previous = Get all the results for rev-1
current = Get all the results for rev
If the entries in previous are <= c

[2017-02-21 13:14] anniesullie commented on #3241
It should be doable to add a revision type for a sheriff rotation as you suggested. The only thing I noticed is that it might be confusing for users to have the "Revisions" column go to graphs when clicked, and then a second column with a revision range that links to the actual range. Any ideas on how to make that clearer?

@jessimb @simonhatch @eakuefner

[2017-02-21 13:19] natorion commented on #3241
The original is the revision range the other one is the changelog/blamelist?

[2017-02-21 13:37] natorion commented on #2581
Works now.

[2017-02-21 13:37] #2581 closed

[2017-02-21 13:44] natorion commented on #2668
I think this is already fixed? I have seen the option to download the traces.

[2017-02-21 14:09] natorion opened #3243 "Suggested improvements regarding chart UI"
# Behavior of a chart's legend
When comparing two metrics, the difference in the configuration is important, not the name of the actual metric being charted. It would be informative if the differentiator is used instead. See https://github.com/catapult-project/catapult/issues/3231#issuecomment-280736637 for a detailed suggestion on this.

# Snappiness of the chart
## Loading of a new chart
Dependi

[2017-02-21 14:40] natorion opened #3244 "Highlight commit on the chart when group_report?rev=xxx is used"
Let's assume I want to investigate the impact of my CL. I know that I can do that with group_report?rev=12345 (and 12345 is the revision of my CL). Lots of alerts and improvements are displayed and I  start investigating them. Unfortunately, to identify my CL on a chart, I need to look for the commit by hovering over the chart. If the commit 12345 is highlighted automatically (e.g. a light yellow

[2017-02-21 15:09] natorion opened #3245 "Warning about "non-overlapping commits" shown despite they are overlapping partially"
Example: https://chromeperf.appspot.com/group_report?bug_id=671172

It seems that the "non-overlapping commits" warning is show when both commits are only partially overlapping e.g.

alert A: 4-8
alert B: 6-20
alert C: 7-15

[2017-02-21 15:45] #3240 closed

[2017-02-21 16:47] tdresser commented on #3239
From: dashboard/dashboard/elements/alert-remove-box.html, with that rule applied:

[code]

Aren't we trying to not require that every parameter be annotated?
`"requireParamDescription": false,` only makes it so you don't need a description as part of your @param annotation. You still need the annotation itself...

[2017-02-21 16:52] tdresser commented on #3239
As one data point, in tracing/tracing/metrics, we have

* 4 cases where the jsdoc refers to a param by the wrong name (probably forgetting to update the jsdoc when updating parameter names)
* 2 syntax errors
* 26 missing returns, 1 missing return description
* 109 missing parameters

[2017-02-21 17:21] rschoen opened #3246 "Alerts overlapping in "existing bug" list, but not upon submit"
1) Go to triage alert: https://chromeperf.appspot.com/report?sid=2eedccb27b84725756dbe6153e7f7796f0207f15e7f46a02c14c7e429106849c&rev=1487342040
2) Click "existing bug"
3) Scroll down through existing bugs, bug 694563 is highlighted as overlapping
4) Click on that bug and then click "Submit"
5) Get a warning that there are non-overlapping alerts

Seems like these two systems should be calculating

[2017-02-21 18:23] lpy commented on #3239
mmmm, I thought we were saying we wouldn't require description for every param but still need you to annotate it. @eakuefner could you clarify it? I didn't find a configuration that would allow us to skip params.

[2017-02-21 18:28] tdresser commented on #3239
I agree that there's no config option that would let us skip params.

[2017-02-21 18:30] eakuefner commented on #3239
What we came to in the meeting was that people shouldn't be required to specify params, but yes, as folks are saying, there does not seem to be an option for disable param checking entirely. We have two options here:

1. Back off on making params optional, and just say that if you do write a JSDoc comment you have to specify params, or
2. File an eslint bug/modify the rule to add a true-by-default

[2017-02-21 18:35] lpy commented on #3239
Let the first option becomes our workaround, and the second option should be the right way, I will file a bug on eslint.

[2017-02-21 18:45] jbudorick commented on #3242
sgtm!

[2017-02-21 18:46] lpy commented on #3239
It turns out there's already a [feature request](https://github.com/eslint/eslint/issues/6283) that got closed because they claimed they couldn't reach consensus. I am trying to see if we can reopen it.

[2017-02-21 19:37] benshayden opened #3247 "Should CSS in <style> tags be indented?"
Most style tags in tracing/ currently do not indent their CSS.

There are 107 style tags in tracing/ui/.
Only 19 of them indent: memory_dump_\*, base/chart_\*, plus a few scattered files like metrics_debugger_app and base/table.html.

There are 10 style tags in value/ui/. The only one that indents is in histogram_set_view.

There may be a readability argument to be made for indenting, but I feel t

[2017-02-21 20:01] zeptonaut commented on #3239
@lpy I'm pretty sure that the comment that alberto made on the thread you linked to was automatically added after a long period of no discussion on the thread: I've seen the same message posted on other bug threads. I think it's very likely that, if we were to open a bug describing exactly the feature that we'd like to support, link to the old bug that didn't reach consensus, and make it clear tha

[2017-02-21 20:10] benhenry commented on #3237
https://docs.google.com/drawings/d/1BSsnrlSV7UnW3alZs4I84pbQfBPwlTW6-F7k8yBLEX0/edit

On Mon, Feb 20, 2017 at 2:48 PM anniesullie <notifications@github.com>
wrote:

[2017-02-21 20:46] simonhatch commented on #2668
I think the option to view the trace is only available via perf-try jobs. Bisect jobs don't parse the output for the cloud links or surface them to the dashboard in any way.

[2017-02-21 21:27] eakuefner commented on #3230
This is fixed.

[2017-02-21 21:27] #3230 closed

[2017-02-21 23:38] #2163 closed

[2017-02-22 00:06] simonhatch commented on #2641
We spoke offline, recording here in case anybody takes this before I do. I believe we talked about making clicking the title auto-populate the picker path since you can potentially have multiple graphs.

[2017-02-22 01:38] simonhatch opened #3249 "Dashboard - Clarify difference when comparing metrics"
Breaking up #3243 into individual issues.

Behavior of a chart's legend

When comparing two metrics, the difference in the configuration is important, not the name of the actual metric being charted. It would be informative if the differentiator is used instead. See #3231 (comment) for a detailed suggestion on this.

@natorion

[2017-02-22 01:39] simonhatch opened #3250 "Dashboard - Improve chart load time"
Breaking up #3243 into individual issues.

Loading of a new chart

Depending on the data and benchmark being loaded, it can take several seconds until a chart appears. Some people complained that this takes too long. I couldn't repro it though but my subjective threshhold on this might be higher.

@natorion

[2017-02-22 01:41] simonhatch opened #3251 "Dashboard - Improve responsiveness modifying displayed chart"
Breaking up #3243 into individual issues.

Modifying an already displayed chart

What IMO really is an issue is the snappiness when a chart is already loaded: How fast does the chart react to changes: 1.) new data added 2.) revision range changed (that takes ages sometimes). The snappiness of arewefastyet is often brought up. Case 1.) probably is the same as "Loading of a new chart". For 2.) it sh

[2017-02-22 01:43] simonhatch opened #3252 "Dashboard - Improve browse commits near alert"
Breaking up #3243 into individual issues.

Browsing the commits on a chart/near an alert

If one wants to explore the commits near an alert, one is mostly out of luck. AFAIK it is simply not feasible to select a commit near an alert. It is possible to zoom in though, but that again is very cumbersome and fickly. Two different suggestions: 1.) Offer zooming the x also directly from the chart (see a

[2017-02-22 01:44] simonhatch opened #3253 "Dashboard - Allow x axis zoom"
Breaking up #3243 into individual issues.

Browsing the chart

Offer zooming the x and y axis directly via rectangle selection on the chart.

@natorion

[2017-02-22 01:45] simonhatch opened #3254 "Dashboard - Render arrow from chart-tooltip popup to commit."
Breaking up #3243 into individual issues.

Plot an arrow to the commit being shown in the information pane

When investigating alerts or regressions I might display multiple charts and scroll up/down. Afterwards it is not clear anymore which commit is really shown in the information pane. Simply drawing an arrow/line from the pane to the actual commit on the graph would remove that problem.

@nato

[2017-02-22 01:47] simonhatch opened #3255 "Dashboard - Allow "pinning" for commits"
Breaking up #3243 into individual issues.

Keep displaying information while hovering over a commit despite another commit is pinned

Let's assume I want to investigate an alert. I am pinning that alert to the information pane. Now, I want to see the value or "Chromium Git Commit Range" of one commit before the alert. Even to get to the value I would need to click the commit before the alert thus

[2017-02-22 01:48] simonhatch opened #3256 "Dashboard - Add close button to chart-tooltip."
Breaking up #3243 into individual issues.

Offer a way to close the pinned information pane

When I click on an alert, I see the options to triage, etc the alert. There is also a close button. Such a close button would be great on the pinned information pane too because the pane is often obstructing the chart.

@natorion

[2017-02-22 02:48] simonhatch commented on #3256
How's this:

https://dev-simonhatch-7686e033-dot-chromeperf.appspot.com/report?sid=a25effb414e5e78f8f791d1ff043f002dbbddd164138beeebe1c867482b11ebe

[2017-02-22 03:26] simonhatch commented on #3245
FYI: These are actually non-overlapping, but it's not obvious until you expand the groups.

[2017-02-22 08:52] natorion opened #3257 "Visualize the clustering and overlapping of grouped alerts"
Reference: #3245

It would be interesting to see which alerts overlap and which don't. That would make it easy to identify if there are multiple issues in the alert range. Additionally it would be easy to identify cluster and thus also hinting to the location of multiple issues. See attached picture.

- Big bottom bar is the min and max range of all the grouped alerts
- Small lines are the individ

[2017-02-22 08:52] natorion commented on #3245
IC, I created an FR out of this.

[2017-02-22 08:52] #3245 closed

[2017-02-22 08:59] natorion opened #3258 "Add group_report?rev=xxx link to a pinned commit information pane"
See screenshot to identify the information pane I am talking about:
![hoveringinfo](https://cloud.githubusercontent.com/assets/7190422/23168499/ad11bd8c-f848-11e6-811e-fc623a28b1d2.png)

It would help if this pane also have an entry to the associated group_report?rev=xxxx link. E.G. in the screenshot above that would be group_report?rev=450345.

That would improve the discoverability and reduce th

[2017-02-22 09:08] natorion commented on #2949
What is missing in order to activate it for all platforms?

[2017-02-22 10:35] natorion opened #3259 "Automatically start bisect on certain benchmarks/alerts/anomalies"
The current sheriff workflow is:

1. Look at the alert page
2. See a grouped alert from some Telemetry benchmark (like Speedometer or v8 memory-related stories)
3. Open reports page of the grouped alert
4. Wonder what in the massive range might have caused it
5. Create issue to start a bisect
6. Wait until bisect is finished and sheriff again has time to do his sheriff duties

It would be possible

[2017-02-22 11:30] chromy opened #3260 "results2.html: exception on clicking 'show overview' for the first time"
The following line doesn't look right: [histogram_set_table_row.html#L260](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/value/ui/histogram_set_table_row.html#L260)
It seems like `displayLabel` will never be defined there?

I think this is the cause of a bug in results2.html where you have to click the 'show overview' button twice to get the overview to show up however I

[2017-02-22 11:33] chromy commented on #3260
@benshayden I think you're the expert here :)

[2017-02-22 11:50] natorion commented on #3222
Other use case that just came up after talking with our memory sheriffs:

Easily compare memory consumption on different devices and focus on percentiles.

[2017-02-22 13:18] zeptonaut commented on #3247
I don't have too strong of an opinion here. Given that most of it is already unindented, I'd say to just make that the standard and change the nonconformant code.

[2017-02-22 15:12] primiano opened #3261 "Systrace can miss names of arbitrary processes"
Here's a screenshot of the problem:
<img width="259" alt="screen shot 2017-02-22 at 3 00 37 pm" src="https://cloud.githubusercontent.com/assets/7137473/23216988/b7681b38-f90f-11e6-8213-9b69a9fcfaa8.png">

Why does Process 506 not have a name? The current logic works as follows:
the trace contains lines of the form

ThreadName-TID (PID) ...
example:
`            adbd-18326 (18326) [000] d..3 207123

[2017-02-22 15:46] anniesullie commented on #2949
@fmeawad who is the current owner?

[2017-02-22 15:46] fmeawad commented on #2949
For Android, the pages recorded are not android friendly, there was suggestions that we use a different android page set.
I believe this is going to be a none-issue once we migrate to the new metric/benchmarks by @mythrialle

[2017-02-22 15:47] fmeawad commented on #2949
@mythrialle Adding you as owner here, feel free to bounce it back.

[2017-02-22 15:50] anniesullie commented on #3258
One thing that could get a little confusing here: In that screenshot, the rev that regressed could be anything from 450243-450345, which is over a hundred commit positions, and the range can vary from bot to bot. How do we know that we want to link to rev=450345.

[2017-02-22 15:52] natorion commented on #2949
So technically we are "only" missing the pageset. The metric collection etc should work? Mythri is AFAIK working on doing RCS for non-startup phases, so I am not sure if the pageset she is creating is going to be suitable.

cc @rmcilroy @camillobruni

[2017-02-22 15:56] fmeawad commented on #2949
AFAIK: Mythri is not excluding startup phase, it is going to be one of 4 phases (RAIL)

cc @nedn for suggestions on whether we should add more platforms to the current metric or wait for the new one.

[2017-02-22 15:56] natorion commented on #3258
If it is the wrong revision, a user can simply change the revision number. With this change he at least has the chance to discover the feature and already gets a good preset.

Perfect solution would be a range in group_report?rev=xxxx, but that seems like a second iteration of this feature with more work attached to it.

[2017-02-22 15:57] rmcilroy commented on #2949
re #9 I don't think Mythri's benchmarks are going to be a replacement for the benchmark - I think we still want to measure top25 in addition to v8.browsing (correct me if I'm wrong Camillo).

[2017-02-22 15:58] anniesullie commented on #3258
Makes sense. I'll take this and make a demo.

[2017-02-22 15:59] rmcilroy commented on #2949
Fadi's comment is right, Mythri's benchmarks don't exclude startup, but they are a different behavior and do measure additional interaction other than startup. As such, I think we want to have top25 for startup, and it would be great if we could enable this for Android too.

[2017-02-22 16:02] nedn commented on #2949
The system_health's browsing stories doesn't wait long enough after loading, so I agree that it may not be the best candidate for top25 startup.

Though on the topic of optmizing top X pages for loading startup, I wonder whether V8 team should just switch to use the same top Y pages used by loading-dev team.

The mobile version is in https://cs.chromium.org/chromium/src/tools/perf/page_sets/loadin

[2017-02-22 16:07] anniesullie commented on #3258
Demo: https://dev-sullivan-4c493604-dot-chromeperf.appspot.com/report?sid=c99c1147fedb76916f456dabc859c1e59ca16fd82dc3dac8d110b2366b898970

[2017-02-22 16:15] primiano commented on #3261
Had some further though on this after looking at the current architecture of the various parsers.
I think might be better to just inject some events of the form:
`<...>-16553 (-----) [003] ...1 213416.839697: tracing_mark_write:proc_info: name=FooBar`

So I can just add a new `importer.registerEventHandler` and handle that there.
Also this might be a bit more future proof, as I plan to get soon al

[2017-02-22 16:17] mythrialle commented on #2949
Yes, I think the loading_mobile page set would be good to measure startup time on Android.

I can add a new benchmark to measure startup time on the page suggested by nedn ( https://cs.chromium.org/chromium/src/tools/perf/page_sets/loading_mobile.py?q=loading.mobile&dr=C&l=30) for the Android devices.

[2017-02-22 16:35] simonhatch commented on #2639
FYI: From discussion, the fix here is to retain as much of the old picker path as is still valid after switching a subset of it.

[2017-02-22 16:55] benshayden commented on #2483
Ping from @mythrialle . Anybody have time for this?

[2017-02-22 16:58] zeptonaut commented on #3235
I'm definitely in favor of this. I think that we could create a Catapult-specific rule that's really similar to eslint's [no-alert rule](https://github.com/eslint/eslint/blob/master/lib/rules/no-alert.js) pretty easily.

[2017-02-22 18:14] primiano commented on #3261
Ben and I gave it a go to this:
https://codereview.chromium.org/2710993002
https://codereview.chromium.org/2708393002

[2017-02-22 18:30] natorion commented on #3258
Simple but awesome :-) Thanks!

[2017-02-22 18:30] #3258 closed

[2017-02-22 18:36] ChrisCraik commented on #3261
@jreck has thought about this, and planned at some point to build the process list with names into the dump, similar to what you suggest in the first post. This would allow us to get rid of the brittle "fix_thread_names", and save a roundtrip to adb.

[2017-02-22 18:36] natorion commented on #3256
Thanks. That would accomplish the task.

I am wondering, if the known "Close" button (see screenshot) that is shown when an alert is selected might be the better UI. It is an already known UI pattern used on chromeperf. I also played around a little bit and when the content of the pinned pane is scrolled, the "X" disappears (see screenshot).

![closebuttonvanished](https://cloud.githubusercontent.

[2017-02-22 18:44] simonhatch commented on #3256
Hmm that's kind of annoying, didn't realize it did that. Do you have a preference of close button vs X? We should probably make all these popups have a similar UI, although in this case the close button would probably be to the right of the bisect/trace buttons.

@anniesullie

[2017-02-22 18:48] anniesullie commented on #3256
I think it makes sense because of the scrolling issue, and because the buttons in the triage dialog work the same way.

The chart legend uses "x", but it is very small so I think it's an exception?

[2017-02-22 18:49] natorion commented on #3256
Given that the close button is already being used I would favor the close button. Might also be more touch friendly, which probably is not that important ;-).

[2017-02-22 18:56] simonhatch commented on #3256
Ok great I can change the X to a close button. So it'll be on the far right, because there's also an optional "debug" button that's displayed for the last data point in a series.

[2017-02-22 19:02] natorion commented on #2949
That would be a sensible solution. +1

[2017-02-22 19:19] simonhatch commented on #3256
How's this: https://dev-simonhatch-62ad4b1b-dot-chromeperf.appspot.com/report?sid=2ccfb75e2e41e37ad9281fedb04c9bb50747f42914bcd055788ed7b80a1e47fa

[2017-02-22 19:19] benshayden commented on #3260
Nice catch! Patch incoming.

[2017-02-22 19:26] natorion commented on #3256
Couldn't brake it 👍

[2017-02-22 19:26] #3256 closed

[2017-02-22 20:03] simonhatch commented on #2639
So poking at this a bit, so there's a bunch of complexity around supporting multi-select, but the last multi-select menu was disabled by @anniesullie in https://codereview.chromium.org/2595133002/.

Speake to @eakuefner earlier this week, we talked about potentially stripping out a lot of this complexity to make his work on the subtestdict optimization easier. Would help here too, since this does

[2017-02-22 20:06] anniesullie commented on #2639
Awesome! Let's definitely remove multi-select!

[2017-02-22 20:10] simonhatch commented on #2639
@eakuefner have you had a chance to do this? Otherwise I can grab strip that out now.

[2017-02-22 20:31] eakuefner commented on #2639
I haven't; was planning to follow up after the core case is landed. Fine by me for you to take a look.

[2017-02-22 20:38] randalnephew opened #3262 "Fix systrace to work with BattOr"

[2017-02-22 20:47] simonhatch commented on #2639
Ok let's parallelize then! I'll grab this.

[2017-02-22 21:09] agrieve commented on #3150
@eakuefner - Wondering where this stands in terms of roadmaps?

[2017-02-22 21:18] camillobruni commented on #2949
Why do we need the google landing page 4 times in the mobile pageset, that seems like wasting resources on generating duplicate information? Other than that I don't have strong opinion on what we exactly measure on mobile as long as we cover something.

Again, requirements for blink might be different than for V8. I agree with ross on this and I'd like to have the exactly same page running on andr

[2017-02-22 21:40] nedn commented on #2949
@camillobruni the reason we have google landing page 4 times is because they have different characteristic:
https://www.google.com/search?q=flower#q=flower+delivery --> search result include image & in English

https://www.google.co.in/search?q=%E0%A4%AB%E0%A5%82%E0%A4%B2&rct=j#q=%E0%A4%AB%E0%A5%82%E0%A4%B2+%E0%A4%B5%E0%A4%BF%E0%A4%A4%E0%A4%B0%E0%A4%A3 --> search results are in Indian

https://www

[2017-02-22 21:54] eakuefner opened #3263 "Core test selection should include ref tests"
Once we have built the core infrastructure to address #2830 (#3225 etc), we'll have a clear path forward to fixing existing bugs with core test selection.

In particular, ref tests are not regarded as core right now, and they should be.

@anniesullie

[2017-02-22 22:01] eakuefner opened #3264 "Core test selection should include siblings if a selection is leaf-level"
If I select a leaf test, then I want all of its siblings to be selected. Currently, we only check for children, which makes browsing charts needlessly inconvenient. In the same vein as #3263, we can do this in a straightforward, easily testable way once we're using /list_tests?type=test_path_dict everywhere.

@anniesullie

[2017-02-22 22:54] ChrisCraik commented on #3261
The approach in the CLs linked above LGTM, but @jreck, any thoughts? It's just extending the current process query for more info, and doesn't make it any more difficult to dump all the relevant process data from atrace in the future.

[2017-02-23 01:45] jreck commented on #3261
What I'd change is for the ps dump to be a distinct import step instead of being mashed into the ftrace data.

So basically we import { ftrace=...; process_list='result of ps -T'; tgid_map=... }. Then the fix_thread_names & fix_missing_tgids steps in systrace.py go away entirely. This also more easily allows us to do both a ps dump before and after the trace instead of just after, as it's just a s

[2017-02-23 03:08] anniesullie opened #3265 "Need to update documentation to include gcloud appengine library install"
After https://codereview.chromium.org/2701113002/ I cannot run the unit tests locally, even though I have gcloud sdk installed and added to my path. I'm running on Mac, not sure if it matters. I get this error:

[code]

When I print out the appengine path that gets inserted here: https://codereview.chromium.org/2701113002/diff/40001/dashboard/dashboard/__init__.py

It's `/Users/sullivan/google-clo

[2017-02-23 03:22] simonhatch commented on #3265
Just checked my mac install and repro'd, looks like this fixes it:

gcloud components install app-engine-python

Should add that to the install steps and possibly error out with a helpful message if its not installed.

[2017-02-23 03:33] anniesullie commented on #3265
Thanks, that works for me too! Re-titling bug.

[2017-02-23 03:53] anniesullie commented on #3265
https://codereview.chromium.org/2711883002

[2017-02-23 03:56] anniesullie commented on #3265
Send a PSA to chrome-speed-services@

[2017-02-23 13:01] anniesullie commented on #3265
This is **done**.

[2017-02-23 13:01] #3265 closed

[2017-02-23 14:49] primiano commented on #3261
Let me think a bit more on this. maybe the entire "get extra info about processes , like memory" should be a completely different tracing agent (hence with its own import and stuff as you say)
Ultimately, other than just process names, I am planning an optional helper daemon that, when running, injects stats about processes (e.g., memory counters) so we can visualize them in the TV via the [existi

[2017-02-23 15:16] jreck commented on #3261
So something like that would be the sort of thing where a distinct tracing agent would help. Imagine something like an on-device trigger where if it detects it's in a low-ram state it fires off a 10 second trace. We can't meaningfully do this now since all the fixups live in systrace.py which requires an adb connection to the device very shortly after the trace was taken to be able to query the da

[2017-02-23 15:19] zeptonaut commented on #3233
Is anyone willing to take the lead on, for now, just renaming these metrics to something consistent with other metrics? @lpy @eakuefner @benshayden

[2017-02-23 15:45] simonhatch commented on #2639
This should be fixed, stripping out the multi-select support had the side effect of removing the need to watch for deselects, which in turn was clearing out the picker path before the next selection event was fired off. I added a test in the landed CL that tests the feature and should prevent it from regressing.

Demo: https://dev-simonhatch-c61be460-dot-chromeperf.appspot.com/report?sid=94456b7e1

[2017-02-23 15:45] #2639 closed

[2017-02-23 17:08] anniesullie commented on #3014
Sorry for the delayed response! Can you give an example alert with the wrong display rev?

[2017-02-23 17:18] jessimb commented on #3014
[These alerts](https://chromeperf.appspot.com/group_report?keys=agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgIDgxK76qAoM) show point id/timestamp instead of display revisions. In the datastore, their display_start/end are 'null'.

[2017-02-23 17:20] natduca opened #3266 "Mark feature is broken"
Click a slice. Press 'm'.

What I see:

![image](https://cloud.githubusercontent.com/assets/412396/23270605/32ced0fc-f9a9-11e6-83fc-2b78376e942f.png)

What I should see is that the mark lines extend all the way vertically over the screen.

[2017-02-23 17:20] natduca commented on #3266
@lpy can you investigate?

[2017-02-23 17:41] natduca opened #3267 "Analysis TabView isn't putting the tab outline around the current tab"
Steps to reproduce:
- Open any trace
- select a box with some slices. this will bring up the multi event sub view.
- Select a specific subevent so only one slice is selected.

What I see:
![image](https://cloud.githubusercontent.com/assets/412396/23271243/a413b834-f9ab-11e6-9255-bd11b22bb943.png)

What I should see:
![image](https://cloud.githubusercontent.com/assets/412396/23271269/b99c7d44-f9ab-

[2017-02-23 17:44] natduca commented on #3267
@lpy

[2017-02-23 17:44] natduca opened #3268 "Back/forward button doesn't work in traceviewer"
When selection changes, the brushing state controller is supposed to do a pushState that saves the selection id. Then when you press back, the brushing state controller should receive a popstate message, with the selection id. It then should change the selection

This isn't working.

Steps to reproduce: open a trace in the trace_viewer.html, make a selection, make another, press back.
What should

[2017-02-23 17:46] natduca commented on #3268
@lpy I would start by seeing if brushing_state_controller's historyEnabled property is set to true. If it is not, then thats the bug. If its set to true, then start following the onUserInitiatedSelectionChange_ to see if window.pushState is being called.

[2017-02-23 17:54] eakuefner commented on #3150
Thanks @agrieve, that's a good question. We're hoping to land the MVP for the histogram pipeline this quarter and start looking at further use cases in Q2. We have a collection of use cases like these that involve attaching more metadata to test results and we're hoping to service as many of them as possible using the technology that we're building right now.

[2017-02-23 18:10] benhenry commented on #3150
+1 to bug template AND GET query string per alert. Sometimes, we do not want to create a new bug template in the project, but will need to adjust some of the params using the GET query string.

[2017-02-23 18:15] eakuefner commented on #3150
@benhenry I'm a little ignorant of Monorail, so I forgot that query params are a different concept than templates, which I assume persist server-side? How are they keyed? Is there a different query param that I can pass, like ?template=XXX ?

[2017-02-23 18:58] eakuefner opened #3269 "is_selected is a fake bool"
In the process of implementing a mode for `/graph_json` that can take a fully resolved list of test paths rather than a test path dict, I discovered that the `is_selected` request parameter that the endpoint accepts is a fake bool: it takes the value `'true'` and then is treated as though it were a boolean. This has not resulted in any bugs because we use `.get()` and only set the field in `chart-

[2017-02-23 18:58] #3189 closed

[2017-02-23 19:00] benshayden commented on #3189
Should we start replacing the 83 iterItems calls with Object.entries now? Is there a separate bug for that?

[2017-02-23 19:05] zeptonaut opened #3270 "CPU tracing agent should be able to handle process names with a space in them on Windows"
When Windows spits out performance data with the command

[code]

it gets back some data that looks like this:

[code]

For obvious reasons, parsing this kind of output is kind of a pain in the butt. Given what I'd seen, I made the simplifying assumption that `Name` wasn't allowed to have spaces in it because none of the 200 or so processes running on my system had a space in their name. Apparentl

[2017-02-23 19:07] eakuefner opened #3271 "Standardize dashboard error reporting"
I'm a huge fan of throwing in deep business logic and using the handler to catch the exception and call self.ReportError, but unfortunately we don't do this everywhere, and we're inconsistent about it in a number of different ways:

* graph_json uses returning `None` in some private functions to signify that there was a problem, and just calls `logging.error` to record the problem, which I think i

[2017-02-23 19:07] eakuefner commented on #3269
Marked this as code health; to be clear it's non-urgent and I'll work around it until the endpoint work is closed out.

[2017-02-23 19:09] anniesullie commented on #3271
+1 to these suggestions!

[2017-02-23 19:10] anniesullie commented on #3269
Agreed this is a problem; I think we should start with an audit of request params.

[2017-02-23 19:14] eakuefner commented on #3189
Yes; yes: #3031

[2017-02-23 19:32] benshayden commented on #3031
Alex has left the team and Charlie is overloaded.
@lpy would you have time to migrate the 83 iterItems calls to Object.entries()? If not, then I can take it.

[2017-02-23 19:48] chromy commented on #3267
@zeptonaut and I tried to fix something like this over in https://codereview.chromium.org/2653693002/ and ran in to a bunch of issues :(

[2017-02-23 19:56] zeptonaut commented on #3031
@benshayden Alex did almost all of this before he left, and I have a CL almost ready to go that finishes his work in https://codereview.chromium.org/2714543004/, so I think I can drive this to the finish. Retrospectively, I should definitely have just asked @lpy to do this though.

[2017-02-23 20:39] eakuefner opened #3272 "Delete test_path_dict functionality from /graph_json"
Once all callers of /graph_json have been set up to call /list_tests for the resolution, we should delete the code from /graph_json that does the resolution.

[2017-02-23 20:52] chromy opened #3273 "We still use unittest.TestError"
We have a few places that use `unittest.TestError` ...despite the fact we [removed it](https://codereview.appspot.com/218400043/diff/40001/trace_viewer/base/unittest/test_error.html) in 2015.

[code]
In general trying to `new` a missing thing would break the test so this wouldn't have reduced coverage ...except that for added excitement sometimes we call `throw new unittest.TestError(...)` inside

[2017-02-23 20:55] benshayden commented on #3273
I just fixed find_controller_test, but the bug stands for the remaining uses of TestError.

[2017-02-23 21:13] chromy commented on #3273
Sent you a CL :)

More generally the fact that asserting in a promise returned from a test doesn't cause the test to fail seems confusing... (I have definitely got it wrong in the past) Maybe we should change it so that it works?

[2017-02-23 21:16] eakuefner commented on #3273
Maybe we want chai-as-promised?

[2017-02-23 21:17] dave-2 commented on #1407
**Done.**

[2017-02-23 21:17] #1407 closed

[2017-02-23 21:34] dave-2 opened #3274 "Make App Engine scripts consistent"
We will have 4 scripts that do similar App Enginey stuff:
- Deploy App Engine
- Deploy Cloud Endpoints
- Run dev server / JS tests
- Run Python unit tests

They all need to do things like find the Cloud SDK in `PATH`, add required libraries to `PYTHONPATH`, etc. Let's put them all in one place and reuse some common code.

@anniesullie

[2017-02-23 21:37] benshayden opened #3275 "Re-organize v8AndMemoryMetrics"
Currently, v8AndMemoryMetrics is the only meta-metric, and it's one of only 2 metrics whose filename doesn't match the metric name. (The other is runtimeStatsTotalMetric, which is planned to merge with runtimeStatsMetric, which does match its filename.)

Meta-metrics are no longer necessary now that TBMv2 supports running multiple metrics.
It would be nice to be able to enforce naming metric filen

[2017-02-23 21:48] anniesullie commented on #3274
Awesome! As we come up with clear plans, can we keep the doc updated? https://docs.google.com/document/d/1GLaXuQsc0r6K6WfFk0LC7nGVO-1aExt4PUsBCRXQgm8/edit

[2017-02-23 22:25] eakuefner commented on #3225
This is **done**.

[2017-02-23 22:25] #3225 closed

[2017-02-23 22:56] nedn opened #3276 "Add benchmark health link to the top nav of the perf dashboard"
It would be great if we can access benchmark health dashboard using link in top nav.

![z2nun1kfmrg](https://cloud.githubusercontent.com/assets/911877/23282920/643bb8f6-f9f1-11e6-9239-33ff95bbdbed.png)

[2017-02-23 22:57] eakuefner opened #3277 "Delete multi-bot code from /list_tests"
It's unused, or at least will be once the dust from #3226 settles.

[2017-02-23 22:58] anniesullie commented on #3238
This is **done**.

[2017-02-23 22:58] #3238 closed

[2017-02-23 22:59] anniesullie commented on #3236
This is **done**.

[2017-02-23 22:59] #3236 closed

[2017-02-23 22:59] anniesullie commented on #3224
This is live on the dashboard. Closing but will keep addressing follow-up issues.

[2017-02-23 22:59] #3224 closed

[2017-02-24 00:15] benhenry commented on #3150
exactly, it does `?template={STRING_ESCD_TEMPLATE_NAME}`

[2017-02-24 00:53] anniesullie commented on #3237
This is now **done**

[2017-02-24 00:53] #3237 closed

[2017-02-24 04:48] eakuefner commented on #2908
This is done.

[2017-02-24 04:48] #2908 closed

[2017-02-24 04:49] #2833 closed

[2017-02-24 05:16] #3260 closed

[2017-02-24 05:16] #3232 closed

[2017-02-24 05:17] #3233 closed

[2017-02-24 05:17] #3216 closed

[2017-02-24 05:17] #3164 closed

[2017-02-24 05:44] #2760 closed

[2017-02-24 05:45] #2752 closed

[2017-02-24 05:45] #1807 closed

[2017-02-24 05:55] #2842 closed

[2017-02-24 06:00] benshayden commented on #3114
@eakuefner WDYT of Charlie's comment? If the stateless class is ok, then can you close this bug?

[2017-02-24 06:01] #3144 closed

[2017-02-24 06:08] #1757 closed

[2017-02-24 11:43] nedn commented on #2879
This is done.

[2017-02-24 11:43] #2879 closed

[2017-02-24 14:38] zeptonaut commented on #3233
Thanks for doing this Ben!

[2017-02-24 15:13] zeptonaut opened #3278 "Enable eslint's dot-notation rule"
The [airbnb style guide recommends using dot notation](https://github.com/airbnb/javascript#properties--dot)

[code]

over bracket notation

[code]

where possible. (There are some instances where it's not possible, such as if the property name has a minus in it that would be interpreted as a subtraction operator without the bracket notation.)

eslint has the [dot-notation rule](http://eslint.org/

[2017-02-24 15:27] zeptonaut commented on #2819
Now that the `indent` rule is enabled, we can use eslint's `--fix` capability to fix problems in the existing codebase before turning this on.

@lpy, @eakuefner, @benshayden, would any of you be willing to take Ben's existing work and drive this to the finish line?

[2017-02-24 15:30] anniesullie opened #3279 "Benchmark health report: clearly show which benchmarks are not monitored"
One thing we'd like to be able to see right away is which benchmarks are not monitored at all. Make that clearer in the list and in the benchmark details.

[2017-02-24 16:02] deepanjanroy opened #3280 "Preferring const over let"
This came up in a code review, and I wanted to discuss it separately so the code review doesn't get off topic.

What should our guidance be about using `const` vs `let` in javascript? My opinion is we should _always_ use `const`, and use `let` for only the the variables whose values need to change. This makes reasoning about code simpler. Static analysis tools can also perform better with the more

[2017-02-24 16:57] benshayden commented on #3280
Thanks for starting this discussion!
I was under the impression that we were using const more for documentation purposes than for the static analysis, and I thought that using const in functions might hinder changing the code to modify the variable, but your reasoning is better, and the style guides do make that point, too.
I'll happily change to using const by default unless another tracing owner

[2017-02-24 18:30] eakuefner commented on #3280
This is a really fair point: often I give things names just to explain myself as in go/tott-465, and these are used once or twice and never mutated.

Given the reasoning presented here, I'm in favor of using const wherever possible, just as a Java programmer might use final. To be clear, UPPERCASE_CONSTANTS are still a use case for const, but in that case, you're talking more about global or modul

[2017-02-24 19:11] lpy commented on #3280
I have no objection here, but just to clarify that what `const` creates is not immutability, but a immutable binding.

I agree with @benshayden that we are using it more for documentation, a static analysis would be awesome to notify us when we "modify" fields in variables that are declared by `const`. If we truely want immutability, we should probably create a wrap around `Object.freeze`, but I d

[2017-02-24 19:21] davidsgrogan opened #3281 "JS error with z-score statistic: Cannot read property 'Symbol(Symbol.iterator)"
Repro steps:
(1) Load http://davidsgrogan.github.io/desktop-results3.html
(2) select a reference column -> unmodded
(3) absΔavg -> z-score
(4) reload page
(5) See bad behavior:
Page only shows "Displaying Histogram table..."
JS console has this error:
desktop-results3.html:17711 TypeError: Cannot read property 'Symbol(Symbol.iterator)' of undefined
    at HTMLElement.set displayStatistic [as displ

[2017-02-24 19:25] tdresser opened #3282 "Add CPU time FMP metric."
CPU time between NavigationStart and FMP is less noisy than wall clock time. Add this as a diagnostic metric of FMP.

[2017-02-24 19:56] benshayden commented on #3281
Thanks! [This should fix](https://codereview.chromium.org/2716733003) it as soon as I write a regression test.

[2017-02-24 20:02] simonhatch commented on #3241
Yeah having 2 revision ranges, one which goes to a graphs page and the other that goes to the actual range is pretty confusing. Kinda think it would make sense for the revision range to actually go to the range of commits, the little graph button to go to the /group_report, but then we'd need to ditch it going to /report.

Barring that, changelog sounds about right.

[2017-02-24 21:47] lpy commented on #3239
[feature request](https://github.com/eslint/eslint/issues/8150) submitted.

[2017-02-24 22:35] lpy commented on #2819
assign to myself, I will take this.

[2017-02-24 22:52] benshayden opened #3283 "Smoke test vulcanized traces."
A bug was recently committed that broke vulcanized systrace files.

1. check in a small systrace file if there isn't one already,
2. write a python test to pass it through trace2html,
3. use vinn to load it, and
4. check that vinn's stderr is clean.

[2017-02-24 23:27] lpy commented on #2928
I think I finished my part, thus deassign myself from this. Are we done here?

[2017-02-24 23:29] benshayden commented on #2928
Thanks!

[2017-02-24 23:29] #2928 closed

[2017-02-24 23:41] sahiljain opened #3284 "Systrace assumes Android devices connected over tcpip are a GCE instance"
Systrace does not work on Android devices connected to a PC via tcpip (as opposed to usb). It assumes that all devices whose serial is an ip address is a GCE instance (https://github.com/catapult-project/catapult/blob/66152e522fc00d9ffd91e97622e5825ac12c91f7/devil/devil/android/device_utils.py#L235-L236), so it uses a different adb wrapper and ends up not working. My temporary workaround is to alw

[2017-02-25 04:30] benshayden commented on #2154
This looks obsolete. Please re-open if you disagree.

[2017-02-25 04:30] #2154 closed

[2017-02-25 04:54] benshayden opened #3285 "Scrub TODOs and comments referencing closed bugs."
I noticed a few comments referencing closed bugs that should either be done because they're unblocked, or clarified that the links are for historical purposes, or removed because we have git blame.

 * [find_input_expectations](https://github.com/catapult-project/catapult/blob/4ffbbd740839d9a2030e931d8e190a95ae7f51d7/tracing/tracing/importer/find_input_expectations.html#L820)
 * [drawing_container

[2017-02-25 05:12] benshayden commented on #3068
There are 364 lines containing the word "values", and 716 containing "value", under metrics/. Most of them refer to a HistogramSet, some are comments, some refer to numbers.

[2017-02-25 05:23] benshayden opened #3286 "Improve LineChart usability."
Dots and tooltips would help.

[2017-02-25 05:27] benshayden opened #3287 "[histogram-set-table] Hide show_overview buttons if they would have no effect."
Currently these buttons are displayed even when they would have no effect: when there is only 1 column and the groupby-picker is hidden. They're visual noise.

[2017-02-25 05:35] benshayden opened #3288 "Boxplots look confusingly similar to histograms in histogram-span."
They look like glitched histograms. #3123
Maybe if they were a different color? Hollow instead of solid?
Maybe a button to run a heuristic to re-bin the samples and display a histogram?

[2017-02-25 05:52] benshayden opened #3289 "[histogram-set-table] Enable deep links and using the browser's back button via location.hash."
Currently, when the user clicks a related histogram link, it is difficult to get the UI back to where it was before. The user needs to clear the search box, re-expand rows and re-open histogram cells.

There's also no way to share deep links to specific UI configurations. Users can share links to files, but then they need to figure out how to instruct colleagues to navigate the UI.

location.hash

[2017-02-25 05:55] benshayden opened #3290 "Display dynamic displayStatistic in overview line charts."
Currently, overview line charts always display histogram averages.
This is confusing if the user has selected a different statistic to display in the table cells.

[2017-02-25 06:01] benshayden opened #3291 "Add a script to add TelemetryInfo.label to existing HistogramSet JSON."
Users often remember --results-label too late after they run a benchmark. A script could allow users to modify existing HistogramSets to add/update/remove TelemetryInfo.label.

@primiano

[2017-02-25 06:17] benshayden opened #3292 "Sort storyset repeat numerically."
Currently, histogram-set-table's Name column is sorted lexicographically. This works well for fields such as histogram name which usually don't contain numbers, but storyset repeat is numeric, so "10" is sorted before "2".

It would be easiest to pad all storyset repeats to 2 digits so that "02" is sorted before "10", though this would fail if storyset repeat is ever 3 digits, and padding to 2 dig

[2017-02-25 06:24] benshayden opened #3293 "Update HistogramSet.GROUPINGS for MergedTelemetryInfo."
Currently, HistogramSet.GROUPINGS assume that the histograms serialized in results.html have TelemetryInfo and not MergedTelemetryInfo.
However, it is technically possible to pre-merge histograms and add them to a results.html.

GROUPINGS could be modified to handle MergedTelemetryInfos separately from TelemetryInfo, or it might be possible to combine TelemetryInfo with MergedTelemetryInfo so that

[2017-02-25 06:27] benshayden opened #3294 "Make HistogramSet.GROUPINGS handle {,Merged}{Buildbot,Device}Info."
Currently, HistogramSet.GROUPINGS only handle TelemetryInfo.
However, Histograms will gain BuildbotInfo and DeviceInfo as the histogram pipeline comes together.
GROUPINGS should be ready for them when they appear.

[2017-02-26 05:50] #3281 closed

[2017-02-26 21:13] benshayden opened #3295 "ChromeProcessNames FixedColorScheme needs to be imported by breakdown_span.html"
results.html for memory benchmarks are broken because breakdown-span tried to look up the ChromeProcessNames FixedColorScheme but can't find it because it isn't vulcanized because memory_metric.html isn't (and shouldn't be) imported by breakdown_span.html.

That FixedColorScheme should be moved to its own file so it can be imported to both memory_metric.html and breakdown_span.html without requiri

[2017-02-27 08:06] kenrussell commented on #3218
Thanks for tracking down this potential source of instability @nedn .

Should we talk with the DevTools team to see if this is likely to be a problem?

I'm concerned that if this class is changed to reconnect the DevTools socket every time, the connection costs may significantly impact the run time of tests.

[2017-02-27 09:04] perezju opened #3296 "Consider improving system_health/memory_metric_test.html"
Splitting off from [cl/2706753004](https://codereview.chromium.org/2706753004/):

care enough, it would probably be better to check in some real traces plus the
generated histograms (which then become the "expectations"). For changes in the
future we just need to re-run the metric and ensure that changes in the
expectations are, well, expected. (A bit like recipes and recipe-expectations
work.)

@

[2017-02-27 10:22] chromy commented on #3295
Yep! I'll take a look. Is there a script I can run to produce a results2.html from a trace?

[2017-02-27 12:18] chromy opened #3297 "Calling this.async in attached is bad news"
As I discovered in [cr/2671813006](https://codereview.chromium.org/2671813006/) the following piece of code from [timeline_view.html](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/ui/timeline_view.html#L144) makes it hard to test:

[code]

There isn't an easy way to force the async callback to happen without `requestAnimationFrame()` hacks, even the usual trick of abusin

[2017-02-27 12:20] chromy commented on #3297
See also: https://github.com/Polymer/docs/issues/1456

[2017-02-27 16:52] simonhatch opened #3298 "Bisect - Allow "Pinning" Telemetry to specific revision"
Copied from crbug.com/696560, @pasko

"Not sure $subj is worth doing, here are my thoughts:

We would need to have telemetry at the latest version in the whole process of bisecting, and chrome be built at revisions that the bisect chooses, I thought it works this way.

In issue 661939 we found that we probably cannot pinpoint a single regression, but if we could, a working bisect would have helped

[2017-02-27 17:29] benshayden commented on #3295
Sorry, I totally should have linked to a repro!
http://www/~benjhayden/3295.html
Open devtools and click one of the cells to open a histogram that should have the processes diagnostic.

In order to test that your change fixes it, right click that link, Save Link As into your git working directory, and pass it through `./tracing/bin/valueset2html 3295.html`, open that local file, and click one of t

[2017-02-27 17:32] benshayden commented on #3295
And to actually answer your question, `./tracing/bin/run_metric traceFileOrDir metricName [metricName [metricName...]]`

[2017-02-27 18:19] randalnephew opened #3299 "Systrace uses wrong tag for trace data"
It uses <script class="trace-data" type="application/text"> it should be <script class="viewer-data" type="application/text">

@zeptonaut

[2017-02-27 18:36] lpy commented on #3266
Is this bug about the mark line didn't extend, or slices between the mark line didn't get selected, or both?

[2017-02-27 19:12] natduca commented on #3266
Apologies. That the mark line didn't extend.

On Mon, Feb 27, 2017 at 10:36 AM, Peiyong Lin <notifications@github.com>
wrote:

[2017-02-27 19:29] zeptonaut commented on #3299
At least one main ramification of this is that it's not possible to use `html2trace` on a HTML-ified trace to extract its component traces.

It also seems like there are some other problems:

- `application/text` isn't a valid MIME type. It should be `application/json` for valid JSON or `text/plain` for non-JSON. As far as I can tell, trace viewer doesn't do any validation that the correct MIME ty

[2017-02-27 19:32] zeptonaut commented on #3297
Sounds like a plan to me :-)

[2017-02-27 19:55] sunjianchromium opened #3300 "Add logic for identifying Location::setHash."
Currently, spa_navigation_helper only identifies History::pushState
as the event that updates the url fragment. Location::setHash actually
serves as the same purpose as History::pushState. This patch adds logic
to identifying Location::setHash.
Background: https://docs.google.com/document/d/1B44Aqym4rRNlghlMNzSR2clIZhdvVyhQ2LMmvRKEkW0/edit?usp=sharing

[2017-02-27 20:00] zeptonaut commented on #3285
I like TODOs, but I totally agree that our current method of handling them and associating them with bugs sucks.

It seems like the problem here is, more than anything, a tooling problem. On my old team, people regularly turned on the [dead code layer of Code Search](https://cs.corp.google.com/piper///depot/google3/java/com/google/ads/servers/gfp/?q=f:forecastimporter&sq=package:piper+file://depot

[2017-02-27 20:05] fmeawad commented on #3289
I think the deep links for me is more important then the back button use case.
To help with the pointing out to issues can you append the list you have with:

- sorting

[2017-02-27 20:32] ChrisCraik opened #3301 "Systrace post-processing redesign"
Currently, systrace.py (specifically, the atrace agent) does a lot of post-processing before storing the output in the json/html file.

This has a couple downsides:

1) post-processing can't easily be reproduced in the --from-file case, used with on-device capture (where atrace is run without adb, or a host machine connected) or with boot-time tracing.

2) This complicates systrace.py, which means

[2017-02-27 20:44] lpy commented on #3266
It works on the latest Catapult + Chrome TOT, thus close this as WONFIX.

[2017-02-27 20:46] lpy commented on #3267
@chromy What issues did you run into?

[2017-02-27 20:56] sunjianchromium opened #3302 "Add a metric for spa navigation."
Currently, we have written the logic to identifying navigation start and first paint for each SPA navigation. We need to write a metric to measure the duration between navigation
start and first paint event for each spa navigation.
Doc: https://docs.google.com/document/d/1B44Aqym4rRNlghlMNzSR2clIZhdvVyhQ2LMmvRKEkW0/edit?usp=sharing

[2017-02-27 22:31] eakuefner opened #3303 "chart-container needs to be refactored"
In the process of addressing #3226, it's come up that `chart-container` has a lot of cruft that it doesn't seem to make sense to reuse. In particular, the goal is that we should be able to pass lists of tests directly to /graph_json, but there are a couple of major architectural issues that make this difficult to do in a sane, comprehensible way:

1. `addSeriesGroup` takes `testPathAndSelected`, w

[2017-02-27 22:53] natduca opened #3304 "Totals rows in multi-event-sub-view are broken/showing-NAN"
Totals are broken in the multi event sub view:

![image](https://cloud.githubusercontent.com/assets/412396/23383667/7078d136-fcfc-11e6-9799-4c94a27ebb79.png)

[2017-02-27 22:53] natduca commented on #3304
@lpy @benshayden @eakuefner any ideas?

[2017-02-27 23:03] benshayden opened #3305 "Remove "merged from" RelatedHistogramSet diagnostics."
It turns out that mergeRelationships only needed "merged to".

[2017-02-27 23:04] benshayden opened #3306 "Delete "merged to" RelatedHistogramSet diagnostics after mergeRelationships in HistogramSetTableRow."
Otherwise, they build up as the user re-configures the groupby-picker (which recomputes merged Histograms), and slow down future mergeRelationships operations.

[2017-02-27 23:07] eakuefner commented on #3304
I think @benshayden has a CL in flight to fix this.

[2017-02-27 23:11] eakuefner commented on #3304
Actually, a quick manual bisect shows that https://codereview.chromium.org/1974123002 is the first bad CL. @benshayden it seems like the root cause you suspected may not actually be to blame, but can you take a look?

Let's also definitely add a unit test for this.

[2017-02-27 23:17] natduca opened #3307 "Make Shift-dragging select the full timeline, vertically"
When you shift drag, or some modifier key, it would be really cool if instead of it selecting just the box you drag out, it selected everything vertically. So, drag 100,100 to 200,400 with shift down would select all timeline events with ts>=100 and ts<200 without regard to the y position.

[2017-02-27 23:17] natduca commented on #3307
@lpy

[2017-02-28 12:02] perezju opened #3308 "platform.RunCommand considered harmful"
The [linux_based_platform_backend](https://cs.chromium.org/chromium/src/third_party/catapult/telemetry/telemetry/internal/platform/linux_based_platform_backend.py?l=107) exposes an abstract `RunCommand(args)` method. The interfaces and behaviors of individual implementations, however, are distinct and conflict with each other.

* [posix_platform_backend](https://cs.chromium.org/chromium/src/third_

[2017-02-28 12:18] nedn commented on #3218
I think we should talk with DevTools team to figure out whether we can rely on a long live socket connection between Telemetry & Devtool. Once that's answer, we can spend some time to profile the socket connection cost to see if it does affect the run time of tests.

@caseq thoughts?

[2017-02-28 13:07] anniesullie commented on #3303
Yeah, this definitely needs refactoring! A deeper issue to think about is that this logic all encapsulates a concept of results grouping that is totally different than how telemetry sees it.

[2017-02-28 14:10] nedn commented on #3308
Killing RunCommand sgtm, it seems like an abstraction that was generalized but not honored by different clients.

cc'ed: @achuith for CrOS.

@zeptonaut, @randalnephew : another example of why the legacy power code should die :-(

[2017-02-28 16:34] zeptonaut commented on #3308
Yikes... yeah. Looking forward to killing these.

[2017-02-28 16:43] zeptonaut commented on #2819
Thanks @lpy!

On Fri, Feb 24, 2017 at 5:35 PM, Peiyong Lin <notifications@github.com>
wrote:

--

Charlie Andrews |  Software Engineer |  charliea@google.com

[2017-02-28 16:51] zeptonaut commented on #3239
@lpy, it's probably worth mentioning in the feature request not just what
we'd like changed but also why we feel that it's a valid way to use jsdoc.

I think one thing that's important to convey is for a function like:

/**
 * @returns {*} The only element of an iterable.
 * @throws {InvalidArgumentException} When the element has fewer or greater
than one element.
 */
function getOnlyElement(itera

[2017-02-28 18:30] jessimb opened #3309 "Improve table name support for /create_health_report"
Currently the table name entered into `/create_health_report` only checks for existence. It doesn't handle spaces and other punctuation correctly.

[2017-02-28 18:30] jessimb opened #3310 "Improve JSON validation on /create_health_report"
Currently, the JSON validation when creating a new `table_config` using `/create_health_report` disallows trailing commas and that is not made clear by the error message.

[2017-02-28 18:30] jessimb opened #3311 "Better handling of 'not found' values in /speed_releasing"
When /speed_releasing is looking for values to build the table, it checks the `Row` entity that is specified by the `table_config`. If it doesn't find anything, it returns a 0. This can be confusing if the value shouldn't actually be 0. Additionally, if both revision values are 0, the relative delta will be NaN%.

[2017-02-28 18:30] jessimb opened #3312 "/Speed_releasing requires 'category' which may be superfluous"
Not every table requires a category for their `/speed_releasing` needs. Support users who don't want/need this.

[2017-02-28 18:30] jessimb opened #3313 "Allow threshold colors on /speed_releasing"
Allow deltas on the table within a percentage e.g. <1% to be black instead of red/green. Perhaps we can have a scale - the more red equals the worse the regression is.

[2017-02-28 18:31] jessimb opened #3314 "Formatting for 'count' units"
On `/speed_releasing`, some values have `count` as their unit. This may be a large number, so adding commas (e.g. 1,234,567) will greatly improve readability.

[2017-02-28 18:46] ChrisCraik commented on #3301
@wangzhen127 @zeptonaut

[2017-02-28 20:06] jbudorick commented on #3223
@anniesullie can you add @weableandbob to catapult?

[2017-02-28 20:14] jbudorick commented on #3223
My initial thought for this would be to basically do what's recommended above:

 - check service.adb.root for whether the device has root
 - check for the existence of su w/ `which su` (and probably `which which` to make sure which exists)
 - check for the necessity of su w/ a combination of the two above: only if the device does not have root but su does exist

scoped to solely sailfish devices.

[2017-02-28 21:34] tdresser opened #3315 "Add CPU time version of generateTimeBreakdownTree"
Once we have a CPU time FMP metric (#3282), we'll want to break down the CPU time metric the same was as the wall clock metric.

[2017-02-28 21:46] tdresser opened #3316 "In generateTimeBreakdownTree, split "idle" into "idle" and "BlockedOnNetwork""
It would be nice to be able to distinguish between cases where the main thread is idle because it's waiting for the network, or if it's idle because there's actually no work to do.

We can't actually measure if we're idle **because**  we're waiting on the network, but we can at least report if we're idle **and** we're waiting on the network.

I anticipate that during page load, we'll only see "Blo

[2017-02-28 21:54] benshayden commented on #3315
Does [RelatedHistogramBreakdown.buildFromEvents](https://github.com/catapult-project/catapult/blob/0975e3101889d59c7f7c5174cf2ef7e0c6529f9d/tracing/tracing/value/diagnostics/related_histogram_breakdown.html#L86) do what you're looking for?

[2017-02-28 22:00] tdresser commented on #3315
Sure does, thanks!

[2017-02-28 22:00] #3315 closed

[2017-02-28 22:29] lpy commented on #2819
The rule is now enabled, close as fixed.

[2017-02-28 22:29] #2819 closed

[2017-02-28 22:57] ChrisCraik opened #3317 "Frequency display broken"
Appears CPUs have been moved out of the kernel subsection.

This appears to have broken frequency display, where each CPU's frequency would show up directly beneath the CPU, and show/hide based on whether kernel was collapsed or not.

[2017-02-28 23:36] simonhatch commented on #3249
How's this: https://dev-simonhatch-4a916970-dot-chromeperf.appspot.com/report?sid=645703c6ca2919f7e822476e5a9d8789efc254eb6d554cfa24ddd29101cf83e3

[2017-02-28 23:38] ChrisCraik commented on #3317
@zeptonaut @Alex319 Looks like this is from fe1f77a00fc87241d0b3c0127d3d61c2ac7e3166

[2017-02-28 23:40] ChrisCraik commented on #3317
Do we want all the arbitrary clocks to still reside in the kernel? Seems strange that we'd treat CPU freq different, but I'd say we definitely want CPU freq to remain beside the CPU scheduling tracks.

If we do want to move them out of the kernel, maybe to a collapsible 'other clocks' section?

[2017-03-01 00:45] anniesullie commented on #3223
Added @weableandbob (will need to accept email invite)

[2017-03-01 08:18] natorion commented on #3249
Showing everything starting from the level of difference feels better. You are right. I tried it out with a deeper nesting level:

Graphs compared:
- internal.client.v8/x64/v8/RuntimeStats/Group-Parse-Total/duration/Total/Default
- internal.client.v8/x64/v8/RuntimeStats/Group-Compile-Total/duration/Total/Default
URL: https://dev-simonhatch-4a916970-dot-chromeperf.appspot.com/report?sid=a8f13d1b310

[2017-03-01 08:59] perezju commented on #3258
This is great!

[2017-03-01 11:25] chromy commented on #3295
Thanks! Looks great :) I have updated the patch.

[2017-03-01 13:52] perezju opened #3318 "Catapult presubmit failing with: Unexpected keyword argument 'boot'"
A [recent CL](https://codereview.chromium.org/2724533004) removed the `boot` option from `atrace_agent.AtraceConfig` and is causing other catapult CLs to fail presubmit with:

[code]

Not sure how the first CL got through without triggering the same issue?

@wangzhen127 @nedn

[2017-03-01 13:54] nedn commented on #3318
The first CL probably was created before we restrict the pylintrc for telemetry (see commit logs of https://github.com/catapult-project/catapult/blob/master/telemetry/pylintrc)

[2017-03-01 13:55] tdresser opened #3319 "Histogram should support inter-percentile ranges"
Many of our metrics are either multimodal, or include outliers we'd like to exclude. If either of these is true, we should probably be using percentiles instead of the mean.

Using std with percentiles doesn't really make sense though. std makes the most sense when your data is normally distributed, with a single mode, and you're including outliers.

We should expose interquartile range in additio

[2017-03-01 13:55] tdresser commented on #3319
@benshayden - any thoughts?

[2017-03-01 13:59] perezju commented on #3318
Actually, looking at the CL description (emphasis mine):

However the [call now failing](https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/internal/platform/tracing_agent/atrace_tracing_agent.py#L32) was using `boot=True`:

[code]

I don't know much about these things work, but sounds like the option *is* being used and the offending CL should be reverted?

[2017-03-01 14:02] perezju commented on #3318
+ @ChrisCraik who wrote the CL

Also note, the CL landed about a day ago, while the latest changes to pylintrc are over a month ago.

[2017-03-01 15:19] simonhatch commented on #3249
Oops I had hardcoded the demo to stop at the test_suite, here's an updated version:

Demo: https://dev-simonhatch-c20b845c-dot-chromeperf.appspot.com/report?sid=a8f13d1b310ed6913a2ee140d8d79989af9ab623be44de0b05cbed346fcd5ae9

[2017-03-01 15:21] natorion commented on #3249
Awesome!

[2017-03-01 15:37] nedn commented on #3318
Oh, seems like in this case,  pylintrc was only invoked on change to the call sites. It worths noting that systrace's PRESUBMIT explicitly include Telemetry path for pylint but not sure why that's not working.

@dave-2

[2017-03-01 17:16] wangzhen127 commented on #3318
Oh, why is Telemetry is using the boot option? I think we are safe to just remove the boot=True?

[2017-03-01 17:48] wangzhen127 commented on #3301
Generally I think this is a good idea.

I see decompressing is also part of this post-processing. Do we want to move that to trace viewer? My question is would people want to view the trace data by just opening the trace data file? For debugging maybe? If so, we probably want to make the trace data file human readable and the rest can be done in trace viewer.

[2017-03-01 17:53] ChrisCraik commented on #3318
The boot option didn't even run before I removed it - it would throw exceptions:

[code]

I think telemetry doesn't actually want boot=True there (or isn't actually using it).

Happy to revert the CL for now, or delete the boot=True part.

[2017-03-01 17:56] nedn commented on #3318
I removed the boot=True part. Hmhh, we do run atrace in Telemetry to produce traces like https://console.developers.google.com/m/cloudstorage/b/chrome-telemetry-output/o/trace-file-id_0-2017-02-28_00-00-09-36222.html, so it's unclear to me what happened.

[2017-03-01 18:31] nedn opened #3320 "Telemetry gtest_progress output should also shows the grouping keys of story"
The stories in a Telemetry benchmark are distinguished by both the name & the value of grouping keys. However, the gtest_progress output only display story by name. This lead to confusion for people who investigate Telemetry failure in the log. e.g: we can't distinguish 3G story vs non 3G for `loading.mobile` benchmark in https://chromium-swarm.appspot.com/task?id=34a228bd293dfb10&refresh=10&show_

[2017-03-01 18:47] eakuefner commented on #3320
@randalnephew Would you be willing to take a look at this?

I think the thing to do here is modify `GtestProgressReporter.WillRunStory` and `GtestProgressReporter.DidRunStory` to print the [same string that we inject into the tir_label](https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/internal/results/page_test_results.py#L319).

[2017-03-01 18:49] randalnephew commented on #3320
Will do.

[2017-03-01 19:06] eakuefner commented on #3320
Thanks Randy!

[2017-03-01 19:30] benshayden commented on #3319
SGTM. Would generalized inter-percentile ranges be useful?
I can hack this up next week if that's soon enough?

[2017-03-01 19:35] zeptonaut commented on #3317
Unassigning @Alex319, as he's no longer on our team.

@ChrisCraik, could you supply a screenshot of the bug?

[2017-03-01 19:42] tdresser commented on #3319
I'm in no rush.

I don't have much experience with inter-percentile ranges in general, as none of our tools support them.
It would be nice to be able to compare the data we get from various ranges, if it isn't much more effort.

[2017-03-01 19:44] zeptonaut commented on #2819
@lpy in @benshayden's [original CL enabling the `brace-style` rule](https://codereview.chromium.org/2363403004), he also enabled the eslint `curly` rule, which aims to prevent code like:

[code]

but allow code like:

[code]

it looks like you didn't enable that rule in your CL, though. Would you mind filing and owning a separate follow-up bug to enable that rule?

[2017-03-01 19:49] nedn opened #3321 "Remove support for oomkiller_profiler in Telemetry"
This is the tracking bug for removing oomkiller_profiler in Telemetry.

Context:
Profiler deprecation announcement: https://groups.google.com/a/chromium.org/forum/#!topic/telemetry-announce/uAYGe9sLDJQ

oomkiller_profiler does not pass Android O's Background Check restriction: https://bugs.chromium.org/p/chromium/issues/detail?id=680827

[2017-03-01 19:53] benshayden commented on #3319
I can't imagine any way of doing this that would take longer than a couple hours. :-)
(Self: remember delta statistics.)

Options:
1. customizeSummaryOptions({iqr: true})
1. customizeSummaryOptions({iprs: [[0.25, 0.75], [0.1, 0.9]]}) produces 2 statistics: ipr_025_075 and ipr_010_090.
1. No new options. Generate IPRs automatically for every pair of percentiles. E.g. to get IQR, set percentile=[0.2

[2017-03-01 19:57] tdresser commented on #3319
4. `cSO({iprs:[{lower:0.25, upper:0.75}, {lower:0.1, upper:0.9}])`

I'm voting 2.

[2017-03-01 20:17] lpy commented on #2819
sure

[2017-03-01 20:18] lpy opened #3322 "Intent to turn on curly rule in eslint"
Intent to turn on the following rule in eslint

[code]
which aims to prevent code like:
[code]
but allow code like:
[code]

[2017-03-01 20:25] randalnephew commented on #3320
[ RUN      ] https://www.google.com/search?q=flower#q=flower+delivery
[ RUN      ] /tmp/tmpoEnuPr.html
[       OK ] /tmp/tmpoEnuPr.html (2357 ms)
[       OK ] https://www.google.com/search?q=flower#q=flower+delivery (34898 ms)
[ RUN      ] https://www.google.com/search?q=flower#q=flower+delivery-[traffic_setting - Regular-3G]-other_key - other_value]

Is that an exceptable output? I haven't change

[2017-03-01 20:29] nedn commented on #3320
I think we should use `@` as the delimiter between the story name & the printed grouping keys of story since '-' can be interpret as part of the URL? Otherwise this seems ok to me.

[2017-03-01 20:30] eakuefner commented on #3320
I also find the brackets to be a little strange. What if you used dict formatting instead? Something like:
`...@{traffic_setting:Regular-3G,other_key:other_value}`?

[2017-03-01 20:30] jreck commented on #3301
trace-viewer already has jszip, so I don't see any reason for systrace.py to do decompression itself. I believe it does that today so that it can do the fixups, but since the fixups will be moving into trace-viewer there's no need to decompress.

I was planning on having the trace format be similar to chrome://tracing where it's a .json.gz. It can then either be loaded in chrome://tracing or wrapp

[2017-03-01 20:37] benshayden commented on #3319
SGTM

[2017-03-01 20:52] benshayden opened #3323 "Make breakdown-span build y-axis labels like histogram-span"
Currently, breakdown-span builds y-axis labels without taking units into account. This can result in very long strings that look funny next to the unit-aware strings in histogram-span's y-axis.

![](http://i.imgur.com/xj4l6VM.png)

@chromy

[2017-03-01 21:00] benshayden commented on #3289
@zeptonaut recommended [app-route](https://www.polymer-project.org/1.0/toolbox/routing).

[2017-03-01 21:27] wangzhen127 commented on #3301
That makes sense to me.

[2017-03-01 21:56] ChrisCraik commented on #3301
Sounds good, only concern is hitting https://github.com/catapult-project/catapult/issues/2826

[2017-03-01 22:14] ChrisCraik commented on #3317
Sure, much easier to understand with visuals. Previously, the kernel when collapsed would show only CPU tracks:

![collapsed](https://cloud.githubusercontent.com/assets/384439/23483675/c94caa70-fe88-11e6-8b59-bcff3e0fc88c.png)

And when expanded, would show associated clocks alongside those CPU tracks:

![expanded](https://cloud.githubusercontent.com/assets/384439/23483677/c95ee6a4-fe88-11e6-93d0-

[2017-03-01 22:36] ChrisCraik commented on #3261
Filed https://github.com/catapult-project/catapult/issues/3301 to track John's suggestion above for simplifying atrace agent work, and pushing fixups to importer.

[2017-03-01 22:40] randalnephew commented on #3320
Wait, isn't @ valid in URLs just not common?

[2017-03-02 05:52] benshayden opened #3324 "[histogram-set-table] Sync box plot dataRange between columns."
Currently, histogram-span displays box plots for legacy benchmarks. The problem is that each histogram-span determines the bounds of the box plot independently, so it's impossible to compare them visually between columns like you can for overview line charts.

[example](http:///www/~benjhayden/3281.html)

histogram-set-table-row should coordinate histogram-span's box plot's dataRange between colum

[2017-03-02 12:17] perezju commented on #3112
As far as I can see, there are no clients anymore:

* Sending [a full path to the command line file](https://github.com/catapult-project/catapult/blob/master/devil/devil/android/flag_changer.py#L64) to the `FlagCanger` constructor.
* Passing [prematurely quoted flags](https://github.com/catapult-project/catapult/blob/master/devil/devil/android/flag_changer.py#L291).

However it's hard to be sure,

[2017-03-02 14:45] deepanjanroy opened #3325 "Implement thread times metric"
Implement a thread times metric that shows cpu time per second of wall time for each type of thread.

This will be a TBMv2 metric. Current plan is to report cpuTime/second for the cross product of _type_ of thread and rail stage. Thread _type_ detection will be based on the name of the thread, e.g. all the WorkerPool/xxxxxxx threads will be assumed to be of the same type.

More details in [Design

[2017-03-02 16:26] jbudorick commented on #3112
@perezju that's done entirely in Java ([here](https://codesearch.chromium.org/chromium/src/base/test/android/javatests/src/org/chromium/base/test/util/CommandLineFlags.java?rcl=a6d53528275dd00edf03ddc1da5b3afdf3fa80a0&l=73)) and shouldn't interact with the file on device at all.

[2017-03-02 16:53] benshayden commented on #1818
https://codereview.chromium.org/2717713003/

[2017-03-02 17:08] #3249 closed

[2017-03-02 17:10] benshayden opened #3326 "Add breakdowns to FCP and onload in loadingMetric."
If metrics are monitored, then Breakdowns would be helpful.

https://bugs.chromium.org/p/chromium/issues/detail?id=697665

![](http://i.imgur.com/BVQtq27.png)

Also, the numbers in the FMP and TTI breakdowns should be rounded. The UI can't do it because it doesn't know the units.

Maybe units should be an optional field on the Breakdown diagnostic? Or can loadingMetric use RelatedHistogramBreakdow

[2017-03-02 17:31] benshayden commented on #1818
@nedn @eakuefner

Is it ok if we continue this discussion here?

Thanks for clarifying!

But, sorry, can you say more about why telemetry couldn't use a few lines to call vinn to collate the metric metadata from JS?

It seems to me like a nice feature for metrics to be able to describe everything about themselves in a single file so they don't forget to update other files when they update the metr

[2017-03-02 20:46] anniesullie opened #3327 "Benchmark health report: Make the report a sortable table"
Data will need to be collected offline and stored in the datastore to create this type of report. We'll also want to include data from the go/chrome-benchmarks spreadsheet.

@simonhatch @eakuefner @nedn

[2017-03-02 22:02] eakuefner opened #3328 "Histogram pipeline"
We are trying to make perf tests speak a common, histogram-based language and dashboard accept this as its primary wire format, so that we can make use of the rich information embedded in histograms to make the dashboard UX better for users. An added benefit is that a class of errors we have had in the past, to do with input format validation, will go away because people will use our API to produc

[2017-03-02 22:18] zeptonaut commented on #3322
@lpy, could you add more detail in the bug description about what code we're trying to prevent/allow by turning on this rule? It seems like a little more detail is probably warranted.

[2017-03-02 22:44] nedn opened #3329 "Telemetry should prompt users to authenticate upon cloud storage failure."
Telemetry should prompt users to authenticate upon cloud storage failure

[2017-03-03 00:54] nedn commented on #1818
@tdresser & @ulan  for this discussion.

I think the your argument about the `requiredCategories` should be close to the metric code that depend on trace events from those categories is a fair point. We can have Telemetry call vinn to collate the metric metadata from JS.

I still think we should have an all_metrics.json file as a high level interface for understanding all the metrics & histograms

[2017-03-03 06:14] wangzhen127 commented on #3301
@randalnephew

[2017-03-03 12:17] perezju commented on #3295
After that CL landed I'm now seeing when running benchmarks:

[code]

And Hector is OOO for a week. The issue seems benign, but I'm not sure. @benshayden could you have a look?

[2017-03-03 12:30] chromy commented on #3295
😥 I messed up the default case on line 173 of
tracing/tracing/metrics/system_health/memory_metric.html

Now it always logs an error when the process name isn't the renderer or the
browser whereas before it only logged an error if the name wasn't in the
list of all the known names. We probably should probably only log if
!Object.values(CHROME_PROCESS_NAMES).contains(baseCanonicalName)

This doesn't

[2017-03-03 12:41] perezju commented on #3295
No worries! I did a quick check and at least the gpu values *are* there in the results, so if it's only a bit of extra log spam then there is no urgency.

[2017-03-03 12:46] ulan commented on #1818
Both approaches seem fine to me. Summarizing the discussion.

Categories in the json:
+ declarative
+ centralized
+ fast to parse in python
- can get out of sync with metric.

Categories in the js:
+ expressive (full power of JS)
+ closer to metric code
- slower to get in python (requires running js in d8/vinn)
- can get out of sync with metric

Note that I put "can get out of sync" in both approa

[2017-03-03 13:05] tdresser commented on #1818
Could we declare the dependencies in the js, and then have a presubmit check, which generates all_metrics.json?

It's a bit annoying to have generated files checked in, but it would get us some of the benefits (being closer to the metric code) of being written in JS, along with some of the benefits (fast to parse in python) of the json approach.

[2017-03-03 15:41] simonhatch opened #3330 "Dashboard - Make a re-usable sortable table element."
This has come up a few times now, ie. #3327 and #3168

Would be nice to have a generic sortable table instead of duplicating the code each time we need one.

Can use: https://www.polymer-project.org/1.0/docs/devguide/behaviors

[2017-03-03 16:52] benshayden commented on #3330
Any reason not to use [tr-ui-b-table](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/ui/base/table.html)?

[2017-03-03 16:56] simonhatch commented on #3330
Thanks for pointing that out, no reason that I can think of. Probably worth checking out, making sure the functionality is the same, can be made to look the same, etc.

[2017-03-03 17:14] simonhatch opened #3331 "Dashboard - Failing to update bugs with failed bisects."
Found some issues like: crbug.com/697915

From the logs it looks like "issue_url" is missing from the job data and the report doesn't get generated.

[2017-03-03 18:53] natduca commented on #1818
Fwiw, we've been here before 5 years ago with an metrics.json and it burned us. @anniesullie may remember. We wanted to move to this model of the code is where thigns are documented precisely because of endless drift. Maybe things are better now, idk. I like code-is-the-truth model but I'm a driveby opinion holder not a stakeholder. Talk to Annie for more.

[2017-03-03 19:18] weableandbob commented on #3223
The fix seems to work, as our Pixel is making it past the step where it was getting blacklisted due to permission problems.

[2017-03-03 19:18] #3223 closed

[2017-03-03 19:21] dave-2 commented on #3146
I think there's a few more nice-to-haves before we close this bug:
* Reduce the scope of the [Execution exception handling](https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/pinpoint/models/quest/execution.py#L72) to exclude StandardError
* Have a global exception handler for the job runner.

[2017-03-03 19:24] dave-2 opened #3332 "Pinpoint core bisect logic"
* Look up the results for each Change/Quest.
* Compare results.
* Decide what to do based on the comparison results.
* Perform a bisect if needed:
  * Use Gitiles to look up the commits to inspect.
  * Take the midpoint of two Changes.
  * Add the new Changes to the list of Changes to run.