[2016-05-20 21:25] zeptonaut opened #2356 "Add atrace as a tracing agent to Telemetry"
Significant regressions in Webview startup time are a potential release-blocker for Chrome, yet we currently have no Telemetry tests in place that monitor these regressions. We need to get such a test in place.

The main blocker in this effort is that we need the ability to use Android atrace events to power Telemetry tests. Once that's possible, we can create a simple TBMv2 metric that'll do what

[2016-05-23 07:07] nyaxt opened #2357 "Confirm that PCv1 and PCv2 produces similar results"
To confirm, we will add timeToOnload metric to both PCv1 and PCv2 and compare those results.

[2016-05-23 13:10] #2355 closed

[2016-05-23 13:10] #2338 closed

[2016-05-23 13:53] primiano opened #2358 "discardable shows 0 effective size both on both sides"
Something has regressed in the effective size calculation: discardable shows always 0 effective size on both browser and renderer size. The actual sizes seem properly present.

Trace: https://drive.google.com/a/google.com/file/d/0B1oJWfrTOXwxZm8yUGhkNlM4WFE/view?usp=sharing

@petrcermak

[2016-05-23 14:17] petrcermak commented on #2358
It turns out that this is __working as intended__: The reason why the effective size is 0 is that there are other components within the process sub-allocating from the segments, e.g.:

![screenshot from 2016-05-23 15 15 41](https://cloud.githubusercontent.com/assets/2546601/15473698/3d478abc-20f9-11e6-945c-b81513b79a3e.png)

@primiano: I understand that this might be confusing. Let me know if you

[2016-05-23 14:17] #2358 closed

[2016-05-23 14:20] primiano commented on #2358
Ahh right, essentially all the discardable memory is being properly blamed, I see.
Sorry I didn't realize.
Don't have an obvious way to make it clear, but, yup, at first it can be confusing (even for me).
Should figure out something UI-wise, but, right, this is not a bug.
Thanks for the investigation

[2016-05-23 14:27] anniesullie opened #2359 "Perf dashboard stores bug_data.Bug with key 'monorail:v1'"
We get occasional `/auto_triage` errors with this stack:

[code]

Looking into this further, we actually do have a bug_data.Bug entity in our datastore with id `monorail:v1`. This is incorrect, as our entity should always be storing the chromium issue id. It looks like they are coming from monorail service: https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/file_bug.py#L1

[2016-05-23 14:33] anniesullie commented on #2359
Timestamp on the most recent issue which was created this way is `datetime.datetime(2016, 5, 17, 12, 38, 42, 674870)` if it helps with debugging on the monorail side.

[2016-05-23 15:31] anniesullie commented on #2351
Design doc: https://docs.google.com/document/d/1TOIPRogm08Fj_sNdhjWeChsFtlh7PRWKSKA4WtZg7B0/edit#

[2016-05-23 16:00] anniesullie commented on #2352
I agree we should do a simpler UI here, but we're going to wait on refactoring until after polymer 1.0 update.

[2016-05-23 16:53] petrcermak opened #2360 "Show "memory per component" using stacked bars"
This is safe to do since the track is showing [effective size](https://docs.google.com/document/d/1GvzDP-tTLmJ0myRhUAfTYWs3ZUFilUICg8psNHyccwQ/edit#heading=h.9coro6q5ziyf), which is cumulative.

__Current UI__ (non-stacked line chart)

![screenshot from 2016-05-23 17 46 49](https://cloud.githubusercontent.com/assets/2546601/15477881/181b713e-210f-11e6-8574-a1e1dafc3d03.png)

__Rationale:__ To use

[2016-05-23 16:57] primiano commented on #2360
To be honest, since you opened the topic, I was actually thinking to ditch the memory-per-component track.
It steals lot of real estate and (regardless of the additivity or not) is too small to be useful. On top of thta, the colors are too similar to each other and every time I try to use it I give up.
I'd support to ditch in favor of having, in a separate future iteration, a proper chart like the

[2016-05-23 17:11] petrcermak commented on #2360
I agree that the existing chart is pretty much useless. I've just written a patch that uses the stacked bars instead (https://codereview.chromium.org/2004853003). It's still not perfect, but it gives a much better idea of how much memory each component allocates (note that now the order of components on the chart matches the order of columns in the memory-infra analysis view):

![screenshot from 2

[2016-05-23 17:14] zeptonaut opened #2361 "Error thrown when selecting alerts from side panel"
Reproduction steps:
1. Open up the trace file viewer on your local dev server. ([link](http://localhost:8003/tracing_examples/trace_viewer.html))
2. Open up the JS console, go to the "Sources" tab, and ensure that "Pause on exceptions" is selected
3. Select up the "Android systrace" trace
4. Click on the "Alerts" side panel on the far right side of the screen
5. Click on the "Long View#draw() row"

[2016-05-23 17:58] nedn commented on #2360
@eakuefner @benshayden

[2016-05-23 18:17] eakuefner commented on #2354
Talked to Ben offline about this. Some points we raised:

- I pointed out that it might be surprising to metric authors who are already using preconfigured histograms if their buckets change. @benshayden suggested that we could update the builder so that if no range is passed, the result is a `Numeric` which is configured to use the rule.
- There are a number of alternatives to the Freedman-Diacon

[2016-05-23 18:24] benshayden commented on #2354
Right, so there are some metrics that want to build histograms and want static ranges and bin counts (smoothness?). Then there are metrics that want to build histograms but do not know what good ranges and bin counts would be (power?). Then there are metrics that want to record one number, and see histograms magically emerge after summarization (first_paint_metric?). Some sort of adaptive binning

[2016-05-23 19:53] natduca commented on #2360
Lets try to make the inline chart better. The track view is not as good as it could be :)

[2016-05-23 21:42] vuppalapu commented on #1840
This is already fixed,currently bisect FYI jobs are triggered by a cron job

[2016-05-23 21:42] #1840 closed

[2016-05-23 21:42] vuppalapu commented on #1842
Fixed

[2016-05-23 21:42] #1842 closed

[2016-05-23 21:47] vuppalapu commented on #1845
I think as per the above comment, this is fixed. We didn't see any similar issue in the recent time.
Closing this assuming the issue is resolved.

[2016-05-23 21:47] #1845 closed

[2016-05-24 13:19] petrcermak opened #2363 "Normalize the structure of memory metric values"
_Context: [Memory Metric Graphical Model document](https://docs.google.com/document/d/1EK2fc3UuXWl1TAhqikXBlpxkHN96d9KONUd0FyP2vGs/edit#heading=h.e3u570sx18p)_

The names of the top-level values are difficult to understand for people outside memory-infra. Firstly, people have no idea what the difference between <tt>vmstats</tt> and <tt>subsystem</tt> is. Secondly, it is very confusing that <tt>and

[2016-05-24 14:20] perezju commented on #2356
Thanks Charlie. As noted, this is blocking [crbug.com/614371](https://bugs.chromium.org/p/chromium/issues/detail?id=614371).

[2016-05-24 15:12] petrcermak commented on #2347
Done :white_check_mark:

[2016-05-24 15:12] #2347 closed

[2016-05-24 20:28] nedn commented on #2336
It already dump TraceConfig but we failed to add it to metadata:
![screenshot from 2016-05-24 13 27 53](https://cloud.githubusercontent.com/assets/911877/15518793/5dd26c24-21b3-11e6-93ba-43134d45b8ec.png)

[2016-05-25 13:27] math07 opened #2364 "Add CPU Usage track to trace viewer"
The goal of the project is to display a global track with a graph showing cpu usage of all processes. The data is computed from the model assuming it has cpuTimeStamps.

![image](https://cloud.githubusercontent.com/assets/9955284/15541436/777b4f72-225a-11e6-8a2d-41e548b638aa.png)

[2016-05-25 15:34] nedn commented on #2346
For the record, the code that removes the minidump_dir upon closing the browser is in https://github.com/catapult-project/catapult/blob/321aaf9/telemetry/telemetry/internal/backends/chrome/desktop_browser_backend.py#L550

[2016-05-25 16:03] benshayden opened #2365 "Analysis-view z-index needs to be elevated"
[Regression: 'File Size Stats' and 'Metrics' options is not hidden after dragging horizontal handle to upwards](https://bugs.chromium.org/p/chromium/issues/detail?id=614688)

[2016-05-25 16:20] henrik-muehe opened #2366 "Font becomes harder to read when zooming in."
In our application which uses trace viewer, we observe that the font size and style changes with the zoom level. I don't see why this should be necessary and it makes the data a lot harder to read. I briefly talked to Petr and he asked me to file a bug here.

Screenshot zoomed in:
https://screenshot.googleplex.com/NwshunBeUsL.png
![image](https://cloud.githubusercontent.com/assets/930881/15547691/

[2016-05-25 18:22] benshayden opened #2367 "Metrics shouldn't need to set their __proto__ to Function.prototype"
This is a wart due to the way that MetricRegistry sets mandatoryBaseClass = Function and how extension_registry_base enforces that.

extension_registry_base assumes that constructors for classes will be registered, but metrics are not class constructors, they are functions.

The correct way to ensure that registered metrics are functions is to use a will-register listener and just use instanceof F

[2016-05-25 19:33] #2367 closed

[2016-05-25 20:29] benshayden commented on #1169
@fmeawad Is this still relevant?

[2016-05-25 20:30] benshayden commented on #1292
Lolwut.

[2016-05-25 20:30] #1292 closed

[2016-05-25 20:31] #1297 closed

[2016-05-25 20:31] #1313 closed

[2016-05-25 20:31] benshayden commented on #1320
Feel free to reopen?

[2016-05-25 20:31] #1320 closed

[2016-05-25 20:32] benshayden commented on #1480
Frameblamr was figured out. Closing.

[2016-05-25 20:32] #1480 closed

[2016-05-25 20:34] benshayden commented on #1537
This doesn't look like it would be needed for anything besides perf-insights. Feel free to reopen?

[2016-05-25 20:34] #1537 closed

[2016-05-25 20:34] #1542 closed

[2016-05-25 20:35] benshayden commented on #1551
Feel free to reopen?

[2016-05-25 20:35] #1551 closed

[2016-05-25 20:35] benshayden commented on #1608
Is this still needed for anything in particular?

[2016-05-25 20:36] benshayden commented on #1626
This has been fixed, I think?

[2016-05-25 20:36] #1626 closed

[2016-05-25 20:37] benshayden commented on #1650
This looks old. Feel free to reopen?

[2016-05-25 20:37] #1650 closed

[2016-05-25 20:37] benshayden commented on #1696
This has evolved.

[2016-05-25 20:37] #1696 closed

[2016-05-25 20:40] benshayden commented on #1722
@chiniforooshan Any update? Should this be closed?

[2016-05-25 20:40] benshayden commented on #1723
@chiniforooshan Any update?

[2016-05-25 20:43] benshayden commented on #1750
Looks old. Open a new bug with more information if there's something you still want to do here?

[2016-05-25 20:43] #1750 closed

[2016-05-25 20:44] benshayden commented on #1817
I think we've gotten everything out of this that we realistically expect to?

[2016-05-25 20:44] #1817 closed

[2016-05-25 20:46] benshayden commented on #1818
When tracing categories are saved in the trace metadata, then the metrics side panel etc. can avoid offering a metric if its required categories were not enabled.

[2016-05-25 20:47] benshayden commented on #1900
@chiniforooshan Any update?

[2016-05-25 20:47] #2169 closed

[2016-05-25 20:48] benshayden commented on #2197
Nope.

[2016-05-25 20:48] #2197 closed

[2016-05-25 20:51] #2262 closed

[2016-05-25 20:51] benshayden commented on #2306
#1818

[2016-05-25 20:51] #2306 closed

[2016-05-25 20:52] benshayden commented on #2336
#1818

[2016-05-25 23:15] fmeawad commented on #1169
This is Fixed.

[2016-05-25 23:15] #1169 closed

[2016-05-25 23:18] kenrussell commented on #2346
Thanks. I see. That would make things simpler.

[2016-05-25 23:57] randomascii opened #2368 "low_resolution_timer import warning stacks and is uncloseable"
While using ninjatracing (https://github.com/nico/ninjatracing) to convert .ninja_log files to chrome traces I've noticed that most of .json files created trigger the low_resolution_timer warning. This is because all of the times are integers, which actually isn't a problem for build traces. So that's one problem - it would be great to have an easy way to indicate that these warnings should be sup

[2016-05-26 01:15] anniesullie commented on #2368
@vinterstum @zeptonaut

[2016-05-26 13:05] perezju opened #2369 "Telemetry chartjson results have std of 0"
See e.g. this [results-chart.json](https://build.chromium.org/p/chromium.perf/builders/Android%20Nexus5%20Perf%20%282%29/builds/2908/steps/memory.top_10_mobile/logs/json.output). The `summary` metrics, in particular, should have been be computed using the *pooled standard deviation*, but all std's on the file have a value of `0`.

        "summary": {
          "grouping_keys": {
            "phas

[2016-05-26 13:06] anniesullie commented on #2369
@eakuefner @dave-2

[2016-05-26 14:05] primiano opened #2370 "Telemetry does not clear the profile for WebView"
Just found out that on Chrome telemetry correctly clears the profile when starting a benchmark. This seems to be done passing a --user-data-dir (or whatever switch) to a fresh folder.
The same does not happen on webview (There is no equivalent switch). As a matter of facts webview profile is not cleared.

The possible solutions I see are:
1. telemetry should rm -rf /data/data/package.of.the.shell/

[2016-05-26 14:07] primiano commented on #2370
@petrcermak suggested should be just a matter of properly fixing

https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/internal/platform/android_platform_backend.py#L593

[2016-05-26 14:49] natduca opened #2371 "Rename linux_perf_importer to ftrace_importer"
Still isn't renamed. @zeptonaut can you put this on Mr. Mont's backlog?

[2016-05-26 19:52] anniesullie commented on #2370
@case540 @yoland68

[2016-05-27 14:31] perezju commented on #2370
FYI: Found the cause of the issue, blocking on [crbug.com/552376](https://bugs.chromium.org/p/chromium/issues/detail?id=552376) to get this fixed.

[2016-05-27 18:01] primiano commented on #2370
Thanks Juan!
From  crbug.com/552376  looks like /bin/ls behavior has changed (\n -> space). These are the days when I want to leave everything and open a restaurant in central London. we cannot trust even /bin/ls consistency anymore :-/

[2016-05-27 21:26] nedn opened #2372 "Tracing Dev Server Tests Canary is failing, blocking catapult CQ"
Failing tests:
FAILED  tracing.ui.find_controller_test.findControllerOneHit
FAILED  tracing.ui.find_controller_test.findControllerWithRealTimeline
FAILED  tracing.ui.timeline_view_test.instantiate
FAILED  tracing.ui.timeline_view_test.changeModelToSomethingDifferent
FAILED  tracing.ui.timeline_view_test.setModelToSameThingAgain

[2016-05-27 22:14] randomascii commented on #2368
I was looking at the buildbot build-time visualizations (accessible near the end of every compile stage, see http://chromium-build-stats.appspot.com/ninja_log/2016/05/27/build17-m1/ninja_log.build17-m1.chrome-bot.20160526-213850.4716.gz/trace.html for an example) and I noticed that the same issue occurs there so if a fix needs a change to how the .json file is generated then the server code that g

[2016-05-27 22:21] vinterstum commented on #2368
I'm thinking we should just remove the heuristic which tries to autodetect this based on the timestamps; Chrome-generated traces have had a flag for this for a long time now, past the point where we need to care about older trace files I think.

Going to put up a CL for this, if there's no objections.

[2016-05-27 22:25] vinterstum commented on #2368
(Unless the heuristic is useful for detecting traces generated from other sources, but I'm thinking it creates more trouble than it's worth and the explicit flag would be better in all cases).

[2016-05-27 22:25] nedn commented on #2372
Looks like it was https://codereview.chromium.org/2011403002/ that caused the failure.

[2016-05-27 22:25] #2372 closed

[2016-05-27 22:54] Alex319 opened #2373 "Can't import telemetry traces with Atrace clock sync markers"
The following CL adds Atrace traces to telemetry (see https://github.com/catapult-project/catapult/issues/2356):

https://codereview.chromium.org/2018643003

In this code, if we add clock sync markers back in (by changing the output of atrace_wrapper_tracing_agent.RecordClockSyncMarker to True) the trace import will fail with the error:

TraceImportError: Unable to select a master clock domain bec

[2016-05-31 14:53] zeptonaut commented on #2373
Hi Alex,

Do you think you could upload a sample trace w/ this problem to Google Drive so that I could reproduce this locally?

[2016-05-31 14:54] zeptonaut commented on #2368
+1 for preferring the explicit flag

[2016-05-31 17:16] zeptonaut commented on #2371
Added. @Alex319, do you think that this would be something you could tackle after the `EventSet` refactoring?

[2016-05-31 17:22] Alex319 commented on #2371
Yes. I should be able to do this.

On Tue, May 31, 2016 at 10:16 AM, Charlie Andrews <notifications@github.com>
wrote:

[2016-05-31 17:24] zeptonaut commented on #2371
Awesome: thanks Randy! Went ahead and assigned it to you.

[2016-05-31 18:45] zeptonaut opened #2374 "Write presubmit check to make sure Chromium license is correct"
The Chromium license header that goes in each file should contain the current year and no (c).

## Correct
[code]

## Incorrect
[code]
and
[code]

/cc @benshayden

[2016-05-31 18:47] zeptonaut commented on #2374
Note: we should probably write this presubmit w/ eslint, which means that this is blocked on #2237

[2016-05-31 18:50] anniesullie commented on #2374
Shouldn't this work for all file types though (including python)?

[2016-05-31 19:03] zeptonaut commented on #2374
Yea... true. There are definitely some file types that we don't want it on (e.g. the .md style guide), but you're right that we want to be able to specify enabling it on arbitrary file types.

[2016-06-01 01:35] nyaxt commented on #2083
This is basically done: https://code.google.com/p/chromium/codesearch#chromium/src/tools/perf/benchmarks/page_cycler_v2.py&q=page_cycler_v2.py&sq=package:chromium&type=cs&l=1

[2016-06-01 01:35] #2083 closed

[2016-06-01 11:41] petrcermak opened #2375 "Right-align scalar columns in analysis view"
Suggested in an internal conversation by mmenke: _Numbers are left-aligned.  Right aligned values are a lot easier to visually compare._

[2016-06-01 11:43] petrcermak opened #2376 "Rename "average size" to "average size per allocation" on heap details pane"
Suggested in an internal conversation by mmenke: _It's not clear what "average size" is.  It could mean "average size over the course of the trace" or "average size per allocation"._

[2016-06-01 11:46] petrcermak opened #2377 "Display sizes in a column using a single unit"
Suggested in an internal conversation by mmenke: _Numbers are displayed in bytes, KB, MB, etc.  When navigating the through the hierarchy, it's much more difficult to compare values of different units.  It may be best to just display everything in bytes, with commas._

[2016-06-01 13:56] petrcermak commented on #2276
@benshayden: Friendly ping

[2016-06-01 14:49] #2376 closed

[2016-06-01 18:38] ianvollick opened #2378 "Error: Couldn't create an importer for the provided eventData"
Hitting an error on Chrome 50 importing a large Frame Viewer trace:

Error: Couldn't create an importer for the provided eventData.
    at Object.Import.createImporter_ (chrome://tracing/tracing.js:879:3342)
    at Object.createImports (chrome://tracing/tracing.js:875:21)
    at Object.Task.run (chrome://tracing/tracing.js:1048:13)
    at runAnother (chrome://tracing/tracing.js:1060:136)
    at ru

[2016-06-01 19:19] DmitrySkiba opened #2379 "Bogus values in "Location" column for perf traces"
I'm capturing traces with `adb_profile_chrome ...  --perf`, and in resulting HTML (see [here](https://drive.google.com/file/d/0B_Hmi138MnbJY3JxMkNBYkpHOXc/view?usp=sharing)) "Location" column shows parts of function's name, see [screenshot](https://drive.google.com/file/d/0B_Hmi138MnbJVk5iRmdxVGV0Vnc/view?usp=sharing).

That is because we define 'Location' as everything past lastIndexOf(' '), see

[2016-06-01 23:38] micahcatlin commented on #298
I'm working on a tool that writes out json chrometrace files, and I wonder what the actual limits are for loadability.  Is it a particular number of events, or a particular total heap size, or some other measure of complexity?

I would like to set up my tool to never emit a chrometrace file that is too complex to open, but right now I don't know how to anticipate that edge.

[2016-06-01 23:45] dj2 commented on #298
There is a maximum file size of 250meg since we read the file into a string to JSON parse and that's the largest string you can create in v8.

[2016-06-02 00:32] kenrussell opened #2380 "Stack symbolization must ignore TrueType font files"
On Linux at least, the Chrome browser typically memory-maps one or more .ttf files into its address space. When desktop_browser_backend.py attempts to symbolize a minidump, it will find these .ttf files, fail to run generate_breakpad_symbols.py against it, and abort symbolization. These files need to be skipped.

[2016-06-02 01:17] kenrussell commented on #2380
Fixed in above commit.

[2016-06-02 01:17] #2380 closed

[2016-06-02 06:28] bashi commented on #2360
@tasak FYI

[2016-06-02 10:50] petrcermak commented on #2375
__Before__

![left_align](https://cloud.githubusercontent.com/assets/2546601/15742595/db9804c4-28b7-11e6-8858-4a99c430869b.png)

__After__ (https://codereview.chromium.org/2033023002)

![right_align](https://cloud.githubusercontent.com/assets/2546601/15742598/e38dcf6a-28b7-11e6-8a31-85d4ce6dae5d.png)

The only downside is that there's now a _bigger gap_ between the titles and sizes (especially whe

[2016-06-02 20:22] zeptonaut opened #2381 "Need new cloud storage binaries for battor_agent"
Our binary dependency manager has pretty old versions of the BattOr agent in it. @randalnephew, do you think you could look into uploading new versions? I know that you handled this last time.

If we could get the script you used submitted along with some instructions for how to grab the binaries from the builders, that would be awesome.

[2016-06-02 20:23] zeptonaut commented on #2381
/cc @nedn

[2016-06-02 20:30] nedn commented on #2381
Bonus point if there is a magic script that just grab the binaries & auto update the dependencies .json file.

[2016-06-02 21:04] #2242 closed

[2016-06-02 21:30] benshayden opened #2382 "Attribute network activity to frames"
We have frame tree snapshots and blame contexts to attribute thread slices to frames, but no way to attribute network activity (currently recorded by netlog async events) to frames.

In #2260 this information could take the form of a column of network bytes per frame.

@chiniforooshan are you still planning on doing this?
@natduca

[2016-06-02 21:31] benshayden commented on #2375
Done?

[2016-06-02 21:31] #2375 closed

[2016-06-02 21:37] kenrussell opened #2383 "Catapult rolls blocked on benchmarks.benchmark_smoke_unittest.BenchmarkSmokeTest.page_cycler_v2.typical_25"
Catapult rolls are failing due to this test apparently crashing the browser:
https://catapult-roll.skia.org/

[2016-06-02 21:41] nedn commented on #2383
It must be due to https://codereview.chromium.org/1998063002/

@nyaxt @irori

[2016-06-02 21:42] nedn commented on #2383
Log: Traceback (most recent call last):
    File "/b/swarm_slave/work/isolated/runltmKHI/third_party/catapult/telemetry/telemetry/value/failure.py", line 41, in _GetExcInfoFromMessage
      raise Exception(message)
  Exception: MapFunctionError: No navigationStartEvent found for frame id "undefined"
      at findNavigationStartEventForFrameBeforeTimestamp (/tracing/metrics/system_health/first_pain

[2016-06-02 21:48] nedn commented on #2383
Disabling in https://codereview.chromium.org/2033203003/

[2016-06-02 22:50] #2368 closed

[2016-06-03 00:57] irori commented on #2383
Sorry for the breakage. Looking.

[2016-06-03 01:37] benshayden opened #2384 "Ajax LoadExpectations/ResponseExpectations"
It might be useful for metrics to be able to compute loading metrics (e.g. first meaningful paint) for types of loads that don't begin with Navigations, such as ajax loads, SPAs. If these are caused by inputs like click/tap, then they will be ResponseExpectations, but maybe a LoadExpectation should also be created? Or a hybrid LoadResponseExpectation? If a flow event connects the input to a Resour

[2016-06-03 09:06] petrcermak commented on #2375
Yes, thanks!

[2016-06-03 09:11] Shekeen opened #2385 "'Network controller is already open' during unittests"
A Platform class is stored in a global variable in its module. So we will
have the same Platform object for the whole duration of the process started
when running unittests. And the same is true for NetworkController, since
it is stored inside Platform. So if one unittest fails to close the
NetworkController (for example, when an exception is raised during TearDownState
in SharedPageState), it wil

[2016-06-03 14:08] zeptonaut commented on #2341
/cc @fmeawad, who mentioned that he was interested during the instrumentation weekly yesterday

I'm looking into this right now. There are a couple of pieces that need to be in place for this to work:

- The Telemetry trace has to specify its clock domain (`TELEMETRY`). This is what was broken before, but my work last week fixed.
- The Telemetry trace has to contain its side of the clock sync mark

[2016-06-03 19:49] zeptonaut commented on #2341
I went ahead and tested to see if the Chrome-side clock sync marker is inserted at Chrome ToT - it isn't. Adding some logging statements to Telemetry seems to indicate that Telemetry is indeed calling out to Chrome to record these markers, so I'm going to add some logging statements to investigate the Chrome side of things.

[2016-06-03 21:17] zeptonaut commented on #2341
Fix incoming!

@vinterstum was immensely helpful in figuring this out.

Background: so when Telemetry tells Chrome that it wants to trace with an empty category filter list, Chrome assumes that Telemetry wants the full set of default categories enabled. However, if you pass a category filter list with _one_ entry, you instead get just that one category enabled. Basically, strictly adding categorie

[2016-06-03 23:33] nedn commented on #2341
Interesting bug, hehe
@wangzhen127

[2016-06-04 01:42] vinterstum commented on #2341
CL up, after a bit of plumbing: https://codereview.chromium.org/2040663002

[2016-06-06 02:31] xiaochengh opened #2386 "Events that should be attributed to different snapshots of the same context are not"
The bug can be reproduced by the following unit test in Trace Viewer

[code]

Expected outcome: `slice1` is attributed to `topLevel1`, and `slice2` is attributed to `topLevel2`, respectively.

Observed outcome: `slice1` is attributed to `topLevel2`, failing the first assertion.

[2016-06-06 08:23] natorion opened #2387 "Loading of available Benchmarks slow"
The loading of available Benchmarks slow if one of the Benchmark's on a bot has a lot of tests/subbenchmarks. Repro:

Bad: v8->x64->long load time->Whatever benchmark
Good: v8->Atom_x64->short load time->Whatever benchmark

I think this is because of the benchmark "RuntimeStats" which reports a lot of results.

[2016-06-06 11:54] natorion opened #2388 ""Debug Alert" does not catch a regression"
Reference: https://chromeperf.appspot.com/debug_alert?test_path=ChromiumPerf%2Fchromium-rel-mac10%2Foctane%2FGameboy&rev=361950&num_before=1000&num_after=1000&config=%7B%0D%0A++%22min_relative_change%22%3A+0.005%2C+%0D%0A++%22min_segment_size%22%3A+2%0D%0A%7D

I tried to tune the numbers for an anomaly detection in the Octane benchmarks run directly in Chrome. Specifically I would expect alerts ar

[2016-06-06 12:11] petrcermak commented on #2387
This is related to https://docs.google.com/document/d/1rJOxhtm2MYGSPqDqa8uOt-ZXd1FIombl4uAtB-5n1_A/edit?usp=sharing

[2016-06-06 12:13] petrcermak commented on #2378
Could you please provide more details about the trace? How long you were recording for, which tracing categories were enabled, how many tabs did you have open and what URLs, did you use any special compile-/run-time flags, did this happen right after you stopped recording, ...

[2016-06-06 14:01] anniesullie commented on #2388
This chart is really noisy! We have a think called "steppiness" that represents how much there is a step-like shelf in the chart. It's filtering out these alerts, you could reduce it:

https://chromeperf.appspot.com/debug_alert?test_path=ChromiumPerf%2Fchromium-rel-mac10%2Foctane%2FGameboy&rev=361950&num_before=1000&num_after=1000&config=%7B%0D%0A++%22min_steppiness%22%3A+0.1%0D%0A%7D

[2016-06-06 14:43] #2386 closed

[2016-06-06 16:03] petrcermak opened #2389 "Perf dashboard "Over quota""
The dashboard (https://chromeperf.appspot.com/) currently fails with "Error 500: Internal Server Error" or "Error 503: Over Quota".

[2016-06-06 16:05] petrcermak commented on #2389
It's OK again :open_mouth:

[2016-06-06 16:16] anniesullie commented on #2389
Sorry, some hiccups in the migration for #2351

[2016-06-06 16:16] #2389 closed

[2016-06-06 18:22] benshayden opened #2390 "Support custom value set views"
In order to facilitate custom metric UIs, value set view needs to be pluggable.

Back in perf-insights days, the pi-app contained a tab switcher between various reports. Let's use that concept, where a value-set-view takes the place of the old PI report.

The current value-set-view will be retained as a sane default view, but renamed to value-set-table, since it is primarily a table.

Custom views

[2016-06-06 19:23] #2329 closed

[2016-06-06 19:23] #2365 closed

[2016-06-06 19:27] benshayden opened #2391 "Deprecate metrics debugger"
Currently, we have both the metrics side panel and the metrics debugger.
The metrics side panel uses the same widgets as results2.html, in the context of the trace viewer.
The metrics debugger displays the raw json of metrics, but can load trace files in a more general way than trace viewer.

Let's deprecate the metrics debugger in favor of the side panel as a proving ground for results2.html.

Ma

[2016-06-06 19:32] nedn commented on #2391
Loading trace files using a file picker is a critical feature to keep for people to do easy debugging. And since a few people already familiar with that metric debugger link, a solution here is to just replace the map_results (https://github.com/catapult-project/catapult/blob/master/tracing/tracing/ui/metrics_debugger_app.html#L34) of metric debugger with the <value-set-view>.

[2016-06-06 22:09] anniesullie commented on #2351
In order to fully test https://codereview.chromium.org/2032523002/ I pushed it to production before submission. It's working:

![screen shot 2016-06-06 at 5 55 31 pm](https://cloud.githubusercontent.com/assets/4331931/15839535/c405a732-2c11-11e6-9682-a01ff2bd5de7.png)

[2016-06-06 22:29] anniesullie commented on #2351
This is **fixed**.

[2016-06-06 22:29] #2351 closed

[2016-06-07 00:40] nedn commented on #2390
Doc: https://docs.google.com/document/d/1CtRXNjt9BVRMyubHN7JdLOI6QQ5VQ0WPueWtTgjnk3s/edit

[2016-06-07 09:04] xiaochengh opened #2392 "ContextProcessor should leave destroyed contexts"
Otherwise, all subsequent work will be attributed to the destroyed context.

[2016-06-07 09:17] petrcermak commented on #2390
@primiano, @perezju (Memory-Infra): FYI

[2016-06-07 14:11] camillobruni commented on #2387
No not at all. We are talking about the choosing the benchmark on the perf dashboard on chromeperf.appspot.com not the trace viewer.

[2016-06-07 14:15] anniesullie commented on #2340
After fixing #2351, we are reasonably sure this won't recur.

[2016-06-07 14:15] #2340 closed

[2016-06-07 14:15] anniesullie commented on #2387
Most of the root cause here is #2305 (we can't cache the results of slow datastore queries). I hope to work on it this week.

[2016-06-07 15:02] anniesullie opened #2393 "Exception getting 'status' key in update_bug_with_results"
From the logs:
[code]

`results_data` is set in two places. This still seems error-prone to me, as we had to fix a similar problem in #2317.
https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/update_bug_with_results.py#L397
https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/post_bisect_results.py#L85

@vuppalapu can you take a look?

@Apeliotes @

[2016-06-07 19:04] vuppalapu commented on #2393
The main reason for the results_data to be None is because uploading bisect results failed on linux fyi bot
https://build.chromium.org/p/tryserver.chromium.perf/builders/linux_fyi_perf_bisect/builds/501/steps/Post%20bisect%20results/logs/json.output
This has started on 06/07 i.e., yesterday. results upload on other bots seems to be fine.

Firstly, I'm going to raise an alert in dashboard for FYI f

[2016-06-07 19:16] vuppalapu commented on #2393
Filed crbug.com/618051 for tracking authentication issue.

[2016-06-08 00:12] zeptonaut commented on #2381
I'm trying to do a one-off update for Windows and failing here: https://codereview.chromium.org/2047063002#

This is in response to the fact that, even after updating the win_AMD64 binary, the BattOr agent that the BattOr.BattOrCases benchmark seems to be relying on hasn't been updated. I know this because http://crbug.com/603309 is still clearly occurring, even though it's fixed in the new binary

[2016-06-08 00:13] zeptonaut commented on #2381
Ah - after adding some dummy logging statements, it looks like it's because the Catapult Windows trybots are win32_AMD64, and I only updated the win_AMD64 agent. Now why the heck wouldn't it be  working? I'm pretty sure that I built both the old binary and the new one on my HP laptop sitting on my desk.

[2016-06-08 00:27] zeptonaut commented on #2381
Weird. I just `scp`ed the new binary over to the trybot, SSHed in, and ran it manually, and it seemed to work fine. Maybe this means that I did something wrong uploading the script to cloud storage? I'm going to try and see if @randalnephew can help me pull back down the file that I uploaded so that I can verify the hashes match of the file on cloud storage and the file I have locally.

[2016-06-08 00:44] zeptonaut commented on #2381
Dang. I've verified that both the file in cloud storage and the `battor_agent.exe` I have locally have the same hash (`37f6b84373e8cdf696b0b4b61c3c34e5`), which means that this isn't a problem that has to do with uploading. The only thing that I can think of is that I accidentally made some change in the API of the BattOr agent in one of my CLs trying to fix bugs. Going to look back at this next.

[2016-06-08 01:33] hackaugusto opened #2394 "Flows are not shown when using B and E duration events"
This will create an arrow A -> B
[code]

But none of these will:

[code]
[code]
[code]

I'm using `chrome://tracing/`

[2016-06-08 01:33] #2392 closed

[2016-06-08 05:44] nedn opened #2395 "Catapult dep-roller is stuck"
First failed roll:
https://codereview.chromium.org/2042263003/
Suspecting Juan's CL: https://chromium.googlesource.com/external/github.com/catapult-project/catapult.git/+/e90f8c0345c9bd7f96c6cabd51f5b7b45e50172e

Reverting it now..

[2016-06-08 09:49] perezju commented on #2395
Sorry and thanks for the revert! I have a new CL in review that should not introduce this problem.

[2016-06-08 09:49] #2395 closed

[2016-06-08 10:20] perezju commented on #2318
The deprecation warning is showing up on a lot of benchmarks even when, as far as I can tell, they do not use any of this logging in functionality, e.g. [some random benchmark log](https://build.chromium.org/p/chromium.perf/builders/Android%20Nexus5X%20Perf%20%283%29/builds/814/steps/page_cycler.top_10_mobile/logs/stdio). This is a bit distracting when diagnosing failures.

Could there be a way to

[2016-06-08 11:17] perezju opened #2396 "timeout_retry error messages are spammy and not very useful"
Upon failure, the timeout_retry wrapper, specially as used in device utils, tends to be extremely spammy and, more often than not, disappointingly useless: just gives a call stack full of shell-and-timeout-retry-thingies that finally ends up in a call to `timeout_retry.Run`. Who called that? Who knows.

Also, the most common form of retry seems to come from cases where a shell command was correctl

[2016-06-08 11:22] picksi commented on #2396
Is there any way to analyse old logs to determine which re-tries will
sometimes work, and which will always fail?

Simon

On Wed, Jun 8, 2016 at 12:18 PM, Juan A. Navarro Pérez <
notifications@github.com> wrote:

[2016-06-08 13:11] natorion commented on #2388
Thanks, that clears things up.

[2016-06-08 13:11] #2388 closed

[2016-06-08 15:51] nedn opened #2397 "adb.Forward do not pass down the --no-rebind to the adb forward command line"
According to @gabadie,
https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/internal/platform/android_platform_backend.py#L469 is buggy because adb.Forward do not pass down the --no-rebind to the adb forward command line. That could lead to bug where if telemetry is performing benchmark on 2 different devices from the same host, then it could be opening telemetry devtool co

[2016-06-08 15:55] jbudorick commented on #2397
Not sure I follow. Can you elaborate a bit more?

[2016-06-08 16:03] jbudorick commented on #2396
Really need to work on my github email filters.

I've typically seen something like:

  try failure 1: call stack up to `timeout_retry.Run` (mostly useless)
  try failure 2: call stack up to `timeout_retry.Run` (mostly useless)
  try failure 3: call stack up to `timeout_retry.Run` (mostly useless)
  overall call stack (useful)

I might be in favor of removing the intermediate stack traces.

As for

[2016-06-08 16:05] gabadie commented on #2397
Just found the issue today in our project Sandwich:

You have two instance of telemetry t1 and t2 running on different device d1 and d2 respectively on the same host.

1) t1 and t2 both allocate a same port X by the PortKeeper() (sadly possible if done sequenctially):
https://cs.chromium.org/chromium/src/third_party/catapult/telemetry/telemetry/internal/backends/chrome/android_browser_backend.py?q

[2016-06-08 16:07] nedn commented on #2397
I think --no-rebind is a sane default option to  be enabled in https://github.com/catapult-project/catapult/blob/master/devil/devil/android/sdk/adb_wrapper.py#L537

[2016-06-08 16:09] perezju commented on #2397
Sounds reasonable. If there are no strong objections I'll write a patch to expose that option and expose it as default.

[2016-06-08 17:48] benshayden commented on #2276
Sorry, just saw this yesterday. Looking now.

[2016-06-08 18:17] zeptonaut commented on #2341
Marking this as closed now that the fix is submitted!

[2016-06-08 18:17] #2341 closed

[2016-06-08 18:22] zeptonaut commented on #2321
Update: weeks later, I now recognize the traceback as the result of https://bugs.chromium.org/p/chromium/issues/detail?id=603309, which I fixed weeks ago. However, I haven't been able to upload the fixed binary to cloud storage yet due to #2381.

Once the upload is successful, I anticipate this problem to be reduced, although there are probably still some bugs causing flakiness.

[2016-06-08 18:23] zeptonaut commented on #2321
There's also a separate problem where, if the BattOr agent produces the trace data but then crashes, the associated benchmark succeeds rather than fails, which we probably don't want. That problem is being tracked at http://crbug.com/618141

[2016-06-08 18:24] zeptonaut commented on #2324
Closing this now that it's been resolved.

[2016-06-08 18:24] #2324 closed

[2016-06-08 18:57] petrcermak opened #2398 "Vinn doesn't support standalone minimumFractionDigits option larger than 3 in Number.prototype.toLocaleString"
Consider the following JS snippet:

[code]

The __expected__ result is (try it in DevTools!):

[code]

However, the __actual__ result given by the current version of Vinn is:

[code]

To __reproduce__ locally:

[code]

[2016-06-08 19:22] nedn commented on #2398
Which platform is this, Petr?

[2016-06-08 19:43] eakuefner commented on #1961
Resurrecting this bug because it's coming up in https://codereview.chromium.org/2046553003

Opinions:

1. Let's shelve discussion of alternative formats for the purposes of this bug because it's a rathole.
2. AsDict and _AsDictInto (asDict or asDictInto_ in JS syntax) are the right pattern here and we should record it in the style guide.

@zeptonaut

[2016-06-08 19:53] natduca commented on #1961
I'm so sorry about this messed up convention, folks. This is all my fault: there was a time when I was coding telemetry python & tracing & c++ at the same time and I compltely lost track of where the underscore goes. Anyway, its definitely a mess, and I'm hugely supportive of doing the right thing here!

[2016-06-08 19:54] natduca commented on #1961
I'm so sorry about this messed up underscore convention, folks. This is all my fault: there was a time when I was coding telemetry python & tracing & c++ at the same time and I compltely lost track of where the underscore goes. Anyway, its definitely a mess, and I'm hugely supportive of doing the right thing here!

[2016-06-08 20:11] nedn commented on #2318
We can move the deprecate decorator from the class level to the method call level.

[2016-06-08 23:28] nedn opened #2399 "Catapult rolls blocked on benchmarks.benchmark_smoke_unittest.BenchmarkSmokeTest.page_cycler.typical_25"
Log:
https://build.chromium.org/p/tryserver.chromium.android/builders/linux_android_rel_ng/builds/84439

  Traceback (most recent call last):
    RunBenchmark at /tmp/runVJJvAd/third_party/catapult/telemetry/telemetry/internal/story_runner.py:312
      benchmark.ShouldTearDownStateAfterEachStoryRun())
    Run at /tmp/runVJJvAd/third_party/catapult/telemetry/telemetry/internal/story_runner.py:225

[2016-06-08 23:31] nedn commented on #2399
Actually it's more like: https://codereview.chromium.org/2048933003/

[2016-06-08 23:32] jbudorick commented on #2399
https://codereview.chromium.org/2049773005/ should fix it

[2016-06-08 23:32] jbudorick commented on #2399
argh

[2016-06-09 00:06] ssiddhartha opened #2400 "Add metrics to track the overhead of memory-infra dumps"
Memory-infra in BACKGROUND mode should be able to provide quick and light dumps. For this reason we need tracing metrics to track the overhead of memory infra dumps.

[2016-06-09 09:04] petrcermak commented on #2398
It's on **Linux and Mac**: it caused the [initial version](https://codereview.chromium.org/2052493002/#ps40001) of one of my patches to fail on the [Linux](https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Linux%20Tryserver/builds/3495/steps/Tracing%20D8%20Tests/logs/stdio) and [Mac](https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Mac%20Tryserver

[2016-06-09 09:18] natorion opened #2401 "Alert selector not opening"
Chrome:  53.0.2763.0
OS: Mac

Repro:

- Goto https://chromeperf.appspot.com/alerts?sheriff=ARC%20Perf%20Sheriff
- Click on alert selector on the top left
- No drop box is showing

This still works in Chrome Stable (51). No clue if this is a Chrome or Catapult problem.

[2016-06-09 10:10] perezju commented on #2399
Ooops :-S sorry for all the trouble and confusion!

Wondering if there are some tests that should be added to prevent this kind of braking CLs to land?

[2016-06-09 11:11] anniesullie opened #2402 "Some JSON files too large to upload to perf dashboard"
I have an example file that times out here: https://drive.google.com/a/google.com/file/d/0B_lQgYV0hGoNdlRRNHVWTGNvak0/view?usp=sharing

This isn't high priority because that data isn't currently being uploaded, but this will likely block tbm2.1 or 2.2.

[2016-06-09 12:15] nedn commented on #2399
I think we need real android device on catapult CQ to effectively test these :-)

@anniesullie

[2016-06-09 12:52] anniesullie commented on #2399
@jbudorick does anyone on your team have time to help out with getting android devices on the catapult waterfall to test? We have a host and devices, just no clue how to set up the recipe.

[2016-06-09 12:55] perezju commented on #2396
I saw that there is now a [WithTimeoutAndConditionalRetries](https://cs.chromium.org/chromium/src/third_party/catapult/devil/devil/android/decorators.py?l=82) decorator, but I feel that introduces more complexity because it expects the caller to know which kinds of exceptions might be raised and determine which should/shouldn't trigger a retry.

I think it would be better if we defined a "default"

[2016-06-09 13:07] jbudorick commented on #2396
We currently only retry on exceptions anyway.

What you describe sounds like a behavior that WithTimeoutAndConditionalRetries could support -- `retry_if_func` takes the exception as its own parameter and returns whether, given the exception, the call should be retried. I think we currently only use it in [one place](https://codesearch.chromium.org/chromium/src/third_party/catapult/devil/devil/andr

[2016-06-09 13:09] jbudorick commented on #2399
@anniesullie Yeah, I can either do it or find someone to do so. Sounds like a good candidate for the [PE Fixit](https://crbug.com/617655)

[2016-06-09 13:13] ianvollick commented on #2378
I just hit this again tracing a google spreadsheet. I recorded a Frame Viewer trace (no special categories), I had only two tabs open, the sheet and docs. I did have devtools open. No special flags, I was running vanilla stable.

[2016-06-09 13:14] perezju commented on #2396
Yes, but what I'm suggesting is that perhaps we should go to the other extreme: *most exceptions should not cause a retry*; retrying only makes sense on a small set of exceptions (mostly: "adb did something weird/unexpected").

[2016-06-09 13:14] anniesullie commented on #1424
Data contention errors were fixed in #2351

[2016-06-09 13:14] #1424 closed

[2016-06-09 13:18] anniesullie opened #2403 "Need android devices on tryserver.client.catapult"
The hardware was set up in crbug.com/505859 but we still need our recipe to utilize these bots.

Code locations:
Our recipe: https://cs.chromium.org/chromium/build/scripts/slave/recipes/catapult.py
Catapult-side steps: https://github.com/catapult-project/catapult/blob/master/catapult_build/build_steps.py
Master config: https://cs.chromium.org/chromium/build/masters/master.tryserver.client.catapult

[2016-06-09 13:19] anniesullie commented on #2399
Awesome! I realized we don't have a bug with everything in one place, so I filed #2403 with all the details.

[2016-06-09 13:24] jbudorick commented on #2396
That sounds like a reasonable end state, but the transition is tricky. I'd rather retry exceptions we shouldn't, which merely costs us time, than not retry exceptions we should, which costs us stability, and I don't think we currently know enough about which exceptions fall into which categories. (We also don't make an effort to distinguish between the two.)

WDYT about:
 - adding optional retry e

[2016-06-09 13:35] perezju commented on #2396
Sounds good. I'm thinking some info we could report (and don't do already) is the name of the function being retried. I could add that info and then, scraping through the logs, I think we could get a good picture of which sorts of things are causing retries and which of those could be skipped.

Anything else you think we should report in the logs?

[2016-06-09 14:47] anniesullie commented on #1701
I'm working on this in https://codereview.chromium.org/2056673003.

@eakuefner FYI

[2016-06-09 15:56] petrcermak commented on #2377
I experimented a little bit with units in the memory-infra pane...

## Overview pane

Here's what the pane looks right now (**automatic** units):

![auto](https://cloud.githubusercontent.com/assets/2546601/15933251/f00182ec-2e56-11e6-8448-44f3a66a9862.png)

___Option 1:___ This is what the same pane looks like if all sizes are shown in **kibibytes**:

![kib](https://cloud.githubusercontent.com/ass

[2016-06-09 19:09] primiano commented on #2377
Sparklines there feels a bit weird to me, no strong opinions but would be fine with not having them.
As regards the units, I'd honestly leaning towards having KiB everywhere because that is the size we're more likely after. MB is a bit too coarse and hides things in the 10k range. Unrealistically we ever care about things in the order of bytes.
Maybe, if something is ~few bytes let's make the roun

[2016-06-09 19:11] primiano commented on #2377
Or thinking a bit more, can we haz MiB in the overview and KiB everywhere else?

[2016-06-09 19:27] zeptonaut opened #2404 "Power metric "power_energy" should be renamed"
"power_energy" doesn't make much sense: "power" is the instantaneous rate of energy consumption, so is "power_energy" power or energy? (This is my fault: should have caught this in code review.)

I think probably "energy_consumed_per_frame" probably makes the most sense.

[2016-06-09 21:48] anniesullie commented on #2401
@Apeliotes does this happen on the polymer 1.0 branch?

This looks like a polymer 0.5 bug.

On Canary, I see this JS error:
[code]

[2016-06-09 22:35] #2390 closed

[2016-06-09 22:39] benshayden opened #2405 "Add bot-related IterationInfo fields for dashboard"
TBMv2 Values need to contain the following fields:
- benchmarkName
- botName
- timestamp
- page repeat counter

What else? @eakuefner @nedn

This information needs to be duplicated for each Value because Values can become separated from their ValueSets (in the dashboard), and ValueSets can be merged (in results2.html).

[2016-06-10 03:30] jbudorick commented on #2403
Bot's up: https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Android%20Tryserver/builds/0

Going to enable telemetry_perf_unittests and possibly telemetry_unittests tomorrow.

[2016-06-10 10:54] perezju commented on #2370
After a long series of land, revert, reland, revert, reland, the fix finally stuck!

![xtcjmtevycg](https://cloud.githubusercontent.com/assets/16922344/15962289/e48a5bb8-2f01-11e6-8717-e8360d9bb6c6.png)

[2016-06-10 10:54] #2370 closed

[2016-06-10 11:03] perezju commented on #2399
Thanks for filing that issue. My CL finally landed without breaking the roll, so we can now close this one.

[2016-06-10 11:03] #2399 closed

[2016-06-10 11:16] petrcermak commented on #2377
It seems that virtually everyone (on the internal mailing thread) agrees on the following:
  * **MiB** on the **overview pane** and
  * **KiB** on the details panes (**component details**, **heap details** and **memory maps**),

so I'll implement that. To handle super-small values (bytes), I'm thinking about showing something like ">0.0 KiB" to make it clear that they're _not_ zero.

[2016-06-10 11:19] perezju commented on #2356
Looks like this was done in [CL/2018643003](https://codereview.chromium.org/2018643003/), anything else missing? Or is there something else to be done?

[2016-06-10 13:11] perezju opened #2406 "Log app UI dump on android browser failures"
This proved useful when diagnosing failures on a benchmark by logging, for example:

[code]

So consider adding it to [android_platform_backend.GetStackTrace](https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/internal/platform/android_platform_backend.py#L657).

@nedn @jbudorick

[2016-06-10 13:13] jbudorick commented on #2406
Didn't realize you were talking about putting this in telemetry. I'm definitely ok with that but defer to Ned.

[2016-06-10 13:14] nedn commented on #2406
+1

[2016-06-10 13:27] jbudorick commented on #2403
Do you want a Catapult Android bot on client.catapult as well?

[2016-06-10 13:31] anniesullie commented on #2403
I think it's okay to just have them on the tryservers. Thanks so much for your help with this!

[2016-06-10 13:35] anniesullie commented on #2403
Oh we already have two? Maybe we could speed up the CQ by putting both bots on the tryservers.

[2016-06-10 13:39] jbudorick commented on #2403
Yeah. I've got them both set up on the tryserver now, but build1-b3 is down.

[2016-06-10 15:43] zeptonaut commented on #2356
I think so. Thanks for taking care of this Alex!

[2016-06-10 15:43] #2356 closed

[2016-06-10 16:59] anniesullie commented on #2405
@dave-2

First thing I'd like to clarify here is whether these should be added in telemetry or the recipe. What are the use cases here? Would anything that is not a buildbot want to record this data? Buildbot usecases include waterfall, bisect, try jobs, and cq.

Some examples of more things I'd like to see uploaded in diagnostics:

* Device id (so we can show an annotation when a new device runs

[2016-06-10 17:48] jbudorick commented on #2243
Sorry, just saw this. We should add fastboot into devil_dependencies.json.

[2016-06-10 17:58] nedn commented on #2360
@ZiqiXiong @wangzhen127

[2016-06-10 18:04] petrcermak commented on #2378
Thanks for the steps. The problem is that the base64-encoded tracing data (from <tt>/json/end_recording_compressed</tt>) __doesn't make it to Trace Viewer__ at all: the <tt>data</tt> string on [this line](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/ui/extras/about_tracing/xhr_based_tracing_controller_client.html#L96) is empty. I got another failure already with 20% tra

[2016-06-10 20:52] rschoen commented on #2231
Getting the same thing on https://chromeperf.appspot.com/group_report?bug_id=593670

[2016-06-10 21:06] jbudorick commented on #2403
@anniesullie @nedn are there other suites that'd make sense on the Android bot? I'm not familiar with most of the catapult suites beyond telemetry, devil, and devil's dependencies.

[2016-06-10 21:10] anniesullie commented on #2403
@zeptonaut @randalnephew @Alex319 are there BattOr tests we would want to run on these devices? (We'd have to get BattOrs in before it makes sense though)

Long-term I think we'd want to run trace-viewer UI tests, but in the medium term we're not ready to actually support trace-viewer mobile UI.

[2016-06-10 21:12] nedn commented on #2403
systrace is a good one to run again real devices.
@ChrisCraik

[2016-06-10 21:14] anniesullie commented on #2403
Also @wangzhen127 re systrace tests on android catapult cq.

[2016-06-10 21:23] zeptonaut commented on #2403
Realistically, I think that making trace viewer usable on Android usable would be a huge enough task that it'll get pushed off forever.

Yes, though, we definitely want BattOr/Android integration tests on the CQ when we get more BattOrs in.

[2016-06-10 21:29] wangzhen127 commented on #2403
Nice! Have been waiting for this. Thanks!

[2016-06-10 22:43] ChrisCraik commented on #2355
That change never made it into the Android tree/SDK. We do manual syncs to catapult TOT, and the last one was end of March: https://android-review.googlesource.com/#/c/212200/

[2016-06-10 23:18] Alex319 opened #2407 "Refactor trace model iteration"
This is a tracking bug for work on refactoring the trace model to use generators for iteration

[2016-06-11 01:38] nedn commented on #2405
Annie, not sure if we want stuff details such as RAM, CPU in every value. That seems more like to be covered by the "lightweight systrace" that @ZiqiXiong is working on.

[2016-06-11 01:50] anniesullie commented on #2405
The "lightweight systrace" is actually meant to get a list of other stuff running on the machine (debugging info for what might be happening on the machine to make perf tests noisy), not actual details about machine specs.

[2016-06-11 02:34] nedn commented on #2405
"top command" can also contains data about RAM & CPU. So if the data is already covered in the trace for debugging, I think we don't need to put these data in value's diagnostic again.

The thing here is our system have 3 main sources for debugging: bots' stdout log, trace, value's diagnostic data. The main question here seems to be which type of data go to what part. My rough mental model about t

[2016-06-11 02:41] anniesullie commented on #2405
Where do these go?
* android device id
* buildbot status/stdio page links
* Revision ranges (usually a chromium revision range but many tests upload multiple ranges for v8, skia, etc)

In your mental model, how does the dashboard store data like RAM, CPU, etc?

[2016-06-11 02:50] nedn commented on #2405
I think things like android device id, buildbot status/stdio page links, revision range should come from the recipe and not from telemetry & tbm2.1 values.

Data like RAM & CPU are store in the trace which the dashboard has link to. For metrics that those data are strongly related, they can be computed as values & linked to by those metrics.

[2016-06-11 02:59] anniesullie commented on #2405
For things like RAM and CPU, we'll likely want to get to it more easily than have the user click through to a trace or have the dashboard have to do extra requests for related metrics. Generally the user would want to see it in two places:
* Some kind of top-level info on each chart or in the legend where they could get full details on what 'win-zenbook' hardware is exactly
* An automatic annotati

[2016-06-11 03:03] anniesullie commented on #2405
Oh I missed your comment about things like device id not coming from tbm2.1 values. We had talked about the recipe being able to add context-specific diagnostics (and @benshayden's CL does that for buildbot info). Is that what you mean? Or do you mean it should actually be completely separate from tbm2.1 values?

[2016-06-11 03:09] nedn commented on #2405
I mean those should be completely separate from tbm2.1 values because they are things that non-telemetry based perf test also wants to have. Also include tbm1 & pre tbm1 telemetry benchmarks.

[2016-06-11 03:15] anniesullie commented on #2405
@eakuefner can you chime in on how the data added by the recipe should be serialized? To me it seems like not having it in the tbm2.1 values means multiple tables and data formats to keep in sync on the dashboard side. Seems much simpler to have the recipe add this info in the appropriate serialization format for the benchmark.

[2016-06-13 02:45] nedn opened #2408 "Webview startup metric is not shown on metric side panel"
To reproduce:
Click on Metrics side panel, then select "webviewStartupMetric" from the drop down in
https://console.developers.google.com/m/cloudstorage/b/chrome-telemetry-output/o/trace-file-id_0-2016-06-12_11-32-19-96918.html

@Alex319

[2016-06-13 02:46] nedn commented on #2407
Does this require updating the d8 version used by vinn?

[2016-06-13 15:30] zeptonaut commented on #2355
Great! Thanks Chris. Just wanted to make sure that we didn't have a ticking time bomb buried in our code.

[2016-06-13 15:44] Alex319 commented on #2407
I'm not sure I understand the question. Is this related to the linter/presubmit? I think the linter supports the new features. I know for instance that I've been able to add yield statements in the past without breaking the presubmit.

[2016-06-13 15:46] Alex319 commented on #2408
When I look at this trace, none of the metrics show up. Maybe there's something else wrong with this trace, not related to the webview startup metric specifically?

[2016-06-13 16:07] Alex319 commented on #2408
Okay, it looks like the problem doesn't have anything to do with the webview startup metric. It looks like the problem is that the **updateContents_** function in metric_side_panel is being called without initializing the side panel's **model_** parameter. I'm not sure why that's happening - when I put a breakpoint in the **updateContents_** function it doesn't look like it's being called from any

[2016-06-13 16:33] petrcermak commented on #2407
I think that the question is whether D8 sufficiently supports generators. If the patch goes through presubmit, then it should be fine. You can also test it locally by running `tracing/bin/run_vinn_tests`.

[2016-06-13 17:10] eakuefner commented on #2405
I'm going to come back to this after I do some reading and thinking, but just wanted to note here that we'll probably talk to @dave-2 about this tomorrow.

[2016-06-13 17:12] #2404 closed

[2016-06-13 17:58] nedn commented on #2398
I confirm that this can be fixed by simply updating the v8 version.

[2016-06-13 18:02] nedn commented on #2320
I verified that crbug.com/609831 is fixed. Start updating d8 binary again.

[2016-06-14 01:30] #2400 closed

[2016-06-14 02:29] nedn opened #2409 "Re-enable telemetry.internal.backends.chrome_inspector.tracing_backend_unittest.TracingBackendTest.testDumpMemorySuccess on win-reference"
Log: https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Windows%20Tryserver/builds/3370/steps/Telemetry%20Tests%20with%20Stable%20Browser/logs/stdio

Probably we just need to disable this on reference.

[2016-06-14 07:03] zeptonaut commented on #2381
Planning on taking another look at this today.

[2016-06-14 07:24] zeptonaut opened #2410 "Clock sync error when running BattOrCases benchmark"
There seems to be some latent clock sync bug with Chrome/BattOr Telemetry that's still cropping up in our Telemetry benchmark occasionally.

The bug manifests as a trace import failure:

    Unable to select a master clock domain because no path can be found from "UNKNOWN_CHROME_LEGACY" to "BATTOR".

Strangely, it only occurs around 1/4 of benchmark runs.

I've uploaded a trace here that triggers

[2016-06-14 10:14] petrcermak commented on #2363
This is finally **done** :white_check_mark:

[2016-06-14 10:14] #2363 closed

[2016-06-14 11:59] zeptonaut commented on #2381
I was able to reproduce this problem locally at Chromium/Catapult ToT on my Windows VM w/ a BattOr connected. I'm doing a manual bisect of all 10 or so changes to the `src/tools/battor_agent` directory since our last `battor_agent` release.

[2016-06-14 12:24] zeptonaut commented on #2381
Also, just so we have a historical record, here's the output of `git log` showing the diffs of the two directories:

[2016-06-14 12:25] zeptonaut commented on #2381
Update: the run at `d3d8663` passed.

[2016-06-14 14:58] zeptonaut commented on #2381
Interesting: the run at `f7b11a0` *kind of* passed. It passed, but spitting out details about a check failure regarding `CalledOnValidThread()`. This is a different problem than the one that's showing up on the waterfall (`BattorError: BattOr did not complete command 'StartTracing' correctly.`), but I think that's because @randalnephew changed the way that we bubbled up error messages somewhere al

[2016-06-14 15:24] randalnephew commented on #2381
That change hasn't landed yet, will be landing today though.

[2016-06-14 15:25] zeptonaut commented on #2381
That guess was definitely wrong, then. I still think that somehow that check failure might be manifesting in a strange way within the device test and causing the failure.

[2016-06-14 15:37] zeptonaut commented on #2381
Looks like the check failure is also happening at `fd630be`.

[2016-06-14 15:38] zeptonaut commented on #2381
(It's also happening if I revert `f630be`, so that didn't introduce the problem.)

[2016-06-14 16:23] aschulm commented on #2381
Ok I think I found the problem, it's actually a battor_agent problem. The issue is that the python test case is sending "StartTracing" before the battor_agent.exe is ready to start tracing. You can reproduce this by doing the following:

[code]

[2016-06-14 17:26] aschulm commented on #2381
I forced the battor_agent to run BattOrAgent::StartTracing() as soon as RunNextCommand() is run so I could get a reproducible stack trace of the crash. It looks like some of the threading bugs that we've seen in the past.

(gdb) r --battor-path=COM6
Starting program: /home/BattOr/chromium/src/out/Debug_x64/battor_agent.exe --battor-path=COM6
[New Thread 7252.0x1ae8]
[New Thread 7252.0x1440]
[New T

[2016-06-14 22:39] aschulm commented on #2381
Ok I successfully pushed the battor_agent that has the uncommited init fix, but it still requires a sleep() before receiving input due to crbug.com/620010.

[2016-06-15 01:40] kenrussell opened #2411 "MemoryCacheHTTPServer.UrlOf computes paths incorrectly in some situations"
When called from a test run by telemetry/testing/browser_test_runner.py, telemetry/core/memory_cache_http_server.py's UrlOf computes the path incorrectly in certain situations.

To reproduce on Linux:
1) Build Chrome Release mode
2) cd out/Release
3) Run the following command:
/usr/bin/python ../../testing/test_env.py ../../testing/scripts/run_gpu_integration_test_as_googletest.py ../../content/te

[2016-06-15 10:29] petrcermak commented on #2409
Let's follow the Chromium approach and re-purpose this issue for re-enabling the test once it doesn't flake. Assuming this is due to https://bugs.chromium.org/p/chromium/issues/detail?id=619106, the flakiness should disappear in a couple of weeks (once the fix makes its way to the reference builds).

[2016-06-15 13:23] perezju commented on #2369
I had a look at this. The problem affects benchmarks (like `memory.top_10_mobile`) that always take a single measurement per page, and their corresponding metric returns this single value in a *list of scalar values*.

In this scenario, we gather individual measurements and, therefore, compute a `std` of 0 for all of them.

    - page1: values=[10], std=0
    - page2: values=[300], std=0
    - pag

[2016-06-15 13:36] perezju commented on #2369
Actually, solution 2 above does not work. PICK_FIRST would pick the first list with one scalar; not the first scalar of each list.

[2016-06-15 16:15] nedn opened #2412 "value_sets.getValuesWithName has a deceptive name"
It should be renamed to getValuesWithNameMatching(string) & we need another method like value_sets.getValueWithName

[2016-06-15 16:20] eakuefner commented on #2412
I don't see why the name is deceptive, but I do agree it's grammatically odd. I think the right convention here is `getValuesNamed` in line with `FindAllPageSpecificValuesNamed`, `findThreadsNamed`, `findTopmostSlicesNamed`, `findSliceNamed`, etc.

[2016-06-15 16:21] eakuefner commented on #2412
What do you mean by "& we need another method like value_sets.getValueWithName"?

[2016-06-15 16:24] nedn commented on #2412
I expect a method named "getValueWithName(name)" so that I can access a value from value set with value.name === name.
The  getValuesWithName's deceptive is is doing substring matching, hence ones can get multiple values whereas the contract of value_set is there can't be no two values with same name.

[2016-06-15 16:27] eakuefner commented on #2412
I see. The substring behavior is a little odd, I agree, and I don't think the current name implies to me that it might return multiple values.

I think this function should be reserved for "named exactly" and usages that need the partial match should use the version that takes a predicate instead.

[2016-06-15 16:34] nedn commented on #2412
How is the current name not implying it might return multiple values when the "values" in the name is plural?

[2016-06-15 16:47] eakuefner commented on #2412
Well, really, it's inconsistent. Obviously the s implies that it may return a list, but the fact that values should be unique as you said means that "named X" identifies a unique value.

[2016-06-15 16:55] benshayden commented on #2412
Hm, the ValueSet in results2.html might have a value named 'foo' from iter 0 and a value named 'foo' from iter 1, right?

[2016-06-15 16:57] eakuefner commented on #2412
I don't know about that. In fact, I'm wondering if we actually need to support merging ValueSets at all. What's the use case?

If you select cells from different ValueSets, then the merging happens at the histogram level, right?

[2016-06-15 16:58] nedn commented on #2412
Ben, that's a great point. Seems like we can't go the route of merging valueset, but need to have a list of valuesets here.

[2016-06-15 17:14] eakuefner commented on #2412
Alright, spoke offline with Ben: Values are unique up to name *and* `IterationInfo`, and there are cases where we need to support merging (e.g. for page-set-repeat or bisect).

That said, we don't need to reinvent the world here: let's just change `findValuesWithName` to `findValuesNamed` which does exact matching, but can return a list (of all values with that name, which may have different Itera

[2016-06-15 17:32] nedn commented on #2411
Ken has a WIP patch.

[2016-06-15 17:51] kenrussell commented on #2411
Thanks to Ned for discussion and help with this bug. https://codereview.chromium.org/2069193002/ is up for review fixing this.

[2016-06-15 18:21] kenrussell commented on #2411
Fixed in the above commit.

[2016-06-15 18:21] #2411 closed

[2016-06-15 20:22] wangzhen127 opened #2413 "Clean up tracing config"
Telemetry's tracing config needs cleanup:
1. Move ChromeTraceConfig specific APIs to its own class.
2. Split tracing_config.py to multiple files: tracing_config.py, chrome_trace_config.py, atrace_config.py
3. Clean up ChromeTraceConfig fields and initialization process.

[2016-06-15 20:31] benshayden opened #2414 "Animation jank/smoothness metric demo"
Currently, we use frame-time discrepancy, which is pretty noisy, and might not fit our conceptual model of what high or low jank means. Several people have proposed a few different ways of operationalizing jank, but we don't really know which of them might be better than discrepancy.

It might be useful to build a simple page that demonstrates various kinds of jank crossed with all of the proposed

[2016-06-16 18:54] randalnephew opened #2415 "Getting energy used via powerSeries.getEnergyConsumed() takes too long."
The power metric uses getEnergyConsumed() for calculating the power used in each frame. This takes ~ 30ms each frame.
Metric:
https://cs.chromium.org/chromium/src/third_party/catapult/tracing/tracing/metrics/system_health/power_metric.html?q=power_metric.html+energyConsumedPerFrame&sq=package:chromium&l=21
powerSeries:
https://cs.chromium.org/chromium/src/third_party/catapult/tracing/tracing/model

[2016-06-16 19:55] nedn commented on #2415
Charlie, is model.device.powerSeries.getEnergyConsumed using a linear algorithm?

[2016-06-16 20:13] eakuefner commented on #2405
To update here, we had a meeting earlier this week and wrote a nice design doc about how `IterationInfo` should work: https://docs.google.com/document/d/12KvpnDUFUuCEgId7H-QL5PoRcsp99CXdqbZc-EOrpH8/edit

[2016-06-16 20:34] nedn commented on #2415
I got a little bored, so steal this from Charlie.

[2016-06-16 23:01] zeptonaut opened #2416 "Recording trace in Chrome Canary with all default categories enabled shows no trace"
@natduca @petrcermak

Seeing this on Chrome Canary Mac.

It appears that the trace events are still recorded, and that the hitboxing works (you can select events if you drag and they show up in the analysis pane).

I don't have time to look into this now (preparing for the BattOr presentation at BlinkOn tomorrow morning), but I wanted to make sure that the bug got filed.

<img width="1395" alt="sc

[2016-06-17 04:47] paulirish commented on #2414
Generally like the idea of enumerating the various situations we have with real demos. http://google.github.io/latency-benchmark/ comes to mind, which is effective at showing latency vs jank.

[2016-06-17 11:41] petrcermak commented on #2416
I'm unable to reproduce this on Chrome Canary Mac (_non_-Retina), 53.0.2770.0 (Official Build) canary (64-bit).

@zeptonaut: Could you please provide more details:

* How many tabs did you have open? URLs?
* How long was the recording?
* What do you mean by "all default categories"? "Web developer"? "Manually select settings" with all categories _not_ disabled by default?
* Did you use any special

[2016-06-17 12:12] zeptonaut commented on #2416
This morning when I tried to reproduce it, I was unsuccessful, which is kind of scary.

I think that I had lots of tabs. The recording was 2-3s. By "all default categories", I selected "Manually select categories" and then selected all categories on the LHS and disabled all categories on the RHS. I believe that I opened a tab, navigated to YouTube, and either navigated back to my original tab or c

[2016-06-17 12:13] zeptonaut commented on #2416
Also, I had the "system tracing" checkbox checked and a BattOr connected. However, when I tried to replicate it this morning with all of those settings, I was unsuccessful.

Maybe we should file this under "something to look out for" and just close the bug?

[2016-06-17 14:08] petrcermak commented on #2416
Hm, still no luck reproducing the problem 😞

[2016-06-17 16:21] randalnephew opened #2417 "Add BattOr to Linux based backend on catapult CQ"
There is currently no linux backend regression testing for the battor binary. All that should be required to get this coverage is to add a battor to the android cq bot.

@zeptonaut @aschulm @nedn

[2016-06-17 19:27] randalnephew opened #2418 "Catapult roll is failing."
Catapult roll failing:
https://catapult-roll.skia.org/

The first roll where it fails is:
https://chromium.googlesource.com/external/github.com/catapult-project/catapult.git/+log/f7df8568ae1f..2ba7bda0ccf7

After that it fails with an import error.
https://codereview.chromium.org/2072163002 is the only CL in the roll.
@anniesullie

[2016-06-17 19:51] nedn commented on #2418
There is also the failure of telemetry test:
[3/10] benchmarks.benchmark_smoke_unittest.BenchmarkSmokeTest.service_worker.service_worker failed unexpectedly 3.8110s:
  [ RUN      ] first_load
  Traceback (most recent call last):
    File "e:\b\swarm_slave\work\isolated\isolated_run8lv3sc\third_party\catapult\telemetry\telemetry\internal\story_runner.py", line 84, in _RunStoryAndProcessErrorIfNeede

[2016-06-17 20:42] eakuefner commented on #2369
Does option 3 work here? That seems to be most pragmatic, since the reason option 1 is hard is the same as the justification that option 3 is good: we special case behavior when handling multiple numbers coming from the same page anyway.

[2016-06-17 23:13] nedn commented on #2418
Now it's a devil bug that is blocking the roll, *sigh*

[2016-06-17 23:13] nedn commented on #2418
https://build.chromium.org/p/tryserver.chromium.android/builders/linux_android_rel_ng/builds/89776/steps/mojo_surfaces_lib_unittests%20%28with%20patch%29%20on%20Android/logs/stdio

Traceback (most recent call last):
  File "/tmp/isolated_run16emxQ/build/android/test_runner.py", line 23, in <module>
    from devil.android import device_utils
  File "/tmp/isolated_run16emxQ/third_party/catapult/devi

[2016-06-18 01:11] nedn commented on #2418
Now @eakuefner also involves in blocking catapult roll. Log:
[140/177] measurements.repaint_unittest.RepaintUnitTest.testRepaint failed unexpectedly 13.9010s:
  Chrome build location for win_AMD64 not found. Browser will be run without Flash.
  Requested remote debugging port: 0
  Starting Chrome ['e:\\b\\swarm_slave\\work\\isolated\\isolated_run7m6tg4\\out\\Release\\chrome.exe', '--enable-gpu-ben

[2016-06-18 02:10] #2398 closed

[2016-06-20 13:44] petrcermak commented on #2369
I'd vote for option 3 as well.

[2016-06-20 13:45] perezju commented on #2369
sgtm, I'm writing a patch for this

[2016-06-20 14:35] anniesullie opened #2419 "find_change_points.py behaves differently depending on x values"
I was investigating why we did not get an improvement alert here:
https://chromeperf.appspot.com/report?sid=dd45f838005395dd0a5806734194fe8bf4d66bec31f78e9b92d49c6949a7d136&start_rev=397075&end_rev=400154

The debug page says that we should get an alert. I dug into the differences between the two codepaths since both call `find_change_points.FindChangePoints()` with the same config ({} in this cas

[2016-06-20 14:45] petrcermak opened #2420 "Figure out how to (automatically) set units based on context"
We want to provide the UI with the ability to **specify how units should be displayed**. For example, we want to show all sizes in memory-infra details panes in kilobytes (#2377).

Furthermore, this behavior should be **configurable** by the user. We should provide a simple means for the user to request things like _"show me all sizes in megabytes and timestamps in microseconds"_.

**Existing prop

[2016-06-20 14:46] perezju commented on #2369
I've just found that that option 3 clashes with other very typical (and a lot more common!) use case. That is when you run with --pageset-repeat 1, and your metric produced a single value.

In that case both on your individual measurements, and also after aggregating "per page", you get (correctly):

    - page1: values=[10], std=0
    - page2: values=[9], std=0
    - page3: values=[7], std=0

[2016-06-20 15:19] nedn commented on #2369
I think that's probably a good thing that we shows zero in that case rather than showing the false stat to the user: https://groups.google.com/a/chromium.org/d/msg/telemetry/BIKN9tgEZnc/PCsD3Eg8CQAJ

[2016-06-20 15:24] perezju commented on #2369
ok, sgtm, will continue with my patch and modify unittest expectations accordingly

we should probably send a warning to telemetry users after landing this CL, since a lot of their std's are going to suddenly vanish (not sure how many cared about them anyway).

[2016-06-20 15:29] zeptonaut commented on #2415
Thanks for handling this Ned!

[2016-06-20 15:36] petrcermak opened #2421 "Add support for time ranges to the TBMv2 memory metric"
The current implementation of the memory metric takes the __whole trace__ and converts it to numbers:

_TRACE →
{<tt>memory:chrome:all\_processes:reported\_by\_chrome:v8:effective_size</tt>: N MiB, ...}_

The metrics framework has recently (https://codereview.chromium.org/2052593005/) started to support specifying a __range of interest__ as well:

_TRACE, [START ms, END ms] →
{<tt>memory:chrome:al

[2016-06-20 15:50] zeptonaut commented on #2371
Werd. I just went back and looked at this and said "thanks Randy!". I'm an idiot.

A month after the fact, I'd like to revise this to "thanks Alex!"

[2016-06-20 16:29] qyearsley commented on #2419
I don't remember anything very useful --

Both code paths call find_change_points.FindChangePoints(), but [find_anomalies.py](https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/find_anomalies.py) does some other things and only gets called if ProcessTest gets called from the add_point_queue handler when the new point is added.

[2016-06-20 16:30] anniesullie commented on #2419
Right, it's the call to `find_change_points.FindChangePoints()` with the different x values that's the difference, but it's not clear to me why that method would behave differently depending on x values.

[2016-06-20 17:04] qyearsley commented on #2419
Have you verified that the x values make the difference by trying adding test methods to find_change_points_test? If having different x values influences whether a change point is found by that function, I that would be good news, because then I think that means there's a bug in find_change_points that we could find and fix.

My initial thought was that maybe there was an error in somewhere in a r

[2016-06-20 17:21] anniesullie commented on #2419
I haven't had time to update the unit tests. I verified by poking around for that specific test in /_ah/stats/shell:

[code]

[2016-06-20 17:40] eakuefner commented on #2418
Roll is green -- this bug should be closed. Thanks @nedn for pasting the log -- I'll troubleshoot the CL today.

[2016-06-20 17:40] #2418 closed

[2016-06-20 18:22] qyearsley commented on #2419
If I try that and change [`debug_alert.SimulateAlertProcessing`](https://github.com/catapult-project/catapult/blob/9fde332e0c5396f06c346272435c8f5a1df49c48/dashboard/dashboard/debug_alert.py#L128) to `find_change_points.FindChangePoints` then both behave the same -- `SimulateAlertProcessing` calls `FindChangePoints` multiple times with different sub-series, to simulate the way that FindChangePoint

[2016-06-20 19:33] Alex319 opened #2422 "Add option in html2trace to put all the traces into one file"
I would like to have an option in html2trace to put all the traces into one file rather than split them up into multiple files. Ideally, given a standalone HTML file, the following two approaches should produce identical output: (a) open the standalone HTML file, and (b) run html2trace on the HTML file with this new option, then view that resulting trace in the trace viewer.

The purpose of this i

[2016-06-21 03:45] nedn commented on #2416
When you are able to reproduce the problem, can you save the trace & show what does the json contains?

[2016-06-21 03:45] #2415 closed

[2016-06-21 06:27] toyoshim opened #2423 "Perf Dashboard: "📈" isn't displayed in a right glyph on ChromeOS"
Chrome version: 51.0.2704.79 (Chrome OS)
URL: https://chromeperf.appspot.com/alerts

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):
*WARNING* /deep/ combinator is deprecated. See https://www.chromestatus.com/features/6750456638341120 for more details.
*WARNING* core-overlay.html:348 ::shadow pseudo-element is deprecated. See https://www.chromestatus.com/features/6

[2016-06-21 08:19] petrcermak opened #2424 "Provide a way to save trace even if import fails"
_[related to #2416]_

Very often, we get bugs saying that the user recorded a trace via chrome://tracing which __failed to import__. Since there is currently no way to save a trace which failed to import, the only way to reproduce the failure is to ask them lots of questions about the scenario. It would be much easier if they could just upload the problematic trace.

@zeptonaut @nedn @natduca

[2016-06-21 09:09] petrcermak commented on #2422
I don't fully understand this feature request. What should be the output of option b? A zip file? Are you suggesting that we merge the sub-traces into a single JSON trace file? You can already import an HTML file into Trace Viewer, which I suspect is what you want.

[2016-06-21 09:10] petrcermak commented on #2377
Done :white_check_mark:

[2016-06-21 09:10] #2377 closed

[2016-06-21 13:04] jbudorick commented on #2403
Looping back to this -- are there systrace tests that run on a device? I see systrace/bin/run_tests, but that appears to run on the host machine.

@wangzhen127 @ChrisCraik

[2016-06-21 13:37] primiano commented on #2421
What is the actual use case? In principle sounds a nice feature. In practice I think that the rule of thumb is to not do anything if we don't have a driving use case, to avoid introducing unnecessary complexity.

[2016-06-21 14:31] wangzhen127 commented on #2403
No. Currently the systrace tests are running just on the host machine. My intern will add more Android tests when merging systrace and adb_profile_chrome this summer.

[2016-06-21 14:46] zeptonaut commented on #2424
+1

This should be a thing.

[2016-06-21 14:47] zeptonaut commented on #2416
Will do.

On Mon, Jun 20, 2016 at 11:45 PM, Ned Nguyen <notifications@github.com>
wrote:

--

Charlie Andrews |  Software Engineer |  charliea@google.com

[2016-06-21 17:07] Alex319 commented on #2422
I am suggesting that we merge the sub-traces into a single JSON trace file.

The issue is the following. If I just open up the HTML file in Chrome, that's a standalone HTML file that has the trace viewer embedded in it. What I want to do is to be able to *edit* the trace viewer code itself on my local machine, then open up the full trace using the *new* trace viewer. If I just open up the standalo

[2016-06-21 17:21] zeptonaut opened #2425 "BattOr importer should throw an error if it sees a trace with a negative voltage or current"
Right now, it's only writing an import warning, but the trace import fails later if there was a clock sync on that line. This happens frequently when people are accidentally charging their device when the trace is recorded.

Because we're not currently capable of handling this situation, I'd at least rather fail with an error message more helpful than "Unable to select a master clock domain path c

[2016-06-21 17:23] zeptonaut commented on #2425
/cc @randalnephew @aschulm @Alex319

[2016-06-21 20:27] eakuefner commented on #2423
Thanks for reporting this bug! I actually don't think we should be using a glyph here at all.

The fix I propose is to use the `trending-up` icon from [core-icons](https://docs-05-dot-polymer-project.appspot.com/0.5/components/core-icons/demo.html). 1.0 has the `icon:timeline` icon that I think is even more appropriate, so I think switching to that after we're done migrating to 1.0 would be in ord

[2016-06-21 20:29] anniesullie commented on #2423
sgtm!

[2016-06-21 20:36] eakuefner commented on #2423
Here's what it looks like:
![graph_icon](https://cloud.githubusercontent.com/assets/75990/16245325/29fd51da-37b5-11e6-8c67-47be20cc60ba.png)

CL incoming.

[2016-06-21 21:07] #2423 closed

[2016-06-22 09:37] petrcermak commented on #2422
You _can_ indeed open an HTML trace in a __different version__ of Trace Viewer. To give you an example, assuming you have the local Catapult dev server running:

[code]

Navigate to <tt>http://localhost:8003/tracing_examples/trace_viewer.html#/tracing/test_data/counter_tracks.html</tt> in your browser. This opens a sample HTML trace (which contains Trace Viewer from several months ago) in your _lo

[2016-06-22 15:57] Apeliotes commented on #2393
Is there more work to be done here?

[2016-06-22 15:59] Apeliotes commented on #1332
This could be useful. We should look into it after the polymer migration lands.

[2016-06-22 16:55] vuppalapu commented on #2393
Yes this is done.

[2016-06-22 16:55] #2393 closed

[2016-06-22 18:53] zeptonaut opened #2426 "Power metric should align its frames with Chrome's"
Right now, `power_metric.html` (which backs our power benchmarks) divides the trace into 16ms chunks from the first power sample until the last power sample and calculates the total energy consumed during each of those chunks. Ostensibly, this divides the trace into "frames", but we know that isn't actually the case.

Instead of dividing the frames at `first_power_sample_time + N * 16ms`, the metr

[2016-06-22 22:46] randalnephew commented on #2426
Is there a way in the metrics to translate one clock domain to another?

The vsyncs are in chromes clock domain, and the power samples are in battors clock domain.

[2016-06-23 12:56] zeptonaut commented on #2426
By the time that they're stuck on the model, the power samples should already be in Chrome's clock domain. ([See this code](https://github.com/catapult-project/catapult/blob/dc09b776a2fe2c211d96f3e34dd906516f8f8b18/tracing/tracing/extras/importer/battor_importer.html#L88-L98))

[2016-06-23 14:32] randalnephew commented on #2426
Im using old sample data (battor_chrome in test_data/), Ill get some fresh data and try again.

[2016-06-23 14:55] zeptonaut commented on #2426
Ah, okay. Yea, that's probably problematic.

After you get fresh test data, would you mind updating the test_data trace
in Catapult?

On Thu, Jun 23, 2016 at 10:32 AM, randalnephew <notifications@github.com>
wrote:

--

Charlie Andrews |  Software Engineer |  charliea@google.com

[2016-06-23 21:22] nedn commented on #2421
+1 to what Primiano says. If you knows someone who find this useful, then consider supporting it. Otherwise, more code is more burden :-)

[2016-06-24 09:20] petrcermak commented on #2421
In that case, I'll __close__ this bug now :closed_book:

Anyone: If you need this feature, please __re-open__ :book:

[2016-06-24 09:24] perezju commented on #2369
This is now fixed and std's are [making it to the dashboard](https://chromeperf.appspot.com/report?sid=4c3eb9babc6a79fb2adfa2937c7b7f96ffdebe97bdd6ca92ac044903a765e23a)!

[2016-06-24 09:24] #2369 closed

[2016-06-24 09:41] petrcermak commented on #2369
I suppose this also caused the standard deviation of page sets with no repeats to drop to zero: https://chromeperf.appspot.com/report?sid=3aceea5b58434863fcff844bdf38e272e0f2277913d8e62ed4b06f2261b1c1c5

[2016-06-24 09:45] perezju commented on #2369
Yes, that is correct and deliberate as per Ned's comment and the [announcement I sent](https://groups.google.com/a/chromium.org/forum/#!topic/telemetry-announce/rxZuqrBkI3Q) yesterday.

[2016-06-24 09:51] #2397 closed

[2016-06-24 10:01] perezju commented on #2294
From our recent discussions it's clear we have a need for both kinds of benchmarks: some more "deterministic" and some more "realistic".

My proposal is to add a `ShouldTearDownStateAfterEachStorySetRun` method (similar to the existing one to tear down after each individual `Story`) that defaults to **`True`** in order to make all of our current benchmarks more deterministic. But allow new benchma

[2016-06-24 11:33] #2312 closed

[2016-06-24 11:33] #2406 closed

[2016-06-24 14:41] surma opened #2428 "responsivenessMetric requires Animations to have frameEvents, but some don't"
When tracing a scroll and wanting to look at the responsiveness metric, I get this:
<img width="266" alt="screenshot 2016-06-24 15 35 08" src="https://cloud.githubusercontent.com/assets/234957/16340722/98a80c38-3a21-11e6-9972-907a748356ab.png">

cc @paulirish @paullewis

[2016-06-24 16:35] eakuefner commented on #2428
@benshayden

[2016-06-24 16:37] eakuefner opened #2429 "Ensure story names are unique"
We've been meaning to do this for a long time, and now we need the guarantee to make plumbing IterationInfo through Telemetry trace metadata work.

@nedn @benshayden @zeptonaut

[2016-06-24 16:42] eakuefner opened #2430 "Allow specifying multiple metrics to metric_runner"
Originally, when we expected Big Data to use TBMv2 more directly, we were concerned about metric configuration consistency between benchmarks and from-the-wild analysis. However, now we're focus mostly on Automation & Monitoring use cases for TBMv2. In this situation, it's often useful for people to be able specify additional metrics to be computed without having to submit to the cruft of defining

[2016-06-24 16:44] nedn commented on #2430
cc: @petrcermak
@Alex319 @zeptonaut  @randalnephew (for integrating latency metric to existing battor benchmarks)

[2016-06-24 17:07] zeptonaut commented on #2430
+1 would use

[2016-06-24 17:09] nedn commented on #2430
@ulan this may also simplify how you're wiring the metrics together.

[2016-06-24 18:13] eakuefner opened #2431 "Plumb CanonicalUrl through telemetry into TelemetryInfo"
Before diagnostics were typed, we added the canonicalUrl to the diagnostics. We should reintroduce this functionality so we can use the CanonicalUrl diagnostic to surface trace links (or especially, collections of trace links for summary values) on the perf dashboard.

Mutliple people have been confused about the fact that traces don't display for summary values, and coming up with a mergeable Can

[2016-06-24 21:42] benshayden opened #2432 "Drag to re-order table columns"
For results2.html, if there are many iterations (1:1 columns), it would be useful to allow users to drag columns around to make it easier to compare them. tr-ui-b-table does not currently support this. In order to support this, table should think in terms of "userColumn" instead of "columnIndex", like how it currently thinks of "userRow". This feature should prevent the user from dragging "data" c

[2016-06-25 03:09] benshayden commented on #2431
Why not a field on IterationInfo?

[2016-06-27 15:27] simonhatch opened #2433 "Bisect popup leads back to same page."
Kicked off 2 bisects today and clicked on the little popup, and I swear it just sent me back to the same url both times. Isn't it supposed to send me to info about the bisect?

[2016-06-27 15:51] SummerLW opened #2434 "Perf Dashboard: Alert link is broken"
Chrome version: 51.0.2704.106 (Linux)
URL: https://chromeperf.appspot.com/alerts?sortby=percent_changed&sortdirection=up

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):
Error: Bad Request
Your client has issued a malformed or illegal request.
Please describe the problem:
I tried to open an alert, but it shows as a bad request.
https://chromeperf.appspot.com/group_

[2016-06-27 17:52] benshayden commented on #2431
So telemetry plumbs IterationInfo into trace metadata (model.metadata[]), which metric_map_function copies to IterationInfo diagnostic javascript objects on Values. So, instead of setting canonicalUrl on model, it can be serialized into the trace metadata, and be copied to diagnostics from there.

The deeper issue is that TraceValues need to be uploaded in a more principled way. There should be so

[2016-06-28 10:35] petrcermak opened #2435 "Catapult roll doesn't update Chromium bugs"
I landed the following Catapult patch yesterday (2016-06-27 19:28:08 UTC): https://codereview.chromium.org/2093923002/
It rolled into Chromium yesterday (2016-06-27 21:09:33 UTC): https://codereview.chromium.org/2102743002
However, the Chromium bug still hasn't been updated (2016-06-28 10:35 UTC): https://bugs.chromium.org/p/chromium/issues/detail?id=623058

@anniesullie, @nedn: FYI

[2016-06-28 10:39] petrcermak commented on #2435
On a second thought, this is almost certainly a Chromium problem (because the roll patch contains the bug ID), so I filed a Chromium bug instead: https://bugs.chromium.org/p/chromium/issues/detail?id=623910

[2016-06-28 10:39] #2435 closed

[2016-06-28 18:28] benshayden opened #2436 "Display percent deltas and z-scores in histogram-span when displaying delta histograms"
@shubhie mentioned that results(1).html makes it a bit difficult to distinguish significant deltas from insignificant deltas. It looks like there's a slight style difference.

http://storage.googleapis.com/chromium-telemetry/html-results/results-2016-06-27_18-27-27

Perhaps using Z-scores instead of subtly-styled %deltas would more clearly convey the significance?

R displays some number of asteri

[2016-06-28 18:32] benshayden commented on #2428
Yeah, sorry. :-/
The right way to fix this would be to use either frame blame contexts or flow events or something to definitively match up the frame events to the AnimationExpectations. Scroll animations already support using flow events, but only if flow events are in the trace, and they're disabled by default because they blow up the trace file size. Frame blame contexts probably would not blow

[2016-06-28 19:17] paulirish commented on #2428
I was seeing this for all traces with a scroll in desktop ToT.

[2016-06-28 19:30] surma commented on #2428
If this helps: The audit in lighthouse currently has the following trace flags

[code]

and uses `chrome.gpuBenchmarking.smoothScrollBy()` to scroll.

[2016-06-28 19:58] eakuefner opened #2437 "Time series retrieval should be parallelized"
If you have a /report with a lot of charts, currently, we load them in serial, but we don't have to. We could speed page load by parallelizing the query at some level (either at the XHR level (get_multi) or at the ndb async level).

@anniesullie

[2016-06-28 19:59] eakuefner commented on #2359
We can maybe retry here, or throw an explicit client-side error, and not store this garbage in the datastore.

[2016-06-28 21:07] eakuefner commented on #2434
I think the problem is that the browser truncates the URL in this case. We can probably add some handling that does a PUT instead of a GET for very long reports like this. We use GET because especially for smaller reports it's nice to be able to copy and paste the URLs, but in a case like this, it would probably be better for it to work at all.

[2016-06-28 21:27] ZiqiXiong opened #2438 "Binary files detected by git after running unit tests on telemetry"
**What steps will reproduce the problem?**

(1) python catapult/telemetry/bin/run_tests <test_name>
(2) git status

**What is the expected output?**

All non-binary files that have been changed by running the tests

**What do you see instead?**

All non-binary files that have been changed by running the tests and

telemetry/telemetry/bin/linux/x86_64/hprof-conv
telemetry/telemetry/internal/testing

[2016-06-28 21:30] wangzhen127 commented on #2438
@Apeliotes Looks like gitignore should include those binaries?

[2016-06-28 21:56] ZiqiXiong opened #2439 "CpuTracingAgent caused timeout on Windows buildbot"
I am trying to land my [CL](https://codereview.chromium.org/2066413002/) for adding a new tracing agent that takes snapshots of CPU usage when running benchmark tests on telemetry. However, the build on Windows bots have been throwing exception due to timeout since patchset 13. Here is an [example](https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Windows%20Tryserver/build

[2016-06-28 22:10] eakuefner opened #2440 "Dashboard tries retriage old alerts in /auto_triage."

[2016-06-28 22:21] eakuefner commented on #2433
@Apeliotes Interested in taking a look?

[2016-06-28 23:50] kenrussell opened #2441 "Error fetching browser log: "TypeError: coercing to Unicode: need string or buffer, NoneType found""
In many failing test runs recently the following stack trace has shown up:

`Minidump found: e:\b\swarm_slave\work\isolated\isolated_tmpqumjwn\tmpx6zctp\reports\bce0b7f5-81f0-4dfd-8405-ead6bdc30a5a.dmp
  *************** BROWSER STANDARD OUTPUT ***************

  *********** END OF BROWSER STANDARD OUTPUT ************
  ********************* BROWSER LOG *********************
  Failed to get browser

[2016-06-29 06:14] petrcermak commented on #2433
This is a __duplicate__ of https://bugs.chromium.org/p/chromium/issues/detail?id=622290.

[2016-06-29 06:14] #2433 closed

[2016-06-29 06:58] primiano opened #2442 "TraceViewer freezes the renderer with a memory-infra trace w/ heap profiler"
I don't seem able to open the trace [1]. It loads but when I click on any column in the renderer row which has the heap profiler dump everything (TraceViewer) freezes and I have to kill the renderer.

@petrcermak

[1] https://drive.google.com/a/google.com/file/d/0B1oJWfrTOXwxdEJQSkpvUHdRbnc/view?usp=sharing

[2016-06-29 06:59] petrcermak opened #2443 "Catapult rolls failing"
According to https://catapult-roll.skia.org/, Catapult rolls (into Chromium) have been failing for at least 20 hours.

@anniesullie

[2016-06-29 07:33] ulan opened #2444 "Reduce noise in GC metrics"
Currently GC metrics are tracked for each RAIL stage separately.

For example:
- Response-v8-gc-full-mark-compactor_max
- Animation-v8-gc-full-mark-compactor_max
- Idle-v8-gc-full-mark-compactor_max
- Load-v8-gc-full-mark-compactor_max

A GC event can move between RAIL stages on different runs of the same benchmark. We observed that the noise level has increased significantly compared to the old T

[2016-06-29 08:52] perezju opened #2445 "Bad error message when "gathering standard output" on Android"
When there are failures on Android we get the unhelpful error message:

[code]

The error itself is harmless, but still distracting while reading logs.

[2016-06-29 08:59] perezju commented on #2445
I'll also add here this other unhelpful error message here, since both can be easily fixed probably in the same CL. This one happens when trying to get the browser log.

[code]

[2016-06-29 13:25] nedn commented on #2441
@perezju is working on this.

[2016-06-29 13:26] nedn commented on #2443
Can you file a chromium bug & assign to borenet? It's an infra issue.

[2016-06-29 13:45] ulan opened #2446 "Animation stage is not detected correctly in webgl animation benchmark"
While porting ooronline_tbm benchmark to TBMv2 I noticed that there is no Animation stage in the trace.

Instead, there are Idle and Response stages, but the benchmark is actually doing animation.

Steps to reproduce:
1. Apply https://codereview.chromium.org/2104303002/ in catapult.
2. Apply https://codereview.chromium.org/2106133002/ in chromium.
3. Add code to log user expectations in reponsiven

[2016-06-29 13:51] anniesullie commented on #2443
borenet is investigating in crbug.com/619997, closing this as a dupe.

[2016-06-29 13:51] #2443 closed

[2016-06-29 14:08] perezju commented on #2441
Duplicate of #2445

[2016-06-29 14:08] #2441 closed

[2016-06-29 14:43] petrcermak commented on #2442
I've been investigating this for a while now (it's difficult because DevTools crashes as well) and it seems to me that the problem is __OOM__ due to the fact that the heap dumps are huge (order of 100,000 entries per heap dump) and, as a result, the heap trees have a huge number of nodes (potentially millions). Still, I would expect us to be able to handle this without major problems. I'll keep in

[2016-06-29 15:25] primiano commented on #2442
gh, this sounds an argument back in favour of the threshold truncation that dskiba@ wanted to drop completely.

[2016-06-29 15:28] anniesullie opened #2447 "/migrate_test_names should list path the test will be migrated to"
Right now, when you go to `/migrate_test_names`, it lists the tests that will be migrated, but not what paths they will be migrated to. This makes it way too easy to incorrectly configure the migration. We should change the UI so that it shows both the test path that will be migrated and the test path it will be migrated to.

Currently, the `listTests()` function in `migrate_test_names.html` does

[2016-06-29 16:06] nedn commented on #2446
@zeptonaut @benshayden

[2016-06-29 17:52] eakuefner commented on #2430
@zeptonaut We talked about interest in having @Alex319 or @randalnephew pick this up. The overview of how to do this would be:

1. Extend [`metric_runner`](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/metrics/metric_runner.py) and [`metric_map_function`] to reason about a list of metrics.
2. Fix [`run_metric`](https://github.com/catapult-project/catapult/blob/master/tra

[2016-06-29 17:55] nedn commented on #2430
Since this is a API change, also please send out an announcement to telemetry-announce@ :-)

[2016-06-29 17:58] benshayden commented on #1933
Thanks for creating the [test-data](https://github.com/catapult-project/test-data) repo, @anniesullie !
I'll copy files from catapult's test-data and @natduca 's measurmt-traces to that repo at some point soon, then update the dev server and trace-viewer to use the new repo, then delete the files from catapult.

Updating the dev server and trace-viewer is actually a bit complicated. Here's a desig

[2016-06-29 18:10] eakuefner commented on #2430
Done: https://groups.google.com/a/chromium.org/forum/#!topic/telemetry-announce/8_8sxrt0Naw

[2016-06-29 18:26] Alex319 opened #2448 "Test failures in trace viewer"
In ToT trace viewer, if you open the dev server and run the tracing tests, two of the tests will fail:

tracing.ui.timeline_viewport_test.locationObj will fail with 'Cannot read property getContainingTrack of undefined'

tracing.value.ui.scalar_span_test.displaySparkline will fail with 'Expected 0 to equal 1'

[2016-06-29 21:41] natduca commented on #1933
Things I don't think sound workable:
- MRU instead of listing all files
- The file prompt coming from TKinter.

What I do think is workable is that the trace viewer works as today. But, when the devserver gets a list_files request, it goes and looks for the test_data repo. If its not checked out, it can cause the XHR to fail with an error message that the examples/trace_viewer.html can show that p

[2016-06-29 21:41] ZiqiXiong commented on #2439
I ran the telemetry tests on a local machine and was able to produce the same exceptions on the builder bot. Here is the stdout:  [text_output.txt](https://github.com/catapult-project/catapult/files/340259/text_output.txt)

[2016-06-29 21:46] ZiqiXiong commented on #2439
@ro-berto  @nedn  @wangzhen127

[2016-06-29 22:04] wangzhen127 commented on #2439
I think your local test has more failures than the trybot example.

[2016-06-29 22:28] ZiqiXiong commented on #2439
@wangzhen127 Yeah, also the local test did not timeout after test 542 as trybot example did.

[2016-06-29 22:38] Alex319 commented on #2448
I discovered that this was caused by my browser's zoom level not being the default. (But probably this is still a bug because the tests should not depend on zoom level)

[2016-06-30 06:42] ulan commented on #2430
+1 looking forward to this feature.

[2016-06-30 13:15] petrcermak commented on #2448
I agree that our tests should support zooming, but I don't have the time to look into it unfortunately. A partial solution would be to at least show a warning infobar at the top of the page.

[2016-06-30 16:18] benshayden commented on #2448
Maybe the test harness could set document.body.style.zoom to the ratio between a hard-coded table of default devicePixelRatios and the current window.devicePixelRatio when !tr.isHeadless? E.g. the default devicePixelRatio on the (ahem) Pixel 2 is 2, so set document.body.style.zoom = 2 / window.devicePixelRatio;

[2016-06-30 18:36] benshayden commented on #2446
Yep. #1146 #1145
I'll talk with @zeptonaut about adding findScriptAnimations to UserModelBuilder.

[2016-06-30 20:33] eakuefner opened #2449 "Summarize TBMv2 benchmark results by merging Histograms"
For everyone's sanity, we should move as quickly as possible to maintenance-mode `Summary`.

We're getting bugs like [crbug.com/624522](https://bugs.chromium.org/p/chromium/issues/detail?id=624522) wherein current progress is colliding with old hacks. By using TBMv2's summarization, we can sidestep all of the headache-inducing reasoning of summary v1 and stop piling hacks.

[2016-07-01 00:19] eakuefner opened #2450 "Single event views are not rational"
There is a latent architecture/design issue in the way that the various single event views (`single_event_sub_view`, `single_async_slice_sub_view`, `single_flow_event_sub_view`, etc.) are implemented relative to the corresponding `Event` type hierarchy. For example, `single_async_slice_sub_view` has-a `single_event_sub_view`, where `single_flow_event_sub_view` is-a `single_event_sub_view`, even th

[2016-07-04 14:13] #2445 closed

[2016-07-04 14:39] perezju opened #2451 "Strange temp file names printed while running benchmarks"
When running a benchmark we get some strange temp file names being printed on the output without much context nor explanation, e.g.:

[code]

After some bisecting through the code I eventually pinned those strange looking lines of output coming out of [telemetry.value.trace](https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/value/trace.py#L76). They started appearing aft

[2016-07-05 15:39] petrcermak commented on #2421
Following a discussion with @primiano, it turns out that, by implementing this feature, we can solve a problem faced by the V8 team: https://bugs.chromium.org/p/chromium/issues/detail?id=625852.

[2016-07-05 17:40] #2413 closed

[2016-07-06 08:22] petrcermak commented on #2430
_(I'm increasing the priority of this issue because it's blocking https://bugs.chromium.org/p/chromium/issues/detail?id=621035)_

[2016-07-06 15:32] zeptonaut commented on #2430
Ack - I'll make sure work starts on this as soon as possible

[2016-07-06 16:34] qyearsley commented on #1574
Sheriffing today I found 50+ alerts that shouldn't have been fired because reference build changed at the same time (see [crbug.com/626031](crbug.com/626031)), so it looks like this isn't just one or two isolated cases.

The code that's supposed to filter out the alerts where ref build moved at the same time is at https://github.com/catapult-project/catapult/blob/9fde332/dashboard/dashboard/find_a

[2016-07-06 16:41] petrcermak commented on #2430
Thanks!

[2016-07-06 17:02] qyearsley opened #2452 "Alerts-table on /alerts doesn't obey sortby and sortdirection query parameters."
To reproduce/observe, open the following two pages:

  https://chromeperf.appspot.com/alerts?sortby=test&sortdirection=down&triaged=true
  https://chromeperf.appspot.com/alerts?triaged=true

According to the previous/expected behavior, the first should have alerts sorted by the "test" column. The actual behavior is that they appear to be the same.

This might have been this way since /alerts was d

[2016-07-06 17:22] benshayden commented on #2428
I think [this change](https://codereview.chromium.org/2115283002) should fix it, but I'm having trouble reproducing. Every time I scroll in a desktop chrome, the LatencyInfo flow events are in the benchmark category, so the existing InputLatencyAsyncSlice.associatedEvents finds the frame events.
Can one of you please either test that CL or send me a trace somehow?

[2016-07-06 17:39] qyearsley opened #2453 "Sorting the alerts-table removed all rows with alert groups with more than one alert."
To reproduce:

  1. Go to https://chromeperf.appspot.com/alerts?triaged=true
  2. Click on a header in the alerts-table (e.g. Master, Test Suite...)
  3. Observe that the table now contains no rows with numbers on the left, and the number of rows in the table is decreased.

Possibly related to #2452, which is possibly related to the dejinjification earlier this year (https://codereview.chromium.or

[2016-07-06 18:51] kenrussell opened #2454 "desktop_browser_backend repeatedly re-symbolizes the same stack"
In #2346 code is being added to allow user code to fetch all the crashes that may have occurred during a test run, and manually symbolize them.

It's been observed that at least in Catapult's new browser_test_runner, if a crash happens, then every time the browser (or, more generally, app) is restarted, the same minidump gets symbolized over and over again -- and sometimes this symbolization proce

[2016-07-06 20:20] eakuefner opened #2455 "Reenable testCloseReferencedTab on Mac and Linux"
The Catapult roll has been failing since 4 hours ago due to a failing Telemetry unit test that looks to be due to a Chrome crash.

https://catapult-roll.skia.org/

First failing roll: https://codereview.chromium.org/2129583002

Chromium changelog beginning with `got_revision` for the above: https://chromium.googlesource.com/chromium/src/+log/HEAD/?s=51c4765d8e7934359e8f5793ad444c02e45a4d28

Last k

[2016-07-06 21:00] ChrisCraik commented on #2085
Fixed with above change.

[2016-07-06 21:00] #2085 closed

[2016-07-06 21:01] ChrisCraik commented on #1621
Fixed with 4aaa445b7b1a252d60dfaa0c8be2e56022d69e0f

[2016-07-06 21:01] #1621 closed

[2016-07-06 21:11] ChrisCraik commented on #2364
What's the indented behavior and usage of the CPU Usage track? Would anyone object to making it optional, or hidden by default in Android traces?

In short duration traces on Android, the new track takes up considerable vertical space, and seems mostly redundant with the scheduling / CPU tracks that tell you actual core usage. See for example the first sample trace in the dev server - "Android Sys

[2016-07-06 21:14] eakuefner commented on #2455
Unassigning myself, lowering to P2, and CCing folks who might have interest/expertise now that the disable is landing. What I don't get is, how it would have been possible for whatever Chrome change caused this issue to have passed the CQ in the first place. It doesn't look like there could be any responsible Catapult changes.

@Apeliotes @nedn @anniesullie

[2016-07-06 21:32] Alex319 commented on #2430
Done

[2016-07-06 21:32] #2430 closed

[2016-07-06 23:43] #2325 closed

[2016-07-07 00:37] nedn commented on #2455
Did this also fail on other Chromium CLs?

[2016-07-07 00:46] eakuefner commented on #2455
Yes. The Swarming output for the `mac_chromium_10.10_rel_ng` bot is not really readable but you can see builds on [`linux_chromium_rel_ng`](https://build.chromium.org/p/tryserver.chromium.linux/builders/linux_chromium_rel_ng) which have this same failure but are unrelated to Catapult. It might be worth filing a crbug for this.

[2016-07-07 01:24] nedn commented on #2455
Thanks. Can you file a crbug for the crash?

[2016-07-07 02:14] kenrussell commented on #2455
Just noticed this bug and filed http://crbug.com/626203 about it.

[2016-07-07 02:20] kenrussell opened #2456 "Catapult rolls failing due to timeouts of telemetry_unittests on Windows"
The last 4 attempted Catapult rolls have failed because telemetry_unittests is timing out on win_chromium_rel_ng and win_chromium_x64_rel_ng. Links to the failed rolls:

https://codereview.chromium.org/2122323002
https://codereview.chromium.org/2127703005
https://codereview.chromium.org/2124123002
https://codereview.chromium.org/2128153002

The cause is probably https://chromium.googlesource.com/e

[2016-07-07 02:22] kenrussell commented on #2456
Attempting a revert in https://codereview.chromium.org/2121403003/ .

[2016-07-07 11:19] perezju commented on #2294
This is done. The final implementation is:

* Benchmarks by default tear down the state between page set repeats; this is what most users expect and yields more repeatable/deterministic results.
* Benchmark authors can, if really needed, switch to the alternative behavior to keep the browser open for longer periods of time, helping to catch leaks, etc.

These are now documented in [telemetry.bench

[2016-07-07 11:19] #2294 closed

[2016-07-07 13:50] natorion opened #2457 "No alert raised in benchmark "ChromiumPerf/chromium-rel-win7-x64-dual/speedometer/Total""
There was no alert raised in the mentioned benchmark: https://chromeperf.appspot.com/report?sid=bff61233fabaf775e35820a9b17937ebeb85e5cc99dcbc4d966553c187732a02&start_rev=395448&end_rev=404101. I would have expected an alert around revision 402379. I couldn't create an alert via debug alert either.

Debug alert: https://chromeperf.appspot.com/debug_alert?test_path=ChromiumPerf%2Fchromium-rel-win7-

[2016-07-07 16:00] zeptonaut opened #2458 "V8 version for vinn on Windows should be updated"
It's stuck at 4.8.271.20, whereas Linux and Mac are both up to 5.1.281.59. This is preventing me from submitting https://codereview.chromium.org/2129533003/, which takes advantage of ES2015 destructuring:

[code]

[2016-07-07 16:55] petrcermak commented on #2422
I'm closing this issue. Please let me know if you have any further questions.

[2016-07-07 16:55] #2422 closed

[2016-07-07 17:25] eakuefner commented on #2456
Thank you @kenrussell!

[2016-07-07 17:25] eakuefner commented on #2456
Roll went green, closing this bug.

[2016-07-07 17:25] #2456 closed

[2016-07-07 17:27] eakuefner commented on #2455
Thanks @kenrussell -- we'll continue to use this bug to track reenabling the test.

[2016-07-07 19:10] zeptonaut commented on #2458
/cc @nedn

[2016-07-07 19:40] zeptonaut opened #2459 "Separate out clockSyncLatencyMetric and powerMetric"
Now that it's possible to specify multiple metrics in a given benchmark, we should separate out the clock sync latency metric from the power metric and specify that we want both from our energy benchmarks.

@Alex319, can you take this on?

[2016-07-07 19:42] zeptonaut opened #2460 "clockSyncLatencyBenchmark should report all lower case metric names"
Right now, the metrics all start with lower case but have upper case clock domains (e.g. `clock_sync_latency_CHROME`. We should make them all lower case to match the other metrics.

@Alex319, can you take this on?

[2016-07-07 20:52] nedn commented on #2458
Thanks. Can you fix the update script too? I was trying to update it on windows but script fails due to some reason.

[2016-07-07 21:32] zeptonaut opened #2461 "update_v8 script doesn't work on Windows due to move of gyp_v8 file"
I have a fix working locally, but don't have time to spare ATM to submit it. Filing this bug as a reminder to myself to do so.

[2016-07-08 00:08] paulirish commented on #2428
Here's a trace from desktop that triggers the screenshot above:  https://dl.dropboxusercontent.com/u/39519/rm-someday/trace_scrolling-on-paulirish_dot_com.json.gz

[2016-07-08 03:46] #2458 closed

[2016-07-08 03:46] nedn commented on #2320
The last windows is done by @zeptonaut in https://github.com/catapult-project/catapult/issues/2458

[2016-07-08 03:46] #2320 closed

[2016-07-08 03:48] nedn commented on #2451
sgtm

[2016-07-08 09:50] #2451 closed

[2016-07-08 13:04] zeptonaut commented on #2458
Yep! Will do. I have a fix working on my Windows computer, but I didn't have time to submit it yesterday before leaving. I'm tracking it in #2461.

[2016-07-08 13:04] zeptonaut commented on #2461
/cc @nedn

[2016-07-08 16:54] #2425 closed

[2016-07-08 16:55] zeptonaut commented on #2321
Going to close this: we've fixed all problems related to this.

[2016-07-08 16:55] #2321 closed

[2016-07-11 12:53] ehanley324 opened #2462 "--disable-cloud-storage-io flag in telemetry unittests doesn't work as expected"
In the code it appears that the code to fetch from cloud storage gets invoked before the environment variable DISABLE_CLOUD_STORAGE_IO is set to 1 and therefore has no affect.

https://cs.corp.google.com/github/catapult-project/catapult/telemetry/telemetry/testing/run_tests.py?l=136

is where we fetch the dependencies, and

https://cs.corp.google.com/github/catapult-project/catapult/telemetry/tele

[2016-07-11 13:12] ehanley324 commented on #2462
@Apeliotes @nedn

[2016-07-11 13:30] ehanley324 commented on #2462
Ok I misunderstood the meaning of this flag and what it was supposed to achieve.  It doesn't have any affect on the binaries for the browser that we fetch, it only guarantees that the tests that are run in parallel don't do any network io.  I was trying to use the flag to trigger an error in the test setup for a missing dependency for the bitmaptools binary and that isn't possible with this flag.

[2016-07-11 13:30] #2462 closed

[2016-07-11 14:59] anniesullie commented on #2457
The problem here is that it's an increase over many revisions. If you remove the 'max_window_size' from the V8-speedometer configuration, it does detect the alert:

https://chromeperf.appspot.com/debug_alert?test_path=ChromiumPerf%2Fchromium-rel-win7-x64-dual%2Fspeedometer%2FTotal&rev=+402379&num_before=1000&num_after=1000&config=%7B%0D%0A++%22min_relative_change%22%3A+0.029999999999999999%2C+%0D%

[2016-07-11 15:23] anniesullie commented on #2454
@ehanley324

[2016-07-11 15:26] anniesullie commented on #2453
This is a dupe of #2272.

[2016-07-11 15:26] #2453 closed

[2016-07-11 15:28] anniesullie commented on #2452
@Apeliotes

[2016-07-11 17:57] anniesullie opened #2463 "Perf dashboard should only label bugs from main rotation as `Performance-Sheriff`"
Currently, the perf dashboard applies the label `Performance-Sheriff` to bugs from all perf sheriffing rotations. Then the Chromium Perf Sheriff triages all these. But they often don't have the context to triage the ones that don't come from their rotation.

We should only label bugs in monorail `Performance-Sheriff` if they come from the main Chromium perf sheriff rotation. Any objections? @rscho

[2016-07-11 21:00] eakuefner opened #2464 "StartBisectJob tests failing flakily on Mac."
We're getting StartBisectJob tests that seem to fail flakily on the Catapult CQ; it's not the same test every time but they do appear to be related to interaction with the Monorail API in the code, which I think is maybe inadequately mocked. Here are a couple example stack traces; see https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Mac%20Tryserver?numbuilds=100 for more:

[2016-07-11 21:04] anniesullie commented on #2464
I'll take a look at this, it could be related to my recent CL https://codereview.chromium.org/2140703002/

[2016-07-11 21:13] eakuefner commented on #2464
Thanks Annie! It does look like the tests might have started flaking out on patchset 1 of your CL.

[2016-07-11 21:14] anniesullie commented on #2464
Wow, putting an `assert False` in the codepaths that should never be called finds 14 places missing mocks. Working on a fix now.

[2016-07-11 21:30] anniesullie commented on #2464
https://codereview.chromium.org/2134383002 should fix this.

[2016-07-12 11:00] petrcermak commented on #2421
This is __done__ :white_check_mark:

[2016-07-12 11:00] #2421 closed

[2016-07-12 13:31] anniesullie commented on #2464
There was a second fix needed: https://codereview.chromium.org/2141983002/ should finish off the flakiness.

[2016-07-12 15:47] chiniforooshan commented on #2327
This is abandoned for now.
The not-submitted patch: https://codereview.chromium.org/1970753002/

[2016-07-12 15:47] #2327 closed

[2016-07-12 15:51] chiniforooshan commented on #1835
This is done.

[2016-07-12 15:51] #1835 closed

[2016-07-12 15:52] chiniforooshan commented on #1834
We are going to use async events to track a resource request life cycle, not objects. More details can be found here: https://docs.google.com/a/google.com/document/d/1s0DKjNJk85hDuRp5IqujwZvPML-MPsyAtDeksMwBw7s/edit?usp=sharing

[2016-07-12 15:52] #1834 closed

[2016-07-12 15:56] chiniforooshan commented on #1725
My original goal was to build a dependency graph and have the connection between netlog async slices and render-side resource requests in the dependency graph. We have abandoned that plan in favour of Net Instrumentation V2: https://docs.google.com/document/d/1s0DKjNJk85hDuRp5IqujwZvPML-MPsyAtDeksMwBw7s/edit?ts=577ff544#heading=h.8rp0govnm1lf

I'll create new issues for Net Instrumentation V2.

[2016-07-12 15:56] #1725 closed

[2016-07-12 15:57] chiniforooshan commented on #1723
Please see the last comment on #1725. Will create new issues for Net Instrumentation V2.

[2016-07-12 15:57] #1723 closed

[2016-07-12 15:59] chiniforooshan commented on #1722
Going to replace these with async slices that show the life cycle of a resource request with timing information: https://docs.google.com/document/d/1s0DKjNJk85hDuRp5IqujwZvPML-MPsyAtDeksMwBw7s/edit?ts=577ff544#heading=h.8rp0govnm1lf

[2016-07-12 15:59] #1722 closed

[2016-07-12 16:09] chiniforooshan opened #2465 "Mechanism to Link IDs Automatically"
Providing a mechanism to tell trace consumers that two IDs, potentially from different processes, are actually identical is handy when we would like to track an object that has different IDs in different subsystems.

More details and context: https://docs.google.com/a/google.com/document/d/1s0DKjNJk85hDuRp5IqujwZvPML-MPsyAtDeksMwBw7s/edit?usp=sharing

@caseq @deepanjanroy

[2016-07-12 18:10] zeptonaut opened #2466 "Pressing '?' multiple times brings up multiple hotkey help dialogs"
The expected behavior is to toggle the hotkey help dialog.

[2016-07-12 18:31] nedn opened #2467 "Revive update_docs.py to generate Catapult and Telemetry PyDoc."
From @dave-2

[2016-07-12 19:03] anniesullie commented on #2464
This is now **fixed**.

[2016-07-12 19:03] #2464 closed

[2016-07-12 19:24] nedn opened #2468 "When merged value is None, the none value reason should show all the values that caused the merged to be None"
Example: https://bugs.chromium.org/p/chromium/issues/detail?id=521711#c5

This would make it easier for people to diagnose why the summarized value is None.

[2016-07-12 19:37] #2461 closed

[2016-07-12 19:39] zeptonaut commented on #2410
This turned out to be because the BattOr had debug firmware installed on it, which caused it to oscillate between negative and positive power samples. When the power samples went negative, the clock sync marker on that line was ignored, resulting in a clock sync error.

This problem was fixed with #2425.

[2016-07-12 19:39] #2410 closed

[2016-07-12 19:40] zeptonaut commented on #1606
Actually, leaving this issue open: I still need to move ETW to use the new clock sync marker format.

[2016-07-12 19:45] zeptonaut opened #2469 "Hovering over analysis link for "frame" in the alert sub view causes an error in the Javascript console"
The JS error is:

[code]

[2016-07-12 19:56] anniesullie commented on #2402
@eakuefner do you still have your load test up? Does this file work with it? If so, let's close this bug.

[2016-07-12 20:14] anniesullie commented on #2332
This is **fixed**.

[2016-07-12 20:14] #2332 closed

[2016-07-12 20:21] anniesullie commented on #2319
Ethan, this is something to consider as you think about migrating dashboard towards tbm2

[2016-07-12 20:37] anniesullie commented on #2201
This is fixed.

[2016-07-12 20:37] #2201 closed

[2016-07-12 20:41] anniesullie commented on #2175
I'm going to dupe this against #2271

[2016-07-12 20:41] #2175 closed

[2016-07-12 20:41] #2161 closed

[2016-07-12 20:44] #2144 closed

[2016-07-12 20:47] anniesullie commented on #2133
This seems to have been some kind of transient issue in app engine which was fixed.

[2016-07-12 20:47] #2133 closed

[2016-07-12 20:48] anniesullie commented on #2130
I'm going to close this since we'll likely open a new issue if this happens again.

[2016-07-12 20:48] #2130 closed

[2016-07-12 20:50] anniesullie commented on #2117
We'll probably end up doing something different here where we can share code with bisect.

[2016-07-12 20:50] #2117 closed

[2016-07-12 20:52] anniesullie commented on #2113
This is fixed now.

[2016-07-12 20:52] #2113 closed

[2016-07-12 20:53] #2110 closed

[2016-07-12 20:55] #2109 closed

[2016-07-12 20:57] anniesullie commented on #2074
Marking dupe.

[2016-07-12 20:57] #2074 closed

[2016-07-12 20:57] #2058 closed

[2016-07-12 21:02] #2040 closed

[2016-07-12 21:03] #2018 closed

[2016-07-12 21:03] #1974 closed

[2016-07-12 21:21] anniesullie commented on #1966
Any update on this?

[2016-07-12 21:22] #1917 closed

[2016-07-12 21:24] #1905 closed

[2016-07-12 21:25] #1898 closed

[2016-07-12 21:25] #1892 closed

[2016-07-12 21:26] #1871 closed

[2016-07-12 21:27] #1864 closed

[2016-07-12 21:30] anniesullie commented on #1853
The link to the build is already there.

[2016-07-12 21:30] #1853 closed

[2016-07-12 21:31] #1849 closed

[2016-07-12 21:33] anniesullie commented on #1839
I think we want the benchmark name to be consistent between telemetry and perf dashboard, so WontFix-ing.

[2016-07-12 21:33] #1839 closed

[2016-07-12 21:36] anniesullie commented on #1829
Haven't seen this lately, hopefully we'll open a new bug with some debugging info if this happens again.

[2016-07-12 21:36] #1829 closed

[2016-07-12 21:37] anniesullie commented on #1825
We actually don't want the recipe to need to do any configuration, the test should be run with default args.

[2016-07-12 21:37] #1825 closed

[2016-07-12 21:37] anniesullie commented on #1803
@eakuefner

[2016-07-12 21:42] anniesullie commented on #1799
This is already in the chart_json, and it used to be pushed to the test and the UI but seems to have broken :/

[2016-07-12 21:56] anniesullie commented on #1768
I think this should be done with labels.

[2016-07-12 21:56] #1768 closed

[2016-07-12 21:57] anniesullie commented on #1760
We're going to close this for now; may revisit in a new bug about code-sharing with trace-viewer.

[2016-07-12 21:57] #1760 closed

[2016-07-12 21:58] anniesullie commented on #1726
@dave-2 is this bug still accurate? Any thoughts on the broader problem of these types of checks everywhere?

[2016-07-12 21:58] #1712 closed

[2016-07-12 21:59] anniesullie commented on #1701
This is done.

[2016-07-12 21:59] #1701 closed

[2016-07-12 22:00] #1693 closed

[2016-07-12 22:01] qyearsley commented on #1701
Good work on this one, by the way!

[2016-07-12 22:03] #1683 closed

[2016-07-12 22:32] benshayden commented on #2469
Looks like brushing_state requires analysis-links to contain EventSets, or at least something that implements equals(). Maybe that restriction should be documented and supported by tr.v.Value, or else relaxed?

[2016-07-12 22:44] zeptonaut opened #2470 "Can't click "Metrics" side panel tab"
When I try to click on my latest `polymer10-migration` branch, it keeps selecting the "Alerts" tab instead.

[2016-07-12 22:47] #2468 closed

[2016-07-13 00:28] zeptonaut commented on #2469
I think generally everything that accepts a `selection` expects an EventSet, so I think it's probably okay not to relax the restriction. I do think that you're right that we may want to document it, though.

[2016-07-13 00:29] zeptonaut commented on #2469
It actually looks like the current documentation is just straight up wrong WRT this:

[code]

That sure doesn't seem right.

[2016-07-13 00:44] zeptonaut opened #2471 "Metrics side panel gives error for non-Chromium traces"
I came across this one while looking for problems with the `polymer10-migration` branch, but a quick check shows that it exists on `master`, too.

Steps to reproduce:

1. Start up a local dev server and load up `android_systrace.html`.
2. Open up the Metrics side panel.

**Expected:** The Metrics side panel pops up for the Android trace. Alternately, the Metrics side panel isn't shown for the Andr

[2016-07-13 01:17] #2470 closed

[2016-07-13 01:17] #2466 closed

[2016-07-13 05:04] benshayden commented on #2469
Well, yes and no. Mostly yes. But also sort of no.
https://codereview.chromium.org/2143293002
analysis-link should be more forthright about its relationship with
BrushingStateController.

On Tue, Jul 12, 2016 at 5:29 PM Charlie Andrews <notifications@github.com>
wrote:

[2016-07-13 11:24] petrcermak commented on #2416
After further investigation, I have found that this is due to __maximum canvas size in Chrome__. That's why this issue happens mostly on Macs with Retina displays because Trace Viewer increases the size of the timeline track view canvas to get better-looking UI:

<tt>canvas.height _(number of virtual dots on the canvas)_ = canvas.style.height _(displayed size of the canvas)_ × window.devicePixelRa

[2016-07-13 15:17] petrcermak opened #2472 "Feature request: Record systrace in TBMv2 benchmarks"
_[on behalf of @rmcilroy]_

It is possible to get systrace in **non-TBM** benchmarks by adding the <tt>--profiler=android-systrace</tt> flag, e.g.:

[code]

However, this is not possible in **TBMv2**, e.g.:

[code]

The command above gives the following assertion error:

[code]

It would be great to be able to use other profilers (such as systrace) once TBMv2 is the standard way of running benchma

[2016-07-13 15:18] nedn commented on #2416
"Draw each track on a separate canvas" seems like the right solution to me. For the short term fix, I think it's not too bad since one can just use sed to update that (window.devicePixelRatio || 1) code to some common function then edit that function to do the right thing?

[2016-07-13 15:21] nedn commented on #2416
Actually, do most of the canvas drawing logic happens in https://cs.chromium.org/chromium/src/third_party/catapult/tracing/tracing/ui/base/draw_helpers.html ? If so, we can add size check there?

[2016-07-13 15:21] eakuefner commented on #2472
I thought we had deprecated the profiler architecture because the logic was it should be possible to get these from traces, and the profiler architecture was always brittle.

@nedn

[2016-07-13 15:23] nedn commented on #2472
You don't need profiler for this. In your tbm_options configuration, just set enable_atrace_trace = True (https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/timeline/tracing_config.py#L38)

[2016-07-13 15:23] zeptonaut opened #2473 "Single flow event sub view needs to be migrated to Polymer 1.0"

[2016-07-13 15:25] petrcermak commented on #2416
That is only for the basic objects (e.g. slices). Many tracks do their own drawing: https://cs.chromium.org/search/?q=file:src/third_party/catapult+devicePixelRatio+-file:test+file:track. I think that the first step is to replace <tt>(window.devicePixelRatio || 1)</tt> with <tt>this.pixelRatio</tt> (new getter) in all tracks.

[2016-07-13 15:27] petrcermak commented on #2472
Would the systrace then be saved locally so that it could be inspected? Could we provide a command-line <tt>run_benchmark</tt> flag for this (so that it's not necessary to modify the benchmark config)?

[2016-07-13 15:30] nedn commented on #2472
Petr, I just updated my comment above to mention that the trace that are produced will be a combined trace of chrome + systrace. To have the extra command-line option, we can modify the signature benchmark.CreateTimelineBasedMeasurementOptions() to benchmark.CreateTimelineBasedMeasurementOptions(options) & people can customize their flag with benchmark.AddBenchmarkCommandLineArgs

[2016-07-13 15:35] petrcermak commented on #2472
So that would have to be done on a per-benchmark basis, right?

My first question still stands (@rmcilroy's use case): If you do this, can you inspect the systrace (or is it deleted after the benchmark finishes)?

[2016-07-13 15:43] nedn commented on #2472
If you run telemetry benchmark --output-format=json you will get the traces after benchmark finishes.
I used to output all the traces file telemetry produced by default but chrome os folks complain about it piling up their disk spaces, hence this silly hack :-(
(https://bugs.chromium.org/p/chromium/issues/detail?id=435284)

I think we can now reconsider always output telemetry trace files in some

[2016-07-13 15:49] petrcermak commented on #2472
I think that's fine (appending <tt>--output-format=json</tt>).

Regarding enabling systrace: It seems like something it would be _generally_ useful to get a systrace from an _arbitrary_ benchmark. Hence, I think we should provide a generic way to set <tt>enable_atrace_trace = True</tt> via a command-line flag.

[2016-07-13 15:54] zeptonaut commented on #2416
I definitely don't claim to be an expert on this, but my vote is for cropping the canvas to the visible area only. It seems like drawing flow events that span multiple canvases is going to be a nightmare.

[2016-07-13 15:56] nedn commented on #2472
Petr, mixing commandline flag logic with code logic is very hard to get right for all use cases. If the code specify enable_atrace_trace = True & commandline flag set --enable-systrace, what should be behavior?

In general, I prefer each clients be responsible for specifying how their commandline flag interacts with their configuration done in code, rather than handling this logic from core teleme

[2016-07-13 15:58] nedn commented on #2416
Oh, you're right that we have ui items that go across tracks. Can we draw the flow events using some short of overlay?

[2016-07-13 16:09] petrcermak commented on #2472
OK, that makes sense. Thanks for the explanation :blush:

[2016-07-13 16:09] #2472 closed

[2016-07-13 16:13] petrcermak commented on #2472
So to sum up, in order to get a systrace from a particular benchmark:

1. Set <tt>options.enable_atrace_trace = True</tt> in the benchmark's <tt>CreateTimelineBasedMeasurementOptions</tt> method and
2. Run the benchmark with <tt>--output-format=json</tt>.

[2016-07-13 16:30] petrcermak opened #2474 "Cannot triage a large number of alerts simultaneously on dashboard (chart page)"
I'm currently dealing with a large number (261) of alerts which I would like to assign to the same bug:

![screenshot from 2016-07-13 17 27 21](https://cloud.githubusercontent.com/assets/2546601/16811191/226baa90-491f-11e6-95c6-6d736174e409.png)

However, ticking the relevant checkbox leads to the UI try to display charts for every single alert, which causes the page to freeze. Consequently, I hav

[2016-07-13 17:23] rmcilroy commented on #2472
Ok, that works for my current use-case, thanks for the info.

What about the other profiler options (perf, vtune, etc). Is there a plan to support them in the v2 world?

[2016-07-13 17:26] nedn commented on #2472
@wangzhen127 has a long term plan for this.

[2016-07-13 17:31] wangzhen127 commented on #2472
@peterwashington is working on merging adb_profile_chrome and Systrace. Once that's done, we could start to support other profiler options in the way atrace is don right now.

[2016-07-13 17:32] #1967 closed

[2016-07-13 18:25] ulan opened #2475 "Pinch action with scale factor < 1.0 crashes on Android"
Pinch action with scale factor < 1.0 crashes on Android

Steps to reproduce:

1. Apply https://codereview.chromium.org/2144043002

2. ./telemetry/bin/run_tests testPinchWithSmallScaleFactor --browser=reference --device=android

3. Chrome will crash with
[FATAL:synthetic_gesture_target_base.cc(62)] Check failed:
web_touch.touches[i].state != WebTouchPoint::StatePressed ||
PointIsWithinContents(web_

[2016-07-13 18:35] zeptonaut commented on #2460
I just looked on the perf dashboard and confirmed that the new data is showing up with the expected name. ([link](https://chromeperf.appspot.com/report?sid=df452fe182108f66f963990b115c0c8482d74d56da82db056532b2db29ece938)) Thanks for doing this Alex!

Now that the new data has the right name, I did two migrations on the perf dashboard that should rename all past data to match the new naming scheme

[2016-07-13 18:35] #2460 closed

[2016-07-13 18:36] #2459 closed

[2016-07-13 19:55] zeptonaut commented on #2416
The problem I see with that is that the overlay couldn't be drawn using canvas: otherwise, it'd still run into the same problems if the track height got too big.

[2016-07-13 20:33] zeptonaut commented on #2236
Closing this.

[2016-07-13 20:33] #2236 closed

[2016-07-13 20:33] zeptonaut commented on #1992
Closing this, unless someone objects.

[2016-07-13 20:33] #1992 closed

[2016-07-13 20:34] zeptonaut commented on #856
Closing this (it's complete now).

[2016-07-13 20:34] #856 closed

[2016-07-13 21:26] benshayden commented on #2428
Thanks! Yes, my change does fix responsivenessMetric. I'll submit it as soon as I get an lgtm, and fix any issues later.

[2016-07-13 21:31] surma commented on #2428
awesomesauce! Thanks a lot, @benshayden 👍

[2016-07-14 09:53] petrcermak commented on #2416
@zeptonaut: That's not true. Canvas supports transparency ([source code](https://drive.google.com/open?id=0B8hP4MS3oRlpalpnV0N0dmFTQlE)):

![screenshot from 2016-07-14 10 42 16](https://cloud.githubusercontent.com/assets/2546601/16835281/e4c77142-49af-11e6-9358-d8d0d61a394c.png)

I'm worried that _cropping_ the canvas (and redrawing upon vertical scroll) will make the UI super-janky.

As for the g

[2016-07-14 13:14] anniesullie commented on #1674
There are basic instantiation tests now.

[2016-07-14 13:14] #1674 closed

[2016-07-14 13:14] anniesullie commented on #1673
Closing this since we're doing this gradually.

[2016-07-14 13:14] #1673 closed

[2016-07-14 13:15] #1656 closed

[2016-07-14 13:17] #1619 closed

[2016-07-14 13:18] anniesullie commented on #1614
This endpoint was removed.

[2016-07-14 13:18] #1614 closed

[2016-07-14 13:18] #1613 closed

[2016-07-14 13:21] #2473 closed

[2016-07-14 13:27] anniesullie commented on #1601
@eakuefner is this fixed?

[2016-07-14 13:28] #1597 closed

[2016-07-14 13:31] anniesullie commented on #1575
Duping against #1787

[2016-07-14 13:31] #1575 closed

[2016-07-14 13:32] #1566 closed

[2016-07-14 13:45] anniesullie commented on #1441
These have been working for me.

[2016-07-14 13:45] #1441 closed

[2016-07-14 13:47] #1439 closed

[2016-07-14 13:47] anniesullie commented on #1438
Haven't seen anything here in a long time.

[2016-07-14 13:47] #1438 closed

[2016-07-14 13:48] anniesullie commented on #1436
I think we've gotten this to a good point, may re-open if we get further requests to generalize the dashboard for other use cases.

[2016-07-14 13:48] #1436 closed

[2016-07-14 13:48] anniesullie commented on #1435
This is fixed.

[2016-07-14 13:48] #1435 closed

[2016-07-14 13:51] anniesullie commented on #1419
We'll probably take a different approach based on tbmv2 if we do this, so closing for now.

[2016-07-14 13:51] #1419 closed

[2016-07-14 13:52] anniesullie commented on #1418
This is super old, n4 doesn't exist anymore

[2016-07-14 13:52] #1418 closed

[2016-07-14 13:54] anniesullie commented on #1417
I think we'll end up doing something more like per-page alerting here.

[2016-07-14 13:54] #1417 closed

[2016-07-14 13:56] zeptonaut commented on #2416
IMO the ideal world is the one that we're in right now: everything is drawn on one big canvas, and it's easy to say "I want to point to this slice at <X, Y>", and everyone has the same understanding of X and Y.

However, it sounds like our time in that world is limited for technical reasons. I think that you're probably right that rendering everything on one canvas and implementing scrolling ourse

[2016-07-14 13:57] #1409 closed

[2016-07-14 14:02] #1406 closed

[2016-07-14 14:02] #1405 closed

[2016-07-14 14:03] #1404 closed

[2016-07-14 14:04] #1402 closed

[2016-07-14 14:04] anniesullie commented on #1401
@dave-2 should we still do this?

[2016-07-14 14:05] #1389 closed

[2016-07-14 14:06] #1388 closed

[2016-07-14 14:06] anniesullie commented on #1387
Duping this against #2187

[2016-07-14 14:06] #1387 closed

[2016-07-14 14:07] #1385 closed

[2016-07-14 14:09] #1379 closed

[2016-07-14 14:10] #1376 closed

[2016-07-14 14:11] anniesullie commented on #1375
I'm closing this but will consider a mini leaderboard in the sheriff mail that gets sent out.

[2016-07-14 14:11] #1375 closed

[2016-07-14 14:12] anniesullie commented on #1373
I think this is fixed now.

[2016-07-14 14:12] #1373 closed

[2016-07-14 14:13] anniesullie commented on #1362
This is fixed now.

[2016-07-14 14:13] #1362 closed

[2016-07-14 14:15] anniesullie commented on #1357
New points are showing stdio links.

[2016-07-14 14:15] #1357 closed

[2016-07-14 14:17] anniesullie commented on #1353
Closing as a dupe of #2270

[2016-07-14 14:17] #1353 closed

[2016-07-14 14:18] anniesullie commented on #1351
I fixed this in https://codereview.chromium.org/2085523002/

[2016-07-14 14:18] #1351 closed

[2016-07-14 14:18] nedn commented on #2475
Can you file a chromium bug for this instead since this will likely require a chromium CL?

[2016-07-14 14:18] anniesullie commented on #1350
This is fixed.

[2016-07-14 14:18] #1350 closed

[2016-07-14 14:19] anniesullie commented on #1348
Closing since we're doing larger-scale thinking about UI refactoring.

[2016-07-14 14:19] #1348 closed

[2016-07-14 14:20] anniesullie commented on #1347
I think we are pretty happy with backend test coverage.

[2016-07-14 14:20] #1347 closed

[2016-07-14 14:20] anniesullie commented on #1346
We are happy with backend test coverage, will add more tests as problems arise.

[2016-07-14 14:20] #1346 closed

[2016-07-14 14:22] anniesullie commented on #1345
I'm not seeing any 404s when loading alerts or group_report.

[2016-07-14 14:22] #1345 closed

[2016-07-14 14:35] anniesullie commented on #1342
Duping against #2048

[2016-07-14 14:35] #1342 closed

[2016-07-14 14:36] #1341 closed

[2016-07-14 14:37] anniesullie commented on #1331
We'll re-open if this is requested.

[2016-07-14 14:37] #1331 closed

[2016-07-14 14:37] #1330 closed

[2016-07-14 14:37] anniesullie commented on #1329
This is fixed.

[2016-07-14 14:37] #1329 closed

[2016-07-14 14:38] #1316 closed

[2016-07-14 14:39] #1134 closed

[2016-07-14 14:49] nedn commented on #2471
Chatted offline, we agree that it's ok to show stack trace in the log. We just need to make it super clear that it's a non-fatal thing.
Reassign to @zeptonaut since he already has a CL.

[2016-07-14 15:13] anniesullie opened #2476 "Dashboard reporting of failed bisects doesn't work"
Many of the bisects in these bugs appear to have failed when I click through to the buildbucket_job_status page:

https://chromeperf.appspot.com/group_report?bug_id=627867
https://chromeperf.appspot.com/group_report?bug_id=627086
https://chromeperf.appspot.com/group_report?bug_id=625274

But the quicklog doesn't show any sign of the failure. And it looks like https://codereview.chromium.org/214517

[2016-07-14 16:55] benshayden commented on #2405
Basic IterationInfos are recorded, so I'm redesignating this bug specifically for the bot-related fields required by dashboard and reassigning to @eakuefner .

[2016-07-14 16:55] #2304 closed

[2016-07-14 16:57] benshayden commented on #2181
We decided to make value-set-table use a fixed grouping key sequence, so we don't need grouping-table in value/ui/.

[2016-07-14 16:57] #2181 closed

[2016-07-14 17:01] benshayden commented on #1527
Looks like this is already done. histogram-span stops the item-mouse{down,move,up} events from propagating, and updatedBrushedRange_ dispatches brushed-bins-changed.

[2016-07-14 17:01] #1527 closed

[2016-07-14 17:05] benshayden commented on #2354
There's been some more thought on this when I implemented NumericValue.merge() and NumericBase.merge(). See those methods.

I noticed that lots of places in tracing/ui/ use ScalarNumerics as a simple unitted number, so, even though Numeric's summary ScalarNumerics will disappear when Numerics-everywhere happens, and we'll discourage metrics from producing ScalarNumerics (which are difficult to mer

[2016-07-14 17:05] #2354 closed

[2016-07-14 17:06] eakuefner commented on #2402
Let's close this bug and revisit it, using that file as an ultra-load-test, when we're ready to talk about scaling up even more using the existing infra.

[2016-07-14 17:06] #2402 closed

[2016-07-14 17:08] benshayden commented on #2094
The metrics-side-panel and results2.html is nearly MVP.
The next step is to add an Open button to trace-viewer as Nat describes in #1933 , then we can deprecate Ned's metric-debugger, so I'll close this in favor of #1933 if that's ok.

[2016-07-14 17:08] #2094 closed

[2016-07-14 17:46] eakuefner commented on #1601
Sort of. New traces are being uploaded to `telemetry-output` as of October 2015: https://codereview.chromium.org/1392973004 but we haven't copied the old traces over from `chromium-telemetry`. I think @Apeliotes's argument for not keeping the old traces in `chromium-telemetry` was just that they clutter that bucket, which is used for the day-to-day functioning of Telemetry (stores dependencies and

[2016-07-14 17:56] petrcermak opened #2477 "Analysis tab view assumes that every tab is associated with a different element"
__To reproduce:__

1. Open the memory_dumps.json test data file in Trace Viewer (http://localhost:8003/tracing_examples/trace_viewer.html#/tracing/test_data/memory_dumps.json).
2. Select _both_ global and process memory dumps on the timeline view (you might as well select everything):
![screenshot from 2016-07-14 18 51 39](https://cloud.githubusercontent.com/assets/2546601/16849804/1f2e353e-49f4-1

[2016-07-14 17:59] eakuefner opened #2478 "Change 'page' field in Value to 'story_name'"
This is a migration of crbug.com/492844 (manual because crbug-to-github is broken in light of Monorail). The original text from the bug is:

Note that since this bug was filed, we've started using `display_name`, which should be unique per-story in Telemetry (see #2429 for context) and acts exactly as described above without any extra coding., so Values should probably just contain `story_display_

[2016-07-14 18:16] nedn commented on #1601
TBH, I am not sure whether the old traces are still useful to many people :-)
Maybe we can just copy them all to telemetry-output and call it a day?

[2016-07-14 18:20] nedn commented on #2429
Any update on this?

[2016-07-14 19:26] randomascii opened #2479 "Stack dumps should include arguments"
While investigating crbug.com/625172 I had to spend about an hour reproducing the crash and then recovering the crash dump. If the call stacks printed by telemetry included arguments then I could, in theory, have diagnose the bug based purely on their information.

It would also be nice if there was an option to retain the crash dumps (I had to go through painful gymnastics to actually get the cra

[2016-07-14 19:28] randomascii commented on #2479
When using kb instead of k the first line of output changes slightly to include "Args to Child". That doesn't affect things - the stacks are still recorded and displayed correctly. Here is what the new header looks like:

 # ChildEBP RetAddr  Args to Child

[2016-07-14 19:31] #2471 closed

[2016-07-14 19:35] anniesullie commented on #2479
@nedn @ehanley324

[2016-07-14 19:38] zeptonaut commented on #2477
You're 100% right about why this is broken (and who broke it for that matter :grin:). Looking into how to fix it now.

[2016-07-14 19:45] nedn commented on #2479
@kenrussell wdyt?

[2016-07-14 20:22] kenrussell commented on #2479
Sure, sounds like a fine idea.

[2016-07-14 22:09] peterwashington opened #2480 "DDMS trace visualizer in adb_profile_chrome consistently fails"
Steps to reproduce the problem:
1. Run a DDMS trace with the following command: bin/adb_profile_chrome --browser chromium --categories='' -t 5 --ddms
2. The resulting HTML file that the trace is written to.
3. The trace viewer page will display the following error message: "Import Error: Slices must be added in increasing timestamp order"

Expected behavior:
The HTML file should display a visualiz

[2016-07-14 22:25] wangzhen127 commented on #2480
@zeptonaut Charlie, do you think this related to the clock sync work in Trace Viewer? I remember it was working before.

[2016-07-14 22:28] wangzhen127 commented on #2275
@Alex319 What's the current status of cleaning up the dependencies?

@peterwashington

[2016-07-14 22:29] #1607 closed

[2016-07-14 22:52] Alex319 commented on #2275
I believe that I got rid of the dependency of systrace on telemetry a long
time ago. I just checked and the dependency based on the
*atexit_with_log* function
does not appear to still be there. Are you still experiencing problems
related to this dependency?

-Alexander Mont

On Thu, Jul 14, 2016 at 3:28 PM, Zhen Wang <notifications@github.com> wrote:

[2016-07-14 22:58] wangzhen127 commented on #2275
Nice! We should probably remove the following line and update the comment?
https://cs.chromium.org/chromium/src/third_party/catapult/systrace/systrace/__init__.py?q=telemetry&l=29

[2016-07-15 00:35] randomascii commented on #2479
CL created but I'm not sure who to list as reviewer. https://codereview.chromium.org/2149323002

[2016-07-15 07:42] hujiaweibujidao opened #2481 "how to do performance analysis for android app with catapult?"
Hi, all.

I'm new here, and I find it awesome to do the performance analysis with catapult. But, after looking around, I am still confused how to do performance analysis for android app with catapult. I know how to generate the systrace file for android app, but how can I analyze this file with catapult?

Thanks.

[2016-07-15 08:23] petrcermak commented on #2477
@zeptonaut: Thanks a lot for the quick fix :blush:

[2016-07-15 08:23] #2477 closed

[2016-07-15 10:04] hujiaweibujidao commented on #2481
I just found catapult was right in Android SDK, now I know how.

Thanks for your wonderful work.

[2016-07-15 10:04] #2481 closed

[2016-07-15 13:32] zeptonaut commented on #2477
Thanks for the report!

[2016-07-15 14:00] zeptonaut commented on #2480
It sounds like it could definitely be related. I can try to find some time to look into this today, but I may not get to it until next week due to perf sherffing.

[2016-07-15 14:01] petrcermak opened #2482 "Perf Dashboard: Invalid "Bisect bot" options"
Chrome version: 51.0.2704.79 (Linux)
URL: https://chromeperf.appspot.com/group_report?bug_id=628270

When I try to bisect the chart (see the URL above), the "Bisect bot" dropdown is empty and the only available option is <tt>android\_**webview**\_aosp\_perf\_bisect</tt>, but the chart is from a __Mac__ bot:

![invalid_bisect_bot_options](https://cloud.githubusercontent.com/assets/2546601/16876713/

[2016-07-15 14:20] anniesullie commented on #2482
I agree the UX is terrible here, but this is a bit of an edge case:
* The bot in question is an FYI bot meant for power testing
* We have no bisect coverage of FYI bots
* The system health sheriffing patterns look for **all** masters, which includes FYI bots like this that aren't fully supported.

Should we change the sheriffing rotation to just look at masters that have bisects?

[2016-07-15 14:48] petrcermak commented on #2482
I think that would be reasonable. Without bisects, there's not much we can do :disappointed:

@primiano, @perezju: Any objections?

[2016-07-15 15:03] primiano commented on #2482
Nope. dropping FYI SGTM

[2016-07-15 15:05] petrcermak commented on #2482
@anniesullie: In that case, could you please __drop FYI bots__ from SH perf sheriffing? Thanks!

[2016-07-15 16:51] #2479 closed

[2016-07-15 16:51] anniesullie commented on #2482
Monitoring updated.

[2016-07-15 16:51] #2482 closed

[2016-07-15 17:06] randomascii opened #2483 "Should be an option to retain crash dumps, get full crash dumps"
While investigating crbug.com/625172 I had to reproduce the crash locally. This was easy. However I then spent about an hour figuring out how to grab the crash dump before it was deleted. I ended up hacking up telemetry/telemetry/core/exceptions.py to add time.sleep(1000) to the __str__ function of AppCrashException so that I would have time to find and copy the .dmp file.

Retaining the minidump

[2016-07-15 17:08] anniesullie commented on #2483
@nedn @ehanley324

[2016-07-15 17:44] nedn commented on #2483
There is a common theme of telemetry needs to keep big files that are useful later for people to look at. Those are trace files #2472 & crash dumps (this bug).

I propose the following mechanism to enabling telemetry keep these big files.
We add a --data-dir flag, when --data-dir flag is specified, telemetry will dump all files it can to that directory, probably organized by subfolders:
+ data_dir

[2016-07-15 20:03] kenrussell opened #2484 "Catch failures of setUpClass in browser_test_runner"
Per @nedn 's comment in https://bugs.chromium.org/p/chromium/issues/detail?id=628713#c7 , browser_test_runner should look for results._classSetupFailed, and report that all tests failed if that happened:

<pre>
python's unittest runner will set results._classSetupFailed to True (see " def _handleClassSetUp(self, test, result):" in https://svn.python.org/projects/stackless/trunk/Lib/unittest/suite.

[2016-07-15 20:17] nedn commented on #2484
I can take this.

[2016-07-15 20:30] rschoen commented on #2463
Historically we've just used negative search filters to the search filter for perf sheriffs. For example, right now go/triage-backlog has -component:Blink>WebRTC. But, those labels aren't always applied, so sometimes they make it into the queue.

I'm not opposed to only applying it to the main perf sheriff rotation, but I have no insight into whether that would break other teams' workflows. Do we

[2016-07-15 20:34] anniesullie commented on #2463
We don't have a list, but v8 and WebRTC are the active rotations. We can easily add in new rotations with https://codereview.chromium.org/2138843003/

[2016-07-15 20:37] rschoen commented on #2463
Got it. SGTM then.

[2016-07-15 20:53] quisquous opened #2485 "Perf Dashboard: Tracing doesn't seem to add traces"
Chrome version: 51.0.2704.106 (Linux)
URL: https://chromeperf.appspot.com/report?sid=74f6fb42f691bb1e6d024a7e742df324a23596684c089837448742004d9d3d3f&rev=401811

I clicked on the graph on the exclamation, hit the Trace button, and expected to have that trace be added to the exclamation point's dialog.  Other times I've clicked on graphs on the perf dashboard, I've been able to download traces.  Th

[2016-07-15 20:59] kenrussell commented on #2483
Sounds good -- this should be designed so it works with Swarming's mechanism for copying files off the test machine. That may be as simple as pointing this to a particular output directory; not sure. CC'ing @maruel .

[2016-07-15 21:03] kenrussell commented on #2484
Thanks.

[2016-07-15 21:24] anniesullie commented on #2485
tl;dr: your traces are at:
https://console.developers.google.com/m/cloudstorage/b/chrome-telemetry-output/o/profiler-file-id_4-2016-07-14_14-34-5672152.zip
https://console.developers.google.com/m/cloudstorage/b/chrome-telemetry-output/o/profiler-file-id_4-2016-07-14_14-38-3072645.zip

Long version:
I'm really sorry, the UI for the tracing features on the dashboard isn't great. It has two different

[2016-07-15 21:36] kenrussell opened #2486 "Figure out how to get stack traces of browser and any renderers if browser hangs during start"
In http://crbug.com/628765 , flaky failures to launch the browser are being observed in the Telemetry-based GPU tests. The frequency of the failures is distressingly high, and is seen on at least Mac and Linux, so it isn't a problem on just one particular operating system.

It would be really helpful if Telemetry could try to send a signal to the target process (on Linux and/or Mac, at least) whic

[2016-07-15 22:00] quisquous commented on #2485
Thanks for the help!

[2016-07-15 22:00] #2485 closed

[2016-07-15 23:41] nedn commented on #2486
Topic on Chromium-dev:
https://groups.google.com/a/chromium.org/forum/#!topic/chromium-dev/kx77ScDBYXk

[2016-07-15 23:46] nedn opened #2487 "Some third_party in telemetry are missing LICENSE files"
Those are:
flot:  MIT license
modulegraph: MIT license
png: MIT license
pyfakefs: Apache license

[2016-07-16 02:28] nedn opened #2488 "Deprecate exception_formatter.PrintFormattedException with python's built-in log.exception(msg)"

[2016-07-16 11:54] nedn commented on #2488
@kenrussell
FYI: @eakuefner @Apeliotes @dave-2 @perezju @petrcermak

[2016-07-16 12:50] olesalscheider opened #2489 "trace2html gives a blank page in firefox"
When I open the html file generated by trace2html in firefox it only displays a blank page.

Without "dom.webcomponents.enabled" I get "TypeError: document.registerElement is not a function". After enabling them, I get "ReferenceError: WebKitMutationObserver is not defined".

[2016-07-16 12:57] maruel commented on #2483
Yes, put the dump in the output directory, it'll be archived.

[2016-07-17 15:19] ankittripathi92 commented on #2478
Hi @eakuefner I would like to work on this issue. Can you please guide me further on what needs to be done ?

[2016-07-18 06:01] eakuefner commented on #2049
We're not doing this any more; we've deprecated this approach in favor of having everyone use the JS code for working with TBMv2.

[2016-07-18 06:01] #2049 closed

[2016-07-18 13:13] nedn opened #2490 "Running TBM 2benchmark with --results2 does not produce results2.html"
Run `./tools/perf/run_benchmark system_health.memory_desktop --browser=system --story-filter=9gag --results=html2` produce results.html version 1, not version 2.

[2016-07-18 13:40] anniesullie commented on #2489
@zeptonaut @Apeliotes does it just need the polymer polyfill?

[2016-07-18 13:53] nedn commented on #2056
@catleeball are you still working on this bug?

[2016-07-18 13:54] anniesullie commented on #2056
No, she's not.

[2016-07-18 14:29] natorion opened #2491 "Bisect jobs not finishing (but they are)"
Please have a look at https://chromeperf.appspot.com/group_report?bug_id=625653. There are four bisect jobs and only the last one created a comment in the associated bug.

The really odd thing is that all of the jobs are started. For the older ones I would expect that they are completed but timed out.

Looking at the status pages of all the runs (e.g.https://chromeperf.appspot.com/buildbucket_job_

[2016-07-18 14:35] natorion commented on #2457
Thanks. Just to clarify: When you talk about segment size in your second paragraph you mean max_window_size, right?

[2016-07-18 14:40] anniesullie commented on #2491
These bisects did fail. This is being investigated in #2476 and we're going to have an OKR around properly reporting the failures and reducing the failure rate. Closing this bug in favor of that one.

[2016-07-18 14:40] #2491 closed

[2016-07-18 14:43] anniesullie commented on #2457
I mean min_segment_size. See documentation here:
https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/find_change_points.py

[2016-07-18 14:45] nickie commented on #2491
I'm not sure this is similar to #2476.  The report of the bisect job shows on  [bug's dashboard](https://chromeperf.appspot.com/group_report?bug_id=625653) but it does not seem to be complete:

[code]

What happened between 402589 and 402616?

[2016-07-18 14:57] anniesullie commented on #2491
The problem is the same here and in #2476: the bisect job failed and the dashboard is not updating to show the failure in quicklog and in the bug. Here is what happened between 402589 and 402616:

From https://chromeperf.appspot.com/buildbucket_job_status/9006812169392045296:
`Status of the bisect job 9006812169392045296: COMPLETED, FAILURE`

And going to the linked bisect job:
https://build.chrom

[2016-07-18 16:45] petrcermak opened #2492 "Perf Dashboard: Blank graph"
Chrome version: 51.0.2704.79 (Linux)
URL: https://chromeperf.appspot.com/report?sid=b77f7b9429b7d9ace31b4a670364a832d01a14504b29241bf5cdd65e197647f1&rev=405370

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):
[code]

Please describe the problem:

There's __no chart__ on the graph:

![screenshot from 2016-07-18 17 44 38](https://cloud.githubusercontent.com/assets/25

[2016-07-18 18:23] eakuefner commented on #2483
@nedn -- +1 to this -- we've been wondering about unified artifact handling for a long time. I think adding --data-dir is a good first step because then we can migrate the various data producers in Telemetry to output to that directory.

[2016-07-18 20:22] eakuefner commented on #2478
Hey @ankittripathi92 -- if you want to get started on this, you should rename the `page` field in `Value` to `story_display_name` and update all the references to deal with story display names rather than `Story` instances.

To learn how to make a changelist and upload it, check out the [contributors' guide](https://github.com/catapult-project/catapult/blob/master/CONTRIBUTING.md)

[2016-07-18 20:37] eakuefner commented on #2412
@ro-berto

[2016-07-18 23:14] #2484 closed

[2016-07-19 00:39] natduca commented on #2416
Maybe we should just collapse all the process tracks and if needed add an info bar to explain what we did. Could probably do it in the timeline_view.html model setter, for instance. That'll fix it mostly, and then people can complain about the bad ux...

The proper fix is unfortunately I think rewriting the timeline track view. I think there's a bug for that assigned to me, #1780

[2016-07-19 00:43] randomascii commented on #2416
As an aside (also a hack that would temporarily address this problem I think), I wish that processes started out being collapsed because having them expanded by default makes the UI clunky when there are a lot of tabs. I think it would be easier to expand the couple of processes of interest rather than (as I do now) collapse the many processes that I'm not interested in.

And it sounds like a side

[2016-07-19 09:56] petrcermak commented on #2446
This is __blocking__ https://codereview.chromium.org/2106133002/, which in turn is __blocking__ [deprecating & removing the TBMv1 memory metric](https://bugs.chromium.org/p/chromium/issues/detail?id=621037).

[2016-07-19 10:03] nedn commented on #2446
@zeptonaut @Alex319 Ben is out. Can any of you take this bug?

[2016-07-19 10:26] petrcermak commented on #2416
This is not the first someone mentions they wish (some) tracks started collapsed.

Another option is to __crop__ the canvas if it would go over the limit and show an __info bar__ at the top saying something like _"Too many tracks to draw. Please collapse top tracks to see the ones at the bottom."_. This should actually be very easy to implement as the logic for track drawing wouldn't need to be mo

[2016-07-19 14:01] nedn opened #2493 "Make tracing/bin/run_metric produces results-2.html"
Make tracing/bin/run_metric produces results-2.html by default & tbm json with extra flag. This is useful for writing report.

[2016-07-19 14:01] nedn commented on #2493
@eakuefner

[2016-07-19 15:04] nedn opened #2494 "Land script that allows updating template of html trace files"
The use case is when you have a list of html traces & they want to update the tracing metrics computation. The html portion of these html trace files should also be updated to reflect the changes.

https://codereview.chromium.org/2058413004/diff/260001/tracing/bin/update_html need to be polished & landed.

[2016-07-19 15:35] natduca commented on #2416
I'd be fine with that.

[2016-07-19 15:38] zeptonaut commented on #2416
That also seems like a reasonable solution to me. It seems it makes sense to fix this problem with as little effort as possible given the relatively low # of users it actually affects at the moment.

[2016-07-19 15:39] zeptonaut commented on #2446
Ping @Alex319, who I know spent some time investigating how animations are working in the user model.

[2016-07-19 15:56] zeptonaut commented on #2489
Yea, it sounds like it needs the webcomponents polyfill. I think we currently use webcomponents-lite.js: I wonder if Polymer needs more than the lite version?

[2016-07-19 16:51] Alex319 commented on #2446
I will look into this.

[2016-07-19 17:03] peterwashington opened #2495 "Merge the HTML output format for the trace visualizers for systrace"
Merge the HTML output format for the trace visualizers for systrace
and profile_chrome by using a static HTML template. The code should be
refactored so that the outdated code in profile_chrome and
systrace are removed. profile_chrome should call the new output
generator that is located in systrace's codebase. Eventually, all of
profile_chrome will be merged into systrace. Both systrace and
profil

[2016-07-19 17:36] Alex319 commented on #2446
It looks like the animations in the user model only are getting things like in-page navigation (scrolling, pinching, etc) and CSS animations (and soon to include video playback). This benchmark does an animation through WebGL so it is not detected by any of the existing detectors.

[2016-07-19 17:44] nedn commented on #2446
WebGL is an important class of animation to cover.
@kenrussell can anyone on gpu team help Alex with detecting webgl based animation on tracing timeline?

[2016-07-19 20:06] kenrussell commented on #2446
@nedn @Alex319 I'd be happy to help or try to find someone else to do so. It would be most productive if we could have a real-time conversation since I don't know anything about these kinds of Telemetry benchmarks.

[2016-07-19 20:22] zeptonaut commented on #2446
Thanks @kenrussell. I went ahead and threw something on your calendar for tomorrow so that the three of us can talk.

[2016-07-20 01:39] zeptonaut opened #2496 "Checking a checkbox on a sheriff alert page with lots of alerts is very slow"

[2016-07-20 10:25] petrcermak opened #2497 "Vulcanized trace contains data with a singleton string list"
I've just come across a [trace from the perf dashboard](https://console.developers.google.com/m/cloudstorage/b/chrome-telemetry-output/o/trace-file-id_30-2016-07-05_21-59-14-7909.html) which, among others, contains the following  <tt>viewer-data</tt>:

[code]

which translates (base64 decode + ungzip + JSON parse) to the following:

[code]

I found this because it causes [<tt>tracing/bin/merge_tra

[2016-07-20 17:25] simonhatch opened #2498 "Alerts Page: Delta % values aren't colored."
Red/green

[2016-07-20 17:26] simonhatch opened #2499 "Alerts Page: "..." shows up after all values."
ie. android-nexus6...

[2016-07-20 17:28] simonhatch opened #2500 "Alerts Page: Delta % values aren't right justified."
Think they're left

[2016-07-20 17:29] simonhatch opened #2501 "Alerts Page: Incorrect arrow icon beside revision range."
It's not really an arrow at all

[2016-07-20 17:31] #2496 closed

[2016-07-20 17:57] zeptonaut commented on #2501
Taking this one on.

[2016-07-20 18:04] #2501 closed

[2016-07-20 18:09] zeptonaut commented on #2499
Grabbing this.

[2016-07-20 18:19] simonhatch opened #2502 "Bisect Dialog: "Graph out of date" text shown in front of bisect dialog"
"Graph out of date" text shown in front of bisect dialog

[2016-07-20 18:34] simonhatch opened #2503 "Alerts Page: Clicking to expand grouped revisions doesn't quite work."
Click a few times and the list expands, but first click never seems to work.

[2016-07-20 18:36] simonhatch opened #2504 "Alerts Page: Expanding group revisions aren't highlighted properly."
They should all be highlighted light blue, but the first one isn't. This is after you stop hovering with mouse.

[2016-07-20 18:39] simonhatch opened #2505 "Alerts Page: Highlighting of similar regressions is inverted."
Click on A and it should highlight similar regressions B C, instead everything except B C is yellow.

[2016-07-20 18:42] simonhatch opened #2506 "Alerts Page: Triage Menu is laid out incorrectly."
Ignore button is underneath "new bug".

[2016-07-20 18:44] simonhatch opened #2507 "Alerts Page: Triage Menu Close button does nothing."

[2016-07-20 18:45] simonhatch opened #2508 "Alerts Page: Triage Menu "Fix-Up" missing "Report Invalid Alert""
Seems to have an empty nudge() dropdown and "invalid" button.

[2016-07-20 18:46] zeptonaut commented on #2503
This is reproducible in the alerts page test > "webrtc-linux-large-tests". The first click only expands one item, but any following clicks expand all three.

[2016-07-20 18:48] chiniforooshan opened #2509 "Add the '=' phase to the public documentation"
After trace importer can parse events that link IDs together, we should change the [public doc](https://docs.google.com/document/d/1CvAClvFfyA5R-PhYUmn5OOQtYMH4h6I0nSsKchNAySU) and introduce the new event phase.

CC: @primiano
Blocked on: #2465

[2016-07-20 18:55] Apeliotes opened #2510 "Investigate why moving the open check from the dialog container to the chart tooltip fixes flickering"
https://codereview.chromium.org/2163683006 should have no functional change, but fixes the flickering that has been seen when the tooltip stays open. Investigate why that would happen.

[2016-07-20 18:58] petrcermak opened #2511 "Perf Dashboard: "std_dev" bisect mode ignored"
Chrome version: 51.0.2704.79 (Linux)
URL: https://chromeperf.appspot.com/group_report?bug_id=629113

![screenshot from 2016-07-20 19 43 22](https://cloud.githubusercontent.com/assets/2546601/16998733/a26037c8-4eb2-11e6-8fed-0fb7de79be00.png)

Reproduction steps:
  1. Go to https://chromeperf.appspot.com/group_report?bug_id=629113.
  2. Click on the alert on the second chart.
  3. Click on "BISECT"

[2016-07-20 18:58] petrcermak commented on #2511
_This is blocking https://bugs.chromium.org/p/chromium/issues/detail?id=629113_

[2016-07-20 19:00] simonhatch opened #2512 "Graphs Page: Sub-pages never seem to show up."
When displaying graph, main metric shows up in list and gets displayed, but endless spinner and no subpages.

[2016-07-20 19:02] anniesullie commented on #2511
@dave-2 @ro-berto my understanding is that the new classification algorithm doesn't have an std mode because it should be able to classify differences in std, but it is not working correctly, based on crbug.com/598509. Can we fix the issues and remove the button?

[2016-07-20 19:03] simonhatch opened #2513 "Graphs Page: Hover over points on graph doesn't show menu."
Normally hovering over points on the graph shows info about that revision range, buildbot stdio, bisect button, etc. The menu shows up very briefly, as you stop hovering over a point but disappears.

Note: Seems to work the first time you hover, but not after that.

[2016-07-20 19:08] simonhatch opened #2514 "Graphs Page: Little Red "X" on list of metrics isn't right justified."
Should sit in top left corner of that box.

[2016-07-20 19:11] simonhatch opened #2515 "Graphs Page: Red "X" close button on metrics menu doesn't hide menu."
Normally clicking that close button clears the entire menu, not just the list of metrics.

[2016-07-20 19:20] simonhatch opened #2516 "Graphs Page: Metric name over graph black instead of grey and not clickable."
ie. ChromiumPerf/android-galaxy-s5/speedometer / Total

Total should be light grey and also not clickable.

[2016-07-20 19:27] simonhatch opened #2517 "Graphs Page: Graph "minimize" button on metrics list does nothing."

[2016-07-20 20:15] dave-2 commented on #2511
I'm seeing a problem with mannwhitneyu in this case.

    import numpy
    from scipy import stats

    a = numpy.random.normal(scale=1, size=100)
    b = numpy.random.normal(scale=100, size=100)
    print stats.mannwhitneyu(a, b)
    print stats.ks_2samp(a, b)
    print stats.anderson_ksamp((a, b))
    print stats.ttest_ind(a, b, equal_var=False)

MWU is giving high p-values for std dev differenc

[2016-07-20 20:16] dave-2 commented on #2511
(A high p-value for the t-test is expected, as it's a "test for the null hypothesis that 2 independent samples have identical **average (expected)** values." The average is in fact equal for those two populations.

[2016-07-20 21:29] wangzhen127 commented on #2403
@peterwashington

[2016-07-20 22:11] #2516 closed

[2016-07-20 22:14] peterwashington commented on #2403
Yup, I plan to add Android tests for the merged systrace and adb_profile_chrome, so I will modify catapult/catapult_build/build_steps.py to point to a new set of tests that will run exclusively for Android (in addition to the current set of systrace tests that currently do not run on Android).

Let me know if there is anything special that I need to keep in mind when writing the Android systrace t

[2016-07-20 23:40] kenrussell commented on #2446
https://codereview.chromium.org/2163373005/ is adding an event for DrawingBuffer::prepareMailbox which is a good indicator that WebGL work was done in the current frame. That, combined with looking for (for example) PageAnimator::serviceScriptedAnimations, should be a good indicator that WebGL is animating.

[2016-07-21 01:59] #2499 closed

[2016-07-21 01:59] zeptonaut commented on #2503
Grabbing this.

[2016-07-21 06:39] Apeliotes opened #2518 "Merge Polymer10-migration branch"
Steps for merging:

1) (Optional?) Rebase a local copy of polymer10-migration branch onto master. This will be the vast majority of the work involved if we do it. But it will leave us with a linear history for the Catapult repo. It should at least be attempted to see if it's a reasonable amount of work.

Steps:
Create a local branch.
Rebase local branch onto master.

Fixing the conflicts will be t

[2016-07-21 13:15] zeptonaut commented on #2518
Seems like this section of that doc is particularly useful: https://www.atlassian.com/git/tutorials/merging-vs-rebasing/workflow-walkthrough#integrating-an

[2016-07-21 14:11] petrcermak opened #2519 "Perf Dashboard: Selecting a large group of alerts freezes the tab for several seconds"
Chrome version: 51.0.2704.79 (Linux)
URL: https://dev-sullivan-74e2605e-dot-chromeperf.appspot.com/alerts?sheriff=System%20Health%20Perf%20Sheriff&sortby=end_revision&sortdirection=down

Please describe the problem:
Selecting a large group of alerts (![screenshot from 2016-07-21 15 05 24](https://cloud.githubusercontent.com/assets/2546601/17025646/b4c742f6-4f54-11e6-9d72-fb31d8864777.png)) __freez

[2016-07-21 14:19] petrcermak opened #2520 "Perf Dashboard: "Close" button in the "TRIAGE" pop-up doesn't do anything"
Chrome version: 51.0.2704.79 (Linux)
URL: https://dev-sullivan-74e2605e-dot-chromeperf.appspot.com/alerts?sheriff=System%20Health%20Perf%20Sheriff&sortby=end_revision&sortdirection=down

![screenshot from 2016-07-21 15 17 23](https://cloud.githubusercontent.com/assets/2546601/17026009/7056b910-4f56-11e6-8b2b-c8b11bbc1015.png)

[2016-07-21 14:27] petrcermak opened #2521 "Perf Dashboard: Cells shifted to the right"
Chrome version: 51.0.2704.79 (Linux)
URL: https://dev-sullivan-74e2605e-dot-chromeperf.appspot.com/group_report?keys=agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgICg6p6FzAgM

Please describe the problem:
The "Revisions" cells are shifted to the right by one column.

![screenshot from 2016-07-21 15 23 51](https://cloud.githubusercontent.com/assets/2546601/17026234/46cb6d42-4f57-11e6-972e-122d2eff05a4.png)

[2016-07-21 14:28] petrcermak opened #2522 "Perf Dashboard: Lots of chart-legend.html messages in the console"
Chrome version: 51.0.2704.79 (Linux)
URL: https://dev-sullivan-74e2605e-dot-chromeperf.appspot.com/group_report?keys=agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgICg6p6FzAgM

Please describe the problem:
![screenshot from 2016-07-21 15 28 03](https://cloud.githubusercontent.com/assets/2546601/17026369/c662f412-4f57-11e6-8bc3-fcec09abbcc5.png)

[2016-07-21 14:37] petrcermak opened #2523 "Perf Dashboard: Invalid commit ranges"
Chrome version: 51.0.2704.79 (Linux)
URL: https://dev-sullivan-74e2605e-dot-chromeperf.appspot.com/report?sid=a1f473f06c4ae7489846766cf4c11058f6fc4d4b647b5da8ea53b26b38756fb0&rev=406222

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):

Please describe the problem:
The tooltip below suggests that the point on the chart comes from a **single** Chromium commit ([r4047

[2016-07-21 14:40] petrcermak opened #2524 "Perf Dashboard: No nudge options"
Chrome version: 51.0.2704.79 (Linux)
URL: https://dev-sullivan-74e2605e-dot-chromeperf.appspot.com/report?sid=a1f473f06c4ae7489846766cf4c11058f6fc4d4b647b5da8ea53b26b38756fb0&rev=406222

Please describe the problem:
![screenshot from 2016-07-21 15 38 22](https://cloud.githubusercontent.com/assets/2546601/17026774/2d53d71c-4f59-11e6-9ae7-08913e084739.png)

Note that this happens _both_ on the page

[2016-07-21 14:49] petrcermak opened #2525 "Perf Dashboard: Cannot triage because "something went wrong" when logging in"
Chrome version: 51.0.2704.79 (Linux)
URL: https://dev-sullivan-74e2605e-dot-chromeperf.appspot.com/alerts?sheriff=System%20Health%20Perf%20Sheriff&sortby=end_revision&sortdirection=down

Repro steps:
1. Go to https://dev-sullivan-74e2605e-dot-chromeperf.appspot.com/alerts?sheriff=System%20Health%20Perf%20Sheriff&sortby=end_revision&sortdirection=down
2. Select the first alert.
3. Click on "TRIAGE"

[2016-07-21 14:52] petrcermak opened #2526 "Perf Dashboard: Cannot triage new bug due to "500 Internal Server Error"
Chrome version: 51.0.2704.79 (Linux)
URL: https://dev-sullivan-74e2605e-dot-chromeperf.appspot.com/alerts?sheriff=System%20Health%20Perf%20Sheriff&sortby=end_revision&sortdirection=down

Repro steps:
1. Go to https://dev-sullivan-74e2605e-dot-chromeperf.appspot.com/alerts?sheriff=System%20Health%20Perf%20Sheriff&sortby=end_revision&sortdirection=down
2. Select the first alert.
3. Click on "TRIAGE"

[2016-07-21 14:54] petrcermak commented on #2526
I've just noticed that the [bug](https://bugs.chromium.org/p/chromium/issues/detail?id=630290) was created anyway (more than once), but no bisect was started.

[2016-07-21 14:56] petrcermak commented on #2526
The error also happens when you try to triage from the [graph page](https://dev-sullivan-74e2605e-dot-chromeperf.appspot.com/report?sid=a1f473f06c4ae7489846766cf4c11058f6fc4d4b647b5da8ea53b26b38756fb0&rev=406222) (no bug was filed this time):

![screenshot from 2016-07-21 15 55 09](https://cloud.githubusercontent.com/assets/2546601/17027389/984bc17c-4f5b-11e6-9ad8-cce07dfca9a5.png)

[2016-07-21 18:57] petrcermak commented on #2511
This is also blocking https://bugs.chromium.org/p/chromium/issues/detail?id=630270

[2016-07-21 22:43] zeptonaut opened #2527 "Very small slices (including instant events) don't render on the timeline"
This is the last major bug that we know of on the Polymer migration branch.

Usually, no matter how small slices get in trace viewer, they're always given at least 1px width worth of representation. This means that if you zoom really far out, things look like this:

![image](https://cloud.githubusercontent.com/assets/1407397/17041247/c4696216-4f72-11e6-8d2f-9948da276138.png)

However, in the curre

[2016-07-21 23:06] eakuefner commented on #2518
Can we close this bug now?

[2016-07-22 00:00] natduca commented on #2527
This should fixerate it https://codereview.chromium.org/2172873002/

[2016-07-22 00:18] #2527 closed

[2016-07-22 00:29] ChrisCraik opened #2528 "Show average CPU time per event in event summary"
Frequently want to select dozens of slices of e.g. 'foo', and see how long they take.

Currently have to manually divide CPU duration by occurrence count - should just show it.

[2016-07-22 02:26] #2518 closed

[2016-07-22 15:18] zeptonaut opened #2529 "Importing trace in Chrome Canary fails"
The failure stack trace is:

[code]

Chrome version: 54.0.2802.2 (Official Build) canary (64-bit)

Looking into this now.

[2016-07-22 15:21] zeptonaut commented on #2529
Attaching trace:

[trace_trace.json.gz](https://github.com/catapult-project/catapult/files/378504/trace_trace.json.gz)

[2016-07-22 15:22] petrcermak commented on #2529
The trace seems quite small, but could this be related to #2378?

[2016-07-22 15:26] zeptonaut commented on #2529
Yep. Closing this as a duplicate of that bug.

[2016-07-22 15:26] #2529 closed

[2016-07-22 15:30] zeptonaut commented on #2378
I'm also seeing this on Canary (54.0.2802.2 (Official Build) canary (64-bit)). Here's the trace:

[trace_trace (1).json.gz](https://github.com/catapult-project/catapult/files/378518/trace_trace.1.json.gz)

When I decompress that trace with `gunzip trace_trace\ \(1\).json.gz`, I get the following error:

[code]

So it looks like whatever we're recording isn't a valid gzip file. I'm going to confirm

[2016-07-22 15:33] nedn opened #2530 "devil lib has psutil as an implicit dependency"
Devil lib has a few places in which it import psutil explicitly:
https://github.com/catapult-project/catapult/blob/f0f8f713d0de547db1ebf0edfa1be664284c2dd6/devil/devil/android/tools/device_recovery.py#L11
https://github.com/catapult-project/catapult/blob/a8a6fb7ea065c2df8ae129ad05ac80ba6ae7cc3a/devil/devil/android/forwarder.py#L10

Since not all python users install psutil, we should either:
1) Fi

[2016-07-22 15:36] wangzhen127 opened #2531 "Systrace should also support trace container format"
Trace container format doc: https://docs.google.com/document/d/1a8c0tQGlwQapTruWoJTQz8n3kjwIcPnx4mnCBvi_guI/edit?usp=sharing

@zeptonaut Has Trace Viewer already supported this?

@peterwashington This can be a separate CL from others.

[2016-07-22 15:41] zeptonaut commented on #2378
Going to do some initial investigation into this. It looks like the gzip inflation in trace viewer is working, so maybe I'm just not using the right command line arguments when I do it manually. I'm seeing a successful gzip inflation followed by a failed import. Still looking into it.

[2016-07-22 15:47] zeptonaut commented on #2378
I'm actually going to unassign this from myself and split this investigation back into #2529, now that it's clear that the issue I'm having isn't related to buffer size limits.

[2016-07-22 15:48] zeptonaut commented on #2529
Reopening this: it turns out that bug had more to do with a trace that was too long and less to do with whatever problem I'm having.

Quoting the other bug:

[2016-07-22 16:01] zeptonaut commented on #2529
I'm wondering if our gzip inflation implementation ([`gzip_importer.html`](https://github.com/catapult-project/catapult/blob/20358d6bf8c99ec34037b78e0f8b9022622d362a/tracing/tracing/extras/importer/gzip_importer.html)) is somehow more lenient about incoming compressed data than `gunzip` is. When I try to decompress the problematic trace from the command line I see:

[code]
compare this with a trac

[2016-07-22 18:41] zeptonaut commented on #2529
I'm now having problems reproducing this by recording new traces. Very confusing. My hunch is that this might have to do with some of [@caseq's work on tracing_controller_impl_data_sinks.cc](https://chromium.googlesource.com/chromium/src/+log/master/content/browser/tracing/tracing_controller_impl_data_sinks.cc) that happened within the last two weeks. [This revision](https://chromium.googlesource.

[2016-07-22 20:47] zeptonaut commented on #2531
Trace viewer partially supports it: it supports .zip and .gz archives, but doesn't yet support .tar archives (which would be good for some instances where the agent may not want to spend the extra CPU cycles on compression).

[2016-07-22 20:48] zeptonaut commented on #2531
Also, it supports the case where a single zip file contains multiple traces in the trace event format.

[2016-07-22 20:51] zeptonaut commented on #2285
And as he clicked the "Close and comment" link, a chorus of angels were said to have struck a beautiful note from on high...

[2016-07-22 20:51] #2285 closed

[2016-07-22 20:53] zeptonaut commented on #2527
Thanks for looking into this Nat! It was awesome coming in today and having this taken care of :+1:

[2016-07-23 00:00] peterwashington opened #2532 "Update the profile_chrome controllers to follow the same API as systrace agents"
After the output format between systrace and profile_chrome are unified, the controllers in profile_chrome need to be updated to follow the same API as the tracing agents so that, during the interim period when the projects are not fully unified and profile_chrome needs to call both its old controllers as well as the new trace agent in systrace, it can do so with the same set of APIs.

The two API

[2016-07-25 09:02] primiano commented on #2328
@petrcermak can you take a look to this?
This seems a widespread problem and recently regressed. I got the same in canary.
See also crbug.com/630965 and crbug.com/623945

[2016-07-25 09:05] primiano commented on #2328
Failing trace https://drive.google.com/corp/drive/u/0/folders/0B03kdrYCBrmSM3hnNjZZX2VyM28

[2016-07-25 09:08] perezju commented on #2530
I've actually been hit by this in the past because the code in catapult assumes some old version of psutil (1.x) is installed. From 2.x onward some API changes were made (e.g. the property `create_time` is now called as a method `create_time()`), so for some of my "toy scripts" I had to write  workarounds to make them work with both versions.

At the very least devil should check the installed ver

[2016-07-25 09:19] petrcermak commented on #2530
I assume that whatever alternative of <tt>psutil</tt> we find, it will still introduce some kind of dependency, so we'll end up in a similar situation anyway. I think that the best solution would be to have some sort of a __<tt>check_dependencies.py</tt> script__, which tells the user what they need to install and update to have the right set of dependencies.

[2016-07-25 12:23] anniesullie commented on #2530
This sounds like something @Apeliotes may have advice on. Also would like to hear what @ZiqiXiong did for psutil on the processes metric.

[2016-07-25 12:26] petrcermak opened #2533 "Chrome reference builds haven't been updated since April"
Context: https://github.com/catapult-project/catapult/commits/master/catapult_base/catapult_base/chrome_binaries.json

@anniesullie @nedn

[2016-07-25 12:27] petrcermak commented on #2533
_Note: This is blocking https://crbug.com/612144._

[2016-07-25 12:34] anniesullie commented on #2533
@Apeliotes would you be willing to do a manual update? Or maybe @simonhatch could take this if you've got some documentation?

[2016-07-25 13:31] anniesullie commented on #2254
Actually just got a comment on a related issue, looks like this can be solved with master-side timeouts, gonna try that: https://bugs.chromium.org/p/chromium/issues/detail?id=516784#c10

[2016-07-25 13:37] anniesullie commented on #2254
Whoops, that's the same suggestion you gave earlier. But it looks like we don't add tons of slaves, and the expected time is generally known, so I think we're going to go with it.

[2016-07-25 13:53] anniesullie commented on #2522
@simonhatch if you're interested in taking this one I think we should just delete the console message--the buildbots send this invalid range and there's not a lot we can do here.

[2016-07-25 13:56] anniesullie commented on #2500
@simonhatch This shows up when you do `bin/run_dev_server` and navigate to http://localhost:8003/dashboard/tests.html?testSuiteName=dashboard.elements.alerts-page-test&sortby=end_revision&sortdirection=down so it is a good first bug to look at if you want to take it.

[2016-07-25 14:25] simonhatch commented on #2533
Yep I can take this off your hands if the process is documented somewhere.

[2016-07-25 14:31] paulirish commented on #2428
This is fixed by 	2102c4b

all set for you now, surma

[2016-07-25 14:31] #2428 closed

[2016-07-25 15:03] zeptonaut commented on #2503
When "expand" is clicked on the leader of the group, all children are getting the `hideRow` attribute set to false on them.

In the data binding, the `hideRow` attribute affects visibility through the data binding:

[code]

So, for some reason, even though `hideRow` is getting set to false, `hidden` is still true until the second time that you click this. Weird...

[2016-07-25 15:07] nedn opened #2534 "Metrics side panel is no longer scrollable"
To reproduce:
Open the trace in https://console.developers.google.com/m/cloudstorage/b/chrome-telemetry-output/o/trace-file-id_8-2016-07-25_03-45-39-47770.html
Select memoryMetric from metric side panel.
Try to scroll down the list of metrics.

[2016-07-25 15:12] zeptonaut commented on #2503
Rather than having `item.hideRow` directly control the `hidden` attribute, I had it defer to a `computeHideRow` function that looked like:

[code]

which I then set a breakpoint in. As I suspected, while the `hideRow` attribute is changing for all of the alerts, this compute function is only getting called for the alerts that are ultimately shown (3/5 of the alerts, in my test case). Somehow, the

[2016-07-25 15:25] aschulm opened #2535 "JSON file dump speed improvement leads to out of Python memory error"
Our BattOr FYI bots are failing to execute the tough video cases benchmark due to an out of memory error. It appears to be due to the JSON speed improvement CL that landed in 07aa51b63e8c04002a8696e63beacff9a8f2fbfc.

Here is the log showing the memory failure:
https://uberchromegw.corp.google.com/i/chromium.perf.fyi/builders/Win%20Power%20High-DPI%20Perf/builds/17/steps/battor.tough_video_cases/l

[2016-07-25 15:28] aschulm commented on #2535
CC @zeptonaut @randalnephew @nedn @Alex319

[2016-07-25 15:31] nedn commented on #2535
Again, I believe the right fix is not to have the dictionary object form of the trace in python. From the step of telemetry receives trace from Chrome to when it sends that to trace-viewer, the raw data should be stored as string.

[2016-07-25 15:57] zeptonaut commented on #2503
I tried notifying the path manually, which had no effect.

I've also checked which of the children seem to be shown, but it seems completely random. When a leader of a group of 30 gets expanded,

- The first 5 children are shown.
- The next child is hidden.
- The next 7 children are shown.
- The next 4 children are hidden.
etc.

So weird.

[2016-07-25 16:15] #2500 closed

[2016-07-25 16:23] zeptonaut commented on #2261
+1 for trying the Unicode path names before trying to move to 7zip. That seems like a lot less work (and a lot less maintenance in the future).

[2016-07-25 16:44] petrcermak opened #2536 "Cannot triage a large number of alerts simultaneously on dashboard (alert page page)"
![screen shot 2016-07-25 at 18 41 06](https://cloud.githubusercontent.com/assets/2546601/17109228/6db28f88-5297-11e6-862a-000e73d242fa.png)

I would like to assign several hundred alerts (from https://chromeperf.appspot.com/alerts?sheriff=System%20Health%20Perf%20Sheriff) to the same bug (https://bugs.chromium.org/p/chromium/issues/detail?id=631079). Unfortunately, whenever I try to do this (eithe

[2016-07-25 16:50] simonhatch commented on #2503
Decided to fiddle with this a bit over lunch. This horrible hack seems to make it work as intended:

            this.setAlertList(i, 'hideRow', isExpand);
            this.setAlertList(i, 'hideRow', !isExpand);

[2016-07-25 16:55] simonhatch commented on #2522
I took a look at chart-legend.html, and computeIsPositive has been redefined as:

computeIsPositive: n => n > 0,

So I don't think this is relevant anymore.

[2016-07-25 16:55] #2522 closed

[2016-07-25 17:03] petrcermak commented on #2328
This is a __duplicate__ of #2378.

@primiano: The trace you attached is simply too big to import at the moment: _"Inflated gzip data too long to fit into a string (852714493)."_ The only thing you can do is to make it smaller, e.g. using your script in http://crbug.com/630965.

[2016-07-25 17:03] #2328 closed

[2016-07-25 17:14] zeptonaut commented on #2503
Do you want to submit a CL doing that, along with a comment about how we have no idea why it's necessary?

[2016-07-25 17:23] petrcermak opened #2537 "503 error on Catapult tryserver build pages"
I get the following error:

![screen shot 2016-07-25 at 19 22 15](https://cloud.githubusercontent.com/assets/2546601/17110352/e24d3fbe-529c-11e6-9308-476f75f1f373.png)

when I try to reach any of the following URLs:

https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Windows%20Tryserver/builds/3863
https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20W

[2016-07-25 17:27] simonhatch commented on #2503
Sure.

[2016-07-25 17:48] randalnephew commented on #2535
Im going to go ahead and revert this CL so that the test will start passing again.

[2016-07-25 18:11] anniesullie commented on #2537
I filed an infra bug on crbug for this: http://crbug.com/631132

In the meantime, you can use uberchromegw urls:
https://uberchromegw.corp.google.com/i/tryserver.client.catapult

Reducing to P1 since there is a workaround.

[2016-07-25 18:34] #2381 closed

[2016-07-25 18:35] #2309 closed

[2016-07-25 18:35] zeptonaut commented on #2426
Closing this as "won't fix" because our final metrics will no longer rely on frame boundaries.

[2016-07-25 18:37] #2219 closed

[2016-07-25 18:37] #2202 closed

[2016-07-25 18:38] #2189 closed

[2016-07-25 18:39] zeptonaut commented on #2469
Going to close this out, as the actual error is now fixed and we've improved some of the surrounding documentation.

[2016-07-25 18:39] #2469 closed

[2016-07-25 18:59] zeptonaut opened #2538 "Telemetry should issue trace events for high-level tracing agent commands"
It would be super useful if Telemetry issued trace events into its own trace for different high-level tracing procedures (e.g. `StartTracing` for the BattOr agent and Chrome, `StopTracing` for the BattOr agent and Chrome). Right now we're having issues with BattOr agent cycle times, and being able to visualize these within trace viewer would be enormously helpful.

[2016-07-25 19:07] Apeliotes commented on #2523
Demo live here: https://dev-aiolos-18ab8f1e-dot-chromeperf.appspot.com

[2016-07-25 19:07] #2523 closed

[2016-07-25 19:17] riannucci commented on #2254
Per-step timeouts were added in https://github.com/luci/recipes-py/commit/d6668158ac17d845f016c191258b733947169ad1 , which closed luci/recipes-py#3 .

[2016-07-25 20:36] anniesullie commented on #2537
This is now **fixed**.

[2016-07-25 20:36] #2537 closed

[2016-07-25 20:48] zeptonaut commented on #2538
Thanks for taking this on Alex! Note that there's a decorator for tracing a function (trace_event.traced("MyFunctionName")) that we can use.

[2016-07-25 22:10] Apeliotes opened #2539 "Autoupdate all Breakpad-related binaries."
We should be no more than an month behind in all prebuilt Breakpad binaries.

[2016-07-25 22:11] Apeliotes commented on #2539
We should also make sure that all of the binaries can use the local chromium version as well.

[2016-07-25 23:57] Apeliotes opened #2540 "Uncaught reference error: Polymer is not defined when navigating to chrome://tracing"
Repro in a chromium checkout:

fetch/sync to tot and build chrome. Open chrome and navigate to about://tracing.

Tracing fails to load and the console has the following error:

Uncaught reference error: Polymer is not defined

[2016-07-25 23:59] Apeliotes commented on #2540
I'm still building chrome, so I haven't repro'd yet. I assume this is related to the Polymer 1 migration, but haven't verified.

[2016-07-26 00:01] jbudorick commented on #2539
I'd be interested in using an autoupdating solution for some of the binaries devil uses, too, if whatever you wind up using to solve this is generalizable.

[2016-07-26 07:48] natorion commented on #2401
Chrome Stable just got updated to Chrome 52. Selector stopped working. Currently Chromeperf is not usable as a sheriffing tool.

[2016-07-26 09:58] primiano opened #2541 "Perf Dashboard: Alters disappear from the dashboard UI when sorting"
Chrome version: 53.0.2785.8 (Linux)
URL: https://chromeperf.appspot.com/alerts?sortby=bot&sortdirection=down

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):
None seen.

Please describe the problem:
When I just open https://chromeperf.appspot.com/alerts?sortby=bot&sortdirection=down I see 82 alerts.
If I click on any of the columns, they get sorted, but the number

[2016-07-26 10:08] primiano opened #2542 "Perf Dashboard:"
Chrome version: 53.0.2785.8 (Linux)
URL: https://chromeperf.appspot.com/report?sid=aa77fe5f7d0b7406b91e232fb319985c403a63cacb660836d381e5811ac9612c&start_rev=406680&end_rev=407706

Please describe the problem:
Sometimes when I create a new bug on a regression it says "started bisect", sometimes is not.
Is it WAI? I mean: is it the case that some benchmarks auto-trigger bisects on "new bug" and som

[2016-07-26 11:48] anniesullie commented on #2542
There is one case where a bisect should not be auto-triggered: when the test is not bisectable, which should be just `sizes` on the main perf sheriff rotation. That certainly doesn't look like what happened here. crbug.com/631412 now has two bisects on it--did you file both manually?

[2016-07-26 12:13] anniesullie commented on #2541
This is a dupe of #2272. Sorry the UI is such a mess. @Apeliotes will be doing a lot of improvements in Q3.

[2016-07-26 12:13] #2541 closed

[2016-07-26 12:16] anniesullie commented on #2519
@zeptonaut fixed this in https://codereview.chromium.org/2171443002/

[2016-07-26 12:16] #2519 closed

[2016-07-26 12:25] nedn commented on #2490
Sorry for being silly, I was using the wrong commandline flag. The right one is:
`/tools/perf/run_benchmark system_health.memory_desktop --browser=system --story-filter=9gag --output-format=html2`

[2016-07-26 12:26] #2490 closed

[2016-07-26 12:27] nedn commented on #2540
This is also blocking results2.html from working. Investigating..

[2016-07-26 12:42] primiano commented on #2542
Nope, I did only the 2nd manually, before I realized it was kicked off automatically.
I will try to be more careful in the next shift, but my feeling is that randomly sometimes I get the longer message (with bug id and bisect), and sometimes a shorted message (I don't even recall what's the shorted message anymore :/).

[2016-07-26 13:09] primiano commented on #2542
Ah got it again on crbug.com/631461. After I clicked "new bug" I got a popup saying just "Bug created/updated" , but it definitely started a bisect.

[2016-07-26 13:21] nedn opened #2543 "Add integration test coverage for about://tracing UI"
We should add a telemetry test that navigate to about://tracing & assert the UI state is functional to avoid bugs like #2540. The easiest way to make this works is add a telemetry unittest in tools/perf that open CHrome & navigates to about://tracing...

[2016-07-26 13:21] nedn commented on #2540
Should be fixed.

[2016-07-26 13:21] #2540 closed

[2016-07-26 13:29] anniesullie commented on #2521
Can still repo at ToT: https://clean-sullivan-47a90721-dot-chromeperf.appspot.com/group_report?keys=agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgICg6p6FzAgM

[2016-07-26 15:32] tdresser opened #2544 "No metrics appear in metrics side panel"
I'm not seeing any metrics show up at all in the metrics side panel (Chrome 53.0.2785.21).

This happens consistently – it doesn't matter what page I trace.

[2016-07-26 15:33] tdresser commented on #2544
This might be related to #2408?

[2016-07-26 15:33] anniesullie commented on #2544
@eakuefner @Apeliotes

[2016-07-26 16:11] simonhatch opened #2545 "Alerts Page: Sorting makes "expand" button disappear."
Also highlighting gets busted if you had expanded any groups.