[2016-10-25 23:36] nedn commented on #2956
Note that binless mode is only for legacy tests, which I think don't use diagnostics at all. So it's not important to support diagnostics for them.

[2016-10-25 23:53] benshayden commented on #2956
To be clear, they will need histogram-level diagnostics such as IterationInfo, but, yes, probably not sample diagnostics.

[2016-10-26 14:10] chromy commented on #2933
I have a CL which adds a `RelatedHistogramBreakdown` to each `all_processes` histogram explaining how that histogram breaks down by process.
In the metrics pane it looks like this: https://screenshot.googleplex.com/0WkGMJoJ8uR
is that what we were aiming for?

[2016-10-26 14:44] nedn commented on #2953
It's interesting that this does not happen on linux desktop. I am running this on my test android device to see now.

p/s: I used https://codereview.chromium.org/2455473003 to get WPR pid.

[2016-10-26 15:35] nedn commented on #2953
I can reproduce it with Android. Here are the wpr log & strace log at the same time:
http://pastebin.com/F6vVBig8 (WPR)
http://pastebin.com/wJMj7kij (Strace)

[2016-10-26 16:30] benshayden commented on #2933
It looks like you're using RelatedHistogramBreakdown.*add*(histogram) --
the legend keys look like histogram names, which are quite long in your
case.
I'm working on a CL to show the full legend keys instead of truncating
them, but I wonder if you might still rather use
RelatedHistogramBreakdown.*set(name,
histogram)* instead so that you can make the legend keys
"browser"/"renderer" etc.
WDYT?

On

[2016-10-26 17:23] nedn commented on #2953
I think I found the problem in WPR:
For ssl_proxy, we first need to get the server certificate. For some reason, the logic of getting the server certificate does an actual network request when the WPR archive does not already contains it.

Code path:

ssl_proxy._SetUpUsingDummyCert.handle_servername() invokes handler.server.get_certificate()
https://github.com/chromium/web-page-replay/blob/841e12e

[2016-10-26 17:57] chiniforooshan opened #2957 "Make memory dumps use local or global IDs"
They currently use generic IDs and different phases for process or global dumps.

[2016-10-26 19:57] eakuefner commented on #2709
We're not going to bother with this, I don't think.

[2016-10-26 19:57] #2709 closed

[2016-10-26 20:07] nedn commented on #2953
Ok, so this happens on Android and not desktop because we generate dummy cert on ANdroid. For now, I will disable the dummy cert & enable "--ignore-certificate-errors" for Android Chrome.

[2016-10-26 20:44] chromy commented on #2933
Awesome glad to know I was along the right lines :)

That sgtm, I had it using `set` for a while I was a bit confused by this error message: https://github.com/catapult-project/catapult/blob/f5d3b3605c72ff72fce258c4d78a66e137688226/tracing/tracing/value/diagnostics/related_histogram_breakdown.html#L50

It seemed kind of awkward to make the legend keys a suffix of the histogram name in this case si

[2016-10-26 21:15] benshayden commented on #2933
@nedn originally requested enforcing that suffix check in [msg32 of this CL](https://codereview.chromium.org/2133963002#msg32). (You have to Show older messages and Expand all to see it...)

Ned, do you think it would be ok to allow RelatedHistogramBreakdown keys to be arbitrary strings instead of strictly suffixes of Histogram names?

[2016-10-26 21:45] nedn commented on #2933
I worry that people may be confused when they click on link "X" & metric "Y" is displayed. Maybe we can compromise this by displaying the full metric name when people hover over the link?

[2016-10-26 21:55] benshayden commented on #2933
https://codereview.chromium.org/2452983003

[2016-10-27 13:05] primiano commented on #2953
Ohh I see, thanks a lot for finding the culprit.
About --ignore-certificate-errors, I think we did that in the past, and the we switched over. I don't remember the reason why we switched, but there might have been a reason.
From "https://codereview.chromium.org/1903773002"

I wonder if that caching thing would affect our benchmarks

[2016-10-27 13:08] nedn commented on #2953
We want to swich over to use test certificate in Telemetry because we believe it's more realistic. Also when we use "--ignore-certificate-errors", there will be a warning butter bar on every navigation, which may have some overhead/interfere with the perf test.

[2016-10-27 13:13] primiano commented on #2953
I admit I am not fully understanding that WPR logic. Why WPR tries to get the real certificate at all?
I fear that switching back --ignore-cert is going to make the metrics jump. Since the DDoS is over should we take another couple of days to see if there is something we can do here to solve the issue without going back to --ignore-cert?

[2016-10-27 13:29] nedn commented on #2953
As the test is no longer failing, I agree with the plan.

[2016-10-27 17:29] anniesullie commented on #2722
Sorry for the slow response. I modified my original list to match what's in @perezju's last comment and updated the monitoring. Shall we close?

[2016-10-27 21:45] anniesullie commented on #2883
(sorry for the delay here)

I changed these tests not to alert on FYI bots.

[2016-10-28 08:39] perezju commented on #2722
Yup, fine to close. I'll keep an eye on new alerts to make sure they are triggering on the right things.

[2016-10-28 08:39] #2722 closed

[2016-10-28 09:06] rmcilroy commented on #2883
That's great, thanks Annie!

[2016-10-28 12:50] camillobruni commented on #2830
This has gotten worse again. We only get a fraction of the graphs up when viewing something like [runtime-stats](https://chromeperf.appspot.com/report?sid=a48dec5066f5d0028667e38d57ca2707ffcacd59b4122b94a99d14d0bc2ad0f6&start_rev=36921&end_rev=10000000).
Even refreshing doesn't seem to help much, and the few graphs that do load take >20s.

[2016-10-28 13:22] anniesullie commented on #2830
I'm really sorry about the hiccups here. I loaded it a few times, and it looks like the cache got filled in and the charts load again. Still need to stabilize the underlying issues, but is it working okay for the time being?

[2016-10-28 13:28] camillobruni commented on #2830
We don't mind the delay, but currently the graphs only load partially, which is quite a drop in usefulness for us.

[2016-10-28 13:30] anniesullie commented on #2830
Right, they were loading partially earlier, but now they are loading fully for me. You are still seeing some of them load partially? Is it consistent which ones?

[2016-10-29 05:41] #2811 closed

[2016-10-29 05:41] #2677 closed

[2016-10-29 05:42] #2276 closed

[2016-10-29 05:52] benshayden opened #2958 "Charts should take chartAreaSize and compute margins"
Currently, the d3-based charts in ui/base/ require callers to set both total width/height and margins.
Axis labels and legend keys are drawn in the margins, so callers can either set charts' size and margins to large numbers and hope they'll usually provide enough space at the risk of wasting space, or callers can render the chart, ask it if the margins are big enough to display the axis labels an

[2016-10-31 11:28] chromy opened #2959 "tr-v-ui-breakdown-span makes n^2 rects"
@benshayden

A tr-v-ui-breakdown-span with n labels seems to make n^2 rects which doesn't seem right.
For example:
![bugwithbreakdown](https://cloud.githubusercontent.com/assets/351085/19852621/47aa1628-9f5c-11e6-8149-9f2ab34ae16f.png)

[2016-10-31 11:57] chromy commented on #2959
Pretty sure I tracked it down to a bug in column_chart.html.
I don't think this is how d3's enter() is supposed to work: https://github.com/catapult-project/catapult/blob/096577b4ea3071cb3bfd5abdff5f1ffe7a3ee6f9/tracing/tracing/ui/base/column_chart.html#L239
The code binds the series labels to rectsSel then appends a rect to the enter() selection for each rect we want in the final dom, but d3 will

[2016-10-31 12:25] chromy commented on #2959
https://codereview.chromium.org/2460383002

[2016-10-31 16:29] eakuefner opened #2960 "Page does too much filesystem work"
While fixing #2429 I noticed that my patch makes telemetry_perf_unittests time out on Windows. @nedn suspects that it's due to #1955 which is possible because `Page.display_name`, which my patch causes us to execute much more frequently, does filesystem actions.

In any case, we should memoize `Page.display_name` since the fields of `Page` on which it relies are immutable.

[2016-10-31 16:55] nedn commented on #2960
How is  page.display_name  doing too much filesystem work?

[2016-10-31 18:04] eakuefner commented on #2960
Actually, I misread the code; it's using os.path but not actually touching the filesystem. I'll just close this bug and file a new one once we can figure out the root cause of this in more detail.

[2016-10-31 18:04] #2960 closed

[2016-10-31 20:13] chromy commented on #2959
Thanks Ben!

[2016-10-31 20:13] #2959 closed

[2016-10-31 20:37] eakuefner opened #2961 "Telemetry needs Sierra support"

[2016-10-31 22:40] #2961 closed

[2016-11-01 06:06] irori opened #2962 "loadingMetric does not filter cache-warming page loads"
LoadingMetric attempts to filter out events during cache-warming by ignoring events happened between `telemetry.internal.*.start` and `telemetry.internal.*.end`. But this is not working, because actual events are `telemetry.warmCache.warmCache.{start,end}`.

@nyaxt @nedn

[2016-11-01 06:14] irori commented on #2962
https://codereview.chromium.org/2467763002/

[2016-11-01 19:09] #2921 closed

[2016-11-02 00:01] #2962 closed

[2016-11-02 04:02] benshayden opened #2963 "Allow ES6 short-hand property or method names?"
[Object_initializer#New_notations_in_ECMAScript_2015](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Object_initializer#New_notations_in_ECMAScript_2015)
[compatibility table](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Object_initializer#Browser_compatibility)

I'm thinking of the dictionaries returned from the callbacks passed to tr.ex

[2016-11-02 10:23] primiano opened #2964 "Perf Dashboard: Nudge UI is hard to use"
Chrome version: 54.0.2840.71 (Mac)
URL: https://chromeperf.appspot.com/report?sid=acd845b38f455fc74479a3fc52eb74f6b8187b870ba1955cb717a256f3c5f32e&start_rev=1476807204&end_rev=1477710789

There are two things here:
1) When I change the nudge level the point doesn't always move and often gets stuck.
This seems to be an actual bug, I see the following in devtools

the failing code is:
`alertInfo['st

[2016-11-02 10:35] primiano opened #2965 "memory.top_10_mobile_stress"
Hey I am sheriffing today and I see quite some alerts coming from memory.top_10_mobile_stress
I couldn't find an owner for that in the spreadsheet. I think is one of the benchmarks that we ended up owning because of legacy.
Considering that we (memory-infra) are planning to migrate memory.top_10_mobile (what currently used for android system health) to just system_health, should we also start drop

[2016-11-02 11:04] perezju commented on #2965
We (I?) own `memory.top_10_mobile_stress`. The idea of that test is to run for some long-ish amount of time without restarting the browser, thus giving us coverage to catch memory leaks. Which we do not have elsewhere.

It has a similar purpose to `memory.long_running_dual_browser_test`, but that one uses both webview and chrome at the same time. It may be ok to drop some of these benchmarks, but

[2016-11-02 11:08] primiano commented on #2965
Ah ok sorry for my brainfart. I mistakenly thought this was one of the legacy benchmarks before we even started memory-infra.
Only one question: how will this long fit into the let's "move to system health" picture ?

[2016-11-02 11:10] primiano opened #2966 "Perf Dashboard: bisects are failing due to infrastructure issue"
So, I started my perf sheriff shift with 112 alerts.
The first triaged ones are coming back, unfortunately they don't look encouraging.
crbug.com/661509, crbug.com/661504, crbug.com/661493 all failed with

[code]

:-/

[2016-11-02 11:15] perezju commented on #2965
Numbers from this benchmark are not used at all for Android System Health, so it's largely an ortogonal issue. After the switch to system health we can stop running and monitoring `memory.top_10_mobile`, but we would still need `memory.top_10_mobile_stress` (or something like it).

Not sure if a "stress" version of the system health benchmark would be appropriate? That probably needs a bit more th

[2016-11-02 12:02] nedn commented on #2965
The "stress" is only about it being a long running story, isn't it? It's within our plan to add a long running system health story.

[2016-11-02 12:05] perezju commented on #2965
True. We do have a few already:

* long_running:tools:gmail-background
* long_running:tools:gmail-foreground

Each taking about 4-5 minutes. While we're looking for something more in the order of maybe 1 hour? Would we be happy with adding a 1-hour or longer story to system health?

[2016-11-02 12:09] nedn commented on #2965
IMO, 1-hour is a bit too much. Have we ever get good value from this long running story given that bisect doesn't work well with it?

[2016-11-02 13:42] picksi commented on #2965
The Android long-running test gave good information on stability and memory
leaks. Nothing directly actionable but it acted as a barometer when
something went wrong.

Simon

On Wed, Nov 2, 2016 at 12:09 PM, Ned Nguyen <notifications@github.com>
wrote:

[2016-11-02 14:49] zeptonaut opened #2967 "Perf dashboard incorrectly populates bisect fields for complicated story names"
A brief story ([crbug.com/658840](https://bugs.chromium.org/p/chromium/issues/detail?id=658840)):

- I started a bisect from the dashboard on the `idle:power_avg` metric of our story, named [`https://www.youtube.com/watch?v=3KANI2dpXLw?autoplay=1`](https://chromeperf.appspot.com/report?sid=74674c766cf8eac5d768508b048ab06395e3277f1e8a1bfcc54610353ec0f260&rev=426756)
- When I click "bisect" on the g

[2016-11-02 14:50] zeptonaut commented on #2967
Clearing myself from the assignment: @dave-2 or @ro-berto, would either of you be willing to look into making sure that the perf dashboard correctly populates bisect request fields?

[2016-11-02 14:58] anniesullie commented on #2967
@eakuefner @benshayden I think we need to think about the right way to get the story name to flow through dashboard and bisect better.

@perezju as FYI

[2016-11-02 14:58] zeptonaut commented on #2967
One thing that I don't understand: on that bug, the bisect for `cpu_time_percentage_avg/https___www.youtube.com_watch?v_3KANI2dpXLw?autoplay_1` succeeded, despite having all of the same problems as `idle:power_avg/https___www.youtube.com_watch?v_3KANI2dpXLw?autoplay_1`. Something about my understanding must not be right here...

[2016-11-02 15:09] perezju commented on #2967
Where is the bisect that filtered all stories with the pre-populated story filter?

I've just ran:

    $ tools/perf/run_benchmark -v --browser=system --pageset-repeat=1 --story-filter='https...www\.youtube\.com.watch\?v.3KANI2dpXLw\?autoplay.1' battor.power_cases --also-run-disabled-tests

and it does seem to work correctly.

[2016-11-02 15:10] perezju commented on #2967
I think that the problem is not on the story filter, but in the code responsible to find the metric from the output (which has nothing to do with story filtering).

[2016-11-02 15:29] zeptonaut commented on #2967
@perezju here's the original bisect which filtered out the YouTube story: https://chromeperf.appspot.com/buildbucket_job_status/8997163445546668768

[2016-11-02 15:43] perezju commented on #2967
Maybe there is something going wrong with the quoting on arguments, plus how does `runisolatedtest.py` actually runs the command?

On [this log](https://build.chromium.org/p/tryserver.chromium.perf/builders/mac_retina_perf_bisect/builds/1780/steps/Gathering%20reference%20values.Performance%20Test%201%20of%205/logs/Captured%20Output) from that bisect it can be seen that the story filter did arrive

[2016-11-02 15:50] nedn commented on #2967
Oh, for those bisect, I believe Charlie was setting the `"--story-filter"` command manually.

[2016-11-02 15:56] nedn commented on #2965
@picksi, those are fair points. Though I think for now let keep this 1 hour long running benchmark separately since it's currently architected to work around the problem that we can't have 1 hour long tracing.

[2016-11-02 15:57] perezju commented on #2967
I think there are two issues at play:

1. Auto-populated story-filter for complicated stories may cause all stories to be filtered out. Example: [log](https://build.chromium.org/p/tryserver.chromium.perf/builders/mac_retina_perf_bisect/builds/1780/steps/Gathering%20reference%20values.Performance%20Test%201%20of%205/logs/Captured%20Output)

2. With manually selected story filter (just "youtube"), t

[2016-11-02 18:03] anniesullie commented on #2966
All of these are failing in `provision_devices` step. I'm seeing this:

https://build.chromium.org/p/tryserver.chromium.perf/buildslaves/build102-b4 - last two builds and fails flakily in 2 of previous 7 builds
https://build.chromium.org/p/tryserver.chromium.perf/builders/android_webview_arm64_aosp_perf_bisect - last two builds failed and ~10 builds eariler there is a string of 5 failures
https://

[2016-11-02 18:07] randalnephew opened #2968 "Update BattOr Agent binary to version with githash"
I am uploading the linux one today, I dont have a machine set up to build windows or mac however.

@zeptonaut

[2016-11-02 19:03] jbudorick commented on #2966
It looks like something unexpected is happening in `device_recovery` -- on both the N5 and the N7 bots, it's exiting immediately after the USB reset. This (or similar) is the last line of the log:

[code]

This comes from [here](https://codesearch.chromium.org/chromium/src/third_party/catapult/devil/devil/utils/reset_usb.py?q=reset_usb.py&sq=package:chromium&l=30) and should be followed by more re

[2016-11-02 19:10] jbudorick commented on #2966
... actually, looking closer, I have a guess. I'll send out a speculative fix in a moment.

[2016-11-03 01:06] jbudorick commented on #2966
Kicked new bisects for [crbug.com/661509](crbug.com/661509), [crbug.com/661504](crbug.com/661504), and [crbug.com/661493](crbug.com/661493)

[2016-11-03 10:14] nedn opened #2969 "Result2 rendering crash (due to corrupted result file?)"
This happens to the system health smoke test:
https://chromium-swarm.appspot.com/user/task/32414d85e0a8b910

[code]

@benshayden @eakuefner

[2016-11-03 10:25] nedn commented on #2969
Also it's unclear to me why system_health smoke test triggers the result2 whereas we set the result_format to 'none' in https://cs.chromium.org/chromium/src/tools/perf/benchmarks/system_health_smoke_test.py?rcl=0&l=115 :-/

[2016-11-03 13:45] anniesullie commented on #2966
One hasn't finished yet, but the other two completed successfully. Closing this bug. Thanks, John!

[2016-11-03 13:45] #2966 closed

[2016-11-03 21:21] lpy commented on #2875
This is done.

[2016-11-03 21:21] #2875 closed

[2016-11-03 21:59] lpy commented on #2928
I have some dumb questions:

* Do you mean set `htmlFor` to the `id` of radio button? Just a little confused since we don't have `id` for radio button.
* Do you mean also add `diagnostics['selectedKey'] = new xxxx;` in `buildDiagnostics_`?

Yes, if you select `start` as the key, then that field won't show up in the detail table, the reason `duration` show up in event column is because of the natur

[2016-11-03 22:13] benshayden commented on #2928
input.id = e.label
var label = document.createElement('label');
label.htmlFor = e.label

Alternatively, define a new tr-ui-b-labelled-radio-button polymer class with <input id=radio ...> <label for=radio ....>

To the second question, maybe not 'selectedKey', but just build the sample diagnostics the same way regardless of what the selectedKey is?

[2016-11-04 13:59] chromy opened #2970 "Improve the coloring for memory_metric breakdown"
ColorScheme sometimes gives too similar colors to diffrent bars in breakdown_span.
This happens in for browser_process and renderer_processes which somehow end up
with the exact same color.

[2016-11-04 15:52] anniesullie opened #2971 "Perf dashboard does not always kick off a bisect when a new bug is filed"
Examples from @primiano's recent shift. cc-ing him in case there are questions about how bugs were filed and he is able to remember.
http://crbug.com/661950
http://crbug.com/661948
http://crbug.com/661939
http://crbug.com/661934
http://crbug.com/661932
http://crbug.com/661931
http://crbug.com/661490

@eakuefner can you poke at this? I think the place to start is adding some logging in https://gith

[2016-11-04 17:15] randalnephew opened #2972 "Upload windows AVRDude binary"
Needed for autoflashing BattOrs.

[2016-11-04 20:30] benshayden opened #2973 "tr-ui-b-table has an active mousedown handler on td that breaks selection"
https://github.com/catapult-project/catapult/blob/master/tracing/tracing/ui/base/table.html#L808

Removing that listener fixes text selection, but that listener looks intentional.

What is that listener trying to do? How do we do it without breaking text selection?

[2016-11-04 20:44] benshayden opened #2974 "Sort histogram-set-table by difference significance first"
Currently, histogram-set-table sorts columns by either avg or avg delta.
When sorting a non-reference column when a reference column is selected, it would be more useful to sort by significance first, then avg delta.

[2016-11-04 20:46] benshayden commented on #2969
https://codereview.chromium.org/2474123002

[2016-11-04 20:46] #2969 closed

[2016-11-04 20:49] benshayden commented on #2911
The remaining issue with the overview line charts is tracked here:
https://github.com/catapult-project/catapult/issues/2958

I have a separate CL to implement box plots for single-bin histograms. After BoxPlot lands, we can see if we'd rather use it for the overview charts instead of line charts.

[2016-11-04 20:49] #2911 closed

[2016-11-04 21:18] benshayden commented on #2946
Setting width on `<col>` elements [seems to work](http://jsbin.com/kemubiyocu/edit?html,output) as long as you also set `table-layout:fixed;width:0px;` on the `<table>`.
Now it seems like the drag-handle will need to be abs-pos on top of the table, and refactored to allow its target to not be a sibling.

[2016-11-04 21:25] lpy commented on #2928
<img width="719" alt="screen shot 2016-11-04 at 2 25 24 pm" src="https://cloud.githubusercontent.com/assets/1453861/20023029/954d7fe6-a29a-11e6-915a-942d283cbe86.png">

[2016-11-05 00:38] sunnyps opened #2975 "--verbose flag does not work with adb_profile_chrome"
sunnyps@sunnyps-linux:~/src/chromium/src$ build/android/adb_profile_chrome --browser chromium --time 10 --perf --verbose
No handlers could be found for logger "devil.utils.cmd_helper"

I got verbose logging to work by adding logging.basicConfig() to systrace/profile_chrome/main.py:87 before logging.getLogger().setLevel(logging.DEBUG)

[2016-11-05 00:50] sunnyps opened #2976 "adb_profile_chrome hangs when stopping"
I had to Ctrl-C to kill it and the perf data / traces were left on the device. The following is the verbose output. I also added some logging to identify the tracing agent that's hanging (bolded) - it's chrome trace. NOTE: Verbose logging is broken with ToT, see issue 2975 for a workaround to get logging to work.

sunnyps@sunnyps-linux:~/src/chromium/src$ build/android/adb_profile_chrome --browser

[2016-11-05 00:53] jbudorick commented on #2975
this'll be a two-part fix:
 - making devil silent if the client script doesn't set up logging
 - making adb_profile_chrome set up logging, basically by landing your workaround

[2016-11-05 01:12] jbudorick opened #2977 "Move devil.utils.{reraiser_thread,timeout_retry,watchdog_timer} to common/py_utils"
They're already used (directly or indirectly) by common/py_utils/py_utils/__init__.py

[2016-11-05 01:20] sunnyps commented on #2976
I'm open to trying workarounds until this bug is fixed. I can pull the perf output from the device but I don't know how to setup symbols, convert the perf output for tracing, etc.

[2016-11-07 02:16] CalebRouleau commented on #2923
Any idea when this could get fixed? My team is still affected.

Thanks for the help.

[2016-11-07 13:59] jbudorick opened #2978 "AttributeError emitted from DeviceTempFile"
from [here](https://build.chromium.org/p/chromium.gpu.fyi/builders/Android%20Release%20%28Nexus%206%29/builds/2775/steps/angle_unittests/logs/stdio):

[code]

[2016-11-07 14:01] perezju commented on #2967
Part 1 of this issue is now tracked at [crbug.com/662472](https://bugs.chromium.org/p/chromium/issues/detail?id=662472), which I'm working on now. Will post updates here as well.

If part 2 is also an issue, that would merit filing a separe bug.

[2016-11-07 15:23] ulan opened #2979 "[Results2] Allow increasing the width of the metric name column"
Currently metric names are cropped if they are too long. This makes the some results unreadable (see screeenshot).

![screenshot from 2016-11-07 16 19 18](https://cloud.githubusercontent.com/assets/294429/20063088/3f3594b8-a506-11e6-9850-17cd0d7e4c3c.png)

[2016-11-07 15:25] anniesullie commented on #2979
@benshayden is this a dupe of #2946 ?

[2016-11-07 16:53] anniesullie commented on #2923
Notes on debugging: try taking an example alert from Caleb's rotation, and making a unit test that tries to write the email with it.

One thing I think is likely is that there are problems in recipes where `a_stdio_uri` gets uploaded to dashboard as `a_a_stdio_uri` and someone worked around it in some places instead of correcting it in add_point.py. send_stoppage_alert_emails does not work around

[2016-11-07 17:10] eakuefner commented on #1811
Can this bug be closed? If not, what remains to be done, and can we bump the milestone?

[2016-11-07 17:20] eakuefner commented on #1669
This bug is obsolete, right? Can it be closed?

[2016-11-07 17:21] eakuefner commented on #1623
Can this bug be closed?

[2016-11-07 17:21] eakuefner commented on #1622
Can this bug be closed?

[2016-11-07 17:21] eakuefner commented on #1498
This bug is wontfix obsolete, right?

[2016-11-07 17:24] eakuefner opened #2980 "Multiprocessing in MRE is busted"
MRE's `ThreadedWorkQueue` doesn't properly shard out work across processors in a machine because it uses Python's `threading` module, which helps with threads that are concurrent but not parallel because of the global interpreter lock. We should ditch TWQ and replace it with a lightweight solution that delegates the threading to the OS scheduler.

[2016-11-07 17:29] eakuefner commented on #2979
@anniesullie Whoops, yes it is.

[2016-11-07 17:29] #2979 closed

[2016-11-07 17:30] eakuefner commented on #2946
@ulan This is the bug where we'll end up tracking updates on resizable table columns, which it looks like need to be implemented as a feature on the core tracing table widget.

[2016-11-07 17:33] eakuefner commented on #2946
Also, for posterity, note that above it says that @benshayden has added the 'Trace Viewing' and "Hotlist:v8" labels to this bug; that was actually me and this looks like a GitHub bug. Screenshot:

![vnk07wgqmdt](https://cloud.githubusercontent.com/assets/75990/20068335/2c297940-a4cd-11e6-96c0-c21f50197048.png)

[2016-11-07 18:17] #2956 closed

[2016-11-07 18:19] benshayden commented on #2828
What should run_metric share code with? It looks like it calls metric_runner.RunMetricOnTraces and results_renderer.RenderHTMLView.

[2016-11-07 18:51] #2240 closed

[2016-11-07 18:55] benshayden commented on #943
Looks like this is done?

[2016-11-07 18:55] #943 closed

[2016-11-07 18:55] #1550 closed

[2016-11-07 18:55] #1822 closed

[2016-11-07 18:56] #1824 closed

[2016-11-07 18:56] #1823 closed

[2016-11-07 18:58] eakuefner commented on #2449
Huh, I didn't initiate that title change. More fodder for the bug report I've filed with GitHub.

Ben, I think your new title actually provides less context for what this bug is about. It would be better to provide a title that says what this overall effort is about, and detail what you think the concrete steps are in a comment.

[2016-11-07 19:28] benshayden commented on #2449
I had changed the title because we aren't using mapper functions. PTAL

[2016-11-07 19:54] eakuefner commented on #2449
LGTM. Also, it still shows me that this new title change was made by me, so that seems to provide a concrete repro.

Just to let folks know, the way you file bugs with GitHub is by emailing them, so I've gotten a response from a rep that the team will look at it but no promises.

[2016-11-07 19:56] eakuefner commented on #2449
Folks, apologies in advance for the noise; I'm trying to use this issue to get repro steps to report this bug properly to GitHub.

[2016-11-07 20:11] jbudorick opened #2981 "CmdHelperIterCmdOutputLinesTest.testIterCmdOutputLines_success occasionally flakes on Linux"
e.g. from [here](https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Linux%20Tryserver/builds/5570):

[code]

[2016-11-07 20:43] zeptonaut commented on #2963
Nope, we don't support IE or Safari, so lack of compatibility there is okay. Our general rule is "if it's in the standards and supported in Chrome, go for it". This is also encouraged in the [airbnb style guide here](https://github.com/airbnb/javascript#es6-object-shorthand), so my vote is to go for it.

[2016-11-07 20:52] eakuefner commented on #2449
(Just an update: according to GitHub, there was an issue, but it has been fixed)

[2016-11-07 23:36] sunnyps commented on #2976
@skyostil LogcatMonitor.WaitFor stops receiving new logcat output. The record_to_file function in LogcatMonitor._StartRecording seems to only ready logcat output once and if the "Profiler finished..." line isn't in that, WaitFor will timeout. I changed record_to_file to look like this and got to adb_profile_chrome to not hang any more:

[code]

However, adb_profile_chrome still fails with the foll

[2016-11-07 23:38] Alex319 opened #2982 "Investigate regression on reference build in power metrics"
idle:power_avg power metric for about:blank on mac went up by a factor of 3 after a change to the power metrics. Investigate why this is the case.

[2016-11-07 23:48] progers opened #2983 "Tracing error: "ColorScheme is not defined""
In Chrome, I get the following error when using about:tracing:
Tracing error: "ColorScheme is not defined"

I think this may be related to the following recent commit:
https://github.com/catapult-project/catapult/commit/7c46a7e394ed53f69e5fef922db557f886e82a96

(Filed in Chrome under https://crbug.com/662301)

[2016-11-07 23:48] #2975 closed

[2016-11-07 23:54] Alex319 commented on #2982
I have figured out what is going on here. The cause of the regression is not an actual change in power use, but rather the RAIL stages. Changes to telemetry made it only look at the "rail" tracing category events, while changes to the Chrome code itself put the events in the "rail" category. Thus, prior to the "regression", these events were not in the trace and the whole trace was listed as "idle

[2016-11-08 00:53] Apeliotes opened #2984 "Choose style convention: Should variables be initialized at definition?"
Currently in tracing we have places where variables are defined but not initialized, and other places where they are initialized at definition time. We should pick a convention and enable the corresponding eslint rule.

[2016-11-08 00:57] Apeliotes opened #2985 "Integrate viewport major mark unit logic with tr.b.Unit"
tr.ui.TimelineViewport has logic to determine what unit to use (in the x-axis for example) for a given viewport size. This should be integrated into tr.b.Unit and TimeDisplayModes.

[2016-11-08 01:39] sunnyps commented on #2976
PerfTracingAgent uses adb directly to run perf but everything else uses the adb that ships with catapult. I fixed this by using adb_wrapper.AdbWrapper.GetAdbPath() to build the adb command in _PerfProfiler.__init__ in perf_tracing_agent.py.

[2016-11-08 04:57] benshayden commented on #2946
Nevermind, [table-layout:fixed won't work](http://jsbin.com/qasazequyu/1/edit?html,output).
Maybe I could make tr-ui-b-table manually propagate the drag-handle's events to every cell in the column. That might be pretty janky.
How about a button in the header cell to toggle the max-width? I can line it up with the ellipses and make it persistent in localStorage. It wouldn't require any delicate sur

[2016-11-08 14:59] perezju commented on #1811
I think there is nothing else to do in the short term (so closing), but I guess this is something to keep in mind while designing the new pipeline to get data from benchmarks to the dashboard.

[2016-11-08 15:05] agrieve opened #2986 "Perf Dashboard: /report?end_rev is being ignored."
E.g.:
https://chromeperf.appspot.com/report?sid=f8be4459943df7093c2c0cdfa83b9350c742c4da55093717a3f0633ac95b5e2a&num_points=150&end_rev=051a90313eb6f6851bb463e415d73d8556d3366d

According to the [docs](https://github.com/catapult-project/catapult/blob/master/dashboard/docs/pages-and-endpoints.md), end_rev= should do something.

I also tried using the chromium commit number, but no difference.

I'd

[2016-11-08 15:56] zeptonaut opened #2987 "Add parent process ID to CPU snapshots"
It would be useful to see the parent process ID in CPU snapshots. When we do this, we probably want to stop all filtering: otherwise, a child process might point fingers at a parent process who (sadly) didn't have the required CPU or memory load to show up in the process list, making that parent process ID less useful.

[2016-11-08 17:19] chromy opened #2988 "run_benchmark --browser=android-webview hits actual network for all requests"
Running locally:
[code]
Doesn't work for either @perezju or me when the device has wifi turned off.
This makes it hard to dig into regressions locally.
The bots seem to be fine which is interesting.

[2016-11-08 19:30] Alex319 opened #2989 "Make min and max power diagnostics for average power"
Make the power_min and power_max metrics diagnostics of the power_avg metrics, rather than their own metrics.

[2016-11-08 19:32] Alex319 opened #2990 "Use individual power samples for power metrics, one sample per UE for energy metrics"
Currently, we have only one sample per trace in the histogram for both power and energy metrics. This should be changed so that instead we have:

- For power metric, one sample in histogram for each power sample in the given region.
- For energy metrics, one sample in histogram for each UE with the given title.

[2016-11-08 19:51] danw commented on #2935
I'm still hitting this even with the latest change, as I use http://github.com/nico/ninjatracing to generate traces from our android builds. In some cases, those are well over 5000 seconds (extra-large builds, slow machines, something hanging due to a bad machine, etc).

It's annoying that this was a silent error for the user, just showing up in the console log. If there's going to be a limit, the

[2016-11-08 20:30] zeptonaut commented on #2935
Hi @danw,

Sorry for the frustration. Could you attach the trace causing the problems?

[2016-11-08 20:42] benshayden commented on #2989
Why?

[2016-11-08 20:46] benshayden commented on #2990
Why?

[2016-11-08 20:48] anniesullie commented on #2463
This is fixed.

[2016-11-08 20:48] #2463 closed

[2016-11-08 20:48] anniesullie commented on #2333
This is now fixed.

[2016-11-08 20:48] #2333 closed

[2016-11-08 21:23] zeptonaut opened #2991 "CPU time percentage metric should only report average aggregate metric"
Right now, the CPU time metric reports the aggregate metrics `_avg`, `_std`, `_min`, `_max`, `_count`, and `_sum`. We only really care about the average metric: we should disable the others.

[2016-11-08 21:46] #2987 closed

[2016-11-08 22:12] vmpstr commented on #2983
Currently this makes it not possible to view a trace on mac on canary for me, so I think this is important to fix.

[2016-11-08 22:14] anniesullie commented on #2983
@Apeliotes can you take a look?

[2016-11-08 22:14] progers commented on #2983
This was just fixed in https://bugs.chromium.org/p/chromium/issues/detail?id=662301.

Should be in tomorrow's canary.

[2016-11-08 23:51] Apeliotes opened #2992 "Update tracing UI to support Dashboard-type charts."
To move toward sharing charting code between tracing and dashboard, tracing needs to support charts that look like dashboard charts.

This includes:

Adding y-axis, adding alert icons, allowing non-stepping graphs, etc.

[2016-11-09 03:25] anniesullie commented on #2988
@nedn any ideas?

[2016-11-09 03:36] nedn commented on #2988
How do I reproduce?

[2016-11-09 16:17] phoglund opened #2993 "Perf Dashboard: edit_sheriffs not listing all monitored tests?"
Chrome version: 54.0.2840.90 (Linux)
URL: https://chromeperf.appspot.com/edit_sheriffs

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):
No errors.

Please describe the problem:
1). I go to edit_sheriffs and edit the WebRTC rotation. I add
  ChromeOSVideo/*/video_WebRtcCamera/*
  ChromeOSVideo/*/video_WebRtcPeerConnectionWithCamera/*
2) I click submit. The page says

[2016-11-09 18:28] #2991 closed

[2016-11-09 18:35] zeptonaut opened #2994 "after_load:power and idle:power not being reported"
([perf dashboard link](https://chromeperf.appspot.com/report?sid=f7b87aa77382a21b2b02a1f33c215dab467cfc5e2b91039dbf76196ee59cd3d2&start_rev=421483&end_rev=430930&rev=426756), [example trace link](https://console.developers.google.com/m/cloudstorage/b/chrome-telemetry-output/o/trace-file-id_0-2016-11-09_07-40-35-38380.html))

It looks like, since 10/27, idle:power_avg is no longer being reported fo

[2016-11-09 19:04] eakuefner opened #2995 "run_benchmarks_locally should make a note of the available system browser options"
For ease of use, it would be nice if run_benchmarks_locally listed some of the different potentially available browsers.

[2016-11-09 21:10] progers commented on #2983
I am still getting errors when using tracing in canary and tip-of-tree builds:
Cannot read property 'getColorIdForReservedName' of undefined TypeError: Cannot read property 'getColorIdForReservedName' of undefined

[2016-11-09 21:13] progers commented on #2983
For folks blocked by this: you can work around this by adding an early return in model_track.html as the first line of drawVSyncHighlight.

[2016-11-09 21:45] rschoen opened #2996 "Data stoppage alert leads to graph with no data"
I have about ten graphs (one example below) from data stoppage alerts that show no data whatsoever when I view them. I'm logged into my Chromium account.

https://chromeperf.appspot.com/report?sid=53e7459c3c0730e175a5d0c4c5a8ef30e97bee3c7ac5fa924958e3dc601db48f

[2016-11-09 21:56] anniesullie commented on #2996
It actually has a single data point, which is really hard to see in the graph UI. I'm not sure the best way to deal with this--we got 1 data point from a monitored timeseries on 10/22, then nothing else. I don't think it's really a special case?

[2016-11-10 01:18] danw commented on #2935
Here's one of our traces that is about 7700 seconds long: [ninja_log.json.gz](https://github.com/catapult-project/catapult/files/582319/ninja_log.json.gz). It loads fine with trace2html if I disable the CpuUsageTrack.

[2016-11-10 11:13] chromy commented on #2988
I think something like this:

Build the apks
[code]

Remove the  system webview
[code]

Install the apks
[code]

Run the tests
[code]

[2016-11-10 13:15] nedn commented on #2988
Thanks, I will try this out.

[2016-11-10 14:00] perezju commented on #1811
Re-opening because I just noted that bisects auto-started during triage when filing a new bug do not use the story filter. I'll try to get this fixed too.

Relevant source code pointers for that flow:
https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/file_bug.py#L154

[2016-11-10 15:09] nedn commented on #2988
I am getting
[code]

[2016-11-10 16:04] perezju commented on #2988
Do you have an Android checkout?

As an alternative, you could get the apks from, e.g., the "gsutil upload_apks_for_bisect" step on the [Android Builder](https://build.chromium.org/p/chromium.perf/builders/Android%20Builder/builds/121587)

[2016-11-10 19:41] vmpstr opened #2997 "Cannot read property 'getColorIdForReservedName' of undefined TypeError: Cannot read property 'getColorIdForReservedName' of undefined"
When displaying a trace on mac (canary), it fails to display with the error:

tracing.js:2026 Cannot read property 'getColorIdForReservedName' of undefined TypeError: Cannot read property 'getColorIdForReservedName' of undefined
    at HTMLDivElement.drawVSyncHighlight (chrome://tracing/tracing.js:4406:36)
    at HTMLDivElement.drawTrack (chrome://tracing/tracing.js:4395:65)
    at HTMLDivElement.

[2016-11-10 22:44] fmeawad commented on #2868
Agreed.

[2016-11-10 22:44] #2868 closed

[2016-11-11 16:08] nedn opened #2999 "inspector_runtime.EvaluateJavaScript occasionally throws non useful exception"
From:
https://bugs.chromium.org/p/chromium/issues/detail?id=664521
https://bugs.chromium.org/p/chromium/issues/detail?id=664518

We have examples whereas a failure in executing javascript just returns a very non useful message "Uncaught". We should improve the error reporting for these cases.

[code]

[2016-11-11 16:08] nedn commented on #2999
@perezju @randalnephew

[2016-11-11 16:23] nedn commented on #2999
I think the way to improve this is to better assemble the whole exception message based on data from devtool: https://cs.chromium.org/chromium/src/v8/src/inspector/js_protocol.json?rcl=0&l=167

[2016-11-13 02:48] Warewolf96 commented on #2478
Hello @eakuefner

Is this issue resolved, I cloned catapult and checked for 'page' field in all the files but couldn't find any

[2016-11-14 03:08] #2797 closed

[2016-11-14 12:18] phoglund commented on #2993
Ping

[2016-11-14 20:52] eakuefner commented on #1678
Looks like this has been fixed.

[2016-11-14 20:52] #1678 closed

[2016-11-14 21:39] eakuefner opened #3000 "Scalar should be moved to base and numeric.html should be eliminated"

[2016-11-14 21:40] eakuefner opened #3001 "GenericTable is dead code, and generic-table-view is unnecessary"
???

[2016-11-14 21:54] benshayden commented on #3001
Oh, actually, it is used in [timeline_view_metadata_overlay.html](https://github.com/catapult-project/catapult/blob/ff40d4569c8bcf2eed27ed49682e7b8198d24dc1/tracing/tracing/ui/timeline_view_metadata_overlay.html#L21), but that should use tr-ui-b-table.

GenericTable is unused, though.

[2016-11-14 23:07] eakuefner commented on #2478
Nope, it's not.

[2016-11-14 23:15] zeptonaut opened #3002 "Windows CPU tracing agent should give more information about the process name when possible"
Right now, it only shows the one word description of the process (e.g. "Explorer"), whereas Linux and Mac snapshots give the whole command used to start the process. This is possible on Windows via querying more data via wmic, and we should do so in order to provide more actionable information.

[2016-11-14 23:51] Alex319 opened #3003 "VideoPlayback events not being translated into video animation RAIL stages"
"Video Animation" RAIL stage events are not being created.

[2016-11-15 15:32] nedn commented on #2999
@andrey-malets

[2016-11-15 15:33] nedn commented on #2999
For the record, @andrey-malets 's commit in https://github.com/catapult-project/catapult/commit/08374f2157484efc50451130a41eff6467507694 helped address some the actionability issue.

[2016-11-15 16:04] #1669 closed

[2016-11-15 16:05] #1623 closed

[2016-11-15 17:30] eakuefner opened #3004 "We can't statically enforce certain eslint rules because --fix doesn't work"
Certain eslint rules that can be fixed using --fix would be good to enable, but are infeasible to fix by hand in Catapult. There are at least two that I know of, 1TBS and `let`. @zeptonaut is looking into fixing the upstream issue. If that gets done, then we can probably --fix and enable these two rules.

[2016-11-15 18:01] zeptonaut commented on #3004
This is tied closely with eslint/eslint#7510.

[2016-11-15 18:23] eakuefner opened #3005 "process_traces vs run_metric branding is confusing"
For bulk processing traces, we tell people to use `process_traces`, which supports both mappers and metrics. However, we also have `tracing/bin/run_metric` which supports only metrics but has enhanced feature support, such as being able to produce results2.

We should unify `process_traces` and `run_metric` into `tracing/bin/process_traces` to give folks a cohesive entry point for bulk trace proce

[2016-11-15 20:34] anniesullie commented on #2996
WontFixing cause this is a weird edge case.

[2016-11-15 20:34] #2996 closed

[2016-11-15 20:43] anniesullie commented on #2869
Can't reproduce any longer.

[2016-11-15 20:43] #2869 closed

[2016-11-15 20:45] anniesullie commented on #2774
This is a big problem for group_report?rev=, when there are positive and negative changes, they get intermixed.

[2016-11-15 20:49] anniesullie commented on #2721
Would be really great to use tracing's unit display to show the absolute delta.

[2016-11-15 22:24] jeremyroman opened #3006 "--profiler=trace output is not readable by chrome://tracing"
Repro steps (Chromium):

`tools/perf/run_benchmark blink_perf.bindings --browser=system --story-filter=structured-clone-long-string-serialize --profiler=trace`

The same thing happens with Android chrome_public_apk built at tip of tree. If the resulting .zip file is opened with chrome://tracing (on stable Chrome or on a ToT Chromium build), no trace events appear. If I unzip it, I see that the out

[2016-11-15 22:36] lpy opened #3007 "Support V8 Inline caching statistics"
Tracking bug for implementation to support V8 IC statistics in catapult.

[2016-11-15 23:27] Apeliotes opened #3008 "Support secondary y-axis to allow graphing on two axis at once."
Each chart_series has it's own axis. If two chart_series have mismatched axes, they can't currently be graphed on the same chart.

[2016-11-15 23:49] benshayden commented on #2846
This is fixed for histogram-span in https://codereview.chromium.org/2492023003
Fixing it generally for all charts is not feasible because the click event doesn't work (see that CL).
histogram-span is currently the only chart client that supports brushing.
If new chart clients support brushing, then they will need to support clearing the brushedRange in their own way.

[2016-11-15 23:49] #2846 closed

[2016-11-16 00:27] #1689 closed

[2016-11-16 02:26] nedn commented on #2999
This is done.

[2016-11-16 02:26] #2999 closed

[2016-11-16 09:54] phoglund commented on #2993
Ping

[2016-11-16 10:06] phoglund commented on #2993
I think I know why this happens: another sheriff rotation was already picking up the alerts.

The above behavior is still buggy and confusing; edit_sheriffs should not say it added the tests when it actually didn't.

[2016-11-16 12:24] #2670 closed

[2016-11-16 12:56] camillobruni opened #3009 "500 Server Error when posting results"
We've had an issue with our runtime stats benchmarks yesterday.
We saw a "500 Server Error. The server encountered an error and could not complete your request. Please try again in 30 seconds." during two uploads.

We run our runtime benchmarks in two configuration (default and with ignition switched on). Weirdly enough enough we've seen the error only while uploading the second set. We only uploa

[2016-11-16 13:58] anniesullie commented on #3009
Based on the time elapsed, looks like we hit the 60s timeout for processing an app engine request. A link to the JSON would be very helpful. In the short term, if it's possible to break up into multiple requests it would probably work around the problem.

I'm looking through the logs for the past two days and I see a few problems that could be related to this, I believe my timestamps are US Easter

[2016-11-16 14:19] camillobruni commented on #3009
I think I've seen this maybe once before. Between yesterday and today we had issues with only two revisions.
We might have increased the posted data by a bit since I added some more probes yesterday (~30 sites * 4 probes = 120 more data points per config)

[2016-11-16 14:36] anniesullie commented on #2993
This is a pretty big edge case, trying to sheriff the same test under two rotations.

In the long term, we are moving in a direction where the test will configure its monitoring when it is uploaded, so that things like this will be clearer.

I think we can close this for now?

[2016-11-16 14:36] #2993 closed

[2016-11-16 14:38] phoglund commented on #2993
Fair enough.

[2016-11-16 18:41] benshayden opened #3010 ""ref_ref" memory metric subtest on dashboard?"
@Apeliotes @nedn @perezju

https://chromeperf.appspot.com/report?sid=110821072ed0a8a740c3e27c44b949d23844bfa6770ddbfb2f1293c9915eade8&rev=429305

The dashboard shows a disabled time-series name "ref_ref" on this chart.
Neither @Apeliotes nor I could figure out what it means.
Is the story named "ref"? Or did the dashboard get confused?

[2016-11-16 19:00] benshayden opened #3011 "Lots of "Error creating bug" when triaging alerts and cc-ing someone"
@anniesullie @Apeliotes

I managed to create a couple of bugs, but the dashboard is fairly consistently failing to create bugs when triaging alerts, even for a single alert at a time.
Workaround: crbug.com/new

[2016-11-16 19:07] benshayden opened #3012 "Alert triage bug form sets "Performance-Sheriff", which is a non-standard label"
crbug.com/new only offers "Performance-Sheriff-Regression" and "Performance-Sheriff-BotHealth", not "Performance-Sheriff".

Should monorail offer "Performance-Sheriff" as a standard label, or should the dashboard set "Performance-Sheriff-Regression" for new alert triage bugs?

@anniesullie @Apeliotes

[2016-11-16 19:10] anniesullie commented on #3012
@eakuefner I think you led the work to convert Performance-Sheriff -> Performance-Sheriff-Regression and Performance-Sheriff-BotHealth, but the bugs and dashboard were never updated to use Performance-Sheriff-Regression. Should we change the dashboard+existing bugs, or the autocomplete in crbug?

[2016-11-16 19:10] chromy commented on #2925
It's a little sad we can't easily enter strings with apostrophes in without escaping :(
But also I think this is done now right since nice I got an error about using the wrong kind of quotes and it looks like it is enabled in .eslintrc?

[2016-11-16 19:10] #2925 closed

[2016-11-16 19:15] anniesullie commented on #3010
I can't figure out how that link was generated. I tried to add the ref build by hand in /report and it gave me the expected chart: https://chromeperf.appspot.com/report?sid=7f3366d2c23d489198d1157fb192e9dc5ffb84b63d5807eb43fa08e6822be935 (the sid is a hash, so it's clear I have a different set of charts than in the link in the report)

It does look like there is some confusion in code somewhere th

[2016-11-16 19:21] anniesullie commented on #3011
Wait, instead of working around, let's try and debug the problem. I'm going to add some additional logging, looks from the error like monorail service is failing.

[2016-11-16 19:23] anniesullie commented on #3011
Also note bisects won't automatically kick off if you don't file through the dashboard.

[2016-11-16 19:41] anniesullie commented on #3011
Okay, new version of dashboard with additional logging deployed. Please file bugs through perf dashboard and let me know if you still see problems.

[2016-11-16 19:45] anniesullie commented on #3012
@Benhenry FYI on perf sheriff labels

[2016-11-16 20:30] benhenry commented on #3012
@anniesullie - I'm going to collect all of the labels we have on crbug.com.

This bug is specifically about updating the templates. We can do that. Which templates do we need? Performance-Sheriff seems to make the most sense, do we need $1-BotHealth as well?

[2016-11-16 20:35] anniesullie commented on #3012
We definitely need a separate label for BotHealth bugs! They are currently filed as Performance-Sheriff-BotHealth, and the labels at http://go/perfbot-sheriff are up to date. So I think the bot health sheriff is fine, it's just there's a discrepancy for regression sheriff.

[2016-11-16 20:37] anniesullie commented on #3011
Looks like this is specifically when cc-ing someone.

[2016-11-16 20:45] benshayden commented on #3011
@anniesullie mentioned offline that the html form inserts a space after the comma when trying to cc multiple people, so monorail says that " benjhayden@chromium.org" is invalid.
When building the create issue request, the dashboard should strip each element of the cc array.
Easy fix. :+1:

[2016-11-16 21:29] zeptonaut commented on #2925
Yep, @Alex319 went ahead and enabled it.

[2016-11-16 21:36] chromy commented on #2758
Looks like this is fixed now? :)

[2016-11-16 21:36] #2758 closed

[2016-11-16 21:40] anniesullie commented on #2986
A couple of things going wrong here:

  1. The `end_rev` needs to be combined with a `start_rev`, like so: https://chromeperf.appspot.com/report?sid=f8be4459943df7093c2c0cdfa83b9350c742c4da55093717a3f0633ac95b5e2a&num_points=150&end_rev=430517&start_rev=430510
  2. The `end_rev`, `start_rev` and `rev` params need to be the "Point id" from the tooltip

Note if you want it to be centered around the

[2016-11-16 21:53] chromy commented on #1901
I'm going to close because I think this is fixed now? :)

[2016-11-16 21:53] #1901 closed

[2016-11-16 22:17] rsesek opened #3013 "Perf Dashboard: Feature Request: Show intercept for a specific revision"
Chrome version: 56.0.2920.0 (Mac)
URL: https://chromeperf.appspot.com/report?sid=0ad66a520656c12b27dee814adc6597fa1f7ae03c1de28ab04ddf1fd715313b8

Please copy and paste any errors from JavaScript console (Command+Option+J to open):

Please describe the problem:
This is a feature request.

When looking at perf graphs, I sometimes want to see if my CL has any effect. Currently this can only be done

[2016-11-17 05:00] chromy commented on #2918
It looks like that benchmark has moved to https://chromeperf.appspot.com/report?sid=a17c48033d83c0e25776306c7bf2a7dbd5c50c7ce2799fcf6b1f5d8d0a512851&rev=234467 (although that is a slightly newer version of macOS)

[2016-11-17 05:00] #2918 closed

[2016-11-17 10:27] perezju opened #3014 "Do not use "point id" where "commit position" would be more appropriate"
**Context:** The dashboard requires a *point id*, a monotonically increasing integer, to uniquely identify builds and sort them in the correct order e.g. in graphs. In most places the *chromium commit position* fulfills this role. On internal builds, however, the commit position does not uniquely identify builds and, thus, unix time stamps are used there as point ids instead.

**Problem:** In many

[2016-11-17 15:40] anniesullie commented on #3013
@eakuefner @Apeliotes @benshayden FYI

We are working on improving the graph UX and will definitely keep this in mind.

In the meantime, we do have another feature on the dashboard that's not what you requested, but might be useful: https://chromeperf.appspot.com/group_report?rev=XXXXX (replace XXXXX with chromium commit pos). It will show you all the performance changes the dashboard detected in

[2016-11-17 15:48] #2983 closed

[2016-11-17 17:14] chromy commented on #2913
I think @Alex319 added a  .eslintignore file in  https://chromiumcodereview.appspot.com/2422713002/
So it looks like this is done?

[2016-11-17 17:14] #2913 closed

[2016-11-17 17:43] eakuefner commented on #3012
@anniesullie to answer your question, yes, I think that covering regression sheriffing just slipped my mind when I was working on this.

I think that to fix the regression sheriffing rotation:

1. The dashboard will need to be updated
2. The Markdown doc will probably also need to be updated
3. All Performance-Sheriff bugs should be bulk edited to Performance-Sheriff-Regression.

Basically the sam

[2016-11-17 17:45] anniesullie commented on #3012
@eakuefner make sure you're on the same page as @benhenry for what the labels should be (or whether we should wait on having some kind of speed component hierarchy)

[2016-11-17 17:49] chromy commented on #2775
I guess this is fixed now :)

[2016-11-17 17:49] #2775 closed

[2016-11-17 17:52] eakuefner commented on #3012
The consensus when we worked with laforge@ to get the labels revamped was that Performance-Sheriff-BotHealth would be for bothealth bugs and Performance-Sheriff-Regression would be for regression bugs, to address concern about the ambiguity of the Performance-Sheriff label. As a result, Performance-Sheriff isn't officially listed in Monorail.

[2016-11-17 17:58] benhenry commented on #3012
When did you last work with laforge? Let's figure out what's right for us
and do that.

If we need things officially listed in Monorail, I can help with that.

Ben

On Thu, Nov 17, 2016 at 9:52 AM Ethan Kuefner <notifications@github.com>
wrote:

[2016-11-17 18:09] eakuefner commented on #3012
Context is in https://bugs.chromium.org/p/chromium/issues/detail?id=574545 -- looks like it was at the beginning of this year.

[2016-11-17 21:32] benshayden commented on #2736
Update: GenericTable is dead.

Acronyms like "tbm" are not great names. What should we rename it to instead?

[2016-11-17 23:58] benshayden commented on #2970
Thank you for putting the doc together! :-)
Looking at the list of special purpose colors, it looks like it's composed of several groups of colors.
My hypothesis is that each of those groups of colors could be split into a separate FixedColorScheme class, likewise for the ChromeUserFriendlyCategoryDriver colors and memory breakdown colors.
The remaining use-case for ColorScheme (General Colors) se

[2016-11-18 02:29] Apeliotes opened #3015 "Add TimeMode to TimelineViewport"
Tracing should support revisions and long times as the x-axis unit.

This is mainly needed for using the tracing library for dashboard charts.

[2016-11-18 05:29] chromy commented on #2872
The relevant lines we would need to change are:
[HTML Output](https://github.com/catapult-project/catapult/blob/bea54e53a27aa0697b4bf7bbe31f89366906b0d6/telemetry/telemetry/internal/results/html_output_formatter.py#L188)
[HTML2 Output](https://github.com/catapult-project/catapult/blob/bea54e53a27aa0697b4bf7bbe31f89366906b0d6/telemetry/telemetry/internal/results/html2_output_formatter.py#L32)

They

[2016-11-18 09:42] perezju commented on #2872
+ @nedn @anniesullie @eakuefner what are your thoughts on this?

[2016-11-18 15:57] anniesullie commented on #2872
I don't know the reason for this. @Apeliotes @eakuefner do you know?

[2016-11-18 16:05] Apeliotes opened #3016 "Move Unit.getPreferedNumberLargerThanMin from a class function to an instance function"
This is needed for the TimelineViewport to be able to correctly pick the preferred numbers for longTimeDuration, because longTimeDuration is not a metric unit.

Steps:
Finish benjhayden's TODO in tr.b.Unit for refactoring and testing format and unitString.

Use the factored out behavior of getting the correct prefix to enable converting of the min value passed in to getPreferedNumberLargerThanMin

[2016-11-18 17:17] eakuefner commented on #2872
This isn't WAI. The fix is exactly what @chromy suggests, and I support it.

[2016-11-18 17:36] simonhatch opened #3017 "Dashboard - Bisect went to wrong bot"
Really sure I didn't mess around with the dropdowns or anything, had nexus 7 selected and kicked off a bisect on staging. First one actually went to nexus 5x instead. Subsequent bisects went to right bot.

[2016-11-18 18:02] eakuefner opened #3018 "Remove simple_mock"
This is a rehash of crbug.com/517499, which is a super old bug that has (rightly) been archived since these sorts of bugs now belong in Catapult.

TL;DR:
* `simple_mock` contains some functionality duplicated by the built-in `mock` library. It should be removed and subsumed by use of the `mock` library where appropriate
* There's a fake timer class that is misleadingly called a mock ([Fowler](http

[2016-11-18 19:10] simonhatch commented on #3017
Ah it looks like this only happens when I select staging, since there isn't a staging bot for every bot for every normal bot.

[2016-11-18 19:10] #3017 closed

[2016-11-18 19:16] eakuefner opened #3019 "Remove --profile-dir and --profile-type"
This is a port out of https://bugs.chromium.org/p/chromium/issues/detail?id=546153 -- I think we still probably want to remove --profile-dir and --profile-type from Telemetry.

@nedn

[2016-11-18 21:17] benshayden opened #3020 "Rename CsvPivotTableOutputFormatter to CsvOutputFormatter"
This class doesn't actually compute pivot tables. @eakuefner

It could maybe also be deleted soon?

[2016-11-18 22:55] anniesullie commented on #3014
@eakuefner @jessimb because this would be a big improvement to sheriffing for downstream Android; we should slot this into the work @jessimb is doing in that direction.

Some technical notes:
We already have `a_default_rev` on the `Row` entity which controls which revision shows up in the x-axis of the chart. I think it is a bug that `a_default_rev` is not the display revision on the alerts table

[2016-11-20 16:26] TshepoMokoena commented on #3018
@eakuefner   Hi this is my first time trying to contribute to an open source project , could help me locate the code for this issue

[2016-11-21 09:42] perezju commented on #3014
I think setting `a_default_rev` to `r_commit_pos` for downstream and using it for display and overlap calculations would be a huge improvement. It also does sound to me like a neat and clean solution.

For overlap computation I think this is the best we can do, and introducing any further complexity (e.g. trying to properly sort git hashes) would only give us more headaches and very little in retu

[2016-11-21 16:05] anniesullie commented on #2964
@eakuefner @jessimb - another one for Jessi's project to improve perf sheriffing.

[2016-11-21 17:32] benhenry commented on #3014
Naively, could we adjust how we compute build/CL ranges by using Git hash
nomenclature instead of monotonically increasing numbers - which are
completely artificial and arbitrary on trunk?

On Mon, Nov 21, 2016 at 1:43 AM Juan A. Navarro Pérez <
notifications@github.com> wrote:

[2016-11-21 19:15] eakuefner commented on #3018
Hi @TshepoMokoena -- you can search for files using `git grep` or GitHub's file finder: https://github.com/catapult-project/catapult/find/master which you can get to from the top-level Catapult project page. by pressing `t`. In this case, using the GitHub finder and typing the first few characters of `simple_mock` gets me to https://github.com/catapult-project/catapult/blob/master/telemetry/teleme

[2016-11-21 21:00] #2056 closed

[2016-11-21 21:37] cwatk opened #3021 "Perf Dashboard: feature request: allow adding components to new bugs"
When I file a new bug for perf alerts I can't set the component field. The form has a "component:" label but no box to fill in.

[2016-11-21 21:41] cwatk opened #3022 "Perf Dashboard: feature request: Leave a note for why an alert is invalid."
It would be nice if we could write a sentence or two on why we've marked an alert invalid. Currently you have to file a bug and write it there, which is a bit heavyweight.

[2016-11-21 22:03] benshayden opened #3023 "test errors in chart_track and x_axis_track"
TypeError: Cannot read property 'Symbol(Symbol.iterator)' of undefined
    at HTMLDivElement.drawChart_ (http://localhost:8003/tracing/ui/tracks/chart_track.html:190:29)
    at HTMLDivElement.draw (http://localhost:8003/tracing/ui/tracks/chart_track.html:152:16)
    at HTMLDivElement.drawTrack (http://localhost:8003/tracing/ui/tracks/track.html:97:12)
    at http://localhost:8003/tracing/ui/tracks

[2016-11-21 23:43] jessimb opened #3024 "load_from_prod returning errors"
I am trying to use load_from_prod with a local version of catapult running and get
"Could not fetch https://chromeperf.appspot.com/dump_graph_json?sheriff=Chromium%20Perf%20Sheriff&num_alerts=10&num_points=100"

When I go to the above link, I get a 200 OK, so I'm not sure why load_from_prod isn't working.

Along the same lines, we've discovered that when you are signed into the dashboard, dump_gra

[2016-11-22 08:03] chromy commented on #2872
Thanks all! (CL uploaded here https://codereview.chromium.org/2518943004/)

[2016-11-22 14:37] anniesullie commented on #3014
@benhenry - We currently don't have any way to do definitive ordering of git hashes. So as @perezju says, this would add a lot of complexity in code that computes overlaps and such. I think commit positions solve our problems without adding too much complexity.

[2016-11-22 16:12] anniesullie commented on #3024
The problem is the way the data is indexed. If you go to go/chromeperf-logs and type `path:/dump_graph_json` into the search you'll see the error:

[code]

We used to have indexes for both signed out and signed in users for the queries load_graph_from_prod does. But that added an extra 12TB of indexes. It broke when I removed them.

I think the right thing to do is:
1. Only support externally avai

[2016-11-22 16:23] zeptonaut opened #3025 "Benchmark owners sheet on the perf dashboard points to the wrong spreadsheet"
It points to https://docs.google.com/spreadsheets/d/1R_1BAOd3xeVtR0jn6wB5HHJ2K25mIbKp3iIRQKkX38o/view#gid=0, the old spreadsheet, instead of https://docs.google.com/spreadsheets/d/13p8J_m1ERq9VD6WaPXMQ3-MXNjVPt5GukEgI-JCcWA0, the new one.

[2016-11-22 16:23] zeptonaut commented on #3025
cc @nedn

[2016-11-22 17:52] eakuefner commented on #3024
Thanks Annie for the explanation! I think your fix sounds great.

Jessi and I did some digging through the logs yesterday and found exactly this exception, but I was baffled because I figured (wrongly) that indexes and authentication would be orthogonal.

[2016-11-22 17:57] anniesullie commented on #3024
Take a look at https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/common/datastore_hooks.py for some context; the basic issue is that we want to disallow any queries from logged out users from ever accessing internal data. So we hook the datastore to check the `internal_only` property on all queries. But this requires indexing. In most places we do a permission check and

[2016-11-22 18:22] benshayden opened #3026 "Allow assertions in instantiation tests"
The [style guide](https://github.com/catapult-project/catapult/blob/master/docs/style-guide.md#tests) currently discourages assertions in instantiation tests, though I've never understood why.

I have found it tremendously useful in [histogram_set_table_test](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/value/ui/histogram_set_table_test.html) to both display histogram-s

[2016-11-22 18:28] eakuefner commented on #3026
I agree that instantiation tests should be allowed to make assertions, and I feel like we should maybe remove this section. In fact, I wasn't even aware of the prohibition imposed in the style guide, and have *recommended* that people make judicious assertions where reasonable.

I don't think the term "instantiation test" is well-defined for any of us, and I don't see the harm in allowing assertio

[2016-11-22 19:24] zeptonaut commented on #3026
I think that one goal of this part of the style guide is to try and guarantee that we test behaviors independently ([as suggested by the Google unit testing best practices](http://bit.ly/2fZZFKX)). Something like this could is a great test:

[code]

whereas with something like this, we're testing multiple behaviors in a single test, and we really should have written multiple tests:

[code]

I wond

[2016-11-22 20:07] benshayden commented on #3026
:+1: to testing behaviors independently, though that seems to me to be compatible with making assertions in instantiation tests.

Can you say more about what an "instantiation test" is? I haven't heard the term in any other context, and it was never explained to me in a way that I could relate it to other concepts. Googling turns up some interesting things, though none of them are particularly enl

[2016-11-22 23:21] #2963 closed

[2016-11-23 12:33] skyostil opened #3027 "Trace Viewer: counter labels missing"
Counter labels are now showing up as white rectangles in Trace Viewer:

![broken_counter_labels](https://cloud.githubusercontent.com/assets/118517/20561924/e9558254-b178-11e6-8f69-96db8b843c80.png)

[2016-11-23 14:37] perezju opened #3028 "Bad interpolation of python values into JavaScript snippets"
For example:

    action_runner.ScrollPageToElement(selector='.r > a[href*="wikipedia"]')

Fails with:

    EvaluateException: UncaughtSyntaxError:
    SyntaxError: missing ) after argument list

[2016-11-23 15:45] chromy commented on #3027
Think I found the cause.

[2016-11-23 15:49] chromy commented on #3027
CL: https://codereview.chromium.org/2521893004/

[2016-11-23 16:59] nedn opened #3029 "record_wpr script is very confusing"
1) The benchmark naming it is using is different from that of run_benchmark command
2) When the benchmark is disabled on a current platform, it doesn't tell the users that the benchmark is available but not enabled on the current platform that they are using for recording.

[2016-11-23 17:37] #3027 closed

[2016-11-23 18:30] rschoen opened #3030 "Trace viewer displays no trace events"
Investigating crbug.com/667391, in comment 10 the reporter posted a trace but when I open it I get lots of threads and no trace events. Attached the trace and a screenshot of what I see.

Trace was taken on Mac with Chrome 55.0.2883.52, I'm trying to open on a Chromebook with 55.0.2883.54.

![screenshot 2016-11-23 at 10 27 21 am](https://cloud.githubusercontent.com/assets/3644011/20574078/b249c4ca

[2016-11-23 19:21] zeptonaut opened #3031 "Migrate from iterItems() to ES8's Object.entries and Object.values"
I'd like to approve [`Object.entries()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/entries) and [`Object.values()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/values), which are both part of the ES8 spec.

I know that we should generally be wary of adopting any features that are still experimental into our c

[2016-11-23 20:16] zeptonaut commented on #3030
I have an unconfirmed hunch that this is related to the performance regression that we've seen lately in importing. I gunzipped the trace and put it in the tracing/test_data directory at HEAD and was able to open it once with the data being displayed out of 15 or so attempts: on the others, either the tab crashed, the page loaded and was blank, or the page never loaded. This flakiness makes me thi

[2016-11-23 20:33] zeptonaut opened #3032 "Trace is unreadable because slices take up no vertical space"
Steps to reproduce:

- Load Chrome Canary
- Record a trace

Expected: a normal trace
Actual:
<img width="1230" alt="screen shot 2016-11-23 at 3 29 01 pm" src="https://cloud.githubusercontent.com/assets/1407397/20577766/d57c62c0-b191-11e6-8413-90eec5af37f7.png">

[2016-11-23 20:33] zeptonaut commented on #3032
/cc @eakuefner @Apeliotes @benshayden @nedn

[2016-11-23 20:36] benshayden commented on #3030
This looks like https://github.com/catapult-project/catapult/issues/563

[2016-11-23 20:39] zeptonaut commented on #3032
Sigh. Closing this. As @benshayden pointed out, this is just the expected UI for the NetLog. If you scroll down, events appear as normal.

[2016-11-23 20:39] #3032 closed

[2016-11-23 20:44] zeptonaut commented on #3030
+lots to @benshayden's comment. This is by far the most likely explanation. @rschoen, can you ask for the trace to be rerecorded without so many tabs open?

[2016-11-23 20:46] rschoen commented on #3030
Done, will report back.

[2016-11-23 20:47] nedn commented on #3030
I remember the time's solution is to collapse all the threads by default when their count is high.

[2016-11-23 21:36] fmeawad opened #3033 "Results too big to be uploaded to dashboard"
I have recently added a test that produces a set of Histograms. Each histogram is transformed into a set of scalar values and gets uploaded to the dashboard.

It seems that we are reaching some limit when attempting to upload those results to the dashboard.
Ex link: https://build.chromium.org/p/chromium.perf/builders/Mac%2010.11%20Perf%20%281%29/builds/3660/steps/v8.runtime_stats.top_25/logs/json.

[2016-11-24 10:47] skyostil commented on #3027
Thanks for the quick fix!

[2016-11-24 13:35] nedn commented on #3020
+1 for fixing this mess

[2016-11-25 10:18] andrey-malets opened #3034 "Warnings from eslint about ignored files being treated as errors by presubmit script"
Example CL: https://codereview.chromium.org/2525373002/

Example presubmit job log can be found here: https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Presubmit/builds/5228/steps/presubmit/logs/stdio

A warning about ignored file should not be treated as an error by presubmit script and fail the job. Essentially, I wonder why skipping ignored file should be a warning in t

[2016-11-25 10:20] andrey-malets commented on #3034
@eakuefner, @nedn FYI.

[2016-11-25 11:20] nedn commented on #3034
@zeptonaut

[2016-11-25 11:33] perezju opened #3035 "Better documentation for running system health benchmark and diagnosing regressions"
(splitting off from [crbug.com/661711](https://crbug.com/661711))

For example how to run individual stories, and how to run tryjobs.

Also may be linked on bugs triaging alerts and from chrome perf graphs?

We have something about [Memory Health Plan](https://sites.google.com/a/google.com/chrome-speed-infra/home/memory-infra/memory-health-plan) here, but could be improved.

@nedn @anniesullie @pr

[2016-11-25 11:42] primiano commented on #3035
Oh this would be great @perezju
I just moved most of our docs into https://chromium.googlesource.com/chromium/src/+/master/docs/memory-infra
Would be great if we could have a memory-benchmark.md page that shows:
- Which benchmarks are currently running on the dashboard with links
- what do they do
- what the top-level metrics do
- how to tryjob
- how to repro locally

[2016-11-25 11:45] nedn commented on #3035
Recently @kenrussell also had the questions about how to use the perf dashboard & tracing link to diagnose a gpu regression.

[2016-11-25 12:54] primiano opened #3036 "Plumb label through and reland convert_chart_json"
Today alexclarke@ spent ~hours reproing a benchmark and ended up with a non-functional result.html page

here's what he did:
28420  [2016-11-25 12:13:21 +0000] tools/perf/run_benchmark run --browser=release thread_times.simple_mobile_sites   --results-label=patch --also-run-disabled-tests --reset-results
28421  [2016-11-25 12:21:39 +0000] git difftool
28422  [2016-11-25 12:21:48 +0000] git commit

[2016-11-25 12:54] primiano commented on #3036
@eakuefner @benshayden

[2016-11-25 22:20] mohamed-moanis opened #3037 "Dead link in README.md"
[Performance Insights](https://github.com/catapult-project/catapult/blob/master/perf_insights/README.md) is dead.

[2016-11-28 12:35] phoglund opened #3038 "Getting HTTP 500 sometimes when migrating test names"
I ran a migration from

ChromeOSVideo/*/video_WebRtcPeerConnectionWithCamera/*

to ChromeOSWebRtcVideo/*/video_WebRtcPeerConnectionWithCamera/*

by clicking list tests and then run migration. I ran around 1:10 PM CET, 28 Nov 2016. I either get a blank page with this js error:

Failed to load resource: the server responded with a status of 500 ()

or an actual 500 page (with no further information)

[2016-11-28 12:37] phoglund commented on #3038
Aha, I got this now for some reason:

Traceback (most recent call last):
  File "/base/data/home/runtimes/python27/python27_lib/versions/1/google/appengine/runtime/wsgi.py", line 267, in Handle
    result = handler(dict(self._environ), self._StartResponse)
  File "/base/data/home/runtimes/python27/python27_lib/versions/third_party/webapp2-2.5.1/webapp2.py", line 1530, in __call__
    rv = self.rou

[2016-11-28 12:45] phoglund commented on #3038
Breaking the jobs up into subtasks seems to work, a bit tedious though...

[2016-11-28 14:50] chromy opened #3039 "Arrow functions that return object literals have confusing syntax"
[code]
Quiz time: `console.log(foo());` prints `[]` but what does `console.log(bar())` print?

Like me you might have expected `{}` but actually the answer is `undefined` because the `{}` in `() => {}` is interpreted as an empty statement block from the statement form of the arrow syntax
(e.g. `() => { a(); return b(); }`). I found this a bit surprising.

Maybe we should forbid the idiom `() => {}

[2016-11-28 14:51] anniesullie commented on #3039
Yeah, we had problems with this during the polymer migration. @zeptonaut @eakuefner @Apeliotes (also is "Code Health" the right label for style guide/linter discussions?)

[2016-11-28 15:16] anniesullie commented on #3038
@eakuefner

Yeah, unfortunately it depends on the amount of data being migrated; we have a hard 60s deadline for the http request and hard 60s deadlines for each datastore request. There are a couple workarounds:

1. Maybe move some endpoints to managed VMs, which have longer request deadlines (but still hard 60s datastore deadlines)
2. A larger refactor where a client page manages the requests (e

[2016-11-28 15:43] anniesullie commented on #3037
**Fixed**

[2016-11-28 15:43] #3037 closed

[2016-11-28 16:22] zeptonaut commented on #3039
I think this should be doable with the eslint [arrow-body-style rule](http://eslint.org/docs/rules/arrow-body-style#requirereturnforobjectliteral):

[code]

[2016-11-28 16:24] anniesullie commented on #3039
Neat! I think you could locally revert https://codereview.chromium.org/2531293002/ to test?

[2016-11-28 17:39] benshayden commented on #1552
Done :-)

[2016-11-28 17:39] #1552 closed

[2016-11-28 17:41] benshayden commented on #2862
I think this idea is in the team zeitgeist, so this bug isn't actually tracking it.

[2016-11-28 17:41] #2862 closed

[2016-11-28 17:44] benshayden commented on #2855
Done

[2016-11-28 17:44] #2855 closed

[2016-11-28 17:45] benshayden commented on #2860
Done

[2016-11-28 17:45] #2860 closed

[2016-11-28 17:49] benshayden commented on #3036
Sorry bout that!
Chart-json doesn't contain --results-label so we forgot to plumb it through the converter.
It's a 2-line fix. :-)

[2016-11-28 18:36] benshayden commented on #3036
https://codereview.chromium.org/2531423002

[2016-11-28 19:37] eakuefner opened #3040 "Presubmit for backslash line continuation"
@benshayden encountered a situation where he used a backslash line continuation in Python (in https://codereview.chromium.org/2531423002), which is not allowed by the style guide. It doesn't look like pylint has a rule to enforce this, but we can add a `py_checks.py` module in `catapult_build` to check for \ at end of line using a regex.

Long-term I think there's also an idea that we might be abl

[2016-11-28 20:34] benshayden commented on #3036
This should be fixed, please let us know if there are any other problems. :-)

[2016-11-28 20:34] #3036 closed

[2016-11-28 20:35] benshayden commented on #2872
This looks done.

[2016-11-28 20:35] #2872 closed

[2016-11-28 21:02] eakuefner commented on #3034
eslint warns when you pass a file explicitly that is ignored, since according to their world view, there should be no sane reason to ever do that. In practice, the depot_tools PRESUBMIT system passes individual files to eslint based on the content of the CL, so that assumption doesn't make sense in our world. There doesn't appear to be any way to simply suppress these warnings, at least using the

[2016-11-28 21:31] eakuefner commented on #3034
CL: https://codereview.chromium.org/2535983002

[2016-11-28 21:36] eakuefner commented on #3033
Yup, I think this is a dupe. Let's broaden the scope of that issue and log the troubleshooting there.

[2016-11-28 21:36] #3033 closed

[2016-11-28 21:44] eakuefner commented on #3009
@camillobruni I'll reach out to you to try to get an example JSON for which this fails. It looks like Fadi has reported similar issues with the public (Telemetry-based) V8 perf tests, which makes me wonder if this is just a matter of us uploading dramatically more data than any other test to the dashboard. I'll attach the JSON output from the bug that he filed. I think that to debug this, we shoul

[2016-11-28 21:45] anniesullie commented on #3009
@eakuefner he sent us the json via email on November 16. If you can't find it, let me know and I will forward.

[2016-11-28 21:48] eakuefner commented on #3009
Found it, thanks @anniesullie

[2016-11-28 21:50] eakuefner commented on #3030
@rschoen any report on the re-record? Should we remove the P0 label?

[2016-11-28 21:53] rschoen commented on #3030
The reporter hasn't given another trace yet. I'm fine with this not being a P0.

[2016-11-28 23:14] eakuefner commented on #3020
We've gotten some additional clarity on this in light of recent discussions to do with Cluster Telemetry. There are currently three CSV output formats that one can potentially obtain from Telemetry: the one produced by CsvOutputFormatter, the one produced by CsvPivotTableOutputFormatter, and the one produced from HistogramSets by TBMv2. The last one is the most supported and maintainable, so we wa

[2016-11-29 08:38] phoglund commented on #3038
Thanks for the explanatory xckd chart :) Could you return an error 400 instead and explain the request was too large, and that you should try breaking up the requests by hand? Or, alternatively, put that text on the migration page (e.g. NOTE: if your request fails with error 500, try migrating smaller amounts of tests).

If not, you can close this one.

[2016-11-29 08:40] phoglund commented on #3038
Related question: how long can I expect a migration job to take? I filed 6-7 jobs yesterday and have not received any emails yet, and the migrations does not appear to have executed.

[2016-11-29 08:46] phoglund commented on #3038
Wait, never mind, it did execute, but I didn't get any emails. I checked my spam folder too, nothing there. That sounds like a bug since the migration page states that  you should get emails. Sorry about being a pain in the ass here :)

Another question: my migration effectively moved tests from ChromeOSVideo to ChromeOSWebRtcVideo. How long can I expect the ChromeOSVideo master to be listed in th

[2016-11-29 13:41] joeljoliyah10 opened #3041 "Perf Dashboard:"
Chrome version: 50.0.2661.89 (Linux)
URL: https://chromeperf.appspot.com/group_report?keys=agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgICgi62uhggM,agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgICgy6_6uAoM,agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgICgy_qZ8wkM,agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgICgy9ePrQsM,agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgICgq_SftAoM,agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgICgy-rengoM,agxzfmNocm9tZXB

[2016-11-29 14:05] #3041 closed

[2016-11-29 17:08] eakuefner opened #3042 "Groupby picker cursor should be pointer"
Currently, the cursor when hovering over the triangles in the groupby picker is a text cursor, and the triangles are selectable. We should use the pointer cursor instead.

[2016-11-29 17:12] eakuefner opened #3043 "Breakdown labels should be hoverable"
We should be able to get the same tooltip that you can get by hovering over a bar, by hovering over the label in the legend.

As a bonus feature, maybe we could highlight the selected bar in some way when doing so.

[2016-11-29 17:18] benshayden commented on #3042
Also, the triangles should have user-select: none.

[2016-11-29 17:19] eakuefner opened #3044 "breakdown_span should order components by magnitude"
This is both a feature request from @camillobruni and a nice-to-have for merging breakdowns (since otherwise ordering is just done by concatenation, which isn't particularly rational).

If we ever get folks interested in different orderings (reverse magnitude, alphanumeric, etc.) we can either surface this as a knob in breakdown span, as a bit for metric authors to set when constructing breakdowns

[2016-11-29 17:20] eakuefner opened #3045 "breakdown_span should use sinebow colors"

[2016-11-29 17:33] eakuefner opened #3046 "Ensure 'Show all' is checked when a value link to a non-source value is clicked"
This should work but doesn't: when a non-source value is clicked, we should click the show all box for the user if it's unchecked.

As an extension to this, we might consider switching to a whitelist system once this is fixed, whereby specific clicked histogram links could be added to a whitelist, and the algorithm for deciding which values to show could be extended to source values + whitelist. T

[2016-11-29 17:49] eakuefner commented on #2542
This is a dupe of #2971

[2016-11-29 17:49] #2542 closed

[2016-11-29 17:55] natduca commented on #2416
@Apeliotes kari, what if we built a simple quick feature into timeline_track_view that, after it initializes the canvas size the first time, it checks the dimension, and raises an "canvas-over-size" event. Then, the timeline_view can listen to that, and if it gets it, it can go through the various process tracks and sort them by number-of-threads, and tell the smallest ones to repeatedly collapse

[2016-11-29 18:14] eakuefner commented on #2971
Okay, basically the only way I've been able to make any headway here so far has been to scrub the logs after adding my logging above.

Broadly, it seems like bisects fail to kick for two reasons: auto_bisect either couldn't find a metric or couldn't find a bot.

Here's an example from @benhenry's recent shift: https://bugs.chromium.org/p/chromium/issues/detail?id=669563 that shows in the logs as a

[2016-11-29 18:42] eakuefner commented on #2971
Okay, upon further investigation, all of the cases Primiano linked seem to entirely boil down to one of two causes, the first of which is for sure a problem:

1. Some bisectors (especially for internal bots) are delimited by dashes (-) instead of underscores (_). The code that tries to find a bisector specifically uses "does this name have an underscore in it" to attempt to decide whether a bot na

[2016-11-29 18:57] anniesullie commented on #2971
I think it would be great to always comment on the bug when the bisect cannot be kicked. We might need to do some small bit of special casing, such as only adding this comment if the alert is on a master that has *any* bisectors.

[2016-11-29 18:58] eakuefner commented on #2971
I think that might be the easiest way to make progress on case 2 (since the reasoning I listed doesn't seem to hold exactly)

[2016-11-29 19:41] simonhatch opened #3047 "Dashboard - Remove stdev option from bisect."
From discussion in: https://bugs.chromium.org/p/chromium/issues/detail?id=667810#c16

This isn't supported anymore so let's just take it out.

[2016-11-29 20:14] #3047 closed

[2016-11-29 20:25] zeptonaut commented on #2416
Is there any way that we could just take the extremely easy way out and just create an import error if the track size is too big? I have a feeling that most people would have no problem just rerecording the trace if it's too big, and for everyone else, it would be strictly better than the current solution, which is to just die without mention of why.

[2016-11-29 20:29] natduca commented on #2416
The problem is, this isn't about the duration of the trace, its about how many tabs you have open on your computer. So we'd effectively be info-baring them and saying "please close some tabs". I think thats an option, just not very intuitive.... dunno, wdyt?

[2016-11-29 21:13] zeptonaut commented on #2416
I agree it's not terribly intuitive, but I'm not sure if it's worth putting much effort into fixing it given how rarely this bug crops up. I don't think it's a whole lot more intuitive if we allow the trace the user to open the trace but then die or give a similar error after they open a few more tracks.

My feeling is that, if we just throw up an error saying "Ack! Your trace would take up too mu

[2016-11-29 22:33] anniesullie opened #3048 "Perf dashboard needs fully supported way to pull in tracing UI code"
Design doc coming.

[2016-11-30 00:22] benshayden commented on #2897
@anniesullie Here's some backstory for how something like a gypi file might be useful for maintaining a list of tracing source files to vulcanize for the dashboard.

[2016-11-30 00:36] jessimb opened #3049 "Select all does not work correctly for group reports"
When checking the "select all" check box (in the header of the alerts table) on a group reports page, it works as expected: the box becomes checked and the rest of the alerts also become checked.
However, when I go to uncheck the "select all" check box, all the alerts remain checked. Each time (after the first time) I click the "select all" checkbox, nothing new happens. Unchecking this box should

[2016-11-30 01:31] #2774 closed

[2016-11-30 14:42] primiano opened #3050 "Results on the perf dashboard are out of order"
I was investigating this weird bimodality with @perezju  and @chromy

![screen shot 2016-11-30 at 2 35 10 pm](https://cloud.githubusercontent.com/assets/7137473/20756432/92868206-b70a-11e6-9270-d3ab1776c544.png)

https://chromeperf.appspot.com/report?sid=759814305e5ead01db7fe16e5a2adbe189b1643bc0a0790dc9a2af0830cc8f54&start_rev=431846&end_rev=433499

Turns out this is not bimodality. The points on

[2016-11-30 14:42] primiano commented on #3050
@anniesullie

[2016-11-30 14:46] primiano commented on #3050
@jbudorick FYI
It doesn't seem to affect only N5X. I found out-of-orderness also on N5 (The one above is N5x)
https://chromeperf.appspot.com/report?sid=5b0bed0c997f9ff85bf5dd4f376159fdf21394711981a089f379f4814a3810ac&start_rev=431765&end_rev=433181

[2016-11-30 14:49] picksi commented on #3050
I think the bots are just embracing non linear narrative [https://en.wikipedia.org/wiki/Nonlinear_narrative](url).

[2016-11-30 14:56] jbudorick commented on #3050
@primiano is this limited to Android, or do we see it on other platforms as well?

[2016-11-30 15:12] perezju commented on #3050
There appears to be a recent change on the recipe being run on this bot [Android Nexus5X Perf (1)](https://build.chromium.org/p/chromium.perf/builders/Android%20Nexus5X%20Perf%20%281%29), for example:

- [Build 3785](https://build.chromium.org/p/chromium.perf/builders/Android%20Nexus5X%20Perf%20%281%29/builds/3785/)
  - [step_build/run_recipe](https://luci-logdog.appspot.com/v/?s=chrome%2Fbb%2Fchr

[2016-11-30 15:14] primiano commented on #3050
@jbudorick I don't know honestly. To be honest, I don't know if the out-of-order part is WAI. We tried to do some reasoning and it might be an intended feature (Waiting for @anniesullie to confirm).
What is definitely biting us here is the fact that this bot is alternatively running 32 and 64 bit apks as Juan pasted above.

[2016-11-30 15:15] jbudorick commented on #3050
@martiniss re the 5X triggering off of both 32 & 64 bit builders.

[2016-11-30 15:18] zeptonaut commented on #3031
Bah: I should have included this bug on https://codereview.chromium.org/2535353002/, which approved these.

[2016-11-30 15:48] #3039 closed

[2016-11-30 16:41] #3002 closed

[2016-11-30 16:50] benshayden commented on #3031
This can be closed, right?

[2016-11-30 18:46] martiniss commented on #3050
Ah, this is a problem. I will try to fix. It should only be triggering from
Android Compile, I believe.

On Wed, Nov 30, 2016 at 7:15 AM John Budorick <notifications@github.com>
wrote:

[2016-11-30 18:56] martiniss commented on #3050
To clarify;

The bot switched which recipe it runs. Lately it's only running on the chromium recipe.

It looks like it's being triggered with a 32 bit build, which is bad. I missed this when picking a bot to convert; sorry. I'll need to create another bot to do a arm64 build using the chromium recipe.

Will work on this today.

[2016-11-30 18:57] anniesullie commented on #3050
Can we switch the bot back to the old recipe in the short term?

[2016-11-30 19:01] martiniss commented on #3050
I can do that. It will prolong switching fully over to the chromium recipe, but it is safer.

[2016-11-30 19:06] martiniss commented on #3050
Master needs to be restarted; any preferred time on that?

[2016-11-30 21:53] primiano commented on #3050
hold on I think we want to try still 32 bit not 64. st least for sure we
ship only 32 bit versions of chrome these days

On Wed, Nov 30, 2016, 19:06 martiniss <notifications@github.com> wrote:

[2016-11-30 21:56] martiniss commented on #3050
This already has happened. The bot has been reverted to the old recipe for now.

[2016-11-30 23:04] Apeliotes commented on #2416
Did some digging. I don't think that collapsing the smallest tracks is the right thing to do. It ends up with odd behavior if you're interested in any of the collapsed tracks. (Like either getting the original error if you don't know to collapse other tracks first, or not being able to open one of the collapsed rows.) I agree that we probably want to do something about the offscreen content, or al

[2016-11-30 23:12] natduca commented on #2416
I'm happy with anything as long as we do something :D... even infobaring "close some tabs" would be progress 🗡

[2016-12-01 00:28] Apeliotes opened #3051 "Combine timeDurationInMs and timeStampInMs units in tracing"
It looks like the only difference between the two units are their names.

Anyone know of a reason we should keep both instead of combining them into one unit?
@natduca @zeptonaut @petrcermak @eakuefner @benshayden

[2016-12-01 02:50] dave-2 opened #3052 "Pinpoint 100% unit test coverage"
Because we want to be diligent and do things properly. Yeah! 👍

[2016-12-01 02:51] dave-2 commented on #2891
I'm creating blocking bugs instead of putting every CL on this issue.

Blocking on #3052 for unit test coverage!

[2016-12-01 09:51] petrcermak commented on #3051
Strictly speaking, <tt>timeDurationInMs</tt> should be <tt>timeStampInMs**Delta**</tt>. The question then becomes, what should <tt>timeDurationInMs**Delta**</tt> be—<tt>timeStampInMs**DeltaDelta**</tt>?

[2016-12-01 10:03] perezju opened #3053 "Per-story disabling mechanism does not support --also-run-disabled-tests"
Issue was caught trying to bisect on [crbug.com/669208](https://crbug.com/669208).

Simple steps to reproduce:

1. Find a currently disabled story, e.g. `browse:news:cnn`.
2. Run: `tools/perf/run_benchmark system_health.memory_mobile --browser android-chrome --story-filter browse:news:cnn --pageset-repeat 1 --also-run-disabled-tests`

Expected behavior:

- Story is run, even if disabled.

Actual b

[2016-12-01 11:54] perezju commented on #3028
Making this issue now about the more general problem:

Telemetry has various EvaluateJavascript (and related) methods that allow to run some javascript snippets in Chrome during tests. These methods are used in many places, and it’s not uncommon for clients wanting to inject some (Python) values into the code snippets that are going to be executed.

The problem is that in virtually all of the occu

[2016-12-01 12:01] nedn commented on #3028
Plan SGTM

[2016-12-01 14:54] zeptonaut commented on #3051
IMO subtracting one timestamp from another gives you a timeDurationInMs. Practically, this makes sense, because one timestamp might occur one hour after another, and an hour is a duration.

Subtracting one timeDurationInMs from another should still give you a timeDurationInMs, though. Practically, this is asking the question "How much longer is this duration than this other one?", and the answer t

[2016-12-01 15:01] anniesullie commented on #3052
@simonhatch

[2016-12-01 15:04] perezju commented on #3028
Mainly remainder to self: also need to check that clients calling [page_action.EvaluateCallbackWithElement](https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/internal/actions/page_action.py#L42) are quoting correctly the argument passed as `callback_js`.

[2016-12-01 15:46] nedn commented on #3053
I am ambivalent about whether to enable this. The reason we disable the story in these cases can be 1) they were crashing 2) they cannot be run (something like a webgl story on a machine that does not support gpu, or a mobile story on desktop). The current structure doesn't allow distinguish between 1 & 2, whereas I think `"--also-run-disabled-tests"` is only mean for (1)

If we want to fix this,

[2016-12-01 15:59] zeptonaut commented on #3031
I'm going to keep it open and use this as the bug for any migrations that need to happen as well, if that works for you.

[2016-12-01 16:48] perezju commented on #3053
The `--also-run-disabled-tests` already [prints a warning](https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/internal/story_runner.py#L294) with something like:

[code]

I think that's already a fair enough warning. And even if we are in case (2) I think a user explicitly typing `--also-run-disabled-tests` is already saying: "just try to run the benchmark, trust me, if i

[2016-12-01 17:24] perezju commented on #3028
A CL for step 1 above is [in review](https://codereview.chromium.org/2547503002/). I've also just finished cataloging clients that need fixing within in Telemetry.

Most clients just want to interpolate values, which the proposed method in that CL already does very well.

A few others want to interpolate some piece of code *literally* within another piece of code, [for example](https://github.com/

[2016-12-01 18:19] Apeliotes commented on #2416
I think there are too many questions on which long-term solution will work, and don't want to cause the weird UI corner cases of collapsing tracks. I'm moving forward with Petr's suggested short-term fix of not increasing canvas size on high definition devices if it would cause the canvas size to become too large. This should drastically reduce the occurrences of this bug until we figure out the c

[2016-12-01 19:16] chromy commented on #3053
On Ned's note about distinguishing between "temporarily disable" & "expected to always disable" this would be really useful. I wanted to extend `tools/perf/list_system_health_stories` to so we could see know what we had to work on re-enabling but it seemed extremely hard. Is it even possible to tell on a Linux box if a test is disabled on Android? The APIs seem to require a possible browser which

[2016-12-01 19:16] #3025 closed

[2016-12-01 19:37] eakuefner opened #3054 "Enable no-confusing-arrow rule"
In CLs like https://codereview.chromium.org/2533283003 we see folks getting confused by stuff like `x => 3 <= x`; it turns out that this is actually [prohibited by Airbnb](https://github.com/airbnb/javascript#arrows--confusing) and [has a corresponding eslint rule](http://eslint.org/docs/rules/no-confusing-arrow) which I think we should enable to mitigate this kind of confusion.

@zeptonaut @bensh

[2016-12-01 19:39] eakuefner commented on #3054
(And to be clear, my position on `allowParens` is `true`)

[2016-12-01 19:42] benshayden commented on #3054
👍

[2016-12-01 20:06] Apeliotes opened #3055 "QuadStackView is janky. We should remove it or fix it."
@natduca @eakuefner @benshayden @zeptonaut
The Quads sample trace appears to be super janky/broken. If you load it and then try zooming on the quad-stack-view it appears to both zoom and pan, which is unexpected and confusing. Other transforms also seem to do the unexpected. Is anyone actually using it? We should fix it or remove it.

[2016-12-01 20:42] progers commented on #3055
@vmpstr, you still use this, correct?

[2016-12-01 20:43] zeptonaut commented on #3055
(I don't know anything about this trace.)

On Thu, Dec 1, 2016 at 3:42 PM Philip Rogers <notifications@github.com>
wrote:

[2016-12-01 20:44] zeptonaut commented on #3054
SGTM!

On Thu, Dec 1, 2016 at 2:42 PM Ben Hayden <notifications@github.com> wrote:

[2016-12-01 21:20] zeptonaut commented on #3030
Closing this as a duplicate of #2416

[2016-12-01 21:20] #3030 closed

[2016-12-01 23:07] benshayden commented on #3023
They only happen in the All Tests view, not the chart_track_test view.

[2016-12-01 23:53] benshayden opened #3056 "Delete dead code time_series_side_panel and pie_chart"
The time_series_side_panel was disabled a while ago and nobody noticed. Let's delete it.

It's the sole remaining user of pie_chart, which suffers serious fundamental bugs that are not shared by the similar stacked BarChart/ColumnChart. Let's delete pie_chart as well.

@eakuefner

[2016-12-01 23:55] benshayden opened #3057 "ColumnChart, BarChart position underflow/overflow asterisks incorrectly."
https://screenshot.googleplex.com/T9ksm8FEknm

Math is hard.

[2016-12-02 00:04] benshayden opened #3058 "Polymer 2.0 is coming, tr.ui.b.define() is weird, let's use ES6 classes."
Currently, [several trace-viewer components](https://github.com/catapult-project/catapult/search?l=HTML&q=tr.ui.b.define&utf8=%E2%9C%93) are defined as special tags using tr.ui.b.define(), which allows combining ES5-style classes and inheritance with DOM elements. IIUC, this predates and is incompatible with both Polymer 1.0 and ES6 classes.

Polymer 2.0 is coming, and will allow defining dom-modu

[2016-12-02 00:40] benshayden opened #3059 "Unprefix -webkit-user-select"
There are 30 instances of -webkit-user-select in tracing, 2 in dashboard, 1 in netlog_viewer, and 4 in telemetry's results-template.html (which is dead code).

Chrome unprefixed user-select in M54 on October 11, so let's do a find-replace.

@zeptonaut @eakuefner

[2016-12-02 00:43] benshayden commented on #2958
Done, assuming that mondo CL sticks...

[2016-12-02 00:43] #2958 closed

[2016-12-02 00:56] Apeliotes commented on #3030
Ryan: try opening the trace on a non-high-res device.

[2016-12-02 11:21] nedn commented on #3028
I don't like using upper name vs lower name because it makes ABC_def unclear. Instead, can we make `{{ %code }}` interpolated literally?

[2016-12-02 13:45] skyostil opened #3060 "about://tracing is overly confident about its ability to fill the tracing buffer"
1. Go to chrome://inspect?tracing and click the "trace" link for any tab on an Android phone.
2. Hit record and start tracing.
3. Observe the following:

![screenshot](https://cloud.githubusercontent.com/assets/118517/20836037/80db8e52-b895-11e6-98ed-865286e69b43.png)

In this case the host was running 56.0.2924.3 and the target was Chrome revision #435924.

[2016-12-02 13:46] skyostil commented on #3060
I should mention that the tracing itself worked fine so this is just a cosmetic issue.

[2016-12-02 15:55] zeptonaut commented on #3059
SGTM!

[2016-12-02 16:39] zeptonaut commented on #2935
@danw, @randomascii

I think that https://codereview.chromium.org/2468883002/ should have fixed any problem with running into the CPU track's size limit. To view an already-HTMLified trace that has this problem, you can get a Catapult checkout at head and do:

[code]

this will generate <your_old_trace>.html, which should be an HTMLified version of your old trace created with the latest version of

[2016-12-02 16:39] #2935 closed

[2016-12-02 17:13] zeptonaut opened #3061 "load:energy_sum is always zero"
Graph: https://chromeperf.appspot.com/report?sid=9d160f40ff527e3cb25d6442520cddf346ea97f738a77fa8475091dbe7a267e3&rev=435383

@Alex319, any idea what might be going on?

[2016-12-02 18:04] rschoen commented on #3030
Yep, that worked as a workaround. Thanks!

[2016-12-02 18:29] eakuefner commented on #2429
I'm going to start using this bug to track my investigation for why this won't land on Windows. By diffing which tests complete successfully and which don't, I've figured out that at least `story_set_unittest.testSmoke` is hanging. I can repro this locally, so now I'm adding logging to `story_set_smoke_test` to figure out what might be happening.

[2016-12-02 18:42] nedn commented on #2429
This seems promising!

[2016-12-02 19:06] eakuefner commented on #2429
Okay, so I can say with certainty that `Alexa1To10000PageSet` is causing problems, and I'll keep digging to figure out why.

This actually jives with the other test that's failing, which is the other one in this file, `testNoPageDefinedSyntheticDelay`, which also tries to construct every story set.

[2016-12-02 19:16] nedn commented on #2429
Oh, is that because your assertion is slow & Alexa1To10000PageSet blows up the runtime?

[2016-12-02 19:19] eakuefner commented on #2429
Maybe, but if that's true I'm puzzled as to why it blows up on Windows but not other platforms. It's kind of my best hunch right now, but I'm adding more asserts to the page set itself to try to examine the behavior.

[2016-12-02 19:20] eakuefner commented on #2429
(If it does turn out to be the case, we can just do more memoization to make this sufficiently fast)

[2016-12-02 19:22] nedn commented on #2429
The algorithm you currently have is `O(N^2)` because you check the list for duplicated name. Maybe having a set data type for storing name could have with the lookup.

[2016-12-02 19:23] eakuefner commented on #2429
Agreed. And it's slowed to a crawl on my crappy Windows laptop, so this is definitely an issue.

[2016-12-02 19:37] Alex319 commented on #3061
I think I understand the problem here. The problem is that the load:energy_sum metric looks at the interval between the navigation start and time-to-interactive. If there is no event corresponding to the time-to-interactive (and there isn't any in the about:blank case, as there's nothing to load) then there won't be any of these intervals.

I think the correct thing to do here (ant I think we've h

[2016-12-02 19:41] eakuefner commented on #2429
Nice, using a set makes this much, much faster. I no longer see the hang on Windows. I'll update my patch and try again.

[2016-12-02 19:42] Alex319 commented on #3061
Another thing we can do in the metrics code itself is to not report any data for this metric if there are no loading intervals rather than report a "zero" value.

[2016-12-02 21:51] #2028 closed

[2016-12-02 22:15] #1577 closed

[2016-12-02 22:22] jessimb commented on #1915
Resolved in #2774

[2016-12-02 22:22] #1915 closed

[2016-12-02 22:43] zeptonaut commented on #3061
+1

I think that this sounds like it's probably the best path.

[2016-12-02 22:54] #3042 closed

[2016-12-03 00:42] dave-2 opened #3062 "[firefighter] Fix Firefighter deployment"
Firefighter has a one-off deployment system because it was originally an experiment in "Managed VMs" (now known as "App Engine Flexible Environment"). The deployment system has slowly rotted over time. A few specific reasons:
- The syntax for the commands and config files has changed.
- The system used symlinks to figure out where dependencies should be located. Those were removed in an unrelated

[2016-12-05 02:46] randomascii commented on #2935
I just tested with canary (still broken) and then with a local build (works) so I guess the fix rolled after the last canary build. Anyway, looks good. Thanks.

[2016-12-05 15:23] perezju commented on #3050
An update here: after reverting to the old recipe, numbers are also back to their "normal" values. And the revert also appeared as a zig-zaggy pattern (as expected).

![sqawia6ncaf](https://cloud.githubusercontent.com/assets/16922344/20890204/f64eee26-bafd-11e6-891e-75b98d45cdca.png)

I guess the only thing left here is to figure out **what kind of build that should be tested on N5X bots** and be

[2016-12-05 15:31] anniesullie commented on #3050
@benhenry can you take ownership of figuring out whether the N5X on the perf waterfall should have a 32 or 64 bit build? It was originally requested to test 64 bit Chrome, but we are not shipping 64 bit Chrome on it a year later. See @perezju's comment for details; we'll need to figure out both chrome and webview.

[2016-12-05 17:12] zeptonaut commented on #2935
Good to hear! Thanks for checking.

[2016-12-05 17:18] #2964 closed

[2016-12-05 17:27] #2856 closed

[2016-12-05 17:28] jessimb opened #3063 "On group_report/ positive and negative deltas are mixed when sorting"
As mentioned in #2774, on group_report?rev=, when there are positive and negative changes, they get intermixed.

https://chromeperf.appspot.com/group_report?rev=435480
then click on the Delta% column

[2016-12-05 17:29] jessimb commented on #2774
I want to note that I fixed the sorting issue, not the mixing results problem, so I have opened a new bug to address that.

[2016-12-05 18:30] skevy opened #3064 "Make a release?"
Is there any way this project could make a release?

I'm trying to update the homebrew formula for trace2html, and I need a specific release to point to under their contribution guidelines.

https://github.com/Homebrew/homebrew-core/pull/7485

[2016-12-05 18:30] anniesullie commented on #3064
@natduca

[2016-12-05 18:50] eakuefner commented on #2429
Closing as fixed; thanks Ned for the quick fix on the Chromium side.

[2016-12-05 18:50] #2429 closed

[2016-12-05 21:47] randomascii commented on #2935
Canary just updated to 57.0.2942.0 and the fix is now live in canary. Confirmed fixed.

[2016-12-06 02:10] randomascii opened #3065 "Selecting data from Chrome build traces causes long CPU-bound hangs"
While testing that issue 2942/2935 were fixed I idly selected most of the events displayed in the trace. The browser locked up, long enough that I eventually killed it.

I then experimented for a while and found that the hang was not a permanent one, but a CPU bound burst of activity that appears to be proportional to the number of events selected. Selecting a couple of rows of data leads to a han

[2016-12-07 03:06] eakuefner opened #3066 "Telemetry should emit storage.cloud.google.com log lines instead of storage.googleapis.com"
We're getting reports of folks sometimes being unable to view artifacts in Telemetry buckets that have restrictive ACLs because we currently emit storage.googleapis.com links, which seemingly don't work without OAuth, even if a user is signed in. storage.cloud.google.com log links do perform authentication for logged in users, so we should use those instead.

[2016-12-07 03:35] anniesullie commented on #3038
Sorry for the belated answers here:

* We can't return a 400 if the queries will need to be broken up because we don't know how long they will take until we try to start executing them
* You should only receive emails about tests that are monitored.
* It looks like there is still quite a bit of data under ChromeOSVideo master, type `ChromeOSVideo/*/*/` into the "old pattern" textbox of the migrati

[2016-12-07 07:01] yuki3 opened #3067 "Perf Dashboard: remove bug from alert "x" is confusing"
Chrome version: 56.0.2924.14 (Linux)
URL: https://chromeperf.appspot.com/group_report?keys=agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgICg55rDugkM

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):

Please describe the problem:

I accidentally clicked "x" button beside "Bug ID" entry in the table of Bug ID, Revisions, Master, Bot, ...  I didn't want to remove anything, and

[2016-12-07 18:28] eakuefner commented on #1933
This is turning out to be an actual issue; for context see https://bugs.chromium.org/p/chromium/issues/detail?id=670284

[2016-12-07 19:53] benshayden opened #3068 "Finish renaming Value* to Histogram*"
Currently, most code refers to Histograms as such, but there are still a few places that refer to the old Value system, which was renamed in #2717 .

 * ValueSetOutputFormatter should be renamed to HistogramSetJsonOutputFormatter
 * tracing/bin/valueset2html should be renamed to histograms2html
 * IterationInfo.addToValue() should be renamed to addToHistogram()
 * HistogramSet.getValuesNamed() sho

[2016-12-07 19:59] jessimb commented on #3067
The X removes the bug from the alert. I agree that this is too easy to do and the functionality is confusing. I think it would be nice to add a tooltip to the x explaining what it does, and perhaps a toast that allows for undo.
Currently the way to undo this is to re-add the bug id to the alert manually.

[2016-12-07 21:51] eakuefner opened #3069 "Remove legacy HTML output formatter"
We want to remove the old HTML output formatter now that results2 can be produced for all benchmarks. This bug will track that effort.

@benshayden @nedn

[2016-12-07 22:19] eakuefner opened #3070 "examples/run_benchmark is broken"
Looks like benchmark_runner.ProjectConfig got deleted at some point:

[code]

@Apeliotes @nedn

[2016-12-07 22:25] benshayden commented on #3070
Could this have done it?
https://github.com/catapult-project/catapult/commit/b1d2bdcb8df1fe5274df1dc6ec8627ab296263b6

Looks like it's still in project_config.py, not benchmark_runner.py?
https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/project_config.py

[2016-12-07 22:36] eakuefner commented on #3070
Yep, thanks for pointing that out! CL: https://codereview.chromium.org/2553683009

I should have put the fix in a separate CL originally :)

[2016-12-08 02:58] yuki3 commented on #3067
How can I re-add the bug id?  I didn't find a way how to re-add it.  I'd like to revert my mistake.

[2016-12-08 16:33] zeptonaut commented on #2378
Closing this due to no action in the last 6 months.

[2016-12-08 16:33] #2378 closed

[2016-12-08 16:41] zeptonaut opened #3071 "gzip inflation fails when the gunzipped file is longer than 268M characters"
Note that this is causing many failures on the waterfall for system health benchmarks.

This can surface in benchmark runs with call stacks like:
[code]

It can also fail in trace viewer when opening an interactive trace with an error message like:
[code]

The underlying limitation is that v8 strings can't be longer than 268435440 characters ([due to a hard-coded limit in v8](https://cs.chromium.o

[2016-12-08 17:18] eakuefner opened #3072 "chart_json_converter doesn't support histograms"
chart_json_converter doesn't support Telemetry's histograms, leading to results2s that are missing values for some users.

[2016-12-08 17:35] jessimb commented on #3067
If you go to the report/ page for the alert and click on the alert icon, you can click "existing bug" under the triage section. From there you can type in the bug id or choose from the list.

[2016-12-08 17:49] eakuefner commented on #3070
**Fixed**

[2016-12-08 17:49] #3070 closed

[2016-12-08 18:01] benshayden commented on #3072
tab_switching.five_blank_pages should repro this.

[2016-12-08 18:31] Alex319 opened #3073 "CPU times are double-counted when both Atrace and Chrome trace data are available."
Steps to Reproduce:

- Run a trace that includes both Atrace and Chrome trace data
- View the trace and look at the CPU duration and wall duration for slices

Expected Result:

- CPU duration should always be less than or equal to wall clock duration

Actual Result:

- On many slices, the CPU duration is almost twice the wall duration.

----

I believe that the cause of this bug is that slice_grou

[2016-12-08 20:10] eakuefner opened #3074 "Browser tests are flaky on Linux"
Not sure if these are outright failures or flake since some of these tests were previously flaky. At the moment it seems to be blocking Telemetry CLs from landing.

If this represents outright failure we should consider reverting the ref build roll; @benshayden will keep continuing to try to land https://codereview.chromium.org/2556223002 so we can figure out if it's still possible to even land Te

[2016-12-08 20:26] eakuefner opened #3075 "Spurious patch failures in bot_update"
@dave-2 @benhenry seems like this might be an infra issue, should we file a bug there too?

In https://codereview.chromium.org/2556223002 we're getting patch failures that say certain files do not exist in the index when in fact they do. This seems like flake that has resolved itself on Linux and Windows but persists on Mac.

[2016-12-08 20:31] eakuefner commented on #3075
Okay, I ssh'ed into the one failing mac bot; it looks like its Catapult checkout is somehow in an inconsistent state. I'll just manually fix it.

[2016-12-08 20:35] eakuefner commented on #3075
Looks like this is fixed as of https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Mac%20Tryserver/builds/5916

I logged into the bot and did a git reset --hard to blow away the weird state of the index and it looks like everything is working now. I'm just going to close this bug as I'm not sure much more can be done here -- maybe bot_update failed in some way on some previo

[2016-12-08 20:35] #3075 closed

[2016-12-08 22:31] benshayden opened #3076 "Require metrics to register names of Histograms that they might produce in order to support OwnershipInfo Diagnostics."
Currently, benchmark/metric ownership information is contained in spreadsheets and the dashboard database. This system is fragile and difficult.

Metric and benchmark ownership information should be codified in Benchmark subclasses.
After metrics produce Histograms, telemetry should take the ownership information from the benchmark object, and add it to the Histograms in an OwnershipInfo Diagnosti

[2016-12-08 22:31] benshayden opened #3077 "Failure Diagnostics"
When a benchmark or story or story run fails for some reason, that information is currently only available in buildbot logs, not in results2 or the dashboard.

Results2 and the dashboard group Histograms by TelemetryInfo and the Histogram name.
Currently, only metrics know Histogram names, and only when everything succeeds.

When metrics register the list of Histogram names that they can produce #

[2016-12-08 22:49] eakuefner commented on #3077
@natduca

[2016-12-08 23:58] eakuefner commented on #3074
Okay, patches are landing, so I'm lowering this to P1.

[2016-12-09 00:00] eakuefner commented on #3074
Here's at least one problem: during `LinuxFindTest`, `sys.platform` seems to be returning `win32`. Best guess is that there's at least something funky going on with `system_stub`. We've wanted to kill `system_stub` for a while (see https://bugs.chromium.org/p/chromium/issues/detail?id=547237), so maybe this is an opportunity to do that finally.

[2016-12-09 11:46] yuki3 commented on #3067
Thanks.  I've added the bug IDs back.  I'll leave this issue open in case that you'd like to use this to track the UI issue (unclearness of UI), but feel free to close for my specific case.  Thanks again.

[2016-12-09 12:46] nedn commented on #3076
Please also see https://bugs.chromium.org/p/chromium/issues/detail?id=575318

[2016-12-09 12:48] nedn commented on #3076
@tdresser
This is related to the discussion of having a file for tracing metric that's similar to histograms.xml. We can use the file to express things like metric ownership.

[2016-12-09 12:56] tdresser commented on #3076
I like the idea of having a histograms.xml style unified location for information like this. It means you don't need any new tooling to easily grep through and find what you're looking for. If annotations would be easier, maybe we could enable the annotations to spit out some information, so that dumping the full list to a file would be easy?

[2016-12-09 17:41] benshayden opened #3078 "Story-specific metrics"
Currently, TBMv2 metrics only have access to the information in traces. However, there are some telemetry stories that directly compute interesting high-level metrics. The traces produced by these stories only contain low-level events, so TBMv2 metrics lack access to the high-level metrics produced by the stories. Instead of requiring metric authors to re-compute the metrics from whatever's in the

[2016-12-09 17:51] eakuefner commented on #3078
I think the term we agreed on was story-specific metrics. I have an idea about how this should be done presently: We should define an API on `Story` called `AddStorySpecificMetrics` that is called after `RunPageInteractions`. I think we should consider blocking this on Python histograms so that users can use histograms instead of legacy Telemetry values. Alternatively, we could support only single

[2016-12-09 17:51] eakuefner commented on #3078
Also, agreed: maybe it's time to establish a `telemetry_model_helper`.

[2016-12-09 18:04] eakuefner commented on #3078
@benshayden pointed out that it may be necessary for stories to measure *while* running, so this could also be a hook that we define on `action_runner` instead.

[2016-12-09 18:13] nedn commented on #3078
Not `action_runner`, since not all stories have hook to `action_runner`, which is just a wrapper around `tab` object.
Remember that `py_trace` is global, so we can just add s.t like `story.AddStorySpecificMetrics()` that just internally augment events to telemetry traces.

Not that this method is not a callback to be called by telemetry framework, so it can be called by user at anytime during stor

[2016-12-09 18:19] benshayden opened #3079 "Simplify iteration-info-span, device-info-span, buildbot-info-span"
They're all just tables, but some fields are special. Can these 3 spans be merged to a single generic table-span shared by all of IterationInfo, DeviceInfo, BuildbotInfo?

[2016-12-09 18:21] eakuefner commented on #3078
Oh, understood. Yeah, I think that design will work.

[2016-12-09 20:30] benshayden opened #3080 "Plumb revisions GenericSet Diagnostics"
Benchmark results are annotated with revision ranges for various source code repositories. The TBMv2 Histogram pipeline will need to plumb this information as a shared Diagnostic: RevisionInfo. It can be visualized as a table mapping from repo name to revision range. Maybe linkified using crrev.com?

Is the set of possible repos knowable a priori, such that we can use strong-typing like IterationI

[2016-12-09 21:01] eakuefner commented on #3074
To provide an update here, I added logging to confirm that this was the case and _all_ of the failing tests on Linux reported that `sys.platform` was returning win32.

Currently have a dry run of a CL that deletes `desktop_browser_finder_unittest` going, to confirm my hypothesis that our usage of `system_stub` in these suites is flaky: https://codereview.chromium.org/2565003002

[2016-12-09 21:27] eakuefner opened #3081 "Upload big binaries with sliced uploading enabled"
Found this juicy tidbit while debugging the reference browser issues (pasted from a traceback stderr so please excuse the '\n's):
[code]

Can we do this, to make downloading the ref build faster?

@Apeliotes @nedn

[2016-12-09 21:28] nedn commented on #3081
@dave-2 this is probably one-time step to be done on the lab machines.

[2016-12-09 21:31] eakuefner commented on #3081
Oh, I think this is a point of confusion: does it mean that uploads need to be performed in such a way that they are sliced, or does it mean that if sliced uploading is enabled, downloads will be faster?

I could see it being the former, but that doesn't make that much sense because it seems like files could be sliced for downloading on the server side. I could see it being the latter, but why wou

[2016-12-09 21:56] eakuefner commented on #3074
So, while deleting desktop_browser_finder_unittest cleans up flake, it does reveal that there seems to be a problem with using the reference browser on Linux in parallel. We get this stdout:

[code]

I wonder if that last line is significant.

[2016-12-09 22:02] eakuefner commented on #3074
I'm going to try running the tests again on my machine but pass --disable-gpu to Chrome. It shouldn't matter anyway since we're running under xvfb.

[2016-12-09 22:24] eakuefner commented on #3074
Okay, `--disable-gpu` definitely reduces the flake: only two browser tests failed, and they were retried successfully.

I have two concrete suggestions for unblocking patches from landing, since I don't know how much more time I have to work on this at present:

1. Make desktop_browser_finder unit tests only run on the platform they are targeting. This should solve the immediate problem of system_

[2016-12-09 22:31] eakuefner commented on #3078
Design doc: https://docs.google.com/document/d/11O_Gf74QPImgngMMnVWqZXR9FI1I5hhumOt2JIpfAEs/edit

[2016-12-09 23:01] nedn commented on #3074
@kenrussell do you know if it's true that we can run browser tests in parallel without "--disable-gpu"?

[2016-12-10 02:18] dave-2 opened #3082 "Upload isolated hashes to Pinpoint"
Pinpoint needs a way to look up what isolated to run from the git commit. Until Dungeon Master is ready, we're using a lightweight lookup service built into Pinpoint. The builders need to upload the isolated information to the isolated lookup service.

[2016-12-10 02:18] dave-2 commented on #2891
#3082 for builders uploading isolated hashes to the Pinpoint isolated lookup service.

[2016-12-10 03:40] kenrussell commented on #3074
Talked with @vmiura about this. We both agree that passing --disable-gpu when using xvfb on Linux is a reasonable workaround. While it's likely that Chrome would detect Mesa / Gallium / llvmpipe and a blacklist entry would disable GPU functionality, it's unfortunate that Mesa seems to be spinning up threads before we get a chance to detect that it's the OpenGL implementation in use.

[2016-12-12 16:39] eakuefner commented on #3074
@nedn to confirm, instead of doing 1. it seems like you're actively looking at the cause of the system_stub flake now as of https://codereview.chromium.org/2564413002/, is that correct?

We'll still need the patch that adds the --disable-gpu xvfb warning; I'll write that one.

[2016-12-12 18:00] CalebRouleau commented on #2923
Any timeline for the fix for this bug? My team is still affected and it got worse because the switch to swarming made the workaround more convoluted.

[2016-12-12 18:40] ehanley324 commented on #2923
So in swarming these are broken due to the mismatch between test name and step name.  results_dashboard.py forms the results dashboard stdio link from just the test name, but swarming appends several suffixes to the step name which causes the mismatch.

martiniss@ is working on getting this naming fixed so I will reassign him to this for the short term.  The chromium bug for the stdio links is her

[2016-12-12 19:36] eakuefner commented on #3074
I lowered this to P2 because Ned's patch fixes the `system_stub` problem and my patch fixes the GPU error. However, we're *still* seeing flake on Linux, and now I can't determine the cause. Fortunately, tryjobs appear to no longer be timing out, but the runtime of telemetry_unittests on the Catapult CQ could probably be on the order of a few minutes instead of like, 20 if we addressed this flake i

[2016-12-12 19:46] zeptonaut commented on #3061
Hey Alex,

Any update on making the metrics not report any data if there are no loading intervals rather than a zero value?

[2016-12-12 19:53] Alex319 commented on #3061
I thought I had already done that; I must not have done that. I will have
to check again.

-Alexander Mont

On Mon, Dec 12, 2016 at 11:46 AM, Charlie Andrews <notifications@github.com>
wrote:

[2016-12-12 20:17] simonhatch opened #3083 "Dashboard - Doesn't update bug with completed bisect results."
From https://bugs.chromium.org/p/chromium/issues/detail?id=671076#c9

This bisect actually finishes and names a culprit cl: https://build.chromium.org/p/tryserver.chromium.perf/builders/win_8_perf_bisect/builds/2296/steps/Post%20bisect%20results/logs/json.output

But the bug comment seems to have the data from the second-to-last Post Bisect Results?

[2016-12-12 21:14] kenrussell commented on #3074
Could you post some links to example failing jobs?

[2016-12-12 21:15] benshayden opened #3084 "Write docs for deprecating telemetry apis and emailing telemetry-announce"
@eakuefner @Apeliotes

[2016-12-12 21:28] eakuefner commented on #3074
Here are a couple where retries caused the whole build to time out:

https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Linux%20Tryserver/builds/5939
https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Linux%20Tryserver/builds/5938

[2016-12-12 21:29] eakuefner commented on #3074
Here's one from before my --disable-gpu CL that shows the error I pasted above: https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Linux%20Tryserver/builds/5894

[2016-12-12 21:45] kenrussell commented on #3074
Looks like the browser's intermittently deadlocking upon startup. This is bad news; some behavior like this was seen on macOS a few months ago, and Emily added retries to the SeriallyExecutedBrowserTestCase framework which seemed to suppress them.

At the time they were investigated, it wasn't clear whether the hangs on macOS were caused by machine misconfigurations.

If it were possible to get a

[2016-12-12 21:51] eakuefner commented on #3074
Looks like we do send SIGTERM right now but the timeout is 5. Do you think that might not be long enough?

https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/internal/backends/chrome/desktop_browser_backend.py#L619

[2016-12-12 21:58] kenrussell commented on #3074
Yeah, I'd suggest increasing it to 20 seconds and see if it changes the results. I'd also actually suggest introducing a hang in the browser process's UI thread and see if the harness catches it.

[2016-12-12 22:09] eakuefner commented on #3074
CL: https://codereview.chromium.org/2568033003

@nedn Another question I have here is, why do we wait 240 seconds for the browser to finish launching? That seems like a crazy long amount of time. Any way we could halve that to 120s? I think that would allow many more Catapult CLs to pass the CQ.

[2016-12-12 22:22] eakuefner commented on #3074
Answered my own question: this was actually done recently by https://codereview.chromium.org/2526853003.

At that time, the flake was caused by the system_stub problem rather than this hang. If the 240s timeout means that jobs are much more likely to time out in the event of flake and there's only one test in a different repository that needs the timeout to be bumped, could we change the default b

[2016-12-12 22:40] ockxdd opened #3085 "Perf Dashboard:"
Chrome version: 55.0.2883.75 (Windows)
URL: https://chromeperf.appspot.com/group_report?bug_id=673467

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):

Please describe the problem:

[2016-12-12 22:40] anniesullie commented on #3085
Is there a specific bug you are trying to report?

[2016-12-12 22:48] #3085 closed

[2016-12-12 22:55] jessimb opened #3086 "Space x-axis linearly with commit positions"
As discussed [here](https://bugs.chromium.org/p/chromium/issues/detail?id=672971), a non-linear x-axis is very misleading.

This illustrates how the revisions are spaced, with all points being equidistant regardless of how far apart the actual commits are.
![ocvaolq7c3t](https://cloud.githubusercontent.com/assets/6227957/21119819/1d44a31a-c079-11e6-81c9-90661a2ef4a2.png)

It would be more useful i

[2016-12-12 23:54] eakuefner commented on #3086
Wait, is this actually what we want? In your doc that you wrote recently (currently internal), it seemed like @anniesullie suggested that this was something we were really not sure we wanted. Let's add this to the agenda for tomorrow's meeting.

[2016-12-13 03:38] dave-2 opened #3087 "FindIsolated Quest and Execution"
Pinpoint needs to be able to look up .isolateds and request builds.

[2016-12-13 03:38] dave-2 commented on #2891
#3087 for looking up and triggering builds.

[2016-12-13 11:15] chromy opened #3088 "load:tools:gmail runs even though it is disabled"
To repo:
[code]

Expected result: Story does not run
Actual result: Story runs

[2016-12-13 11:36] chromy commented on #3088
Ahh, think I worked it out the disabled decorator was on the base class so wasn't affecting the actual test.

[2016-12-13 13:31] perezju opened #3089 "system_health.memory_mobile is running on Desktop"
For example here on [Linux Perf bot](https://build.chromium.org/p/chromium.perf/builders/Linux%20Perf/builds/113/steps/%5Btrigger%5D%20system_health.memory_mobile%20on%20%28102b%29%20GPU%20on%20Linux%20on%20Ubuntu-14.04). Is this intended?

@nedn

[2016-12-13 13:35] nedn commented on #3089
It's triggered, but not run. The reason is we are getting away from the step of generating a list of tests before triggering the test.
@ehanley324

[2016-12-13 13:36] nedn commented on #3089
This is WAI.

[2016-12-13 13:36] #3089 closed

[2016-12-13 13:38] perezju commented on #3089
Ah, yes, forgot about that. Thanks for the reminder.

[2016-12-13 13:49] chromy commented on #3088
Fixed.

[2016-12-13 13:49] #3088 closed

[2016-12-13 18:03] eakuefner commented on #3074
We're still failing to get stack traces (or indeed observe a successful response to SIGTERM) even though the timeout has been bumped; I'll try to introduce a hang locally and see if I can get a stack trace out like @kenrussell has suggested.

[2016-12-13 21:03] benshayden commented on #3077
@anniesullie

[2016-12-13 22:41] benshayden commented on #2943
I think we settled on TelemetryInfo in the context of the Histogram Pipeline doc?

[2016-12-14 10:40] #1811 closed

[2016-12-14 17:30] zeptonaut opened #3090 "Story names are ambiguous when there are multiple stories in a benchmark with the same name but different grouping keys"
This happens in the [loading.mobile benchmark](https://cs.chromium.org/chromium/src/tools/perf/benchmarks/loading.py?q=loading.py&sq=package:chromium&dr&l=39), which runs the same story twice: once without traffic shaping and once with 3G traffic shaping. When I tried to [kick off a bisect](https://bugs.chromium.org/p/chromium/issues/detail?id=673461), it failed because it erroneously assumed that

[2016-12-14 18:45] eakuefner commented on #3090
Charlie, just to answer your questions, we already enforce that all stories in a story set should be unique up to name and grouping keys. So I feel like probably the right thing to do here is to also pass grouping keys to bisect.

[2016-12-14 19:08] benshayden commented on #3080
I'll keep this open for now:
 * I think we said that we still need a weakly-typed table of additional repos for internal repos?
 * Should RevisionInfo support specifying CLs that were patched into each repo?

[2016-12-14 19:50] simonhatch opened #3091 "Crash running benchmark without specifying output-format"
./tools/perf/run_benchmark --browser=release smoothness.top_25_smooth runs to completion but dumps this out:

Traceback (most recent call last):
  <module> at /usr/local/google/home/simonhatch/chromium/src/tools/perf/run_benchmark:22
    sys.exit(main())
  main at /usr/local/google/home/simonhatch/chromium/src/tools/perf/run_benchmark:19
    return benchmark_runner.main(config, [trybot_command.Try

[2016-12-14 20:00] eakuefner commented on #3074
Alright, @ehanley324 has noticed that benchmark runtimes have ballooned on Linux as a result of my CL, and is reverting it. However, further investigation reveals that we apparently *never* manage to shut down the browser cooperatively on Linux, so that's definitely a red flag.

[2016-12-14 20:04] Apeliotes opened #3092 "tracing/base should not depend on tracing/ui"
Ex: base/unit.html uses tr.b.findDeepElementsMatching, even though that function is in ui/base/deep_utils.html

Either the time display mode should be consistent across all parts of the tracing ui, which means we shouldn't need to walk the dom and can directly call a setter in Unit when determining the time display mode while importing a trace. Or the logic for finding what the time display mode s

[2016-12-14 20:22] eakuefner commented on #3091
@simonhatch to confirm, it looks like you're using chart JSON for the command that succeeds but HTML (default) for the one that fails, right? So this looks like an issue with `HTMLOutputFormatter` and not specifying an --output-dir.

[2016-12-14 20:23] eakuefner commented on #3091
@benshayden

[2016-12-14 20:28] eakuefner commented on #3091
Alright, so even with my fix I don't seem to be able to repo this locally. Simon, are you synced to HEAD? What Catapult/Chromium revision?

[2016-12-14 20:30] simonhatch commented on #3091
Sorry yes, corrected the title, running with --output-format=chartjson works fine but without crashed.

Chromium: 81892544ca67cc6ff463c7a5d58bcfadd499594d
Catapult: c78686903901261433d5abf72d94f0052524b5c7

Was ToT like 20 minutes before I logged bug.

Also got it on trybot: https://build.chromium.org/p/tryserver.chromium.perf/builders/linux_perf_bisect/builds/6935

[2016-12-14 20:33] eakuefner commented on #3091
@benshayden looked at this and figured out that it must be because the benchmark is producing an empty `ListOfScalarValues`. Should be a straightforward fix, and explains why I couldn't repro.

[2016-12-14 22:00] kenrussell commented on #3074
Sorry about that. That's discouraging.

It'd be useful to know under what circumstances a minidump can be gathered on Linux. Right now it sounds like it's only happening when the browser actually crashes. If you can force a hang locally and experiment with sending various signals that'd be useful.

[2016-12-14 22:28] benshayden commented on #2828
I'm looking at [run_metric](https://github.com/catapult-project/catapult/blob/master/tracing/bin/run_metric) and [telemetry_based_measurement](https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/web_perf/timeline_based_measurement.py), both of which call [metric_runner](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/metrics/metric_runner.py). Both

[2016-12-14 22:51] nedn commented on #2828
I am unclear why we think they need to share more code. Closing this sgtm.

[2016-12-15 00:28] benshayden commented on #2688
This is done. :-)

[2016-12-15 00:28] #2688 closed

[2016-12-15 01:16] fmeawad commented on #3073
From the traces shared by @Alex319 I grabbed this screenshot:
![poster_circle_cpu_greater_than_wall](https://cloud.githubusercontent.com/assets/1760798/21207514/4a5970c4-c21d-11e6-965b-24b4ba267e8b.png)

Which does show the CPU time > Wall time.

By looking at the trace file, there is 4 sub traces in it. In the chrome _sub_trace, I extracted the JSON node responsible for this slice as:
[code]
whic

[2016-12-15 12:30] chromy commented on #2970
sgtm 👍 I will do it in pieces rather than try to refactor all callers at once.

[2016-12-15 13:43] perezju commented on #3028
Steps 1, 2, 3 from the plan above are all done. I'll start thinking about 4.

[2016-12-15 14:36] primiano opened #3093 "Perf trybots failing with ChromePublic.apk not found"
alexclarke@ tried to run a cl via some perf trybots
https://codereview.chromium.org/2579773002

Looks like all perf trybot jobs failed with:
usage: adb_install_apk.py [-h] [--apk APK_NAME] [--apk_package APK_PACKAGE]
                          [--split SPLITS] [--keep_data] [--debug] [--release]
                          [-d DEVICES] [--adb-path ADB_PATH]
                          [--blacklist-file

[2016-12-15 14:51] ehanley324 commented on #3074
Right, I think that before we can figure out when we can get minidumps we have to resolve the issue on linux where we don't shut down the browser correctly.  This may solve both of our problems actually because maybe we aren't giving the browser a chance to produce this minidump.

[2016-12-15 15:26] anniesullie commented on #3093
This is crbug.com/672529

[2016-12-15 15:57] zeptonaut commented on #3090
Ah - then we've already made the decision that the `(name, grouping key)` tuple has to be unique rather than just `(name)`.

Were all the implications of this thought through? It seems like there are a *lot*.

Anywhere that we currently do something based on the story name, we now need to also include the grouping key. For example:

1. In the dropdown where we show the "story name" when selecting

[2016-12-15 16:30] simonhatch opened #3094 "Dashboard - Remove unused params from bisect-form."
Leaving dead parameters here is just confusing people.

Here's a config I pulled from one of the latest android_nexus5_perf_bisect runs:

{
  "bad_revision": "438202",
  "bug_id": 674523,
  "builder_host": null,
  "builder_port": null,
  "command": "src/tools/perf/run_benchmark -v --browser=android-chromium --output-format=chartjson --upload-results --pageset-repeat=1 --also-run-disabled-tests --s

[2016-12-15 16:32] simonhatch commented on #3094
@dave-2 @ro-berto Can you guys confirm and I'll go remove these.

[2016-12-15 16:42] anniesullie commented on #3094
FWIW during the perfbot fixit we set repeat count for return_code bisects and it did appear to be used.

[2016-12-15 17:10] simonhatch commented on #3094
Ah yes looks like it is used if return_code bisect is specified, otherwise ignored. Maybe hide the field depending on the bisect mode.

Max time is a bit more complex, it looks like a single instance of revision_state.py:_do_test(), which calls down to perf_test.py:run_perf_test() respects the max time, but for a single batch of test runs. But if the confidence isn't high enough, it'll just end up

[2016-12-15 17:16] pasko commented on #3094
hey guys, if you remove repeat count, then how are we supposed to get more samples when the "Compare samples" step suggests: "significance": "NEED_MORE_DATA"

all caps, hard to resist, right?

[2016-12-15 17:28] simonhatch commented on #3094
The bisect should continue gathering samples on it's own until either it has the confidence to continue or some max threshold of tests has been reached (currently set at 20). If you see NEED_MORE_DATA in Compare Samples on the "Gathering Reference Values" step, it's usually followed by some re-testing steps until it has enough data to continue. If it's on a normal revision step comparing against L

[2016-12-15 18:33] pasko opened #3095 "More configurable bisects"
Please make the max number of samples and the p-value for bisects configurable on the perf dashboard.

[2016-12-15 18:34] lpy commented on #3095
@dave-2 @simonhatch

[2016-12-15 18:41] simonhatch commented on #3095
Would like to get Dave's thoughts on this first, whether those values were specifically chosen.

I'll also be upfront and say that I don't have the bandwidth to do this in the near-future. I'll be happy to describe how to do it and review cl's though.

[2016-12-15 20:23] eakuefner commented on #3090
Talked to @zeptonaut offline about the rationale; I think we agree that there are two next steps:

1. We need to make it so that the GTest test name Telemetry prints reflects the story grouping keys, and
2. We need to figure out why the structure of loading.mobile's chart JSON is different from page_cycler_v2's; we don't see the tir_label field polluted with per-page entries on PCv2.

[2016-12-15 20:45] eakuefner commented on #3091
This is fixed.

[2016-12-15 20:45] #3091 closed

[2016-12-16 16:23] simonhatch opened #3096 "Dashboard - No android_webview_nexus6_aosp_perf_bisect option."
https://build.chromium.org/p/tryserver.chromium.perf/builders/android_webview_nexus6_aosp_perf_bisect

There seems to be a nexus6-webview bot, but no option to initiate from the dashboard. Should I add it?

[2016-12-16 16:29] anniesullie commented on #3096
@case540 FYI

Yes, please!

[2016-12-16 17:07] benshayden opened #3097 "assert.isTrue/isFalse in chai fail to display the back trace."
This makes it very difficult to determine which assertion failed in a test containing multiple isTrue/isFalse assertions. I don't know if updating chai #2164 would fix this.

Monkey patch in base/assert_utils.html in https://codereview.chromium.org/2585483002

[2016-12-16 21:01] anniesullie commented on #2645
@zeptonaut: do you think you would be able to:
1. Update your CL to disable all the tests that still fail.
2. File a bug to re-enable failing tests, with a list
3. Land the CL?

That way we can get coverage on the tests that are passing, and enable the failures as we have time (and possibly in parallel).

[2016-12-16 21:02] nedn commented on #2645
Yeah, we are close to finishing this bug. I think a bunch of failed tests are because we have never has integration test coverage against actual device on CQ. So disabling the failed ones & get this land to stop the bleeding SGTM.

[2016-12-16 21:07] Apeliotes opened #3098 "Refactor Unit, UnitScale and TimeDisplayMode"
They currently don't support all needed time scales, force all time units to use the current time display mode, only support formatting times given in ms, and are not particularly readable.

See the [design doc](https://docs.google.com/document/d/1og_099HXcPgYArWHBDbaSuAQt-I1T1K6pqexTXkacFI).

[2016-12-16 21:19] zeptonaut commented on #2645
I'll do my best to prioritize this.

[2016-12-17 16:34] zeptonaut commented on #2645
The weirdest thing about this is that it seems like the retry attempts just stop in the middle. Both in the old tryserver attempts (from a couple months ago) and last night's tryserver attempts, about 50 or so Telemetry tests fail the first time through. Then, on either the first or second retry of those tests, output just seems to abruptly end in the middle of the tests. I think my inclination is

[2016-12-17 16:41] zeptonaut opened #3099 "Many Telemetry unittests are failing on Android"
Right now, we have no Telemetry unit tests running on the Android try server (#2645). In order to get them running on the try server, we'll have to disable the 50 or so unit tests that are currently failing on it. After we do this, we should swing back around and reexamine each of these tests and try to get it enabled.

[2016-12-17 17:04] nedn commented on #2645
All the error messages seem to be "  WebSocketException: Handshake Status 500". I think this worths further debugging.

[2016-12-19 08:38] andrey-malets commented on #3034
Thank you for explanation, closing the issue.

[2016-12-19 08:38] #3034 closed

[2016-12-19 16:06] primiano opened #3100 "TraceViewer feature req: permalinks to reproduce the state of TraceViewer UI"
Not high prio but maybe a good starter bug.

These days the perf waterfall captures traces for each run. This is great and we are using the traces more and more to point out relevant information in bugs, for instance as in the case of crbug.com/659066#c17 .
Unfortunately traces are often overwhelming. Linking a trace is not enough to make a problem evident to another person. I often have to attach

[2016-12-19 17:05] uucidl opened #3101 "Q. TraceViewer used to show aggregate information about event parameters"
Trace Viewer in Chrome used to show aggregate information about numeric parameters, which I don't see anymore in the latest update of chrome.

Instead I see an histogram for durations etc... but no summary of values anymore.

This is for event 'I' types, on which some values are collected.

[2016-12-19 22:08] simonhatch commented on #3096
https://build.chromium.org/p/tryserver.chromium.perf/builders/android_webview_nexus6_aosp_perf_bisect/builds/97

Added the bot to the bot map and successfully launched a bisect against that bot via the dashboard, so closing this. If there are any problems with the bot itself, we can open new bugs.

[2016-12-19 22:08] #3096 closed

[2016-12-20 15:32] ehanley324 opened #3102 "Inaccurate decorator behavior when @Enabled and @disabled are used"
See chromium issue where android tests were being run on desktop bots:
https://bugs.chromium.org/p/chromium/issues/detail?id=672059

Seems to be a telemetry bug where decorators are not behaving as intended.

[2016-12-20 17:12] simonhatch opened #3103 "Dashboard - Invalid story filter default for media.tough_video_cases_extra"
Copy/paste my comment from [crbug.com/660245](http://crbug.com/660245)

That story filter doesn't seem valid, how was it picked? When I go to the dashboard it automatically populates the story-filter field with "garden2.10s.webm.seek.warm"

But digging through the log it seems like that's not a valid option, most of the stories look something more like: video.html?src=tulip2.ogg&type=audio

Not cl

[2016-12-20 17:52] simonhatch commented on #3103
Wrote a quick script to check crbug for any bisect that reported a test with no output values for the last 3 weeks and only found media.android.tough_video_cases (https://bugs.chromium.org/p/chromium/issues/detail?id=660245#c11) as another candidate for bad story filter.

[2016-12-21 14:01] perezju commented on #3103
Thanks for looking it up. It turns out that `media.*` benchmarks sometimes produce test paths which do not directly correspond to stories. Sometimes the story name could be guessed, but It's probably safer in those case to bail out and not try to do a bad guess.

I've sent out a [CL for review](https://codereview.chromium.org/2589373003/).

[2016-12-21 14:35] natorion commented on #2830
We switched on another RuntimeCallstats variant this week. It seems this overloaded the Chromeperf frontend again because v8.x64 is not loading again.

[2016-12-21 21:56] simonhatch opened #3104 "Dashboard - Default metric for media.tough_video_cases_extra seems wrong on group_report."
Taken from https://bugs.chromium.org/p/chromium/issues/detail?id=660232

https://chromeperf.appspot.com/group_report?keys=agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgICg3eG-yggM,agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgICg_cKavQkM,agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgICgvdHqpgkM,agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgICgvY7L6woM,agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgICg_dSDugkM,agxzfmNocm9tZXBlcmZyFAsSB0Fub21hb

[2016-12-22 11:15] perezju commented on #3104
Ah, I think I've noticed this in the past. The correct default metric actually *is* sent, as [computed in _PrefillInfo](https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/start_try_job.py#L256), but the UI doesn't show it as selected on the dialog box.

@eakuefner @anniesullie who could have a look at this from the UI side of things?

[2016-12-22 11:45] perezju opened #3105 "Unformatted absolute deltas"
Some numbers in the new "abs delta" column in chrome perf show up as "unformatted"

![ndyuvhtv9cu](https://cloud.githubusercontent.com/assets/16922344/21424620/ea18dc7a-c83b-11e6-8106-a07ad249f575.png)

Why is that? Maybe a bug in our metrics not providing the correct unit?

@jessimb

[2016-12-22 11:45] perezju commented on #3105
Those show up in the second group of [alerts for this bug](https://chromeperf.appspot.com/group_report?bug_id=674924).

[2016-12-22 11:59] camillobruni commented on #2642
This seems to have been only partially fixed. As of 2016-12-20 we started pushing another Runtime Call Stats benchmark to chromeperf, essentially adding a third more data points.

Thanks to your intervention yesterday, the graphs of existing reports just load fine again, but the dropdown on v8/x64 is still timing out.

[2016-12-22 16:52] jessimb commented on #3105
This is WAI.

Unit was not information previously stored in the Anomaly entity, but it was stored in the Test entity that the Anomaly keeps a reference to. Rather than fetching from Anomaly and Test each time, we now store units in the Anomaly directly. I wrote a MapReduce job to add units to existing anomalies, but it didn't update all of them for some unknown reason. We determined that it wasn't

[2016-12-22 16:54] perezju commented on #3105
Alright, sounds good. Thanks for the information!

[2016-12-22 16:54] #3105 closed

[2016-12-24 04:32] jacoblukose commented on #3018
Can I please know the coding style guide ?

[2016-12-27 18:40] eakuefner commented on #3018
@jacoblukose https://github.com/catapult-project/catapult/blob/master/docs/style-guide.md

[2016-12-29 15:27] zeptonaut commented on #3090
Hi Ethan,

Any update on this?

On Thu, Dec 15, 2016 at 3:23 PM Ethan Kuefner <notifications@github.com>
wrote:

[2016-12-29 15:33] zeptonaut commented on #3061
Hi Alex,

Any update on this?

[2016-12-29 17:32] eakuefner commented on #3090
Hi Charlie, just coming back to this. I think the first change I describe is probably ready to be made modulo an email to telemetry-announce; I think addressing the second point requires a doc.

In particular, it seems that a post-processing pass on `StorySet` is necessary once all stories have been added (something like a `Finalize` method that must be called at latest in `StoryRunner` once all s

[2016-12-29 17:36] eakuefner commented on #3097
Have you seen http://stackoverflow.com/questions/13375474/how-can-i-make-the-exception-of-chai-js-include-stack-trace-info ? I think the right thing to do is set that somewhere in base. Our Chai is new enough that it sounds like it should have this functionality.

[2016-12-29 17:42] eakuefner commented on #3101
@uucidl Can you upload some screenshots for context?

@benshayden

[2016-12-29 18:20] zeptonaut commented on #3090
Thanks for the update Ethan!

On Thu, Dec 29, 2016 at 12:32 PM Ethan Kuefner <notifications@github.com>
wrote:

[2016-12-29 20:17] zeptonaut commented on #2989
Closing this, as we decided ultimately that we want these as regular metrics that are just unmonitored.

[2016-12-29 20:17] #2989 closed

[2016-12-29 20:40] zeptonaut opened #3106 "story:power histogram should still exist without Chrome trace"
Right now, if there's no events in a trace that identify the trace as being for Chrome, no power metrics are computed. However, there's no reason the story:power histogram couldn't still be computed.

[2016-12-30 04:12] alisye commented on #3018
Should simple_mock_unittest.py also be deleted?

[2016-12-30 16:33] eakuefner commented on #3018
Yes. Once a module is deleted, generally its unit tests can be as well, because they're testing code that doesn't exist any more.

As well, please note that there's already partial progress on this bug in https://codereview.chromium.org/2601923002

[2017-01-02 15:35] simonhatch opened #3107 "Dashboard - Invalid story filter default for webrtc.*"
From: https://bugs.chromium.org/p/chromium/issues/detail?id=670657

[2017-01-03 13:15] chromy commented on #2634
Works a bit better now.

[2017-01-03 13:15] #2634 closed

[2017-01-03 13:15] chromy commented on #2633
Should be fixed now.

[2017-01-03 13:15] #2633 closed

[2017-01-03 16:14] anniesullie commented on #2971
Just saw a ton of these coming back from the holidays:
https://bugs.chromium.org/p/chromium/issues/detail?id=677413
https://chromeperf.appspot.com/group_report?bug_id=677414
https://bugs.chromium.org/p/chromium/issues/detail?id=677419
https://bugs.chromium.org/p/chromium/issues/detail?id=677424
https://bugs.chromium.org/p/chromium/issues/detail?id=677433
https://bugs.chromium.org/p/chromium/issues

[2017-01-03 17:05] anniesullie commented on #3104
@simonhatch do you have time to take a look?

[2017-01-03 17:12] simonhatch commented on #3104
Possibly later in the week, I'll keep this on my radar and if nobody picks it up I'll assign it to myself.

[2017-01-03 18:15] eakuefner opened #3108 "add_point is inefficient"
I'm creating this to track progress and case studies for add_point being inefficient, which has been increasingly frequently forcing metric authors to artificially pare down data that they are uploading.

We know of three major cases to study right now:

* V8
* memory-infra (uploading a subset of summary statistics since the very beginning; resolving this is also important for @jessimb's work)
* p

[2017-01-03 18:19] eakuefner commented on #3108
I think #3009 may be related here but we need to do more measurement and investigation to figure out what the distal cause might be, as far as uploading of V8 results is concerned.

[2017-01-03 18:26] eakuefner opened #3109 "Overhaul Platform/BrowserFinder/Options"
I'm rescuing this bug from https://bugs.chromium.org/p/chromium/issues/detail?id=570348.

#2102 is part of this, as is the task of switching us to argparse (which was part of https://bugs.chromium.org/p/chromium/issues/detail?id=465485, which I also want to close).

I'm keeping myself assigned for now, but don't plan to work on this actively for now. I've discussed the general shape of this plan w

[2017-01-03 18:31] eakuefner commented on #3108
Case study from memory where it turned out that add_point wasn't really a problem in that particular case. Nonetheless, adding this to the list to study. https://bugs.chromium.org/p/chromium/issues/detail?id=623015#c5

[2017-01-03 19:24] boliu opened #3110 "Add option to capture complete logcat on android"
When a test runs and fails, would like the ability to return the complete logs from an android device since when the test started running. Only a crash stack, or the few lines before failure sometimes isn't enough information to debug a problem.

[2017-01-03 19:30] anniesullie commented on #3110
@case540 @nedn @ehanley324

[2017-01-03 19:30] jbudorick commented on #3110
Is this referring to perf tests or functional tests?

[2017-01-03 19:32] boliu commented on #3110
Context is this google-internal bug: https://bugs.chromium.org/p/chromium/issues/detail?id=664341#c116

It's the webgl conformance tests

[2017-01-03 19:33] anniesullie commented on #3110
@jbudorick Sorry for the too-fast labeling!

[2017-01-03 19:37] jbudorick commented on #3110
@anniesullie the webgl conformance tests are functional tests that run via telemetry, so your labeling may have been correct.

Regardless, devil definitely already supports this kind of capturing.

[2017-01-03 20:27] benshayden commented on #3101
@lpy recently changed the [multi-event-sub-view](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/ui/analysis/multi_event_sub_view.html) to display a histogram instead of a table for performance reasons. Is that what you're talking about, @uucidl ?

You should be able to click and drag across the bars in the histogram in order to display the table of values for the selected

[2017-01-03 21:25] zeptonaut commented on #2645
Just to give an update: this is currently blocked on fixing a bug where systrace unit tests fail to shut down Chrome after the test is complete. The result of this is that Chrome instances from one test interfere with instances in future tests.

We identified this after seeing that all Telemetry unit tests pass when running with a local Android device. @jbudorick then tested and saw that Telemetry

[2017-01-04 00:00] ehanley324 commented on #3110
We are currently working on how to better surface stack traces for android in telemetry.

Can you be more specific about what devil supports?  Are you just saying it supports capturing more of the logcat than 500 lines (which is what telemetry currently grabs).

[2017-01-04 00:10] jbudorick commented on #3110
Devil supports logcat via:
 - [AdbWrapper.Logcat](https://github.com/catapult-project/catapult/blob/master/devil/devil/android/sdk/adb_wrapper.py#L550), which is a thin wrapper around `adb logcat`. (It doesn't currently support `-t`, though, but doing so wouldn't be too hard.)
 - [LogcatMonitor](https://github.com/catapult-project/catapult/blob/master/devil/devil/android/logcat_monitor.py), which

[2017-01-04 00:42] CalebRouleau opened #3111 "Data stoppage alerts only show up after triaging previous alerts"
I triaged all of the alerts on

https://chromeperf.appspot.com/alerts?sortby=end_revision&sortdirection=down&sheriff=Chromium%20Perf%20AV%20Sheriff

and then new alerts from 2016-12-07 and 2016-12-16 appeared.

I think they should have showed up before but instead all I saw were the older alerts.

[2017-01-04 00:51] chcunningham commented on #3111
Before triage:
![image](https://cloud.githubusercontent.com/assets/12039355/21628422/430b876e-d1d4-11e6-9efc-2e4c752086a6.png)

After triage:
![image](https://cloud.githubusercontent.com/assets/12039355/21628494/c50aeffc-d1d4-11e6-9285-d6c1a0d5823e.png)

[2017-01-04 00:58] ehanley324 commented on #3110
Ok so you are just referring to solving the problem of getting all of the logcat instead of just 500 lines.  We still need to symbolize those within telemetry to get useful information in the telemetry logs.

We currently just use logcat (https://cs.chromium.org/chromium/src/third_party/catapult/telemetry/telemetry/internal/platform/android_platform_backend.py?q=android_platform_backe&sq=package:c

[2017-01-04 01:15] nedn commented on #3110
Getting the full logcat since the start of the benchmark will be too much. Is there a way to reset the logcat? The following will help get all logcat needed to debug a crash of a story & no more:
[code]

[2017-01-04 01:48] uucidl commented on #3101
Indeed! I followed your instructions and clicked on the bars when showing the histogram for the Start of my events, and after doing so I could scroll down to reveal the list of all events with their arguments, which is what I was after.

What makes it hard to discover is that bars would normally not behave like a reveal button, and even after clicking there's no indication that content has been re

[2017-01-04 01:50] uucidl commented on #3101
So I would encourage any effort in making this more discoverable!

[2017-01-04 01:59] CalebRouleau commented on #3111
This is reliably reproducible. I have triaged two more sets of alerts only to have more alerts pop up again.

[2017-01-04 02:01] CalebRouleau commented on #3111
![triage](https://cloud.githubusercontent.com/assets/1326100/21629580/9dad4efa-d1de-11e6-9e19-ac599940af8f.png)

[2017-01-04 02:02] CalebRouleau commented on #3111
![triage2](https://cloud.githubusercontent.com/assets/1326100/21629602/c1c84b32-d1de-11e6-8250-784b74f5417c.png)

[2017-01-04 02:05] CalebRouleau commented on #3111
@anniesullie for assigning to owner.

[2017-01-04 12:36] perezju commented on #3107
From [webrtc_cases.py](https://chromium.googlesource.com/chromium/src/+/master/tools/perf/page_sets/webrtc_cases.py) it looks like most webrtc page sets have a single story/page.

The only exceptions are `WebrtcAudioPageSet` which appears to be dead code (not referenced anywhere), and `WebrtcRenderingPageSet` (benchmark: `webrtc.webrtc_smoothness`, not monitored) with 2 stories.

Given this I'll j

[2017-01-04 12:52] anniesullie commented on #3111
We limit it to 50 at once because it takes a long time to load them.

[2017-01-04 13:45] #3107 closed

[2017-01-04 15:53] perezju opened #3112 "Unify and fix chrome command line managers in catapult"
There are currently two modules to set/manage command line flags:

* [telemetry.internal.backends.android_command_line_backend](https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/internal/backends/android_command_line_backend.py)
* [devil.android.flag_changer](https://github.com/catapult-project/catapult/blob/master/devil/devil/android/flag_changer.py)

I propose to depre

[2017-01-04 16:26] chiniforooshan commented on #2826
If no one is working on this, I'll take a stab at it. One question, there are other libraries for processing a JSON stream, like http://oboejs.com. Is there any reason for preferring JSONStream? Looks like Oboe has a node version AND a browser version.

[2017-01-04 16:35] chcunningham commented on #3111
Understood. IMO it would be more clear if the UI said "50 / X alerts", and with a link to "load more".

[2017-01-04 16:56] nedn commented on #2826
I remembered @paulirish recommended https://www.npmjs.com/package/JSONStream.

[2017-01-04 16:57] nedn commented on #3112
+1 for unifying one place for managing Android commandline flags in devil.

[2017-01-04 17:00] jbudorick commented on #3112
SGTM

[2017-01-04 17:36] zeptonaut commented on #2826
@chiniforooshan I've looked into this for a couple of hours, but haven't started any serious work on it. I was planning to do so later this week, but if you have the time to do so, I certainly wouldn't be opposed to handing off the torch. It seems like pairing oboejs with either [zlib.js](https://github.com/imaya/zlib.js) or [pako](https://github.com/nodeca/pako) will probably accomplish what we w

[2017-01-04 17:54] fmeawad commented on #2826
Before the holidays I experimented with splitting the trace from the C++ side into multiple traces. The data sink controllers are getting the trace in correct chunks, but we use gzip which only supports one stream. I investigated adding tar into the system to include multiple traces but ran out of time.

gzip allows adding multiple streams to the same file, which is another possibility we can inve

[2017-01-04 18:41] benshayden opened #3113 "tr.b.getUsingPath is dead code."
Let's delete it.

[2017-01-04 18:41] eakuefner commented on #3113
+1

@Apeliotes

[2017-01-04 19:04] eakuefner opened #3114 "ChartJsonConverter is a class with a single (static) method"
Currently, we have a class called `ChartJsonConverter` which contains no state and has only one method, which is static, called `convertChartJson`. I feel like this function should just be bare, and this is reasonably common practice elsewhere in tracing.

Ned suggested in the original CL that we name files after nouns instead of verbs (hence the name `ChartJsonConverter`), but naming this particu

[2017-01-04 19:09] eakuefner opened #3115 "Get rid of system_stub"
system_stub can probably be replaced with usage of mock and/or pyfakefs instead, in a vein similar to https://github.com/catapult-project/catapult/issues/3018. We can probably use mock for the patching, and use pyfakefs if there's any deep filesystem stuff that needs to be faked.

This is an extended port of a bug from Chromium that I'm going to archive, https://bugs.chromium.org/p/chromium/issues

[2017-01-04 19:26] jreck commented on #2416
I believe this is fixed now as of https://github.com/catapult-project/catapult/commit/78b00b99cf86f25ff0082ae9a7b0799b1447a56f

[2017-01-04 19:26] #2416 closed

[2017-01-04 19:38] eakuefner commented on #3066
This is fixed.

[2017-01-04 19:38] #3066 closed

[2017-01-04 20:03] eakuefner commented on #2861
I think that this bug isn't really actionable, and should probably be closed as such. I have a feeling that many of the use cases that would have been covered by integration with results2 will instead turn out to be features of Pinpoint.

[2017-01-04 20:03] #2861 closed

[2017-01-04 20:04] eakuefner commented on #2449
I think this is done.

[2017-01-04 20:04] #2449 closed

[2017-01-04 20:10] eakuefner commented on #2829
Ben, do you want to

1. Give this bug a clearer title
2. Expand the directions a little bit in the description, and
3. Add GoodFirstBug?

[2017-01-04 20:12] eakuefner commented on #2836
+1

Charlie, I've assigned this to you so that this bug can have an owner. Are you willing to turn the rule on?

[2017-01-04 20:27] Apeliotes commented on #3114
+1
I don't mind names being verbs as long as we have consensus, and think that single-method stateless classes should be avoided where possible.

[2017-01-04 20:29] eakuefner commented on #2569
I think this is done.

[2017-01-04 20:29] #2569 closed

[2017-01-04 20:33] eakuefner commented on #2635
This is done.

[2017-01-04 20:33] #2635 closed

[2017-01-04 20:35] nedn commented on #3114
IMO,
Script names should be verbs: "run_benchmark", "run_test", "trace2html", "map_single_trace"
File names should be nouns: "benchmark_runner.py", "test_runner.py", "trace_2_html_converter.html".

There is no reason why "naming [a] particular file after a noun necessitates the dummy class". In fact, why not just have a method named `Convert`, `chart_json_converted.Convert()` is clear enough. If y

[2017-01-04 20:43] benshayden commented on #2391
This should still happen, but it's blocked on adding an Open button to trace file viewer, which is tied up with #1933 .

[2017-01-04 20:59] benshayden commented on #3114
Your proposal works for python modules, but not tracing's export system. In tracing, we have a convention whereby a file named `foo.html` exports something named `foo`, so that, if somebody is wondering where `foo` is defined, they shouldn't need to run a full-text search, they can go straight to `foo.html`. Exporting `tr.v.convertChartJson()` from a file named `chart_json_converter.html` would vi

[2017-01-04 21:43] zeptonaut commented on #2836
It was done in this CL by @Alex319, but there was no corresponding BUG= so it didn't get mentioned in this bug. Going to go ahead and close this.

[2017-01-04 21:43] #2836 closed

[2017-01-04 22:33] eakuefner commented on #1574
Unassigning myself as I'm not currently actively working on this.

Might be of interest to @jessimb

[2017-01-04 22:35] eakuefner commented on #3111
@jessimb

[2017-01-04 22:41] zeptonaut commented on #1574
I'm going to take a look at this.

[2017-01-04 22:43] zeptonaut commented on #1574
A few recent examples:

- https://chromeperf.appspot.com/report?sid=3856a50ed67533105228171d3d99ec1994d9670a2138fa357346a57368cb6f54&rev=440685
- https://chromeperf.appspot.com/report?masters=ChromiumPerfFyi&bots=mac-power-dual-gpu&tests=battor.power_cases%2Fvideo_animation%3Apower_avg&checked=video_animation%3Apower_avg%2Cvideo_animation%3Apower_avg_ref%2Cref&rev=440685

[2017-01-04 23:05] zeptonaut commented on #1574
@anniesullie and I spent a few minutes investigating this just now, and it looks like the unit test finds zero change points in the non-ref data even when we put in data directly from the recent examples that we just found. Our best guess as to the reason behind this is that the unit tests are using a different config with less sensitive change detection than the live site is using. Going to conti

[2017-01-05 10:20] perezju opened #3116 "Add short names to memory infra metrics"
Now that #2569 is completed, we should be able to improve the output of results2.html files by providing short names for high level memory-infra metrics.

@primiano @chromy
FYI - @eakuefner

[2017-01-05 10:46] ehlemur opened #3117 "Alert current and upcoming sheriff if a sheriff forgets to do sheriffing"
Regarding the alerts for regressions and improvements in the Performance Dashboard, it would be nice if one could alert the current and upcoming sheriff if a sheriff forgets to do sheriffing (e.g. there are untriaged alerts+improvements from Thu and earlier, on Friday)

[2017-01-05 13:56] anniesullie commented on #3117
This is an interesting idea. I think the biggest blocker is that different teams have different ways of knowing who the current and previous sheriff are: some use a rotation url, but most just have alerts sent to a mailing list. For your use case, which sheriff rotation is it? How would the dashboard know who the sheriff is and what days the rotation is on?

[2017-01-05 16:36] zeptonaut commented on #3071
Closing this as a duplicate of #2826, which @chiniforooshan is looking into

[2017-01-05 16:53] #3071 closed

[2017-01-05 16:57] zeptonaut commented on #2645
Huge thanks to @jbudorick for figuring out that systrace wasn't killing Chrome after its tests, leading to later failed Telemetry unit tests!

My CL yesterday enabled Telemetry tests to run on Android. As a sanity check, I ran a CL that fails a unit test on Android through the CQ this morning. The results:

![telemetry_runs](https://cloud.githubusercontent.com/assets/1407397/21689350/11019a18-d33e

[2017-01-05 17:17] chromy opened #3118 "It's hard to test callers of uri.Controller"
It's hard to test callers of [uri.Controller](https://github.com/catapult-project/catapult/blob/f51508d45a48ff3c372a2549959b5978fd261826/dashboard/dashboard/static/uri.html#L66) since it dispatches events straight to window (and its users add listeners to window) (e.g. [1](https://github.com/catapult-project/catapult/blob/1e916c1c87c895ab139ee27078dbb324b53a451f/dashboard/dashboard/elements/report

[2017-01-05 17:33] anniesullie commented on #3118
Would adding a thin shim class around events that we can mock help?

[2017-01-05 17:54] nedn opened #3119 "Making sure the memory requires for collecting traces in Telemetry is O(1)"
We currently using waste to much memory just to collect Trace in Telemetry & that is causing OOM'ed on Python32 bit (https://bugs.chromium.org/p/chromium/issues/detail?id=672097).

Since the trace are mostly only processed by the JavaScript engine in TBM2 benchmarks, we should not need to keep the string form & dictionary form of the trace in memory.

Local profiling shows that "browse:news:nytime

[2017-01-05 17:55] nedn commented on #3119
cc'ed @zeptonaut @randalnephew @ehanley324

[2017-01-05 17:55] anniesullie commented on #3111
@jessimb: the performance problem here is really similar to the one you avoided in your CL to add test units. If you look at the [alerts page](https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/alerts.py#L176) code it checks the stoppage alert `last_row_date`, which is a [computed property on `StoppageAlert`](https://github.com/catapult-project/catapult/blob/master/dashbo

[2017-01-05 19:35] zeptonaut commented on #2645
@nedn, being the enormous buzzkill that he is, pointed out that the CL I submitted still had a ton of tests that were disabled. Many of these probably don't need to be disabled because they were failing due to the aforementioned systrace problem rather than the test actually failing.

I'm going to reopen this bug until all of these tests that *should* be running on Android actually are. Many of th

[2017-01-05 20:31] anniesullie commented on #2971
Note: I get an error on the perf dashboard when I file a bug on an internal perfbot, saying it could not choose a bisect bot. But when I kick it off manually, it works fine. See https://bugs.chromium.org/p/chromium/issues/detail?id=678733 for an example where this happened.

@simonhatch do you have any cycles to look into automatically kicking bisects on internal perfbots? I think there are multip

[2017-01-05 21:49] eakuefner opened #3120 "Dumping logic into RequestHandler overrides makes them difficult to test"
In `AddPointHandler`, we dump a whole bunch of business logic into the `post` method, which makes it pretty difficult to test e.g. interactively in appstats.

As part of my investigation on #3009 I've been playing in appstats with `add_point`, but to get to a reasonable point where I can test, I needed to figure out how to instantiate a handler, and then how to construct a `Request` instance manua

[2017-01-05 21:52] anniesullie commented on #3120
I think yes on both points.

[2017-01-05 21:53] eakuefner commented on #3120
Awesome! Then I think it'll be easier for me to just do this refactoring before continuing with my investigation.

[2017-01-05 22:37] simonhatch commented on #2971
Yeah I can look into this

[2017-01-06 01:43] anniesullie opened #3121 "Stop creating data stoppage alerts for ref builds"
There are way too many data stoppage alerts to handle for non-ref builds; it's too hard to triage with double the alerts for ref failures.

@eakuefner @jessimb

[2017-01-06 04:05] anniesullie commented on #3121
CL: https://codereview.chromium.org/2606383008

[2017-01-06 04:14] kenrussell commented on #2890
@nedn @ehanley324 Could this please be fixed? The old test harness is about to be deleted, and it's impossible to figure out the valid options for --browser in the new test harness. Thanks.

[2017-01-06 04:21] kenrussell commented on #2865
Could we please reopen this conversation? The long run time of these tests is becoming a significant problem. It looks like some progress was made on http://crbug.com/549140 ; are we in a position where we could now download the binaries for cv2 and numpy from cloud storage during the build process?

[2017-01-06 04:31] anniesullie commented on #3111
Part 2 CL up for review: https://codereview.chromium.org/2616793004

[2017-01-06 05:13] kenrussell opened #3122 "--no-first-run is intermittently ignored on Android with browser_test_runner"
Though telemetry/telemetry/internal/backends/chrome/chrome_browser_backend.py specifes --no-first-run, occasionally, the browser brings up the sign-in page.

This was seen while developing https://codereview.chromium.org/2611263002 , testing on an unlocked Nexus 5X with stable Chrome.

I found that specifying --no-first-run manually, at the application level, (by calling SeriallyExecutedBrowserTes

[2017-01-06 13:25] primiano opened #3123 "Usability issues with perf trybot and result2"
alexclarke@ and I were looking at the results of some trybots he kicked off. There are a number of things that make the experience non-ideal:

1.  As a result of `run_bechmark try ...` Alex received a standard builbot email that had no particular links (pointing to [this](https://build.chromium.org/p/tryserver.chromium.perf/builders/android_nexus5_perf_bisect/builds/4502)). In order to figure out

[2017-01-06 13:25] primiano commented on #3123
@benshayden @eakuefner

[2017-01-06 13:33] anniesullie commented on #3123
I think easy-to-find results.html are going to depend on pinpoint, but @benshayden can you take a look at the results2 UX issues primiano@ points out?

[2017-01-06 13:55] ehanley324 commented on #2865
Unfortunately the idempotency stuff is about 60% done and wasn't high enough priority to finish so it might be on hold for a while.  I will take a look in the next day or two to see if it is something we can do without finishing that work and try and tackle it if it is.

[2017-01-06 14:30] nedn commented on #2890
OOps, I missed this. Next time, can you cc'ed my name on a bug that need my intention? Somehow I haven't been able to setup a good way to send relevant catapult issues to my mailbox.

[2017-01-06 14:34] nedn commented on #2890
Let's try to land https://codereview.chromium.org/2590623002/, it changes the harness's implementation significantly, so this may not be the problem once that landed, or it may required a different solution.

[2017-01-06 16:32] chromy commented on #3118
That's a good idea, something like: [https://codereview.chromium.org/2618783004]()?

[2017-01-06 16:44] zeptonaut commented on #1574
I've verified that we're feeding the data into the changepoint detection code correctly. @anniesullie suggested that we may be using a different change detection config in the test code than we are in the live dashboard, which would make sense. I dumped the config in the test code and just got `{}` (an empty dictionary). I'm going to see what it is in the live code.

[2017-01-06 16:52] nedn commented on #3119
This changes is risky due to the legacy logic around the trace collecting in telemetry. To de-risk this, I will simplify how Telemetry currently collect & store the string trace in memory before making the switch to store that in disk.

[2017-01-06 17:00] zeptonaut commented on #1574
[This](https://chromeperf.appspot.com/debug_alert?test_path=ChromiumPerfFyi%2Fmac-power-low-end%2Fbattor.tough_video_cases%2Fidle%3Apower_avg&rev=431961&num_before=10&num_after=10&config=%7B%7D) seems to be the relative "debug alert" page for the data series that I'm currently at.

It's worth noting that if you change the "number of points before" number from 10 to 40, the alert disappears. My the

[2017-01-06 18:05] eakuefner commented on #3121
In reviewing the CL, I started to wonder if we might have a roadmap for making these alerts easy to triage and re-enabling them.

In a similar vein to memory-infra and their artificial paring of values so that they can use the perf dashboard, this seems like something we would in theory like to be able to do, but lack the technology for at present. So I think it would be interesting to see if we c

[2017-01-06 18:11] anniesullie commented on #3121
We're actually moving toward more having the ref build be a nice-to-have. There's really not much we can do when it fails since the problem is usually in Chrome and not telemetry or the recipe. We're going to start artificially coloring it green on the buildbot status page.

@ehanley324 @nedn

[2017-01-06 18:12] eakuefner commented on #3121
Neat, I wasn't aware of that plan. Actually, it occurs to me that much of what we wanted the ref build to do could be subsumed by DeviceInfo/BuildbotInfo annotations, since the canonical explanation for why ref builds have been useful has been "imagine if something changed about the test environment but you didn't know it".

[2017-01-06 18:15] anniesullie commented on #1574
Actually the tool does find multiple changepoints; [here](https://chromeperf.appspot.com/debug_alert?test_path=ChromiumPerf%2Fandroid-webview-nexus6%2Fv8.mobile_infinite_scroll_tbmv2%2Fv8-gc-total_avg&rev=&num_before=80&num_after=10&config=%7B%7D) is a random example.

The algorithm to find change points **is** sensitive to the set of points that are sent into it. Most commonly this shows up when

[2017-01-06 18:21] benshayden opened #3124 "Compute max-height for table-container in histogram-set-table"
When looking at a large histogram-set-table with overview line charts enabled, I can scroll horizontally using the trackpad, though I don't see a horizontal scroll bar unless I scrolled all the way to the bottom of the page. When I scroll horizontally, the top controls stick to the left side of the screen, so I'm only scrolling the table. I'll compute a max-height for the table-container in histog

[2017-01-06 18:25] #2968 closed

[2017-01-06 18:43] benshayden commented on #3123
I can scroll horizontally using the trackpad, though I don't see a horizontal scroll bar unless I scrolled all the way to the bottom of the page. When I scroll horizontally, the top controls stick to the left side of the screen, so I'm only scrolling the table. I can compute a max-height for the table-container in histogram-set-table so that the table never overflows the screen so that the horizon

[2017-01-06 18:45] benshayden commented on #3123
Oh and thank you for the bug report! I've been looking forward to discussing the overview line charts specifically and the UI generally with users like you. :-)

[2017-01-06 19:25] kenrussell commented on #2890
OK. Sorry I haven't followed up on that but I've been trying to get all the GPU tests onto the browser_test_runner. There's just one remaining, and I hope to get it ported over today.

[2017-01-06 20:09] zeptonaut commented on #1574
Good to know: thanks!

On a positive note, I did manage to cause the algorithm to find *some* change point by hard coding a config of

[code]

[2017-01-06 20:16] zeptonaut commented on #1574
One thing that I find confusing: I stripped down the test data to only include 21 data points for each dataset (ref/nonref) for [this regression](https://chromeperf.appspot.com/report?sid=3856a50ed67533105228171d3d99ec1994d9670a2138fa357346a57368cb6f54&rev=440685), with 10 points before and 10 points after the regression that happened at 440685. The algorithm *still* didn't find any change points

[2017-01-06 21:50] simonhatch opened #3125 "Dashboard - Warn when attempting to bisect massive ranges."
From benhenry in: https://bugs.chromium.org/p/chromium/issues/detail?id=676791#c6

Do we want to pop up some sort of warning or something on enormous commit ranges like this?

@benhenry

[2017-01-06 22:23] zeptonaut commented on #1574
Looking more into this, `find_change_points._FindSplit()` is correctly identify 440685 as the most "interesting" split in the data. However, it's failing to pass the "steppiness" test. This change has a "steppiness" of 0.4922, whereas the default steppiness threshold is 0.5. Wow! That's close to the cutoff.

Diving in now to understand steppiness better.

[2017-01-06 22:26] zeptonaut commented on #1574
I've also now verified that using a config of:

[code]

results in the change point being found at 440685 like expected.

[2017-01-06 22:51] simonhatch commented on #2971
So one of the other issues seems to be when we have a bunch of grouped alerts with non-overlapping ranges. The dashboard tries to minimize the bisect range and with non-overlapping ranges we can end up with an invalid range where good > bad. I think if we want to be conservative, we should just use the range specified by the anomaly we're choosing to test from. That way you can be more confident t

[2017-01-06 22:56] zeptonaut commented on #1574
A couple of interesting things to note here based on an offline conversation that @anniesullie and I just had:

`find_change_points.FindChangePoints()` only finds the *first* change point in the data series, not *all* change points in the series. `find_anomalies.ProcessTest()` uses `find_change_points.FindChangePoints()` on both the non-ref series and the ref series and nixes the non-ref change po

[2017-01-06 22:57] anniesullie commented on #2971
I agree, we should bisect on the range specified by the anomaly, it's definitely possible the other tests don't have the same root cause.

[2017-01-06 23:18] #2828 closed

[2017-01-06 23:19] #2620 closed

[2017-01-06 23:19] #2716 closed

[2017-01-06 23:34] Apeliotes opened #3126 "Hoist model-specific logic from TimelineTrackView to TimelineView"
This is needed to enable us to reuse tracing's ChartTrack to display graphs in Dashboard.

See the [design doc](https://docs.google.com/document/d/1gpViAELCysRVuGkHptY7ePMtiBC4OAaIUhfhu2FxOhI) for more details.

[2017-01-07 01:25] #2721 closed

[2017-01-07 01:25] jessimb commented on #2876
Bug also reported in #1408, #1994, #2596, and #2434.

[2017-01-07 01:25] #2876 closed

[2017-01-07 01:26] #1408 closed

[2017-01-07 01:26] #2596 closed

[2017-01-07 01:26] #2434 closed

[2017-01-07 05:02] CalebRouleau opened #3127 "Running benchmarks locally doesn't work for Android N"
liberato@ and I (crouleau@) found Telemetry: Run Benchmarks Locally documentation (https://sites.google.com/a/chromium.org/dev/developers/telemetry/run_locally) and began to follow it.

For Android N (a Nexus 6 specifically) the run_benchmark command would only get us to the "Welcome to Chrome" page and just get stuck there. Here are the steps we took:

1. build chrome_public_apk
2. adb install -r

[2017-01-07 05:03] CalebRouleau commented on #3127
@eakuefner suggested writing this bug and adding @nedn and @ehanley324

[2017-01-09 10:51] hkjellander commented on #3117
For us, it's the "WebRTC Perf Sheriff" (https://chromeperf.appspot.com/alerts?sheriff=WebRTC%20Perf%20Sheriff). I understand the problem now, since the Perf dashboard doesn't really have any integration with sheriffing (as Annie explained).

I guess this would have to be implemented as some kind of script that runs periodically and queries Perf dashboard APIs (are there such?) about alerts and the

[2017-01-09 12:52] natorion commented on #2906
This is still happening and annoying (and potentially dangerous) :-(. If a proper fix is not possible please simply omit adding the milestone label at all. In that case the information is at least not incorrect.

[2017-01-09 13:38] anniesullie commented on #2906
@jessimb can you look into this today? @benhenry can probably help you understand milestone numbers<->commit positions.

[2017-01-09 13:43] anniesullie commented on #3117
Unfortunately, we don't have an API for alerts. There are a few different use cases which don't add up to it being high enough on our list to implement ourselves, but we would be okay with someone else implementing if it had the proper security. I think [cloud endpoints](https://cloud.google.com/endpoints/) would allow you to generate API keys that we can give out to clients so that we know it is

[2017-01-09 18:00] primiano opened #3128 "Add links to memory-infra benchmarks doc to memory regressions"
@perezju has landed the first version of our memory-benchmark docs:
https://chromium.googlesource.com/chromium/src/+/master/docs/memory-infra/memory_benchmarks.md

It would be great if this somehow was attached to bugs with memory regressions, something like:
See here for doc about memory benchmarks and how to repro them.

[2017-01-09 18:01] primiano commented on #3128
@anniesullie can you triage this? (not hi prio)

[2017-01-09 18:48] jessimb commented on #2906
For the alert in question, the start_revision is 39684, much too low to be a Chromium commit revision number, likely a v8 revision number.
The way labeling a milestone works currently, is to get the list of current milestones and their branch_base_positions and find the first milestone after the given revision. So when you pass in anything lower than the current stable branch (aka a v8 revision nu

[2017-01-09 18:55] nedn opened #3129 "Telemetry patches keep failing too-many-function-args lint check"
Plan: temporarily disable this check to unblock telemetry CL & reenable it later.

[2017-01-09 18:55] zeptonaut opened #3130 "browser_unittest.py's testIsTracingRunning is flaky on Windows"
Test output:

[code]

This came up in https://bugs.chromium.org/p/chromium/issues/detail?id=661434, which tracks flakes on the Chromium CQ.

Going to disable now.

[2017-01-09 18:56] nedn commented on #3129
@zeptonaut @perezju

[2017-01-09 18:58] zeptonaut opened #3131 "tracing_backend_unittest.py's testDumpMemorySuccess flaky on Windows"
[Link to example output](https://paste.googleplex.com/5887470184955904), [link to logs from run](https://luci-logdog.appspot.com/v/?s=chromium%2Fbb%2Ftryserver.chromium.win%2Fwin_chromium_x64_rel_ng%2F343726%2F%2B%2Frecipes%2Fsteps%2Ftelemetry_unittests__with_patch_%2F0%2Fstdout)

[2017-01-09 18:58] zeptonaut commented on #3131
Going to disable now.

[2017-01-09 19:02] zeptonaut commented on #2533
This was accomplished in https://codereview.chromium.org/2582303003

[2017-01-09 19:02] #2533 closed

[2017-01-09 19:03] zeptonaut commented on #2409
Closing this, as #2409 is now closed. However, this test is staying disabled on windows-reference and getting disabled on windows due to #3131

[2017-01-09 19:03] #2409 closed

[2017-01-09 19:08] nedn commented on #3127
@perezju would you work to fix the Android commandline flag fix this?

[2017-01-09 19:16] jessimb commented on #2906
After offline conversation with @eakuefner, we think that the older alerts (assuming they are Chromium commits) should be labeled with the oldest stable version, as they might still be release blockers. The current logic surrounding this works as intended.

The problem is that sometimes callers pass in revisions that are not Chromium revisions. This is true for v8 but also for other repositories (

[2017-01-09 19:28] jessimb commented on #2906
The best solution for this bug would be to determine which repository the alert corresponds to, and determine how that relates to milestone versions. That requires quite a bit of extra plumbing and is probably out of scope here.

As a workaround, we can filter on master and only label alerts that we know are Chromium (i.e. ChromiumPerf and ChromiumPerfFyi). Stay tuned for a CL on this.

[2017-01-09 20:06] anniesullie commented on #2906
Do we have the Row entity at this point in the code? The point id should correspond to one of the supplemental columns, which have names like 'r_chromium_commit_pos' and 'r_webrtc' so it should be possible to check which one it is and whitelist the valid names.

[2017-01-09 20:13] jessimb commented on #2906
I believe we only have the alert_keys. See relevant code https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/file_bug.py#L120

[2017-01-09 20:21] jessimb commented on #2906
CL to skip labeling for non ChromiumPerf and ChromiumPerfFyi masters: https://codereview.chromium.org/2618413002

[2017-01-09 21:54] anniesullie commented on #3121
This is now fixed.

[2017-01-09 21:54] #3121 closed

[2017-01-09 21:55] anniesullie opened #3132 "Data stoppage alerts hard to debug"
In order to debug a data stoppage alert, one needs to manually find the next buildbot status page, logs, etc. We could make a dialog that uses milo API to do this.

[2017-01-09 22:27] benshayden opened #3133 "How should WebURLLoaderImpl::Context::OnCompletedRequest be categorized?"
This event title is currently uncategorized ("other") by ChromeUserFriendlyCategoryDriver, but it can take a large amount of time, which makes breakdown bar charts difficult to use.

https://codesearch.chromium.org/chromium/src/content/child/web_url_loader_impl.cc?q=WebURLLoaderImpl::Context::OnCompletedRequest

What category can this trace event title be added to in order to make breakdown charts

[2017-01-09 22:47] eakuefner opened #3134 "Dashboard canary tests flaky on Windows"
See https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Windows%20Tryserver?numbuilds=100

@Apeliotes @anniesullie

[2017-01-09 22:48] benshayden commented on #3133
Here's a histogram of all of these events in that trace:
http://i.imgur.com/FSCrVyh.png

[2017-01-09 22:49] eakuefner commented on #3133
By the way, you can attach images/arbitrary attachments directly to bugs.

[2017-01-09 22:51] simonhatch opened #3135 "Dashboard - Post JSON to dashboard failing on large bisects."
Example: https://build.chromium.org/p/tryserver.chromium.perf/builders/winx64_10_perf_bisect/builds/823

Logs from that time have this error:

RequestTooLargeError: The request to API call datastore_v3.Put() was too large.

From @benhenry

[2017-01-09 23:00] nedn commented on #3133
@tdresser

[2017-01-09 23:07] benshayden opened #3136 "diagnostic-map-table Scalar columns should be sortable."
Currently, after brushing the histogram in multi-event-sub-view, it displays a table of events, where most of the columns contain Scalar diagnostics.

This diagnostic-map-table would be more useful if it supported sorting by those Scalars.

This does not affect results2 -- metrics should not use Scalars since they are not mergeable.

[2017-01-09 23:28] kenrussell commented on #2890
Just a brief follow-up that all of the GPU tests are on the browser_test_runner harness now. I'm happy to push forward with the typ migration as the next big step.

[2017-01-09 23:29] kenrussell commented on #2865
Could we run a step during "gclient sync" which would download certain Telemetry binaries from cloud storage, so they can be copied into the output directory during the build process? It's OK from my standpoint if we special-case which such binaries are downloaded, instead of solving some larger problem.

[2017-01-09 23:56] ehanley324 commented on #2865
So I briefly looked at the code, the rough plan is as follows:

1)  Write independent script (probably in telemetry/internal/image_processing) to build numpy and opencv and upload the zip files to some cloud storage hash in the internal telemetry bucket
2) Add entries to the dependency manager json file for these two zip files
3) Replace instances in telemetry that import this module to download t

[2017-01-10 00:04] kenrussell commented on #2865
Thanks for investigating this @ehanley324 . If it turns out that it is possible to dynamically modify the Python path in this manner -- specifically, so that the native modules can be picked up -- then I think the best place to store them is in a temporary directory created with Python's tempfile API. src/content/test/gpu/gpu_tests/cloud_storage_integration_test_base.py for example uses this to do

[2017-01-10 04:38] dave-2 opened #3137 "Swarming integration for Pinpoint"
Add a swarming service to dashboard and give Pinpoint the ability to kick off Swarming tasks.

[2017-01-10 04:38] dave-2 commented on #2891
#3137 for Swarming support.

[2017-01-10 09:08] perezju commented on #3127
Yes, my planned fix in #3112 should make this work. For the moment the workaround is:

* `adb shell setenforce 0`
* `adb rm -f /data/local/tmp/chrome-command-line`
* `adb rm -f /data/local/chrome-command-line`

Then the `run_benchmark` command above should work without issues.

[2017-01-10 09:46] natorion commented on #2830
Gentle ping on this, we still can't open the v8.x64 bot. Not even with predefined reports or forced reloads. It seems a lot of requests get terminated with server error 500.

Example link: https://chromeperf.appspot.com/report?sid=2ad4febd345339895837cd336da371a5d2e7f324493b9af8bb0d9d8110b835ed&start_rev=41000&end_rev=3980500

[2017-01-10 09:47] natorion commented on #2906
Thanks folks!

[2017-01-10 15:16] perezju opened #3138 "De-dupe CHROME_PACKAGE_NAMES (in Telemetry) and PACKAGE_INFO (in devil)"
Both [android_browser_finder.CHROME_PACKAGE_NAMES][1] and [constants.chrome.PACKAGE_INFO][2] duplicate information about browser types available and settings needed to operate/interact with them. Removing this duplication would ease maintenance when some of these settings need to change or new browser types are added.

The current state also makes the use of catapult confusing since the same brows

[2017-01-10 15:28] tdresser commented on #3133
Naively, I'd say resource_loading, but I don't have much context here. @bryanmcquade?

[2017-01-10 17:40] jessimb commented on #2830
A quick look into this...
The 500s in the console are referring to chart_container's console.warn() (https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/elements/chart-container.html#L744)
This is an error from the POST request to /graph_json. I'm not seeing any errors in the logs from /graph_json, so I'm not sure what is going on there. Furthermore, the graphs began to lo

[2017-01-10 17:43] simonhatch commented on #2971
Wrote a quick script to scrape for issues filed from the dashboard, checks the 2nd comment is the graphs link and that there's a 3rd comment with the bisect. So far no new issues have been filed without a bisect, I can check back in a week or 2 and close this.

[2017-01-10 17:57] perezju commented on #3035
Not sure why the CL wasn't linked. But documentation on [memory benchmarks](https://chromium.googlesource.com/chromium/src/+/master/docs/memory-infra/memory_benchmarks.md) is now available!

[2017-01-10 17:57] #3035 closed

[2017-01-10 18:33] anniesullie commented on #2830
Root cause is #2887

[2017-01-10 20:00] zeptonaut commented on #2990
To follow up about why: this allows `story:power_min` to tell people what the minimum instantaneous power draw was throughout the story, and `story:power_avg` to tell people what the average power draw was throughout the story, etc.

Alex had actually already made these changes to all metrics except for the story:power metric, which got missed.

[2017-01-10 20:00] #2990 closed

[2017-01-10 20:26] natorion commented on #2830
Thanks for investigating. Unfortunately nobody I asked on the team (~5 people) could open the page even after several reloads. What can we do as a workaround until the root cause is resolved?

[2017-01-10 21:34] kenrussell commented on #3122
CC'ing @nedn @ehanley324 .

This was reproducible locally, but presumably not on the bots.

[2017-01-11 01:37] dave-2 opened #3139 "DeadineExceededError when accessing some v8 graphs"
The spinners just spin forever on [this v8 report](https://chromeperf.appspot.com/report?sid=c5287989ec59bd244ee0bf96891468e1e0f86dce1c7f1c45f51f1f4bca727493).

[code]

[2017-01-11 02:19] dave-2 commented on #3139
I found so far that:

* For this particular configuration (internal.client.v8/x64/v8), there are 55,754 subtests.
* `_FetchSubTestPaths()` takes about 20s, or 1/3 of the time budget. That by itself would be okay, except:
* `_SubTestsDict()` has exponential runtime. Doubling the number of test paths multiplies its runtime by about 3.7x. (20k test paths takes 7 seconds, and 40k test paths takes 26 s

[2017-01-11 14:25] anniesullie commented on #3139
Thanks, @dave-2! Closing in favor of #2887, but definitely optimizing the subtest query is what needs to happen.

[2017-01-11 14:25] #3139 closed

[2017-01-11 15:16] perezju opened #3140 "Add a device.RemovePath method"
This is a pretty common operation (in which callers are often tempted to quote file names wrongly, or forget to check_return=True), so let's provide a straightforward API for it.

@jbudorick

[2017-01-11 15:17] jbudorick commented on #3140
sgtm

[2017-01-11 16:21] #2967 closed

[2017-01-11 16:22] #3103 closed

[2017-01-11 16:22] #3140 closed

[2017-01-11 17:07] anniesullie commented on #2830
Can someone from v8 team check the graphs on this staging server and see if they work as expected? https://dev-sullivan-8b10e782-dot-chromeperf.appspot.com/report?sid=2ad4febd345339895837cd336da371a5d2e7f324493b9af8bb0d9d8110b835ed&start_rev=41000&end_rev=3980500