[2015-08-03 02:12] catapult-bot opened #1157 "Make it easy to manually generate regression test for rail_ir_finder based on real traces."
<a href="https://github.com/philippebeaudoin"><img src="https://avatars.githubusercontent.com/u/11399419?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [philippebeaudoin](https://github.com/philippebeaudoin)**
_Wednesday Jul 29, 2015 at 17:57 GMT_
_Originally opened as https://github.com/google/trace-viewer/issues/1157_

----

This should allow us to build regression te

[2015-08-03 02:12] catapult-bot opened #1158 "Consider GIF animations in IR finder"
<a href="https://github.com/vmpstr"><img src="https://avatars.githubusercontent.com/u/1906955?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [vmpstr](https://github.com/vmpstr)**
_Thursday Jul 30, 2015 at 18:09 GMT_
_Originally opened as https://github.com/google/trace-viewer/issues/1158_

----

We need to discuss how to handle GIF animations from the perspective of IR

[2015-08-03 02:12] catapult-bot opened #1159 "Ensure that RAIL CSS Animation IRs cover CSS Animations"
The RAIL CSS Animation IR should cover the time when a CSS animation is running.

RAIL IR Finder currently finds CSS Animation async events in traces and creates RAIL CSS Animation IRs to represent them.

The problem is that these async events don't always perfectly capture the time that a css animation is running.

[Add blink-side tracing for animations](https://code.google.com/p/chromium/issues/

[2015-08-03 02:12] catapult-bot opened #1160 "Meaningful IR Titles"
<a href="https://github.com/benshayden"><img src="https://avatars.githubusercontent.com/u/1566089?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [benshayden](https://github.com/benshayden)**
_Thursday Jul 30, 2015 at 19:32 GMT_
_Originally opened as https://github.com/google/trace-viewer/issues/1160_

----

RAILInteractionRecords should have more descriptive titles than

[2015-08-03 02:12] catapult-bot opened #1161 "PostTask flow IDs are not unique or do not have matching "s" and "f" phase"
<a href="https://github.com/yuhao"><img src="https://avatars.githubusercontent.com/u/989505?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yuhao](https://github.com/yuhao)**
_Friday Jul 31, 2015 at 00:03 GMT_
_Originally opened as https://github.com/google/trace-viewer/issues/1161_

----

I reported it on Chromium code review, but thought it was cross-posting it here.

[2015-08-03 02:12] catapult-bot opened #1162 "tracing python code adds toplevel to sys.path"
<a href="https://github.com/natduca"><img src="https://avatars.githubusercontent.com/u/412396?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [natduca](https://github.com/natduca)**
_Friday Jul 31, 2015 at 02:24 GMT_
_Originally opened as https://github.com/google/trace-viewer/issues/1162_

----

The tracing/ folder's python code points at the top of the repo, so to get

[2015-08-03 02:13] catapult-bot opened #1163 "Display item lists not shown in FrameViewer by default"
<a href="https://github.com/progers"><img src="https://avatars.githubusercontent.com/u/569214?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [progers](https://github.com/progers)**
_Friday Jul 31, 2015 at 02:40 GMT_
_Originally opened as https://github.com/google/trace-viewer/issues/1163_

----

The default categories do not include the display item category which break

[2015-08-03 02:13] catapult-bot opened #1164 "DEPS roll blocked on licensecheck issues"
<a href="https://github.com/natduca"><img src="https://avatars.githubusercontent.com/u/412396?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [natduca](https://github.com/natduca)**
_Friday Jul 31, 2015 at 05:21 GMT_
_Originally opened as https://github.com/google/trace-viewer/issues/1164_

----

Sigh.

@nedn how'd we fix the licensecheck stuff last time? suppressions?
@

[2015-08-03 02:13] #1164 closed

[2015-08-03 02:13] catapult-bot opened #1165 "model/mode.html exports to tr, not tr.model"
<a href="https://github.com/natduca"><img src="https://avatars.githubusercontent.com/u/412396?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [natduca](https://github.com/natduca)**
_Friday Jul 31, 2015 at 06:28 GMT_
_Originally opened as https://github.com/google/trace-viewer/issues/1165_

----

@dj2 any idea why?

[2015-08-03 02:13] catapult-bot opened #1166 ""Mark" trace events are not being imported into trace viewer"
<a href="https://github.com/zeptonaut"><img src="https://avatars.githubusercontent.com/u/1407397?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [zeptonaut](https://github.com/zeptonaut)**
_Friday Jul 31, 2015 at 16:01 GMT_
_Originally opened as https://github.com/google/trace-viewer/issues/1166_

----

They use the phase event 'R' and should be treated as if they were "

[2015-08-03 02:13] catapult-bot opened #1167 "Selecting a slice in a trace with many flow events can be slow."
<a href="https://github.com/philippebeaudoin"><img src="https://avatars.githubusercontent.com/u/11399419?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [philippebeaudoin](https://github.com/philippebeaudoin)**
_Friday Jul 31, 2015 at 17:34 GMT_
_Originally opened as https://github.com/google/trace-viewer/issues/1167_

----

In the attached trace [1] selecting almost any

[2015-08-03 02:14] catapult-bot opened #1168 "Move brushing_state_controller from core/ to ui/"
<a href="https://github.com/philippebeaudoin"><img src="https://avatars.githubusercontent.com/u/11399419?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [philippebeaudoin](https://github.com/philippebeaudoin)**
_Friday Jul 31, 2015 at 17:38 GMT_
_Originally opened as https://github.com/google/trace-viewer/issues/1168_

----

Now that it's been renamed brushing_state_cont

[2015-08-03 02:14] catapult-bot opened #1169 "Get microtasks out of v8 and into weather report overheads"
<a href="https://github.com/natduca"><img src="https://avatars.githubusercontent.com/u/412396?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [natduca](https://github.com/natduca)**
_Friday Jul 31, 2015 at 21:07 GMT_
_Originally opened as https://github.com/google/trace-viewer/issues/1169_

----

Microtasks aren't visible in traces because they're all inside v8. This is

[2015-08-03 16:38] benshayden commented on #1032
Looks like this was fixed?

[2015-08-03 17:45] petrcermak commented on #997
I'm **elevating the priority** of this issue because several of my team members who use Trace Viewer on a daily basis have asked me multiple times when this will be fixed (as not having this feature makes their work much more difficult).

[2015-08-04 15:11] catapult-bot opened #1170 "IR Finder creates too many response records on a 60hz mousewheel scroll"
<a href="https://github.com/natduca"><img src="https://avatars.githubusercontent.com/u/412396?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [natduca](https://github.com/natduca)**
_Monday Aug 03, 2015 at 17:33 GMT_
_Originally opened as https://github.com/google/trace-viewer/issues/1170_

----

Trackpads on newer machines, e.g. everything but linux, e.g. osx, cros, win

[2015-08-04 15:11] catapult-bot opened #1171 "gzipped files not working in devserver trace-viewer"
<a href="https://github.com/natduca"><img src="https://avatars.githubusercontent.com/u/412396?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [natduca](https://github.com/natduca)**
_Monday Aug 03, 2015 at 18:17 GMT_
_Originally opened as https://github.com/google/trace-viewer/issues/1171_

----

Giving an importer not found.

ArrayBuffer is {} when it comes back from th

[2015-08-04 15:11] #1171 closed

[2015-08-04 16:25] zeptonaut opened #1172 "Trace viewer needs a javascript and testing style guide"
Trace viewer has lots of coding conventions that live in the heads of its developers. Those coding conventions should be written down so that new contributors can avoid common pitfalls in contributing.

A few example topics might include:

  - Which ES6 features are okay to use?
  - Are `` blocks necessary in every file?
  - Are `@constructor` blocks necessary for every constructor?
  - Do you nee

[2015-08-04 16:28] zeptonaut commented on #1172
As suggested by @dj2:

  - The class name should match the filename
  - Each file should only contain one class

The style guide will be under construction here: https://docs.google.com/a/google.com/document/d/1cD1hUhYnMQ9AlxdL_OAftrQXBKlcgbLJiwmHVEug268/edit?usp=sharing

[2015-08-04 16:51] natduca opened #1173 "ir_verifier should not dynamically inject imports"
I believe the right solution here is to run the tests twice, by having rail_ir_tests define a test suite, and then having a ui part of the test suite that re-creates that test suite and injects the verifier view somehow.

[2015-08-04 16:51] natduca commented on #1173
@benshayden if you need help on this let me know

[2015-08-04 17:01] natduca opened #1174 "README.md doesn't point at tracing/README.md"
Points at dev.chromium.org article. Is this intentional?

@dj2  @anniesullie

[2015-08-04 17:16] natduca commented on #1173
The main challenge is figuring out how to make this all hook into the suite loader, which uses a bit of global wierdness.

For starters, you might modify suite_loader.constructAndRegisterTestSuite to accept an already-created TestSuite object, and modify TestSuite constructor to not require the suite constructor to be provided. This will prove useful further on...

Roughly, then, you'd have your t

[2015-08-04 18:01] egonelbre commented on #1172
Rather than writing a style guide, automatic formatting and checking is better. If you switch between projects it's easy to mix up different styles; with style guides you still end up looking rules or making mistakes. Something like http://editorconfig.org/ would be easiest to start with and there should be some formatter as well, e.g. js-beautify.

[2015-08-04 18:37] petrcermak commented on #1172
I think it would be ideal if we could use <tt>git cl format</tt>.

[2015-08-04 20:07] ScottyBauer opened #1175 "Binder parsing passes wrong parameters to flowevents"
Binder parsing for Android passes the wrong amount of parameters to the flow events constructor.

[2015-08-04 20:12] natduca opened #1176 "Enable rail_ir_finder on all chromes"
chrome_auditor has a check for being inside about:tracing and skips ir finding. Lets remove this check and "launch" rail.

[2015-08-04 20:12] natduca commented on #1176
@philippebeaudoin @benshayden

[2015-08-04 20:37] zeptonaut opened #1177 "Power sample analysis view should show summary of samples"
All of the information is in place so that, when a group of power samples are selected, we can show useful summary information about the selected group of power samples.

This should include:

  - Minimum power consumption
  - Maximum power consumption
  - Total energy consumed

[2015-08-04 20:49] anniesullie opened #1178 "ui.base.resize_sensor_test.instantiate is flaky"
Ben, looks like you added this in aa41436a6a8ccac767407c39f15b43a6f872f7e5. Can you take a look?

Example run (passed on Win+Mac, failed on Linux):
https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Linux%20Tryserver/builds/358/steps/Tracing%20Dev%20Server%20Tests/logs/stdio

EXCEPT  ui.base.resize_sensor_test.instantiate AssertionError: expected 1 to equal 0
    at Object.

[2015-08-04 20:53] dj2 commented on #1172
I don't think we need lay out in stone the answers to those questions. A quick round of review for a first Cl will answer many of them, and, honestly, I think only the filename matching contents one I've seen in code review.

[2015-08-04 20:55] dj2 commented on #1112
I haven't seen a write down polymer convention. It makes the code a lot cleaner to use the a_b_c as then you can do this.$.aBC instead of the querySelector dance.

I've been updating old code as I come to it, don't think we need to a big sweeping change, just if you see it, fix it as you're working in the given area.

[2015-08-04 21:28] philippebeaudoin opened #1179 "Write perf_insights queries to analyze Chrome startup traces."

[2015-08-04 21:29] #1167 closed

[2015-08-04 23:23] philippebeaudoin opened #1180 ""run_dev_server --data-dir" is broken"
Specifying a directory using "run_dev_server --data-dir" causes the files in that directory to be listed in the dropdown but switching to any file doesn't load it. Copying the file under the default test_data directory works.

[2015-08-04 23:53] #1180 closed

[2015-08-05 13:51] zeptonaut commented on #1172
@egonelbre For linter warnings, I definitely agree. There are some style guidelines that can't be linted for, though. For example, one style no-no that will be included in the style guide is to omit a `@fileoverview` block if it's obvious:

[code]

This is something that would be really difficult to write a linter for, but is still bad.

[2015-08-05 14:04] dj2 commented on #1172
I'm not sure why the fileoverview is bad. It's redundant, sure, but it doesn't hurt anything, it doesn't make the code slower.

[2015-08-05 15:19] dj2 commented on #1111
@natduca, this seems like it was fixed by 458b7579c776df3b32c3d0a92ca6a42b90c2af5c. Can this be closed?

[2015-08-05 15:21] #1112 closed

[2015-08-05 15:21] dj2 commented on #972
Un-assigning this as I'm not going to be looking at it in the near future.

[2015-08-05 15:41] zeptonaut commented on #1108
This issue is closed as of 2da8924.

[2015-08-05 15:42] #1108 closed

[2015-08-05 16:52] zeptonaut commented on #887
This issue is closed at google/trace-viewer@98f0c303302b2f7d70064d57c21db7966bb8ad8c

[2015-08-05 16:52] #887 closed

[2015-08-05 18:27] philippebeaudoin opened #1181 "Trace has 0 duration Response events"
See trace at https://drive.google.com/open?id=0B2ZkL2i4sQUnUkJKVlllbEgwemc

Description of interaction:
- Visited https://www.indiegogo.com/projects/super-troopers-2/contributions/new/#/contribute?perk_amt=100&perk_id=2778324#pledge_email
- Clicked on email text field
- Typed my email address rapidly:  "philippe.beaudoin@gmail.com"

Observations:
- Trace has two 0 duration Response events
- Number

[2015-08-05 18:39] #1181 closed

[2015-08-05 18:45] benshayden opened #1182 "RAILIRFinder: Don't merge all Animations"
Don't merge scrolls with flings.
Don't merge CSS Animations with any input Animations.
Any other separate categories of Animations?

[2015-08-05 18:50] benshayden opened #1183 "RAILIRFinder: Not all MouseMoves are Idle."
MouseMoves can be scripted to be animations.
http://www.onextrapixel.com/examples/interactive-background/index.html

[2015-08-05 18:51] paulirish opened #1184 "Searchquery + enter doesn't show list of matching events"
It currently iterates through slices one by one.

Stable gives the listing of all matches.  At some point we regressed this.

[2015-08-05 18:58] philippebeaudoin commented on #1183
Here's a trace that seems to exhibit the problem:
https://drive.google.com/open?id=0B2ZkL2i4sQUnUkJKVlllbEgwemc

From https://xkcd.com/1110/  (I clicked and dragged the mouse around.)

[2015-08-05 19:00] benshayden opened #1185 "RAILIRFinder: Second MouseMoves should be Responses if !isNear"

[2015-08-05 19:45] paulirish commented on #1160
edited the above as result of offline conversation.

[2015-08-05 19:51] benshayden opened #1186 "Super-IRs: Response Scroll + Animation Scroll, etc."
This is more of an InteractionTrack view feature.
Paul wants each gesture to be a single box, even though it might contain both a Response IR and an Animation IR, or a bunch of 16-ms Responses (or should they be single-frame Animations?).
These Super-IRs should also show the input events up in the InteractionTrack, not hidden away in the browser process.
This would help find the Big Terrible Frame

[2015-08-05 20:23] anniesullie opened #1187 "Refactor PRESUBMIT checks"
Most of the current PRESUBMIT checks were written for trace-viewer, and they could be better:
 * I think they should use a top-level version of tracing_project
 * I think we should use canned checks where possible (long lines, licenses)
 * We should add in python checks
 * JavaScript style checks should be top-level

I had a ton of interrelated questions on this so I wrote up a doc: https://docs.g

[2015-08-05 20:24] anniesullie commented on #1187
@petrcermak, any feedback?

[2015-08-05 21:13] yuhao opened #1188 "RAILIRFinder may generate Idle IR from a huge negative timestamp"
Here is the link to a pathological trace: https://drive.google.com/open?id=0B6-gGzXfT-VNOWdJNVV5UzNkTGc

I can take a look at this after I get the Flow API thing done. But thought it's worth filing a bug.

@benshayden @natduca @dj2

[2015-08-05 21:26] anniesullie opened #1189 "Add WATCHLISTS file"
The catapult project is big enough that we'd like to allow reviews to be watched on a per-directory basis. I'll add a WATCHLISTS file for this. WIP in https://codereview.chromium.org/1277613003/

@natduca @qeny @dj2

[2015-08-05 21:27] jdduke opened #1190 "Search results summary missing"
Lately, searching a trace fails to display any kind of search results summary listing. It'll show how many hits there are in the search box, show you the first hit, and let you navigate between hits, but that's it.  In the good ole days it used to display a results summary at the bottom with a list of all matches. It was incredibly convenient.

How about restoring it? Or maybe I'm just missing a t

[2015-08-05 22:09] yuhao commented on #991
With Flow API v2, this is no longer a valid issue.

[2015-08-05 23:40] dj2 commented on #991
Has the hack been removed?

[2015-08-05 23:40] dj2 commented on #1190
This is a dupe of #1184

[2015-08-05 23:40] #1190 closed

[2015-08-05 23:41] dj2 commented on #1188
How do we have negative timestamps?

[2015-08-06 02:08] dstockwell opened #1191 "map_traces_locally fails when run outside perf_insights/"
@natduca

[code]

[2015-08-06 02:08] natduca opened #1192 "add multithreading to map_traces: map_traces -j16"
Will let us do bulk runs faster.

[2015-08-06 02:09] natduca opened #1193 "have map_traces do gunzip itself"
js gunzip is crazy slow. on supported os', do the unzip before calling vinn.
this should speed up mapping time.

[2015-08-06 02:22] natduca commented on #1173
Takled to Ben today, I'll pick this up so he can push forward on RAIL bugs

[2015-08-06 09:24] petrcermak commented on #1184
This is a **duplicate** of #997.

[2015-08-06 09:24] #1184 closed

[2015-08-06 10:44] natduca opened #1194 "html-side tracing/ paths are 1 level too shallow"
right now, we map tracing/tracing to / on the devserver. this means that import of /base/foo.html maps to /tracing/tracing/base/foo.html.

I'm thinking we may want to instead have tracing/tracing mapped to /tracing in the global namespace. thus, the example above would be /tracing/base/foo.html.

My thinking here is that this allow tracing to appear as a module to other subsystems like perf_insigh

[2015-08-06 13:15] anniesullie commented on #1194
sgtm

[2015-08-06 13:58] paulirish commented on #997
Nice report of this in (the dupe) https://github.com/catapult-project/catapult/issues/1190

@dj2 can you set an owner for the ticket?

[2015-08-06 14:48] egonelbre commented on #754
Both are done, accidentally committed one patch to issue https://github.com/catapult-project/catapult/issues/752.

Both flow events and nestable async events can now have stack frames. I didn't add them to old async events as they are being deprecated anyways.

[2015-08-06 14:48] #754 closed

[2015-08-06 15:20] zeptonaut opened #1195 "tr.ui.timeline_viewport_test.locationObj test is flaky"
The [`TimelineViewport` tests](https://github.com/catapult-project/catapult/blob/7ed55e2e69b1e24dd21738d8e9bf069f5259e812/tracing/tracing/ui/timeline_viewport_test.html#L68-L142) violate testing best practices such as:

  - Testing a single behavior in each test case
  - Making any sense at all

I noticed this because the `locationObj` test is reliably failing on a clean checkout on my work deskto

[2015-08-06 15:32] zeptonaut commented on #1195
Editing: this test seems to be flaky, but the conditions that cause the flake seem to be baffling. The test seemingly passes for a 5 minutes, fails for the next 10 minutes, then goes back to passing. My best guess is that the test has become sentient and is trying to make me look like a moron; lucky for it, that's not hard.

[2015-08-06 16:24] natduca opened #1196 "run_d8_tests->run_vinn_tests"
since we're calling it vinn nao.

probably want to also move the isD8->isVinn in the base.html code

[2015-08-06 16:24] natduca commented on #1196
@nedn thoughts?

[2015-08-06 16:25] nedn commented on #1196
LGTM

[2015-08-06 16:29] natduca opened #1197 "Need perf_insights js test harness"
We don't have one. We should.

[2015-08-06 16:33] anniesullie commented on #1196
You can change the waterfall test name/path here: https://code.google.com/p/chromium/codesearch#chromium/build/scripts/slave/recipes/catapult.py

[2015-08-06 16:36] #1189 closed

[2015-08-06 16:39] anniesullie commented on #1187
WIP is https://codereview.chromium.org/1277893003

My current list of things to test:
* Long lines
* Licenses required on all files not in excluded paths
* Incorrect files in trace_viewer.gypi
* BUG= on changelists

Anything else I should test?

[2015-08-06 16:43] dj2 commented on #997
@petrcermak is going to try to take a look early next week.

[2015-08-06 16:51] petrcermak commented on #1187
Both the document and the patch look good to me. Thanks for all the work!

Petr

On Thu, Aug 6, 2015 at 5:39 PM, anniesullie <notifications@github.com>
wrote:

[2015-08-06 17:50] benshayden commented on #1160
I think this will be necessary for the MVP, but feel free to tell me I'm crazy. Same goes for the other bugs that I'm about to mark MVP.

[2015-08-06 17:53] dj2 commented on #1160
Do we need this granularity for the MVP? I believe it just listed Response and then categories browser and things below them.  I don't think we need to break the responses out to have better names yet.

[2015-08-06 17:54] benshayden commented on #1159
RAILIRFinder picks up the "Animation" async slices that the renderer process traces and turns them into Animations.
We saw on that particular site that chrome does not record the Animation async slices correctly. Chrome records a very short Animation async slice when the page loads, but it doesn't cover the entire time that the css animation runs. I think Nat mentioned that there was a crbug about

[2015-08-06 17:57] benshayden commented on #1170
This looks like a duplicate of #1100.

[2015-08-06 17:57] #1170 closed

[2015-08-06 17:58] benshayden commented on #1052
Feel free to reopen if this CL didn't make them sane enough:
https://codereview.appspot.com/255850043/

[2015-08-06 17:58] #1052 closed

[2015-08-06 17:59] dj2 commented on #1159
So, we think this will fix itself when chrome is fixed? Can we keep this open and put in a link to the chrome bug so we can confirm it's fixed when chrome is updated?

[2015-08-06 18:01] benshayden commented on #1078
I think the RAILIRFinder collects associated events for Rs and As as well as it can until flow events v2 hits the importer.

I'll make RAILIRFinder collect the unassociated events that start during Ls and Is for now, until chrome is better about tracing flow events during Loads.

[2015-08-06 18:09] benshayden commented on #1024
It looks like this is not done yet. The slices for the first frame are collected, but nothing after that. They'll all be marked Unassociated, but I think that's OK-ish for the MVP? Feel free to add the milestone if you disagree.

[2015-08-06 18:15] benshayden opened #1198 "Describe Alpha and V1 milestones."

[2015-08-06 18:25] benshayden commented on #1183
Since I probably won't be around when this needs to be fixed, here's how I think it should be solved.

When handleMouseDragEvents() is deciding whether to ignore a MOUSE_MOVE event, it should first look in event.associatedEvents for a Frame event (tr.e.audits.IMPL_FRAMETIME_TYPE). If the mouse move event directly caused a frame, then create a new Animation ProtoIR instead of an ignored ProtoIR.
Th

[2015-08-06 18:26] benshayden commented on #1185
This should be a 1- line fix in handleMouseDragEvents().

[2015-08-06 18:29] benshayden commented on #1147
https://code.google.com/p/chromium/codesearch#chromium/src/third_party/WebKit/Source/core/dom/DocumentTiming.cpp&q=DocumentTiming.cpp&l=54

Let's try to record some traces with these events and see how they line up with frame events.

[2015-08-06 18:30] benshayden commented on #1158
Could we make blink record "GIF Animation" async slices, like how it works for CSS Animations?

[2015-08-06 18:52] benshayden commented on #1145
This would be great for the MVP if you have the time, but I think it can wait for Alpha. Finishing the trace viewer side of flow events v2 should take precedence, I think.
I just want to assign a milestone to all the rail bugs to make it easier to see where things are.

[2015-08-06 18:54] philippebeaudoin commented on #1145
Happy to take this on. Any example trace or website that does that? I figured I could code something up quickly but I want to make sure it's the right kind of anim.

[2015-08-06 19:31] philippebeaudoin commented on #1160
That's one of the last non-assigned RAIL/MVP bugs, so I'll take it, even though there doesn't seem to be agreement whether or not it's required.

[2015-08-06 20:30] paulirish commented on #1160
I don't need all of these for the MVP but the current IRs are too chunky for the analysis. For example, we need to report what happens during a scroll and make sure we're not including time during css transitions.

I think we can get away with this:

#### Load
* Load Main
* Load iframe

#### Idle
* No changes

#### Animation
* Animation CSS

#### Tap
* Response Tap or Click

#### Drag
* Response D

[2015-08-06 21:14] benshayden commented on #1159
Sure.
Nat: is this it? https://crbug.com/351446

[2015-08-06 21:23] benshayden commented on #943
This affects all of tracing/tracing, not just rail.

[2015-08-06 21:29] yuhao commented on #1161
This patch (https://codereview.chromium.org/1259583006/) fixed the uniqueness issue of PostTask. But the IPC flow IDs are still not unique.

[2015-08-06 22:56] yuhao opened #1199 "IPC flow IDs are not unique"
A sample trace: https://drive.google.com/a/google.com/file/d/0B6-gGzXfT-VNdzdyMGlrdng2UFU/view?usp=sharing

Search for 0x81df1c02.

The IPC flow ID seems to be set here: https://code.google.com/p/chromium/codesearch#chromium/src/ipc/ipc_message.cc&rcl=1438874967&l=61&sq=package:chromium

It's possible to have collision, as described here (https://code.google.com/p/chromium/codesearch#chromium/src/

[2015-08-06 23:17] caseq opened #1200 "Trace Vieweer: some instant events disappear when zooming in"
Some instant events disappear from trace viewer's flame chart when zoomed in and will reappear again when zoomed out. See video for details:

https://drive.google.com/file/d/0B_yi9xtujhXSMU1iZTdlWnFkRkk/view?usp=sharing

Trace (look for CaptureFrame instant events in the browser):

https://drive.google.com/a/chromium.org/file/d/0B_yi9xtujhXScDZlTjJiWDRVU2M/view?usp=sharing

[2015-08-06 23:22] benshayden commented on #1100
I think this has been fixed by https://codereview.chromium.org/1275483003

It supports having both 60Hz MouseWheels and clickety MouseWheels in the same trace by threshold-ing each MouseWheel event individually. It doesn't try to guess whether the entire trace is from a platform with a trackpad.

[2015-08-06 23:22] #1100 closed

[2015-08-06 23:37] #1192 closed

[2015-08-06 23:51] yuhao commented on #1200
I guess this is a JS precision issue?

[2015-08-07 05:23] natduca commented on #1122
I see a lot of future code duplication between tracing/devserver+run_* and the equivalents in dashboard/, perf_insights. For instance, https://codereview.chromium.org/1273393002/ dupes a lot of stuff to get perf_insights having similar workflow as tracing. I don't love it, but I don't have a very good better-option.

@anniesullie wonder what the right strategy is here. build/ has common code? some

[2015-08-07 15:09] anniesullie commented on #1122
Putting the common code in build/ sgtm. @Apeliotes WDYT? (In case you didn't use it in trace-viweer, all this stuff is related to building and testing in some way)

[2015-08-07 15:21] anniesullie commented on #1122
I'm going to start out on moving javascript linting to the top-level build and enabling linting for all projects. Hopefully that'll give some insight on whether this works well, and after that I can start on the dev_server.

[2015-08-07 17:09] natduca commented on #1122
I have updated this bug to be our tracking bug for "we have no idea how to have these three separate projects all using similar core build tech"

[2015-08-07 17:20] nedn opened #1201 "perf_insights/bin/map_traces_locally script is not working"
It's due to 2 bugs:
1) Naming conflict: the build module in perf_insights/ conflicts with toplevel/build module.
2) Duplicate source_path which lead to failure in loading examples/map_process_count.html failure.

[2015-08-07 17:23] anniesullie commented on #1122
Sorry, my comment above about putting everything in build/ won't fix things well enough.

See #1201 for the type of issues we're seeing.

[2015-08-07 18:56] benshayden opened #1202 "Associated Events View aka Critical Path View"
The TimelineTrackView renders ThreadSlices in threads in horizontal tracks. This makes it difficult to follow FlowEvents and the flow of execution and causation -- the user must scroll up and down between processes and threads, which taxes their working memory and makes it difficult to understand the data displayed, let alone see patterns and gain insight into how Chrome works.

The Associated Eve

[2015-08-07 19:03] natduca commented on #1202
Not sure we need this for PI-alpha. 1.0 yes,

[2015-08-07 19:12] #1182 closed

[2015-08-07 19:27] benshayden opened #1203 "Code review BUG= links point to ancient crbugs"
E.g. https://codereview.chromium.org/1279933002/ links to https://code.google.com/p/chromium/issues/detail?id=1182

[2015-08-07 19:30] dj2 commented on #1203
Where do you see the link to chromium? That just says BUG=#xxxx for me and doesn't link anywhere?

[2015-08-07 19:31] dj2 commented on #1203
Ah, I see, you're using the non-deprecated UI whereas the old one doesn't do that. I think that's a bug against rietveld as the new UI is doing something strange.

[2015-08-07 20:13] #1177 closed

[2015-08-07 20:15] zeptonaut commented on #1172
I'm definitely not saying it's the *worst* thing in the world. Redundancy is something we should avoid if possible, though.

[2015-08-07 20:28] zeptonaut opened #1204 "Vertical sync events not being properly imported for Chrome"
It looks like vertical sync events aren't being imported correctly for Chrome on Linux and Mac. Even if you enable the categories suggested [here](https://github.com/catapult-project/catapult/blob/7ed55e2e69b1e24dd21738d8e9bf069f5259e812/tracing/tracing/extras/vsync/vsync_auditor.html#L27-L30), no vertical sync events seem to be imported for Mac and very few seem to be imported for Linux (4 or 5 v

[2015-08-07 20:30] zeptonaut commented on #1204
Talking with ccameron@, brianderson@, and tansell@, it looks like the [`Scheduler::BeginFrame`](https://code.google.com/p/chromium/codesearch#chromium/src/cc/scheduler/scheduler.cc&q=%22%5C%22scheduler::beginframe%5C%22%22&sq=package:chromium&type=cs&l=294) is a better one to use going forward, as they're trying to standardize the frame pipeline across platforms.

[2015-08-07 20:48] shikexue opened #1205 "Trace Viewer: Instant Events Unclickable"
Because instant events have 0 duration, it is impossible to select them with a single-click. The only way to select them is to drag-select in an area intersecting them.

[2015-08-07 21:13] natduca opened #1206 "Need forward-looking design plan for mutli_row_track and rect-track- related features"
We have a bunch of timeline-related features that are upcoming at various urgency levels. Amongst them:
- Better display of netlog slices as exist today [less vertical space]
- Overhaul of of net data to be closer to how devtools "Network"
- Better display of input latency events [not enough vertical space between them]
- Hover-over-slices to see details
- Click on a slice to expand/contract it
-

[2015-08-07 21:14] natduca commented on #1206
@dj2 @benshayden I will drive this for now, but lets all collaborate on this. Outcome is for us to have a design doc that encodes our architectural roadmap for all these features.

[2015-08-07 21:14] natduca commented on #1206
A sketch I came up with that deals with the fracitonal heights issue:

https://docs.google.com/drawings/d/1SnBFqY2L_AWQTE76rFXyeut-5W7dPLHLMN0HnPMVoxE/edit

[2015-08-07 21:21] philippebeaudoin opened #1207 "Ensure Chrome startup are labeled as Load interaction records"

[2015-08-08 23:54] dj2 commented on #1194
https://codereview.chromium.org/1277903004/

[2015-08-09 18:51] nedn commented on #1194
Oh, I commented the same thin

[2015-08-09 18:53] natduca commented on #1194
Open till dan lands it :)

[2015-08-09 20:05] natduca opened #1208 "map_traces* needs unit test coverage"
Was implemented in a hurry. Haz no tests.

Status: still needing tests:
* map_runner: needs tests
* local_directory_corpus_driver: needs smoketest

Done:
* map_traces: has tests
* perf_insights_examples: has tests

[2015-08-09 20:06] natduca commented on #1208
I'll take this if nobody else gets to it before me.

[2015-08-09 21:23] natduca opened #1209 "run_tests devserver has fixed portnumber"
Means you can't run_tests when devserver is running. And, in fact, run_tests fails if you do, and the script leaves a still-running browser instance.

The run_tests version should probably figure out its portnumber automatically during bind.

[2015-08-09 21:24] natduca commented on #1209
@anniesullie can you poke at this?

[2015-08-09 21:53] natduca commented on #1172
This is a really tough subject area, because everyone feels that they are a stakeholder, and it can very easily become a rathole. Lets keep in mind that we have some really urgent deliverables for Q3 and that this can really easily snowball if unchecked.

The reason I support work here is because we're onboarding a pretty large number of people into our tracing codebase. Right now, the onboarding

[2015-08-09 22:32] natduca commented on #1201
Fix coming shortly.

[2015-08-09 22:47] anniesullie commented on #1201
B..
On Aug 9, 2015 6:32 PM, "Nat Duca" <notifications@github.com> wrote:

[2015-08-09 23:36] natduca opened #1210 "perf_insights html namespace should be pi"
We use perf_insights for our namespace right now. It would be more consistent to use pi

[2015-08-09 23:36] natduca commented on #1210
@nedn fyi

[2015-08-09 23:56] #1194 closed

[2015-08-09 23:57] dj2 commented on #1194
@nedn not sure what you mean by commented the same thing?

[2015-08-09 23:59] dj2 commented on #615
@natduca Is this still relevant?

[2015-08-10 00:01] nedn commented on #1194
Err, I meant my comment in the other doc was basically the same as this proposal. :P

[2015-08-10 00:07] natduca commented on #1201
Fixed, a6e18a918e0e9dff2aaa8b037757173d1e387140

[2015-08-10 00:07] #1201 closed

[2015-08-10 00:09] natduca commented on #1197
Fixed in 6ab262724cead30ed3af3bdf575844e2c98cbcdc

[2015-08-10 00:09] #1197 closed

[2015-08-10 00:58] dstockwell opened #1211 "map_traces_locally fails with "ImportError: No module named appengine.api""
I'm just going to remove the import, it's not used yet.

[code]

[2015-08-10 01:30] dstockwell commented on #1211
Fixed in https://github.com/catapult-project/catapult/commit/a88919765cece3301aa0da9e8cecdc6f8a7e8ea5

[2015-08-10 01:30] #1211 closed

[2015-08-10 01:34] natduca opened #1212 "BUG=#1,#2 fails presubmit"
When you have a patch that mentions two bugs, the presubmit check fails. E.g.:
[code]

[2015-08-10 01:35] natduca commented on #1212
@anniesullie fyi

[2015-08-10 02:24] natduca opened #1213 "Update slave scripts post-directory-overhaul"
As part of #1122, we've moved a bunch of our run_ scripts around. I left behind stub files so that the waterfalls still work, because I don't have the slave scripts checked out.

Can someone update the slaves and remove the stub files? git grep anniesullie will find them all. :)

[2015-08-10 02:45] natduca opened #1214 "Add perf_infra/bin/run_vinn_tests script to slave steps"
@nedn @anniesullie can y'all help?

[2015-08-10 02:51] natduca commented on #1213
@nedn @anniesullie

[2015-08-10 03:37] #1210 closed

[2015-08-10 06:11] natduca opened #1215 "@sourceURL annotation doesn't work when the parse fails"
During loading, if you have a file that has a typo in it, then you get an undefined filename in the error that results.

I wonder if this is endemic to eval, or something that can be fixed with putting the sourceURL at the front of the file?

[2015-08-10 06:37] natduca commented on #1215
@nedn i did a quick experiment and it seems like moving sourceURL doesn't do anything. So maybe there's no real fix possible without d8 exposing a module lading api?

[2015-08-10 06:43] natduca commented on #1196
tracing/run_d8_tests is now fixed, as of f48d444554cb729c34f5a7d92a0685d54ad4e697

[2015-08-10 06:55] natduca commented on #1208
@dstockwell is there a chance you could throw together a smoke test of map_runner? I'd just pass in a fake/stub of the actual map_single_trace function, and use in_memory_trace_handle so you don't have to deal with actual real directories either.

[2015-08-10 07:33] paulirish commented on #1215
fwiw, `@ sourceURL` is now `# sourceURL`. Don't know if the character change would fix things for ya.

[2015-08-10 08:06] natduca opened #1216 "chrome_test_utils might benefit from a namespace or central object"
test_utils exports to the test_utils namespace [even though it really is in the core folder.

chrome_test_utils exports to tr.e.audits directly.

neither feels right.

@zeptonaut wanna normalize?

[2015-08-10 08:50] natduca opened #1217 "Make Model import less console.log-chatty"
Model import is super chatty. As a result, when you map a bunch of measurmt traces, all you see is minor import issues:

[       OK ] rail_expectations.json (491 ms)
[ RUN      ] reload_mobile_HN_webapp.json
Warning: Unrecognized metadata name: overhead
Warning: Unrecognized event phase: R (navigationStart)
Warning: Titles do not match. Title is LayerTreeImpl::UpdateDrawProperties::UpdateTiles in

[2015-08-10 10:24] natduca opened #1218 "map_function_side_panel overflow:auto doesn't seem to work in X direction"
The map_function_side_panel can get quite large, because it shows the map result in a generic object view. I have overflow:auto set in the logical place, but it doesn't actually seem to get X scrolling.

I tend to think there's something set up wrong in the flexbox containment hierarchy.

To repro:
http://127.0.0.1:8009/perf_insights_examples/perf_insights_viewer.html#/perf_insights/test_data/goog

[2015-08-10 10:24] natduca commented on #1218
@nedn this might be useful for you...

[2015-08-10 11:11] natduca opened #1219 "Make wr_result_view_test use synthetic data"
It uses a checked in test-asset right now.

[2015-08-10 12:16] natduca commented on #1063
I am going to close this and create followup bugs.

[2015-08-10 12:16] #1063 closed

[2015-08-10 12:17] natduca opened #1220 "Implement skeleton wr_results_view.html"
Right now wr_results_view just shows how many objects are in the results object. Lets build a better view.

[2015-08-10 13:16] dj2 commented on #1216
Let's put them both in the tr.c.test_utils namespace. Makes it very clear they should only be used for testing.

[2015-08-10 13:39] nedn commented on #1215
I also encountered this.
@ sourceURL has to be put at the top to work in parsing failure case. But that will increase increase all the line number by 1. A trick I have been thinking about is insert it at the top if we have blank lines there (which we do majority of the time due to <HTML...> <--! Chromium...> lines). A bit gross but I think could be ok?

Also there is this issue: https://code.googl

[2015-08-10 14:26] nedn commented on #1213
@dave-2 , can you help?

[2015-08-10 15:02] anniesullie commented on #1212
Sorry about this!! Fix on its way.

[2015-08-10 15:05] #1212 closed

[2015-08-10 15:09] dj2 commented on #1217
Disable warning logging when running headless:  https://codereview.chromium.org/1280333003

[2015-08-10 15:21] anniesullie commented on #1214
https://codereview.chromium.org/1273773007/ out for review should fix this.

[2015-08-10 15:21] anniesullie commented on #1213
https://codereview.chromium.org/1273773007/ and https://codereview.chromium.org/1281253002/ out for review should fix this.

[2015-08-10 16:30] #1213 closed

[2015-08-10 16:30] #1214 closed

[2015-08-10 16:31] anniesullie commented on #1209
Taking a look now...

[2015-08-10 16:32] natduca commented on #1215
That seems promising. Maybe if it fails to find a gap, we fall back to appending?

[2015-08-10 16:33] nedn commented on #1215
Yeah, that's the plan.

[2015-08-10 16:44] natduca commented on #1216
That'd violate our "directory should imply namespace" rule.

[2015-08-10 16:47] dj2 commented on #1216
Why? We can easily move them into whatever directory makes the naming make sense. If we want to keep the chrome one in extras we can put it in a test_utils folder in extras.

[2015-08-10 17:00] natduca commented on #1216
chrome_test_utils makes sense in extras/chrome because its chrome specific.

[2015-08-10 17:00] natduca commented on #1216
imo the better thing is that we stop exporting into namespaces and make staticclasses like tr.b.Statistics. That is more consistent: namespace is your directory, always, and if you have grouping, use a staticclass

[2015-08-10 17:04] benshayden opened #1221 "Fix Load IR associated events"
Follow-up work from https://github.com/catapult-project/catapult/issues/1078
Vacuuming up unassociated events during a Load IR is completely the wrong way to do it. It's just better than nothing.

Chrome should trace flow events for the loading process so that the RAILIRFinder can find the didCommitProvisionalLoad slice and follow flow events backward and forward in time to find all of the slices

[2015-08-10 17:17] dj2 commented on #1216
Sure, if you want to do it that way we can create a TestUtils helper class that we add these things into. The chrome side can create a ChromeTestUtils.

[2015-08-10 17:19] zeptonaut opened #1222 "Determine how precise Scheduler::BeginFrame is as a vsync marker"
`tracing/tracing/extras/vsync/vsync_auditor.html` scans a trace to find markers indicating when vertical sync events happened. Some of these markers include:

  - `RenderWidgetHostViewAndroid::OnVSync` slices
  - `vblank` slices
  - `DisplayLinkMac::GetVSyncParameters` slices

These markers each have varying levels of precision. In the vsync auditor, we prioritize use of precise markers over impre

[2015-08-10 17:21] anniesullie opened #1223 "Test systrace after large file migration"
https://codereview.chromium.org/1283543006 may have broken systrace. Zhen, can you test it out and help triage what needs to be fixed?

[2015-08-10 17:21] anniesullie opened #1224 "Test adb_profile_chrome after large file migration"
https://codereview.chromium.org/1283543006 may have broken paths for adb_profile_chrome. Zhen, can you test it out and help triage what needs to be fixed?

[2015-08-10 17:27] anniesullie commented on #1209
Put up a bandaid fix in https://codereview.chromium.org/1279643003/ but wanted a review before submitting because I'm not sure how surprising it will be to have the port number change if it's already in use.

[2015-08-10 17:39] natduca commented on #1216
Me likey

[2015-08-10 17:49] wangzhen127 commented on #1224
Are Catapult changes automatically rolled to Chromium src? If not, who is rolling it? adb_profile_chrome may break when the changes are rolled, but not before.

[2015-08-10 17:50] anniesullie commented on #1224
We roll DEPS manually. It would be great to be able to roll DEPS without breaking it though. How do we test?

[2015-08-10 18:45] benshayden commented on #1010
Yuhao, did you have any ideas for what events should be associated with Idles besides vacuuming up unassociated events? https://codereview.chromium.org/1281073002

[2015-08-10 19:25] petrcermak commented on #997
I figured I'd start by figuring out how the filtering situation evolved since we had the desired functionality (analysis view displaying events which match the current filter) last time. Here are my archaeological discoveries:

  1. **Selection change** (good ol' days)

  When the filter input was modified, the current *selection* changed to the set of all events matching the given string. As a re

[2015-08-10 20:28] benshayden commented on #1009
Ned is porting the smoothness and discrepancy metrics: https://code.google.com/p/chromium/issues/detail?id=518960

[2015-08-10 20:34] dj2 opened #1226 "StackFrames should not contain category field."
In certain cases the stack frame category is set to the trace event category and in some cases to a module name. This is strange and weird. We should move category out of stackframe and put in the appropriate place.

[2015-08-10 20:35] wangzhen127 commented on #1224
Chrome src/tools/profile_chrome/run_tests runs unit tests for adb_profile_chrome. But I don't think it has test to use trace2html.

We just need to update https://code.google.com/p/chromium/codesearch#chromium/src/tools/profile_chrome/trace_packager.py&q=tracing.build&l=21
to "tracing.tracing_build" after the DEP roll.

Let me know after it is rolled manually. I will then update accordingly for ad

[2015-08-10 21:55] benshayden commented on #1077
Started: https://codereview.chromium.org/1283883003

I'm not sure I buy the idea that the CPU allowance should scale linearly with the number of CPUs.
The web is single-threaded, after all.

[2015-08-10 22:44] martijncoenen opened #1227 "Add some CPU / thread helper methods."
To make it easier to get these stats out of the model, and share the implementation across different auditors.

[2015-08-10 22:51] benshayden commented on #1009
Started a MVP that does not use smoothness or discrepancy: https://codereview.chromium.org/1282343002

[2015-08-10 23:00] natduca commented on #1153
Should we do anything with this for mvp or alpha?

[2015-08-10 23:01] natduca commented on #1036
Close for inactivity.

[2015-08-10 23:04] natduca commented on #1113
I added a few into perf_insights/test_data/ in 9e3b71ebd87016f8ed4380992d08f847a0ccb4c4

[2015-08-10 23:04] #1113 closed

[2015-08-10 23:05] natduca commented on #1040
Should this be MVP? What happens if we get this wrong?

[2015-08-10 23:38] benshayden commented on #1040
No. Almost nothing.

On Mon, Aug 10, 2015 at 4:05 PM Nat Duca <notifications@github.com> wrote:

[2015-08-11 00:57] dj2 commented on #1040
Doesn't this mean that we'll be missing response records?

[2015-08-11 01:01] dj2 commented on #1077
I'm not sure what you mean by that. We have many many threads, compositor thread, HTML parsing threads, GPU process, raster workers, etc .... JS and Blink layout are single threaded. So, is the assumption that the user can never do multiple things?

What about pages that use WebWorkers to run stuff on their own threads?

[2015-08-11 04:09] nedn opened #1228 "Port telemetry's smoothness metrics to javascript"
Moving forward, we would want all of our timeline based metrics to be written in javascript. This allows telemetry to reuse trace parsing logic of the tracing project & allows the chrome://tracing UI to have these metrics available.

(https://code.google.com/p/chromium/issues/detail?id=518960)

[2015-08-11 11:49] petrcermak opened #1229 ""Show me the location of an event" feature request"
I talked to one of the developers on our team (to figure out what to do with #997) and he told me that it would be really useful if there was a way to **show the location currently selected event(s) on the timeline** (i.e. scroll the timeline view so that the event is on the screen and make the event visible, e.g. using a short animation or by drawing a circle around it).

The reason is that it ca

[2015-08-11 12:25] egonelbre commented on #1229
When you have a noisy background then marching ants border works quite well.
![ants](https://cloud.githubusercontent.com/assets/192964/9197376/5352abb4-403c-11e5-8199-0a1c442ce0c8.gif)

I have nothing against an arrow, other than it's difficult to make it look nice.

[2015-08-11 13:06] petrcermak commented on #1229
@egonelbre: I really like that idea and agree that it usually looks better than arrows. I'm just a little worried if this would be distinctive enough (consider a zero pixels wide slice on a 30" screen full of other events).

[2015-08-11 13:44] egonelbre commented on #1229
@petrcermak did a quick experiment on a random person from office: if a person has no clue where it might be he (may) not find a 1px vertical stripe of marching ants. A bigger one was detected quite easily. So it could be 2px/3px wide to make it more visible.

[2015-08-11 14:02] petrcermak commented on #1229
OK, I'm convinced :blush: Thanks for doing it so quickly and thoroughly!

Now the question is if/how we should/could incorporate this into the UI. Any thoughts? Should selection always have a marching ants border (probably not for usability and performance reasons)? Perhaps we should use it for highlighting events (this would solve #1117, but it would make highlight more visible than selection, wh

[2015-08-11 14:04] petrcermak commented on #1229
@philippebeaudoin: What are your thoughts on this? Do you think my proposal above would solve #1117?

[2015-08-11 14:10] petrcermak commented on #997
One way to solve this issue would be to **convert search into a regular side panel** (as discussed in #1156). I created a mock _[by extending the mocks in #1156 and using inspiration and a screenshot from [Web Tracing Framework](http://google.github.io/tracing-framework/bin/app/maindisplay.html?url=..%2F..%2Fresources%2Ftraces%2Fblk-client.wtf-trace)]_:

![mock](https://cloud.githubusercontent.com

[2015-08-11 14:24] yufengshen commented on #1040
This is fixed in https://codereview.chromium.org/1262553005/.

So if you record trace using the ToT chrome, you should see the latencyinfo there and they should be
classified as response.

[2015-08-11 14:45] dj2 opened #1230 "StackFrame Cleanup"
We should have one clear place for each field, and a clear statement of what the fields value is when its missing.

The frame objects we should support
  - module names + unknown offset into the module,
  - fully unresolved ptr with no known module
  - module + function + line num
  - module + function but no line num
  - module + no function + line num
  - module + no function + no line num

modu

[2015-08-11 16:23] benshayden opened #1231 "Rename all "instantiate" tests to "visuallyVerified""
or some other name that communicates that "instantiate" tests don't just test that some class can be instantiated, but rather that they generate HTML that must be visually verified.

[2015-08-11 16:40] dj2 commented on #1231
I don't think this is worth it. We have a convention that instantiate has this meaning and going through and changing will just be churn.

[2015-08-11 16:40] #1231 closed

[2015-08-11 17:07] natduca commented on #574
Ima close this as the thinking is obsolete.

[2015-08-11 17:07] #574 closed

[2015-08-11 17:44] philippebeaudoin commented on #1131
Nat: Your reduced restating is correct.

This shows we need extra data in the trace, and I think depth is nice and concise so I advocate for it. I believe it can be computed by keeping on counter per thread and accessing it at TraceEvent construction and destruction. I'm not clear on the kind of overhead this entails though. Probably not too bad if we store the counter in a thread local storage (w

[2015-08-11 17:52] dj2 commented on #1131
Do we need something as complicated as depth, or, in the cases where we have this hierarchy issue, just use B/E instead of X? This is an issue specific with very short nested X events.

[2015-08-11 18:10] philippebeaudoin commented on #1131
B/E is an OK workaround. If we go this route we'll need to fix the trace viewer code to use event ordering to determine subslices (it currently doesn't).

One issue with this workaround is that it requires us to be on the lookout for any error and fix them in C++ after we've spotted them in the traces. The traces are potentially broken until the new Chrome version ships. We could have trace viewer

[2015-08-11 18:23] dj2 commented on #1131
The question is, how much complexity is adding depth creating?

[2015-08-11 18:56] natduca opened #1232 "Lets find some traces that have bad IR coverage"
Step 1.
ir_coverage.html - has coverage info
hook that up to wr.html

Step 2.
run map_traces using that modified wr. Use jq or somesuch to find problematic traces.
corpuses to use: hand traces, measuremt corpus, bulk reports dump [ill send you a link], and windows deep reports dump [ill send you a link]

https://github.com/natduca/measurmt-traces

Then we can file bugs and maybe mark this closed.

[2015-08-11 18:56] natduca commented on #1232
This is our GoodFirstBug for @vmpstr to get going

[2015-08-11 18:58] #1174 closed

[2015-08-11 18:59] anniesullie commented on #805
@natduca should we close this one?

[2015-08-11 19:01] #805 closed

[2015-08-11 19:15] #1187 closed

[2015-08-11 19:20] fmeawad opened #1233 "[trace-viewer] Stack Sampling Summary view using a Tree View + Call Stacks"
Historically, the stack samples summary view was not in use because we combined the stack samples into slices to construct what would be a normal slice representation (i.e. sync slices hierarchy as described in the #622). This construction was confusing more than helpful as it it did not come from real trace events.

The second attempt was to use a sunburst chart in the Analysis panel, which at hi

[2015-08-11 19:20] fmeawad commented on #622
Closing in favor of #1233.

[2015-08-11 19:20] #622 closed

[2015-08-11 19:30] natduca opened #1234 "Make a corpus_driver that connects to perfinsights appengine instance"
map_traces is set up so that it gets its traces via a corpus driver. We currently only have a local directory corpus driver, but we probably want to add a corpus driver that connects to the actual deep reports server directly.

Design doc: https://docs.google.com/document/d/1nx9LQe2Ee0nGxr_Ja1KuRwG-3oBSvN2ZH030_SXd3Ho/edit

[2015-08-11 21:48] anniesullie opened #1235 "run_dev_server_tests: Dynamic port assignment not implemented on Windows"
See attempts in https://codereview.chromium.org/1279643003/

I didn't see a simple, cross-platform way to determine which port the dev_server is running on if it's started with port=0. I can find it using psutil, but that requires a binary install, and doesn't work properly on Linux buildbots. Since we have few developers on Windows, I hard-coded run_dev_server_tests to just use a hard-coded port

[2015-08-11 22:00] natduca opened #1236 "Contributing guide doesn't say how to do development within chromium/third_party"
A lot of folks have catapult in third party when they come to us. So then they think they have to git clone to somewhere else.

Iirw, there's a simple set of scripts you can do to change over. Either by adding a new origin or removing the old one and using the new one [I forget if gclient sync works in that case].

Can we add steps there? Old trace-viewer contributing had stuff for this.

[2015-08-11 22:00] natduca commented on #1236
@anniesullie @dj2

[2015-08-11 22:03] anniesullie commented on #1236
Sorry I missed this, it should definitely be there!

Is this still accurate? https://github.com/google/trace-viewer/wiki/Contributing/283c0365326003694c6b685704f889880cc3c000#contributing-from-a-chromium-checkout

[2015-08-11 22:08] natduca opened #1237 "Initial dev-server unification steps"
0) In each project's x_build folder,  (bikeshed0
1) Move dev_Server and its tests up to build/
2) Introduce PerProjectDevServer class, that provides
- AddOptionsToGroup(argparse_group): adds cmdline options to provided argparse group (https://docs.python.org/3/library/argparse.html#argparse.ArgumentParser.add_argument_group)
- GetHandlers(options) -> [wsgi route tuples] , where options is all resu

[2015-08-11 22:08] natduca commented on #1237
@anniesullie fyi

[2015-08-11 22:18] natduca commented on #1236
mmmhm!

[2015-08-11 22:53] vmpstr opened #1238 "PRESUBMIT crashes when the bug field is not correct."
I had a patch with a description and a line that said

BUG=catapult:1232

Then I made some changes and tried to upload, presubmit didn't like that:

$ git cl upload
Using 50% similarity for rename/copy detection. Override with --similarity.
Running presubmit upload checks ...
Traceback (most recent call last):
  File "/path/to/depot_tools/git_cl.py", line 3564, in <module>
    sys.exit(main(sys.ar

[2015-08-11 22:53] vmpstr commented on #1238
@natduca, fyi

[2015-08-12 07:33] egonelbre commented on #997
@petrcermak I have no real problem with duplicated content -- other than it wastes some space.

With regards to functionality, I don't have a full/clear user-story to understand the interactions. Although I can imagine something like:

1. Search for "beginFrame"
2. Press down/up to go through different search results.
3. At the same time look at the analysis panel.

So I think it wouldn't be dupli

[2015-08-12 13:35] anniesullie commented on #1238
Sorry about this! Broke this check in recent refactors. Fix in https://codereview.chromium.org/1284213002/

[2015-08-12 14:37] anniesullie commented on #1236
Added some updates pulled from that page to https://codereview.chromium.org/1287873003/

[2015-08-12 15:39] petrcermak commented on #997
Just to clarify: When you say "at the same time look at the analysis panel", do you think that the analysis view should still contain the current timeline selection, or temporarily display details of the highlighted search result(s)?

[2015-08-12 16:10] anniesullie commented on #1237
I started looking at this and had a bunch of questions:

* It seems like at least in this version, if you are working on perf_insights and tracing at the same time you'd have two dev_servers running, right? Or does the server automatically add a path for the handlers listed in GetHandlers() for each project, so that all the tracing ones are /tracing/...?
* If there are multiple servers being run,

[2015-08-12 16:12] anniesullie commented on #1237
Oh, another question: Right now the handlers individually do what they need with the source paths. Would having a separate GetHandlers(options) and GetSourcePaths() mean that we are pulling some shared handler code which deals with source paths into build/dev_server?

[2015-08-12 16:31] egonelbre commented on #997
The analysis panel should always show what is selected.

But the search can change the selection. For example a key-down would select the next entry. Whether that selection should be temporary depends on the main user-stories. I can see both could be beneficial. My instinct would be to say that search makes permanent selection that can be undone with escape key (to the state before starting the ne

[2015-08-12 16:46] #1215 closed

[2015-08-12 16:46] nedn commented on #1215
Feel free to reopen if you think this is not fixed. It also turns out that  https://code.google.com/p/v8/issues/detail?id=4364 is issue on mac, but not linux.

[2015-08-12 16:50] #1153 closed

[2015-08-12 17:00] anniesullie opened #1239 "perf_insights python tests fail on Windows"
@natduca FYI

[2015-08-12 17:19] natduca commented on #1237
It seems like the basic misunderstanding here is that there'd be multiple dev servers. Rather, there'd be only one dev server, one dev server script. bin/run_dev_server for instance, that imports build/ and calls main. The master dev server would hard code the list of per-project servers and directly include them.

dev_server.py would be

def Main():
[code]

CreatApp(args, pds)
[code]

The individ

[2015-08-12 17:35] #1238 closed

[2015-08-12 17:38] #1236 closed

[2015-08-12 18:15] natduca commented on #1215
Thanks Ned!

[2015-08-12 20:31] anniesullie commented on #1237
I understand what you mean now, but with meetings and first-time-implementing slowness I might not have it fully done until Friday. I've got a fully tested CL up for fixing the code duplication when running dev_server tests here: https://codereview.chromium.org/1283333002/

If you need this done faster, feel free to assign yourself, and also feel free to break off any smaller pieces you see and as

[2015-08-12 21:16] natduca opened #1240 "Generalize ./bin/wr to ./bin/perf_insight_report"
Allow other people to have reports?

./bin/perf_insight_report corpus mapfunc report_widget

[2015-08-12 21:23] philippebeaudoin opened #1241 "map_traces_locally fails and hangs on trace"
To reproduce:
- Get the latest version of https://github.com/natduca/measurmt-traces.git
- Copy measurmt-traces/desktop/slow-reports/trace-e50482337d92936f.gz to its own directory
- Run
  ./map_traces_locally -j 8 THE_DIRECTORY/ ../perf_insights_examples/map_process_count.html
The error below is printed and the process hangs and must be killed manually. Using -j 1 causes the error but the process

[2015-08-12 21:24] philippebeaudoin commented on #1241
Paging @natduca

[2015-08-12 21:47] natduca commented on #1241
@dstockwell any ideas?

[2015-08-12 21:49] natduca commented on #1241
@philippebeaudoin should we p1 this?

[2015-08-12 22:02] benshayden commented on #1077
Say I'm developing a page with a button. When you click the button, it runs 10ms cpu of javascript then 10ms cpu of style recalc then 10ms cpu of layout then 10ms cpu of paint then 10ms cpu of compositing plus 50ms of queue latency and whatever else for 100ms wall time. None of that is parallelizable no matter how many cores you have, no matter how many threads chrome has or what they do. How effi

[2015-08-12 22:08] benshayden opened #1242 "Count long idle tasks"
If there's a task > 75ms in an Idle IR, then it could probabalistically impact the pain of a subsequent Response. If a site consistently schedules long idle tasks which inconsistently impact Responses, then we can surface a stronger signal of that bad behavior by defining it to be pain on the Idle, instead of leaving Idle pain undefined. This could also let us remove the long task alerts by foldin

[2015-08-12 22:12] benshayden opened #1243 "Need passive way to make IR finder import warnings visible to user"
Context: https://codereview.chromium.org/1285903003

[2015-08-12 22:13] benshayden commented on #1243
Nat, feel free to describe how you want this done and assign it to somebody else to do.

[2015-08-12 22:31] fmeawad opened #1244 "[perf_insights] /upload crashes"
As reported in https://codereview.chromium.org/1283683002/#msg12

"If I hit https://performance-insights.appspot.com/upload now I get this 500:

Traceback (most recent call last):
  File
"/base/data/home/runtimes/python27/python27_lib/versions/1/google/appengine/runtime/wsgi.py",
line 240, in Handle
    handler = _config_handle.add_wsgi_middleware(self._LoadHandler())
  File
"/base/data/home/runti

[2015-08-12 22:32] fmeawad commented on #1244
I have uploaded an old version of appengine temporary, sending a CL momentarily.

[2015-08-12 23:19] benshayden opened #1245 "Switch AnimationInteractionRecord.normalizedUserPain to use smoothness and discrepancy metrics"
Blocked on https://code.google.com/p/chromium/issues/detail?id=518960

[2015-08-12 23:21] fmeawad opened #1246 "Appengine-compatible way for projects to reference other projects"
In #1122, we set up a pathing strategy where appengine app.yaml for project "x" are in x/x.yaml, its python code is x/x/__init__.py. And, other projects are siblings to x, e.g. y projects python code is in y/y/__init__.py

The issue #1244 showed that Appengine doesn't support referencing above x/. This makes reaching other catapult projects impossible.

We will need a plan for proceeding here, eve

[2015-08-12 23:57] #1244 closed

[2015-08-13 00:29] dj2 commented on #1230
To give an idea, the entries we have from the current test files for stack frames gives the following (filtered down from ~10k entries). The items below are [event.category, event.name] pairs.

["v8", " app:1"]
["v8", " http://dromaeo.com/jquery.js:1"]
["v8", " http://dromaeo.com/tests/dromaeo-object-array.html:12 {1}"]
["v8", "$Array.enumerable_ native v8natives.js:525"]
["v8", "/System/Library/F

[2015-08-13 00:30] dj2 commented on #1230
@natduca I'm not seeing any frames with bare addresses in them in the current data. For the v8 frames we have addresses for each function and a code size, for the perf_sampling_trace_with_trace_events we have an id, category, name and parent id.

[2015-08-13 01:23] natduca commented on #1230
I think the [unknown] ones that have categories are the module + offset address. Looks like we made the choice in this to drop that instead of keep it in the file. @skyostil

The "", [unknown]" is the pc with no module.

[2015-08-13 01:32] dstockwell commented on #1241
I guess I expected that MapSingleTrace would be doing exception handing and returning a failure in this case. In this case I think we end up dropping the thread that's running the task and never calling _work_queue.task_done()

[2015-08-13 01:49] natduca commented on #1241
Ah, I get it! I think its probably right that the runner should assume that mapping will succeed, meaning we shoudl patch

@philippebeaudoin mind trying a patch to catch the exception in map_trace_locally.py and push a FailureValue to the reuslts object containing the exception? I can do it, but not till Friday due to #1219 and #1237

[2015-08-13 02:02] yuhao commented on #1199
Here is what's happening.

<img width="1391" alt="screen shot 2015-08-12 at 7 00 09 pm" src="https://cloud.githubusercontent.com/assets/989505/9241151/6acb5cf8-4124-11e5-88a9-a7b65cfc742a.png">

In the browser main thread, ChannelProxy::Context::OnDispatchMessage sends two messages to the IO thread using PostTask (only one is highlighted in the screenshot). Each message then does an IPC once then

[2015-08-13 02:07] yuhao commented on #1199
I don't know if this is a bug, but ChannelProxy::Context::OnDispatchMessage is only taking one piece of message as its argument (https://code.google.com/p/chromium/codesearch#chromium/src/ipc/ipc_channel_proxy.cc&sq=package:chromium&l=260&q=ChannelProxy::Context::OnDispatchMessage). How come it ends up sending two pieces messages to the IO thread?

[2015-08-13 02:41] philippebeaudoin commented on #1241
Picking it up, good opportunity to flex my mad python skillz!

[2015-08-13 02:50] dstockwell opened #1247 "Need indication of which/how-many tabs are executing in a given renderer"

[2015-08-13 02:51] dstockwell opened #1248 "trace or metadata needs to signal when a device was running in power saver mode"

[2015-08-13 03:02] anniesullie commented on #1248
@fmeawad @vinterstum

[2015-08-13 03:04] anniesullie commented on #1237
I updated https://codereview.chromium.org/1285333002/

[2015-08-13 03:56] natduca commented on #1193
Might be good to do this sooner so we can get a back of the envelope estimate on mappnig speed

[2015-08-13 04:04] dstockwell commented on #1193
Should we just use python's zlib library to do this on all platforms?

[2015-08-13 05:02] natduca commented on #1193
sounds awesome. anything is better than gunzip in js!

[2015-08-13 05:29] dstockwell commented on #1193
It's about a 30% difference.

[2015-08-13 05:52] dstockwell commented on #1193
Or not... A bunch of my traces were doubly gzipped and the change was causing them to get skipped. With those repaired:

Before:

    real    1m59.346s
    user    57m16.347s
    sys     3m15.536s

After https://codereview.chromium.org/1287193002:

    real    1m57.230s
    user    52m3.563s
    sys     3m22.726s

[2015-08-13 05:56] dstockwell opened #1249 "Need documentation for trace model API"
Perf insights map functions execute over a trace model.

[2015-08-13 06:13] natduca commented on #1249
@zeptonaut wdyt?

[2015-08-13 06:17] natduca commented on #1193
Out of curiosity, hows this perform compared to os.system(gunzip blahblah)?

[2015-08-13 06:31] dstockwell commented on #1193
Seems about the same:

[code]

[2015-08-13 06:44] natduca commented on #1193
python gzip it is!

[2015-08-13 06:55] dstockwell opened #1250 "Upload server should store traces in GCS with the 'gz' suffix"

[2015-08-13 06:55] dstockwell commented on #1250
@fmeawad

[2015-08-13 07:06] #1193 closed

[2015-08-13 08:01] primiano opened #1251 "Memory-infra trace w/ lot of renderers looks misaligned"
Got a trace from android (www/~primiano/memory_infra/traces/trace_misaligned_android.json) with 3 dumps (lot of renderers).
The graphs in the renderers look temporally misaligned. See below. Is this WAI?

![regr](https://cloud.githubusercontent.com/assets/7137473/9245162/93853c5c-4199-11e5-817f-d1cb54f57cf0.png)

[2015-08-13 09:16] natduca commented on #1251
can we put a trace around the dumping operation so we can see how heavy the dumping was?

[2015-08-13 09:20] petrcermak commented on #1251
This is **WAI**. I wrote a script to find the ranges of each dump in the JSON trace and got the following results:

[code]

As you can see, the three global dumps do not overlap, but they are quite "wide" (there is more than one second delay between the first and last process dump in two cases).

Since there are no global memory dumps in raw JSON traces, we create them during import and assign the

[2015-08-13 10:41] primiano commented on #1251
Yep I have already a patch for that (https://codereview.chromium.org/1188803003/) we can apply locally and retry.

OK I suspect that what happens here is that the 1st dump is heavy (w/ mmaps) and there are lot of processes here (14-15 IIRC). The thing that I don't understand, though, is why there is so much variability between the various processes.
Will find out tracing memory-infra :)

Thanks fo

[2015-08-13 10:41] natduca opened #1252 "Need to check modified html files for 'use strict' directive"
The presubmit scripts used to check html files for 'use strict' directives. This was lost, probably by my cl to get rid of the code that tried to construct the full deps graph on presubmit.

A simpler variation of this would be, on presubmit, make the vulcanizer for the project, then just ask the vulcanizer to load the modified/added html files. If they are missing directives, they won't load.

[2015-08-13 10:41] natduca commented on #1252
this is probably p1 but we have a lot of p1 items. :) So, p1.5?

[2015-08-13 10:45] natduca opened #1253 "Make wr_results_view show run stats & issues"
A results object can contain values from failed runs. Lets make the wr_results_view show ui/base/info_bar when there is a failed run, and in all cases, show the number of runs in the results.

[2015-08-13 10:46] natduca opened #1254 "Split WR results view into pieces"
Right now it is a giant table. There is probably a overview panel, a details panel, some topnav/framing stuff. Each would be nice as its own component.

[2015-08-13 10:54] natduca opened #1255 "Create in-browser mapfunc + report development workflow"
Right now, development is:
- work on a mapping function either from commandline, or in the viewer side panel [awk]
- run it on a big data set and copy results to wr/ui
- work on ui

Can we do better? What if devserver has a handler that runs the wr mapper, returns the results, passes it into a report?

[2015-08-13 11:00] #1220 closed

[2015-08-13 11:02] natduca commented on #1243
Model has importWarnings and importErrors.

ImportWarnings are eaten silently, thats fine.
TimelineView checks if importErrors length is nonzero, and adds a tr-ui-b-info-bar to the top of the screen in response, with a clickable button to see the errors.

As far as owners, dunno.

[2015-08-13 11:04] natduca commented on #1254
Actually, going to file a slightly more general bug here since I'm not clear on next steps.

[2015-08-13 11:04] #1254 closed

[2015-08-13 11:04] natduca commented on #1255
Actually, going to file a slightly more general bug here since I'm not clear on next steps.

[2015-08-13 11:04] #1255 closed

[2015-08-13 11:07] natduca opened #1256 "Second iteration of wr_results view"
- Make brushing work
- Just summing right now: should we average/etc?
- Highlevel vs drilldown panels to avoid endless scrolling? Or, limit rows to 20?
- Click on cell to see histogram of values per trace
- Click on histogram entry to view the problematic trace
- Filters on the wr_results_view.html

[2015-08-13 11:08] natduca opened #1257 "Add v8 costs to wr.html and wr_report.html"
We now have a weather report skeleton. Lets start adding the v8 costs to it.

[2015-08-13 12:55] anniesullie commented on #1252
I'll leave this available while I'm hacking on the dev_server changes. If someone gets to this before I do, this seems like a good place to add a check: https://github.com/catapult-project/catapult/blob/master/build/js_checks.py

[2015-08-13 15:24] fmeawad commented on #1193
Old traces where double gzipped, all new traces are single gizpped

[2015-08-13 16:28] natduca commented on #1252
Yeah, not something you have to get to. If you look at js_checks.py, its a pile of glue code to talk to gjslint. I tend to think maybe that file should be gjslint_checks.py and we might want another file for html-parsing-based checks...

[2015-08-13 16:41] petrcermak commented on #1117
Has there been any progress on this?

[2015-08-13 16:49] petrcermak commented on #706
As I proposed in #1229, it might be a good idea to have three independent types of selected-highlighted-ness:

   1. **Selected** – Display the current selection (same as today)
   2. **Associated** – Show events associated with the current tab (same as "highlighted" today)
   3. **Highlighted** _(new)_ – Temporarily highlight events (possibly using marching ants borders, see #1229) based on user'

[2015-08-13 17:06] dj2 commented on #1216
@chiniforooshan this maybe a good introduction to tracing code bug.

[2015-08-13 17:07] dj2 commented on #1257
The V8Samples parsing has landed on ToT so we should be able to start using this in the weather report. @chiniforooshan can you look into this?

[2015-08-13 17:36] dj2 commented on #1123
This should now be fixed.

[2015-08-13 17:36] #1123 closed

[2015-08-13 17:37] natduca commented on #1198
I think fixed. Closing, but ben, feel to reopen?

[2015-08-13 17:37] #1198 closed

[2015-08-13 17:39] #1207 closed

[2015-08-13 17:42] natduca opened #1258 "Prepare a deep reports corpus for the alpha demo and stage it in drive"
@paulirish can you drive this?

[2015-08-13 17:46] paulirish commented on #1258
* Where does the corpus live?
    * Lets tackle remote corpii in Alpha.

[2015-08-13 18:12] benshayden commented on #1198
I edited a bit, feel free to change or start a doc, but lgtm.

[2015-08-13 18:14] yuhao opened #1259 "Generalize the trace event importer to support flows for B/E events"
Right now Flow API v2 will only create 'X' events. In the future, we might want to support creating B/E events with flows. We will then support this in the importer.

[2015-08-13 18:17] natduca commented on #1258
Lets also include in the corpus set for our demos the 800 trace set from @chiniforooshan that has page loads with and without adblock

[2015-08-13 19:02] natduca commented on #856
This came up in https://codereview.chromium.org/1287163003/ and a few other bugs. @dj2 @zeptonaut fyi

The basic idea is that we have N clock domains, and to convert from one clock domain to another, you typically scale and subtract. If you have a a bunch of pairwise correspondences between differing clock domains, you can convert from any domain to another by walking the "clock tree."

With that

[2015-08-13 19:56] natduca commented on #856
@nedn fyi

[2015-08-13 20:04] benshayden opened #1260 "Loading work, netlog before Loading IR"
Currently, Loading IRs are defined to start at didCommitProvisionalLoad, but this sometimes appears to be too late in the loading process. Should it start earlier? When?

Is there documentation somewhere about the different phases of the loading process?
I don't know enough about the loading process.

[2015-08-13 20:05] benshayden commented on #1260
Fadi supplied this trace: https://x20web.corp.google.com/users/be/benjhayden/www/rail1260.gz

[2015-08-13 20:06] benshayden commented on #1260
Related: Fix Load IR associatedEvents https://github.com/catapult-project/catapult/issues/1221
Related: Load IR should use first meaningful paint: https://github.com/catapult-project/catapult/issues/1147

[2015-08-13 20:51] natduca commented on #1260
Lets ping Bryan and Nate for help.

[2015-08-13 20:53] natduca opened #1261 "wr_results.html should internally scroll [or wr.html should not disable scroll]"
wr.html embeds wr_results with height:100% which stops scrolling.
we should come up with a convention.

[2015-08-13 22:19] benshayden opened #1262 "Experimentally determine System Health responsiveness, efficiency parameters"
TODO edit this to standard bug template
we should create an experimental framework

[2015-08-14 01:56] philippebeaudoin opened #1263 "Startup Trace creates spurious Response IR with bad related events"
The trace at:
  https://github.com/natduca/measurmt-traces/blob/master/desktop/startup/startup_osx.json.gz
Is essentially just a trace of Chrome starting up with little/minimal user interaction. However the IR show spurious response events with a large number of unexpected related events.

<img width="1396" alt="screen shot 2015-08-13 at 9 56 47 pm" src="https://cloud.githubusercontent.com/assets/

[2015-08-14 01:57] philippebeaudoin commented on #1263
Ping @benshayden

[2015-08-14 01:58] philippebeaudoin commented on #1263
@natduca Probably not MVP since it's on Chrome startup, but I'll let you judge.

[2015-08-14 13:33] petrcermak commented on #1129
I've just uploaded a patch for review (https://codereview.chromium.org/1292343002/). Here's a screenshot:

![suballocation_screenshot](https://cloud.githubusercontent.com/assets/2546601/9274903/6dc1daf4-4291-11e5-8758-5d24602d3180.png)

[2015-08-14 13:55] petrcermak commented on #1129
This is now **fixed** :tada:

[2015-08-14 13:55] #1129 closed

[2015-08-14 14:13] anniesullie commented on #1252
In the short term, should I add a test that just tries to vulcanize? Could also spit out the size to the perf dashboard when it is run on the main waterfall.

[2015-08-14 14:39] dj2 commented on #1199
I don't understand what you mean. Are you asking why it has an event with just name and a second one with class and line? What does 'sending two pieces messages to the IO thread' mean?

[2015-08-14 14:43] anniesullie commented on #1252
Ah, we already do have a test that vulcanizes (Trace2HTMLTests). But doesn't cover code outside of trace-viewer.

[2015-08-14 19:01] natduca opened #1264 "Add getEventsGroupedByBlinkRenderingFrames() to chrome_renderer_helper"
RendererHelper has a mainThread, and off of that is a sliceGroup.

If you sort that sliceGroup by time, you will find slices called ThreadProxy::BeginMainFrame.

These represent blink beginning a new frame of work.

Lets make a function that walks the sliceGroup's toplevel slices in ts order and uses this BlinkRenderingFrame as a delimiter for new frames.

Lets then wrap that in an actual class
[c

[2015-08-14 19:01] natduca commented on #1264
@benshayden fyi

[2015-08-14 20:16] natduca commented on #1122
@anniesullie has an awesome patch incoming that will fix the remaining issues here. Routing this bug to her for her to close when her patch lands.

[2015-08-14 20:17] #1237 closed

[2015-08-14 20:17] natduca commented on #615
Nope, wontfix.

[2015-08-14 20:17] #615 closed

[2015-08-14 20:17] natduca commented on #795
Fixed as part of #1122

[2015-08-14 20:17] #795 closed

[2015-08-14 20:19] natduca opened #1265 "Split out tracing/ testrunner to third_party module"
We have a testrunner right now that works pretty well for perf insights and tracing. Lets split it out to third party so it exists.

There is long term discussion about using mocha instead, but I think we're better off in the near term using what we have, being clean about it.

[2015-08-14 20:20] natduca opened #1266 "Rename tracing/third_party/tvcm to third_party/py_vulcanize and focus it on vulcanizing"
- Its name is wonky. Rename it to py_vulcanize
- It is mostly a vulcanizer now, but it also has things that should be presubmit checks

[2015-08-14 20:20] natduca commented on #609
I'm going to close this for now. Lets instead focus on #1265

[2015-08-14 20:20] #609 closed

[2015-08-14 20:21] natduca commented on #1162
Fixed as part of #1122

[2015-08-14 20:21] #1162 closed

[2015-08-14 20:21] natduca commented on #1075
Fixed as part of #1122

[2015-08-14 20:21] #1075 closed

[2015-08-14 20:31] natduca opened #1267 "Need $catapult/bin/run_tests and a perf_insights/bin/run_tests"
We have lots of piecewise runners, which are awesome. But we should probably also have a tree of test runners too.

[2015-08-14 20:31] natduca commented on #1267
@anniesullie can you take this?

[2015-08-14 20:33] natduca commented on #1089
Still a bug?

[2015-08-14 20:34] natduca commented on #715
I actually think we should deprecate the css linter. Or, if notthat, think about how to afford giving it an overhaul it: its not clear that it even works with inline style blocks.

[2015-08-14 20:34] natduca commented on #715
@anniesullie any thoughts?

[2015-08-14 20:36] anniesullie commented on #715
Oops, I removed it because it wasn't used anywhere. Is it worth reviving?

[2015-08-14 20:39] anniesullie commented on #1089
Yep, still a bug.

[2015-08-14 20:41] natduca commented on #1246
@anniesullie though #1122 is closed, we still have this outstanding issue. I'm not so clear how we want to proceed here.

[2015-08-14 20:56] natduca commented on #1252
We used to have a presubmit that found all the things that looked like polymer modules, and said "vulcnize all these". I bet we could bring that back.

The key there is making sure to only find sourc files. THere are lots of html files that aren't modules that can't be treated as modules for vulcanizing: examples, third_party code, etc.

Probalby we can make a check up at the build level that asks

[2015-08-14 21:05] natduca opened #1268 "KernelThreads should not be Threads; slices inside kernel should not be ThreadSlices"
Kernel vends out Threads, which vend out ThreadSlices. This gets used by various bits of ftrace importer, I think, to represent various kinds of kernel workloads. Its pretty cool.

But, it means that you cannot reliably go from an Slice from a trace and say "whats your process?" and count on it being a process. It might be a kernel (a kernel? the kernel? Whoops.). This breaks people's brains.

To

[2015-08-14 21:20] yuhao commented on #1199
I am saying that:

1) I found where the flow id duplication of IPC is coming from. In the screenshot, there are two PostTasks under ChannelProxy::Context::OnDispatchMessage from CrBrowserMain to Child_IOThread. Each PostTask carries an IPC message. When the PostTask gets to the Child_IOThread, it sends the message through IPC. I found that these two messages have the same flow ID.

2) I was confus

[2015-08-14 21:26] natduca opened #1269 "Fix SkipValue"
It doesn't yet pass through the stack. Fix it so it does.

[2015-08-14 21:26] natduca commented on #1269
@philippebeaudoin i think your mapper will need this.

[2015-08-14 22:53] zeptonaut commented on #1268
My feeling would be that `KernelThreads` *should* be `Threads`, but that maybe there should be a distinction between a `ProcessThread` and a `KernelThread`. Both could inherit from `Thread` for any common logic. I think it'd be pretty confusing for a `KernelThread` not to be a `Thread`.

[2015-08-14 22:54] natduca commented on #1268
ThreadBase?

UserlandThread, KernelThread I buy.

Thread is ambiguous.

[2015-08-14 23:44] natduca commented on #1264
https://codereview.chromium.org/1284143007

[2015-08-14 23:48] natduca commented on #1124
Retitling this: we now have a notion of a corpus driver, so this bug is about making that work.

[2015-08-14 23:49] natduca opened #1270 "Mapping function development workflow needs improvement"
Need something better

[2015-08-14 23:49] natduca commented on #1065
Duping to #1270

[2015-08-14 23:49] #1065 closed

[2015-08-15 00:06] fmeawad commented on #1246
I discussed this with @qeny, he seemed to have solved it for the dashboard component by doing 2 tricks:
<ul><li>adding an <a href="https://cloud.google.com/appengine/docs/python/tools/appengineconfig">appengine_config.py</a> file
<li>Adding a <a href="https://github.com/catapult-project/catapult/blob/master/dashboard/third_party">symlink</a> to the anything above app.yaml beside app.yaml
</u>

[2015-08-15 00:21] natduca commented on #1246
Do we want to have symlinks in our checked in repo layout? Seems pretty funky...

[2015-08-15 00:23] natduca commented on #1246
Or put another way, maybe if we go that way, we should have the app.yaml in a subfolder called appengine/app.yaml, and then anything it needs is symlinked in from there.

that way, things running in non-appengine mode don't have multiple ways to get to a given asset in our repo]

[2015-08-15 00:25] dj2 commented on #1246
Symlinks aren't portable, they don't work on Windows for example.

[2015-08-16 01:26] dj2 opened #1271 "Trace viewer examples path seems wrong."
Currently, to access the example trace_viewer the URL is /examples/trace_viewer.html. I think this should be /tracing/examples/trace_viewer.html now that we've moved to a global dev server.

[2015-08-17 13:56] #1209 closed

[2015-08-17 14:10] anniesullie commented on #1246
@qeny - How does the perf dashboard work on Windows? I see that the tests pass, does the dev_server run? Can you deploy to prod?

I haven't looked at this too deeply at all, but maybe simlinks in a 'lib' directory? https://cloud.google.com/appengine/docs/python/tools/libraries27#vendoring

[2015-08-17 16:59] zeptonaut commented on #1268
/shrug I'd say if ThreadSlice right now is specifically talking about a UserlandThreadSlice, then the latter is the better name anyway. If we wanted to shorten it, UserThreadSlice would probably work, too.

[2015-08-17 18:25] natduca commented on #1263
Lets leave this on alpha, and then @philippebeaudoin we can debug this if/when we feel like we need it sooner.

[2015-08-17 18:30] philippebeaudoin commented on #1242
Stealing this from you Ben. Hopefully I'll be done before you're back. :)

[2015-08-17 18:32] philippebeaudoin opened #1272 "Rename interaction_records to interactionRecords"

[2015-08-17 18:52] #1217 closed

[2015-08-17 19:14] dj2 opened #1273 "run_dev_server lost the -d flag."
The tracing dev server used to allow passing -d <directory> to change the test_dir. This was useful for things like measuremt-traces when you had a directory of files you wanted to use.

This does not seem to work with the global dev_server anymore.

[2015-08-17 19:16] anniesullie commented on #1271
I started looking into this and if I understand the request correctly, it's a really large change. I have a WIP here:

https://codereview.chromium.org/1300653003

The actual code change is in https://codereview.chromium.org/1300653003/diff/1/build/dev_server.py - I thought we could fix this by just always prefixing files served through SourcePathsHandler with the project name they came from (i.e.

[2015-08-17 20:00] anniesullie commented on #1273
I made a change to add -d (and -s) back in here: https://codereview.chromium.org/1294203002

But I realized I don't know how to test it. Suggestions?

[2015-08-17 20:04] anniesullie commented on #1271
Oh, looks like this is covered in the doc https://docs.google.com/document/d/1clC4bV_3aNc-z3L9WmGswjYtOco0udxmJhVjeugIP04/edit#:

"HTML search paths are arranged such that they have the same name as they would in python. E.g. tracing/tracing/base/base.html is /tracing/base/base.html for an HTML import, and tracing/tracing/base/base.py is 'tracing.base.base' in Python."

So I should update all the

[2015-08-17 20:09] dj2 commented on #1271
None of the paths should be /tracing/tracing. The path is /tracing/base/base.html which matches the tracing.base.base. We should not have /tracing/tracing/base/base.html as a path.

[2015-08-17 20:34] dj2 opened #1274 "Update measuremt-traces with v8 sample data."
The current measuremt traces do not have v8 samples in them. We need to record a set of traces that contain V8 samples so we can show the domain attribution work.

[2015-08-17 20:35] dj2 commented on #1274
@natduca who recorded these? Can we ask them to either re-record to record some more with v8 samples? (Will need a new-ish chrome to do it with)

[2015-08-17 20:35] dj2 commented on #1274
Blocking #1257.

[2015-08-17 20:36] dj2 opened #1275 "Generalize code to go from a slice to the associated samples."
We currently have code in the analysis view that lets us view the samples which fall over a given event. We need to move this code up to the general slice model code so we can re-use it for the weather report.

[2015-08-17 20:37] dj2 commented on #1275
@philippebeaudoin can you point out where this code is so we can move it around as needed?

[2015-08-17 20:37] dj2 commented on #1275
Blocks #1257.

[2015-08-17 20:40] dj2 opened #1276 "Need to calculate domain time from sample data."
With v8 samples we'll have a bunch of samples with the same stack. We need to write the code to say, given this set of samples, tell me the time for each domain inside that sample. It will need to walk over the samples, find the start of a given stack frame, and the last time we see that stack frame and subtract the first start time from the last one to get the time we were in that frame.

This wo

[2015-08-17 20:40] dj2 commented on #1276
Blocks #1257.

[2015-08-17 20:41] dj2 opened #1277 "Update wr script to add the v8 domain time to the JSON data."
We need to update the wr scripts to add the domain attribution time to the output JSON for each response type in the data.

[2015-08-17 20:41] dj2 commented on #1277
Blocks #1257.

[2015-08-17 20:43] dj2 opened #1278 "Update wr HTML files to display domain attribution data."
Once the domain data is dumped into the JSON files we need to update the HTML displays to make sure it's displayed correctly according to the mock.

[2015-08-17 20:43] dj2 commented on #1278
Blocks #1257.

[2015-08-17 20:46] philippebeaudoin commented on #1275
Look for addOverlappingSamples_ in tracing/ui/analysis/related_events.html

[2015-08-17 20:53] philippebeaudoin commented on #1160
Paul: can you point me to sample traces that you would expect to be sorted in these different bins? I've done a couple but I'd like to verify they work for your use cases.

[2015-08-17 21:10] natduca commented on #1273
This probably is p1 because folks use this so that they can do local development using the traces in https://github.com/natduca/measurmt-traces instead of the ones checked in.

In the medium term, we need to decide whether we're okay with +250mb of binary trace data checked into our main repo, or if we want to use gclient or cloud storage or etc

[2015-08-17 21:54] anniesullie commented on #1273
Thanks! I uploaded another patch I think does the right thing.

[2015-08-17 23:45] qeny commented on #1246
I haven't tried deploying perf dashboard (deploying or using dev_appserver) on Windows, and I expect that it doesn't work. The tests pass on Windows only because the third-party libraries added to sys.path in a different way when running the tests vs in production. (Specifically: when running tests, libraries are added to sys.path in run_tests.py, but for deploying or dev_appserver, they're added

[2015-08-17 23:55] natduca commented on #1246
A specific deploy step might give us a clean way to slot in stuff like vulcanizing, right?

Is there a way to have a deploy step that creates symlinks in the build image for quick turn development?

[2015-08-18 00:05] natduca commented on #1271
I think all you need to do is tweak tracingdevserverconfig should return an extra test_data_paths = "/tracing/examples" -> self.project.examples_path

We might also have to update the tracing/tracing/tests.html to point at the right url , but that should be it.

[2015-08-18 00:49] dave-2 opened #1279 "Documentation for colored trace events"
There's a way to hint to trace viewer that a trace event should be a specific color.

Please add it to the trace event format doc: https://docs.google.com/document/d/1CvAClvFfyA5R-PhYUmn5OOQtYMH4h6I0nSsKchNAySU/preview

[2015-08-18 14:29] #1273 closed

[2015-08-18 15:40] philippebeaudoin commented on #1160
@paulirish I have a patch in review that adds a "name" field to IRs. It should let you distinguish between all the cases in your list except "load main"/"load iframe" for which the trace doesn't seem to have enough info. I'll probably have to add some signals in Chrome tracing.

I did some testing but I'd really like to try in on traces where you expect some of these to come up. If you have them l

[2015-08-18 16:25] wangzhen127 commented on #1223
Fixes by dsinclair:
https://android-review.googlesource.com/#/c/166982/
https://android-review.googlesource.com/#/c/167260/

[2015-08-18 17:46] natduca commented on #1279
Fixed, look for cname in the format doc

[2015-08-18 17:46] #1279 closed

[2015-08-18 18:03] anniesullie commented on #1271
Thanks! Much simpler patch uploaded at https://codereview.chromium.org/1300813004/

[2015-08-18 18:12] philippebeaudoin opened #1280 "Refactor code between extras/chrome and extras/rail."
As mentioned in the comments of https://codereview.chromium.org/1282343002/ there is a fair amount of refactoring that should be done between extras/chrome and extras/rail. Let's clean that.

/cc @benshayden

[2015-08-18 18:16] philippebeaudoin opened #1281 "Document the maths in computeNormalizedPain and weightedAverage2"
The maths in rail_interaction_record.html is quite involved and should be documented. See comments on https://codereview.chromium.org/1282343002/

/cc @benshayden @dj2

[2015-08-18 18:23] anniesullie commented on #1246
I think a deploy script is the way to go. Quinten, can you investigate if there's a way to have a deploy step that creates symlinks as in Nat's comment?

[2015-08-18 18:54] natduca commented on #1260
@bryanmcquade @natechapin fyi

[2015-08-18 19:47] #1272 closed

[2015-08-18 19:47] philippebeaudoin commented on #1009
@natduca : What is still needed here for MVP?

[2015-08-18 20:08] #1271 closed

[2015-08-18 20:25] paulirish commented on #1160
@philippebeaudoin heyo. I just added a few traces to `measurmt-traces`. the latest are great candidates.  https://github.com/natduca/measurmt-traces/commit/0070219cbb0ba0afdc868ad158747999537bc582

`trace_foxnews_scroll_down_up_tap_nav_4x.json` is a pretty good one. during the page load, i scroll the page down and up (basically flinging 3 times). Then tap the nav icon 4 times. Video of that run is

[2015-08-18 20:34] natduca commented on #1155
I think this is fixed

[2015-08-18 20:34] #1155 closed

[2015-08-18 20:34] natduca commented on #1178
Dupe into #1155

[2015-08-18 20:34] #1178 closed

[2015-08-18 21:09] philippebeaudoin opened #1282 "Add name to IR to distinguish loading the main frame from loading an iframe."
Continuing work from #1160.

/cc @paulirish @benshayden @natduca

[2015-08-18 21:11] philippebeaudoin commented on #1160
Thanks Paul! Will try it and see how well the naming works on it.

I'll close this bug as it solves 95% of the problems, opened #1282 for the main/iframe loading stuff. Probably not MVP.

[2015-08-18 21:11] natechapin commented on #1260
You may want didStartProvisionalLoad? That's fired just before blink starts a main resource request.  didCommitProvisionalLoad occurs when a load has enough data to justify leaving the old page and showing the new one (i.e., once the main resource's headers and the first bytes of its body are received).

I think the closest we have to documentation is a talk I gave at BlinkOn 1.  It's a bit out of

[2015-08-18 21:11] #1160 closed

[2015-08-18 21:30] paulirish commented on #1160
Sounds good. I just took a look on the foxnews trace and it's quite lovely. I will file some followups as necessary.

Thanks for taking this on. :)

[2015-08-18 23:51] qyearsley commented on #1246
Tomorrow I plan to make a CL to change catapult/dashboard/deploy.sh to do this, and then when that works we can do the same thing for perf_insights :-)

[2015-08-18 23:57] natduca commented on #1246
Can we plan on moving from shell script to python for the deploy at some point? sh is known for being unmaintainable.

[2015-08-19 00:19] natduca commented on #978
So, beautifulsoup4 seems to use the builtin python html parser. That parser is buggy in early python 2.7 versions and we routinely hit those bugs in trace viewer. Whereas, bs3 has its own built in parser [and we've made it work properly].

Not sure how to proceed on this, to be honest.

[2015-08-19 00:25] natduca commented on #978
https://codereview.chromium.org/1288843004

[2015-08-19 00:48] qyearsley commented on #978
Right, sounds like using switching tvcm/py_vulcanize to use bs4 isn't the way to go.

The reason why bs4 was added is because webtest depends on it, and as you noted in an email last month, there is an alternative to using webtest: webapp2 has a convenience testing method get_response which can be used (https://webapp-improved.appspot.com/guide/app.html#unit-testing). If the dashboard tests were s

[2015-08-19 00:56] qyearsley commented on #1246
Sounds good!

[2015-08-19 01:08] natduca commented on #978
I do think bs4 is strictly better. bs3 is super quirky. I've got a wip that switches us... just need to keep pushing at it: https://codereview.chromium.org/1297993004

[2015-08-19 01:13] natduca opened #1283 "Move html5lib-python to $catapult/third_party"
Didn't notice it there over in dashboard. Wanna use it in tvcm.

[2015-08-19 01:13] natduca commented on #1283
@qyearsley can you?

[2015-08-19 01:28] natduca commented on #978
Got it as far as I could, but I have 5 tests remaining that are tricky around &blah; sequences. I think its mostly good but ... lotsa details.

[2015-08-19 13:44] #1241 closed

[2015-08-19 14:23] dj2 commented on #1223
With https://android-review.googlesource.com/#/c/167490/ systrace should be up to ToT. Closing this bug as everything due to us moving stuff around is fixed.

[2015-08-19 14:23] #1223 closed

[2015-08-19 15:01] #1267 closed

[2015-08-19 15:30] qyearsley commented on #1283
html5lib isn't currently used by dashboard (except indirectly by bs4) -- so I think to add it we'd still have to commit https://codereview.chromium.org/1288843004.

[2015-08-19 15:32] natduca commented on #1283
Huh? I'm confused. Its in dashboard/third_party already.

[2015-08-19 15:35] qyearsley commented on #1283
I don't see it -- catapult/dashboard/third_party is currently a symlink to catapult/third_party, and I don't see html5lib in https://github.com/catapult-project/catapult/tree/master/third_party now

[2015-08-19 15:39] dave-2 opened #1284 "[tracing] Incorrect rendering of blocks with exact same start time."
It seems like tracing sorts the events based on `ts`, but doesn't handle well the case where the `ts`s are equal.

[code]
<img width="422" alt="screen shot 2015-08-19 at 8 35 20 am" src="https://cloud.githubusercontent.com/assets/211662/9360808/53633f6c-464d-11e5-8710-84cfafb85c2a.png">

If you swap the order of the events, the rendering is correct:

[code]
<img width="423" alt="screen shot 2015-0

[2015-08-19 15:41] dj2 commented on #1284
We combined foo and bar into a single slice? That's .... very broken.

@natduca

[2015-08-19 15:43] dave-2 commented on #1284
No, I think it just drew two slices that overlap.

[2015-08-19 15:45] natduca commented on #1284
We use position in the file to resolve timestamp overlaps. Your first example is malformed...

[2015-08-19 15:52] anniesullie opened #1285 "Flaky Windows Perf Dashboard Test (auto_bisect_test.AutoBisectTest)"
auto_bisect_test.AutoBisectTest.testPost_FailedJobRunOnce_JobRestarted fails a lot like this:

[code]

Examples:
https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Windows%20Tryserver/builds/508/steps/Dashboard%20Tests/logs/stdio
https://build.chromium.org/p/client.catapult/builders/Catapult%20Windows/builds/189/steps/Dashboard%20Tests/logs/stdio
https://build.chromium.org/

[2015-08-19 15:54] qyearsley commented on #1285
Yesterday I observed stats_test being flaky due to depending on the order that things are put and fetched from the datastore -- maybe this might be similar? How would you disable a specific dashboard unit test on a specific platform?

[2015-08-19 15:58] anniesullie commented on #1285
I think this should do it, running through CQ dry run now: https://codereview.chromium.org/1288643005

[2015-08-19 16:00] natduca commented on #1283
huh?! dashboard/third_party isn't a real file?

[2015-08-19 16:04] anniesullie commented on #1246
@qyearsley - Can you work on making deploy.sh and the unit tests work without symlinks? I got confused a few times between third_party and dashboard_third_party myself, but after #1283 I see this has the potential to really be a time sink.

[2015-08-19 17:26] dj2 commented on #1283
Have I mentioned you don't really want to be comitting symlinks into git?
Heh

Dan

On Wed, Aug 19, 2015, 12:01 Nat Duca <notifications@github.com> wrote:

[2015-08-19 19:34] qyearsley commented on #1283
Fortunately, the symlink is unnecessary and can be deleted (should be deleted by https://codereview.chromium.org/1305603002/)

I guess this issue can now be closed since in order to add html5lib we'll use https://codereview.chromium.org/1288843004/?

[2015-08-19 19:34] #1283 closed

[2015-08-19 19:58] anniesullie commented on #978
I'm going to work on this, will unassign if I don't make progress..

[2015-08-19 20:12] chiniforooshan opened #1286 "v8.run events have file name, too. Do we need V8 samples to extract JS origin?"
An example of a v8.run event:

{"pid":24011,"tid":1,"ts":220658981682,"ph":"X","cat":"v8","name":"v8.run","args":{"fileName":"http://static.bbci.co.uk/news/1.82.0388/js/compiled/all.js"},"dur":15299,"tdur":14608,"tts":795457}

[2015-08-19 20:13] dj2 commented on #1286
@natduca @fmeawad Is the filename on v8.run new?

[2015-08-19 20:47] fmeawad commented on #1286
It was added about a year ago: https://codereview.chromium.org/289283008/diff/1/Source/bindings/v8/V8ScriptRunner.cpp

[2015-08-19 21:31] anniesullie commented on #978
From: http://www.crummy.com/software/BeautifulSoup/bs4/doc/#encodings

@natduca @dj2: We can write a custom output formatter function, but the input is the entity converted to unicode. Looking at `test_html_content_with_charref` and `test_html_contents_with_entity`, it seems like we want to keep the original value (\&rarr; and \&#62; both stay untouched). I don't see a way to accomplish that with

[2015-08-19 21:35] fmeawad commented on #1260
Owning this temporarily, if I do not make progress will relinquish.

[2015-08-19 21:44] anniesullie commented on #978
Out of time to work on this for today, unassigning myself for now.

[2015-08-19 22:21] natduca commented on #1286
caseq@google and alph@google are great folks to ping for advice on sample analysis. They're in MTV timezone. I'm trying to get their github accounts added here for the future....

[2015-08-19 22:49] fmeawad commented on #1260
didStartProvisionalLoad should work (I use it as the trigger for Deep Reports/Navigation Tracing)

But the TRACE_EVENT is called before the observer where I trigger deep reports from is called
https://code.google.com/p/chromium/codesearch#chromium/src/content/renderer/render_frame_impl.cc&q=%22didStartProvisionalLoad%22&sq=package:chromium&type=cs&l=2537

So the event is not included

I think swit

[2015-08-19 23:01] #1269 closed

[2015-08-20 00:07] #1079 closed

[2015-08-20 00:07] #1046 closed

[2015-08-20 00:09] yuhao commented on #1088
With Flow API v2 landed, this shouldn't be a problem anymore.

[2015-08-20 00:09] #1088 closed

[2015-08-20 00:10] #1048 closed

[2015-08-20 00:10] #1049 closed

[2015-08-20 00:12] #1161 closed

[2015-08-20 05:01] XSJoJo opened #1287 "Support to view trace files in Chrome on a touch-screen device"
It would be nice to be able to view trace files directly on Chrome on a touch-screen device. Currently, this works so far but has the following usability issues:
- Vertical Scrolling doesn't work at all.
- Everything is tiny, and zooming with pinch-to-zoom doesn't work.
- Most selection tools don't work.

[2015-08-20 06:26] natduca opened #1288 "Make map_runner.py always use its progress reporterer"
In #1270 we modify the devserver to be able to run mappers. This causes console spew, because maptraces always outputs to the devserver's stdout.

@dstockwell any ideas? I tried a dirty patch here where I just shifted progress reporting to after-the-fact. But that only works for j>1... with j=1 we then are completely silent until all mapping is done.

[2015-08-20 06:27] natduca commented on #1078
@philippebeaudoin should we close and make a followup? Or just close?

[2015-08-20 06:37] dstockwell commented on #1288
This TODO? https://github.com/catapult-project/catapult/blob/master/perf_insights/perf_insights/map_runner.py#L33

I think an API like this would work:
[code]

[2015-08-20 11:29] philippebeaudoin commented on #1078
Let's close. Associated events will probably need a careful examination, but let's file bugs as we find problems.

[2015-08-20 11:29] #1078 closed

[2015-08-20 12:26] natduca commented on #1270
Mostly done. Will file bug for followup work.

[2015-08-20 12:26] #1270 closed

[2015-08-20 12:28] natduca opened #1289 "Support frontend-side mapping of traces for easier development workflow"
Right now, perf_insights_viewer.html always does mapping on the backend, e.g. devserver. It'd make development of mappers easier if the mapping could be done locally.

[2015-08-20 12:28] natduca commented on #1261
Fixed as part of 98d27d9053f3c00cb277da22cd4e245b57dac1fb

[2015-08-20 12:28] #1261 closed

[2015-08-20 13:16] dj2 commented on #1287
Closing as a duplicate of #348.

[2015-08-20 13:16] #1287 closed

[2015-08-20 13:17] natduca commented on #1287
Lets simplify the original issue description though, and indicate the items on this bug as p1.

[2015-08-20 13:19] dj2 commented on #348
The main points we need to work on soon-ish are:

 * Vertical Scrolling doesn't work at all.
 * Everything is tiny, and zooming with pinch-to-zoom doesn't work.
 * Most selection tools don't work.

[2015-08-20 13:38] #1253 closed

[2015-08-20 13:46] natduca opened #1290 "Switch weather report to use UserFriendlyCategory instead of title"
There are too many titles when we group by slice title.

The hard part of this is using the category parts, instead of the category.

E.g. if you have a slice with category x,y... which category does it get counted inside?

[2015-08-20 13:47] natduca commented on #1290
https://codereview.chromium.org/1285293006 is a wip. But, it doesn't handle category parts correctly.

[2015-08-20 13:48] natduca commented on #1290
base/category_util.html is probably useful. But not sufficient.

[2015-08-20 13:58] natduca opened #1291 "Switch wr to use array_of_numbers span (and improve AoN considerably)"
We want to be able to see the distribution of values inside a given wr cell. Ideally, array_of_numbers_span is the core workhorse for this.

[2015-08-20 14:00] natduca commented on #1256
Punting brushing and click-cell-to-x to #1291.

Punting switching to category for grouping as #1290.

[2015-08-20 15:25] chiniforooshan commented on #1276
Another way to estimate domain time is to just sum up sample weights, as noted by Nat.

[2015-08-20 15:42] dj2 commented on #1276
At least from the last trace I got the weights don't come in from tracing. I believe they were calculated after the fact by the devtools code.

[2015-08-20 15:49] chiniforooshan commented on #1276
Samples in test_data/chrome_v8.json have weights, and I verified that the two approaches give roughly equal estimates for domain costs.

[2015-08-20 15:57] chiniforooshan opened #1292 "Add tests for JS cost computations."

[2015-08-20 16:00] dj2 commented on #1276
Hm, I wonder if it isn't consistent then?

{"pid":30265,"tid":1,"ts":2067060413419,"ph":"P","cat":"disabled-by-default-v8.cpu_profile","name":"V8Sample","args":{"data":{"stack":["0x1f7ef4ce1418"],"vm_state":"external"}},"tts":37793,"id":"0x0"},

from chrome_v8.json

[2015-08-20 16:17] chiniforooshan commented on #1276
My bad. It looks like the weights are set in the trace_event_importer and are not coming from the trace file itself. The importer always uses a default weight and I guess the 2 approaches gave similar numbers because samples are taken at a constant rate (almost).

[2015-08-20 16:44] philippebeaudoin opened #1293 "Quickly searching for slices with flow events cause multiple flow events to be printed in the analysis view."
To repro:
- Open a trace with flow events.
- Search for a slice that appears multiple time and which has connected flow events.
- Quickly click on the --> arrow of the search box.
Expected:
- Analysis view should be normal.
- It has multiple duplicate links.

![screenshot from 2015-08-20 12 43 04](https://cloud.githubusercontent.com/assets/11399419/9389448/2c393ac6-4739-11e5-8325-468191afdab2.png)

[2015-08-20 17:01] qyearsley opened #1294 "JS lint presubmit broken."
It appears that in https://github.com/catapult-project/catapult/commit/e080ff9c32190be1514a4e411cfa5e3b640fef60 I broke the JS lint presubmit -- it's now failing to check JS style for any files.

[2015-08-20 17:15] natduca opened #1295 "Need smoke test of /bin/wr"
To avoid the regression we saw earlier reported by @chiniforooshan

[2015-08-20 17:24] natduca opened #1296 "PiReportToHTMLTests spams stdout"
map_runner.py neesds to allow a nop-progress-reporter to be passed in.

[2015-08-20 17:24] natduca commented on #1295
Patch incoming https://codereview.chromium.org/1297423004/

[2015-08-20 17:31] #1275 closed

[2015-08-20 17:32] #1256 closed

[2015-08-20 17:33] #1277 closed

[2015-08-20 17:33] #1278 closed

[2015-08-20 17:45] natduca opened #1297 "Remove long-task-warning in chrome auditor"
Just adds noise.

[2015-08-20 17:46] natduca commented on #1297
Would be fine to just kill this entire function

https://github.com/catapult-project/catapult/blob/master/tracing/tracing/extras/chrome/chrome_auditor.html#L87

[2015-08-20 17:50] fmeawad opened #1298 "[IR] Too many loads in the IR"
Too many loads shows up in a trace, it does not work for the analysis.

A load IR should represent what the user perceives as loading.

@paulirish can you upload the example trace?

[2015-08-20 17:53] natduca opened #1299 "Hovering row in wr should highlight it"
Helps with visual scanning of a big table.

[2015-08-20 18:10] natduca commented on #1298
Paul, plz reassign to @fmeawad when sorted

[2015-08-20 18:42] #1294 closed

[2015-08-20 19:40] anniesullie commented on #978
I've got it down to one failing test:

https://codereview.chromium.org/1292683003/

[code]

[2015-08-20 20:39] natduca opened #1300 "Remove upload button: it confuses people"
about:tracing has an upload button, but it doesn't really work how we want it to. And, it confuses people tryign to send us reports.

Proposal: lets just remove the button ui, but leave the rest in place. We can do more when we get to starbucks scenario.

@vinterstum would you be up for a quick patch?

[2015-08-20 21:20] #1293 closed

[2015-08-20 21:23] philippebeaudoin opened #1301 "Create a mapper that mimics Chrome jank dashboard computation."
The Chrome jank dashboard identifies long duration top-level tasks and monitors how long a posted task remains in the queue. This can be computed from a trace recorded with categories toplevel.flow and ipc.flow. Write a mapper to compute this.

[2015-08-20 22:13] paulirish commented on #1202
Screenshot:
![image](https://cloud.githubusercontent.com/assets/39191/9397068/f6d9fa90-474d-11e5-8f86-f388c43a746c.png)

[2015-08-20 22:44] natduca opened #1302 "wr stats object is computed incorrectly"
We are reporting the average cost per slice in the slicegroup. We should be reporting the average cost per trace, I think...

[2015-08-20 22:46] natduca opened #1303 "Update measurmt traces to include v8 samples"
Now that we have sampling capability, maybe its time to bulk-update the measurmt traces?

@paulirish @dj2 wdyt?

[2015-08-20 22:46] natduca opened #1304 "Get deep reports to include v8 samples"
We probably want deep reports to include v8 samples now that we support them.

@fmeawad @chiniforooshan @dj2

[2015-08-21 01:39] dstockwell opened #1305 "Make it easier to deploy private instances of the trace upload server"
`‘performance-insights’` is hard coded as the bucket name in https://github.com/catapult-project/catapult/blob/master/perf_insights/perf_insights/upload.py#L35

But most people setting up appengine instances would prefer to use the default bucket: `app_identity.get_default_gcs_bucket_name()`

[2015-08-21 11:01] aschulm opened #1306 "Vsync highlighter is not included in Android systrace conf"
The vsync highlighter already works with Android traces, but it isn't included yet in trace-viewer's systrace conf.

[2015-08-21 13:00] anniesullie commented on #1306
@wangzhen127 @zeptonaut

[2015-08-21 13:45] zeptonaut commented on #1306
I'll take care of this.

[2015-08-21 15:22] chiniforooshan opened #1307 "Don't read the whole trace file into memory"
Trace files with V8 samples easily get too large for the model importer making it fail due to lack of memory.

Verify that the V8 samples consume most of the memory. If they do, probably a low hanging fruit to easily improve the situation is to fuse consequent identical samples into one sample (with proper start, end, and weight) in the in-memory model.

[2015-08-21 15:36] zeptonaut opened #1308 "Trace viewer needs integration tests to ensure necessary wrapper scripts work"
Several of our trace viewer wrapper scripts have been broken due to relying on an out-of-date import method for the past three days (since d901061). These breakages are being fixed in [this patch](https://codereview.chromium.org/1307993002/).

Unfortunately, the breakage wasn't caught by any unit tests. This is bad.

It seems reasonable to:

- Reevaluate to make sure that all of viewer wrapper scr

[2015-08-21 17:06] natduca opened #1309 "Rename $catapult/build-> catapult_build"
This way we avoid python module naming conflicts and sys.path ordering issues.

[2015-08-21 17:07] natduca commented on #1309
@anniesullie, hero of all things buildy :)

[2015-08-21 17:09] natduca commented on #1224
Deps rolled, should we bump priority on this?

[2015-08-21 17:19] dj2 commented on #1276
I believe this is done with the first version of the report.

[2015-08-21 17:19] #1276 closed

[2015-08-21 17:20] dj2 commented on #1257
Closing this as done. We still need to get more sampling data into the traces, but we go the rest of the bits done to show in the demo.

[2015-08-21 17:20] #1257 closed

[2015-08-21 17:24] dj2 commented on #1274
Closing, duplicate of #1303

[2015-08-21 17:24] #1274 closed

[2015-08-21 17:24] anniesullie commented on #1224
Yep, sorry about that! Zhen, can you take this?

[2015-08-21 17:27] eakuefner opened #1310 "appengine_dev_server.py uses __file__, which can point to pyc files"
I'm trying to run `dashboard/bin/dev_server` on my Mac, and I'm running into an issue where `appengine_dev_server.DevAppserver` tries to refer to the App Engine SDK's dev server using `dev_appserver.__file__`, which at least on Mac points to a pyc file, which isn't executable.

I'm going to test this on Linux to see what happens, but basically the fix here is to come up with something better than

[2015-08-21 17:34] zeptonaut commented on #1306
Looks like aschulm@ is already handling this in https://codereview.chromium.org/1307933002/.

[2015-08-21 17:35] natduca commented on #1096
Dupe to #2

[2015-08-21 17:35] #1096 closed

[2015-08-21 17:42] eakuefner commented on #1310
Okay, indeed, this fails as well on Linux after a first invocation of dashboard/bin/dev_server because the pyc file is created on import.

[2015-08-21 17:58] anniesullie commented on #1310
@qyearsley

[2015-08-21 18:26] natduca opened #1311 "tr-ui-b-table row highlighting-on-hover works inconsistently"
It seems like the current table is set up so that hover-highlighting works fine when supportsSelection is true.

But, when supportsSelection=false, it row hovering seems to not work. Is that intentional?

Whats weird is that this test case has supportsSelection=false but row hovering works.

http://localhost:8003/tracing/tests.html?testFilterString=sequentialRebuildsBehaveSanely&testSuiteName=trac

[2015-08-21 19:16] #1310 closed

[2015-08-21 19:42] zeptonaut commented on #2
I'd love to keep D8 up-to-date to enable us to use ES6 features as they roll out. I'm going to look into how difficult this is.

[2015-08-21 19:49] nedn commented on #2
Keeping as up-to-date as possible is not our strategy. Generated trace-viewer files has to support browsers up to stable, so we want d8 to be as up-to-date as stable chrome.

[2015-08-21 19:52] zeptonaut commented on #2
Yep! Sorry - that was a really poor use of the phrase "up to date". "Up to stable" was more what I meant.

[2015-08-21 20:03] wangzhen127 commented on #1224
Should be fixed by https://codereview.chromium.org/1310703002/.

[2015-08-21 20:03] #1224 closed

[2015-08-21 20:15] anniesullie commented on #2
Some technical notes:

1. [Here](https://github.com/catapult-project/catapult/blob/master/catapult_build/run_dev_server_tests.py#L128) is some example code that finds out current chrome stable version
2. You can run your script on a nightly cron job [here](https://code.google.com/p/chromium/codesearch#chromium/build/scripts/slave/recipes/catapult_cron.py) (currently linux-only)
3. Adding other pla

[2015-08-21 20:48] #1309 closed

[2015-08-21 20:55] #978 closed

[2015-08-21 21:18] qyearsley commented on #978
Yay, good work :-)

[2015-08-21 21:25] qyearsley commented on #1246
Alright -- now we can include code from other parts of catapult when deploying and running dev_appserver by using the new build/appengine_deploy.py and build/appengine_dev_server.py modules, which take a list of required files/directories for deployment and makes a temp directory with them in it.

(Now it only uses symlinks so for windows support we'll have to change those to copy instead of symli

[2015-08-21 21:25] #1246 closed

[2015-08-21 21:26] qyearsley opened #1312 "Vulcanize performance dashboard in catapult with py_vulcanize (tvcm)."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-07-09T01:45:25.000Z_
_Originally opened as http://crbug.com/508372_

---

This requires:
- Adding tvcm to catapult
- Verifying that it works with jinja templates.
- Making a script that vulcanizes each template in dashboard/templates before deploying, putting the vulcanized versions in some other director

[2015-08-21 21:28] fmeawad opened #1313 "[perf_insights] Adjust how perf_insights includes other catapult projects after a general fix was implemented"
#1246 was fixed, now we need to follow suite and implement it for perf_insights.

@natduca

[2015-08-21 21:56] natduca opened #1314 "Trace from polymer team loads but is empty"
This

https://drive.google.com/a/google.com/file/d/0B0THUw4v2YF2UE4xVXN6bUw4ZFk/view?usp=sharing

shows up as this
![image](https://cloud.githubusercontent.com/assets/412396/9419904/bd5622e0-4814-11e5-81c4-ef87f7b67bcc.png)

[2015-08-21 22:05] qyearsley commented on #1312
Note, tvcm is of course in catapult now, although it's currently in catapult/tracing/third_party and should probably be moved to catapult/third_party or somewhere else.

[2015-08-21 22:09] qyearsley opened #1315 "Make revision range selector show data for first selected trace, not just first trace in the legend."
**Issue by [rsch...@chromium.org](https://code.google.com/u/102170992385696224052/)**
_2013-10-03T21:36:27.000Z_
_Originally opened as http://crbug.com/303910_

---

Ex: https://chromeperf.appspot.com/report?masters=ChromiumWebRTC&amp;bots=chromium-webrtc-rel-7&amp;tests=webrtc_manual_browser_tests_test%2Fmemory%2Fws_final_r&amp;checked=ws_final_r&amp;start_rev=221875&amp;end_rev=226772

[2015-08-21 22:09] qyearsley commented on #1315
**Comment by [sulli...@chromium.org](https://code.google.com/u/117088883005658624950/)**
_2013-10-04T19:12:52.000Z_

----

What's actually happening here is that the revision range selector just shows the data for the first graph in the legend. So it's correct for that graph:

https://chromeperf.appspot.com/report?masters=ChromiumWebRTC&bots=chromium-webrtc-rel-7&tests=webrtc_manual_browser_tests_

[2015-08-21 22:09] qyearsley commented on #1315
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2013-11-26T00:43:18.000Z_

----

This also seems like a UI feature that would be nice. Should involve changing chart-container.html and chart-revision-range.html so that when the selection in the legend changes, the revision range minigraph also gets updated.

[2015-08-21 22:09] qyearsley commented on #1315
**Comment by [sulli...@chromium.org](https://code.google.com/u/117088883005658624950/)**
_2013-12-18T15:53:44.000Z_

----

[2015-08-21 22:09] qyearsley commented on #1315
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2014-07-15T00:58:49.000Z_

----

[2015-08-21 22:09] natduca commented on #1312
#1266 is related

[2015-08-21 22:11] #1295 closed

[2015-08-21 22:12] qyearsley opened #1316 "Embed page broken after graph_json.GetGraphJson changed."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-08-17T20:11:26.000Z_
_Originally opened as http://crbug.com/521756_

----

After graph_json was changed to support the new request format which is used after the launch of the new report page, the embed page needs to be updated in order to work.

The new GetGraphJson function signature is:

def GetGraphJs

[2015-08-21 22:13] qyearsley opened #1317 "Remove update_test_metadata.py."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-05-15T18:56:15.000Z_
_Originally opened as http://crbug.com/488607_

----

Now, after the work done to get test descriptions sent with test data in chartjson, update_test_metadata now only fetches unit-info.json from src/tools/perf.

Ideally we should first ensure that Buildbot is sending improvement dire

[2015-08-21 22:40] randomascii commented on #1307
Instead of fusing adjacent samples can we merge all matching samples? Assuming that these samples include call stacks we could have a hash table with the index being a call stack and the payload being either a count or a list of sample times.

If the leaf address varies too much then we could hash the stack not including the leaf address and have the payload be a list of addresses within the leaf

[2015-08-21 22:56] #1299 closed

[2015-08-21 22:56] natduca commented on #1314
@dj2 any ideas?

[2015-08-21 22:57] natduca commented on #1288
Yeah. I'm not sure what the limitation is that makes it hard to call the reporter directly. Is the issue the interleaving or...?

[2015-08-21 23:06] natduca opened #1318 "html value and results system uses wrong naming convention: run_info, all_values"
I used the python convention in error.

[2015-08-21 23:33] #1288 closed

[2015-08-21 23:34] #1296 closed

[2015-08-23 17:50] qyearsley opened #1319 "Page scrolls to top when chart tooltip closed when there's a warning set on the page."
To reproduce:
1. Go to a page with charts that has enough charts so that the page scrolls vertically.
2. Open and close a tooltip either by hovering or clicking on a point and hovering past or clicking outside.

Example pages:
 - https://chromeperf.appspot.com/report?sid=49bb76ee6ff0d492f8af29a0ca880e6c09351f171c08c72e14279e8aca7e7219
 - https://chromeperf.appspot.com/group_report?bug_id=517502

N

[2015-08-23 18:50] fmeawad commented on #1305
Originally the project was using get_default_gcs_bucket_name, but when I migrated the project from deep reports to perf_insights, there was no easy way to import the default bucket for that project.
So I decided to decouple the bucket and the appengine.

I will look into how to make a decoupled bucket work as the default one for a project or allow for configuring the bucket name in a different way

[2015-08-23 19:34] anniesullie commented on #1305
Maybe we could configure this in the deploy script somehow? @qyearsley

[2015-08-24 12:06] rmcilroy opened #1320 "Using ASYNC_NESTABLE seems to cause trace events to be written with the wrong category"
https://code.google.com/p/chromium/issues/detail?id=504656

 - I have no idea what was going on with the begin event having the
worker.scheduler category and the end event having the renderer.scheduler
event - as far as I can see there would be no way for this to happen unless
there was a bug in the trace_event code somewhere (it went away when I
moved back to ASYNC_STEP_INTO trace events).

To re

[2015-08-24 12:09] rmcilroy opened #1321 "Trace viewer doesn't seem to show nesting correctly when ASYNC_NESTABLE trace events have different names at the same level"
Taken from https://code.google.com/p/chromium/issues/detail?id=504656.

  - When I nested different trace event name at the same nesting level
(e.g., "ShortIdlePeriod" or "LongIdlePeriod" being nested at the same level
below "RendererIdlePeriod" at different times) trace-viewer seemed to get
confused and looses track of what events are nested under what other events
(leading to crazy nesting like

[2015-08-24 12:36] petrcermak commented on #1311
The current intended behavior is as follows:

1. **Disabled selection** (<tt>table.supportsSelection = false</tt>): no hover highlight
2. **Enabled selection** (<tt>table.supportsSelection = true</tt>):
  1. **Row selection mode** (<tt>table.cellSelectionMode = false</tt>): row hover highlight
  2. **Cell selection mode** (<tt>table.cellSelectionMode = true</tt>):
    1. **Disabled row highlight**

[2015-08-24 13:54] petrcermak opened #1322 "MemoryInfra: sorting order of columns in trace-viewer is not stable"
_[Reported by @primiano at http://crbug.com/522111]_

Background context:go/memory-infra: memory profiling in chrome://tracing

columns seem to get reshuffled from times to time, a bit confusing :/

[2015-08-24 14:09] petrcermak opened #1323 "MemoryInfra: fix tracing resident memory discounting in trace-viewer"
_[Reported by @primiano at http://crbug.com/522105]_

Background context:go/memory-infra: memory profiling in chrome://tracing

Right now the tracing resident size is discounted from mmaps under the "Total" node (i.e. "Discounted tracing overhead" is a sibling of "Android" and "native heap"). This is slightly wrong. It should be discounted from "Native Heap", so it should be moved one level deeper

[2015-08-24 14:39] anniesullie commented on #1317
@eakuefner - What do we need to do in order to get improvement direction sent to dashboard in chartjson?

[2015-08-24 14:45] petrcermak commented on #1322
This should now be **fixed**.

[2015-08-24 14:45] #1322 closed

[2015-08-24 16:24] eakuefner commented on #1317
Note: crbug.com/459450 is related to this.

This has been blocked in the past on the idea that we would make a type system for units, but I'm not sure we have bandwidth for that just yet. I think it should be fine to pick up the approach @anniesullie took in crrev.com/809393002 without any bikeshedding, and revisit the idea of a unit system later when we have a better idea of what it should look l

[2015-08-24 17:05] qyearsley commented on #1305
If this were configured in the deploy script, there are several ways to do it:
 1. The deploy script could write a plain config file (JSON or YAML) which is marked as static and [application_readable](http://stackoverflow.com/questions/2630205/read-a-file-on-app-engine-with-python) in app.yaml. Then upload.py can could read that file.
 2. Similarly, the deploy script could write a Python file whic

[2015-08-24 18:00] natduca commented on #1232
So this bug seems to be slow to progress. How can we make some specific next steps here to drive things forward?

[2015-08-24 18:01] natduca commented on #1258
Paul, any progress?

[2015-08-24 18:02] natduca commented on #1010
@philippebeaudoin what's the status if idle IR event finding?

[2015-08-24 18:10] natduca commented on #1009
Lets punt to Alpha, mark available, and come back to it when we are trying to show RAIL in our tools?

[2015-08-24 18:13] natduca commented on #1308
Its not so clear how to write tests for this, tbh. The bin/index.html file depends on an asset that isn't even checked in, so we'd need to autogenerate it before running a browser test on it. And, our current test running infrastructure doesn't really make it easy to just point a chrome at a url and then run it. We'd have to do nontrivial eng to make this work.

My preference here is that we simpl

[2015-08-24 18:15] vmpstr commented on #1232
That sounds good, I'll close this and file specific bugs that outline the steps needed for this.

[2015-08-24 18:15] #1232 closed

[2015-08-24 18:19] vmpstr opened #1324 "Implement a coverage report"
Coverage report should be similar to weather report, except it should report on the amount of associated events coverage (as provided by irCoverage)

[2015-08-24 18:19] natduca commented on #1311
It seems like my patch makes these orthogonal.... I don't think we have to go so far as to force highlighting.

[2015-08-24 18:20] vmpstr opened #1325 "Provide access to real traces corpus"
It would nice to be able to access at least a small set of real world traces, or if that's already possible to have some guidelines/docs on how to do this.

[2015-08-24 18:21] vmpstr commented on #1325
@natduca, do you know if this is possible already? Or who would be a good person to look into this?

[2015-08-24 18:22] vmpstr opened #1326 "Find low coverage traces"
Need to find traces that yield a low irCoverage and figure out why.

[2015-08-24 18:22] natduca commented on #1325
#1234 is I think what we want here...

[2015-08-24 18:23] vmpstr commented on #1326
This depends on #1325 and #1324

[2015-08-24 18:31] petrcermak commented on #1311
OK, so you're suggesting that there should be no row highlighting at all by default (even in row selection mode)?

What about cell highlighting? Would it always be enabled in cell selection mode and disabled otherwise (or would there be a separate flag as well)?

[2015-08-24 18:39] natduca commented on #1311
I guess so. I'm just trying to find orthogonal pieces here and call them that.

The cell highlight sounds like a separate feature. If you look at your tree, the row behavior is actually separable as long as when selection is disabled, we've got .

I do btw think that the way we've implemented hovering is impacting maintainability: we have this all done with css :hover and crazy selectors. I think

[2015-08-24 18:46] qyearsley commented on #1319
@chrisphn

One possible first step to eliminate the possibility of Polymer being an issue: deploy a version with Polymer 0.5.0 by updating third_party/polymer/bower.json, running the deploy script and trying it out.

[2015-08-24 18:58] qyearsley opened #1327 "Any PERF=note annotations on commits should be available in the hover text of a dashboard alert"
**Issue by [nd...@chromium.org](https://code.google.com/u/102435256078839283966/)**
_2014-03-20T14:45:16.000Z_
_Originally opened as http://crbug.com/354441_

---

Suppose I land a patch to chrome or blink with the text
  PERF=This added a new page to page_cycler. Numbers are expected to get worse.

When a sheriff or anyone hovers the alert bubble in a graph, or hovers an alert in the table, the d

[2015-08-24 18:58] qyearsley commented on #1327
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2014-03-21T00:08:55.000Z_

----

Sounds potentially useful. As I understand it, the suggestion is: when a chart-tooltip gets shown, the JS in the tooltip would fetch CL descriptions for Chromium SVN revisions (the changelog) and display some text in the tooltip if it finds "PERF=".

Although, this might crea

[2015-08-24 18:58] qyearsley commented on #1327
**Comment by [tonyg@chromium.org](https://code.google.com/u/tonyg@chromium.org/)**
_2014-03-21T00:13:46.000Z_

----

Yeah, I think this would be super useful. People try to do this in an adhoc way all the time.

Quinten, once you click an alert, we start querying the log anyway right? So couldn't this strictly be done in JS or something after the log has loaded? It would be fine if the alert box e

[2015-08-24 18:58] qyearsley commented on #1327
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2014-03-21T00:26:35.000Z_

----

It is true that once you click an alert the dashboard front-end JS adds an iframe which loads the changelog -- after loading this changelog we could check if the contents of that iframe are there and then search for PERF=.

[2015-08-24 18:58] qyearsley commented on #1327
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2014-04-30T19:34:36.000Z_

----

Update:

First of all, a similar idea was mentioned by another developer today -- if they have a doubt that their CL might possibly cause a performance regression but they're not sure, they could also add a PERF=note annotation; hypothetically, apart from showing comments in

[2015-08-24 18:58] qyearsley commented on #1327
**Comment by [pasko@chromium.org](https://code.google.com/u/pasko@chromium.org/)**
_2015-04-29T14:05:14.000Z_

----

[2015-08-24 18:58] qyearsley commented on #1327
**Comment by [pasko@chromium.org](https://code.google.com/u/pasko@chromium.org/)**
_2015-04-29T14:08:10.000Z_

----

We have discussion about a similar feature in issue 481783, but the usecase would rather be "the perfbot requests an annotation", not a commit. Can this be unified?

[2015-08-24 18:58] qyearsley commented on #1327
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-04-30T00:49:10.000Z_

----

I do think adding annotations/comments to charts upon explicit request (from a bot or human) (issue 454988) would serve much of the same function that this feature would serve, but they're different potential features -- maybe later on it will be possible to add this feature

[2015-08-24 18:58] qyearsley commented on #1327
**Comment by [pasko@chromium.org](https://code.google.com/u/pasko@chromium.org/)**
_2015-04-30T11:53:29.000Z_

----

re #7: it you think unifying does not make it overall easier, up to you, let's keep it separate

[2015-08-24 19:03] vmpstr opened #1328 "Empty results page causes an error."
I'm not sure if maybe I did something wrong, but it seems that if there are no sliceCosts, then I get the following error on the report (coverage_report.html is basically the same as weather_report.html at this point):

Something is wrong

TypeError: Cannot read property 'length' of undefined
    at tr-ui-b-table.Polymer.generateTableRowNodes_ (http://localhost:8003/tracing/ui/base/table.html:501:

[2015-08-24 19:04] natduca commented on #1328
Can you share a cl that repros this?

[2015-08-24 19:05] #1318 closed

[2015-08-24 19:06] qyearsley commented on #1327
Next step to implement this is to expand chart-tooltip so that: When a new tooltip is opened, it should make a request to `https://chromium.googlesource.com/chromium/src/+/<commit-hash>` to fetch the commit description, and look for PERF=. If there is something there it can add it to the tooltip.

It might be a bit faster to fetch content from gitiles if one appends `?format=TEXT` which returns ba

[2015-08-24 19:07] qyearsley opened #1329 "De-jinjafy: Add a handler to fetch revision_info, and fetch revision_info with an XHR."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-08-13T17:48:40.000Z_
_Originally opened as http://crbug.com/520601_

----

Currently, the dashboard embeds most data on the page using jinja. This has the advantage of being relatively fast and simple.

However, in order to make it easier to test with real data from a local instance of the perf dashboard,

[2015-08-24 19:09] qyearsley opened #1330 "migrate_test_names alerting mail address should be configurable."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-05-15T04:39:17.000Z_
_Originally opened as http://crbug.com/488342_

----

When migrate_test_names completes, it sends a mail to chrome-perf-dashboard-alerts@google.com.

This is also the address used for appmon alerts which are sent when request rate exceeds the threshold, etc.

migrate_test_names could

[2015-08-24 19:10] qyearsley opened #1331 "App ID and hostname should be configurable."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-05-15T04:11:23.000Z_
_Originally opened as http://crbug.com/488338_

----

The string &quot;chromeperf&quot; is hard-coded in several places in the perf dashboard code, e.g. in:

load_graph_from_prod.py
email_template.py
auto_triage.py
bench_find_anomalies.py

The staging server hostname also shouldn't be

[2015-08-24 19:12] qyearsley opened #1332 "Perf dashboard: Save y-zoom state in the URL."
**Issue by [nd...@chromium.org](https://code.google.com/u/102435256078839283966/)**
_2014-11-14T07:53:08.000Z_
_Originally opened as http://crbug.com/433185_

---

I keep having to open new tabs to have different charts up because so many state transitions don't work in the UI. But, Y zoom keeps getting lost. When I zoom in, then copy the URL and paste it, zoom state goes away.

The real bug may b

[2015-08-24 19:12] qyearsley commented on #1332
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2014-11-21T20:01:47.000Z_

----

Sounds potentially useful; this would be an improvement.

The relevant code is in dashboard/elements/chart-container.html, in the onPlotClick method, where the y-axis is changed. The URL/history would have to be updated there, and the intialization of the chart would also hav

[2015-08-24 19:15] qyearsley opened #1333 "Charts should be able to change order on /report page"
**Issue by [chrisp...@chromium.org](https://code.google.com/u/109509802684846018332/)**
_2015-05-18T18:40:20.000Z_
_Originally opened as http://crbug.com/489358_

---

Charts on report page can change order either by drag/drop or move up/down button.

[2015-08-24 19:15] qyearsley commented on #1333
@chrisphn

[2015-08-24 19:19] natduca commented on #1302
Implement histogramish object & value system

[2015-08-24 19:20] natduca opened #1334 "Implement histogramish object and integrate it with value system"

[2015-08-24 19:20] #1302 closed

[2015-08-24 19:20] natduca commented on #1291
Duping to implement histogramish object & value system, #1334

[2015-08-24 19:20] #1291 closed

[2015-08-24 19:50] natduca opened #1335 "Create rail_report"
Should pull rail scoring from weather report and display it:
- weather_report: error bar + rail report + slice costs report

[2015-08-24 19:51] anniesullie opened #1336 "Need to clean up .pyc files on each build"
https://codereview.chromium.org/1309923002/ passed the CQ and broke the build:

I checked with infra team, and it looks like we do need to have some kind of step on our buildbots that does this before running tests. They linked me to some sample code:

https://chromium.googlesource.com/infra/infra/+/master/test.py
https://chromium.googlesource.com/infra/infra/+/master/bootstrap/remove_orphaned_pyc

[2015-08-24 19:53] natduca opened #1337 "Pull MVP pieces together into a PI Demo"
The plan:
https://docs.google.com/document/d/1mX743HJELD7JmCpAYtkDYiL0Fc4rWOWVjiZJYhrI4_s/edit#heading=h.b27l48qaofqa

[2015-08-24 20:05] vmpstr commented on #1328
https://codereview.chromium.org/1309203003 this is enough for me to get an error

[2015-08-24 20:13] eakuefner opened #1338 "load_from_prod is broken"
@qyearsley @anniesullie

load_from_prod broke because the app ID changed (it's now 'None' instead of 'auto'), but then I realized reading the comment about app_identity that it's correct to call app_identity.get_application_id(), but you have to preface it with 'dev~' which is a namespacing thing (it appears that the partition will always be 'dev~' on the dev server)

Fix incoming.

[2015-08-24 20:35] wangzhen127 opened #1339 "Move systrace from Android to Catapult"
Doc:
[systrace & adb_profile_chrome Directory Layout in Catapult] (https://docs.google.com/document/d/1OMQ6xx076TdWimommJvrgyh3mLn5CqcihILrKWmCI0I/edit?usp=sharing)

[2015-08-24 20:39] natduca commented on #1328
Fix upcoming ... https://codereview.chromium.org/1314493004

[2015-08-24 20:49] qyearsley commented on #1338
Thanks Ethan!

[2015-08-24 20:51] natduca commented on #1337
#1258 may be useful

[2015-08-24 20:53] dj2 commented on #1337
Also needs #1335 for the rail report.

[2015-08-24 20:56] #1328 closed

[2015-08-24 21:01] qyearsley opened #1340 "Range selection cursor icon shifted left ~100px"
**Issue by [sulli...@chromium.org](https://code.google.com/u/117088883005658624950/)**
_2015-08-10T14:09:34.000Z_
_Originally opened as http://crbug.com/518841_

----

To reproduce:
1) Open a group_report page, like this one: https://chromeperf.appspot.com/group_report?bug_id=509618
2) Hover the cursor over the range selection widget under the graph

Observe that ~100px left of the start of the cu

[2015-08-24 21:01] qyearsley commented on #1340
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-08-10T16:54:15.000Z_

----

I'm also seeing this, but I'm not sure why it happens yet. I don't remember seeing this before last week.

Chris, would you like to look into this?

[2015-08-24 21:01] qyearsley commented on #1340
**Comment by [chrisp...@chromium.org](https://code.google.com/u/109509802684846018332/)**
_2015-08-10T17:28:23.000Z_

----

Sure

[2015-08-24 21:01] qyearsley commented on #1340
**Comment by [rsch...@chromium.org](https://code.google.com/u/102170992385696224052/)**
_2015-08-12T00:13:28.000Z_

----

I'm also seeing this, FWIW.

[2015-08-24 21:06] dj2 commented on #1314
What version of chrome? Loading with ToT trace-viewer seems to work correctly for me.

[2015-08-24 21:10] qyearsley opened #1341 "Make MultipartEntity and related models subclasses of InternalOnlyModel."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-07-09T04:18:33.000Z_
_Originally opened as http://crbug.com/508390_

----

For internal-only data stored with stored_object (or layered_cache), we're currently relying on the fact that non-admins should have no way of querying these entities, so they won't query for an internal-only data.

To add more pro

[2015-08-24 21:12] natduca commented on #1314
I tried on osx, 44.0.2403.155 stable and 46.0.2489.0 canary

[2015-08-24 21:23] qyearsley opened #1342 "On load, automatically populate selection menus in /report page for the first chart"
**Issue by [chrisp...@chromium.org](https://code.google.com/u/109509802684846018332/)**
_2015-08-14T22:44:05.000Z_
_Originally opened as http://crbug.com/521175_

----

It would be nice for the selection menu to contain the last added test.

We also get URL like below, which selection menu can fill in the test suite, master and bot.

https://chromeperf.appspot.com/report?masters=ChromiumFYI&amp;bo

[2015-08-24 21:25] qyearsley opened #1343 "Make MultipartEntity and related models subclasses of InternalOnlyModel."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-07-09T04:18:33.000Z_
_Originally opened as http://crbug.com/508390_

----

For internal-only data stored with stored_object (or layered_cache), we're currently relying on the fact that non-admins should have no way of querying these entities, so they won't query for an internal-only data.

To add more pro

[2015-08-24 21:34] qyearsley opened #1344 "Chromeperf dashboard UI: Y axis label covers axis tick values"
**Issue by [primi...@chromium.org](https://code.google.com/u/109349271600817121881/)**
_2015-08-17T17:20:42.000Z_
_Originally opened as http://crbug.com/521664_

---

Small UI bug on chromeperf dashboards
See https://chromeperf.appspot.com/report?sid=8f760abd50fdfad2206ba581542ca91d724139e062facf9e081388cbafac7c5a

The text &quot;bytes (lower is better)&quot; partially covers with the actual numbe

[2015-08-24 21:34] qyearsley opened #1345 "On the alerts page, the quick-log element requests "auto_triage/undefined"."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-08-17T23:56:28.000Z_
_Originally opened as http://crbug.com/521829_

----

Just noticed in the dashboard logs:

  /get_logs:  Log name auto_triage/undefined does not exist.

The auto_triage log entries are filed under namespace = &quot;auto_triage&quot;, where the log name is the sheriff name. It appears

[2015-08-24 21:42] qyearsley opened #1346 "Improve test coverage to > 90% of lines for back-end code."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-01-09T01:19:07.000Z_
_Originally opened as http://crbug.com/447432_

----

Specific goals:
 - I'd like there to be no modules with &lt; 90% coverage
 - Anything that appears could be risky if it fails should be covered.
 - Any new test methods should be clear and readable.

(This test should be marked fix

[2015-08-24 21:45] qyearsley commented on #1346
Related note: I'd like to add a code coverage check in catapult/dashboard/bin/run_tests so that it:
 1. Fails if the overall coverage is lower than some threshold
 2. Gives a link to a HTML file showing coverage for the tests that were just run (may be useful when developing locally)

[2015-08-24 21:52] qyearsley opened #1347 "Get coverage information when running dashboard unit tests."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-07-14T17:01:40.000Z_
_Originally opened as http://crbug.com/510085_

----

Current, dashboard gets awesome coverage for free from using the google internal infrastructure. After migrating to catapult, we want to continue making sure that we're aware of test coverage and we have any easy way to check up on

[2015-08-24 21:54] qyearsley commented on #1347
Something that could be possibly changed: add a code coverage check in catapult/dashboard/bin/run_tests that:
 1. Fails if the overall coverage is lower than some threshold
 2. Gives a link to a HTML file showing coverage for the tests that were just run (may be useful when developing locally)

[2015-08-24 21:54] qyearsley opened #1348 "Refactor chart-container showTooltip method and move most of the logic to chart-tooltip."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-07-10T17:43:19.000Z_
_Originally opened as http://crbug.com/508991_

----

The method showTooltip is 100 lines long, and most of the logic belongs in chart-tooltip. The method resetTooltip should also be a method of the chart-tooltip element.

[2015-08-24 21:59] qyearsley opened #1349 "Add error handling for graph_json request"
**Issue by [chrisp...@chromium.org](https://code.google.com/u/109509802684846018332/)**
_2015-07-17T06:02:57.000Z_
_Originally opened as http://crbug.com/511079_

----

We've seen a lot of errors from making request to /graph_json handler, e.g., malformed parameters, deprecated tests and internal errors.  ATM we don't load any graphs.  We should update UI on error to inform users.

[2015-08-24 21:59] qyearsley commented on #1349
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-07-17T16:09:40.000Z_

----

Agreed. Specifically:

1. Currently graph_json does do some validation of the arguments; if they don't pass that validation then /graph_json responds with the non-JSON text "Bad Graph JSON Request".

2. If something else goes wrong, it's generally ignored, and some kind of re

[2015-08-24 22:01] qyearsley opened #1350 "Dashboard does not update bugs associated with recipe bisect jobs."
**Issue by [robert...@chromium.org](https://code.google.com/u/114810703796781371055/)**
_2015-06-10T20:25:32.000Z_
_Originally opened as http://crbug.com/498972_

----

The bugs associated with bisect jobs launched with the 'use recipe' option do not get updated when the jobs complete whether successful or not.

[2015-08-24 22:10] qyearsley opened #1351 "Tests may not be saved/re-put after editing sheriffed tests."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2014-12-17T16:37:14.000Z_
_Originally opened as http://crbug.com/443215_

----

For both Chromium Perf Sheriff and V8 Perf Sheriff, some tests have remained marked as monitored even though the list of monitored tests was changed at /edit_sheriffs. In both of these cases, the list of monitored tests was fixed w

[2015-08-24 22:10] qyearsley commented on #1351
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-01-06T01:02:41.000Z_

----

One possible change that might be made to edit_sheriffs which would help in some cases but probably wouldn't solve the underlying problem:

Upon editing a Sheriff (upon submitting the form at /edit_sheriffs), re-put all Test entities for the Sheriff even if they aren't being

[2015-08-24 22:11] qyearsley opened #1352 "Multiple (duplicate) bugs filed on issue tracker sometimes."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-04-08T20:13:19.000Z_
_Originally opened as http://crbug.com/475177_

---

Sometimes, when a sheriff files a bug from the perf dashboard, multiple bugs get created and the alert gets associated with the later bug number.

Example:
  bug 474381
  bug 474382

[2015-08-24 22:11] qyearsley commented on #1352
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-07-06T15:25:59.000Z_

----

This has been happening for a long time (at least 6 months, probably more) at a low rate (~1%, sometimes less or more) and it has been easy to work around, but is confusing when one encounters it the first time.

To investigate later, we may want to look at the logs for /file

[2015-08-24 22:48] tednakamura opened #1353 "Feature Request: Add comments to alerts"
(This was originally filed in http://crbug.com/338045, but I'm refiling this request here per the latest comment/bulk edit.)

tl;dr - in the perf dashboard, it would be useful to be able to add a comment that explains why you flagged an alert as invalid or ignored.

[2015-08-25 01:03] natduca opened #1354 "units module is in tracing/base for non-ui but tracing/ui/units for ui"
Should converge to something coherent.

[2015-08-25 01:33] dj2 commented on #1354
Should probably move the base stuff to base/units and leave the UI stuff at ui/units.

[2015-08-25 02:00] natduca commented on #1057
This is blocking PI

[2015-08-25 02:09] natduca commented on #1354
I think probably tracing/units would be best matched to ui/units

the two options that are consistent are

- tracing/units and tracing/ui/units
- tracing/base/units and tracing/ui/base/units

[2015-08-25 06:02] chrisphn commented on #1319
Hm, can't reproduce ATM.

[2015-08-25 06:08] #1338 closed

[2015-08-25 07:25] natduca opened #1355 "gjslint line numbers are wrong in presubmit warnings"
When you make a presubmit error in an html file, the line numbers are typically 4 lines off. I suspect its not including the html lines in the error reporting... but, I think this once worked...

[2015-08-25 09:41] petrcermak commented on #1323
This should now be **fixed**.

[2015-08-25 09:41] #1323 closed

[2015-08-25 10:25] petrcermak commented on #1311
How about we had three enums:

  1. Selection mode: <tt>NONE</tt>, <tt>ROW</tt>, <tt>CELL</tt> (this would be easy to extend with options like <tt>MULTI_ROW</tt> in the future).
  2. Row highlight: <tt>DEFAULT</tt> (depending on selection mode), <tt>NONE</tt>, <tt>LIGHT</tt>, <tt>DARK</tt>.
  3. Cell highlight: <tt>DEFAULT</tt> (depending on selection mode), <tt>NONE</tt>, <tt>DARK</tt>.

Where <t

[2015-08-25 11:17] petrcermak opened #1356 "Focus issues in chrome://tracing"
_[Reported at http://crbug.com/522911]_

**What steps will reproduce the problem?**
1.Lunch chrome,navigate to chrome://tracing.
2.Press 'Tab' key and observe.

Unnecessary focus is seen on header part of chrome://tracing.

Unnecessary focus should not seen.

[2015-08-25 11:23] petrcermak commented on #1356
The **focus behavior is quite broken** at the moment. Here's another problem:

  1. Go to chrome://tracing
  2. Press Tab multiple times until the search input box is focused (6 times on the current Chrome Stable)
  3. Press Tab one more time

Expected behavior: The left arrow button next to the search input box should be focused.
Actual behavior: Nothing is focused. Moreover, pressing Shift+Tab (

[2015-08-25 14:04] zeptonaut commented on #1308
SGTM. Closing as "won't fix"

[2015-08-25 14:04] #1308 closed

[2015-08-25 14:20] zeptonaut commented on #2
After chatting with @anniesullie about this yesterday, it sounds like we could do this in a few logical steps:

1. Fetch the version number of Chrome stable from Omahaproxy
2. Fetch the version number of v8 that corresponds to Chrome stable from Omahaproxy
3. Clone the v8 git repository with a git tag matching the version number that we just fetched
4. Build v8 using `depot_tools`. This will requi

[2015-08-25 14:26] zeptonaut commented on #1195
Gah. I'm unable to repro this anymore. I'll close this for now.

[2015-08-25 14:26] #1195 closed

[2015-08-25 14:28] zeptonaut commented on #1172
Just wanted to chime in and say that I definitely agree. I think this is something that's valuable to have for now to help onboard people, and to help bring to light competing approaches. I think that "there are multiple ways to do this" is a perfectly acceptable resolution for now, though, given much the team has on its plate.

[2015-08-25 14:28] anniesullie commented on #1347
Could also upload coverage % to perf dashboard ;)

[2015-08-25 14:29] zeptonaut commented on #1142
I'm closing this now, as the style guide helped bring to light the fact that this isn't an agreed-upon subject.

[2015-08-25 14:29] #1142 closed

[2015-08-25 14:31] zeptonaut commented on #1128
(Still haven't started work on this)

[2015-08-25 16:26] qyearsley opened #1357 "Missing stdio link on ChromiumPerf/linux-release/page_cycler.intl_ja_zh/... points."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-08-14T20:21:36.000Z_
_Originally opened as http://crbug.com/521104_

----

See:
https://chromeperf.appspot.com/group_report?bug_id=517531

There is no a_stdio_uri annotation in the JSON returned by /graph_json.

When I open that page and enter the following in the JS console:

  $('chart-container')[0].js

[2015-08-25 16:28] eakuefner opened #1358 "Dashboard dev server runner should forward args"
I'd like to be able to pass args to dashboard/bin/dev_server while hacking. The big one is --clear_datastore=yes, but the App Engine documentation is full of such arguments that may come in handy in the future.

[2015-08-25 16:31] qyearsley opened #1359 "Use API keys instead of whitelist for /add_point."
Implementation notes:
- Using API keys requires creating a new backend endpoint API in app engine. The new API  would have just one method add_point, the client just has to send in the API key with the request. See: https://cloud.google.com/appengine/docs/python/endpoints/
- API key has to be generated in the developers console - you can limit API keys to certain user agents or IP’s however it is

[2015-08-25 16:46] #1358 closed

[2015-08-25 18:10] natduca commented on #1311
I tried to fix this but I can't understand the code and the constraints. Petr, can you please drive this?

[2015-08-25 18:11] petrcermak commented on #1311
I should be able to get to it in a few days if it's not super-urgent.

[2015-08-25 18:12] natduca commented on #1311
I'm going on vacation so anytime before I get back would be cool :)

[2015-08-25 18:13] petrcermak commented on #1311
That should be fine :wink:

[2015-08-25 19:33] qyearsley commented on #1355
I noticed this too before, using some version of closure-linter that's not in our third_party directory.

I just tried this
[code]
and it correctly identified line 7, in the catapult presubmit with our version of closure linter, so I think it's probably also including the HTML lines. I think next time a case is observed an issue could be filed at https://github.com/google/closure-linter/issues.

[2015-08-25 19:49] qyearsley opened #1360 "CSS ::shadow pseudo-selector should not be used."
Background: in order to change CSS style attributes of elements inside a shadow DOM from the outside, the ::shadow pseudo-element and /deep/ combinator could be used. This made it possible to change the appearance of Polymer elements even when the elements themselves didn't provide any attributes which could be used to customize apperance.

But, ::shadow and /deep/ are deprecated, and removed in t

[2015-08-25 20:02] qyearsley opened #1361 "Alert icons are positioned incorrectly in some dashboard graphs."
To reproduce:
 1. Go to:
https://chromeperf.appspot.com/report?sid=46732e1584510b513e67f111cb7bdb1e1606e1221242b68ea6ae450dd9acb7b1&start_rev=248226&end_rev=298177
 2. See:
![screenshot from 2015-08-25 12 57 57](https://cloud.githubusercontent.com/assets/3926653/9477830/fe693f4e-4b28-11e5-891c-c478809a53c3.png)

Alert icons are also positioned incorrectly after changing the revision range, but do

[2015-08-25 20:04] qyearsley opened #1362 "Cannot scroll horizontally all the way on alerts page."
**Issue by [robert...@chromium.org](https://code.google.com/u/114810703796781371055/)**
_2015-06-22T20:25:32.000Z_
_Originally opened as http://crbug.com/503254_

----

When my browser is sized below a certain width (around one third of my screen approx.) I cannot scroll horizontally far enough to the left to see the graph links, same thing happens when scrolling right. This happens at least on Ch

[2015-08-25 20:04] qyearsley commented on #1362
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-06-22T21:07:34.000Z_

----

I noticed this too on my chromebook, when one of the test names is long, the alerts table is too wide. Looks like the alerts table should have a max-width, and we should make sure the long test names get truncated appropriately when they can't fit.

[2015-08-25 20:06] qyearsley commented on #1362
To reproduce:
 1. Go to https://chromeperf.appspot.com/alerts
 2. Resize the browser window to be very thin (< 400 px)
 3. Observe that the check-boxes on the left are cut off.

[2015-08-25 20:09] natduca commented on #1355
Okie! I'll close this and reopen if I find a repro.

[2015-08-25 20:09] #1355 closed

[2015-08-25 20:17] natduca opened #1363 "Update teampage on how to write a report & a mapper"
Could be a wiki page or something off our internal sites page

@philippebeaudoin

[2015-08-25 20:45] fmeawad commented on #1304
+ @dj2

[2015-08-25 20:47] fmeawad commented on #1304
This would require enabling v8.cpu_profile (disabled-by-default), I will do an experiment to see how that affects the size and if it is still OK for the upload.

If it makes the trace file too bug, we can enable it on fast connections only.

[2015-08-25 20:47] dj2 commented on #1304
I think we want this on for all customers. If the file is too big we'll need to investigate how we can make the format more compact.

[2015-08-25 20:58] chiniforooshan commented on #1304
What is considered too big? If I remember correctly, it increases the trace file size roughly by a factor of 10.

[2015-08-25 21:42] qyearsley opened #1364 "Test-picker positioning changed in new versions of Chrome"
On version 46.0.2490.4 at https://chromeperf.appspot.com/report:
![image](https://cloud.githubusercontent.com/assets/3926653/9480333/4fef110a-4b37-11e5-9473-7d634d85ad01.png)

On version 44.0.2403.157 at https://chromeperf.appspot.com/report:
![image](https://cloud.githubusercontent.com/assets/3926653/9480338/622c7b64-4b37-11e5-8dcc-54233b9b84fb.png)

Still haven't confirmed whether this is consid

[2015-08-25 22:00] fmeawad commented on #1304
I have a magic number of 2MB on fast connections and 500KB and 2G. (Compressed for a 30s trace).

[2015-08-26 00:41] Apeliotes opened #1365 "Setup basic unittest on android catapult waterfall."
Steps:

1) Create a unittest in Catapult to run on the Android waterfall.
(One test that passes with a trivial assert and one that fails with a trivial assert to make sure things are setup correctly?)

2) Get said test running on the Catapult Waterfall.
Devices have been setup in crbug.com/505859, and instructions for accessing them are available at https://chrome-internal.googlesource.com/infra/i

[2015-08-26 00:53] dave-2 opened #1366 "Display unit scaling"
I have traces on the order of hours or days, and thus the ruler at the top has ticks every "500000s," and I have events with wall times like "10,229,600.104 ms." It would be helpful to either:

1. Automatically scale the display units (to minutes, hours, days) with the size of the number, or
2. Allow trace data to manually express the scale(s) of the trace or trace events. (Maybe this would be rel

[2015-08-26 00:54] fmeawad commented on #1366
Go for it.

[2015-08-26 01:06] philippebeaudoin opened #1367 "Add test coverage for histogram merge."

[2015-08-26 01:09] philippebeaudoin opened #1368 "Clean up column control in task_info_report.html"
The current COLUMN_INFOS is used to share information between the table creation and the click handler, but makes the entire thing hard to understand. There must be a clearer way to do that.

[2015-08-26 07:21] #1335 closed

[2015-08-26 10:07] petrcermak commented on #849
On a second thought, it's probably a good idea to mark this fixed as @natduca suggested and track more the more advanced features in separate tracking bugs so I'm closing this.

[2015-08-26 10:07] #849 closed

[2015-08-26 10:11] petrcermak opened #1369 "Memory Dump Multi-Selection Analysis Sub-Views"
_[Broken out from #849 to make it easier to track progress on this]_

The next big thing coming to the Trace Viewer memory UI are **multi-selection** analysis sub-views. Here's a mock UI:

  ![diff_mock](https://cloud.githubusercontent.com/assets/2546601/8235880/8d4f5fa4-15dc-11e5-8d84-347c24cc6c8e.png)

[2015-08-26 11:46] petrcermak opened #1370 "Incorrect indentation in the first row if it's expandable when headers are hidden"
A picture is worth a thousand words:

**With header**
![with_header](https://cloud.githubusercontent.com/assets/2546601/9492512/34061448-4bf0-11e5-81bc-c857aef590b5.png)

**Without header** (issue shown in pink)
![without_header](https://cloud.githubusercontent.com/assets/2546601/9492546/6e22c41e-4bf0-11e5-9cc2-31c1d33d1864.png)

[2015-08-26 11:49] petrcermak commented on #1370
The issue is that if there are no headers, column sizes are applied to the first body row. Commenting out the following line in <tt>tr.ui.b.table.prototype.applySizes_</tt> fixes the issue (but will almost certainly break other cases):

[code]

[2015-08-26 12:00] petrcermak opened #1371 "Scalar span cannot be underlined or used inline"
![screenshot from 2015-08-26 12 59 17](https://cloud.githubusercontent.com/assets/2546601/9492746/483a6d5e-4bf2-11e5-8114-187a499bc6c4.png)

@natduca: Could you please have a look at this since it's related to units, which you have touched recently?

[2015-08-26 14:59] anniesullie opened #1372 "Please migrate energy_consumption_mwh on ANDROID ONLY to application_energy_consumption_mwh"
See https://codereview.chromium.org/1220463002/ for background. Will need to migrate the following:
ChromiumPerf/android\*/\*/energy_consumption_mwh
ClankInternal/\*/\*/energy_consumption_mwh

I've already updated monitoring.

[2015-08-26 16:22] qyearsley opened #1373 "Bisect dialog box and tooltip is very small when opened on the bottom of the page"
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-06-24T21:16:15.000Z_
_Originally opened as http://crbug.com/504114_

----

I think that after cl/95576574 some of the dialog boxes now have variable height; might be a good idea to add a min-height so that they don't get too small.

[2015-08-26 16:22] qyearsley commented on #1373
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-08-26T16:21:46.000Z_

----

Issue 521109 has been merged into this issue.

[2015-08-26 16:26] qyearsley commented on #1373
Note: I tried setting a min-height on [chart-tooltip](https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/elements/chart-tooltip.html) but that didn't appear to solve the problem. This problem still might be solved by adjusting the CSS of something inside chart-tooltip, or by otherwise changing something about the paper-action-dialog inside chart-tooltip.

[2015-08-26 16:58] qyearsley commented on #1361
Observation: It looks like the horizontal position is correct, but the vertical position gets lower and lower the further to the right one goes in the graph. Maybe this affects all graphs but it's not noticeable if there's only one alert on the graph?

Another example:
https://chromeperf.appspot.com/report?sid=038aa5c424231faaa21a3bd42b96a9954ceafec9be5744a8ae1371bff4f6e803&rev=342488
![image](htt

[2015-08-26 17:00] zeptonaut commented on #841
Closing as will not fix. Anyone that's still interested in making this happen, please pipe up.

[2015-08-26 17:00] #841 closed

[2015-08-26 17:01] zeptonaut commented on #1103
Closing as duplicate of #1204

[2015-08-26 17:02] zeptonaut commented on #1204
Closing as duplicate of #1103

[2015-08-26 17:02] zeptonaut commented on #1103
On second thought, this bug was filed first - I'll edit this one to be the main bug

[2015-08-26 17:04] zeptonaut commented on #1103
This is closed as of 7880b39a60f4d2d038ebf5a9f2a726e97b98d98e

[2015-08-26 17:04] #1103 closed

[2015-08-26 17:04] #1204 closed

[2015-08-26 17:24] zeptonaut commented on #1172
I updated the doc some more - let me know if there's anything else that you think it needs before adding it to the CONTRIBUTING file and wiki page.

[2015-08-26 18:03] qyearsley commented on #1372
Migration job now started for the two sets of test paths listed above.

[2015-08-26 22:55] fmeawad commented on #1304
I have made an experiment to enable v8.cpu_profile category on deep reports and the trace size only doubled (which I can deal with) but the samples does not seem to be useful, as follow is a screen shot of the stack trace of "every" sample. Is there anything I am missing to make it work properly?

![screenshot from 2015-08-26 15 52 03](https://cloud.githubusercontent.com/assets/1760798/9508469/7df

[2015-08-26 22:55] fmeawad commented on #1304
@vinterstum

[2015-08-26 23:01] qyearsley commented on #1361
@chrisphn this is the issue I mentioned about alert icon positions -- another example is at http://crbug.com/525261.

[2015-08-26 23:07] qyearsley opened #1374 "Change dashboard "report a bug" button to file a new bug on github issue tracker."
The "report a bug" button currently still opens a bug template on crbug.com, and we want new issues to be filed with a link like:

https://github.com/catapult-project/catapult/issues/new?labels=Perf+Dashboard&body=Bug+template...

[2015-08-27 00:27] #1250 closed

[2015-08-27 02:02] dstockwell commented on #1248
Any thoughts on this one? It's preventing me from using my device on low battery for fear of polluting my data set.

[2015-08-27 02:03] fmeawad commented on #1248
I will look at it.

[2015-08-27 02:05] dj2 commented on #1304
You need ToT trace viewer. If you run the dev server and look at the trace you should see all the sampling information.

[2015-08-27 16:46] qyearsley opened #1375 "Keep track of alerts triaged by each user."
**Issue by [jeffgri...@chromium.org](https://code.google.com/u/102197112613496205360/)**
_2014-06-17T15:57:25.000Z_
_Originally opened as http://crbug.com/385658_

----

Create Google badges for people's who pages that they unlock after accomplishing various sheriffing achievements like triaging 100/1000/10000 alerts, filing 10/100/1000 bugs, etc.

[2015-08-27 16:46] qyearsley commented on #1375
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2014-07-12T01:06:31.000Z_

----

This would be pretty cool.

Currently the dashboard doesn't keep explicit track of who is the active sheriff for a sheriff rotation -- it just checks who the "current" sheriff is by reading from a particular URL before sending an email alert.

But, the dashboard can tell who'

[2015-08-27 16:46] qyearsley commented on #1375
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-04-08T19:50:58.000Z_

----

Note: A log could be kept of triage actions even without having User entities stored in the perf dashboard. One possible way to do this would be to add calls to QuickLogger.Log() in edit_anomalies.py, associate_alerts.py and file_bug.py.

[2015-08-27 17:17] qyearsley opened #1376 "file_bug sometimes fails to post a graph link."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-07-20T16:57:53.000Z_
_Originally opened as http://crbug.com/512062_

----

Example: bug 509622, bug 507418.

It's possible that the request handler is raising an error after it creates the bug but before it successfully makes the second request (to post the link).

Looking at the recent logs for file_bug,

[2015-08-27 17:22] tednakamura commented on #1340
I'm also seeing this. For possibly helpful reference, below are some screenshots that demonstrate the problem (sorry for the low quality).

![cursor1](https://cloud.githubusercontent.com/assets/9001650/9527671/51de400c-4ca5-11e5-874a-e6aa79f781f4.png)
![cursor2](https://cloud.githubusercontent.com/assets/9001650/9527675/54b2f2fa-4ca5-11e5-913b-23312dc16c5f.png)

[2015-08-27 18:03] qyearsley commented on #1360
Note, here's an example of what the "graph" icon looks like in newer versions of Chrome (since its size is not affected by any CSS rules which use ::shadow or /deep/.
![image](https://cloud.githubusercontent.com/assets/3926653/9528751/23b8ca02-4cab-11e5-9358-346bc6598e7e.png)

[2015-08-27 18:14] qyearsley opened #1377 "Error when viewing /alerts?triaged=true: unexepected None"
To reproduce, navigate to https://chromeperf.appspot.com/alerts?triaged=true
[code]
Related file: https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/alerts.py

[2015-08-27 18:59] petrcermak commented on #1050
Ruud is currently working on adding **heap profiling** to memory-infra ([design doc](https://docs.google.com/document/d/1xMbBA0w5UunhTzZkdUfFIS63nRNjU6PP3wd2vf1_Ca8/edit?usp=sharing)). Once it's there, memory-infra will most likely superseed the existing tcmalloc code, at which point we can drop it. The only question is if there are any people still using the tcmalloc code and whether Trace Viewer

[2015-08-27 19:03] petrcermak commented on #1089
This thread has been silent for quite a while. Have we reached a decision on this? If not, what's blocking us?

[2015-08-27 19:04] #859 closed

[2015-08-27 19:06] petrcermak commented on #1156
Any progress here?

[2015-08-27 19:07] petrcermak commented on #1156
What's the current state of this?

[2015-08-27 19:41] #1301 closed

[2015-08-27 19:46] philippebeaudoin opened #1378 "Allow histogram bins to link back to the object (trace or slice) that generated it."
There's already support in HistogramBin for sourceInfos that could link back to some of the elements that fall within that bin. Implement it in a way that is scalable, probably randomly sampling elements for bins that contain too many elements.

[2015-08-27 19:47] egonelbre commented on #1156
Unfortunately, no progress, I'm stuck with other projects at the moment and haven't gotten a chance to take a day to work on this. I suspect it needs a deep dive through the whole codebase and I don't want to do it in 1hour chunks.

[2015-08-27 20:14] fmeawad commented on #1248
Currently, AFAIK, such signal is not passed to chrome. The only thing we can do is extract the CPU frequency and store that as well. I filed a bug in chrome to start tracking that signal.

For now, to avoid polluting the dataset, if you can tag your traces, we can be careful while processing them.
You can use /upload?tags=PossiblyPowerSaver

I will stop working on it for now, maybe @vinterstum can

[2015-08-27 21:35] qyearsley opened #1379 "Allow for overriding test command on new bisects."
**Issue by [robert...@chromium.org](https://code.google.com/u/114810703796781371055/)**
_2015-05-11T21:06:54.000Z_
_Originally opened as http://crbug.com/486905_

----

Changing the bisect start form, to optionally specify a different command. Note that this will require a change to the start_try_job.py handler.

[2015-08-27 21:37] qyearsley opened #1380 "The report Issue menu (in the nav bar) is very Chrome-specific."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-05-18T20:41:13.000Z_
_Originally opened as http://crbug.com/489401_

----

Hypothetically, if some other group uses the dashboard code, they would want to remove or replace it.

It could potentially be refactored made more configurable or generalized.

[2015-08-27 21:43] qyearsley opened #1381 "Allow user to manually create alerts."
**Issue by [primi...@chromium.org](https://code.google.com/u/109349271600817121881/)**
_2015-07-22T13:38:54.000Z_
_Originally opened as http://crbug.com/512806_

---

For more context see the discussion

[chromium-dev] Perf dashboard: How to attach bugs when there is no exclamation mark?

It looks like there is no easy way to manually create an alert (exclamation mark) through the chromeperf dashb

[2015-08-27 21:43] qyearsley commented on #1381
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-07-22T16:02:46.000Z_

----

I don't think that feature existed. (Possibly related features: it's possible to nudge nearby alerts, and it's possible to start bisects if there's no alert.)

In any case, if an alert didn't fire and the series is monitored, then this is generally because the current alertin

[2015-08-27 21:44] qyearsley opened #1382 "Send only commit hashes to bisect."
**Issue by [robert...@chromium.org](https://code.google.com/u/114810703796781371055/)**
_2015-06-17T20:10:05.000Z_
_Originally opened as http://crbug.com/501503_

----

Dashboard should resolve commit positions to commit hashes before submitting jobs to the bisect systems to prevent them from using faulty assumptions to perform such resolution. (Such as trusting the first result of a `git log --gr

[2015-08-27 21:45] qyearsley opened #1383 "Dashboard does not show quicklog entries for buildbucket jobs."
**Issue by [robert...@chromium.org](https://code.google.com/u/114810703796781371055/)**
_2015-08-14T20:57:50.000Z_
_Originally opened as http://crbug.com/521119_

----

When the a bisect job using buildbucket(recipe version of bisect) no entry is added to the quicklog.

[2015-08-27 21:49] qyearsley opened #1384 "Add a sheriff triaging actions log (like the auto_triage log)."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2014-09-09T23:33:23.000Z_
_Originally opened as http://crbug.com/412590_

----

Problem:
  Currently, there's no way to see which sheriff has logged on and sheriffed which alert. So, for example, if multiple people are triaging alerts for a particular sheriff rotation, then there's no easy way for one person t

[2015-08-27 21:49] qyearsley commented on #1384
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-05-26T20:44:36.000Z_

----

Note: The skia perf dashboard has an excellent example of something like this: https://perf.skia.org/activitylog/

[2015-08-27 21:50] qyearsley opened #1385 "Change Polymer layout attributes to Flexbox CSS"
**Issue by [chrisp...@chromium.org](https://code.google.com/u/109509802684846018332/)**
_2015-07-27T20:38:49.000Z_
_Originally opened as http://crbug.com/514358_

----

Polymer 1.0 layout attribute was replaced by layout classes.  We'll just replace the layout attributes with Flexbox CSS instead.

[2015-08-27 22:11] qyearsley opened #1386 "Change bot select menu in test picker to single select."
**Issue by [rsch...@chromium.org](https://code.google.com/u/102170992385696224052/)**
_2015-08-12T00:09:20.000Z_
_Originally opened as http://crbug.com/519888_

----

1) Go to an existing graph, like https://chromeperf.appspot.com/report?sid=2f51aec6fe5a65204e5d83c67a1fa55febbe7f1893dbb52d0000f159eff44057&amp;start_rev=340408&amp;end_rev=342748
2) Close out all graphs.
3) Select the same test, lik

[2015-08-27 22:11] qyearsley commented on #1386
**Comment by [rsch...@chromium.org](https://code.google.com/u/102170992385696224052/)**
_2015-08-12T00:09:41.000Z_

----

Step 9 should read:

9) If you repeat #7 it works.

[2015-08-27 22:11] qyearsley commented on #1386
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-08-12T00:21:23.000Z_

----

I tried this once through and when I got to #6 it didn't work as expected the first time; then I edited the bot input box, tried again, and it worked.

I'm not sure, but I think it's possible that the issue here is that in the menus, sometimes it looks like an item is selecte

[2015-08-27 22:11] qyearsley commented on #1386
**Comment by [ashej...@chromium.org](https://code.google.com/u/111994778133113609445/)**
_2015-08-12T12:25:10.000Z_

----

[2015-08-27 22:11] qyearsley commented on #1386
**Comment by [sulli...@chromium.org](https://code.google.com/u/117088883005658624950/)**
_2015-08-12T12:37:29.000Z_

----

Chris, would this be simpler if we made the bots menu a single select? I've been having trouble using it too.

[2015-08-27 22:11] qyearsley commented on #1386
**Comment by [chrisp...@chromium.org](https://code.google.com/u/109509802684846018332/)**
_2015-08-12T23:43:56.000Z_

----

#2 yes that's a known behavior on my to do list.

I agree it would be simpler to just do single select.  I was trying to preserve the original behavior.

[2015-08-27 22:11] qyearsley commented on #1386
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-08-27T22:11:13.000Z_

----

[2015-08-27 22:15] qyearsley opened #1387 "Stoppage alerts may not always be marked as recovered when new points arrive for the test."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-06-02T23:18:50.000Z_
_Originally opened as http://crbug.com/495872_

----

When I look at and try to use the new stoppage alerts table, the first thing I wonder when looking at an alert is: &quot;Is the test running again, or is it still stopped?&quot; (i.e. should I do something about this now or not?)

[2015-08-27 22:15] qyearsley commented on #1387
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-06-12T17:07:02.000Z_

----

cl/95757487.

[2015-08-27 22:15] qyearsley commented on #1387
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-07-01T18:07:19.000Z_

----

Apparently not fixed, see bug 506165.

[2015-08-27 22:15] qyearsley commented on #1387
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-07-08T17:13:36.000Z_

----

A couple days ago I made a change to show the recovered status of the alert (in the bug ID field of each row, cl/97698885).

Now, it is clear that some of the recovered alerts are being marked as recovered but others are not: https://chromeperf.appspot.com/group_report?bug_id

[2015-08-27 22:15] qyearsley commented on #1387
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-08-27T22:14:55.000Z_

----

[2015-08-27 22:16] qyearsley opened #1388 "Cannot view sizes data (or: test suites dict includes subtests that don't exist for some bots)"
**Issue by [xunjieli@chromium.org](https://code.google.com/u/xunjieli@chromium.org/)**
_2015-08-13T20:43:13.000Z_
_Originally opened as http://crbug.com/520676_

----

Chrome version: 46.0.2481.0 (Mac)
URL: https://chromeperf.appspot.com/report?sid=f3b0d79813e4ef5f0f1bdc9cc0c7d5d4e37496c2c3d1ed937edd15e17fce4841&amp;rev=343258

Please copy and paste any errors from JavaScript console (Command+Opti

[2015-08-27 22:16] qyearsley commented on #1388
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-08-14T02:08:45.000Z_

----

Under ChromiumFYI/android_cronet_builder/sizes, there is data for cronet_sample_apk_libs_armeabi-v7a_libcronet.so but not Chromium.app (which makes sense, this is android not Mac).

So the data is actually on this chart:
https://chromeperf.appspot.com/report?sid=4a5b1927b2a2b

[2015-08-27 22:16] qyearsley commented on #1388
**Comment by [sulli...@chromium.org](https://code.google.com/u/117088883005658624950/)**
_2015-08-14T12:56:39.000Z_

----

Solution in comment 1 sgtm

[2015-08-27 22:16] qyearsley commented on #1388
**Comment by [xunjieli@chromium.org](https://code.google.com/u/xunjieli@chromium.org/)**
_2015-08-14T17:25:22.000Z_

----

Great to hear! Thanks for looking into this!

[2015-08-27 22:16] qyearsley commented on #1388
**Comment by [chrisp...@chromium.org](https://code.google.com/u/109509802684846018332/)**
_2015-08-14T22:31:15.000Z_

----

[2015-08-27 22:24] qyearsley opened #1389 "No summary series shown for some charts under smoothness.key_silk_cases."
**Issue by [nd...@chromium.org](https://code.google.com/u/102435256078839283966/)**
_2014-11-14T10:18:35.000Z_
_Originally opened as http://crbug.com/433226_

----

https://chromeperf.appspot.com/report?masters=ChromiumPerf&amp;bots=android-nexus4&amp;tests=smoothness.key_silk_cases%2Fframe_time_discrepancy&amp;checked=all

Why no average? I don't know if this is telemetry, dashboard, or what, but

[2015-08-27 22:24] qyearsley commented on #1389
**Comment by [nd...@chromium.org](https://code.google.com/u/102435256078839283966/)**
_2014-11-17T21:14:27.000Z_

----

@ernstm, @tonyg, any ideas? This is really urgent.

[2015-08-27 22:24] qyearsley commented on #1389
**Comment by [sulli...@chromium.org](https://code.google.com/u/117088883005658624950/)**
_2014-11-17T21:22:14.000Z_

----

qyearsley: If we switched to uploading chartjson, would we get an average automatically from the code in _FlattenTrace in add_point.py?

[2015-08-27 22:24] qyearsley commented on #1389
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2014-11-17T21:42:04.000Z_

----

I believe that it might, since usually with --chartjson in the output chart there's a key called "summary" which is a list of scalar values which will then be averaged and added as one point.

Last week when I looked at this, in the latest stdio there was no line that looked

[2015-08-27 22:24] qyearsley commented on #1389
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2014-11-25T00:40:56.000Z_

----

Issue 436200 has been merged into this issue.

[2015-08-27 22:24] qyearsley commented on #1389
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2014-11-25T00:44:24.000Z_

----

The summary metric in the graph linked to above is being shown again, but this issue isn't fixed yet; I'm pretty sure it's a dashboard problem.

Another case:

https://chromeperf.appspot.com/report?masters=ChromiumPerf&bots=android-nexus4&tests=thread_times.key_silk_cases%2Ft

[2015-08-27 22:24] qyearsley commented on #1389
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-07-09T02:09:09.000Z_

----

Issue 508313 has been merged into this issue.

[2015-08-27 22:24] qyearsley commented on #1389
**Comment by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2015-07-09T02:10:47.000Z_

----

[2015-08-27 22:24] qyearsley commented on #1389
**Comment by [d...@chromium.org](https://code.google.com/u/107564893673580469806/)**
_2015-07-09T20:37:21.000Z_

----

Strange, I checked today to see if the graph was showing up. The mean is showing up again but it is only showing data up to 2014-04-03:

https://chromeperf.appspot.com/report?masters=ChromiumPerf&bots=android-nexus5&tests=smoothness.key_silk_cases%2Fmean_frame_time&checked=mean_fr

[2015-08-27 22:24] qyearsley commented on #1389
**Comment by [d...@chromium.org](https://code.google.com/u/107564893673580469806/)**
_2015-07-09T20:39:06.000Z_

----

[2015-08-27 22:24] qyearsley commented on #1389
**Comment by [d...@chromium.org](https://code.google.com/u/107564893673580469806/)**
_2015-07-16T21:30:48.000Z_

----

The latest data is showing up again:

https://chromeperf.appspot.com/report?masters=ChromiumPerf&bots=android-nexus5&tests=smoothness.key_silk_cases%2Fmean_frame_time&checked=mean_frame_time

It's back to the original issue where the average is not showing again. Seems like it ran

[2015-08-27 22:36] qyearsley opened #1390 "Send improvement_direction when starting bisects."
**Issue by [qyears...@chromium.org](https://code.google.com/u/107012661329935444717/)**
_2014-12-17T16:58:04.000Z_
_Originally opened as http://crbug.com/443221_

---

Now that bisect supports the parameter improvement_direction, we can start actually using it when making the config dict when starting bisect jobs from the perf dashboard.

This will be a change in start_bisect.py. The Test entities

[2015-08-27 22:44] #1367 closed

[2015-08-28 17:21] bokand commented on #348
I'll take this issue on as 20% time, can someone assign it to me? I assume I can't since I'm not a contributor/member? Not too familiar with the GitHub workflow yet...

[2015-08-28 17:24] anniesullie commented on #348
I added you to the project and assigned you to this bug.

Note that we've just gotten hardware for Android buildbots; we'll be setting them up over the next two weeks. If you think it would help to have some tests on the CQ/waterfall, check with @dave-2 but note that we'll need to figure out how to automate them, which might be hard.

[2015-08-28 17:25] bokand commented on #348
Thanks Annie!

[2015-08-28 18:16] #1368 closed

[2015-08-28 18:19] philippebeaudoin opened #1391 "Split the RAIL score report by RAIL type and RAIL name"
Follow-up on #1335

@dj2 @natduca

[2015-08-28 18:30] zeptonaut opened #1392 "Create a "power consumption" highlighter"
It would be great if there were a power highlighter, similar to the vsync highlighter. The highlighter could create vertical stripes on the tracks, similar to how the vsync highlighter does, except the saturation of the stripe would be determined by how much power is being consumed during that timestamp.

[2015-08-28 18:42] dj2 commented on #1392
I don't think a highlighter would work. Drawing vertical lines through the trace can be very intrusive. Having a track for power which does that is fine, but extending it over other tracks makes things hard to read.

You could also have something like an auditor alert for significant power draw.

[2015-08-28 18:50] philippebeaudoin opened #1393 "Clean up <link rel="import" ...> in perf_insights"
Looking around perf_insights we seem to have a lot of extraneous <link rel="import" ...> (ie. rail_score_report.html) Also, seem to rely on transitive imports quite a bit. Not sure how strict we want to be about "import what you use" though...

[2015-08-28 18:52] philippebeaudoin opened #1394 "Use CachingColumn in slice_cost_report.html"
The GroupingTable in slice_cost_report.html is doing its caching manually. It could benefit from the new CachingColumn.

[2015-08-28 18:55] fmeawad commented on #1305
I have added a variable in os.environ that can be configured in app.yaml, if removed it will use the default instance as discussed in the original bug description, thanks for reporting.

[2015-08-28 18:55] #1305 closed

[2015-08-28 19:43] philippebeaudoin opened #1395 "Load and Idle IR collect related events outside their scope."
In the following example:
[code]
Where slice 1 and slice 2 have not been associated to any IR.
We would expect Slice 1 and 2 to be part of the Load IR because Slice 1 starts during load and S2 is in its hierarchy. However they get associated to the Idle IR.

[2015-08-28 19:47] dj2 commented on #1393
We don't really do include what you use very much. A lot of our code requires the transitive dependencies.  This does cause fun with tests when you run individual test cases sometimes.

[2015-08-28 20:06] philippebeaudoin commented on #1010
Basically, we add to an idle IR any (unassociated) event that starts within that IR. We also add the entire event hierarchy. So in:

[code]
Slice 2 will be idle (because it starts in the IR)
Slice 3 will be idle (because it's in Slice 2's hierarchy.)
Slice 1 will be idle (because it's in Slice 2's hierarchy.)

I believe this is "good enough" :tm: and suggest we close.

[2015-08-28 20:06] philippebeaudoin commented on #1395
False alarm, this seems to be working. I'm adding a test nonetheless.

[2015-08-28 20:15] philippebeaudoin commented on #1393
Ok, so let's make this issue about "removing extraneous import". Low priority but it annoys me so I might get to it some day. :)

[2015-08-28 20:43] ro-berto opened #1396 "Add an option to the bisect dialog to bypass the initial 'no-repro' check."
Add an option to the bisect dialog to bypass the initial 'no-repro' check. This refers to the initial check performed by the bisect{script|recipe} that may result in aborting the job if the good and bad revisions do not appear to be different enough.

[2015-08-29 02:18] zeptonaut commented on #1392
I don't agree. Drawing vertical lines through the trace isn't intrusive at all as long as they can be turned off, like they can with the vsync highlighter. I imagine this is a feature that will be turned off most of the time. However, when someone's investigating battery problems and wants to correlate battery usage with what's happening on a track that's all the way at the bottom of the page, it'

[2015-08-29 02:39] rschoen opened #1397 "Triaged alerts page gives Internal Server Error"
https://chromeperf.appspot.com/alerts?triaged=true

Internal Server Error

The server has either erred or is incapable of performing the requested operation.

Traceback (most recent call last):
  File "/base/data/home/runtimes/python27/python27_lib/versions/third_party/webapp2-2.5.1/webapp2.py", line 1536, in __call__
    rv = self.handle_exception(request, response, e)
  File "/base/data/home/run

[2015-08-29 14:01] dj2 commented on #1392
The better solution to that problem is to allow drag and drop of tracks. You can re-order them as you need to see the content you want grouped together.

Our UI is already hard to use, adding more knobs is going to make it worse. I've already made the mistake several times of thinking flow events are broken when they were just turned off. It's easy to turn things off and forget, then two months la

[2015-08-29 19:54] qyearsley commented on #1397
Duplicate of #1377; for now I'll log errors and show N/A in the UI for stoppage alerts that have now last row date. I believe that this should only happen for stoppage alerts whose associated row has been moved or deleted; the underlying issue is that migrate_test_names needs to be updated to move stoppage alerts too.

[2015-08-29 19:54] #1397 closed

[2015-08-30 00:35] ro-berto opened #1398 "Alignment of alert indicators in some graphs seems off."
https://chromeperf.appspot.com/group_report?bug_id=519204

![screenshot 2015-08-29 at 5 32 29 pm](https://cloud.githubusercontent.com/assets/1222692/9565168/3ca80b70-4e74-11e5-86c2-39283292bc3f.png)

[2015-08-30 22:46] #1360 closed

[2015-08-30 23:32] qyearsley commented on #1377
In the currently-deployed version (including that CL), this appears to be fixed (the page is loading).

However, the underlying problem is that stoppage alerts aren't migrated by migrate_test_names. Will file a new bug for that.

[2015-08-30 23:32] #1377 closed

[2015-08-30 23:34] qyearsley commented on #1319
I'm not reproducing it either; let's close this and file a new bug if we see it again.

[2015-08-30 23:37] qyearsley opened #1399 "The migrate_test_names page should also migrate stoppage alerts."
Problem: [migrate_test_names](https://github.com/catapult-project/catapult/blob/560f4e4d1071cd77ac3e50c89340b802636f74c4/dashboard/dashboard/migrate_test_names.py) migrates Test, Row and Anomaly entities but not StoppageAlert entities, which led to #1377.

It should also migrate StoppageAlert entities. The test path is part of the key for StoppageAlert entities, which means that migration implies

[2015-08-31 14:45] dj2 commented on #1314
Works correctly on 46.0.2486.0 (Official Build) dev (64-bit) Linux. Let me upgrade and see if it still works.

[2015-08-31 14:46] dj2 commented on #1314
Also works on 46.0.2490.6 (Official Build) dev (64-bit) Linux. Possibly a mac only issue?

[2015-08-31 14:49] dj2 commented on #1314
This fails for me on mac with 47.0.2496.0 and 44.0.2403.157.

[2015-08-31 15:34] chiniforooshan commented on #1307
I doubt if that would help much. I think we don't keep the whole stack trace for each sample. We keep stack frames in a graph with parent/child relationships as edges and for every sample we just keep a pointer to the leaf stack frame in that graph (the whole stack trace can be obtained by following the parent links).

I took a quick look at an example trace. It had ~65K samples and ~8K stack fram

[2015-08-31 15:58] dj2 commented on #1307
There isn't much we can do about this on the trace-viewer side. We'd have to modify the v8 sampler to do the collapsing for us which is a bigger issue. That code is written and currently maintained by the devtools folks.

The trace data always comes into tracing as a single large string which is the issue that is being run into. We don't have the ability to take it as chunks or stream the data and

[2015-08-31 16:16] benshayden commented on #1010
Closing. If there's something wrong with how Idles vacuum up associated events, then it can wait at least as long as fixing Loads' associated events, which are definitely more wrong.

[2015-08-31 16:23] qyearsley commented on #1372
This is now done.

[2015-08-31 16:23] #1372 closed

[2015-08-31 16:38] dj2 commented on #1307
Closing as a dupe of #627.

[2015-08-31 16:38] #1307 closed

[2015-08-31 16:45] anniesullie opened #1400 "Can't view graphs for blink_perf.bindings on perf dashboard /report page"
To reproduce, load https://chromeperf.appspot.com/report

Notice on the JavaScript console, there is a 404 error for https://chromeperf.appspot.com/dashboard/elements/xhr-element.html

Now select Test suite "blink_perf.bindings" and Bot "linux-release". A subtest menu never appears, so it's not possible to add a chart to the page. I can get this to work with sunspider, so not sure what the problem

[2015-08-31 16:48] qyearsley opened #1401 "Send "expected relative size" (expected regression size) to bisect."
Proposal: the dashboard might send the "regression size" (or improvement size), and if the initially reproduced regression between the given revisions isn't within an order of magnitude, then we could abort.

e.g. expected regression is 12.4%, reproduced regression is 2.1%, we could probably just abort. Or if the expected relative change is 3.5% and the reproduced relative change is -1.2% (i.e. th

[2015-08-31 16:49] qyearsley commented on #1390
@ro-berto

Correction to initial post: this will be a change in [start_try_job.py](https://github.com/catapult-project/catapult/tree/master/dashboard/dashboard/start_try_job.py).

Note, we should keep in mind that sometimes people want to bisect to find the cause of an improvement, so aborting just because it's an improvement doesn't always make sense. If we implement this we may also want to add

[2015-08-31 16:50] qyearsley commented on #1342
@chrisphn @rschoen

[2015-08-31 17:03] benshayden commented on #1371
Can you set contentTextDecoration?

[2015-08-31 18:14] qyearsley opened #1402 "Alert mail sender address should be configurable."
Migrated from http://crbug.com/488519

The sender email is currently hard-coded as "gasper-alerts@google.com", but we probably want that to be configurable in /edit_site_config.

[2015-08-31 18:22] anniesullie opened #1403 "Focus is lost for the first instance after pressing tab key for chrome://tracing page."
**Issue by [yfulgaon...@etouch.net](https://code.google.com/u/102856445863677696217/)**
_2015-07-23T14:13:59.000Z_
_Originally opened as http://crbug.com/513267_

----

Chrome Version: 45.0.2454.15 (Official Build) Revision 3a1ba3bad4f392b9c08d4c20db31560fb377558d-refs/branch-heads/2454@{#102} 32/64 bit
OS: All (Win 7: Aero enabled)

<b>What steps will reproduce the problem?</b>
1. Launch chrome a

[2015-08-31 18:22] anniesullie commented on #1403
**Comment by [ranjit...@chromium.org](https://code.google.com/u/111464169202345430287/)**
_2015-07-23T17:47:44.000Z_

----

Untriaging it so that it gets addressed.

[2015-08-31 18:22] anniesullie commented on #1403
**Comment by [lpalm...@chromium.org](https://code.google.com/u/110518132196702918851/)**
_2015-08-31T15:03:40.000Z_

----

[triage] Dan, can you help to find an owner for this?

[2015-08-31 18:22] anniesullie commented on #1403
**Comment by [lpalm...@chromium.org](https://code.google.com/u/110518132196702918851/)**
_2015-08-31T15:13:16.000Z_

----

[triage] Dan, can you help to find an owner for this?

[2015-08-31 18:22] anniesullie commented on #1403
**Comment by [dbeam@chromium.org](https://code.google.com/u/dbeam@chromium.org/)**
_2015-08-31T17:59:36.000Z_

----

+third_party/catapult/OWNERs

[2015-08-31 18:34] zeptonaut commented on #1392
I'm definitely not convinced that adding a highlighter for this is the best solution. However, I'm also not convinced that reordering tracks would entirely solve this problem.

It seems like there's at least some consensus that trace viewer has a data locality problem. By this, I mean that the data may be there, but it's not close enough on the screen for you to draw the conclusions that you need