[2016-03-18 17:52] qyearsley commented on #2151
1. I think the main two choices for showing that we can't bisect are disabling the bisect button and not showing the bisect button; I'm not sure personally which one is better. It does often make sense to create alerts that we can't bisect for though, since sometimes the regression can be found and fixed without bisect (for example, the v8 team has a perf waterfall and sheriff rotation and the per

[2016-03-18 17:54] anniesullie commented on #2153
I think it's fine to move the error message so that we can separate it from the useless UI elements better. Suggestion to log in should just be a string change?

[2016-03-18 17:56] tdresser commented on #2151
Makes sense.

It's likely the current method of showing that you can't bisect is fine. It's a bit strange how it looks like you can bisect briefly before the button becomes disabled. It might make sense to make it tri-state, i.e, have one state for "can bisect" one for "can't bisect" and one for "Not sure if you can bisect".

[2016-03-18 17:57] zeptonaut opened #2156 "Traces hang when importing and require you to click in order to make the import continue"
Forewarning: I've had problems reproducing this bug, but I still think it's out there.

Occasionally I'll have traces that hang while importing, and the import won't continue until I click somewhere on the screen.

I had this happen for a solid 2 or 3 days in a row a couple of weeks ago. However, on day 4 (when I went to file the bug), I was very frustratingly unable to reproduce it.

@natduca, @p

[2016-03-18 17:59] chrisphn commented on #2153
Same error on local instance without any alerts.

[2016-03-18 18:00] lpy commented on #2156
I also have this problem.

[2016-03-18 18:41] zeptonaut commented on #2156
@lpy, have you seen it in any current checkouts?

I've tried to reproduce it on Mac Catapult HEAD, Mac Chrome Canary and Linux Chrome Stable, all unsuccessfully.

[2016-03-18 18:46] petrcermak commented on #2156
I've observed this for quite a while now, but wasn't sure if I'm not just imagining things. I suspect this could be due to 24f62dd8e7f2c7bf38bc32fb588ba24080487c0a which replaced <tt>requestAnimationFrame</tt> with <tt>requestIdleFrame</tt>.

@skyostil: any thoughts?

[2016-03-18 18:53] zeptonaut commented on #2156
Hmmm... that is suspicious @petrcermak. I don't see anything in that patch that looks blatantly wrong, but it does seem like it might be related.

[2016-03-18 18:54] natduca opened #2157 "Timeline view jumps to top whenever we select something"
Something strange happens in ToT tracing: when you are scrolled down in the track view, and then select select something, the track view scrolls back to the top. This makes analysis really hard.

[2016-03-18 18:54] natduca commented on #2157
@paulirish who noticed this

[2016-03-18 18:57] qyearsley commented on #2151
Oh, that sounds like a good idea. Actually making it quickly enabled before being disabled is a recent change, when I made the front-end make an XHR to check whether bisect is supported. One easy change to make here would be to make the button disabled to start with: https://codereview.chromium.org/1812073003/

[2016-03-18 18:58] tdresser commented on #2151
This change SGTM.

[2016-03-18 19:06] paulirish commented on #2156
I have this all the time too. I'm sure it's due to using rIC.

If we just yielded with setTimeout, I'd expect it to work much better. However if it's in a background tab, it'd still take forever.. to fix that would be yielding via the postMessage trick in the setImmediate polyfill.

[2016-03-18 19:22] anniesullie commented on #2149
Ah right, if we check the Test it should fix the vast majority of use cases. Let's do that!

[2016-03-18 19:59] zeptonaut commented on #2156
I don't think we're too concerned with whether it takes forever when in a background tab. From what I've seen, the current expectation is that no progress is made when tab's in the background anyhow.

[2016-03-18 20:09] aschulm commented on #2120
ok I created a CL to address this problem (https://codereview.chromium.org/1810053002/). We want the power units to be shown in Watts and the internal representation is mW so now the units code is doing the conversion between the two.

However, there is one remaining part of the code where we are doing this conversion outside of the units code. That is in the frame power graph code. The issue is t

[2016-03-18 20:21] natduca commented on #2156
I think its requestIdleFrame not ticking for some reason. @rmcilroy @skyostil HALPPPPPPPPP

(if anyone is up for it who has a repro, could you try hacking raf.html to not use requestIdleFrame and instead do the fallback path? If the repro goes away we know roughly whats going on)

[2016-03-18 20:32] lpy commented on #2156
@zeptonaut I have seen it on Catapult HEAD, Chrome Canary on Mac, but I couldn't successfully reproduce it continuously.

[2016-03-19 00:17] agrieve opened #2158 "DeviceUtils should recognize when its asked to load a stale cache"
You can have a stale cache through the user manually pushing files / installing .apks that exist within the cache. I'm not too concerned about this though, as I haven't seen it be a problem in practice.

What I have seen, is it becoming stale when another developer borrows a device, runs a test on it, then returns it. Luckily, this is an easier case to detect.

The easiest way I can think of to de

[2016-03-19 17:17] qyearsley commented on #2122
Not failing currently, and I haven't yet investigated this. We should re-open a new bug if it starts failing again.

[2016-03-19 17:19] qyearsley commented on #1683
https://codereview.chromium.org/1556573002 has been committed and deployed, but the fix hasn't been verified. Next step here is to check whether this is still an issue.

[2016-03-19 18:22] qyearsley commented on #2041
Fix deployed.

[2016-03-19 18:22] #2041 closed

[2016-03-20 04:42] lpy commented on #2098
I think this is done.
CLs:

https://codereview.chromium.org/1805703002/
https://codereview.chromium.org/1811823002/

[2016-03-20 13:44] #2098 closed

[2016-03-21 15:31] eakuefner opened #2159 "Add presubmit check to see whether new metrics are registered"
Now that we're requiring metric authors to add their metrics to `all_metrics.html`, we should add a presubmit check that makes sure they do this.

1. Add a script `list_all_metrics` that takes a list of html files, imports them, and then lists all metrics out of the registry.
1. Diff loading `all_metrics.html` against loading all files. If there is a diff, something is wrong.

@nedn

[2016-03-21 16:52] jreck opened #2160 "Add parser for gpu trace events"
Android's kernel has support for GPU trace events, however the linux_perf importer doesn't know how to parse these.

Format: https://android.googlesource.com/kernel/common/+/android-3.10/include/trace/events/gpu.h

Sample trace:
gpu-19970 (19927) [000] ...1  4394.993234: gpu_job_enqueue: ctx_id=16 job_id=21707 type=Vertex/Geometry Shader Job + Tiler Job
gpu-19970 (19927) [000] ...1  4394.993250: g

[2016-03-21 17:02] chrisphn commented on #2072
This is fixed.

[2016-03-21 17:02] #2072 closed

[2016-03-21 18:07] qyearsley commented on #2141
Haven't seen this error in the logs since the fix.

[2016-03-21 18:07] #2141 closed

[2016-03-21 18:11] qyearsley commented on #2142
I tried this again after the fix was deployed, and I believe it works now.

[2016-03-21 18:11] #2142 closed

[2016-03-21 18:14] chrisphn opened #2161 "DeadlineExceededError in /group_report"
Hm, is it me or is `/group_report` page is taking longer to load than usual?  In some cases it just times out.

Seen error in log:

[code]

[2016-03-21 18:15] chrisphn commented on #2093
_PrettyTable in dashboard/bisect_report.py was a port of a longer and more complicated version by hard coding the spacing.

What about doing something like this?  This adds sub-rows and truncates mean values.

[code]

Also, are newlines missing around the culprit row?  I remember it was there before.

[2016-03-21 18:24] wangzhen127 opened #2162 "Update Telemetry to use trace config to start tracing"
Devtools API Tracing.Start now can take trace config ([579358](https://bugs.chromium.org/p/chromium/issues/detail?id=579358)) as the parameter. We should update Telemetry to use trace config. This will enable memory infra to [configure periodic dump behavior](https://bugs.chromium.org/p/chromium/issues/detail?id=513692#c10).

@nedn @randalnephew @primiano @ssiddhartha

[2016-03-21 18:25] #2022 closed

[2016-03-21 18:27] qyearsley commented on #2093
I think that with the line breaks is better than the current format. Truncating the values to some reasonable number of decimal places (e.g. 3) is usually good, although occasionally all of the values are very small (< 0.001) so we should be careful about truncating -- ideally we want to always leave at least 6 significant digits.

I know we had a special case before to add blank lines around the

[2016-03-21 18:29] wangzhen127 commented on #2162
@nedn When doing this, I think it is also good to think about the preset categories on the Telemetry side at the same time.

[2016-03-21 18:29] natduca opened #2163 "Consider adding a docstring for createScalarSpan"
Its pretty hard to remember what the right arguments for createScalarSpan are. Could we add a docstring that shows the classic call pattern? Doesn't have to be too formal, just something so that I can copypasta the right thing in without reading the entire 40 line function. :)

[2016-03-21 18:29] natduca commented on #2163
calling @petrcermak

[2016-03-21 18:30] qyearsley commented on #2161
Probably depends on the specific tests for the alert keys you're looking at -- do you still have the particular URL where you were seeing time outs?

[2016-03-21 18:30] benshayden commented on #1855
So, this can either recompute all of the metrics for all of the UEs every time you click on any UE in the track view, or we can architect something to avoid that recomputation...

Calling @eakuefner : want to put a ValueList on the Model or timeline-view? :-)

[2016-03-21 18:38] chrisphn commented on #2093
The original used pretty_table method:

https://chromium.googlesource.com/chromium/tools/build/+/7e7506dbf9d84ee89cffe03c6df2e0bed169fcb0/scripts/slave/recipe_modules/auto_bisect/bisect_results.py#250

[2016-03-21 18:55] petrcermak opened #2164 "Update Chai"
According to the Chai Assertion Library website, Chai provides a [<tt>assert.isAtMost</tt> method](http://chaijs.com/api/assert/#method_isatmost). However, this method doesn't seem to be available in Catapult, so I assume our version is outdated.

@eakuefner: How much work would it require to update Chai?

[2016-03-21 19:02] benshayden commented on #1850
Failed Loads were removed when #2022 was done, so this is Obsolete.
When Loads are re-designed to use Frameblamr, this kind of bug should not be possible.

[2016-03-21 19:02] #1850 closed

[2016-03-21 19:50] eakuefner commented on #2164
Probably not much, and I've been talking to other folks who think this is a good idea.

Want to just roll Chai and see if all the tests pass?

[2016-03-21 19:52] eakuefner commented on #2164
Actually, I remember that there was some stuff regarding `Buffer`, which is a Node type that we don't have in-browser.  Previously we just ripped that out because we weren't using Node, but now that we're becoming interested, we might want to keep that stuff in.

But then the bug is, when you have could-not-require exceptions and they cause devtools to pause. Then we have to blackbox Chai or be an

[2016-03-21 20:01] zeptonaut opened #2165 "ES6 feature introduction: arrow functions"
Arrow functions are the first feature from ES6 that we're trying to introduce into trace viewer. Based on [this thread](https://groups.google.com/a/chromium.org/forum/?utm_medium=email&utm_source=footer#!msg/tracing/kaDgHPtRGz8/h6DdNhMcBAAJ), I don't think that anyone has any real objections to using arrow functions as long as they work with all of our dependents.

Because they're the first ES6 fe

[2016-03-21 20:21] benshayden commented on #1855
As discussed, we can just recompute all the metrics for now until it becomes a problem or an architectural opportunity arises.

[2016-03-21 21:20] natduca commented on #2165
\o/

[2016-03-21 22:25] chrisphn commented on #2122
Still occasionally timeouts.  Specifically update_test_suites.FetchSuitesWithMonitoredProperty for internal and external run just about 10 minutes which is at the cron job limit.  Sent a quick fix to split them up into two cron jobs.

https://chromeperf.appspot.com/get_logs?namespace=task_runner&name=report

[2016-03-22 02:51] eakuefner commented on #2115
I think this is done.

[2016-03-22 02:51] #2115 closed

[2016-03-22 02:55] eakuefner commented on #2045
@lpy has done this \o/

[2016-03-22 02:55] #2045 closed

[2016-03-22 11:00] petrcermak commented on #2164
I'm not familiar with (our usage of) Node. Do we need the <tt>Buffer</tt> functionality? If not, we could rip it out again.

Adding some people who seem to have worked on Node in Catapult... @natduca, @dstockwell, @benshayden

[2016-03-22 14:57] anniesullie opened #2166 "Perf Dashboard: Can't click (i) icon for chart legend tooltip"
Chrome version: 48.0.2564.116 (Mac)
URL: https://chromeperf.appspot.com/report?sid=d0e366893d57e7b8ed3a3bc29432c1c936e966818c5732fad153a39de2770643

Please copy and paste any errors from JavaScript console (Command+Option+J to open):
[code]
Please describe the problem:
When I hover over the metric name in the chart legend, I see a little (i) icon, which I am supposed to be able to click or hover o

[2016-03-22 15:05] hkjellander commented on #1922
Sorry for the slow response. It should be doable to make sure the standalone WebRTC bots just include the "r_webrtc" key in the uploaded JSON. I filed https://bugs.chromium.org/p/chromium/issues/detail?id=596883 to track this since it's a change on our end (and I don't want to have even more bug trackers to keep track of).

[2016-03-22 16:12] qyearsley commented on #2155
Filed as #2166 with more detail.

[2016-03-22 16:12] #2155 closed

[2016-03-22 16:13] qyearsley commented on #1922
Sounds good, let's track this there.

[2016-03-22 16:13] #1922 closed

[2016-03-22 16:32] benshayden commented on #2094
Nat mentioned yesterday that there should be a layer between the metrics-side-panel (aka metric debugger?) in trace-viewer and grouping-table, call it metric-value-view or whatever, that could be used by a revamped results.html or what-have-you.
Using metric-value-view for results.html suggests that it might want to support multiple ValueLists as columns for easy diff-ing.

[2016-03-22 16:36] qyearsley commented on #1898
After running `bench_find_anomalies.BenchFindChangePoints` again, no results appeared and the following error was found in the logs:

[code]

The error message suggests "Most likely this means there is a bug in the Pipeline runtime or some intermediate data has been deleted from the Datastore." It's possible that something went wrong this time but it's not a consistent failure? Trying again after

[2016-03-22 16:48] qyearsley commented on #2166
This is another case where we're assuming/requiring that an element with a particular ID exists at the page top-level (not inside of a shadow DOM), and now that it's inside of a polymer Element, it can't be found anymore.

Specifically, there's custom-tooltip element which used to be at the top-level but is currently inside of group-report-page and report-page.

https://github.com/catapult-project

[2016-03-22 16:54] anniesullie commented on #2166
That sgtm, assuming it's only used in chart-legend?

[2016-03-22 16:59] qyearsley commented on #2166
Yep, it's currently only used in chart-tooltip.

Looks like the main difference if it's moved is that its position must be calculated differently when its position is being set.

[2016-03-22 17:26] qyearsley commented on #2151
I just realized that this has to be done for the "trace" button as well; will do that before marking this as fixed.

[2016-03-22 18:13] eakuefner commented on #2103
Yak shave in progress. Probably we'd just like to remove RNDIS functionality from Telemetry entirely, but that depends on two things being true:

1. Safe to remove netsim functionality from Telemetry for the time being, and
2. Safe to assume that we do not support running benchmarks on an Android device using a non-Linux host. Since Devil does not support non-Linux platforms, this is probably fine

[2016-03-22 18:41] #1855 closed

[2016-03-22 18:53] petrcermak commented on #2156
It would be nice if the background issue was fixed as well. I often open multiple traces simultaneously and have to cycle between the tabs to make sure that everything actually gets imported.

[2016-03-22 19:02] qyearsley commented on #1898
Latest run is not succeeding either, and I'm seeing the error:

[2016-03-22 19:04] skyostil commented on #2156
If anyone can figure out repro steps that'd be great. Meanwhile, something we can try is passing a timeout argument to rIC so that it is guaranteed to make progress -- even if the tab is backgrounded.

[2016-03-22 19:05] eakuefner opened #2167 "Throw an exception when attempting to use Android features on non-Linux host"
We don't support running benchmarks on an Android device using a non-Linux host. We should make this clear by throwing an exception on non-Linux platforms when users attempt to use Android-specific features, e.g. `--device`.

[2016-03-22 19:14] eakuefner commented on #2095
Actually, I'm closing this since the fixes above make it clear that metrics ought to be combined at the level of metrics, so that they can be specified everywhere.

Hierarchy-of-metrics is maybe not a thing, so we should just revisit this with a more concrete plan in mind if something comes up.

[2016-03-22 19:14] #2095 closed

[2016-03-22 19:15] petrcermak commented on #2156
If passing a timeout could indeed solve the issue, then I think it would be the best and simplest solution at the same time.

[2016-03-22 19:15] eakuefner commented on #2094
Assigning to @benshayden because he's doing the bulk of this work right now.

[2016-03-22 19:16] eakuefner commented on #2036
This is **done**. Thank you @simonhatch \o/

[2016-03-22 19:16] #2036 closed

[2016-03-22 19:17] eakuefner commented on #1885
This is done. We have some refactoring to do but the core is implemented and finalized!

[2016-03-22 19:17] #1885 closed

[2016-03-22 19:18] eakuefner commented on #1843
Let's archive this.

[2016-03-22 19:18] #1843 closed

[2016-03-22 19:19] eakuefner commented on #1477
PI is dead; long live TBMv2.

[2016-03-22 19:19] #1477 closed

[2016-03-22 19:32] zeptonaut commented on #2156
@natduca verified that this is indeed a problem w/ not having a timeout. Sending out a patch now.

[2016-03-22 19:38] skyostil commented on #2156
Which platform(s) have you guys seen this bug on?

[2016-03-22 19:39] zeptonaut commented on #2156
Also, FWIW, it looked like on @natduca's computer it was a matter of just reloading the "SF gate" trace a bunch of times until it got stuck in the "Creating importers" phase. It seemed to happen once every 10 or so times.

The way that he verified that this was the problem was that he changed the code that read:

[code]

to read:

[code]

In the case where we let the trace hang for a bit, we saw a

[2016-03-22 19:49] natduca commented on #2156
I can repro this on mac canary pretty consistently. SFGate seems to hang on every fifth reload or so. Not sure...

[2016-03-22 20:01] skyostil commented on #2156
Filed https://bugs.chromium.org/p/chromium/issues/detail?id=597006

[2016-03-22 20:16] natduca commented on #1477
\o/

On Tue, Mar 22, 2016 at 12:19 PM, Ethan Kuefner <notifications@github.com>
wrote:

[2016-03-22 21:04] jeremyroman opened #2168 "Chromium display item debugger should be nicer"
Showing more of the details, offering individual drawing downloads, etc.

[2016-03-22 21:07] jeremyroman commented on #2168
Before:
![before](https://cloud.githubusercontent.com/assets/156119/13967989/72a3cc68-f050-11e5-87df-911a77db4c01.png)

After:
![after](https://cloud.githubusercontent.com/assets/156119/13967999/7bf51358-f050-11e5-9c70-e8018818617d.png)

[2016-03-22 21:46] #1798 closed

[2016-03-22 22:19] benshayden commented on #1827
Honestly, I probably won't get to this until something forces me to: WontFix.

[2016-03-22 22:19] #1827 closed

[2016-03-22 22:20] benshayden commented on #1940
(Don't panic, I'm just scrubbing RAIL labels.)

[2016-03-22 23:42] qyearsley commented on #1898
Update: after deleting all TestBench entities again (and deleting all _AE_Pipeline_Slot entities), I tried again, and I am again seeing the same error as before: SlotNotFilledError.

[2016-03-22 23:51] qyearsley commented on #2166
Update: I tried moving the custom-tooltip into chart-legend (https://codereview.chromium.org/1820813006), but my version doesn't work properly now.

Specifically, the custom-tooltip set method appears to take an X and Y coordinate that are not relative to the same thing as the X and Y coordinates that I get from the clientX and clientY properties from the click event, or the coordinates that I get

[2016-03-23 00:38] benshayden opened #2169 "Write/Update System Health documentation"
What do the responsiveness and efficiency metrics mean?

What do I do when they go down?

[2016-03-23 00:39] #1756 closed

[2016-03-23 00:41] #1492 closed

[2016-03-23 01:02] benshayden commented on #1183
Huh, looks like I fixed this a while ago and forgot to close it.

[2016-03-23 01:02] #1183 closed

[2016-03-23 01:03] #1173 closed

[2016-03-23 01:09] benshayden commented on #1262
Duping into #1696

[2016-03-23 01:09] #1262 closed

[2016-03-23 02:35] dstockwell opened #2170 "Can't load traceviewer in node on a non-executable filesystem"
Sorry, this is a bit of a weird one. Maybe wontfix?

    events.js:154
          throw er; // Unhandled 'error' event
          ^
    TypeError: invalid data
        at WriteStream.Socket.write (net.js:623:11)
        at Object.execFileSync (child_process.js:487:20)
        at Object.module.exports.getSourcePathsForProject (/var/host/media/removable/sdcard/local/repos/erlnmyr/node_modules/tracevie

[2016-03-23 02:52] nedn commented on #2162
@petrcermak do we need this in the short term for memory system health benchmarks?

[2016-03-23 13:35] petrcermak opened #2171 "Move VM region classification from the UI to the model"
__Rationale:__ We need to use the VM region breakdown in the upcoming TBMv2
memory metric.

__Design doc:__ https://goo.gl/5SSPv0

[2016-03-23 15:50] zeptonaut commented on #2156
**This should be live in Chrome Canary (51.0.2688.0) now, so please update this bug if you see the behavior again in Chrome Canary after 51.0.2688.0 or Catapult HEAD!**

This patch got rolled into Chromium [here](https://codereview.chromium.org/1825693002).
This roll was before last night's deps roll, which branched [here](https://chromium.googlesource.com/chromium/src/+/df372032b408542d782c18cfc0

[2016-03-23 15:50] #2156 closed

[2016-03-23 15:59] petrcermak commented on #2171
Patch pending: https://codereview.chromium.org/1783513002/

[2016-03-23 16:33] #2168 closed

[2016-03-23 17:06] qyearsley commented on #2166
Moving the tooltip to the top level so it can be found again does work:
https://codereview.chromium.org/1828733002

[2016-03-23 17:13] qyearsley opened #2172 "Move the chart legend details tooltip into chart-legend."
Currently chart-legend assumes/requires that there is a custom-tooltip element with a particular ID available on the top-level of the page. It would be simpler if the custom-tooltip element is contained within chart-legend. See: https://codereview.chromium.org/1828733002/

[2016-03-23 18:05] benshayden opened #2173 "Find Chrome UserExpectations"
Chrome Startup is already implemented as a LoadExpectation, but interactions with Chrome's chrome still need to be found by findInputExpectations(). Are they even traced?

[2016-03-23 18:12] benshayden opened #2174 "Find Android UserExpectations"
Currently, the AndroidAuditor creates some ResponseExpectations for "Rendering" and "Input", but it doesn't look like they really represent RAIL Responses.

First, we should work with android team to make sure that user input and app loading are traced in a way that affords finding UserExpectations.

findInputExpectations() should then implement finding Response/AnimationExpectations for Android t

[2016-03-23 19:54] chrisphn commented on #2054
Verified fix.

[2016-03-23 19:54] #2054 closed

[2016-03-23 20:37] benshayden commented on #1696
Ned suggests adding this experiment to the chrome dinosaur game.

[2016-03-23 20:39] benshayden commented on #1696
Also see [adaptive psychophysical methods](https://en.wikipedia.org/wiki/Psychophysics#Adaptive_psychophysical_methods).

[2016-03-23 20:47] chrisphn commented on #2161
Lost it; will post it when I run into it again.

[2016-03-23 20:49] lpy commented on #2157
It looks like when the `textContent` of the tab_view changed, it will scroll back to the top.

comment out this line https://github.com/catapult-project/catapult/blob/master/tracing/tracing/ui/analysis/analysis_view.html#L157 , select any track, trace viewer will jump back to top only when tab_view changed.

Is there any event get triggered when textContent changed?

[2016-03-23 20:49] chrisphn commented on #3
Unfinished dashboard work is here: https://chromiumcodereview-hr.appspot.com/1791553002

[2016-03-23 20:51] chrisphn commented on #1874
Last CL for this is here: https://chromiumcodereview-hr.appspot.com/1812113002/

[2016-03-23 21:31] natduca commented on #2157
You're saying when you comment out :157 then the scrolltop doesn't change? Or it still changes, but less often? Or... I guess I got a little confused :)

[2016-03-23 21:33] lpy commented on #2157
it still changes, but less often.

[2016-03-23 21:35] natduca commented on #2157
With that commented out, whats a way to repro the change?

On Wed, Mar 23, 2016 at 2:33 PM, Peiyong Lin <notifications@github.com>
wrote:

[2016-03-23 22:00] lpy commented on #2157
As we discussed offline.

With Catapult HEAD, this situation won't happen in Chrome Stable, but happen in Chrome Canary. You can use this bisect command
`./tools/bisect-builds.py --use-local-cache -g 369907 -b 381614 -a mac -- http://localhost:8003/tracing_examples/trace_viewer.html\#/tracing/test_data/sfgate.json`
to track down to this revision  https://chromium.googlesource.com/chromium/src/+log

[2016-03-23 22:05] cbiesinger commented on #2157
Probably https://bugs.chromium.org/p/chromium/issues/detail?id=593209

[2016-03-23 23:33] qyearsley commented on #1888
I'm not working on this in the near future, but there are still more pylint checks to enable! Now that I look at this again, I think it should be merged with #1946 -- future changes to enable pylint checks should be associated with that issue.

[2016-03-23 23:33] #1888 closed

[2016-03-23 23:46] qyearsley opened #2175 "Use the Monorail API to get current bug status to show in chart tooltips."
Background: In the past, dashboard would fetch current bug status from the issue tracker so that it could show whether a bug was closed or not; this didn't work as-is after the Monorail migration and was removed (https://codereview.chromium.org/1810383003). This would be a helpful little feature to re-add.

[2016-03-23 23:47] qyearsley commented on #2152
Annie noted in the CL that it would be good to do a follow-up to use the monorail API to get bug status -- filed follow-up bug #2175.

[2016-03-23 23:47] #2152 closed

[2016-03-24 04:12] #2047 closed

[2016-03-24 04:13] nedn commented on #2112
The project is moved here: https://github.com/catapult-project/vinn

[2016-03-24 04:13] #2112 closed

[2016-03-24 04:13] nedn commented on #1636
Won't fix.

[2016-03-24 04:13] #1636 closed

[2016-03-24 04:14] #1196 closed

[2016-03-24 16:18] petrcermak commented on #2171
Done. The path to a TBMv2 memory metric should now be clear :tada:

@eakuefner: FYI

[2016-03-24 16:18] #2171 closed

[2016-03-24 16:32] qyearsley commented on #2166
Fixed. Filed a separate issue #2172 for refactoring to move custom-tooltip inside of chart-legend which would be a bit neater.

[2016-03-24 16:32] #2166 closed

[2016-03-24 16:53] eakuefner commented on #1977
I'm about to close the Chromium-side bug in favor of this one, so let me just paste the search that shows the to-be-done followups:

https://code.google.com/p/chromium/codesearch#search/&q=TODO%5C(crbug.com/404771%5C)&sq=package:chromium&type=cs

[2016-03-24 17:56] zoyahav commented on #1780
Are there any updates on #1314? We are currently seeing this a lot in our project.
Are there any known workarounds? Even just being able to tell when the canvas size exceeds the limit so we could try and re-render with a smaller timeline would be helpful.

[2016-03-24 20:32] chrisphn commented on #1424
I do see a reduction in contention errors, roughly base on number of errors per minute.  We can try 10 max_concurrent_requests?  It looks like there are idle times when tasks are all completed, so we have room to go even lower; 10 max_concurrent_requests?

Taskqueue:
https://pantheon.corp.google.com/appengine/taskqueues?project=chromeperf&moduleId=default&tab=PUSH

Current deployed version:
https:

[2016-03-24 21:59] qyearsley commented on #1898
Update: After trying with only 10 tests, everything worked! But the results aren't very helpful.
I ran it again and finally noticed the following error in /_ah/pipeline/run:

[code]

This is most likely the cause of the failures before -- /_ah/pipeline/run isn't considered a privileged request, but the initial request for tests (when creating the TestBench entities) *is* privileged, and so it's fe

[2016-03-24 22:02] anniesullie commented on #1898
I like the first approach (making all requests privileged, with proper admin-only) best

[2016-03-24 22:28] eakuefner opened #2176 "ES6 feature introduction: classes"
Since @zeptonaut has initiated a procedure for opening up the tracing codebase to new ES6 features, we want to try classes next.

I'm doing some refactoring on `Numeric` right now, and it occurred to me that this would probably be a good place to start, since numerics are used by a fair amount of unit tested code, but not in so many places that any refactoring that has to be done would be insurmou

[2016-03-24 22:52] qyearsley commented on #2153
Fix verified (by following the steps to reproduce in the bug report).

[2016-03-24 22:52] #2153 closed

[2016-03-25 00:26] qyearsley commented on #1864
Notes about how the directory structure might be reorganized: https://docs.google.com/document/d/1UEkGJCkWoweu5rt55kyg2WA9PcSTaTB9ciMpUyMHX8s/edit

[2016-03-25 00:35] qyearsley commented on #1864
@anniesullie, could you take a quick look at that doc about how the directory layout might be changed? Basically, as we talked about before, it might be separate it into "backend" (add_point and everything related), "bisect" (everything related to bisect jobs) and "frontend" (everything else). Some code would need to be shared between these modules, including data models and utility code.

[2016-03-25 02:25] bashi opened #2177 "map_traces.Main() always fails"
`results` is a list, not an instance which has `failures` attribute.

<pre>
Traceback (most recent call last):
  File "/usr/local/google/home/bashi/catapult/perf_insights/bin/map_traces", line 14, in <module>
    sys.exit(map_traces.Main(sys.argv))
  File "/usr/local/google/home/bashi/catapult/perf_insights/perf_insights/map_traces.py", line 88, in Main
    if not results.failures:
AttributeError:

[2016-03-25 04:09] nyaxt opened #2178 "ChromeRendererHelper is unable to find renderer thread for minimal traces w/o cat "cc" enabled"
Blocking #2081

We would not want to require "cc" category in order to run FirstPaintMetric.
However, `ChromeRendererHelper.isRenderProcess` currently returns false when "Compositor" thread is not found.
If we code FirstPaintMetric using ```chromeHelper.rendererHelpers[]```, it can't find the renderer processes if the "cc" category is disabled.

Is this intended? or can I simply drop the "Composit

[2016-03-25 04:23] nedn commented on #1972
Most up-to-date plan is in https://github.com/catapult-project/catapult/blob/master/docs/directory-structure.md

[2016-03-25 09:16] Shekeen opened #2179 "Cannot check the status of NetworkController without directly accessing its protected member"
Right now the only way to check the status of NetworkController is to write something like

    network_controller._network_controller_backend.is_open

which requires the access to a protected ```_network_controller_backend```

[2016-03-25 09:38] #2179 closed

[2016-03-25 15:02] anniesullie commented on #1864
It would be awesome to see the individual .py files binned into categories. I think there are some code categories missing, like it seems that bug triage should be a module.

[2016-03-25 15:15] zeptonaut commented on #2176
Awesome! Thanks so much for doing this Ethan! I'd love to hear more as progress is made.

[2016-03-25 16:11] natduca commented on #2170
Hmmm probably a bug of us still having a hacky node modules architecture.

In the short term, maybe we could try figuring out the path to python and add that as a prefix? Or /usr/bin/env python ...?

[2016-03-25 16:12] natduca commented on #1780
Ah, you're getting the dreaded white canvas bug?

[2016-03-25 16:39] zoyahav commented on #1780
Yep :/

[2016-03-25 16:53] qyearsley commented on #1864
Possibly, although bug triage is of course closely related to viewing graphs, in general -- when deciding whether to file a bug and whether it's recovered, you also have to see graphs.

In the future dashboard, alerts to triage will probably also have bisect results associated with them; we'll still want to view graphs (and bisect results) while filing bugs.

Just modified the doc to list out a fi

[2016-03-25 17:14] eakuefner opened #2180 "Establish best practices for metric authorship"
We need to come up with a set of recommendations on how to use `Numeric`, how grouping keys work, what diagnostics are, and so on, so that metric authors will be properly aware of these concepts.

@natduca @fmeawad

[2016-03-25 17:30] eakuefner opened #2181 "Move grouping_table into /tracing/value"
This is related to #2180 because `grouping_table` is a pivotal (heh) part of the future of TBMv2.

I think there are two steps here:

1. Move `grouping_table` into /tracing/value/ui
2. Decouple the logic and UI bits into `grouping_table.html` and `ui/grouping_table_span.html`

Once this is done, we can make `ValueList` an instance of the `GroupingTable` class that will result.

@natduca

[2016-03-25 17:53] qyearsley commented on #1424
Alright -- another way of seeing the rate of contention errors is on the errors page:
https://console.developers.google.com/errors?project=chromeperf

There we can see that at least in the past couple days the rate of contention errors is low (2 instances of this error in Test._pre_put_hook), but that could also be because there happened to not be a lot of new tests added at once in the past coupl

[2016-03-25 18:04] natduca commented on #1780
Totally. I've been getting it a lot too. This is slowly bubbling to the top of the stack, so I'll mark myself as owning. I'm unsure quite when I can finish this but I share the belief that it darn well needs doing.

[2016-03-25 18:05] natduca commented on #1826
I think we should wontfix due to inactivity?

[2016-03-25 18:05] #1826 closed

[2016-03-25 18:06] natduca commented on #1744
I think probably we need to wontfix this and deal with this by learning the hard way down the road when things break.... right now I can't quite see a route to us giving this out as a task, due to the magnitude of the other issues we've got that dwarf this hehe.

I'm going to reluctantly WontFix. We'll definitely re-discover this though!

[2016-03-25 18:06] #1744 closed

[2016-03-25 18:16] natduca commented on #1497
Ethan did this. So reassigning and closing.

[2016-03-25 18:16] #1497 closed

[2016-03-25 18:16] natduca commented on #1371
@petrcermak is this still an issue? I seem to have dropped the ball here. :/

[2016-03-25 18:16] natduca commented on #1354
@petrcermak fixed this.

[2016-03-25 18:16] #1354 closed

[2016-03-25 18:17] natduca commented on #776
Dupe into #1780

[2016-03-25 18:17] #776 closed

[2016-03-25 19:36] zoyahav commented on #1780
Sounds good, thanks!

[2016-03-25 20:37] qyearsley commented on #1898
I made the first change above; then we realized that the entire /get_logs endpoint shouldn't be made admin only because then people can't see bisect results. At most, GET requests to view /get_logs page should make sure the user is internal-only and only show results in that case.

[2016-03-25 21:18] qyearsley commented on #1984
Docs have now been moved to https://github.com/catapult-project/catapult/blob/master/dashboard :-)

Docs on http://www.chromium.org/developers/speed-infra/performance-dashboard have now been updated to point there.

[2016-03-25 21:18] #1984 closed

[2016-03-25 21:24] qyearsley opened #2182 "Quick logs are publicly visible, but could could potentially contain internal names/numbers."
Results from bench_find_anomalies are logged using quick_logger and viewed using /get_logs, which is publicly accessible (and quick logs don't have an internal_only property).

In order to avoid bench_find_anomalies from logging some internal test names, it would be good to make it only use publicly available tests. See #1898 for more context.

Note that even if the results of bench_find_anomalies

[2016-03-25 21:28] anniesullie commented on #2182
If quick logs don't have an internal only property, how do we handle internal only bisect results?

[2016-03-25 21:55] benshayden opened #2183 "Refactor oodles of values into diagnostics"
Currently, the SH metrics generate lots and lots of values: per-UE values, throughput, smoothness in addition to the per-trace responsiveness and efficiency. Soon, long-idle-tasks.

After discussion with @natduca and @eakuefner , these metrics should be refactored to only output the per-trace responsiveness, efficiency, and hazard values. These values' diagnostic dictionaries should include the pe

[2016-03-25 21:56] benshayden commented on #2183
Related: #2180 .

[2016-03-25 22:01] eakuefner commented on #2183
In a word: yes.

I intend to write a lot more about this and link it from the TBMv2 best practices doc (which I may end up splitting from the migration guide since with our close work on V8 we're seeing a lot of best practices emerge), but I think your description is a good summary of what we arrived at earlier.

[2016-03-25 22:24] qyearsley commented on #2182
Good question -- in theory, anything that's logged with quick_logger could be fetched by anyone currently. For example, without visiting the group_report page for an internal bug, I could see the logged bisect results: https://chromeperf.appspot.com/get_logs?namespace=bisect_result&name=596487.

So far, practically all of such logs just contain links to started bisect jobs -- but after [bug 477448

[2016-03-26 19:08] qyearsley commented on #1898
Alright, now we have proper results from running the experiment in this doc:

https://docs.google.com/document/d/1Qn2S4IM_od7wHKITuLhDjUeBv26aQeraYcLVTcunCxE/edit#

A few quick conclusions from the results:
 * If we switched to min_steppiness = 0.4 we'd have about 20% more alerts than now, if we switched back to min_steppiness = 0.3 we'd have about 50% more alerts than now.
 * Many of the alerts i

[2016-03-26 19:15] qyearsley opened #2184 "Inconsistent information about alerts overlapping when associating alerts with bugs."
Original issue reported by skyostil: https://bugs.chromium.org/p/chromium/issues/detail?id=586461

The yellow highlighting in that "associate with existing bug" dialog box and the warning "Alerts in bug X do not have overlapping revision range" is inconsistent.

Notes from the original bug:

[2016-03-26 19:18] qyearsley commented on #1693
Note: after that patch in Dec 2015, we haven't had many alerts marked as "recovered"; it's possible that that _IsAnomalyRecovered should be made less strict so that it marks more alerts as recovered, but the original implementation of _IsAnomalyRecovered is probably more complex than we want here.

[2016-03-28 02:53] nedn commented on #2178
@benshayden

[2016-03-28 15:06] anniesullie commented on #2182
Is there a way to get results from bench_find_anomalies without using quick_logger? Even just the public results?

[2016-03-28 15:44] qyearsley commented on #2182
The results are also logged using logging.debug now, so making it not store results with quick_logger would be a matter of just removing [_AddReportToLog(results)](https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/bench_find_anomalies.py#L236).

`bench_find_anomalies.py` could also be changed to store the results in some other way, e.g. using layered_cache.

[2016-03-28 16:20] qyearsley opened #2185 "/update_bug_with_results failed to update"
Several Bisect FYI jobs failed on March 27 because the dashboard failed to update bugs with bisect results. Looking at the dashboard logs, there was a series of errors on March 25 and 26: [Dashboard logs for errors on /update_bug_with_results](https://console.developers.google.com/logs?project=chromeperf&service=appengine.googleapis.com&key1=default&key2=clean-qyearsley-e4ea7d57&logName=appengine.

[2016-03-28 16:34] vuppalapu commented on #2185
Dashboard marks the bug has duplicate if the culprit already detected in another bug. In case of FYI jobs, there is a separate bug created for each of the platform, since all the jobs points to same culprit the respective issues are marked as duplicate.
I think Monorail is treating duplicate bugs as closed and rejecting bug update on them.

[2016-03-28 17:18] benshayden commented on #2178
This code precedes me, so I'll be doing a bit of guessing and consulting Nat.

I can see how it might be convenient for ChromeRendererHelper to guarantee that it always has both a main thread and a compositor thread.

I can also see how there might be situations where we want to be able to use the helper even if we didn't trace cc (because it's super noisy), or if we only traced cc so that we don'

[2016-03-28 17:23] anniesullie commented on #2185
Thanks, Prasad!

We have gotten a feature request in the past from folks who work on widespread performance regression CLs to have a label they can add to a bug that tells the bisect "do not dupe this bug". Maybe we could implement that, and use it to prevent this issue?

[2016-03-28 17:25] benshayden commented on #2178
If you want, in the mean time, you can bypass the helpers and use the model and its processes and threads directly. The helpers are designed such that it should eventually be trivial to switch code from using the model directly to using the model helpers.

Eventually, though, we need to reconcile your metrics with the LoadExpectation, though that can happen after you land your metrics.

[2016-03-28 17:27] benshayden commented on #828
Ping? Wontfix?

[2016-03-28 17:39] natduca commented on #828
Yeah Wontfix

[2016-03-28 17:39] #828 closed

[2016-03-28 18:49] natduca commented on #2177
@eakuefner

[2016-03-28 18:53] eakuefner commented on #2177
@simonhatch

[2016-03-28 18:55] eakuefner commented on #2177
Looks like bashi has the fix in https://codereview.chromium.org/1831253002

[2016-03-28 19:26] zeptonaut opened #2186 "Remove flexible line handler system in ftrace_importer.html"
`ftrace.html` has a flexible line import system that's quite a bit different from other importers. Functions can register themselves to be called when an event with a specified `eventName` is called. In `FtraceImporter.registerDefaultHandlers_()`, it registers a whole bunch of handlers for different types of lines.

... and then there's only one function that uses this handler system: `FtraceImpor

[2016-03-28 20:16] zeptonaut commented on #2186
Upon second look, I was wrong - this infrastructure is *very* used, by just about every file in [linux perf](https://github.com/catapult-project/catapult/tree/aaec19dbced245a79e19ed76fc086aa6ad8dded0/tracing/tracing/extras/importer/linux_perf). Closing this bug.

[2016-03-28 20:16] #2186 closed

[2016-03-29 00:35] anniesullie opened #2187 "Data stoppage alerts not always properly marked recovered"
Example:
https://chromeperf.appspot.com/group_report?bug_id=591846

These all have new data, but about half of them are not marked recovered.

[2016-03-29 01:44] nedn commented on #2138
Assign this bug to Kari for migrating dev_server to use dependency_manager for fetching canary & reference.

[2016-03-29 13:13] skyostil opened #2188 "Input latency graph challenges notions of space and time"
Steps to reproduce:

1. Open this trace file (taken from a Chrome on a Nexus 6P): https://drive.google.com/open?id=0ByyxMXB38gLDcWZiSHNsOVBoV1U
2. Open the input latency panel on the right.
3. Notice that there are several latency values for the same point in time:

![input_latency_wut](https://cloud.githubusercontent.com/assets/118517/14108932/6f8b95b2-f5b7-11e5-928c-ab9f6aa811ba.png)

[2016-03-29 16:14] eakuefner commented on #2177
This is **done**. Thanks @bashi!

[2016-03-29 16:14] #2177 closed

[2016-03-29 17:41] natduca commented on #2188
Rofl. Calling @bensha

[2016-03-29 17:50] benshayden commented on #2188
Looking.

[2016-03-29 17:52] skyostil commented on #2188
Oops, here's the actual link to the trace: https://drive.google.com/open?id=0ByyxMXB38gLDRmpVdy1CVVBLOE0

[2016-03-29 17:58] benshayden commented on #2188
Not sure if it's related, but there's also an Illegal Invocation in tr-ui-e-s-input-latency-side-panel.updateContents_ at line 280: `this.frametimeChart_.style.display = 'block';`

Also 2 Security Errors `Failed to execute 'pushState' on 'History'` in Polymer.updateBrushedRange_ since it's a file: URL.

[2016-03-29 18:18] benshayden commented on #2188
Those errors were unrelated. The latencyData is unsorted. It's generated by a loop over the latencyEvents returned from browserHelper.getLatencyEventsInRange().

So, we can repair the laws of causality and relativity either by sorting the data in the LineChart, or the side panel, or the ChromeBrowserHelper, or some subset of the three.

Relatedly, the frame time chart does not have this problem be

[2016-03-29 18:32] natduca commented on #2188
Is there a simpler fix that can just make this bug go away where we just sort the stuff in the latency panel before handing it to the chart? I agree there're bigger things around sorting in the helpers etc, but IMO thats a separate codehealthish bug.

[2016-03-29 18:45] benshayden commented on #2188
Sorting the results in ChromeBrowserHelper.getLatencyEventsInRange would be just as simple as sorting them in the side panel, but it would also help other callers like layer_tree_impl.
Agreed that any more general solution is a separate code health bug.

[2016-03-29 19:03] zeptonaut opened #2189 "Telemetry traces should contain metadata about what clock they're using"
Telemetry traces should contain metadata about the clock that Telemetry is using as the source of trace event timestamps. The purpose of this is to help trace viewer identify which clock a trace in the trace event format is using. This will be needed in order to make power tracing work for Telemetry.

([Link to corresponding Chrome bug, which has more details.](https://bugs.chromium.org/p/chromium

[2016-03-29 19:08] chrisphn commented on #2122
@qyearsley I was wondering if there's rollback since [splitting update_test_suites ](https://github.com/catapult-project/catapult/commit/ff3b6b40b4eb5eb357e6d97356fc5ecbd89be244),  I don't see two /update_test_suites cron jobs.

[2016-03-29 19:08] zeptonaut commented on #2189
A few things that I forgot to mention in the original bug:

The preferred format of this is:

[code]

where `clock-domain` is one of `LINUX_CLOCK_MONOTONIC` (Linux), `MAC_MACH_ABSOLUTE_TIME` (Mac), `WIN_QPC` (Windows high-res), `WIN_ROLLOVER_PROTECTED_TIME_GET_TIME` (Windows low-res), or `IOS_CF_ABSOLUTE_TIME_MINUS_KERN_BOOTTIME` (iOS, although this probably isn't necessary for Telemetry).

[Here]

[2016-03-29 19:12] chrisphn commented on #1874
I do see the link attached in the bisect report.

List of marked bad bisect can be viewed here (non atm):
https://chromeperf.appspot.com/get_logs?namespace=bad_bisect&name=report

[2016-03-29 19:12] #1874 closed

[2016-03-29 19:39] #1940 closed

[2016-03-29 19:44] eakuefner opened #2190 "Add findTopmostSlices to event_container"
When writing metrics, one often wants only to iterate on events matching a predicate, or named a certain way. There's also the issue that frequently we want only to match the topmost slice that matches a predicate, so these helpers should have a strategy that avoids descending into children once a match has been found.

This work entails two parts:

1. Add `eventPredicate` to all implementations o

[2016-03-29 20:44] lpy opened #2191 "corner case in filterArray doesn't work"
An example from this test cast https://github.com/catapult-project/catapult/blob/master/tracing/tracing/base/range_test.html#L350

If we modify it to

[code]

I think this is supposed to pass, but it fails because `filterArray` returns only [{start: 2}]. Looks like we may have a bug in the binary search in filterArray? @chiniforooshan Could you verify this? If it's a bug I think I have a quick fix

[2016-03-29 21:02] qyearsley commented on #1874
Excellent :-) I hope this is useful.

[2016-03-29 21:05] chiniforooshan commented on #2191
It's a bug!

[2016-03-29 21:06] lpy commented on #2191
Thanks for the confirmation.

[2016-03-29 21:07] qyearsley commented on #2122
Looks like there wasn't a rollback, but the project cron job list isn't updated until `appcfg.py update_cron` is run. Just ran that, and now I see the two separate update_test_suites entries at https://console.developers.google.com/appengine/taskqueues?tab=CRON&project=chromeperf.

[2016-03-29 21:13] chrisphn commented on #2122
Ah I see.  Thanks

[2016-03-29 21:43] eakuefner commented on #2103
This is **done**.

[2016-03-29 21:43] #2103 closed

[2016-03-30 00:11] natduca commented on #2189
Bit confused how this works when you have chrome emitting this data too...

[2016-03-30 03:07] anniesullie opened #2192 "Catapult roll failing due to telemetry test failures"
https://catapult-roll.skia.org/
Example output:
https://build.chromium.org/p/tryserver.chromium.linux/builders/linux_chromium_rel_ng/builds/203555
[code]

@nedn I suspect https://codereview.chromium.org/1836413002 or https://codereview.chromium.org/1838863002 can you take a look?

[2016-03-30 04:39] nedn commented on #2138
+Kari: can you work on this soon-ish? This is hurting our productivity/ products' stability really badly.

[2016-03-30 14:32] petrcermak commented on #2139
The script has __landed__ :tada:

Sample usage:

[code]

[2016-03-30 14:32] #2139 closed

[2016-03-30 14:32] zeptonaut commented on #1606
It looks like ETW also has some clock sync functionality: [link](https://github.com/catapult-project/catapult/blob/4884564bbfac31b82d82bbe68217d59e2fcad8f7/tracing/tracing/extras/importer/etw/etw_importer.html#L353)

[2016-03-30 15:08] wangzhen127 commented on #1606
Does that indicate there is some implicit clock sync for ETW going on?

[2016-03-30 15:34] zeptonaut commented on #1606
It looks like it's explicit. Some ETW event looks like:

[code]

The ETW importer then shifts all other events according to the difference between the two.

[2016-03-30 15:46] nedn commented on #1606
So those event aren't used for syncing ETW's clock against the controller's clock but for syncing its clock against QueryPerformanceCounter clock?

[2016-03-30 16:44] zeptonaut commented on #1606
QueryPerformanceCounter is the high-res monotonic clock that Chrome uses on Windows, so I think that syncing against QPC and syncing against the controller's clock are the same in this instance.

[2016-03-30 16:54] zeptonaut opened #2193 "Failed import for ftrace file"
@wangzhen127 alerted me to this one.

It appears that ftrace files that were being imported successfully before are now failing to import with the following error:

[code]

Investigating now.

[2016-03-30 17:10] lpy commented on #2191
This is fixed.
CL: https://codereview.chromium.org/1837043004/

[2016-03-30 17:10] #2191 closed

[2016-03-30 17:17] zeptonaut commented on #2193
It looks like the cause of this is that there are really *two* possible formats for the trace event format.

The first looks like this:

[code]

This format is a Javascript _array_ of trace events that's written out to a file.

The second looks like this:

[code]

This format is a Javascript *object* that's written out to a file, which has to contain at least one field: `traceEvents`. The `TraceEv

[2016-03-30 17:29] nedn commented on #1606
Correct. But I think that code also need to be updated, for cases like telemetry/systrace being the controller and not Chrome.

[2016-03-30 18:30] zeptonaut commented on #2193
So it looks like there's a second problem here as well. Even when the ftrace file *contains* a "controller" trace (i.e. `traceEvents: [...]`), the trace loading fails with the error message:

[code]

@wangzhen127 pointed out that the atrace files contain a clock sync that's missing in the ftrace JSON file:

[code]

This is indeed the cause of the error message that we're seeing. Basically, when `F

[2016-03-30 18:37] zeptonaut commented on #2193
Closing this now, as I don't think there's anything to do on the trace viewer end.

[2016-03-30 18:37] #2193 closed

[2016-03-30 18:45] zeptonaut commented on #1606
Agreed. I have it on my list of TODOs (after the ftrace importer and the BattOr importer).

[2016-03-30 23:07] nedn commented on #2192
Fixed.

[2016-03-30 23:07] #2192 closed

[2016-03-31 04:40] nedn commented on #2189
Nat: the way telemetry output trace data is currently this:
{
   "traceEvents": [...]  # <- Chrome trace part
   "battor": [.....],
   "telemetry": [....], # <- Telemetry traces, using the same format as traceEvent
}
(code in https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/timeline/trace_data.py#L170)

It currently doesn't have the "meta-data" part yet. And it's unclea

[2016-03-31 05:17] natduca commented on #2189
Hmmm thats interesting! Yeah, maybe if we do that then we should have a
multi_trace_importer.html that recognizes this as a compound file format or
something. I think we should do a 30min design session tomorrow on how
telemetry übertrace and this all work together. The problem here is I
thought when working with charlie on clocksync is that telemetry was
outputting a zip file with all the subfile

[2016-03-31 11:11] petrcermak commented on #2139
PSA: https://groups.google.com/a/chromium.org/forum/#!topic/tracing/ymkvGM_je0U

[2016-03-31 14:01] perezju opened #2194 "Implement "Foreground" method for app_backends"
Implement method to bring an existing app/browser to the foreground. This would allow to write benchmarks that interact with several apps/browsers within a single user story.

Our current priority is to implement this for Android backends as it is needed for [crbug.com/585760](https://crbug.com/585760); but it would be useful to implement for other platforms too.

[Design doc](https://docs.google.

[2016-03-31 14:21] petrcermak opened #2195 "Create TBMv2 Memory Metric"
Chromium bug (_"Port MemoryTimelineMetric to TBM 2.0"_): https://bugs.chromium.org/p/chromium/issues/detail?id=581716

[2016-03-31 15:30] zeptonaut commented on #2189
The way that I understood things, the controller trace is supposed to go in `traceEvents` with any subtraces going in their own field. I'm pretty sure that this would make the format something like this:

[code]

This would break backwards compatibility for Telemetry traces, which obviously isn't acceptable. I don't think there's any real _reason_ why the controller trace can't be a subtrace of on

[2016-03-31 16:43] nedn opened #2196 "Create python primitive that allows interacting with android native UI with low overhead"
Recently, Juan landed a CL to devil/ that provides a way for telemetry to refer to native UI elements using their ids (https://codereview.chromium.org/1499073003/). However, that implementation used "uiautomator dump' command, which has huge overhead (~2s).

I have a prototype that allows looking up native UI with low overhead (~50ms) in https://github.com/nedn/UiSelector

It would be great for th

[2016-03-31 17:01] eakuefner commented on #2190
Actually, I think that the refactoring of the `iterate` helpers is probably orthogonal to this work, but in general we should have this parity, of being able to pass an `eventPredicate` and/or an `eventTypePredicate` to the helpers.

So now I think the approach is the following, in this order:

1. Add `findEvents` and `findEventsNamed`, that take both an `eventPredicate` and an `eventTypePredicate

[2016-03-31 17:09] benshayden opened #2197 "Efficiency diagnostic values"
Currently, the efficiency metric outputs only normalized scores. This is not very friendly for debugging.

In order to make the metric friendlier for debugging, it should output total CPU time for each UE, as well as total CPU time for each UserFriendlyCategory for each UE.

[2016-03-31 17:28] benshayden commented on #1536
This looks done based on the description and chiniforooshan's commit. Maybe file a new bug if there's still something to do here?

[2016-03-31 17:28] #1536 closed

[2016-03-31 17:33] benshayden commented on #1132
[Started](https://codereview.chromium.org/1825693003). Hold review.

[2016-03-31 18:34] nedn commented on #2189
*That being said, this would break backwards compatibility for Telemetry traces, which obviously isn't acceptable*

Actually I think we don't have to worried too much about backwards compatibility for Telemetry traces. Currently telemetry traces are output under vulcanized form, and we don't have use cases for computing TOT tracing metrics on historical data, at least yet.

Hence we can afford to

[2016-03-31 19:12] zeptonaut commented on #2189
Ah, interesting. If we're able to change it, then, I think my preference is for the first format.

[2016-03-31 19:20] zeptonaut commented on #2189
Oh - one more thing. I've always wondered - why don't we just do something like:

[code]

This prevents us from having to change trace viewer to search for a `myNewSubtrace` field in the trace event data every time that we add a new subtrace. I don't think we actually _use_ the name of the trace for anything, although it definitely makes the trace more human-readable. For that matter, why have any

[2016-03-31 19:46] nedn opened #2198 "Catapult CQ does not clean up stale *pyc files before running tests"
https://codereview.chromium.org/1848723002/ removes the python module telemetry.web_perf.metrics.repsonsiveness. It was landed successfully even though there are python tests that depend on that module. (See follow-up work in https://codereview.chromium.org/1845933002/)
I suspect the reason is because catapult cq bot does not remove stale *pyc files before it run the tests.

[2016-03-31 20:20] yoland68 commented on #2196
@case540

[2016-03-31 22:55] benshayden commented on #2169
Explain the statistical models.

[2016-04-01 01:14] lpy commented on #1954
I am doing some experimentation.
This is the original display:

<img width="1264" alt="screen shot 2016-03-31 at 6 05 52 pm" src="https://cloud.githubusercontent.com/assets/1453861/14195214/95e3783c-f76b-11e5-835b-9099c5e71222.png">

and this is what I added:

<img width="1242" alt="screen shot 2016-03-31 at 6 07 30 pm" src="https://cloud.githubusercontent.com/assets/1453861/14195224/b7808480-f76b

[2016-04-01 11:13] petrcermak commented on #2195
TBMv2 Memory Metric Requirements doc: https://goo.gl/QC7awu

[2016-04-01 11:14] petrcermak commented on #2195
Patch pending: https://codereview.chromium.org/1846953003/

[2016-04-01 14:32] perezju opened #2199 "When using --browser exact allow to use browsers with matching package name"
Currently, using

    run_benchmark --browser exact --browser-executable MyFooBrowser.apk

would fail to recognize that `MyFooBrowser.apk` is a possible Chrome browser for Android, even when the apk itself identifies correctly its package name as, e.g., `org.chromium.chrome`.

[2016-04-01 16:15] #2199 closed

[2016-04-01 16:34] natduca opened #2200 "run_metric should bail out early when an invalid metric is passed."
I went to try to use run_metric yesterday. Here's what happened:

[code]

First I read the help. That was cool. I tried the metric name and a trace. It printed a huge json blob that after I squinted enough looked like an error. I assumed the trace was busted. I changed the trace. Same error. Only then was it obvious that the metric was specified wrong.

So I tried efficiency_metric. Nope.

Oh, how

[2016-04-01 17:09] nedn commented on #1491
Won't fix since we may use RAIL's metrics to replace smoothness.

[2016-04-01 17:09] #1491 closed

[2016-04-01 17:11] nedn commented on #1076
Done by Ethan in https://github.com/catapult-project/catapult/issues/1599 already \o/

[2016-04-01 17:11] #1076 closed

[2016-04-01 17:11] nedn commented on #1228
Won't fix because we may just use Rails' metrics to replace legacy smoothness.

[2016-04-01 17:11] #1228 closed

[2016-04-01 18:20] natduca commented on #1954
This is really nice! I like this!

[2016-04-01 18:23] tednakamura opened #2201 "Perf Dashboard: allow the bug reporter to star the issue during the issue creation flow"
Chrome version: 51.0.2693.2 (Windows)
URL: https://chromeperf.appspot.com/alerts?sheriff=WebRTC%20Perf%20Sheriff&sortby=test&sortdirection=down

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):
N/A

Please describe the problem:
When viewing that dashboard with my @chromium account, new bugs that I file aren't starred by me by default, which means I don't receive ema

[2016-04-01 20:41] randalnephew opened #2202 "Add battor tracing agent to telemetry"
https://bugs.chromium.org/p/chromium/issues/detail?id=574888

We need battor tracing agent in telemetry to get power metric.

[2016-04-01 21:04] eakuefner commented on #2200
1. I agree that we should handle deserializing failures and printing the stack trace legibly.
2. If you're able to pass a filename for the metric and it works, you probably need to rebase. For what it's worth, I can't repro that at ToT and @lpy changed this in #2098 so that what you pass is the name of a registered metric (since we introduced `all_metrics.html`.

We should update the help text to

[2016-04-01 21:19] eakuefner commented on #2159
We should also use this technique to allow `run_metric` to bail out early, as pointed out in https://codereview.chromium.org/1849183005

@natduca

[2016-04-01 22:17] lpy opened #2203 "right arrow key navigation jumps to wrong child row in table when expanded"
Right arrow key navigation in table should jump to the first child of the current selected row, here: https://github.com/catapult-project/catapult/blob/master/tracing/tracing/ui/base/table.html#L1268 , we set the first child of the current row as the next selected row, and then update the view.

But because we sort children of the current row here: https://github.com/catapult-project/catapult/blob

[2016-04-02 02:32] yuhao opened #2204 "Flow events are not painted correctly"
When selecting a flow event it is not painted correctly as there are two lines painted. See picture below

![screen shot 2016-04-01 at 9 27 19 pm](https://cloud.githubusercontent.com/assets/989505/14223935/a963fe96-f850-11e5-99d4-b8a9df7a74e8.png)

This happens on Version 49.0.2623.110 (64-bit) on Mac. Oddly, I didn't see this on Version 49.0.2623.108 on Ubuntu.

I suspect this is not a trace view

[2016-04-02 02:59] lpy commented on #2203
This is fixed.
CL: https://codereview.chromium.org/1852893002/

[2016-04-02 02:59] #2203 closed

[2016-04-04 10:54] perezju opened #2205 "SurfaceFlinger failures when running memory.memory_health_plan"
A developer trying to run the memory.memory_health_plan is stumbling with the following error message when trying to run the memory health plan benchmark:

[code]

There are two issues here:

1. Try to reproduce and diagnose the issue, to see why this SurfaceFlinger is failing (the device is supposed to be a Nexus5 running L), and either fix the issue or provide a better error message.

2. Why is

[2016-04-04 11:35] #2194 closed

[2016-04-04 14:40] nedn commented on #2205
Oh, enable_platform_display_trace should be set to False by default. I think we set it to True in https://github.com/catapult-project/catapult/blob/5d8aa077881612bbdc91463ca061e9ebcf3654c9/telemetry/telemetry/web_perf/timeline_based_measurement.py#L176 when we try to port Smoothness to TBM.

[2016-04-04 14:45] perezju commented on #2205
Ok! Thanks for those pointers, will try to get a CL to disable by default, and enable for smoothness only.

[2016-04-04 14:53] nedn commented on #2205
Thanks Juan!

[2016-04-04 15:46] zeptonaut commented on #2176
Hey Ethan, any update on when you might be able to try this out?

[2016-04-04 17:06] benshayden commented on #1228
To clarify, ResponsivenessMetric does use the same discrepancy algorithm for the smoothness metric, and will use the same checkerboarding algorithm.

[2016-04-04 17:34] nedn opened #2206 "Make telemetry' discover methods behave deterministically"
Telemetry's discover module use os.walkpath discover modules & classes in module dynamically. However, these methods by default [does not guarantee](http://www.google.com/url?q=http%3A%2F%2Fstackoverflow.com%2Fa%2F18282401&sa=D&sntz=1&usg=AFQjCNFm4ibgGUhoN1KrRPtgaNKaRt-6Aw) any fix ordering, which has cause flaky & hard to debug problems such as https://bugs.chromium.org/p/skia/issues/detail?id=51

[2016-04-04 17:45] randalnephew opened #2207 "Catapult linter not catching imports out of order"
Example:
https://codereview.chromium.org/1828143004/diff2/280001:300001/common/battor/battor/battor_wrapper_unittest.py

[2016-04-04 17:56] lpy commented on #2157
I think this is fixed in Chrome Canary. So I am closing it. If anyone continues to see this issue, please feel free to reopen it.

Thanks Christian.

[2016-04-04 17:56] #2157 closed

[2016-04-04 18:04] eakuefner commented on #2176
It turns out that `Numeric` is not really a good place to start because it's heavily in flux right now.

I'm happy to push on this but we should find another place to do it -- I think you had another small class in mind?

[2016-04-04 18:51] zeptonaut commented on #2176
(We talked about this offline, and I suggested either `Event` or `PowerSample` - preferably `Event` because it's so core, as long as it works from Ethan's perspective.)

[2016-04-04 19:26] eakuefner opened #2209 "timeline_based_measurement should ignore non-scalar numerics"
In https://codereview.chromium.org/1857613002 we see that Telemetry is trying to process non-scalar numerics, and blowing up when we pass richer numerics.

Currently, we flatten `Numeric` instances to a collection `ScalarNumerics` (avg, count, total) when a `Numeric` is added to a `ValueList`, and we simply insert these scalar summaries into the same value list.

Hence, for now, Telemetry should i

[2016-04-04 19:37] nedn opened #2210 "Telemetry run_test script failed when running against android chrome browser"
Log:

$ ./telemetry/bin/run_tests --browser=android-system-chrome

Traceback (most recent call last):
  <module> at /usr/local/google/home/nednguyen/github/catapult/telemetry/telemetry/testing/run_tests.py:277
    ret_code = RunTestsCommand.main()
  main at /usr/local/google/home/nednguyen/github/catapult/telemetry/telemetry/testing/run_tests.py:109
    cls.ProcessCommandLineArgs(parser, options,

[2016-04-04 19:37] nedn commented on #2210
$ ./telemetry/bin/run_tests --browser=android-system-chrome

Traceback (most recent call last):
  <module> at /usr/local/google/home/nednguyen/github/catapult/telemetry/telemetry/testing/run_tests.py:277
    ret_code = RunTestsCommand.main()
  main at /usr/local/google/home/nednguyen/github/catapult/telemetry/telemetry/testing/run_tests.py:109
    cls.ProcessCommandLineArgs(parser, options, None)

[2016-04-04 19:43] natduca commented on #2204
Might be a graphics bug... not sure!

[2016-04-04 19:46] nedn opened #2211 "Need android bot for catapult CQ"
This is to prevent bugs like https://github.com/catapult-project/catapult/issues/2210

Our current test coverage for android is very low due to the fact of most android test are mock based. :-(

@anniesullie @jbudorick @dave-2

[2016-04-04 20:04] tednakamura opened #2212 "Perf Dashboard:"
Chrome version: 51.0.2693.2 (Windows)
URL: https://chromeperf.appspot.com/alerts?sheriff=WebRTC%20Perf%20Sheriff&sortby=test&sortdirection=down

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):
None

Please describe the problem:
1. Click the checkbox of the collapsed 20 alert row:
![twentyalerts](https://cloud.githubusercontent.com/assets/9001650/14261361/16baf826-f

[2016-04-04 20:05] tednakamura commented on #2212
(My workaround worked)

[2016-04-04 22:01] anniesullie commented on #2211
I think the current plan is to get catapult working with swarming so that we can use the swarming pool.

[2016-04-04 22:24] eakuefner opened #2213 "translate_common_values should be called common_value_helpers"
`translate_common_values` is a module full of helpers, none of which are named `TranslateCommonValues`, so the name is weird.

Probably, following the tracing convention, it would be best to call it `common_value_helpers`.

@nedn

[2016-04-04 22:24] nedn commented on #2213
lgtm

[2016-04-04 22:38] eakuefner commented on #1837
The perfbot_stats move has been done by @nedn, and the state of the art in Catapult project structure is being tracked in #1972 so this bug is very stale. Closing.

[2016-04-04 22:38] #1837 closed

[2016-04-04 22:40] eakuefner commented on #2200
We should use the machinery which will be used to fix #2159 to fix this bug too.

[2016-04-05 01:17] #2209 closed

[2016-04-05 02:21] yuhao commented on #2204
Hmm.. It seems like with traces captured with a desktop browser do not have this problem, not with traces on an Android device. I will investigate this a bit more..

[2016-04-05 09:25] perezju opened #2214 "Add a ListOfTraceValues to collect several traces of a single page"
When running a benchmark with --pageset-repeat, only the first trace of each page is kept/uploaded to dashboards.

From [crbug.com/599075](https://bugs.chromium.org/p/chromium/issues/detail?id=599075#c9):

Additionally:

@eakuefner

[2016-04-05 15:00] anniesullie commented on #2201
Implementation notes:
*  You'd want to change the `NewBug` function in [issue_tracker_service.py](https://github.com/catapult-project/catapult/blob/a8a6fb7ea065c2df8ae129ad05ac80ba6ae7cc3a/dashboard/dashboard/issue_tracker_service.py#L122).
*  Looking at the fields editor in the [monorail api explorer](https://apis-explorer.appspot.com/apis-explorer/?base=https://monorail-prod.appspot.com/_ah/api#

[2016-04-05 15:14] petrcermak opened #2215 "run_metric fails when metric doesn't fail"
I get the following output when I run <tt>../bin/run\_metric MemoryMetric trace.html</tt>:

[code]

My guess would be to replace <tt>results[trace]['failures']</tt> with <tt>results[trace].get('failures', [])</tt>, but I leave it up to @eakuefner.

[2016-04-05 16:23] tzik opened #2216 "Prevent following unwanted call-stack on flow analysis"
Hi, catapult folks.

I'd like to propose a new attribute to tracing slices: "flow_blocking", in parallel to "flow_in" and "flow_out".
Here is a proposed CL: https://github.com/tzik/catapult/commit/42e396c1bf49296e75131d40fa2a580348d40411

This will affect to the flow traversal in tracing/ui/analysis/related_events.html, and will prevent it to follow call stacks beyond the "flow_blocking" slice.
Su

[2016-04-05 17:24] eakuefner opened #2217 "translate_common_values needs none_value and description support"
In https://codereview.chromium.org/1857613002 we see that translate_common_values is not handling none_values correctly. Also, it's not setting the description.

[2016-04-05 17:57] chiniforooshan commented on #2216
Hi Taiju,

It depends on what we expect "following" or "preceding" events to mean. If
we expect them to show events that are caused by or are dependent on a
specific event, then I think the root problem is that toplevel flows don't
always represent a causality or dependency relation as you explained. Then,
I don't think introducing "flow_blocking" is the right solution, because we
don't want to bl

[2016-04-05 18:18] #2213 closed

[2016-04-05 18:18] #2217 closed

[2016-04-05 19:05] #2215 closed

[2016-04-05 19:26] anniesullie commented on #2198
This should be **fixed**.

[2016-04-05 19:26] #2198 closed

[2016-04-05 20:46] nedn opened #2218 "Telemetry should make it clear that PageTest is legacy"
Few teams use telemetry's PageTest to write benchmarks without being aware that it's deprecated. By the time they get to code reviewer, it's usually late, leading to wasteful engineering efforts. We should make it very clear that PageTest architecture is _legacy_.

So to make it clearer, I think we can:
- Rename PageTest to LegacyPageTest.
- Update the docstring of LegacyPageTest to point to go/tb

[2016-04-05 21:14] tzik commented on #2216
Nice to read it. Let's discuss it in the convergence.

Yeah, it's not the best to follow the toplevel flow to get the causality graph. We should ignore some flow (and some slices on the call-stack as well) to get meaningful one.

[2016-04-05 21:35] Apeliotes commented on #2175
Monorail API's v1 needs a whitelisted account to get this information. Pinging the monorail team about next steps for using the API.

[2016-04-05 22:06] randalnephew opened #2219 "Split StopTracing and collection of tracing data"
Currently, collection happens during the stopping of trace data. This needs to be separated so that traces do not run while other trace data sets are being collected.

crbug: https://bugs.chromium.org/p/chromium/issues/detail?id=597650

[2016-04-05 22:14] nedn commented on #2138
Status update in https://docs.google.com/document/d/1u0W7I2YYlPf5dw8dJXt4qL-FV6LtAJx5UWYtRet2s8M/edit?ts=57043822 (Googler only)

[2016-04-06 02:20] #2206 closed

[2016-04-06 02:20] #2210 closed

[2016-04-06 02:23] #2200 closed

[2016-04-06 14:36] nedn opened #2220 "Cyclic dependency when tab import action_runner"
telemetry.internal.browser.tab
-> telemetry.page [implicit to import telemetry.page.action_runner]
-> telemetry.page.shared_page_state
-> telemetry.internal.browser.browser_finder
-> telemetry.internal.backends.chrome.android_browser_finder
-> telemetry.internal.backends.chrome.android_browser_backend
-> telemetry.internal.backends.chrome.chrome_browser_backend
-> telemetry.internal.backends.chrom

[2016-04-06 14:48] zeptonaut opened #2221 "Import fails for a BattOr trace on Chrome Canary"
Right now, when you record a BattOr trace on Chrome Canary, it fails with an error similar to this:

This is _definitely_ my fault. The reason for this is that Chrome is now writing data to the trace metadata field to specify its clock domain. However, I haven't actually added the Chrome clock domains as valid ones yet, so when it tries to issue the BattOr clock sync marker with its clock domain,

[2016-04-06 14:49] zeptonaut commented on #2221
I sent out an email to the people that are likely to be affected by this that apolgizes and explains that a fix is in the pipeline and should be in Chrome Canary by tomorrow.

[2016-04-06 15:06] eakuefner commented on #2159
This is **done**.

[2016-04-06 15:06] #2159 closed

[2016-04-06 15:42] eakuefner opened #2222 "Add min/max/std for Numeric"
We need to track min, max and stddev in `Numeric`. http://www.johndcook.com/blog/standard_deviation/ will probably be helpful here.

@petrcermak @primiano @perezju

[2016-04-06 16:07] #2221 closed

[2016-04-06 16:23] fmeawad opened #2223 "devtools Object Snapshot are not display in tracing"
Record a trace with "disabled-by-default-devtools.timeline.picture" category enabled.
Click on one of the green dots that represents an Object Snapshot
Ouptut: Details panel is empty
Expected output: Details panel showing the Object Snapshot

JS Error:
[code]

[2016-04-06 17:10] chiniforooshan commented on #2223
Could it be because of [this](https://codereview.chromium.org/1755413003) bug? If you send me the trace I can check if patching that CL fixes the issue.

[2016-04-06 17:43] fmeawad commented on #2223
I do not think so, the C++ side should populate the "items" list [here](https://code.google.com/p/chromium/codesearch#chromium/src/cc/playback/display_item_list.cc&l=247). But I am suspecting that @primiano changes in this [CL](https://codereview.chromium.org/1354493003/) may have caused it not to be written properly.

You can find the trace I am testing with shared [in drive](https://drive.google

[2016-04-06 18:00] primiano commented on #2223
Hmm that was 6 months ago.
@petrcermak any ideas?

[2016-04-06 18:22] petrcermak commented on #2223
I don't think it's @primiano's change (there doesn't seem to be dot expansion involved here).

From what I can see, the <tt>items</tt> array might not be added to the dictionary if [<tt>include_items</tt> is false](https://code.google.com/p/chromium/codesearch#chromium/src/cc/playback/display_item_list.cc&l=246), which is the case when [the "cc.debug.display_items" tracing category is not enabled]

[2016-04-06 19:21] benshayden commented on #2178
@nyaxt Can you close this issue if that commit helps, or let me know if there's anything else needed here?

[2016-04-06 19:40] anniesullie commented on #2148
I landed the CL to update the custom metrics to the new API. We should get notifications if the reporting breaks.

[2016-04-06 19:40] #2148 closed

[2016-04-06 20:10] #2183 closed

[2016-04-06 20:10] #1242 closed

[2016-04-06 20:12] lpy commented on #1766
This is fixed.
CL: https://codereview.chromium.org/1841993004/

[2016-04-06 20:12] #1766 closed

[2016-04-06 20:13] lpy commented on #1954
This is fixed.
CL: https://codereview.chromium.org/1860443004/

[2016-04-06 20:13] #1954 closed

[2016-04-06 20:14] benshayden opened #2224 "Invert hazardMetric to inputReadinessMetric"
I shared a doc for folks to discuss this. I'll copy some of it here for posterity.

Currently, there is a brand-new TBMv2 system health metric named “[hazard](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/metrics/system_health/hazard_metric.html)” that conceptually represents the risk that the responsiveness of a hypothetical input gesture would be impacted by long tasks

[2016-04-06 22:33] nyaxt commented on #2178
Thanks! The commit fixed my issue!

[2016-04-06 22:33] #2178 closed

[2016-04-06 22:34] fmeawad commented on #2223
I confirm that you need both categories to get that displayed properly, it is counter-intuitive.
We can:
1. Require both categories to generate the list in the first place
2. Update the UI to display the Pictures only without the list if the list is not available (+ a warning)
3. Update the UI to indicate that both categories should be enabled to get the correct display list.

Regardless, if you a

[2016-04-07 08:35] perezju commented on #2205
Fixed!

[2016-04-07 08:35] #2205 closed

[2016-04-07 12:03] zeptonaut commented on #1499
https://github.com/catapult-project/catapult/issues/2165 is a beter tracking bug for this.

[2016-04-07 12:03] #1499 closed

[2016-04-07 12:06] zeptonaut commented on #2147
I talked to @Alex319 about this, and it looks like just setting `name` parameter of the clock sync event will work, like:

[code]

[2016-04-07 12:06] #2147 closed

[2016-04-07 12:25] zeptonaut opened #2225 "Create an importer for the trace container format"
We now have a consensus on a format for stuffing multiple traces into a single file ([link to spec](https://docs.google.com/document/d/1a8c0tQGlwQapTruWoJTQz8n3kjwIcPnx4mnCBvi_guI/edit#)).

Now we need to go ahead and implement an importer for that format. In the long run, we'd like to move as much of the non-trace-event-importing from `trace_event_importer.html` into that file. For now, it probab

[2016-04-07 12:26] zeptonaut commented on #2189
[Here's](https://docs.google.com/document/d/1a8c0tQGlwQapTruWoJTQz8n3kjwIcPnx4mnCBvi_guI/edit#heading=h.fm3bwr9tahnb) a doc created based on the decisions made in the meeting yesterday.

There's quite a bit of work to be done based on the decisions we made. Probably the easiest place to start is to create a trace container importer within trace viewer, which I've created a tracking bug for [here](

[2016-04-07 12:30] zeptonaut commented on #2225
Once this is done, we should also update the [trace event format spec](https://docs.google.com/document/d/14nUsnQA4YU9wP0BM106pk8oKHYuPv4C9fbyOrpt8G9A/edit#) to include a strong suggestion to use the trace container format for stuffing multiple traces into a file.

[2016-04-07 13:05] petrcermak commented on #2223
1. Not sure what the precedent is here, but I would personally avoid introducing cross-dependencies between categories if possible.
2. This seems like the __best option__ to me: Make the UI more robust and tell the user what they need to do to get the list.
3. I don't see any benefit of this option over 2.

[2016-04-07 13:16] petrcermak commented on #2165
I suppose arrow functions can now (after more than 2 weeks of no downstream breakage reports) be marked as "stable". Perhaps we should have a Catapult guide on which ES6 features are considered "safe".

[2016-04-07 15:25] nedn opened #2226 "Failure of a test suite blocks other suites from running in catapult CQ"
For example:
https://codereview.chromium.org/1857173002/ fails because of dev server flakiness problem (https://github.com/catapult-project/catapult/issues/2138). The dev server test failure, however, also block further test suite from running.

Since this is telemetry-only CL, it would be great if the catapult CQ still run telemetry tests regardless of dev server tests' failure, so the cl author

[2016-04-07 15:25] nedn commented on #2226
@anniesullie I suspect this could be a few line changes to the catapult cq recipe. Can you confirm?

[2016-04-07 15:29] nedn commented on #2138
The dev server tests are failing again today on stable channel, blocking Juan's CL: https://codereview.chromium.org/1857173002/

I don't disable the stable channels because that's the only coverage we have left for dev server tests. @Apeliotes maybe we can prioritize moving the dev server tests to use the stable browser binaries in https://github.com/catapult-project/catapult/blob/master/catapult_

[2016-04-07 16:23] paulirish commented on #1954
Nice work!

I have a bug open for eliding filenames in the big hashes (like what we see
on github.com).. But that's quite superficial. :p

This change is quite nice. Good stuff
On Apr 6, 2016 1:13 PM, "Peiyong Lin" <notifications@github.com> wrote:

[2016-04-07 16:32] natduca commented on #1954
Can you reference the bug #?

On Thu, Apr 7, 2016 at 9:23 AM, Paul Irish <notifications@github.com> wrote:

[2016-04-07 17:32] benshayden commented on #1540
Ethan, you're working on this, right?

[2016-04-07 17:33] petrcermak opened #2227 "Catapult CQ down"
:fire: :fire: :fire:

https://build.chromium.org/p/tryserver.client.catapult/builders/

@anniesullie @nedn

[2016-04-07 17:43] nedn commented on #2227
@Apeliotes

[2016-04-07 17:52] benshayden opened #2228 "Ensure responsiveness metric shows a regression in case where doghouse project found regressions"
Folks like dominicc are experimenting with ways to isolate frames in separate renderer processes. The new enable-top-document-isolation flag, for example, should improve responsiveness and efficiency.

We should play with that flag on some sites and check that the metrics bear out our expectations and check that we can explain why.

[2016-04-07 17:55] nedn opened #2229 "Add debugging utility for TBM 2.0 metrics"
@eakuefner

[2016-04-07 17:55] nedn commented on #2229
Ethan: can you update the tbm2.0 doc to include debugging guidline?

[2016-04-07 17:57] jeisinger opened #2230 "Perf Dashboard:"
Chrome version: 51.0.2700.0 (Mac)
URL: https://chromeperf.appspot.com/report?sid=f2ea09b1d88475e7071815e8da94a7c82a8c8b307a6fa06c1630af82fe39f4fe

Please copy and paste any errors from JavaScript console (Command+Option+J to open):

chart-container.html:2062 No entry r_webkit_rev in Object

Please describe the problem:

When I hover over a graph, I get an empty popup window where it should show me

[2016-04-07 17:57] jeisinger commented on #2230
funnily, by the time I entered this bug report, the error went away, and I now get the data in the popup...

[2016-04-07 18:07] eakuefner commented on #1540
Yes, this is #2190 and I'm working on it this week.

[2016-04-07 18:07] eakuefner commented on #2229
Yes, once it's landed.

[2016-04-07 18:23] eakuefner commented on #2227
I think this thread from chromium-dev is relevant: https://groups.google.com/a/chromium.org/forum/#!topic/chromium-dev/FsOMxGaufOM

[2016-04-07 18:24] nedn commented on #2229
Ooops, forgot to reference bug number.
https://codereview.chromium.org/1866043003/ is landed.

[2016-04-07 18:30] eakuefner commented on #2229
This is **done**. Added instructions to the migration guide: https://docs.google.com/document/d/1kC5ZGOYAzCIv3HJb0hrP4KTD6X1Xmf8n2-nmzbKL00s/edit#

[2016-04-07 18:30] #2229 closed

[2016-04-07 18:31] nedn commented on #2229
Thanks Ethan!

[2016-04-07 18:33] eakuefner commented on #2165
We do: https://github.com/catapult-project/catapult/blob/master/docs/style-guide.md

Charlie, do you want to update the table and close this bug?

[2016-04-07 19:12] zeptonaut commented on #2165
I'd love to!

[2016-04-07 21:07] Apeliotes commented on #2227
I'm moving it over to using the dependency manager. I'll just manually update the canary/dev builds until we get the bot running (should be in the next week).

[2016-04-07 23:28] anniesullie commented on #2230
I haven't seen this before! Is it possible the popup is scrolled out of view? If you see it again can you take a screenshot?

[2016-04-07 23:35] anniesullie commented on #2226
yep, see `always_run` here: https://github.com/luci/recipes-py/blob/master/recipe_modules/generator_script/api.py#L36

note this change would make failures slower

[2016-04-08 00:01] nedn commented on #2226
That's a good point. Since the bots resource are quite limited, probably we better handle this using isolate/swarming testing (https://github.com/catapult-project/catapult/issues/1889)
-- Won't fix --

[2016-04-08 00:01] #2226 closed

[2016-04-08 09:20] ulan commented on #2222
+1 for min/max tracking. Percentiles would be also very useful.

Since there are already several of stats, how about adding options to the Numeric constructor about what stats to report? The options object would look like:
[code]

I'd be happy to implement this feature.

[2016-04-08 10:41] petrcermak commented on #2222
I think it would be better to keep the set of tracked stats the __same across all numerics__ because _(i)_ it's not always clear which stats will be useful at the point where you emit a <tt>Numeric</tt> and _(ii)_ comparing numerics becomes unnecessarily complex. Furthermore:

- <tt>count</tt> is always indirectly tracked because you have counts for individual bins (otherwise there would be no poi

[2016-04-08 10:44] petrcermak commented on #2227
Looks like this is now fixed (patches are landing), so I'm removing the _"P0"_ label.

[2016-04-08 11:30] perezju commented on #2222
Yeah, I would also love to have percentiles, but it's impossible to compute them without keeping the full list of values.

Re: stdev, +1 for @eakuefner suggestion, this is what I implemented on the [health dashboard code](https://cs.corp.google.com/clankium/src/clank/build/aupt_tests/utils/series_summary.py?l=54).

As a side not (not for now, but something to keep in mind), at some point we will a

[2016-04-08 13:17] ulan commented on #2222
Numeric has bin counts. We can compute percentile based on that information at least approximately ignoring the underflow/overflow bins. Or am I missing something?

I agree that the implementation should be uniform and track all stats. I was referring to reporting the stats in [[link](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/metrics/value_list.html#L64)].

Most nume

[2016-04-08 14:39] anniesullie commented on #2227
Thanks, Petr! Before we close, still need to get the builds from the dependency manager updated automatically and re-enable canary tests.

[2016-04-08 15:11] nedn commented on #2227
Let's track that in https://github.com/catapult-project/catapult/issues/2138 & keep this bug about making catapult CLs landable (which is now).

[2016-04-08 15:11] #2227 closed

[2016-04-08 15:11] nedn commented on #2138
@Apeliotes Can you reenable canary tests that was disabled by https://github.com/catapult-project/catapult/commit/7d8368de94731fb423bfaa4379efd6781cbd82a8?

[2016-04-08 15:15] rschoen opened #2231 "500 error on dashboard page with lots of regressions"
https://chromeperf.appspot.com/group_report?bug_id=601790

![cbvdy154yxn](https://cloud.githubusercontent.com/assets/3644011/14388217/fbe135c4-fd61-11e5-8e67-fc986000d8fb.png)

[2016-04-08 15:28] petrcermak commented on #2195
__Done__ :tada: :tada: :tada:

[2016-04-08 15:28] #2195 closed

[2016-04-08 21:51] eakuefner commented on #2101
I'm coalescing this bug into #2102

[2016-04-08 21:51] #2101 closed

[2016-04-10 03:03] aschulm commented on #2120
@zeptonaut suggested that we just switch to internal units of Watts in order to cleanly address this problem, I agree that this is the cleanest solution, so I just put up a CL to do this.

[2016-04-11 02:26] #2165 closed

[2016-04-11 09:40] petrcermak commented on #2120
As far as I know, you are the only users of <tt>powerInWatts</tt> (please double-check this), so you can just change the unit's formatting to suit your needs.

[2016-04-11 13:22] ulan commented on #2077
The value constructor mutates the provided groupingKeys object:
`this.groupingKeys = opt_groupingKeys || {};`
`this.groupingKeys.name = name;`
This creates an implicit assumption that each Value object has a separate groupingKeys object and can lead to subtle bugs if values share grouping keys.
The constructor should probably copy the groupingKeys?

[2016-04-11 13:26] petrcermak commented on #2222
You're right, we can of course approximate percentiles.

I agree that the implementation should be uniform and track all stats. I was referring to reporting the stats in [[link](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/metrics/value_list.html#L64)].

Most numerics should use the default options for reporting, which will include all stats. However, there are cases wh

[2016-04-11 13:27] benshayden commented on #2077
@ulan git pull. I fixed that a few days ago.

[2016-04-11 13:31] petrcermak commented on #2222
You're right, we can of course approximate percentiles.

As far as I understand (@eakuefner: please correct me if I'm wrong), <tt>ValueList.computeSummaryValuesForNumericValue</tt> is only a temporary hack until Telemetry can fully handle numerics.

I see your point. This depends on whether <tt>ValueList.computeSummaryValuesForNumericValue</tt> is indeed a temporary hack, or not.

This was under t

[2016-04-11 13:44] perezju opened #2232 "fastboot.py has wrong binary name."
Looks like [some CL](https://codereview.chromium.org/1416703003) mistakenly replaced the `fastboot` binary name with `adb`.

[2016-04-11 15:59] anniesullie commented on #2128
Closing since we actually decided to move vinn back into catapult

[2016-04-11 15:59] #2128 closed

[2016-04-11 16:33] rschoen opened #2233 "Merging crbugs doesn't re-assign alerts"
I filed crbug.com/601894 on Friday, and then crbug.com/602299 today. Later I realized they were the same root issue, so I merged 602299 into 601894. However, the alerts didn't get moved over, all the ones originally assigned to 602299 are still there:

https://chromeperf.appspot.com/group_report?bug_id=602299

[2016-04-11 17:16] benshayden opened #2234 "Trace viewport position, movement, "above the fold""
Viewport movement (scrolling, flinging, scrollTo()) is a fundamental part of the experience of using Chrome. Advanced user-centric metrics such as checkerboarding would like to use movement and viewport speed as variables. We can use input latency events as approximations of when the viewport is moving, but a ground truth would be nice to have.

"Above the fold" is a related idea that Lighthouse w

[2016-04-11 17:59] eakuefner commented on #2222
computeSummaryValuesForNumericValue is a temporary hack; that's correct.

Eventually we intend that numerics should be handled directly by the dashboard.

[2016-04-11 18:13] nedn opened #2235 "Clear Tracing State should be done in browser.Start()"
Assign to @wangzhen127 when he's come back.

[2016-04-11 19:04] rschoen commented on #2233
FWIW happened again, when I merged 601797 and 601804 into 601835.

[2016-04-11 19:26] rschoen commented on #2233
I've been informed this never worked, so adding the right label :)

[2016-04-11 20:06] eakuefner commented on #2102
Based on offline discussion with @Apeliotes and @nedn it seems like next steps for getting `GetBrowserForPlatform` are to refactor the logic in `browser_finder` to be able to take into account a passed `chrome_root` and particular `platform`. We don't actually associate `Platform` subclasses with their relevant browser finders yet, but that will be part of this as well.

[2016-04-11 21:18] randalnephew opened #2236 "Add clock syncs to chrome tracing agent."

[2016-04-11 22:54] eakuefner opened #2237 "Presubmit parser chokes on arrow functions with braces"
Consider the following contrived example:

[code]

This is a completely valid syntax for an arrow function which executes statements (as compared with the syntax where for example you use () instead of {} to return an expression) but our linter chokes.

A workaround for single-statement expressions which I use in `slice_test` in https://codereview.chromium.org/1877773002 is to simply use (), since

[2016-04-12 12:11] petrcermak opened #2238 "TBMv2 memory metric specifies some values without improvement direction"
The recently added TBMv2 memory metric (#2195) emits several <tt>unitlessNumber</tt> values (namely process and dump counts) where there's no clear improvement direction. Unfortunately, this causes <tt>run_benchmark</tt> to fail:

[code]

Is this intended? I suppose the short-term fix on our side is to add an improvement direction to the units.

[2016-04-12 14:03] benshayden opened #2239 "Layout Stability Metric"
A layout stability metric might measure how stable a layout is over the course of a Load. It might help find time points at which the user would think that the Load is complete, and measure how complete it is. C.f. ksakamoto's First Meaningful Paint.

The LayoutTree snapshots in disabled-by-default blink.debug.layout might already contain enough information to compute this metric.

Depending on ho

[2016-04-12 14:17] zeptonaut commented on #2237
I think the metabug here might be that we're using the closure linter. As far as I can tell, closure linter doesn't really have any plans to support ES6. The only ES6 syntax test I can find is [here](https://github.com/google/closure-linter/blob/5c27529075bb88bdc45e73008f496dec8438d658/closure_linter/testdata/tokenizer.js#L77):

[code]

The [google/closure-linter](https://github.com/google/closure

[2016-04-12 14:25] benshayden opened #2240 "Flesh out UI for FrameTreeNode and RenderFrame object snapshots"
Independently of BlameContext information, the trace viewer now contains dots for these snapshots, so clicking on them should show appropriate information in the analysis panel. Specifically, RenderFrames do not and cannot contain id_refs to FrameTreeNodes, so when they are constructed, FrameTreeNodes should set back-pointers from RenderFrames to FTNs, and those back-pointers should be clickable i

[2016-04-12 15:21] SummerLW commented on #2146
Since it is used by some people, we should keep it for now, and see if we should delete or change it later in the future.

[2016-04-12 16:20] eakuefner commented on #2238
As discussed offline, yes, values requiring improvement directions is WAI. Anyway, I think we can close this bug because of Petr's patch.

[2016-04-12 16:20] #2238 closed

[2016-04-12 17:45] eakuefner commented on #2222
Okay, coming back to this as I've been able to claw my way out of my backlog somewhat.

I think that **because** `computeSummaryValuesForNumericValue` is a temporary hack, we can afford to do what @ulan suggests as a workaround until we have a dashboard capable of reasoning about histograms in a dynamic way.

So I agree with the general plan here:

1. By convention, have an option on `NumericValue

[2016-04-12 18:37] petrcermak commented on #2077
I raised the priority of this issue because it's blocking porting memory-infra to TBMv2: https://bugs.chromium.org/p/chromium/issues/detail?id=581716

[2016-04-12 18:40] eakuefner commented on #2237
I don't think a temporary fix is possible because this is a syntax error, so any possible fix would have to hack up the Closure linter parser. I'd really like it if we could switch to eslint -- how much work would that be?

[2016-04-12 19:02] zeptonaut commented on #2237
I honestly have no idea. I spent a few minutes looking into it this morning and it looks like it has a nice API with a command line interface and such. The big question mark is what types of warnings/errors it provides compared with closure, along with how easy it is to disable/enable new ones. In my brief investigation, that looked pretty easy.

If @natduca is amenable to the idea of using a new

[2016-04-12 20:18] Apeliotes commented on #2138
I verified that dev server tests are running on canary after the last cl.

[2016-04-12 20:18] #2138 closed

[2016-04-12 20:18] Apeliotes commented on #2138
Please file a new bug or re-open if more flake is seen.

[2016-04-12 20:29] Apeliotes commented on #1816
I'm going to try re-enabling in https://codereview.chromium.org/1879163002 to see if this is still an issue.

[2016-04-12 20:46] Apeliotes commented on #1816
It passed on the try jobs once. I'm going to send it through another try job to see if it was flake. If it passes again, I'll commit and watch the CQ for a while. Assigning to myself for now.

[2016-04-12 21:22] eakuefner commented on #2190
This is **done**.

[2016-04-12 21:22] #2190 closed

[2016-04-12 21:23] eakuefner commented on #1540
I'm closing this bug because #2190 is done and it seems like this is a (really old) dupe of that bug. Please feel free to reopen, rename, and reassign if that's not correct.

[2016-04-12 21:23] #1540 closed

[2016-04-12 22:16] Apeliotes opened #2241 "Research javascript asynchronous event testing frameworks"
Consider whether there are asynchronous event testing frameworks that make sense for dashboard testing.

See https://codereview.chromium.org/1880283003/ for an example that could use one.

[2016-04-12 22:45] Apeliotes commented on #2241
Possible option: [Jasmine](http://jasmine.github.io/)

[2016-04-12 22:47] Apeliotes commented on #2241
(It may be overkill and might not work with our current testing setup though. Should be looked into further.)

[2016-04-12 23:04] lpy opened #2242 "v8 log importer should recognize and build code map for c++ symbols"
After we have the c++ symbols in v8 log, we need to teach v8_log_importer to recognize it, and at the same time, modify multi_sample_sub_view to show them up.

[2016-04-12 23:23] anniesullie commented on #2241
@natduca @zeptonaut: does trace-viewer have a pattern for unit testing asynchronous events?

[2016-04-13 06:16] eakuefner commented on #2237
So, one thing is that eslint requires node, which historically we haven't figured out how to make work.

I did some poking around and some Infra code gave me an idea: they have an approach where they basically fetch a node binary (exe on windows, archive on mac/linux) and then use it to provide npm (see https://chromium.googlesource.com/infra/infra/+/master/node/)

It seems like we should be able

[2016-04-13 07:34] eakuefner commented on #2241
It seems like there are two separate issues here:

1. How to write an asynchronous test, which is a functionality issue, and
2. A framework that provides a convenient way to assert things about callbacks without manually invoking them (e.g. by chaining and resolving promises), which is an ergo issue.

For 1., Charlie and Nat probably know more, but off the cuff here, thinking through what I would

[2016-04-13 12:13] perezju opened #2243 "devil.android.sdk.fastboot has unfulfilled dependency"
The [devil.android.sdk.fastboot](https://github.com/catapult-project/catapult/blob/master/devil/devil/android/sdk/fastboot.py#L28) module has an unfulfilled dependency on `android_sdk`, which is not listed in the [devil_dependencies.json](https://github.com/catapult-project/catapult/blob/master/devil/devil/devil_dependencies.json).

The dependency can be found on [//build/android/devil_chromium.js

[2016-04-13 12:19] perezju opened #2244 "Adding --wipe to flash_device.py causes it to hang"
Flashing a device using the command

    $ devil/android/tools/flash_device.py -v --wipe [path_to_build]

causes the device to be flashed properly. However, since wiping the device also clears adb keys from it,  the final [WaitUntilFullyBooted](https://github.com/catapult-project/catapult/blob/master/devil/devil/android/fastboot_utils.py#L113) never gets a chance to succeed.

Perhaps we should rem

[2016-04-13 14:03] zeptonaut commented on #2241
I don't know of any asynchronous testing that we do in trace viewer. Because everything's on the client, it just doesn't come up that much.

[2016-04-13 18:07] nedn commented on #1626
Is this bug dropped?

[2016-04-13 22:37] randalnephew opened #2245 "Validate battor dependency in presubmit"
Using something similar to
https://github.com/catapult-project/catapult/blob/master/telemetry/PRESUBMIT.py#L25

[2016-04-13 22:45] nedn commented on #2245
@Apeliotes I think we should move that validation script to common/bin/ ?

[2016-04-14 01:49] nedn opened #2246 "Switch the way telemetry flush dns cache on mobile"
Currently, telemetry flush dns cache on Android using 'ndc resolver flushdefaultif' (https://github.com/catapult-project/catapult/blob/21c146f4535ac113d04c8e91b4851631b147b395/telemetry/telemetry/internal/platform/android_platform_backend.py#L316)

These commands was removed back in Lollipop, we should switch the way telemetry flushing DNS cache by toggling the airplane mode instead.

[2016-04-14 04:24] nedn commented on #2246
Looks like there is nothing to do here since normally, we don't run benchmark against live site on android.

[2016-04-14 04:26] nedn commented on #2246
Actually, we may need to flush dns cache for recording mode.

[2016-04-14 04:47] nedn commented on #2246
@perezju How are you recording the monochrome benchmark?

[2016-04-14 09:50] perezju commented on #2246
The usual way, I don't do anything special there (other than *not* requesting memory dumps if tracing is not enabled, which happens when we're in WPR recording mode).

    $ tools/perf/record_wpr --browser=android-chrome dual_browser_benchmark

This causes the benchmark to play out as usual (with the two browsers), and recording/playback seems to work just fine.

[2016-04-14 10:08] ulan commented on #2222
Thanks, Ethan. That's awesome and unblocks us until better solution for dashboard arrives. I am interested in implementing the options and min/max/std. I'll upload patches shortly.

[2016-04-14 11:52] dvyukov opened #2247 "lean config is broken"
`./tracing/bin/vulcanize_trace_viewer --config=lean` on commit
623a005a3ffa9de13c4b92bc72290e7bcd1ca591 produces html that crashes with:
```trace:42 Uncaught TypeError: tr.importer.Import is not a constructor```
I've tried to add `<link rel="import" href="/tracing/importer/import.html">`, but it does not help. html starts importing but then displays blank screen.

[2016-04-14 12:53] zeptonaut commented on #2237
@Apeliotes @anniesullie

/bump on @eakuefner's question:

Do either of you dependency manager experts know how hard this would be?

[2016-04-14 12:53] perezju commented on #2243
Mostly for my own use until a proper fix is in place, the following workaround allows to run `flash_devices.py` if a chromium checkout is available at `$SRC`:

    ANDROID_SDK_ROOT=$SRC/third_party/android_tools/sdk devil/android/tools/flash_device.py -v [path_to_build]

(devil has some legacy support for env vars that, happily, allows to provide a path for the `android_sdk` dependency)

[2016-04-14 13:09] anniesullie commented on #2237
The dependency manager should be usable for this. Documentation is [here](https://docs.google.com/document/d/1Xj841C1bPCLJrxgCNBsuohLA_XV-vqAbfF0Gx0bf8qI/edit). I won't have a chance to look into it until at least next week, but Charlie if you want to take a look I'm sure Kari and I would both be happy to answer questions.

[2016-04-14 13:11] anniesullie opened #2248 "Move dependency manager documentation to markdown"
Right now it's in a Google doc: https://docs.google.com/document/d/1Xj841C1bPCLJrxgCNBsuohLA_XV-vqAbfF0Gx0bf8qI/edit

This is pretty hard to find. Should it just be in the README.md file in the dependency_manager directory? If it's too much for one file, our convention is to have a docs/ folder that README.md links into.

[2016-04-14 13:25] zeptonaut commented on #2237
Great! I'll make a note to look into this when I have a few spare hours.

[2016-04-14 13:52] zeptonaut opened #2249 "Python presubmit should enforce common pydoc formatting"
I've made a few nitpicky comments in code reviews asking people to put standard spacing in pydocs:

e.g.
[code]

should be:

[code]

(The second formatting is much more common in Catapult code.) Rather than wasting time on this in code reviews, we should just have a presubmit that enforces this.

[2016-04-14 14:02] anniesullie commented on #2249
I don't see a way to do this in pylint: https://docs.pylint.org/features.html

@dave-2 has also worked a lot on pylinting

[2016-04-14 14:48] nedn commented on #2249
According to a past thread, yapf could be the solution: https://github.com/catapult-project/catapult/issues/1854

[2016-04-14 15:10] eakuefner commented on #2176
I'm working on a big patch to convert the `Event` hierarchy to classes. I don't think we need to exercise the same caution that we did for arrow functions in terms of "stuff blowing up", so I'm fine with this being a big patch, especially since people work with `Event`s so often that making it a class should be a nice usability improvement.

[2016-04-14 15:14] zeptonaut commented on #2237
Reassigning this to @eakuefner, who thought that he might have some spare time to work on this :)

[2016-04-14 15:26] perezju opened #2250 "PushChangedFiles does not work if host paths contain symlinks"
A lot of the logic to compute and compare md5 hashes depends on having stable paths that won't change due to possible symlinks in them.

@jbudorick @agrieve

[2016-04-14 15:31] agrieve commented on #2250
I've run into this as well, although it's arguable what the behaviour should be (e.g. maybe you want to push symlinks), we don't do that atm either. So, I think we should just have it support symlinks and document it. (don't have a need to work on this myself atm though)

[2016-04-14 15:40] eakuefner commented on #2237
Two exciting points:

1. Turns out lighthouse are already using eslint: https://github.com/GoogleChrome/lighthouse/blob/master/.eslintrc
2. What's more, turns out there is already a 'google' eslint config that they extend!

[2016-04-14 16:37] lpy opened #2251 "Update v8 log importer"
Since we ported v8 log importer from v8 tools and the tools were changed, we need to update the importer.

[2016-04-14 18:44] zeptonaut commented on #2237
Nice! That _is_ exciting news!

[2016-04-14 19:58] natduca commented on #2228
Well, let me clarify: the doghouse project used railscore and railscore said "yes this  is better." People were excited.

Then, kenji went and used doghouse himself. And it was way, way way worse.

So, there exist cases where railscore did *not* predict correctly that the experience was worse. That is quite problematic.

[2016-04-14 22:10] nedn commented on #2228
How did Kenji figured out that it was way way worse?

[2016-04-15 00:36] natduca opened #2252 "TimelineView breaks when set model() is called before ready()"
We assume in the TimelineView that model will not be called until after ready(). That breaks under certain circumstances.

[2016-04-15 01:35] eakuefner commented on #2237
WIP CL: https://codereview.chromium.org/1887323002
Progress update:

1. Got node/npm working on Mac with `BinaryManager` - `w00t!` Thanks @Apeliotes for extensive help over chat.
2. Set up eslint/eslint-config-google/eslint-plugin-html and disabled a bunch of warnings Closure doesn't support (note: there's enormous fixit potential in enabling some of these warnings)

Couple of things before the pa

[2016-04-15 17:22] vmiura opened #2253 "Perf Dashboard: Test & other search boxes don't respect "." and "_""
Chrome version: 49.0.2623.108 (Linux)
URL: https://chromeperf.appspot.com/report

It's difficult to search for our benchmarks that have a format such as "smoothness.gpu_rasterization.top_25_smooth".

Examples:
- Typing "smoothness.gpu" will show results matching either "smoothness" or "gpu", for example "smoothness.maps" and "gpu_perftests".
- Typing "gpu_raster" will similarly show results that m

[2016-04-15 19:28] anniesullie commented on #2253
@Apeliotes another one to look at. This is done on purpose here, I have no idea why: https://github.com/catapult-project/catapult/blob/a8a6fb7ea065c2df8ae129ad05ac80ba6ae7cc3a/dashboard/dashboard/static/autocomplete.html#L15

If you can't find a reason or regression, should definitely remove at least ._- from that regex. I think the space allows you to search for multiple things? Still seems prett

[2016-04-15 20:12] nedn opened #2254 "Catapult trybot are stuck"
https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Mac%20Tryserver/builds/2855

[2016-04-15 20:14] nedn commented on #2254
I think this is caused by my CL in https://codereview.chromium.org/1893623002/ but someone who is knowledgeable with catapult bot should restart the tasks.

[2016-04-15 20:19] nedn commented on #2254
My tasks are cancelled now, so downgrade this issue. However, we should still implement timeout in catapult recipe.

[2016-04-15 20:23] anniesullie commented on #2254
@riannucci - Any ideas how we can make sure our generator_script recipe has some kind of timeouts set on commands? This build ran 4 hours before we killed it, I think on a per-test basis we'd want closer to a 20 minute timeout.

[2016-04-15 21:33] riannucci commented on #2254
In the master config you can set a maximum timeout (and a max timeout w/o output). It's probably set way too high right now. Keep in mind that changing these requires a master restart though, so if you set them too close to the wire, you could end up doing a bunch of restarts trying to fine-tune them. The masterside timeouts are kindof the big hammer, and usually I'd recommend setting them to 2x t

[2016-04-15 21:53] anniesullie commented on #2254
Thanks, Robbie! Do you have more information on the timeouts for the master? In the documentation I see builder_timeout_s: https://chromium.googlesource.com/infra/infra/+/master/doc/users/services/buildbot/builders.pyl.md#builder_timeout_s

That would allow us to set up a maximum timeout for the whole build, but if we got any new bots we'd need to make sure to add it to each individually, right?

[2016-04-15 23:44] riannucci commented on #2254
Yes, I think it's `builder_timeout_s`. It may be worth adding a facility to enable builders.pyl to do X seconds without output timeout too (buildbot has it, but builders.pyl doesn't seem to).

For timeout.py, yes, I think you'd want that, but let's pass the path to timeout.py to the generator script so that we don't get weird implicit dependencies. So for now, do something like:

[code]

And then

[2016-04-16 00:22] inseoun opened #2255 "Perf Dashboard:"
Chrome version: 49.0.2623.105 (Linux)
URL: https://chromeperf.appspot.com/group_report?keys=agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgIDAl930sAoM

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):

Please describe the problem:

[2016-04-16 00:24] inseoun opened #2256 "Perf Dashboard:"
Chrome version: 49.0.2623.105 (Linux)
URL: https://chromeperf.appspot.com/buildbucket_job_status/9020015222126342208

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):

Please describe the problem:

[2016-04-16 00:26] inseoun opened #2257 "Perf Dashboard:"
Chrome version: 49.0.2623.105 (Linux)
URL: https://chromeperf.appspot.com/buildbucket_job_status/9020015222126342208

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):

Please describe the problem:

[2016-04-16 00:26] #2257 closed

[2016-04-16 12:17] nedn commented on #1805
Fixed by @ulan in https://codereview.chromium.org/1883143002/

Yay, thanks Ulan!

[2016-04-16 12:19] nedn commented on #1805
Hmhh, not sure why I can't put ulan@ as the assignee.
@anniesullie

[2016-04-18 09:28] petrcermak opened #2258 "Track number of allocations in heap dumps"
The Chrome side is done: https://bugs.chromium.org/p/chromium/issues/detail?id=603648
I now need to make the UI support it. Prototype screenshot (from @ssiddhartha):

![count_alloc](https://cloud.githubusercontent.com/assets/2546601/14599604/387a0a06-0550-11e6-9d01-d689e93afecf.png)

[2016-04-18 13:15] anniesullie commented on #1805
@nedn: @ulan was not a committer. I added him, but he'll need to accept the github invitation before we can assign him.

[2016-04-18 13:19] #2256 closed

[2016-04-18 13:19] #2255 closed

[2016-04-18 14:15] ulan commented on #1805
Thanks, Annie. I accepted the invitation.

[2016-04-18 14:45] #1805 closed

[2016-04-18 15:00] petrcermak commented on #2258
Pre-requirement: https://codereview.chromium.org/1901713002/

[2016-04-18 18:05] #2105 closed

[2016-04-18 18:11] nedn opened #2259 "Make telemetry's project_config support multiple client_configs"
run_telemetry_tests in tools/perf requires 2 client configs:
catapult/telemetry/telemetry/telemetry_unittest_deps.json for the wpr test file
chromium/src/tools/perf/chrome_telemetry_build/binary_dependencies.json for binaries files built in chromium.

This is blocking https://codereview.chromium.org/1849373002/ from landing.

fyi: @Apeliotes

[2016-04-18 18:16] benshayden opened #2260 "Frame Data Side Panel"
Frameblamr is coming together. Let's showcase what it can do, and continue to drive it forward.

Before we can implement this side panel, we still need:

 * Importer needs to handle BlameContext enter/leave events ( @skyostil can you link to a bug?)
 * FrameTreeNode and RenderFrame skeletons need to bring together BlameContext data (TODO link to bug)
 * Network attribution ( @chiniforooshan can yo

[2016-04-18 19:50] lpy commented on #2251
This is done.
CL: https://codereview.chromium.org/1887233002/

[2016-04-18 19:50] #2251 closed

[2016-04-18 22:14] eakuefner opened #2261 "Use Unicode pathnames on Windows."
Due to a bug in `ZipFile.extractall`, extracting long paths from zip files can fail. See https://codereview.chromium.org/1887323002 for an example (log file: https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Windows%20Tryserver/builds/2706/steps/Node%20Smoke%20Test/logs/stdio).

Possible workaround that @nedn has proposed is the following: http://stackoverflow.com/question

[2016-04-18 22:48] benshayden opened #2262 "Split responsiveness diagnostic values back out"
Diagnostic values might be a great idea, but the dashboard isn't ready for them yet even if they are.

While the dashboard isn't ready for them yet, the diagnostic values in the responsiveness metric are unusable.

I'll split them back out to top-level values so that they are usable.

[2016-04-19 05:02] nedn opened #2263 "All telemetry test involve actual browsers failed first time"
See log:
https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Mac%20Tryserver/builds/2888/steps/Telemetry%20Tests%20with%20Stable%20Browser/logs/stdio

[2016-04-19 13:08] petrcermak commented on #2119
First patch: https://codereview.chromium.org/1888843003/

After it lands, we'll still need to:
  1. Modify all users of <tt>modelHelper.browserProcess</tt> and <tt>modelHelper.browserHelper</tt> (both will be deprecated) to support multiple browsers via <tt>modelHelper.browserHelper**s**</tt>.
  2. Figure out how Chrome will let us know which renderer processes belong to which browser process (@pr

[2016-04-19 18:36] eakuefner opened #2264 "PageTestResults should suffix story grouping keys"
In order for the current per-revision pipeline to support visualizing metrics that specify story grouping keys (like foreground/background for memory benchmarks, or warm/cold for PCv2), we need to suffix value names with story grouping keys in `PageTestResults.AddValue`, in the same place where we append the story grouping keys to the value's grouping key dict. We will ignore grouping keys that ar

[2016-04-19 19:34] Apeliotes opened #2265 "py_vulcanize should not depend on Polymer 0.5"
GetInlineScriptContentWithPolymerizingApplied relies on use of the polymer-element tag (specific to Polymer 0.5). This is hacky, and blocking the polymer migration to 1.0.

[2016-04-19 19:50] Apeliotes commented on #2265
@anniesullie

[2016-04-19 20:20] nedn commented on #2220
To mark this bug as fixed, we should remove the telemetry.page.action_runner shim once https://bugs.chromium.org/p/chromium/issues/detail?id=604861 is fixed.

[2016-04-19 20:20] nedn commented on #2265
@natduca
py_vulcanize should not know anything about polymer.

[2016-04-19 21:04] eakuefner commented on #2265
(Can we switch to using vulcanize if we make Node work on win?)

[2016-04-19 21:06] nedn commented on #2265
Ethan: that's a different experimental effort, which I think we shouldn't block this effort on it.

[2016-04-19 21:19] eakuefner commented on #2265
Fair enough, just thinking out loud :smiley:

[2016-04-19 21:23] eakuefner commented on #2237
@anniesullie mentioned that we should probably do a cursory sanity check with folks knowledgeable on security to see if it's okay to fetch node modules from the public registry on the fly like this.

@nedn was wondering if we know who the right folks to ask are yet.

[2016-04-19 21:57] anniesullie commented on #2265
Looks like this is the commit where it's added: https://github.com/catapult-project/catapult/commit/2a631e13d6ec3077b421589de1f69346db379a3d

Since Nat is out, @nedn do you have context on the high-level of what this is trying to accomplish?

[2016-04-19 22:13] nedn commented on #2265
I think this is required to deal with polymer 0.5, in which you don't have to explicitly specify the name of the template you want to register with "Polymer({...})". Since py_vulcanize strips out all the script tags of html files & put all the js content together in one file or one giant <script></script> tag, there gotta be some logic to automatically add the template name to the Polymer element

[2016-04-19 22:23] benshayden commented on #2262
@nedn @eakuefner

[2016-04-20 11:22] primiano commented on #2119
@petrcermak  filed https://crbug.com/605088 for the metdata event.

[2016-04-20 17:57] nedn opened #2266 "Drop --ignore-certificate-error flag for Chrome on Linux"
@gabadie recently landed a CL that makecertutils.generate_cert() also compatible with Chrome for Linux (https://github.com/chromium/web-page-replay/commit/706aad41fd4a7fd26c902be55c6458538d9cc90a).
We should be using this and drop --ignore-certificate-error for Chrome at least on Linux.

[2016-04-20 18:18] eakuefner opened #2267 "Rename tir_label to something sane"
In the TBMv1.5 world, we're surfacing story grouping keys using the "TBM Everywhere" machinery that we originally created to surface TBMv1 metrics on the dashboard. In particular, we're storing a concatenation of sorted story grouping keys in the `tir_label` field that used to be used to store Telemetry interaction record labels, which are dead as of TBMv2.

We should rename `tir_label` to somethi

[2016-04-20 18:19] gabadie opened #2268 "Chrome profile directory should not be stored in /tmp"
According to the [original Linux doc of tmpfs](https://www.kernel.org/doc/Documentation/filesystems/tmpfs.txt), this file system store everything in ram and the only difference from ramfs is that it allows to do memory page swapping.

you gain swapping and limit checking. Another similar thing is the RAM
disk (/dev/ram*), which simulates a fixed size hard disk in physical
RAM, where you have to cr

[2016-04-20 22:01] nedn commented on #2268
According to @eakuefner, tmpfs & /tmp is not the same thing. "/tmp" folder is just another on disk like any other folders.

[2016-04-20 22:01] nedn commented on #2268
Won't fix.

[2016-04-20 22:01] #2268 closed

[2016-04-20 22:02] eakuefner commented on #2268
(You can confirm this by running the `mount` command)

[2016-04-21 00:59] eakuefner commented on #2264
This is **done**.

[2016-04-21 00:59] #2264 closed

[2016-04-21 01:02] eakuefner commented on #2237
@anniesullie mentioned that she's met with a TPM from Infra who's given this a green light from a security perspective.

I will sync with @Apeliotes on fixing #2261 next week, and then hook eslint up to `js_checks`.

[2016-04-21 14:14] natorion opened #2269 "Perf Dashboard: Clicking revisions shows you all the graphs"
Chrome version: 50.0.2661.75 (Linux)
URL: https://chromeperf.appspot.com/

Please describe the problem:

On a page like https://chromeperf.appspot.com/alerts, any number under "revisions" should be a link
 on the graph itself: If I click on a revision, that should include the link to all the alerts for that revision.

![image](https://cloud.githubusercontent.com/assets/7190422/14712093/23b9cf82-07

[2016-04-21 14:17] natorion opened #2270 "Perf Dashboard: Comments for "Ignore""
Chrome version: 50.0.2661.75 (Linux)
URL: https://chromeperf.appspot.com/alerts

Please describe the problem:

When we ignore issues, we should be able to provide a reason for posterity. It should be the light-weight version of filing a bug, explaining there why we don’t fix it and marking it as WontFix.

Maybe it makes sense to really create a bug in the background, adding a comment automatically

[2016-04-21 14:20] natorion opened #2271 "Perf Dashboard: Different colors for triaged alerts"
Chrome version: 50.0.2661.75 (Linux)
URL: https://chromeperf.appspot.com/alerts

Please describe the problem:

Issues with assigned bugs are marked black. It would be interesting to have a color indicator about the actual status of the bug e.g.:

-Black: Still open
-Light green: Fixed
-Light red: WontFix

This would enable one to quickly identify accepted performance hits (light red). This is espe

[2016-04-21 14:24] natorion opened #2272 "Perf Dashboard: Sorting in group_report creates strange results"
Chrome version: 50.0.2661.75 (Linux)
URL: https://chromeperf.appspot.com/alerts

Please describe the problem:

Repro:
-Open https://chromeperf.appspot.com/group_report?rev=375485
-Show improvements
-Sort by "Delta %"

Observe how there are a handful of red numbers in the rightmost column. Now click any of the column headers to sort. Observe how all the red numbers but one disappear, and won't come

[2016-04-21 14:25] anniesullie commented on #2269
Apologies, I'm having trouble understanding what you mean. Is it:

1.  When you click on `388227` in that screenshot, it is a link that goes to https://chromeperf.appspot.com/group_report?rev=388227 (and if you clicked `388303` instead you would get the report for that rev)
2. When you click on `388227-388303` in that screenshot it is a link that goes to https://chromeperf.appspot.com/group_report

[2016-04-21 14:26] anniesullie commented on #2272
@Apeliotes this is the bug from the email you were cc-ed on.

[2016-04-21 14:28] natorion commented on #2269
I meant the third outcome. Thanks for clarifying.

[2016-04-21 14:33] anniesullie commented on #2271
@Apeliotes

[2016-04-21 14:33] anniesullie commented on #2270
@Apeliotes

[2016-04-21 14:35] natorion opened #2273 "Perf Dashboard: Chromeperf only renders on Chrome but no other browser"
Chrome version: 50.0.2661.75 (Linux)
URL: https://chromeperf.appspot.com/alerts

Please describe the problem:

Chromeperf graphs like https://chromeperf.appspot.com/report?sid=d56a657cd1ca3c0b0435b2b37c0c731f49f987ab5454ab1ffd63b4ee1faefa62&start_rev=381139&end_rev=383898 do not render on other browsers than Chrome.

See https://twitter.com/cpeterso/status/720079260635901953 for more context.

[2016-04-21 14:37] anniesullie commented on #2270
I like the implementation suggestion (create a WontFix bug under the hood and associate the alert with it)

[2016-04-21 14:38] anniesullie commented on #2273
@Apeliotes let's take a look at this during polymer 1.0 migration--I think we are missing a script include for the polymer polyfill.

[2016-04-21 17:32] nedn opened #2274 "Telemetry should avoid using port 65535 when create a static server"
Chrome will error out if the local host uses port 65535 (see https://bugs.chromium.org/p/chromium/issues/detail?id=605367#c4)

[2016-04-21 20:22] nedn opened #2275 "Need a long term solution to simplify the process of rolling systrace into the Android sdk"
Currently, `catapult/systrace/` depends on many other modules in catapult, those are:
`catatapult/catapult_base/`
`catatapult/common/battor`
`catatapult/common/py_trace_event`
`catatapult/devil`
`catatapult/telemetry` (wattt?)

This makes it's quite difficult to cleanly roll systrace/ project into Android sdk. I worries that in the long run, more dependencies will sneak in & make it even harder fo

[2016-04-21 20:38] ChrisCraik commented on #2275
Yes, it's storage size. Android SDK/platform tools copy that I have (sdk 6.0 rev 3) is 9mb, with the systrace directory being 1.1mb. Catapult is > 300mb, which would be a huge increase in download size for the vast majority of Android devs that don't use command line systrace.

We could also consider something like a dependency blacklist - third_party/, telemetry/, tracing/, and perf_insights/ mak

[2016-04-21 23:02] Alex319 commented on #2275
As for why systrace depends on these items:

The only dependency of systrace on telemetry is on the function
*atexit_with_log* in *telemetry.internal.util.* The *battor_trace_agent.py* in
systrace imports *atexit_with_log* in order to register a callback to
re-enable charging on the device after systrace exits. If this were not
there then the device could get stuck in a non-charging state if systr

[2016-04-22 13:13] ulan commented on #2222
Now Numeric supports tracking of min,max,std, and percentiles.

[2016-04-22 13:13] #2222 closed

[2016-04-22 16:49] #2259 closed

[2016-04-22 17:00] ssiddhartha opened #2276 "Sorting rows in memory dump details collapses all rows."
On Memory-Infra dumps, sorting the details with a column like "size" collapses all rows into top level row. This sort should happen in place.
Note: It recently stopped working.

[2016-04-22 17:03] ssiddhartha commented on #2276
@petrcermak

[2016-04-22 17:59] primiano opened #2277 "memory-infra UI does not show gpu category if contains only memtrack"
The attached trace has only gpu/android_memtrack dumps (which have no size column, only pss). If there is no other gpu/ dump with a size, the gpu column is not shown at all.

[attached trace](https://drive.google.com/open?id=0B3KuDeqD-lVJYzU5MHA1cE8xa0U)

[2016-04-22 18:41] nedn commented on #2275
@Alex319 can you remove the telemetry dependency? I think other deps are ok to keep for now.

[2016-04-22 20:41] kenrussell opened #2278 "Please provide a way to override the browser's window size upon startup"
Currently Telemetry uses the --window-size command line flag to specify the browser's size upon startup:
https://code.google.com/p/chromium/codesearch#chromium/src/third_party/catapult/telemetry/telemetry/internal/backends/chrome/desktop_browser_backend.py&q=window-size%20telemetry/&sq=package:chromium&l=246

We would urgently like to be able to override this somehow. In investigating http://crbug

[2016-04-22 20:42] kenrussell commented on #2278
CC @nedn .

[2016-04-22 21:14] nedn commented on #2278
@eakuefner , can you help?

[2016-04-22 21:15] nedn commented on #2278
@kenrussell can you put the priority label (P0/P1/P2) on the Labels section?

[2016-04-22 22:01] kenrussell commented on #2278
I don't seem to have privileges to edit labels. I'd say this is a P1 feature request. It will significantly speed up a key test on the bots and allow more iterations to be run.

[2016-04-22 23:34] nedn opened #2279 "Rename --pageset-repeat & --page-repeat to --storyset-repeat & --story-repeat"
Telemetry benchmark are about "user stories", no longer just "pages".

[2016-04-23 04:18] inseoun opened #2280 "Perf Dashboard:"
Chrome version: 49.0.2623.105 (Linux)
URL: https://chromeperf.appspot.com/group_report?keys=agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgICgxM_YvwoM

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):

Please describe the problem:

[2016-04-25 08:26] #2244 closed

[2016-04-25 08:27] #2232 closed

[2016-04-25 12:17] petrcermak commented on #2277
Fix pending (https://codereview.chromium.org/1919783002):

![memtrack_fallback](https://cloud.githubusercontent.com/assets/2546601/14783510/02ff5442-0ae8-11e6-803d-cf81ef2019e5.png)

[2016-04-25 14:03] anniesullie commented on #2280
The XHR to /group_report takes ~30s to return and has a 500 error: `HTTP response was too large: 35856827. The limit is: 33554432.`

[2016-04-25 14:43] anniesullie opened #2281 "Bad bisect links are broken"
They link to `https://chromeperf.appspot.com/bad_bisect?try_job_id=<bug_id>`. They should specify the try job id instead of the bug id.

[2016-04-25 16:59] nedn opened #2282 "Telemetry test is failing on actual windows bot"
After switching from vm to real windows bot (https://bugs.chromium.org/p/chromium/issues/detail?id=603234#c33), we are observing few telemetry failures:

https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Windows%20Tryserver/builds/2793/steps/Telemetry%20Tests%20with%20Stable%20Browser/logs/stdio

The failing tests are:
telemetry.internal.browser.tab_unittest.GpuTabTest.tes

[2016-04-25 19:32] ro-berto opened #2283 "When launching bisect jobs on windows, the command does not need to be prepended with 'python'."
Since we have moved bisect to use runtest.py instead of running the naked command sent by dashboard, it is no longer necessary to special case windows this way.

[2016-04-26 03:00] nedn commented on #2278
@zeptonaut
This works is also requires for some power benchmarks (See https://docs.google.com/spreadsheets/d/12wAZ_H7jdlshKeFzxR8tJJVMbL785iyF2HYPzAtSpMo/edit#gid=0)

[2016-04-26 05:15] eakuefner commented on #2278
I'm happy to investigate this if we have any downtime during the Polymer10 hackathon this week.

Initial thoughts are that maybe we can change the semantics of extra browser args such that if you specify an arg that core Telemetry specifies elsewhere, the value that the benchmark specifies takes precedence. Of course, this could allow benchmark authors an opportunity to shoot themselves in the foo

[2016-04-26 05:24] nedn commented on #2275
Ping @Alex319 can you remove the telemetry dependency from systrace?  Otherwise it would cause trouble for @ChrisCraik the next time he rolls systrace/

[2016-04-26 09:09] petrcermak commented on #2277
This is now __done__ :white_check_mark:

[2016-04-26 09:09] #2277 closed

[2016-04-26 14:34] chiniforooshan commented on #1537
Also, Lan Wei noticed that sometimes the domain is an empty string.

[2016-04-26 14:38] chiniforooshan commented on #1537
Link to a trace by @SummerLW with empty-domain samples:

https://drive.google.com/a/google.com/file/d/0B6aINcG6kDLXaF9PRVo0VDktRUk/view?usp=sharing

[2016-04-26 17:08] nedn opened #2284 "Move all the implementation of tracing/bin/merge_traces to a module"
@natduca  comment:
"The style in bin/ is to have the launcher script to be thin: have the
script just tweak the path and then import a module of the same name and then
call main on that.

i'd appreciate it if you could use that style here.

the reason is that this ensures that

cd bin/
./merge_traces

causes imports of other python modules have the same global python import
__name__ as if you did

[2016-04-26 17:23] Apeliotes commented on #2265
This should be done on the polymer10-migration branch as part of the current hackathon.

[2016-04-26 18:05] zeptonaut opened #2285 "Migrate tracing/ and dashboard/ to Polymer 1.0"

[2016-04-26 21:29] petrcermak commented on #2284
SGTM. I'll take care of this at some point in the (hopefully) near future.

[2016-04-27 09:01] petrcermak commented on #1461
Marking this as __closed__ (new features are filed in dedicated bugs, such as #2258).

[2016-04-27 09:01] #1461 closed

[2016-04-27 16:18] nedn commented on #2278
+1 to that.
For this case, I think we can add the browser_size & default it to the current value, and we form the browser arguments using browser_size.

[2016-04-27 17:57] #1556 closed

[2016-04-28 02:10] #2093 closed

[2016-04-28 14:24] nedn opened #2286 "Dashboard cannot handles memory 's tbmv2 metrics properly"
According to @perezju:
- Sometimes, the dropdown to select a metric does not load (as happened to Petr)
- When it loads, auto-complete seems somewhat broken, for example typing "overall" or "pss" shows nothing, I had to almost type in its entirety "memory:chrome:all:vmstats:overall:pss_avg".
- Sometimes graphs end up with the error "Failed to fetch graph data", even if the chart was already shown.

[2016-04-28 14:25] nedn commented on #2286
I assign this bug to Annie for triaging.

[2016-04-28 15:00] eakuefner opened #2287 "remote_platform_options should not be instantiated unless the platform is remote"
We should avoid constructing `remote_platform_options` in case the selected platform is not actually remote. We should probably do this by special-casing Android devices until `remote_platform_options` support is added for ChromeOS.

@nedn @rmistry

[2016-04-28 16:48] qyearsley commented on #2093
Thanks Dave :-)

[2016-04-28 16:50] qyearsley opened #2288 "Perf Dashboard: Unable to file new bugs"
Chrome version: 51.0.2704.29 (Linux)
URL: https://chromeperf.appspot.com/group_report?keys=agxzfmNocm9tZXBlcmZyFAsSB0Fub21hbHkYgICg5KPWogoM

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):
[code]

Please describe the problem:
When I click on the "new bug" button in the triage dialog (either above the alerts table or in a tooltip), nothing happens.

This is broken i

[2016-04-28 17:29] qyearsley commented on #2288
Fix is https://codereview.chromium.org/1931803004/ - fix is now live and filing bugs works with the current version

[2016-04-28 18:38] qyearsley opened #2289 "Perf Dashboard: Improvements toggle on group_reports page doesn't do anything"
Chrome version: 51.0.2704.29 (Linux)
URL: https://chromeperf.appspot.com/group_report?rev=390000

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):

[code]

Please describe the problem:
Upon clicking the "show all improvements" button, it changes color, but the URL of the page doesn't change as I expected, and the above error appears in the console.

Note, however, t

[2016-04-28 19:46] anniesullie commented on #2288
This is fixed.

[2016-04-28 19:46] #2288 closed

[2016-04-28 21:41] zeptonaut commented on #2225
Ditching this now that we've settled on an alternative format (just using .zips and .tars)

[2016-04-28 21:41] #2225 closed

[2016-04-28 22:04] zeptonaut opened #2290 "Add hotkey to select all power samples that are within the timespan of the current selection"
The [SingleAsyncSliceSubview](https://github.com/catapult-project/catapult/blob/a8a6fb7ea065c2df8ae129ad05ac80ba6ae7cc3a/tracing/tracing/ui/analysis/single_async_slice_sub_view.html) currently doesn't provide any information about how much power was consumed during that slice. @aschulm mentioned that this would have been really useful when tracing through the libvpx stuff that he did recently.

I

[2016-04-28 22:08] Alex319 commented on #2290
I can work on this issue.

[2016-04-28 23:21] benshayden commented on #2262
Nevermind

[2016-04-28 23:33] lpy opened #2291 "hitCount not showing up in find_control.html"
When open this [trace](https://drive.google.com/file/d/0B0DRpwuGZfeGVzM2LTBmeUNidVE/view?usp=sharing) and search 'github' in it using the find control, and then hit enter key to navigate through result, hitCount number is not showing up.

Expected result:
<img width="175" alt="screen shot 2016-04-28 at 4 26 06 pm" src="https://cloud.githubusercontent.com/assets/1453861/14904599/1a576fe4-0d5e-11e6-

[2016-04-28 23:52] nedn opened #2292 "Error when collecting trace data"
Platform: windows
Log: https://build.chromium.org/p/tryserver.chromium.perf/builders/winx64_10_perf_cq/builds/148/steps/v8.infinite_scroll-ignition/logs/stdio

(ERROR) 2016-04-28 13:22:32,638 tracing_controller_backend.CollectAgentTraceData:247  Error when deleting c:\users\chrome~2\appdata\local\temp\tmp4mgatc, will try again at exit.
Traceback (most recent call last):
  File "C:\b\build\slave\wi

[2016-04-28 23:53] nedn commented on #2292
Randy: can you take a look?

[2016-04-29 14:12] zeptonaut commented on #2290
@Alex319 we should get this assigned to you as soon as you've joined the Google Github org. I sent you some instructions via email.

[2016-04-29 14:56] anniesullie opened #2293 "Perf dashboard failures triaging anomalies, bugs, and bisects"
I'm getting stackdriver alerts on all three of our custom metrics (`TriageAnomalies`, `TriageBugs `, and `UpdateBugWithResults `). Some are sending recovered messages, but this still merits a high-priority investigation.

An initial look at http://go/chromeperf-errors shows several new errors with this stack:
[code]

[2016-04-29 15:08] anniesullie commented on #2293
@dave-2 the `_FormatNumber` code in the callstack was modified in https://codereview.chromium.org/1920543002.

@vuppalapu @ro-berto: We got some "alert recovered" emails, although there were no changes to the perf dashboard. Is it possible that whatever try job was causing the formatting problem is no longer being returned by the query here? https://github.com/catapult-project/catapult/blob/master

[2016-04-29 17:20] perezju opened #2294 "The semantics of --pageset-repeat is not clear"
Splitting off from [crbug/592380](https://bugs.chromium.org/p/chromium/issues/detail?id=592380)

The main point of the discussion is on whether --pageset-repeat should tear down the state (close and reopen a browser) between iterations or not.

I'll try to summarize the main contention points:

Tearing down the state:
* keeps different measurements of the same page statistically independent
* allo

[2016-04-29 17:26] perezju commented on #2294
Replying to @nedn :

When not tearing down the state, in fact, summarizing values for different results of the same page (*precisely* because they are not statistically independent) is what allows to easily spot regressions.

The `results.html`, in fact, provides a nice little red warning with the text "Detected a time dependency with slope ..." when such a leak is apparent from running the same p

[2016-04-29 17:37] vuppalapu opened #2295 "Perf issues are not updated with bisect results due to exception in update_bug_with_results."
I think this related to new formatting of bisect results https://codereview.chromium.org/1920543002/

Caught Exception ValueError: math domain error (/base/data/home/apps/s~chromeperf/dev-sullivan-69a681ae.392415948149617343/dashboard/update_bug_with_results.py:79)
Traceback (most recent call last):
  File "/base/data/home/apps/s~chromeperf/dev-sullivan-69a681ae.392415948149617343/dashboard/update

[2016-04-29 18:05] #1159 closed

[2016-04-29 18:07] benshayden opened #2296 "Design and implement a new LoadExpectation"
The two most important features are First Paint and First Meaningful Paint, but eventually the LoadExpectation should support most possible load-related metrics.

[Design doc](https://docs.google.com/document/d/1WfsxAsoHg7iixDZz2ujAu9xf8tYzgAGttIoovmRFaog/edit)

[2016-04-29 18:35] anniesullie commented on #2295
Isn't this a dupe of #2293?

[2016-04-29 18:55] anniesullie commented on #2295
Closing as dupe

[2016-04-29 18:55] #2295 closed

[2016-04-29 18:55] anniesullie commented on #2293
From offline conversation, looks like the problem is when stddev is 0.

[2016-04-29 18:59] anniesullie commented on #2293
I searched the logs for `method:GET auto_triage` and found a few failures. They appear to be transient; once the actual call to tick the custom metric failed, and once we had a timeout waiting for an instance to service the request. So I think the `TriageAnomalies` and `TriageBugs` issues are transient, and just the issue with the stack I posted above for `UpdateBugWithResults` needs to be resolve

[2016-04-29 19:58] stevenjb opened #2297 "GN: Warning in bitmaptools.cc: ignoring return value of 'FILE* freopen"
When adding //third_party/catapult/telemetry:bitmaptools to the chromiumos_preflight target in chrome/src/BUILD.gn, we get the following error:

../../third_party/catapult/telemetry/telemetry/internal/image_processing/bitmaptools.cc: In function 'int main()':
../../third_party/catapult/telemetry/telemetry/internal/image_processing/bitmaptools.cc:240:48: error: ignoring return value of 'FILE* freop

[2016-04-29 20:14] dpranke commented on #2297
I'd fix the code instead.

And, the catapult folks actually use Rietveld instead ...

[2016-04-29 20:29] anniesullie commented on #2293
Update: I added logging and this appears to be the tryjob with the problem: https://chromeperf.appspot.com/buildbucket_job_status/9014084927318289936

There is a std_dev very close to 0: https://build.chromium.org/p/tryserver.chromium.perf/builders/android_nexus6_perf_bisect/builds/2151/steps/Post%20bisect%20results/logs/stdio

[2016-04-29 20:36] stevenjb commented on #2297
It is not at all clear to me, even after a google search and scanning
through or existing code, how to "fix" the code.

On Fri, Apr 29, 2016 at 2:15 PM, dpranke <notifications@github.com> wrote:

[2016-04-29 20:37] Alex319 commented on #2290
After discussion this morning, we decided that the best way to implement this feature is not to add something to the model (as this will require adding this to lots of different views) but rather to add a hotkey that selects all the power samples from the timespan of the current selection. That way the user will only need to press one key to get the amount of power used in the timespan of the curr

[2016-04-29 20:56] zeptonaut opened #2299 "BattOr smoke test in the CQ fails but the "smoke test" CQ step remains yellow"
It looks like even after the BattOr smoke test fails:

![screenshot from 2016-04-29 16 53 32](https://cloud.githubusercontent.com/assets/1407397/14929434/56c00fe0-0e2b-11e6-854e-664643e549c3.png)

the step in the try job continues to be yellow:

![unnamed image 4](https://cloud.githubusercontent.com/assets/1407397/14929409/41f16208-0e2b-11e6-9734-4f2c4f985a0f.png)

Randy, could you look into why t

[2016-04-29 21:05] zeptonaut commented on #2290
Awesome. Thanks for the update Alex!

[2016-04-29 22:02] dpranke commented on #2297
I think the "correct" way to fix the code would be to have

stdin = freopen(NULL, "rb", stdin)
stdout = freopen(NULL, "wb", stdout)

[2016-04-29 22:08] randomascii commented on #2297
That seems like a compiler bug, IMHO. Isn't casting to void pretty much *the* standard way to say "I am intentionally ignoring this variable or return value"?

Alternately the code could be changed to be like this, or could use CHECK_NE(nullptr, freopen...)

  if (freopen(NULL, "rb", stdin)))
    return -1;
  if (freopen(NULL, "wb", stdout)))
    return -1;

[2016-04-29 22:09] Alex319 opened #2300 "Make selecting of power samples faster"
When you select a range of power samples, the code iterates through the power samples and independently checks, for each one, whether it is in the range. Since the power samples are all in order with a fixed distance between each one, it should be possible to get the correct range in a faster way to improve UI responsiveness.

[2016-04-29 22:11] dpranke commented on #2297
Fair question. Maybe I'd ask thakis@ why this is giving an error (maybe it's a gcc bug?)

[2016-04-30 09:27] dave-2 commented on #1344
Hi, @sophiasorokina, are you still interested in taking on this task?

@qyearsley @eakuefner  It's insufficient to add a suffix to the number. For example, if the units are kilobytes, rephrasing "1234567" as "1.23M" is misleading! It should be "1.23 GB". The upcoming Values system has some unit-aware formatting ability that can handle these cases. (More complex scenario: rephrasing "86417483 ms" a

[2016-04-30 23:58] qyearsley commented on #1344
Makes sense to me; I can see how 1.23M kb would be really confusing :-) Another alternative would be scientific notation, e.g.:

    1 -> 1
    123.4567 -> 123.45
    123456 -> 123456
    1234567 -> 1.234e6
    12345678 -> 1.234e7
    123456789 -> 1.234e8
    1234567890 -> 1.234e9

[2016-05-02 08:58] isheludko opened #2301 "Perf Dashboard: Can't see perf results of v8/JSTests/PropertyQueries."
This is a copy of crbug/607124.

When I try to open perf results for v8/xxx/JSTests/PropertyQueries on chromeperf.appspot.com I don't see any graphs. However if I also specify a test name I can see the graph just fine (for example, v8/xxx/JSTests/PropertyQueries/in--INTERN-prop).

I did two attempts to add PropertyQueries benchmark. The first attempt produced too many graphs so I reduced them to t

[2016-05-02 12:52] anniesullie commented on #2301
Thanks for the report! Strangely, I thought I was able to reproduce the first part (not seeing PropertyQueries in the second Subtest menu) when I read this report, but when I started to debug it the data all the sudden started showing up. Can you let me know if you're still seeing that problem, and if so, which bot?

I'll work on deleting the data that's not in the set above.

[2016-05-02 13:10] anniesullie commented on #2301
Oh actually when i was able to reproduce, I was looking at N5/N7 bots, which do not have data for this test.

[2016-05-02 14:45] nedn opened #2302 "First paint metric of pcv2 should be using load expectation"
The current implementation of pcv2's first pain metric (https://github.com/catapult-project/catapult/blob/master/tracing/tracing/metrics/system_health/first_paint_metric.html) doesn't use load expectation.
@benshayden @nyaxt

[2016-05-02 15:18] catleeball commented on #2283
Thanks for flagging this! I just made a [pull request](https://github.com/catapult-project/catapult/pull/2303) trimming the bit where bisect bot prepends "python" to commands on Windows.

[2016-05-02 16:43] anniesullie commented on #2301
All the old test data is deleted. I'm not able to reproduce the part where you can't see data on bots that have the data, but please re-open with clear repro steps (ideally checking the logs of the bot that is supposed to be uploading data, if it's just certain bots).

[2016-05-02 16:43] #2301 closed

[2016-05-02 17:11] #2077 closed

[2016-05-02 17:19] Alex319 commented on #2300
Based on some other changes that I made, it looks like the culprit is not the looping through to check what is selected, but rather just the time it takes to print out the whole table of power samples in the UI. A solution may be to just not print out that table.

[2016-05-02 17:24] benshayden opened #2304 "Rename ValueList to ValueSet"
Currently, the name "ValueList" incorrectly implies that the ordering is meaningful. It should be renamed to "ValueSet", following EventSet.

[2016-05-02 17:25] benshayden commented on #2304
@nedn

[2016-05-02 17:30] zeptonaut commented on #2300
Thanks so much for looking into this Alex!

[2016-05-02 17:57] anniesullie commented on #2293
This is now **fixed**.

[2016-05-02 17:57] #2293 closed

[2016-05-02 18:28] isheludko commented on #2301
It works now, thanks!

[2016-05-02 19:27] anniesullie opened #2305 "Perf dashboard layered_cache needs to support larger values"
We use layered_cache to store the results of slow queries, such as the subtests for a given suite/bot and the slider chart at the bottom of the larger charts. But sometimes the query results are too large to be cached. https://codereview.chromium.org/1939823003 adds a catch so that these don't error, but they're still not being cached. We need a better fix.

@Apeliotes @dave-2

[2016-05-02 19:28] anniesullie commented on #2286
I looked into this, it's definitely an issue with lots and lots of metrics.
* I uploaded https://codereview.chromium.org/1939823003 for the "overall" showing nothing
* The menus sometimes don't show up because we are trying to cache the query result, and the query result is too large. I added a workaround in the code review so that we don't see errors to my CL, but it needs a real fix in #2305 in

[2016-05-02 21:36] benshayden opened #2306 "Document and organize trace events required by metrics"
Ideally, all metrics would document which tracing categories they require, and the requirements would make sense, and the categories would not contain too many events for the metrics. Are those the goals? Are they *all* the goals? Are they the *right* goals? @vinterstum

The responsiveness metric, in particular, requires the input category if the trace might contain user input, [navigation, blink.

[2016-05-02 23:01] randalnephew commented on #2299
Problem was on windows the process hangs and crashes. We have work arounds for this, but the workaround failed when it failed during StartTracing. This problem has been fixed.

[2016-05-02 23:01] #2299 closed

[2016-05-03 01:12] anniesullie commented on #2265
This was done on the branch in https://codereview.chromium.org/1924283002/

[2016-05-03 01:12] #2265 closed

[2016-05-03 02:59] vinterstum commented on #2306
My current thinking is, coming out of the TBMv2 filters / tracing pre-filtering discussions:

I think we want the TBMv2 metrics to be explicit about all of the category:event pairs they rely on. Then this could be used for a built-in constraint in the Catapult importer, and could also be used to generate categoryfilters/pre-filters TraceConfigs, for use with Telemetry and Slow Reports.

Orthogonal

[2016-05-03 12:31] primiano commented on #2294
+1 to the general need to figure out a way to make a benchmark longer. Not sure if --pageset-repeat or something else (can a benchmark itself have args?)
Will --page-repeat tear down the state?
Also, whatever thing we end up deciding here it would be nice if it was *clearly* documented in the --help section.

[2016-05-03 12:52] primiano commented on #1344
1.234e8 bytes would make it even harder to reason about?
I am probably missing some context here. We push values to the dashboard saying that they are "bytes". Why cannot we just do the right thing and know how to scale up bytes on the dashboard (and either do nothing if the unit is already scaled, or do something similar if the unit is KB)?
I assume we know if something is pushed as "bytes" vs "K

[2016-05-03 13:11] skyostil opened #2307 "Import context events into the model"
The trace importer should parse context events and, for each slice, compute the set of active contexts. Essentially each slice will have a |contexts| property, which is a list of context object snapshots.

@benshayden

[2016-05-03 13:29] anniesullie commented on #1344
@primiano I think this is just one of those "not ready yet" things. On the trace-viewer side, @petrcermak has been doing awesome work on [units](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/value/unit.html) in the value system. We are working on refactoring telemetry and the perf dashboard so they all use the common values system shared code and these units "just work"

[2016-05-03 13:51] catleeball commented on #2283
Change was made at https://codereview.chromium.org/1939153002 , I'll close this bug out. Thanks again!

[2016-05-03 13:51] #2283 closed

[2016-05-03 15:30] catleeball commented on #2056
Talking to ellyjones@, she linked me to some helpful accessibility specs on determining if colors are readable. https://www.w3.org/WAI/GL/WCAG20/#visual-audio-contrast

We could implement a checking function to ensure the contrast ratio of the font color to the background remains below 4.5:1, or ideally modify the hashing function to only produce colors in this range.

Do you mind if I assign this

[2016-05-03 15:40] anniesullie commented on #2056
@catleeball sounds great! Please assign the bug to yourself :)

[2016-05-03 16:08] picksi commented on #2056
Can we also take red/green colorblindness into account while we're at it?
Do we have the ability to use other non-color differentiators too, i.e.
thickness, dashes, periodic dots/crosses/boxes etc?

Simon

On Tue, May 3, 2016 at 4:40 PM, anniesullie <notifications@github.com>
wrote:

[2016-05-03 16:42] catleeball commented on #2056
@picksi that would be a wonderful feature! Ideally color won't be the only differentiator to accommodate for color blindness and visual impairments. I'll continue working with the color assignment for now; would it be prudent for me to break the variant lines feature into another discreet bug?

[2016-05-03 16:46] anniesullie commented on #2056
@catleeball agreed the variant lines feature should be a separate bug. Thanks!

[2016-05-03 16:57] catleeball opened #2308 "Variant lines on perf dashboard"
From issue #2056 , @picksi suggested that we have a way other than colors to differentiate lines on the perf dashboard to accommodate for color blindness and visual impairments. This could be done with dotted lines, or with symbols marking lines such as in [this image](https://screenshot.googleplex.com/LnVDuY1nYV5.png).

[2016-05-03 17:00] skyostil commented on #2307
Rebased WIP patch here: https://codereview.chromium.org/1451143003/

[2016-05-03 17:08] zeptonaut commented on #2219
Hey Randy, are we okay to close this out now?

[2016-05-03 17:08] zeptonaut commented on #2290
Hey Alex, are we okay to close this out now?

[2016-05-03 17:10] Alex319 commented on #2290
Yes

On Tue, May 3, 2016 at 10:08 AM, Charlie Andrews <notifications@github.com>
wrote:

[2016-05-03 17:39] randalnephew opened #2309 "Add BattOr TBMv2 benchmark"

[2016-05-03 18:52] anniesullie opened #2310 "Dashboard tooltips are pretty janky"
It's hard to click a link, the legend occludes the tooltip sometimes. Let's circle back on this after the Polymer 1.0 migration.

[2016-05-03 20:39] zeptonaut opened #2311 "CPUs should belong to the device, not the kernel"
In the times of yore, there was no such thing as a `Device` in the model. Then, we realized that there were some things that made sense in the context of a device (like power usage) that didn't make sense in the context of a kernel.

However, there are still some vestiges of this kernel-only world. Right now, `Kernel` owns the CPUs, _not_ the `Device`. Similarly, the CPU tracks render under the `K

[2016-05-03 20:39] zeptonaut commented on #2311
/cc @natduca, who I talked about this with

[2016-05-03 20:50] Alex319 commented on #2311
I would be willing to take this on if we think that this is worth doing.

-Alexander Mont

On Tue, May 3, 2016 at 1:40 PM, Charlie Andrews <notifications@github.com>
wrote:

[2016-05-03 21:03] anniesullie commented on #2172
This is now **fixed**

[2016-05-03 21:03] #2172 closed

[2016-05-03 21:49] zeptonaut commented on #2311
I definitely think this is worth doing! This is the sort of thing that's going to make TBMv2 tests ways easier for others to write because there are actually sensible locations to look for data on the model.

[2016-05-04 12:58] perezju opened #2312 ""Value already has a tir_label" warnings are too spammy"
They're filling the output logs of memory health benchmark runs with lots of noise, which could make it hard to diagnose real failures.

[2016-05-04 13:27] petrcermak commented on #2312
@nedn @eakuefner

We could add a Boolean <tt>_existing_tir_label_warning_already_shown</tt> field to [<tt>PageTestResults</tt>](https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/internal/results/page_test_results.py#L24) and only display the warning once. I'm happy to implement this. WDYT?

[2016-05-04 14:08] perezju commented on #2312
Ah, I had already started with [this](https://codereview.chromium.org/1951883002/)

[2016-05-04 14:52] #2290 closed

[2016-05-04 18:08] petrcermak commented on #2258
One more patch (https://codereview.chromium.org/1949603005) and we're finished :checkered_flag::

![screenshot from 2016-05-04 19 05 38](https://cloud.githubusercontent.com/assets/2546601/15024146/92192226-122b-11e6-96d9-5dcf3e2704fa.png)

[2016-05-04 20:18] rschoen opened #2313 "page_cycler.typical_25 doesn't properly select "core" traces"
1) Go to https://chromeperf.appspot.com/report
2) Choose a test suite (page_cycler.typical_25)
3) Choose a bot (chromium-rel-win7-single)
4) Choose a metric (warm_times)
5) Click add
6) Space for new graph appears, but it's all collapsed and no loading spinner https://screenshot.googleplex.com/WjZPR1C695Y
7) Reloading fixes the issue.... kinda. I then have to check the metric, but that may be a se

[2016-05-04 21:04] anniesullie commented on #2313
This is very strange! It happens consistently for me with your repo steps above, but if I pick a different test (ChromiumPerf/android-nexus5X/blink_perf.parser/html-parser) everything works fine.

When I select the test, the post data sent to /graph_json is:
[code]
And the response is:
[code]

When I reload the page, the post data sent to /graph_json is:
[code]

And the full data comes back. I thi

[2016-05-04 21:04] zeptonaut opened #2314 "EventSet shouldn't be an object that acts like an array"
`EventSet` is in a really strange state: outwardly, it presents itself as both an `Array` and an `Object`.

It does this by having numeric properties, like:

[code]

and, because you can use the bracket operators to get a Javascript property, doing eventSet[1] returns something reasonable.

The weird result of this is that, even though it allows array indexing into it, it offers only the Array-lik

[2016-05-04 21:05] zeptonaut commented on #2314
@Alex319, would you be willing to take a look at this?

[2016-05-04 21:07] Alex319 commented on #2314
Okay. I assigned it to myself

[2016-05-04 21:54] Alex319 commented on #2314
The real question here is: is there a way to make this change which preserves the existing interface, or will we have to go back and change all the callers?

[2016-05-04 23:02] ssiddhartha opened #2315 "Trace file from android doesn't open on Trace viewer"
I got this trace from android with heap profiling enabled.
Trace viewer only shows empty page on this trace, but in reality it contains hundreds of trace events and tens of memory dumps.
I removed first 400 events from the file and it seems to display correctly.
[corrupt_trace.txt](https://github.com/catapult-project/catapult/files/249728/corrupt_trace.txt)

+primiano@chromium.org +petrcermak@chro

[2016-05-04 23:19] benshayden commented on #2314
While you're at it, do you want to split the set-like functionality into a base class, and the event-specific functionality into a subclass? ValueList might want to use the Set base class. @eakuefner

[2016-05-04 23:28] Alex319 commented on #2314
That might make sense; what do you mean by the event-specific functionality? I can certainly see that things like getEventsOrganizedByType and such would be event-specific functionality and things like equals and intersectionIsEmpty would not be. But one thing that I'm not sure about is whether the GUID related stuff - like pushing only unique events where "uniqueness" is defined by GUID - would b

[2016-05-05 02:22] anniesullie commented on #2313
I took another quick look. Two things are going wrong:

1. Now that we have ref builds, a 25-page page set with ref builds bumps up against the 50 page limit. I sent https://codereview.chromium.org/1950133004/ to increase it.
2. The dashboard is supposed to send two requests: one for the tests that will be selected by default, and one for the ones that will not. It's not selecting the summary metr

[2016-05-05 10:19] petrcermak commented on #2315
I'm __unable to reproduce__ the issue. I can import the trace with ToT Trace Viewer without any problems (even if I go several hundred commits back).

Are you referring to the fact that all events in the trace are squashed on the right hand side of the timeline:

![screenshot from 2016-05-05 11 01 13](https://cloud.githubusercontent.com/assets/2546601/15041008/ce73dc68-12b0-11e6-9987-a485c25c86f9.

[2016-05-05 10:19] #2315 closed

[2016-05-05 10:22] petrcermak commented on #2284
This is now __done__ :white_check_mark:

[2016-05-05 10:22] #2284 closed

[2016-05-05 10:38] petrcermak commented on #2276
I bisected the problem and it is due to 19214a3a5aff24f85a779f096b976107cadd2cf6, so I'm assigning this to @benshayden.

How to reproduce:
  1. Open [this test](http://localhost:8003/tracing/tests.html?testFilterString=instantiate_multipleDiff&testSuiteName=tracing.ui.analysis.memory_dump_heap_details_pane_test) _(requires that you run <tt>bin/run_dev_server</tt>)_.
  2. Click on the header of the

[2016-05-05 10:50] anniesullie commented on #2315
@natduca @nedn I think Petr's comment also explains the problem we are seeing in the start_with_url test.

[2016-05-05 12:50] anniesullie opened #2317 "Error updating FYI status in update_bug_with_results"
This appears to be the cause of the stackdriver alert about UpdateBugWithResults.

I checked go/chromeperf-errors and found this:

[code]

Searching go/chromeperf-logs for `update_bug_with_results` yields several requests with logs including this:

[code]

The `URL being requested` lines appear to come from `buildbucket_service.GetJobStatus` called from `_ValidateBuildbucketResponse`. A few things

[2016-05-05 12:58] nedn commented on #2315
Seem like we have an overflow bug with tracing timestamp? Hmhh

[2016-05-05 13:41] anniesullie commented on #2046
I deleted all the broken "testname.reference" data. This is now **fixed**.

[2016-05-05 13:41] #2046 closed

[2016-05-05 13:48] nedn commented on #2315
First found in https://bugs.chromium.org/p/chromium/issues/detail?id=608724

[2016-05-05 14:43] nedn opened #2318 "Deprecate telemetry's credential_backends"
The credential_backends should be deprecated. The new way of adding login logic is to use https://code.google.com/p/chromium/codesearch#chromium/src/tools/perf/page_sets/login_helpers/

As the first step, we can mark the *_credentials_backend.py files with a deprecated_ prefix to make it clear for engineers who plan to use these (e.g: https://codereview.chromium.org/1948353002/)

[2016-05-05 15:59] vuppalapu commented on #2317
job.results_data is set only when the dashboard receives results from the bisect bot, here https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/post_bisect_results.py#L73. In this case since the job didn't get to the step where it post results to the dashboard, tryjob's results_data was never set. As a special case for Bisect FYI jobs, we also check if the actual job has fa

[2016-05-05 16:10] benshayden commented on #2314
Yeah, we're going to be added GUIDs to Values, so the GUID-defined uniqueness would be on the base Set class.

[2016-05-05 16:41] zeptonaut commented on #2314
A clarification: `Array` used to not be subclassable, but I believe it's completely fine to subclass an array in ES6.

Question: what is it that makes `EventSet` need to provide random access to its underlying array (`[]` operator)? Looking at [its usage](https://code.google.com/p/chromium/codesearch#search/&q=f:catapult/tracing%20selection%5C%5B%20f:.html&p=3&sq=package:chromium&type=cs), I see a

[2016-05-05 17:14] nedn commented on #2262
Looks like this is still relevant after latest update?
@natduca

[2016-05-05 17:43] benshayden commented on #2262
Yeah, I owe y'all a new design doc. It will probably involve 6 Numerics (FP, FMP, response, FPS, discrepancy, latency).

[2016-05-05 17:48] Alex319 commented on #2314
Thank you. I think that would be a useful thing to do.

On Thu, May 5, 2016 at 9:41 AM, Charlie Andrews <notifications@github.com>
wrote:

[2016-05-05 18:03] nedn opened #2319 "Make an end to end test between telemetry's result & dashboard results handling"
Working on telemetry's value system is hard because a not careful change can break the integration between telemetry & dashboard (example: [crbug.com/606698](http://crbug.com/606698)). Now the two projects are in the same code base, it would be ideal if we can make an end to end test between telemetry's result & dashboard results handling.

The easiest smoke test could be verifying that dash_board

[2016-05-05 18:45] anniesullie commented on #2319
From the perf dashboard side, a few ideas:

  * You could run the dashboard devserver, then sends data to localhost:8080/add_point
  * You could make something that uses a mock server like the existing test, but pulls in both codebases: https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/add_point_test.py

[2016-05-05 18:47] benshayden commented on #2314
I don't have an informed opinion about subclassing Array or most of the other design decisions in Alex's doc. I don't know if anybody has the bandwidth to redesign Set/EventSet from the ground up. An iterative approach might be easiest. Removing indexOf might be a good second or third step, but I think that a good first step would be to split the guid-based unordered set functionality into a base

[2016-05-05 18:52] nedn commented on #2319
Annie: I think the first idea seems most promising. We can do something like create a dummy telemetry benchmark, run it to produce a chart-results.json file, then create a local dashboard server & send that chart-results.json file to localhost:8080/add_point

Do we have any integration test in catapult CQ that start up the local dashboard server yet?

[2016-05-05 20:07] anniesullie commented on #2319
Nope, all the catapult CQ dashboard tests use the mock server. The catapult recipe does pull in the app engine SDK, so it should be possible to start a dev server though.

[2016-05-05 20:26] anniesullie commented on #2317
It's also set here, which seems wrong to me: https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/update_bug_with_results.py#L391

Shouldn't it be set only in one place?

So it never gets reconciled?

is not present?

I'll ask for some clarifying comments in the CL review.

[2016-05-06 01:39] nedn opened #2320 "Update d8 in vinn/third_party to 5.0"

[2016-05-06 05:20] nedn commented on #2320
fyi: @zeptonaut @benshayden

[2016-05-06 15:21] nedn commented on #2320
d8 5.0.71.39 has some fatal bugs, sigh

[2016-05-06 17:13] Alex319 commented on #2314
I think that makes sense as a first step. It seems pretty clear that we can split off the event specific functionality from the general unordered set functionality.

[2016-05-06 17:34] zeptonaut commented on #2314
Is there any reason that we can't just make it an [ES6 `Set`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set) with some extra functionality on top of it? Rolling our own `Set`/`UnorderedSet` base class seems like it'd just be creating some extra work for ourselves, especially given the fact that the ES6 `Set` already contains almost all of the methods describe

[2016-05-06 17:47] Alex319 commented on #2314
There actually is one place where the EventSet ordering is used. It is used in find_controller.html, where it stores the list of hits on the search box as an EventSet, and this is ordered (you can step through them one at a time with the arrow keys)

[2016-05-06 18:32] Alex319 commented on #2314
Currently, the EventSet uses GUIDs as the "key" to determine if two Events are identical. Are there any places in the code where we actually have two copies of the same EventSet with the same GUID? If not, then we don't need to use GUIDs as a key in the firs tplace, and can just use reference equality for the comparison (what Set does by default).

[2016-05-06 21:51] nedn opened #2321 "Battor smoke tests are failing flakily"
https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Windows%20Tryserver

Log

Backtrace:
	GetHandleVerifier [0x00623241+2199238]
	GetHandleVerifier [0x0055DF6B+1391600]
	GetHandleVerifier [0x0044971B+258976]
	GetHandleVerifier [0x004499ED+259698]
	GetHandleVerifier [0x0045886A+320751]
	GetHandleVerifier [0x00458557+319964]
	GetHandleVerifier [0x00462E00+363141]
	GetHandleVer

[2016-05-06 21:54] nedn commented on #2321
This only happens on build79-b1. So I suspect this is a hardware failure... hmmm

@dave-2

[2016-05-06 21:59] nedn commented on #2321
@randalnephew can you disable battor smoke test for now to unblock catapult CQ? YOu can look into https://code.google.com/p/chromium/codesearch#chromium/src/third_party/catapult/catapult_build/build_steps.py&l=19

[2016-05-06 22:11] randalnephew commented on #2321
Definitely a HW failure. The BattOr is timing out.

[0506/145658:FATAL:battor_agent_bin.cc(87)] Fatal error when communicating with the BattOr: TIMEOUT

[2016-05-06 22:27] benshayden commented on #2314
I didn't see any places where two different objects have the same guid, but guids are used when importing flow events, and as a fall-back sort key. I would believe that a better flow event importer would not need to use guids like that, but redesigning that seems tricky. Using reference equality instead of guids would seem to be a significant departure from the guarantees and assumptions of the cu

[2016-05-06 22:29] aschulm commented on #2321
Excellent, I was hoping to hit a bug in the firmware (or it's it's
interface with software).Now for us to check out the logs and see what went
wrong. Charlie, any idea where to get that data?

On Saturday, May 7, 2016, randalnephew <notifications@github.com> wrote:

[2016-05-06 22:47] nedn opened #2322 "Dashboard no longer displays the menu for adding graphs of individual pages"
https://chromeperf.appspot.com/group_report?bug_id=589723

![997sgnkwk4x](https://cloud.githubusercontent.com/assets/911877/15087853/dee46c7e-13a1-11e6-971a-245005b9cd91.png)

[2016-05-09 11:12] ptmt opened #2323 "Add git tag in any format for Homebrew"
See for details: https://github.com/catapult-project/catapult/issues/1042

This would be useful to update outdated brew formula `trace2html`: https://github.com/Homebrew/homebrew-core/blob/master/Formula/trace2html.rb which is  broken now for the latest version of Chrome because of deprecated `Object.observable`.

[2016-05-09 14:25] petrcermak commented on #2258
Final cleanup before closing this issue: https://codereview.chromium.org/1957153003/

[2016-05-09 16:05] zeptonaut commented on #2321
@aschulm, when you say "logs", do you mean logs of the actual bytes sent over the wire? We don't have that right now, although it might be fairly trivial to add a flag to the BattOr agent that would allow the raw received / sent bytes to be written to a file (probably some temp file). It may be worth it to try to then keep those logs around in cloud storage for failed runs for a few days so that i

[2016-05-09 16:10] nedn commented on #2321
@zeptonaut: if you can add the --log to battor_agent_bin.exe, that should be simple to do things like uploading to cloud storage or just printing out the whole log on stdout.
Seems like the next step would be adding log/try the fix you mention & update the battor_agent_bin version in https://github.com/catapult-project/catapult/blob/master/common/battor/battor/battor_binary_dependencies.json?

Deg

[2016-05-09 16:15] randalnephew opened #2324 "Power series model will report power used when no samples are present"
model.device.powerSeries.getSamplesWithinRange(1000000, 1000001)
[]
model.device.powerSeries.getEnergyConsumed(1000000, 1000001)
0.010242246920000002
model.device.powerSeries.getEnergyConsumed(1000000, 1000010)
0.10242246920000002
model.device.powerSeries.getEnergyConsumed(1000000, 2000010)
10242.3493424692
model.device.powerSeries.getSamplesWithinRange(1000000, 2000010)
[]

[2016-05-09 16:44] aschulm commented on #2321
I will see if I can reproduce the problem locally. Following on to what @zeptonaut said, I think the problem is that the current battor_agent doesn't retry the init message several times if it doesn't receive an ACK. This will clear out any bytes that may be stuck on the wire. One thing that may be worth checking is to see if that BattOr that is attached to the CQ machine is blinking or not and wh

[2016-05-09 16:46] nedn commented on #2321
We can try reenabling the battor test in a CL & send out "git cl try", then go to the lab to see what's going there.
@randalnephew : want to do that this afternoon?

[2016-05-09 17:31] benshayden opened #2325 "NumericValues should not serialize null sourceInfos"
Currently, when sourceInfo is not passed to Numeric.add(), they are serialized as "null" entries in the sourceInfos.

These nulls just take up space and provide no information.

[2016-05-09 19:01] randalnephew commented on #2321
Unfortunatly it is now passing:
https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Windows%20Tryserver/builds/2966

[2016-05-09 19:19] nedn commented on #2321
Randy: can you do multiple "git cl try" run? If they keep passing, I think we can reenable the test & then have @zeptonaut to add more logging.

[2016-05-09 20:19] zeptonaut commented on #2324
I think what's make this tricky is that, if we have two samples at t=10s and t=20s, and we call `getEnergyConsumed(12, 18)`, I'd expect to receive a non-zero energy consumed.

Maybe what makes sense is to have some logic that says power drops to zero after the samples end?

[2016-05-09 21:09] Alex319 commented on #2324
That is what his CL does:

https://codereview.chromium.org/1958173002

[2016-05-10 01:44] anniesullie opened #2326 "Catapult roll failing checklicenses on wpr files"
Example run: https://build.chromium.org/p/tryserver.chromium.linux/builders/linux_chromium_rel_ng/builds/225974/steps/checklicenses%20%28with%20patch%29/logs/stdio

[code]

@nedn can you take a look? I suspect https://codereview.chromium.org/1963723002/

[2016-05-10 01:45] nedn commented on #2326
I will remove those two files.

[2016-05-10 13:32] zeptonaut commented on #2314
As discussed in code review, I think my favorite option would be to not provide any random access operator at all. Providing one for a Set seems strange.

[2016-05-10 20:58] #2326 closed

[2016-05-10 20:59] Apeliotes commented on #1933
@anniesullie, could you setup a catapult-project/testing-data repo for the tracing test data? Ned, Ben and I were talking about this offline today.

[2016-05-11 14:13] chiniforooshan opened #2327 "Flow V3"
We would like to use flows for building a dependency graph on top of Chrome traces. Missing features are:

1- we want to attach flows to asyn events.
2- we want events to be part of several flows.
3- easy cross-process and in-process flows (similar to object refs).

Links: [Design doc](https://docs.google.com/document/d/1iNp9aDkuOARs0bWJS7ZJvc-f2P2dipXEfqh3rTjdefo), [CL](https://codereview.chromiu

[2016-05-11 14:41] chiniforooshan commented on #1720
byteCount patch landed 6 months ago: https://codereview.chromium.org/1403403012/

[2016-05-11 14:41] #1720 closed

[2016-05-11 15:53] nedn commented on #2317
Is this bug  fixed?

[2016-05-11 15:58] vuppalapu commented on #2317
Yes, this is fixed

[2016-05-11 16:01] #2317 closed

[2016-05-11 21:47] wangxianzhu opened #2328 "Fail to import after tracing some websites"
1. Open http://www.theatlantic.com/business/archive/2014/04/americas-rebel-band-of-custom-bike-builders/360058/
2. Open another tab, chrome://tracing
3. Record, Frame Viewer
4. Switch to Tab 1 and interact with the web page for several seconds
5. Switch to Tab 2, press stop

Expected: trace is successfully imported
Actual: it stuck for about 1 minute, then showed an error:
"Error: Couldn't create

[2016-05-11 21:52] wangxianzhu commented on #2328
Some corrections:
1.1 scroll the page down nearly to the end to show the comments

[2016-05-11 21:53] eakuefner commented on #2325
Will take a look.

[2016-05-11 22:10] wangxianzhu commented on #2328
Sometimes I get this error instead:

RangeError: Inflated gzip data too long to fit into a string (577949648).
    at Function.GzipImporter.inflateGzipData_ (chrome://tracing/tracing.js:49977:13)
    at Object.extractSubtraces (chrome://tracing/tracing.js:50035:36)
    at Object.createImports (chrome://tracing/tracing.js:7615:40)
    at Object.run (chrome://tracing/tracing.js:16310:21)
    at runA

[2016-05-11 23:16] benshayden opened #2329 "side panels widths"
Currently, side panels hard-code their width.
However, the horizontal space required by side panels can vary greatly depending on things like metric name length.

Should side panels be resizable like the analysis panel? Or should they automatically shrink/expand to fit their contents? Or some other strategy?

[2016-05-11 23:17] benshayden commented on #2035
@vinterstum

[2016-05-12 01:02] dstockwell opened #2330 "Perf Dashboard: Unclear how to select a time range"
Chrome version: 50.0.2661.91 (Chrome OS)
URL: https://chromeperf.appspot.com/report?sid=83832b60c049833239337571fc8730adaa97179daf8b430462633127191271c1

Please describe the problem:

There's a historical graph (in blue), but it's not interactive. It was previously.

[2016-05-12 01:07] anniesullie commented on #2330
Do you get any errors on the JS console?

[2016-05-12 01:09] dstockwell commented on #2330
I didn't see anything. Loading it again now it is working :shrug: ...

[2016-05-12 01:09] #2330 closed

[2016-05-12 08:35] #2082 closed

[2016-05-12 08:35] #2081 closed

[2016-05-13 01:09] nedn opened #2331 "Telemetry test against reference browser stuck on windows"
https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Windows%20Tryserver/builds/3008

[2016-05-13 03:25] nedn commented on #2331
I killed the build in https://uberchromegw.corp.google.com/i/tryserver.client.catapult/builders/Catapult%20Windows%20Tryserver/builds/3008

[2016-05-13 12:46] #2331 closed

[2016-05-13 14:53] anniesullie opened #2332 "Clarify ignore/invalid button labels"
They should say:

`Ignore valid alert`

and

`Report invalid alert`

[2016-05-13 14:56] tdresser commented on #2332
This change should be accompanied by an update of the perf regression sheriffing docs, with examples of when to use each button.

[2016-05-13 14:57] anniesullie commented on #2332
In case anyone picks this up on the `Good First Bug` label, the docs @tdresser mentions which should be updated are here: https://code.google.com/p/chromium/codesearch#chromium/src/tools/perf/docs/perf_regression_sheriffing.md

[2016-05-13 15:07] anniesullie commented on #1933
How do we plan to sync this repo?

[2016-05-13 16:12] anniesullie opened #2333 "Perf dashboard should no longer set sheriff as owner"
Having the sheriff who reported a performance regression bug be the owner of the bug is confusing because generally we expect the owner to take action on a bug, and after the sheriff's shift they are generally not the person who will take future action:
- For the bugs that the sheriff rotation triages, the current sheriff is expected to continue triage
- For bugs that get marked as release blocker

[2016-05-13 16:16] benshayden commented on #1933
Manually?

These files are used for manual testing only. One main expected usage is that one of us adds a trace file for a specific purpose in order to share it with teammates, so we'd tell them to sync their test_data repo. Another main expected use case is testing new features like the metrics side panel using well-understood traces, so we'd keep these files around and shared.

[2016-05-13 16:18] anniesullie opened #2334 "Perf dashboard needs a way to set thresholds for bug labels"
Currently, the dashboard allows admins to add a mapping of test paths to crbug labels. This should be extended to have a minimum percent change/absolute value change, so that release block labels can be applied only for regressions over a certain threshold.

I think this would involve modifying the code in these places:
https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/e

[2016-05-13 17:13] benshayden opened #2335 "computeHazardForLongTasksInRangeOnThread"
Refactor hazardMetric for Lighthouse.

Ignore associatedEvents.

[2016-05-13 18:11] petrcermak commented on #2258
Done :tada: :tada: :tada:

[2016-05-13 18:11] #2258 closed

[2016-05-13 20:19] nedn opened #2336 "UE finder shows idle when the browser is not actually idle"
The tracing categories are: "blink", "cc", "gpu", "renderer.scheduler", "toplevel", "v8", "cc.debug". The UE finder failing to infer the right UE here because of the missing data but it should show "cannot construct UE" instead of showing "idle".

@natduca @shubbie

[2016-05-16 00:33] anniesullie commented on #2281
This is **fixed**

[2016-05-16 00:33] #2281 closed

[2016-05-16 13:06] anniesullie opened #2337 "Improve perf dashboard titling of bugs"
Currently the dashboard titles bugs `X% regression in <test suite> at <start>:<end>`. This is problematic in a few cases:
- With the memory_health_plan benchmark where we have a list of release blockers that all have very similar bug titles, even though different things (GPU, etc) regressed
- With the page_cyclers, where memory often regresses and the bug looks like page speed regressed.

Both of

[2016-05-16 22:38] benshayden commented on #2336
How should the UserModelBuilder determine whether the data is missing or there weren't any UEs?
Should/could GenerateTracingMetadataDict() save the enabled categories in the trace metadata? @vinterstum

[2016-05-16 22:59] vinterstum commented on #2336
Yeah I think we should just dump the whole TraceConfig into the metadata, to be honest. I'm kind of surprised we aren't already.

[2016-05-17 14:35] zeptonaut opened #2338 "BattOr importer fails with useless error when a negative voltage or current is present"
@randalnephew was having a problem where a BattOr trace just wasn't showing up for him. It turns out that the cause was that his Android phone was charging when the trace was recorded, and a line like the following was being printed in the error console:

[code]

... not very useful. We should improve the error logging for the BattOr so that it's clearer what's happened and how to fix the problem.

[2016-05-17 17:59] eakuefner commented on #2214
This is going to be comprehensively solved for TBMv2-based using diagnostics. I'm going to archive this bug and then we can revisit it in the context of diagnostics.

[2016-05-17 17:59] #2214 closed

[2016-05-17 18:17] eakuefner commented on #1448
Archiving because we're not going to be doing this -- especially with System Health, we're moving away from policing benchmarks directly to simply being more opinionated up front, and trying to develop partnerships with metric authors and ownership over story sets.

[2016-05-17 18:17] #1448 closed

[2016-05-17 18:21] eakuefner commented on #1588
I think this is fixed.

[2016-05-17 18:21] #1588 closed

[2016-05-17 18:24] eakuefner commented on #2087
This is a dupe of #2309

[2016-05-17 18:24] #2087 closed

[2016-05-17 18:26] eakuefner commented on #1932
This is already possible with UserModelBuilder, as the system health metrics indicate.

[2016-05-17 18:26] #1932 closed

[2016-05-17 18:28] eakuefner commented on #1811
Let's archive this -- there was some discussion with @dave-2 and @nedn yesterday about how we could do this without compromising statistical soundness by using --story-filter as a fast path and running the whole benchmark if that doesn't reproduce, but there are technical challenges with trying to run individual pages because the benchmark is the atomic runnable unit -- in particular, it's hard to

[2016-05-17 18:36] nedn opened #2339 "record_wpr.py should reference benchmarks using the same name as benchmark_runner.py"

[2016-05-17 20:45] anniesullie opened #2340 "Dashboard add_point_queue 47 hours behind"
We got some reports that data is not being added to the dashboard, and upon investigation found that the [add_point_queue](http://go/add_point_queue) is 48 hours behind. I tried speeding up the queue, but we got increased [data contention errors](https://cloud.google.com/appengine/articles/scaling/contention) and the queue did not slow down.

[2016-05-17 20:49] anniesullie commented on #2340
The number of requests to the perf dashboard has remained steady for the past 2 weeks. I am wondering if something like tbmv2 memory metrics could have caused an increase in the amount of data added to the point where the queue gets backed up?

[2016-05-17 20:55] primiano commented on #2337
I'd just go for the full metric name, but defer to @petrcermak .
Definitely supportive to add the metric name, in some form, to the bug title. I missed this feature so many times.

[2016-05-17 20:55] anniesullie commented on #2340
I figured out how to get a chart in stackdriver. Looks like this problem started to really pick up over the weekend.

![screen shot 2016-05-17 at 4 51 46 pm](https://cloud.githubusercontent.com/assets/4331931/15338894/d7ac3b1a-1c4f-11e6-81a2-f7f4f251deb2.png)

[2016-05-17 21:18] zeptonaut opened #2341 "Telemetry traces and BattOr traces don't align"
@randalnephew has now made it possible to collect a BattOr trace while running a Telemetry benchmark. However, when we do this, we get some funky results:

![image](https://cloud.githubusercontent.com/assets/1407397/15339506/b5229f5a-1c52-11e6-804b-ea9f4451c465.png)

(Notice the Chrome trace events aaaaaall the way over on the right side of the trace and the BattOr trace aaaaaaaaall the way over o

[2016-05-17 21:19] zeptonaut commented on #2341
/cc @natduca

[2016-05-17 21:35] anniesullie commented on #2340
First thing we need to do is get additional graphs for:
* Rate at which we add tasks to the queue
* How long tasks run in the queue

I think we want to use stackdriver [custom metrics](https://cloud.google.com/monitoring/custom-metrics/using-custom-metrics) or [log metrics](https://cloud.google.com/logging/docs/view/logs_based_metrics) for this.

[2016-05-17 22:14] anniesullie commented on #2340
We are going to try turning off data processing for alerts until we can get the task queue under control: https://codereview.chromium.org/1985013003

The alerts will still fire when it gets turned back on.

[2016-05-17 23:45] nyaxt opened #2342 "cache_temperature PCV1_COLD runs should return stable results"

[2016-05-18 00:33] eakuefner commented on #2340
The times are just close enough that we have a hypothesis that this may be due to the memory system health benchmarks, which uploads are about 8x bigger than say, smoothness.top_25_smooth, around 10 megs. We're going to try disabling the benchmark and see what happens overnight.

@petrcermak This is probably an issue on our end, rather than the benchmark -- we want the dashboard to be able to acce

[2016-05-18 02:12] #2342 closed

[2016-05-18 03:38] scheibo commented on #2252
FWIW, internally I ended up using a hacky workaround (cl/119996942) where I just added:

    if(!this.trackViewContainer_){this.domReady();}

as the first line of https://github.com/catapult-project/catapult/blob/master/tracing/tracing/ui/timeline_view.html#L360.

would obviously be better to get the ordering right to begin with, but this at least "works"

[2016-05-18 09:23] petrcermak commented on #2340
I'm really sorry for causing this. What shall we do now that [<tt>system_health.memory_*</tt> has been disabled](https://codereview.chromium.org/1987103002/)? Does this mean that:

1. the benchmarks need to be modified/simplified/merged?
2. we need to wait for the transition to Bigtable?
3. we need dedicated bots for system health benchmarks?

The disabled benchmarks were only a part (namely "Load

[2016-05-18 09:28] picksi commented on #2337
Maybe the whole name but use a comma instead of a '/' to make it more human readable?

But the either way is an improvement :)

[2016-05-18 10:06] petrcermak commented on #2337
This is a great idea. I'd use the __whole name _without_ modifications__ (so that it matches the codebase and is easier to search for).

[2016-05-18 13:02] anniesullie commented on #2252
@zeptonaut @Apeliotes since they're working on polymer 1.0 conversion and ordering issues can affect that.

[2016-05-18 13:03] anniesullie commented on #2340
I don't think the benchmark runtime is a problem for this bug, just the amount of data sent to the perf dashboard. We've seen a huge increase in data processing time, without a corresponding increase in number of requests. We are not 100% sure yet how to resolve the problem, we're currently in firefighting mode trying to get the dashboard processing the data it receives again.

We'll give a cleare

[2016-05-18 14:15] zeptonaut commented on #2341
Okay, after spending some time investigating this, there are a couple of pieces of work that need to be done to make this happen:

- **(Very easy)** In the trace event importer, start pulling the Telemetry subtrace out of the greater Telemetry trace that's recorded that also includes the BattOr trace, the Chrome trace. Right now we're ignoring this subtrace altogether.
- **(Easy to medium)** Chang

[2016-05-18 14:21] anniesullie commented on #2340
Link to [tracking doc](https://docs.google.com/document/d/1dr0HtssUMuWNkvoVXHXM5G3YlvMVhIrwjwFJub3EOVg/edit#) which is slowly being turned into postmortem

[2016-05-18 14:31] anniesullie opened #2343 "Perf dashboard warning message empty"
Using /set_warning_message results in an empty toast on /report and /group_report

[2016-05-18 20:01] benshayden opened #2344 "Move results2_template.html to telemetry"
Currently, results2_template.html is in tracing/tracing/ so that py_vulcanize can find its dependencies easily. But it really belongs in telemetry.

The source paths magic from perf_insights_project can be used to move it to telemetry.

[2016-05-18 20:32] eakuefner commented on #2344
Ah, I guess I misunderstood the intent of the TODO. I think we actually would like it to stay in tracing -- in particular, it would be nice to be able to use run_metric to get an HTML output, independently of whether Telemetry is used.

[2016-05-18 20:36] #2344 closed

[2016-05-18 22:54] eakuefner opened #2345 "results2.html"
We are redesigning the way we visualize metric results based on https://docs.google.com/document/d/1F7A0WRVC-aYHSz_rDnEBzDpjEDJl0_1Kjb9IKrpAhok/edit

We'll use this bug to track the effort.

[2016-05-19 00:27] kenrussell opened #2346 "RFE: allow user code to deal with minidumps"
In https://bugs.chromium.org/p/chromium/issues/detail?id=609249#c13 there was a request to get the minidump from jobs that ran on Chromium's trybots, and in https://bugs.chromium.org/p/chromium/issues/detail?id=609249#c15 there was an indication that this would be feasible, by exposing the path to the minidump in Telemetry's AppCrashException.

Support for this should be added and some test added

[2016-05-19 10:41] petrcermak opened #2347 "Use trace config dictionary in DevTools requests when possible"
This is necessary to support **custom memory dump triggers** in Telemetry benchmarks and stories (e.g. needed for https://bugs.chromium.org/p/v8/issues/detail?id=5019).

<tt>TracingBackend.StartTracing</tt> method _(Telemetry side)_: https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/internal/backends/chrome_inspector/tracing_backend.py#L115

<tt>Tracing.start</tt> DevToo

[2016-05-19 13:06] ulan opened #2348 "Metric selection dropdown list should include only items matching the entered text"
Steps to reproduce:
1. Go to chrome perf dashboard
2. Enter "v8.infinite_scroll" in Test Suite field
3. Enter "linux_release" in Bot field
4. Enter "Animation-v8-gc-latency"
5. Check items in the drop down list.
Expected:
Items in the list have "Animation-v8-gc-latency" as a substring. Items sorted alphabetically.

Actual:
There are unrelated items such as Animation-v8-gc-total, and items appear i

[2016-05-19 13:08] anniesullie opened #2349 "Perf dashboard: Find a way to understand what is running in the task queue"
(See [recent postmortem](https://docs.google.com/document/d/1dr0HtssUMuWNkvoVXHXM5G3YlvMVhIrwjwFJub3EOVg/edit#) for background)

We don't have a great way of knowing what's causing additional load on the task queue when things go wrong. There are two parts to this problem:
- Figure out what we want to monitor. Do we want some notion of the masters and test suites that are sending the most data? Or

[2016-05-19 13:10] anniesullie commented on #2348
Agreed this dropdown definitely needs some work. Unfortunately, we are going to be a little slower than usual addressing UI issues as we are currently in the process of updating the underlying library to polymer 1.0, but we agree this should be addressed.

@Apeliotes

[2016-05-19 13:14] anniesullie opened #2350 "Perf dashboard: migrate timeseries data to bigtable"
We are stretching the limits beyond what app engine datastore was designed for. We need a datastore better suited to timeseries data, and it looks like [Cloud Bigtable](https://cloud.google.com/bigtable/docs/) is the way to go. We have some dated docs on the topic [here](https://docs.google.com/document/d/1LwkUuqEzWe1NhLEpY_o6FJe7gTm8zRzDKvUW3TdOX3M/edit) and [here](https://docs.google.com/documen

[2016-05-19 13:23] anniesullie opened #2351 "Perf dashboard: Restructure data store to prevent data contention errors"
We've had ongoing problems with [data contention](https://cloud.google.com/appengine/articles/scaling/contention) errors on the perf dashboard any time we try to increase the number of data store operations that can be done in parallel, or migrate data. We believe this is due to the way we are using the app engine datastore--all the test metadata for a given master is in the same entity groups, an

[2016-05-19 14:50] anniesullie commented on #2340
Update: we've got the queue back to a manageable size and turned back on alerting and storing unmonitored data. It's been stable for 2 hours.

[2016-05-19 15:50] primiano opened #2352 "ChromePerf UI: test suite no longer allows partial filtering"
I go to chromeperf.appspot.com, type "health" in the "test suite" field, I get no result.
But there are definitely tests which contain "health" in the name. Why they are not shown? I am not sure I understand how the filtering logic works there. It was not the case until some weeks ago IIRC.
Can we make the filtering super dumb: when you type X just show everything that matches ._X._

@anniesullie

[2016-05-19 16:28] eakuefner commented on #2350
Previously, we were uncertain about whether to use Cloud Bigtable, BigQuery, or some combination of the two. In TBMv2.1, we eliminate programmable grouping in favor of the [metric graphical model](https://docs.google.com/document/d/1_L9i0FMFTaZtfUngqjYl8jiTlUGmZ1200IThGudm09s/edit), which is a system in which values from a given run form a DAG by guid. This means that we can maybe make the row key

[2016-05-19 17:15] anniesullie commented on #2350
Is switching to app engine VMs an option instead of a GCE? I vaguely remember some storage folks mentioning that, but perhaps I misunderstood.

[2016-05-19 17:18] eakuefner commented on #2350
It's possible that we might be able to do this with managed VMs by having the RPC server be hosted in the VM instance itself.

[2016-05-19 19:12] kenrussell commented on #2346
Discussed more in person with @nedn . Here is the current thinking

1) Expose the path to the minidump, if any, in AppCrashException.
2) Provide a browser option to not automatically delete the minidump directory.
3) Provide an API on the Browser object which provides the paths to all the minidumps in the minidump directory.
4) Provide an API on the Browser object which allows symbolization of a s

[2016-05-19 20:30] benshayden opened #2353 "Side-panel z-index needs to be elevated"
[Regression: Weird overlapping is observed on chrome://tracing/](https://bugs.chromium.org/p/chromium/issues/detail?id=613099)

[2016-05-19 20:51] benshayden commented on #941
The mouse mode selector looks weird when the analysis-view and/or side-panel are expanded around it. [Regression: Weird overlapping is observed on chrome://tracing/](https://bugs.chromium.org/p/chromium/issues/detail?id=613099)

I'd like to close this in favor of doing #868, but feel free to re-open!

[2016-05-19 20:51] #941 closed

[2016-05-19 20:53] benshayden commented on #868
[Regression: Weird overlapping is observed on chrome://tracing/](https://bugs.chromium.org/p/chromium/issues/detail?id=613099)

Making the mouse-mode-selector position:absolute causes lots of problems and requires brittle work-arounds.

Perhaps the mouse-mode-selector should move into timeline-view's control bar?

The mouse-mode-selector is also used by the display-item-debugger and picture-debugg

[2016-05-19 21:10] #2353 closed

[2016-05-20 16:40] benshayden opened #2354 "Merge Scalar with histogram Numeric?"
Can we use the [Freedman–Diaconis](https://en.wikipedia.org/wiki/Freedman%E2%80%93Diaconis_rule) rule to dynamically adjust the number of bins as samples are added to Numerics and as Numerics are merged throughout Summarization? @eakuefner

[2016-05-20 17:15] anniesullie commented on #2354
@dave-2

[2016-05-20 19:05] zeptonaut opened #2355 "ftrace importer crashes with error about not being able to add a third marker to sync "linux_clock_monotonic_to_ftrace_global""
@Alex319 found this one.

Apparently, atrace sometimes includes multiple instantaneous clock sync markers between `LINUX_CLOCK_MONOTONIC` and `LINUX_FTRACE_GLOBAL`. I'm not sure why it would want to perform this sync multiple times but, because there are traces out there that have this functionality, we need to make sure we can handle them.

My plan is to have a simple boolean (`this.haveClockSync

[2016-05-20 19:07] zeptonaut commented on #2355
@natduca @ChrisCraik I'm not really sure about how we're rolled into Android/systrace as a dependency, but if there were any major releases cut while this bug was active, we probably want to get the Android team to patch this before sending this out to devs in general. Do you know how I might be able to find this out?

The original CL causing this problem was 702318be4fc0b8622259e33518f675131dcb3a