[2017-08-01 00:38] randalnephew opened #3749 "Make error message when device is unreachable during browser checking clearer"
It currently gets swallowed and looks like this:
(INFO) 2017-07-31 09:04:26,238 cmd_helper._ValidateAndLogCommand:158  [host]> /b/swarming/w/ir/third_party/catapult/devil/bin/deps/linux2/x86_64/bin/adb -s 01e450dc1c47be08 root
(CRITICAL) 2017-07-31 09:04:26,301 timeout_retry.Run:174  (TimeoutThread-2-for-MainThread) Exception on EnableRoot(01e450dc1c47be08, retries=3, timeout=30), attempt 2 of 4:

[2017-08-01 14:30] simonhatch commented on #3729
sgtm

[2017-08-01 20:42] benshayden opened #3750 "Measure dashboard alert grouping quality"
The dashboard groups alerts to save sheriffs time. The grouping algorithm is improving via #3651 , #3014  etc. There are currently no statistics anywhere to quantify how well alerts are being grouped. Good groups save sheriffs' time without hiding regressions. Bad groups either hide regressions or waste sheriffs' time by making them triage more groups than necessary.

Each alert can be assigned to

[2017-08-01 22:07] #3342 closed

[2017-08-01 22:07] #3286 closed

[2017-08-01 22:12] benshayden commented on #3541
Fixed https://codereview.chromium.org/2802933002

[2017-08-01 22:12] #3541 closed

[2017-08-02 19:03] alanamarzoev opened #3751 "Toggle which categories of events are visible"
Is there a way to toggle which categories of events are available? For example -- having a list of all of the categories in the trace with checkboxes next to them, indicating whether or not they are visible.

[2017-08-02 19:30] simonhatch commented on #3750
I'm ok with adding them, and since they're only shown when triaged are shown, it's unlikely a lot of sheriffs will see/ask questions about them.

Would still like to know what the plan is a bit more concretely, will you be tracking these somewhere and presenting them in the related-histograms meetings? etc.

[2017-08-02 19:49] phrmsilva opened #3752 "Gather device information in story runner"
Following the separation of device information into separate diagnostics, we want to center the collection inside story runner. It should make use of the SharedState and Platform hooks allowed per story to collect the data from the device, and should add the diagnostics even when the story runs an error.

[2017-08-02 20:05] benshayden commented on #3751
Trace viewer does not have a way to filter events by category in the UI.
The closest thing that does exist is the File Size Stats side panel, which has a grouping table to display the number of events per category and/or per title.
On the command line, `tracing/bin/slim_trace` removes some events from trace files, but it doesn't allow specifying categories to filter in/out. You could add that opti

[2017-08-02 21:02] benshayden commented on #3750
I don't have a great plan for tracking them, but I could figure something out if that's important.
I was mostly imagining looking at them in a few weeks after the current changes settle down when we revisit the grouping algorithm. If either number rises significantly, then I'd look at how my changes caused a problem. If groups-per-bug is still significantly higher than bugs-per-group, then I'd loo

[2017-08-02 22:49] dave-2 opened #3753 "Need original story name for Pinpoint"
Looks like the dashboard [escapes special characters in story names](https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/add_point.py#L457) when it adds points to the datastore. E.g. `http://www.fifa.com/` becomes `http___www.fifa.com_`.

Pinpoint needs the original story name in order to:
* Look up the result in the benchmark output.
* Specify `--story-filter`.

@eakuefne

[2017-08-03 00:11] dave-2 opened #3754 "Repository error when finishing up a Job"
[code]

[2017-08-03 00:12] dave-2 commented on #3754
I think I just forgot to strip the `.git` when looking up a repository URL.

[2017-08-03 17:55] pcc opened #3755 "Changing reference column/sort order creates history entries"
To reproduce:
1. Click on a link to a results.html page
2. Choose a reference column
3. Choose a sort order
3. Press back button

Expected behaviour:
Should go back to the page with the link to results.html

Actual behaviour:
The sort order changes back to its previous value. If I press back again, nothing happens.

[2017-08-03 17:56] anniesullie commented on #3755
@benshayden

[2017-08-03 19:06] nedn commented on #3450
A user encounter the need of using this today: https://bugs.chromium.org/p/chromium/issues/detail?id=749357#c5

[2017-08-03 20:18] anniesullie commented on #3450
I've added `--extra-chrome-categories` and `--extra-atrace-categories` flags to telemetry. I'm working on supporting them in `blink_perf` benchmark, but apart from that the main thing to do is dashboard integration.

At a high level on the dashboard, I want to have two options:
* A reasonable default set of trace categories
* An option to type your own filter strings.

Does anyone have opinions on

[2017-08-03 22:30] anniesullie commented on #3753
CL: https://codereview.chromium.org/2993673002

[2017-08-04 07:10] benshayden commented on #3755
Yeah, the idea is that you can open a top-level histogram A, click a link to a related histogram B, then click the browser back button to go back to A.
But it isn't working very well, so I'll back out the pushState until I can debug it.

[2017-08-04 17:28] xunjieli commented on #3742
/cc @eustas

[2017-08-04 17:36] xunjieli opened #3757 "[wpr-go] Add support for QUIC"
QUIC is getting more widely adopted. it will be helpful to have test/perf coverage.
We can consider using a Golang QUIC library (like lucas-clemente/quic-go) in wpr-go.

If we decided to do this, we need to wait until benchmark migration (crbug.com/730036) is done to avoid introducing bugs/noises.

/cc @nedn @tombergan

[2017-08-04 19:03] tombergan commented on #3742
What are the issues in cross-compiling? The "official" Go wrapper around the C code is here:
https://github.com/google/brotli/tree/master/go/cbrotli

@dsnet has a pure-Go implementation of Brotli, but I'm not sure what state it's in.
https://github.com/dsnet/compress/tree/master/brotli

[2017-08-04 19:09] dsnet commented on #3742
It only has a Brotli decoder. I would love to implement an encoder at some point, but it's a complex format and I don't have spare cycles to take on that project.

In terms of the decoder implementation, I'm pretty confident in it's correctness. It's gone through many months of fuzzing comparing it's implementation to the C version (and actually discovered bugs in the C version google/brotli#502).

[2017-08-04 19:23] xunjieli commented on #3742
/cc @nedn
I don't know the details, but we weren't able to get kothar/brotli compiled correctly for Windows with cross compiling. I was able to get it compiled and run on my windows machine, but the binary doesn't work for trybots. We didn't spend too much time on it. Folks who are using Golang in Chrome infra told us having pure Golang dependencies will make updates much easier.

@eustas might be

[2017-08-04 19:39] tombergan commented on #3742
I actually have code to integrate cbrotli with wpr-go. The code change is trivial, the hard part is integrating with the build system. There are two ways to do that:

1. Require that the brotli C libs are installed in the local machine. Then cbrotli should "just work" automatically via this cgo file: https://github.com/google/brotli/blob/master/go/cbrotli/cgo.go

2. Build wpr-go with Bazel, and in

[2017-08-04 20:00] nedn commented on #3742
The main problem with cgo we are having is that make it's harder to do cross complication. Building go binary on every platform is quite tedious :-/

[2017-08-04 20:20] phrmsilva opened #3758 "Make RevisionInfo diagnostics into GenericSet"
RevisionInfo into GenericSets

This issue relates to the work described in issue #3507

Separate revision info diagnostics into a number of generic set diagnostics at every instance
Update add_revision_info to reflect new implementation
Update add_histograms and add_histogram_queue logic
Delete previous implementations and reserve names

[2017-08-04 21:20] randalnephew opened #3759 "Dashboard API not reporting all test paths"
I have built two command line tools that use the new dashboard api. The first tool just queries a benchmark for its test paths.

./get_metrics.py --benchmark power.idle_platform
list_timeseries/power.idle_platform
[]

The api call it is making is `list_timeseries/power.idle_platform`. It returns nothing. I then use another tool I created that just asks for a time series and generates simple noise

[2017-08-04 21:30] anniesullie commented on #3759
The dashboard API only returns monitored test paths (some tests have tens of thousands of paths). For noise work, it seems like we'd only want to look at timeseries that are sheriffed?

[2017-08-04 22:11] randalnephew commented on #3759
Right now I'm working on a more exploration tool that you can select a benchmark, then it lists the test paths associated with that benchmark. The next step would be to turn that into an actual report, which for that we probably only care about sheriff monitored metrics. For the exploratory tool, it might make sense to have both?

The documentation says: `Takes an optional sheriff param in postdat

[2017-08-04 22:40] randalnephew commented on #3759
Also one unmonitored metric we might want to use in this is data from:
`dummy_benchmark.noisy_benchmark_1`

It is literally just random noise AFAIK, so other benchmarks being noisier than it might be a signal we want to surface.

[2017-08-04 23:24] phrmsilva opened #3760 "Add suggested owners to bug report"
As we move away from pre-filling the owners field in the bug report, we want to find a better solution that will get rid of the owners sheet (at least for sheriffing bugs). With the current implementation, we expect to have owners diagnostics filled out for the Benchmarks where owners are defined so we could make use of that information to surface in a non-invasive way to the sheriff at the bug re

[2017-08-05 21:46] sashakruglov commented on #3734
I'd like to take this. But is this a right idea?
It looks like you can just go by with `if my_generic_set` which is more "Pythonic".
Under the hood, it should then call `__nonzero__` which is not implemented in this class, and then fallback to `__len__` which is implemented in this class, and then it will be true if `self._values` contain anything and false otherwise.

[2017-08-07 14:18] anniesullie commented on #3759
The `sheriff` parameter is the name of the sheriff, like `Chromium Perf Sheriff` (the default).

From the dashboard side, there are just way too many timeseries to list in the 60s deadline before the request to the datastore times out, so it's not really feasible to make it work without filtering for monitored timeseries. You could pretty easily generate data on your own with varying noise levels,

[2017-08-07 14:28] zeptonaut commented on #3759
It seems like you could also create a "Dummy Sheriff Rotation" that monitors that metric and fetch it individually.

[2017-08-07 15:47] anniesullie commented on #3753
@eakuefner I have a CL in the CQ for the old `add_point` pipeline, and now I'm looking at how this should work in `add_histograms`.

Currently, instead of doing the escaping that `add_point` does, `add_histograms` always uses `story_display_name` if set:
https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/add_histograms.py#L176

Two questions about this:
1. Will `story_dis

[2017-08-07 16:01] #3724 closed

[2017-08-07 16:22] #2641 closed

[2017-08-07 16:25] simonhatch commented on #3750
Sure, sounds reasonable!

[2017-08-07 16:35] benshayden commented on #3734
You're right, thanks!
We can just use `if generic_set` since it implements __len__. We don't need IsEmpty().

[2017-08-07 16:35] #3734 closed

[2017-08-07 16:40] benshayden commented on #3405
If each test path component in chart-title becomes a drop-down, that seems awfully similar to test-picker, so this seems to agree with offline discussions about merging test-picker with chart-title.

At the speed services weekly before last, we discussed sparklines in tabs. Users can click to select a tab such as Bots or Stories, scroll through sparklines, and click on a sparkline to promote it to

[2017-08-07 17:07] eakuefner commented on #3753
I know @ashley3 has been doing some rationalization of how story names work on the Telemetry side, so this may have changed. But, last I recall, a `Page` instance without a custom name (which many of our stories are) would have a URL as its display name and thus have slashes in.

@anniesullie To answer your questions in order:

1. As above, probably, pending Ashley's confirmation. We can do the es

[2017-08-07 17:20] ashley3 commented on #3753
All stories are now required to have (custom) names set upon initialization
Many of those stories have URLs as their set names so they do have slashes in it (such as https://cs.chromium.org/chromium/src/tools/perf/page_sets/idle_after_loading_stories.py)

I removed the display_name property from story since it now matches story.name directly. That said, if you need a variation of the name with no

[2017-08-07 17:29] benshayden commented on #3587
Looks like this is done: https://github.com/catapult-project/catapult/commit/b6cdfc5c8c4e60cedc450ba52d618b90996b9e54

[2017-08-07 17:29] #3587 closed

[2017-08-07 17:30] #3490 closed

[2017-08-07 17:37] benshayden opened #3761 "Add RelatedHistogramBreakdowns to loadingMetric"
Some users want to monitor dashboard timeseries for the sample breakdowns in loadingMetric.

Loading metric currently uses Breakdown diagnostics to explain each *sample* in the FMP, cpuFMP, and TTI Histograms. The amount that style contributes to each FMP/cpuFMP/TTI sample is stored as a unitless number in the Breakdown sample diagnostics. This information is collected by generateWallClockTimeBrea

[2017-08-07 17:52] nedn commented on #3753
Sorry, but I think the fact that dashboard cannot handle "/" in story name is a big problem in itself. This leads to converging names used & understood by dashboard vs by Telemetry benchmark, and we have hacked to make things like bisect per story work.

Is it possible to make perf dashboard be able to take names with special characters like "/", ":" etc..?

[2017-08-07 21:00] eakuefner opened #3762 "add_histograms must escape story display names for test paths"
As pointed out in #3753 we need to make sure that we escape story display names, because test paths must not contain slashes.

[2017-08-07 22:10] eakuefner opened #3763 "Add add_shared_diagnostic script"
We need to add a script that allows us to call `add_shared_diagnostic.py` from recipes, so that we can add the various buildbot and revision infos to dashboard uploads from the bot side.

@benshayden suggested adding a repeated pair of flags so that we can add multiple diagnostics but only de-/reserialize once. We can also add a flag to support adding diagnostics as strings, since all of these are

[2017-08-08 02:40] anniesullie commented on #3721
This is **fixed**

[2017-08-08 02:40] #3721 closed

[2017-08-08 02:40] anniesullie commented on #3666
This is **fixed**

[2017-08-08 02:40] #3666 closed

[2017-08-08 02:41] anniesullie commented on #3699
This should be **fixed** now.

[2017-08-08 02:41] #3699 closed

[2017-08-08 11:47] ayush-vibrant commented on #2366
Heyy Henrik, I would love to work on this bug. Can you please guide me, how do I start with it?

[2017-08-08 17:54] simonhatch opened #3764 "Dashboard - Improve testing coverage of UI"
Backend is often tested pretty rigorously but the frontend often doesn't get more than an instantiation test, feels like a bit of a blind spot on the Dashboard. Just logging this so we can loop back in the future. I know results.html has some fairly good coverage, maybe we can look at that for inspiration?

@eakuefner @anniesullie @benshayden

[2017-08-08 17:55] benshayden commented on #2366
Sorry! This bug appears to require more directions before it can be called a Good First Bug.

[2017-08-08 18:49] benshayden commented on #3677
This is currently in [2959983002](https://codereview.chromium.org/2959983002).

[2017-08-08 20:53] benshayden opened #3765 "Add multimodality hypothesis test"
When a metric produces multimodal results, it is effectively one big kind of noise, which makes it difficult to bisect and test for regressions.
Results.html could help users determine whether results are multimodal by running a new hypothesis test to determine how likely a single histogram is multimodal.
When a histogram is significantly multimodal, histogram-set-table-cell or histogram-span or b

[2017-08-08 23:13] #3718 closed

[2017-08-08 23:13] #3758 closed

[2017-08-08 23:13] #3700 closed

[2017-08-09 00:04] xunjieli opened #3766 "[wpr-go] Cert validity (currently set to 10 years) is too long."
Chrome doesn't like certs minted by wpr-go on Android. It says net::ERR_CERT_VALIDITY_TOO_LONG. A google search says that a cert cannot be valid for long than 39 mths.
I found this when I was working on #3735
/cc @nedn @tombergan

[2017-08-09 00:54] nedn opened #3767 "Dashboard Python Tests failing, blocking catapult CQ"
@anniesullie @simonhatch @eakuefner @benshayden

Example: https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Mac%20Tryserver/builds/8572
Can any of you address this as soon as possible?

[2017-08-09 00:56] phrmsilva commented on #3767
That's from a test I added, I'll look into it. Odd that it didn't fail in the CQ when I committed

[2017-08-09 00:57] nedn commented on #3767
Thanks!

[2017-08-09 01:01] xunjieli commented on #3767
/cc @xunjieli

[2017-08-09 01:05] nedn commented on #3767
For P0, I suggest revert your CL, reland & fix the tests to unblock other folks while you're debugging the failure.

[2017-08-09 01:08] phrmsilva commented on #3767
I have a CL to fix I'll send it now

[2017-08-09 01:20] nedn commented on #3767
The original CL is reverted in https://codereview.chromium.org/2997643002/

[2017-08-09 01:20] phrmsilva commented on #3767
Faulty tests have been reverted, let me know if this persists

[2017-08-09 01:44] xunjieli commented on #3767
CQ is still broken. I have CQ-ed my CL twice. https://codereview.chromium.org/2990423002/

[2017-08-09 01:48] phrmsilva commented on #3767
@xunjieli thanks for let me know.

A second CL has been reverted now. All dashboard tests that had been added in add_histograms are now reverted.

[2017-08-09 01:48] phrmsilva commented on #3767
Link to second revert: https://codereview.chromium.org/2999663002

[2017-08-09 01:50] phrmsilva commented on #3767
@xunjieli Could you please try running the CQ again, now that we have reverted a second CL, and let me know the outcome?

[2017-08-09 02:05] phrmsilva commented on #3767
From https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Linux%20Tryserver/builds/8701 looks like it's not working yet.

However the error message points to tests in `dashboard.add_histograms_test`

[code]

All other failures are similar.

However, from https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/add_histograms_test.py doesn't look like the c

[2017-08-09 02:06] phrmsilva commented on #3767
I'm guessing the branch needs to be manually rebased to the HEAD of the remote master since I guess the CQ is not picking up the new reverted code

[2017-08-09 02:40] phrmsilva commented on #3767
I was able to do a dry run with the CQ ([see this CL](https://codereview.chromium.org/3000593002)) and everything passed. If the tests in `dashboard.add_histogram` are still failing, I recommend rebasing onto master to make sure the changes added by the reverts are accounted for in the CL.

My apologies for the inconvenience this may have caused, I'll follow up tomorrow with CLs covering the chang

[2017-08-09 02:40] #3767 closed

[2017-08-09 15:12] anniesullie commented on #3753
The dashboard can store the original story name. But the entire architecture is based around a concept of a master/bot/benchmark/metric/story hierarchy, which can have varying number of levels. This predates telemetry.

[2017-08-09 15:55] anniesullie commented on #3450
Fix is now live.

[2017-08-09 15:55] #3450 closed

[2017-08-09 16:29] #3766 closed

[2017-08-09 16:49] benshayden opened #3768 "Remove HistogramSet support from compare_samples"
Currently, compare_samples supports HistogramSets alongside chart-json and builbot output.
However, neither bisect nor perf try bots ever pass HistogramSets to compare_samples, and they never will because they are being deprecated in favor of pinpoint.
@eakuefner @simonhatch

[2017-08-09 17:26] #3735 closed

[2017-08-10 06:49] #3755 closed

[2017-08-10 06:50] #3750 closed

[2017-08-10 06:51] #3739 closed

[2017-08-10 06:53] #3685 closed

[2017-08-10 06:55] benshayden commented on #3663
[Tooltip added](https://github.com/catapult-project/catapult/commit/c8c5d6b714f8929979b8ae457cbe05459d59b816).

Still need to fix the CSS bug by adding white-space: nowrap

[2017-08-10 06:58] #3607 closed

[2017-08-10 07:06] #3323 closed

[2017-08-10 07:07] #3295 closed

[2017-08-10 07:07] #3294 closed

[2017-08-10 07:07] #3293 closed

[2017-08-10 07:12] #3079 closed

[2017-08-10 07:12] #3068 closed

[2017-08-10 07:16] #1792 closed

[2017-08-10 17:49] eleve11 opened #3769 "[Feature Request] [PerfDashboard] Indicate perf analysis completeness in group report"
At the moment if I open a group report of a there is no indication of how much of the analysis has been conducted so far and whether the displayed number of anomalies is complete or not.
For example, I could come back to a report a couple of days later see that there are a bunch of new anomalies that change the overall impact I believed I had.

So I would like to use this indicator to know how con

[2017-08-10 17:51] natorion commented on #3769
@eleve11 works on V8 as part of the Cr8er project.

@anniesullie we already talked in the past about exposing bot coverage (% of bots that already passed that particlar revision)

[2017-08-10 17:55] anniesullie commented on #3769
This is for `/group_report` with the `rev=` parameter? Currently that shows all monitored timeseries for all sheriff rotations. Would it be possible to constrain to one sheriff rotation?

The implementation would look something like:
1. Get a list of monitored timeseries
2. For each timeseries, get `min_segment_size` from alerting config
3. For each timeseries, grab last `min_segment_size` data po

[2017-08-10 18:25] benshayden commented on #3769
Can add_point_queue annotate TestMetadata entries to indicate their completed rev so that GroupReportHandler can query for a count of TestMetadata entries whose completed_rev < rev?

[2017-08-10 18:27] eakuefner opened #3770 "Make reserved GenericSet infos also specify entry types"
For #3763, we need a good way of differentiating on the command line between string and number diagnostics. By adding an entry_type attribute to reserved infos that have a diagnostic type of `GenericSet`, we can automatically figure out how to cast.

[2017-08-10 18:31] eakuefner commented on #3763
In conversation with @benshayden, we realized that we need to make it easier to specify reserved names on the command line. Steps:

  1. @benshayden will change reserved infos to have camel case names
  2. I will make the `add_shared_diagnostic` script I'm currently writing use this to parse rest_args
  3. When we need ints (for `DeviceInfo`) we can do #3770

[2017-08-10 18:36] simonhatch commented on #3769
No, unfortunately touching TestMetadata's is expensive right now.

[2017-08-10 19:02] natorion commented on #3769
@anniesullie
Yes this is for /group_report?rev=xxxx, sorry forgot to mention that. Would be very interesting to surface that information there (and also via the related API).

Do you suggest that the coverage is only available if a sheriff rotation is also supplied? AFAIK we don't use that concept on group_report yet, right? Would be confusing. For Cr8er that would also not work because it does no

[2017-08-10 20:42] anniesullie commented on #3769
Right now there are too many monitored timeseries to even list in one dashboard request, so I was thinking of a sheriff rotation as a way to narrow that. Unfortunately, there are also too many to list with large sheriffing rotations like Chromium Perf Sheriff. Not sure a good way to implement this.

[2017-08-10 20:44] simonhatch commented on #3769
So what does Cr8er need this feature for? How would it be used?

[2017-08-10 21:59] #3752 closed

[2017-08-10 22:00] phrmsilva commented on #3760
+ eakuefner

[2017-08-11 00:03] natorion commented on #3769
By surfacing the bot coverage one can reason about the confidence (?) of the data e.g. if coverage is 5 % and I see no regressions, that doesn't mean anything. On the other hand if coverage is 95 % and I don't see any regression, there probably will not be any negative performance impact.

[2017-08-11 13:16] nedn commented on #3745
@martiniss & @ehanley324

[2017-08-11 19:09] benshayden commented on #3555
I think SparseDiagnostic covers this, so this bug can be closed?

[2017-08-11 19:09] #3555 closed

[2017-08-11 19:10] #3681 closed

[2017-08-11 19:14] anniesullie commented on #3769
I agree surfacing coverage would be really useful! Just can't think of a feasible implementation.

[2017-08-11 19:21] benshayden commented on #3430
@hannahtwiggsmith recently [landed some metrics](https://codereview.chromium.org/2917853003). I'll take over adding more.

[2017-08-11 19:57] #3554 closed

[2017-08-11 20:53] natorion commented on #3769
Taking a step back: A user simply wants to know if there is already enough coverage to judge the impact. How about a low-tech solution? So, what if instead of surfacing actual percents there are simply three states:

-Red
-Yellow
-Green/Blue/Whatever works for color blind people :-D

Instead of using actual coverage data we probably have the average full cycle time on Chromeperf for CL at hand. Le

[2017-08-11 20:54] anniesullie commented on #3769
Sure, that works for us. @martiniss and @ehanley324 are working on driving down the cycle time, maybe there is data an app could pull to estimate?

[2017-08-11 21:04] nedn opened #3771 "Clicking submit in /file_bug post shows "No alerts specified to add bugs to.""
My steps:
Navigate to a /group_report page.
I can verify that I am already logged in the perf dashboard ("nednguyen@google.com" is shown in the upper right corner).
Select a few graphs.
Click "Triage" button, then "New Bug".
Enter some texts in the bug form.
Hit "Submit".

What I expect:
Perf dashboard created a crbug for the regressions I triaged.

What actually happened:
The bug window shows "No

[2017-08-11 21:07] anniesullie commented on #3771
Any errors in JS console? What Chrome version/OS?

[2017-08-11 21:08] nedn commented on #3771
I already that windows, so JS console errors are lost.

Chrome version: Version 60.0.3112.90 (Official Build) (64-bit)
OS: Mac 10.12.16

[2017-08-11 21:35] hannahtwiggsmith commented on #3494
Instead of StringProperty on TestMetadata we made a SparseDiagnostic entity that is plumbed through AddHistogram, and the story tag filter supports filtering stories by tag on the report page.

I think that everything is in place for this feature.

[2017-08-11 21:35] #3494 closed

[2017-08-13 15:46] Kwantem commented on #3438
Hello I noticed that this issue is still open. I would like to tackle this issue and help to start clearing the board.

[2017-08-14 04:31] #3290 closed

[2017-08-14 07:51] mi-ac commented on #3769
I assume the color model's time is based on some cycle-time Chromeperf knows or deduces about each time series individually? If we used just the commit time, we wouldn't need Chromeperf for the calculation.

But even with good average cycle-time numbers we get wrong numbers in low traffic times or when a bot is down for a while. E.g. in the evening or in the weekends, there might be few commits on

[2017-08-14 13:28] anniesullie commented on #3438
Whoops, sorry this was fixed in b3b786c1974dc5d99f9abf9b707616a1a6f27be8.

[2017-08-14 13:28] #3438 closed

[2017-08-14 15:07] simonhatch commented on #3768
We can probably just remove compare_samples when we remove the bisect recipe.

[2017-08-14 15:56] SapanaJadhav commented on #3438
Yes I saw, thanks

On Aug 14, 2017 6:58 PM, "anniesullie" <notifications@github.com> wrote:

[2017-08-14 16:21] simonhatch opened #3772 "Pinpoint - Framework for updating old data"
Pinpoint pickles its' jobs (which in turn pickle all of it's state), and it's pretty easy for this to break as you change the job class or any associated classes around. One idea for making this more robust would be to introduce some versioning to the job, and a cron job that goes and updates all jobs from earlier versions to latest. We could either just make jobs invisible to queries until the cr

[2017-08-14 16:55] qyearsley commented on #1876
Archiving/closing since this doesn't appear to be high priority.

[2017-08-14 16:55] #1876 closed

[2017-08-14 17:23] tdresser opened #3773 "nav-bar invisible in Firefox"
chromeperf.appspot.com doesn't display the nav bar in Firefox.
There's no output in the console.

[2017-08-14 17:41] billbudge opened #3774 "Seeing a 30% performance regression on v8 / Emscripten-asm_wasm / Bullet"
Chrome version: 60.0.3112.90 (Mac)
URL: https://chromeperf.appspot.com/report?sid=19a820ba191cd006afc9172f2f62afb6ebf62e82b04df0ad7ac110cfdbf7a54c&rev=47322

Please copy and paste any errors from JavaScript console (Command+Option+J to open):

Please describe the problem:

30% perf regression on every platform. It's strange that eliminating Fullcodegen would cause this but got a gasper report on e

[2017-08-14 17:42] billbudge commented on #3774
Eh wrong tracker. Sorry for spam.

[2017-08-14 17:42] #3774 closed

[2017-08-14 19:09] zeptonaut commented on #3472
Closing this given that it's tracked elsewhere.

[2017-08-14 19:09] #3472 closed

[2017-08-14 20:03] eakuefner commented on #3768
@benshayden has removed HistogramSet support from `compare_samples` so that we don't have to worry about it when doing refactorings, but probably, cleaning up this script is still a good idea. Renaming and reassigning to @simonhatch.

[2017-08-14 23:52] natorion commented on #3769
Yes. That is the reason why the tool should never claim that there is 100 % coverage. It is something we can't answer with good conscious and the present data. We should keep the precision intentionally low in order to have a higher accuracy.

Sorry if I was not clear enough in my proposal regarding cycle time.

[2017-08-15 17:51] zeptonaut opened #3776 "Devil timeout_retry should state total timeout when it expires"
While investigating https://bugs.chromium.org/p/chromium/issues/detail?id=753793, I got hung up by the following error:

[code]

Why were we only waiting for 1s to verify charging, and why were we giving up when a full 0.6s of that 1s was remaining?

After talking to @jbudorick quite a bit, I realized that I was misunderstanding how the `timeout_retry` code worked: in reality, we were waiting for

[2017-08-15 17:53] jbudorick commented on #3776
iirc @perezju has done some work on this in the past & may have opinions here, too.

[2017-08-15 19:53] simonhatch opened #3777 "Dashboard - Overlapping range queries"
This comes up often, most recently in https://bugs.chromium.org/p/chromium/issues/detail?id=755661

I'll just repost my comment from the bug:

I think this is largely due to how we query for ranges. Since AppEngine doesn't support  multiple inequality filters on a single query, we have trouble doing true range overlap queries. The workaround right now is to query for all alerts with end_revision >

[2017-08-15 22:10] anniesullie opened #3778 "Exception in update_bug_with_results"
We got an alert that not all bugs are being updated correctly.

Looking at go/chromeperf-logs, url being requested appears to be: https://cr-buildbucket.appspot.com/api/buildbucket/v1/builds/8971262121741666416?alt=json which corresponds to http://crbug.com/755224 and https://chromeperf.appspot.com/buildbucket_job_status/8971262121741666416 and https://build.chromium.org/p/tryserver.chromium.perf/

[2017-08-16 08:28] perezju commented on #3776
Yeah, I guess the current error message is just leaking some implementation detail which may not be that useful or relevant to the user reading the logs. Maybe just replace it with something like:

[code]

??

[2017-08-16 10:32] perezju opened #3779 "run_benchmark try fails with catapult --repo-path"
I want to run a perf try-job with a catapult change, but this fails:

[code]

Am I missing or doing something wrong?

@nedn @simonhatch

[2017-08-16 13:29] anniesullie commented on #3778
Actually have some spare time today, going to take a look.

[2017-08-16 14:42] simonhatch commented on #3779
If you run_benchmark from /src, does it work?

./tools/perf/run_benchmark try ... --repo_path=third_party/catapult

[2017-08-16 14:47] perezju commented on #3779
I've tried that too, but fails with the same error:

[code]

[2017-08-16 14:51] simonhatch commented on #3779
Do you have just the default catapult setup, or did you unpin it (via https://github.com/catapult-project/catapult/blob/master/CONTRIBUTING.md)

[2017-08-16 14:52] perezju commented on #3779
Ah, yes. It's unpinned.

[2017-08-16 14:55] simonhatch commented on #3779
We ran into this yesterday when @randalnephew tried to do the same thing with an unpinned checkout. Not sure why that fails, haven't looked into it yet, but the default setup works if you're willing to revert to that.

[2017-08-16 17:33] #3754 closed

[2017-08-16 19:15] natduca opened #3780 "Way to "filter" by process name"
No need for anyone on catapult space to dig into this, but I heard an interesting feature request for a way to just see processes of a given name in the viewer. I figured I'd file a bug as a featurerequest as a reminder for me if I ever get some 20% coding time.

Though if anyone thinks this is a bad thing, now we have a bug to talk it over. :)

[2017-08-16 19:26] naseer commented on #3780
Could even be an X to make unwanted processes/threads go away

[2017-08-16 19:31] tdresser commented on #3780
Another possible UI: select a duration, and then have a button to make all processes with no content within that duration go away.

[2017-08-17 09:56] zeptonaut opened #3781 "Bisect completed successfully but didn't post a comment to the bug"
https://bugs.chromium.org/p/chromium/issues/detail?id=756003#c18

Any idea what's up?

@dave-2 @simonhatch

[2017-08-17 13:52] anniesullie commented on #3781
Looking at the logs:

[code]

It looks like:
* We are making a POST request to monorail.
* We log `Updated bug 756003`, which means we believe the post request succeeded (I think the "results from None" part of the log is a problem with not cleaning up the old rietveld-based system, not a bug. It's trying to log the rietveld issue ID, it should log the try job id.
* We do **not** log `Failed to up

[2017-08-17 13:56] anniesullie commented on #3781
Monorail issue: https://bugs.chromium.org/p/monorail/issues/detail?id=2984

[2017-08-17 14:42] #3333 closed

[2017-08-17 22:20] #3688 closed

[2017-08-18 02:56] eakuefner opened #3782 "Start with more basics in how-to-write-metrics.md"
It's come up that users may be broadly unfamiliar with our ecosystem by the time they read how-to-write-metrics.md, so there's probably more we can do here to introduce people to the concepts. @benshayden happy to brainstorm about this, but off the top of my head, some opportunities might be:

* Clearly explain what results2 is, and optimally link to a sample (maybe roll it every time there's a .h

[2017-08-18 02:57] eakuefner opened #3783 "Add more example CLs to TBMv2 migration guide"
The TBMv2 migration guide lists an example benchmark that uses a TBMv2 metric, but could probably draw from more past migrations to explain fine points about how migration is supposed to work.

[2017-08-18 14:24] maxlgu opened #3784 "Support CPU time FCP (First Contentful Paint)"
Already having CPU time FMP(First Meaningful Paint), we should support CPU time for FCP (First Contentful Paint) as well.

[2017-08-18 20:35] xunjieli opened #3785 "[wpr-go] Remove OCSP and issuing certificate url extensions when minting certs"
These two extensions should be removed when we mint new server certs based on the old ones.

       // RFC 5280, 4.2.2.1 (Authority Information Access)
       OCSPServer            []string
       IssuingCertificateURL []string

[2017-08-18 21:09] xunjieli commented on #3785
Chromium side bug: https://bugs.chromium.org/p/chromium/issues/detail?id=756481#c9

[2017-08-18 21:11] zeptonaut opened #3786 "Telemetry should upload raw traces to cloud storage when they're too large to turn into an HTML trace"
Context: I spent much of Thursday investigating [this bug](https://bugs.chromium.org/p/chromium/issues/detail?id=756003) where a subtly introduced infinite loop caused the trace size to explode.

I ran into a common problem where I lacked the hardware to directly reproduce the bug and, even though trace viewer wasn't able to open the overly-large (1.5GB) trace, it would have been extremely helpful

[2017-08-18 21:36] xunjieli commented on #3785
There is also "CRL Distribution Points"

If Telemetry configures a local trust anchor correctly, we wouldn't need to worry about these extensions, because Chrome doesn't need to fetch intermediates and cert verification will pass.
CRL and OCSP are revocation endpoints. Because the cert is modified by WprGo, we might do revocation checks, but those checks are slow and flaky, so we can ignore them i

[2017-08-18 22:52] xunjieli opened #3787 "[wpr-go] Support archives recorded using localhost servers"
For more context, see:
https://bugs.chromium.org/p/chromium/issues/detail?id=757014#c6

Some archives might be recorded using a localhost server. To support this use case, we need to add an ability to remap localhost to a named host so WprGo can serve those requests. Telemetry starts Chrome using a host resolver mapping that excludes localhost.

[2017-08-20 16:01] #2075 closed

[2017-08-20 16:12] #3452 closed

[2017-08-20 16:12] benshayden opened #3788 "Hide UserModelBuilder warnings from users, preserve them for debugging and metrics."
Currently, the UserModelBuilder validates its output and displays warnings when an unexpected condition arises such as `double-handled event`. These warnings were vanishingly rare when UMB was first written, but are becoming increasingly common, possibly due to changes in Chromium's input latency tracing system.

Ideally, trace viewer would show warnings when the UserExpectations are definitely or

[2017-08-20 16:13] #3622 closed

[2017-08-21 15:59] pasko opened #3789 "FR for perf trybots: customizable pageset-repeat, upload raw results and traces"
Sometimes I need to investigate a perf tweak. Results can be noisy and distributed non-normally. I want to:
* collect more samples
* perform my own statistical analysis (in colab)
* Whenever I find interesting effects in the data analysis, I need to look into traces of the corresponding runs.

These days it means running tests locally, which is inconvenient and error-prone.

Example of a noisy ben

[2017-08-21 16:06] anniesullie commented on #3789
@dave-2 @simonhatch we should ensure all this is doable from pinpoint.

You should be able to get the traces, with links in chartjson, for tbm and tbm2 benchmarks.

Running from the command line, you should be able to add telemetry flags like --pageset-repeat.

[2017-08-21 16:55] pasko commented on #3789
Not sure what you mean by links in chartjson, but links in general make the workflows harder. Today from a local run I have a directory with traces and results. With that pulling results to colab is trivial, so I thought that a perf trybot would 'just' archive-n-upload all the artifacts stored to the output directory. On the other hand, if there is a well-maintained script that puts a handful of t

[2017-08-21 16:57] simonhatch commented on #3789
I believe Annie was addressing your third request, getting traces for corresponding runs. When you run with chartjson output, the trace links are actually in the output.

[2017-08-21 17:21] pasko commented on #3789
when I run locally with `-v --output-format=chartjson` the output is just huge, and I did not find any links to traces in it in 10000 last lines of output, hence chartjson does not work for me for local testing.

And chartjson still does not allow me to understand which metrics are coming from the same run. See this fragment:
[code]

This makes it unclear which values of `foreground_tab_load_compl

[2017-08-21 17:23] anniesullie commented on #3789
Adding @benshayden: Like Simon said, I was saying the chartjson has links to the traces for trybot runs. Ben is probably the person to ask about local runs. I think there is a way to export to CSV?

[2017-08-21 19:00] simonhatch opened #3790 "Dashboard - Migrating test names fails"
A while back, stoppage_alerts were removed but the TestMetadata entities in datastore still have them. When we to_dict() them and instantiate new instances in /migrate_test_names, errors out with an AttributeError.

[2017-08-21 19:02] benshayden commented on #3789
`./tools/perf/run_benchmark --output-format=csv-pivot-table start_with_url.warm.startup_pages`

Produces a table like this:
![](http://imgur.com/vp4Iifv.png)

Here's the workflow to find an interesting value and the trace for it:
- import the csv into google sheets
- use Data > Pivot table to decide which run_index you want to dig into
    - configure Rows, Columns, Values, scroll a lot, read a lo

[2017-08-21 19:16] benshayden commented on #3789
I don't know of a script to convert a chartjson file to csv directly, if you have a chartjson and want to avoid re-running the benchmark. I could write the script for you if you want, but we're hoping to deprecate chartjson at some point.

Results.html offers a button to download a CSV. I'll check that it's still working.

There is a library for converting chartjson to Histograms, but not a script

[2017-08-21 19:44] #3790 closed

[2017-08-22 04:34] #111 closed

[2017-08-22 09:47] pasko commented on #3789
csv-pivot-table sounds just awesome, I will give it a try next time.

On ergonomics:

* why not dump all formats to output by default? It seems like a cheap operation. Dumping all would also make sure that all formats keep working.

* I perform all analysis in this amazing interactive tool http://go/colab (sorry, googlers only), where I can drill into data with python and its great visualization t

[2017-08-22 18:58] benshayden commented on #3365
Data stoppage alerts have been removed.

[2017-08-22 18:58] #3365 closed

[2017-08-22 21:30] xunjieli opened #3791 "[wpr-go] Add a presubmit check to make sure wpr_public_hash.txt is in sync with wpr_cert.pem"
If wpr_cert.pem is changed, wpr_public_hash.txt needs to be updated as well.
We can enforce this using a presubmit check.

[2017-08-22 21:32] xunjieli commented on #3791
@nedn  Is there a way to condition on a specific file being changed in presubmit.py? Or do we need to run the check every time regardless whether wpr_cert.pem is changed or not?

[2017-08-22 21:38] nedn commented on #3791
There is a way using input_api.AffectedFiles(). Also see https://cs.chromium.org/chromium/src/tools/perf/PRESUBMIT.py?rcl=62da4c88e85fa365dbc8bc100dafb36c4088e9db&l=108

[2017-08-23 05:43] #3788 closed

[2017-08-23 05:58] benshayden commented on #3533
Can this be closed?

[2017-08-23 08:32] eleve11 opened #3792 "[API][Feature Request] Implement Access-Control-Allow-Origin header for Chromiumdash"
Context: I am working on extending Chromiumdash with some perf data from Chromeperf API. The authentication strategy is: sending a user authenticated request from the client side JS.

When sending a the request from the client side of Chromiumdash, Chromeperf returns a 405 because the Access-Control-Allow-Origin header is not set to allow cross domain requests from Chromiumdash.

The URLs would be

[2017-08-23 14:15] simonhatch opened #3793 "Pinpoint - Confirm chartjson reading supports all cases"
Specifically ones like: https://chromeperf.appspot.com/report?sid=be0b514f8d1d866ceac68f50647f1ed467286acff7512d566b746c9d4f9750a4&start_rev=486232&end_rev=495876

ChromiumPerf/android-webview-nexus5X/system_health.common_mobile / timeToFirstMeaningfulPaint_avg / load_tools /

The metric sent to bisect is "timeToFirstMeaningfulPaint_avg/load_tools/load_tools_weather"

@dave-2

[2017-08-23 15:19] eleve11 commented on #3792
updated regexp

[2017-08-23 22:31] anniesullie commented on #3792
CL out for review: https://codereview.chromium.org/3005493002/

[2017-08-24 04:46] benshayden commented on #868
Steps:

1. Use mouse-mode-icons directly in timeline-view instead of mouse-mode-selector without modifying the other users. Started:
![](http://i.imgur.com/eai9QzUh.png)
1. Use mouse-mode-icons directly somewhere in [quad-stack-view](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/ui/base/quad_stack_view.html)
1. Use mouse-mode-icons directly somewhere in [display-item-deb

[2017-08-24 04:56] benshayden commented on #2121
This is still low priority, but we now have questions about how trace viewer is being used that analytics/UMA would help answer.
- Is anybody using tquery?
- Is anybody using ns time display mode?

Next steps:
1. Add tr.b.Timing instrumentation around tquery and time display mode
1. Add Timing instrumentation around other UI features to measure usage
1. Add Timing marks around drawing code and oth

[2017-08-24 05:05] benshayden opened #3794 "Move documentation for MultiDimensionalView to markdown"
The comments in [multi_dimensional_view](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/base/multi_dimensional_view.html) are pretty good, but they would be much easier to read in a markdown file next to the code.
Understanding this data structure is becoming increasingly important as more metrics use it. Currently memoryMetric and newCpuTimeMetric use it.

[2017-08-24 06:16] #3387 closed

[2017-08-24 09:54] eustas commented on #3742
What scenarios are tested? If no real compression is required, then brotli encoder would be just a dozen lines - tiny header and one byte footer will turn bytes to a proper "brotli" stream...

[2017-08-24 13:20] xunjieli commented on #3742
We need a fully functional Brotli encoder and decoder.
The scenario is that when Chrome advertises "br" in Accept-Encoding, and facebook gives us brotli-encoded response. WprGo needs to be able to decompress that content, inject some custom javascript (e.g. [deterministic.js](https://cs.chromium.org/chromium/src/third_party/catapult/web_page_replay_go/deterministic.js)), and re-compress that conte

[2017-08-24 18:39] benshayden opened #3795 "memoryMetric fails with atrace."
[This google-only trace](https://drive.google.com/a/google.com/file/d/0B-IDmAzWp11iVnQ1NTctUU9oZk0) contains both atrace and memory dumps. memoryMetric throws `Unknown process name "/init". Please add it to |CHROME_PROCESS_NAMES|.`
Could either memoryMetric filter processes or canonicalizeProcessName return UNKNOWN instead of requiring all processes to be known?

[2017-08-24 18:56] #3184 closed

[2017-08-24 18:56] #3297 closed

[2017-08-24 20:11] deepanjanroy opened #3796 "Odd domContentLoadedEnd event immediately following navigationStart"
Sometimes there is domContentLoadedEventEnd immediately following a navigationStart event. For example, when implementing the new TTI definitions, I was working with
[this trace](https://github.com/catapult-project/catapult/files/1250109/trace_multiTTI.json.gz), I came across the following time stamps, all for frame 0xd27e4361e08:

[code]

It seems unlikely that a document can reach domContentLoad

[2017-08-25 14:02] zeptonaut opened #3797 "Provide an easy way to rerun a bisect from a "bisect result" code review comment"
I've noticed that rerunning a bisect that fails is actually pretty difficult, requiring many clicks and a little bit of expertise on how to kick off bisects in the first place.

It would be _awesome_ if, when a bisect failed and posted a comment into a bug, it provided some link that you could click to either

1) (best) Take you to a page where you can rerun the bisect in one click. Preferably, th

[2017-08-25 14:38] zeptonaut opened #3798 "Benchmark should produce results but exit with an error code if BattOr data is unavailable"
The importance of this has been made increasingly clear by the ongoing instability of the BattOrs, but the importance of this will increase as we bring in more sources of tracing data that could potentially fail (e.g. dtrace, ftrace, ETW).

When a tracing agent fail, we should have some way to indicate to Telemetry that a failure occurred so that it can exit with an error code while still producin

[2017-08-25 15:11] anniesullie commented on #3797
@dave-2 @perezju

This sounds similar to some of the ideas we've had for pinpoint. @dave-2 had mentioned he wanted people to be able to get used to pinpoint before adding a ton of UI features. I wonder if this is one of them--instead of "retry entire bisect" maybe you could retry the range in which things failed. I think in some cases you'd really want to "retry with catapult@head".

Thoughts?

[2017-08-25 15:45] chromy commented on #3795
Yeah sgtm, I actually saw another case of this the other day in a slightly different context. I'm out on Monday (public holiday) but I'll take a look on Tuesday, hopefully should be a simple fix.

[2017-08-25 21:09] nedn commented on #3798
[code]

[2017-08-26 01:20] dave-2 opened #3799 "Fix timing issues with Job page."
I'm seeing two timing issues when going back and forth between Job status pages.

The first one is this error where it's trying to use `jobInfo.status` before it's available.
[code]

The second one is that the graph doesn't clear. This is because the `<job-page-header>` is outside the "if loading" tag. Putting it inside the tag gives me another error:
[code]
I think it's trying to draw the chart b

[2017-08-27 04:00] htbegin opened #3800 "The display of nested and overlapped async events in Trace viewer is broken"
Hi,
I'm trying to use `tracing/bin/trace2html` to plot nested async events.
When there are overlapped events in these events, the result seems broken to me.

The following is the content of the json file I used:
[code]
And I use the following command line to generate the HTML output from the json file:
[code]

The expected result is the "Write" event will be displayed underneath the "Read" event,

[2017-08-27 05:29] dave-2 opened #3801 "Old change info is retained when changing between Jobs"
If you click one Job, open the Change info, then go back and click another Job, the old Change info still shows.

[2017-08-27 14:38] htbegin opened #3802 "Under timing mode of trace viewer the selection area will be truncated when there are too many async events"
Hi,
I'm using `tracing/bin/trace2html` tool and the trace event format to display async events from different processes.

When the number of processes exceeds a certain number, the selection area (includes the grey areas beside the selection and the two selection lines) will be truncated, but the triangles used to indicate the position of the selected slices are correctly displayed. I'm not famili

[2017-08-28 01:12] loisgh commented on #3456
I'd like to work on this

[2017-08-28 20:08] #3661 closed

[2017-08-28 20:59] benshayden opened #3803 "Make dashboard frontend use paper spinner instead of hot-loading a loading gif from google.com"
https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/elements/chart-container.html#L162

@eakuefner

[2017-08-28 22:10] benshayden opened #3804 "Smoke test Diagnostics"
Currently, it is easy to accidentally define a Diagnostic subclass that doesn't actually implement the Diagnostic interface. This can break results.html. See #3507 for more background. Presubmit should smoke-test all Diagnostic subclasses to ensure that they can be

- created empty
- cloned
- merged
- visualized
- serialized
- deserialized
- tested for equality

[2017-08-28 22:10] #3507 closed

[2017-08-28 22:18] benshayden opened #3805 "Results.html's alpha slider is slow"
The [Statistical Significance Threshold Slider](https://github.com/catapult-project/catapult/blob/master/docs/metrics-results-ui.md#the-significance-threshold-slider) in the top controls currently causes every non-reference histogram-set-table-cell to re-run the MWU hypothesis test algorithm, which is slow and unnecessary. Cells should store MwuResult, which contains the p-value. When the alpha ch

[2017-08-28 22:42] benshayden commented on #3405
[This demo](https://dev-benjhayden-5d4212e2-dot-chromeperf.appspot.com/report?sid=4a565ec69501908a575b892167ae573f3db5b077f34d3a2c2040e7cc364f8641)
- offers tabs of related timeseries sparklines for memory measurements
- draws a vertical line through all sparklines when you mouse over a point in the chart
- uses the same colors in sparklines as in the chart
- hides error bars from sparklines to ke

[2017-08-28 23:09] benshayden opened #3806 "Colab support"
[Results.html](https://github.com/catapult-project/catapult/blob/master/docs/metrics-results-ui.md) and the [chromeperf dashboard](http://chromeperf.appspot.com/) are optimized for some common workflows for working with performance data, but there will always be use-cases that we can't support through them. Colab ([outside google](http://colaboratory.jupyter.org/welcome/) / [inside google](http://

[2017-08-29 04:30] #1558 closed

[2017-08-29 11:09] pasko commented on #3806
Thank you for ideas, Ben!

fwiw, I am leaning more towards telemetry producing raw output and a
library of colabs to pull it in (rather than creating a colab). This makes
more sense for power users, as everyone's knowledge of colab is evolving :)

Also, having turducken code in telemetry (JS in HTML in Python in Python)
would be unpleasant to maintain.

On Tue, Aug 29, 2017 at 1:09 AM, Ben Hayden

[2017-08-29 12:23] tdresser commented on #3405
Nits:
* There should be a way to expand the related graphs more, or perhaps they should only expand fully.
* When minimized, clicking on the header looks like it should do something, but doesn't.

[2017-08-29 16:12] np88 opened #3807 "--no-performance-mode flag does not work for telemetry on Android"
I have a chromium checkout. I execute the tools/perf/run_benchmark script and try to add the --no-performance-mode flag. Tt makes no difference whether I activate the flag or not, the CPU will be put into performance mode.

[2017-08-29 16:15] np88 opened #3808 "Telemetry does not work with multiple tabs for Chromium on Android"
As the title says, Telemetry does not work with multiple tabs for Chromium on Android. It only works if no tab has been previously opened (e.g. when you clear the data and configurations). When multiple tabs are opened, it infinitely shows an about:blank tab.

[2017-08-29 16:26] benshayden commented on #3806
Thanks!

I was just discussing this with @eakuefner . We tried hard to follow trace-viewer's lead and maintain only 1 implementation of TBM2 in JS, and I think we can avoid most of the problems of turducken code, but the natures of the perf test harnesses right now seem to necessitate implementations for most TBM2 features in JS, Python, and C++, so I'm currently working to simplify them: #3507 #3

[2017-08-29 17:20] zeptonaut commented on #3797
Agreed. I think that a couple of different options would be really useful, ordered roughly in the order of how useful I think each would be:

- Rerun original bisect
- Rerun bisect with narrowed revision range
- Rerun bisect with custom revision range
- Ability to run each of the above with catapult@`HEAD`. It seems like this should be an orthogonal concept to each of the above.

[2017-08-29 17:28] simonhatch commented on #3797
1. A page to rerun it wouldn't be that difficult, one idea is that we could potentially just add a link to retry from the buildbucket page to retry with same params. Being able to modify those params would be a bit more work since we'd have to bring up the dialog and all that.

2. Taking you back to the dashboard time-series, again could provide a link in the buildbucket page to /group_report?bug_

[2017-08-29 17:31] zeptonaut commented on #3797
I'd love having the first available. Bonus points if the revision range were specified via URL parameters, which I could "copy link", paste, and easily change in the omnibox to match any narrowed ranges that were found.

[2017-08-29 18:10] eakuefner opened #3809 "Do extra steps in add_histograms_queue"
`add_point_queue` calls these two functions: https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/add_point_queue.py#L78

We need to call them for histograms as well.

[2017-08-29 23:28] benshayden opened #3810 "Deprecate and remove JsonOutputFormatter"
Currently, there are several output formatters that produce json, which is confusing users. JsonOutputFormatter is one of the deprecated formatters. Ideally, the only json output formatter should be HistogramSetJsonOutputFormatter (named "histograms").
Let's send out a deprecation announcement for it so we can remove it soon.

Does anything rely on JsonOutputFormatter?
@ashley3 @eakuefner @nedn @s

[2017-08-29 23:38] benshayden opened #3811 "Clean up histogram_set_table_test"
Some tests in histogram_set_table_test.html don't quite follow best practices.

- Finish viewReferenceDisplayLabel
- Finish viewSortColumnIndex
- Finish viewSortDescending
- Move viewCellOpen and controlCellOpen to histogram_set_table_cell_test
- Finish and move mergeRelationships to histogram_set_table_row_test, or delete it if RelatedNameMap
- Test that histogram-set-controls automatically prepe

[2017-08-29 23:40] benshayden opened #3812 "Test HistogramSet.groupHistogramsRecursively()"
This function is currently only tested indirectly via integration test. There should also be a unit test for it.

[2017-08-29 23:46] benshayden opened #3813 "Move tr.importer.compareEvents to tr.model.TimedEvent.compare"
This function was originally only used in findInputExpectations, but is generally useful for all types of events.

[2017-08-29 23:51] benshayden opened #3814 "Test parity between tr.b.Unit and tracing.value.histogram.UNIT_NAMES"
The JS Unit system was not completely ported to Python when Histograms were ported.
UNIT_NAMES hard-codes a list of unit names, which is fragile.
Let's finish porting tr.b.Unit to Python and also use a presubmit or other test to ensure that the JS and Python implementations stay synchronized.

[2017-08-29 23:56] benshayden opened #3815 "Find which legacy metrics use 'bit/s' and 'char/s' units."
These two [legacy units](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/value/legacy_unit_info.html) have opposite default improvement directions, which seems likely to cause confusion.
Eventually, legacy units should be deprecated. In the mean time, let's at least document why they have opposite default improvement directions, if they are needed at all.

[2017-08-30 00:03] benshayden opened #3816 "Find practical URL length limit"
A URL length limit is used in HistogramSetLocation to avoid creating broken deep links.
Such a limit might be useful in other products that create URLs such as deep links.

[2017-08-30 05:22] deepanjanroy opened #3817 "TTCI should not report any value instead of silently failing if resource load slices are not found"
TTCI depends on getting finding 'ResourceLoad' async slices for network data. These slices only show up when 'disabled-by-default-network' is enabled. When that tracing category is not enabled, TTCI current considers the entire trace network quiet and thus reports wrong value.

We should
- [ ] Not report any TTCI value is no ResourceLoad async slice is found. There has to be at least one network s

[2017-08-30 05:52] benshayden opened #3818 "Merge timeseries on dashboard frontend"
Currently, the story-tag-filter only filters the story picker autocomplete box, it doesn't affect the charts.
Telemetry merges values across all stories in a benchmark before they are uploaded to the dashboard, so users can see summarized metrics across all stories in a benchmark.
There is no way for users to see summarized metrics across *some* of the stories in a benchmark.
As benchmarks are bei

[2017-08-30 05:54] benshayden commented on #1624
Archiving

[2017-08-30 05:54] #1624 closed

[2017-08-30 05:59] benshayden commented on #3651
The next steps here are #3653  and #3014 .

[2017-08-30 06:09] benshayden opened #3819 "Propagate metadata through sample diagnostics"
The drill-down user flow for results.html involves selecting [sample diagnostics](https://github.com/catapult-project/catapult/blob/master/docs/metrics-results-ui.md#the-show-histogram-button).
Currently, merged histograms contain sample diagnostics that do not indicate anything about the samples' origins. A merged histogram might contain samples from many different stories, for example, and the u

[2017-08-30 06:20] benshayden commented on #3704
As a simple first step, sample values can be displayed as text, right-aligned, in a tab alongside the diagnostics, sorted numerically.

[2017-08-30 09:22] perezju commented on #3797
Agree with Annie's comments. Some of these things will probably be quite different in the pinpoint world. For example, rather than "retrying the whole bisect" you might want to try re-run only some specific revisions, or add extra points to the existing bisect on either wider or narrower ranges.

On of the great strengths of pinpoint as it is being designed is that even a "failed" bisect should no

[2017-08-30 12:06] nedn commented on #3810
+100
The only thing rely on JsonOutputFormatter I know of is users using "--output-format=json" for getting the traces file output locally. I think we need to figure out a good way for users to get local trace file before deprecating this output format.

[2017-08-30 13:52] natorion opened #3820 "Parts of a report not loading"
When I open https://chromeperf.appspot.com/report?sid=7623b4e9ccbd4479da04d77bde69837ed642ce323001bdd92ebb4ce37b656a48 Speedometer (1) keeps on loading but never finishes. What is happening?

[2017-08-30 13:57] ashley3 commented on #3810
I think we need to keep json_3_output_formatter.py in the long run in addition to histogram_set_json_output_formatter.py. But we can definitely get rid of json_output_formatter.py as soon as we have a good way for users to get local trace files besides using '--output-format=json'.
Much of the transition off of json_output_formatter.py is covered here: https://bugs.chromium.org/p/chromium/issues/d

[2017-08-30 14:31] simonhatch commented on #3820
I believe this was migrated recently from:

Total/http___browserbench.org_Speedometer_ -> Total/Speedometer

@ashley3

[2017-08-30 15:30] ashley3 commented on #3820
Yep, looks like some of the bots kept reporting the old name past when I did the migration so I'll try to run the migrations again today

[2017-08-30 15:39] simonhatch commented on #3820
@natorion How did you get this link? It might just be an old link, the shorturi contains the page_state, which may just refer to an old name.

[2017-08-30 15:48] natorion commented on #3820
It is a link I use for a dashboard. I am surprised that there is no error
in case the benchmark is not there though.

On Mi., 30. Aug. 2017, 17:39 simonhatch <notifications@github.com> wrote:

[2017-08-30 15:52] simonhatch commented on #3820
Maybe we should just go and migrate page_states when we do migrations, there are < 200k of them.

[2017-08-30 16:41] #2405 closed

[2017-08-30 17:04] benshayden opened #3821 "Plumb device id diagnostic"
One of the big wins of the Histogram Pipeline is the ability to see when a benchmark moves from running on device A to device B, which can explain regressions.
This will be plumbed as a Histogram-level shared sparse GenericSet Diagnostic, more easily than through chartjson.
This is a 6-line change.
- reserve the diagnostic name in python and js
- add it in _MakeDeviceInfoDiagnostics
- add it in HI

[2017-08-30 17:20] dave-2 opened #3822 "Cache Dep details in the Dep object"
### subject, author, timestamp
Right now, to show Dep details (subject, author, timestamp) in the UI, Pinpoint does an XHR call to Gitiles. This leads to noticeable loading times when clicking on points on the graph. Since Pinpoint already does these lookups in the backend when creating and running a job, we might as well store this information in the Dep in the datastore.

### commit URLs
It's al

[2017-08-30 20:50] #3683 closed

[2017-08-30 20:51] #1677 closed

[2017-08-30 21:17] benshayden commented on #1682
Archiving due to apparent lack of interest.

[2017-08-30 21:17] #1682 closed

[2017-08-30 21:26] benshayden commented on #2310
Let's close this in favor of redesigning the legend.

[2017-08-30 21:26] #2310 closed

[2017-08-30 21:37] benshayden commented on #1803
Obsolete. Let's file a fresh bug if we want to plumb this through SparseDiagnostic.

[2017-08-30 21:37] #1803 closed

[2017-08-30 21:39] benshayden commented on #1795
Archiving.

[2017-08-30 21:39] #1795 closed

[2017-08-30 21:43] benshayden commented on #1344
Aside from the Units formatting, this appears to have been fixed in #3519

[2017-08-30 21:43] #1344 closed

[2017-08-30 21:48] benshayden commented on #2334
Let's use diagnostics instead?

[2017-08-30 21:48] #2334 closed

[2017-08-30 21:52] benshayden opened #3823 "Diagnostics for hinting find_anomalies"
Currently, the chromeperf dashboard detects anomalies (regressions and improvements) in timeseries using a one-size-fits-all statistical algorithm based on the t-test.
However, this algorithm sometimes misses regressions and sometimes incorrectly identifies anomalies. Some metric authors know a better algorithm for detecting regressions.

[2017-08-30 21:55] benshayden commented on #1860
This looks done.

[2017-08-30 21:55] #1860 closed

[2017-08-30 22:01] benshayden commented on #1458
#3680

[2017-08-30 22:01] #1458 closed

[2017-08-30 22:04] #1416 closed

[2017-08-30 22:07] benshayden commented on #2352
This seems to have been fixed.

[2017-08-30 22:07] #2352 closed

[2017-08-30 22:08] benshayden commented on #2348
This appears to have been fixed.

[2017-08-30 22:08] #2348 closed

[2017-08-30 22:09] benshayden commented on #2253
This seems to have been fixed.

[2017-08-30 22:09] #2253 closed

[2017-08-30 22:10] benshayden commented on #2048
This was fixed by adding a new blue button in chart-title.

[2017-08-30 22:10] #2048 closed

[2017-08-30 22:11] benshayden commented on #1333
Archiving

[2017-08-30 22:11] #1333 closed

[2017-08-30 22:18] benshayden commented on #2122
Let's file a new bug about this if it's still a problem.

[2017-08-30 22:18] #2122 closed

[2017-08-30 22:23] benshayden commented on #2118
This is a nice idea in theory, but I haven't heard a way to bridge the algorithmic gap between comparing 2 points and comparing N points. @dave-2 Please feel free to re-open this or open a new bug.

[2017-08-30 22:23] #2118 closed

[2017-08-30 22:26] #1711 closed

[2017-08-30 22:27] #1359 closed

[2017-08-30 22:28] #2440 closed

[2017-08-30 22:31] #2135 closed

[2017-08-30 22:32] #1847 closed

[2017-08-30 22:33] #1785 closed

[2017-08-30 22:33] #1726 closed

[2017-08-30 22:34] #1555 closed

[2017-08-30 22:46] benshayden opened #3824 "Evaluate using HTTP push or vulcanization"
Once we have good analytics #3430 , then let's see if we want to try to speed up loading.
[http2push-gae plugin](https://github.com/GoogleChrome/http2push-gae)?
Py-vulcanize?
Polymer vulcanize?

[2017-08-30 22:47] benshayden commented on #1312
Reopening in #3824

[2017-08-30 22:47] #1312 closed

[2017-08-30 23:08] benshayden commented on #3810
Thanks!
@nedn @eakuefner Ideally, results.html should be able to link to traces in RelatedEventSet diagnostics #2431 , so can we always write trace HTML files when output-format=html?

[2017-08-30 23:13] nedn commented on #3810
Ben: let's try that & see if anyone complain :-)

[2017-08-31 05:11] benshayden opened #3825 "Consider using localStorage directly, removing tr.b.Settings"
Currently, tr.b.Settings wraps localStorage in order to provide a higher-level API and support headless environments and tests.
Can we eliminate this layer and use localStorage directly?
Is headless support necessary?
Can tests that rely on Settings support use setup and teardown callbacks instead?

[2017-08-31 05:21] benshayden opened #3826 "Consider using requestAnimationFrame() and friends directly, removing base/raf.html"
Currently, raf.html provides wrappers for requestAnimationFrame() and requestIdleCallback() in order to allow tests to pump the task queue synchronously.
This may no longer be necessary now that we have Promises and async/await. For example, timeline-view provides a promise that resolves whenever it's completely initialized, which might bounce through a few different asynchronicity mechanisms. The

[2017-08-31 05:31] benshayden opened #3827 "Consider using Promises directly instead of base/task.html"
Task.after() appears to be an early polyfill for Promise.then().
Task also defines a concept of subtasks. Is that actually useful?
Task.RunWhenIdle appears to wrap requestIdleCallback. Maybe callers should call that explicitly?

[2017-08-31 05:33] benshayden commented on #901
This appears to be as done as it is going to be.

[2017-08-31 05:33] #901 closed

[2017-08-31 05:52] benshayden opened #3828 "Consider removing or redesigning tquery"
How often is tquery #901 used? Let's try to use UMA or Google Analytics to answer this question #2121
Some of the use cases for tquery are probably still somewhat in demand.
I wonder if it would be possible to satisfy most of those use cases using TBM2 Metrics, allowing users to write plain javascript instead of a custom language.
The main use case of tquery seems to be selecting events, which TBM

[2017-08-31 05:59] benshayden opened #3829 "Merge core/ into model/"
core/ is a tiny directory containing
- Auditor abstract base class and extension registry
- Filter system for filtering model events
- ScriptingController extension registry basically... wraps eval()?
- ScriptingObject doesn't look like a real thing...?
- TestUtils is 500 lines of important util helper functions for tests.

[2017-08-31 06:08] benshayden opened #3830 "Considering using fetch web API instead of xhr.html"
tracing/base/xhr.html currently provides getSync, getAsync, postAsync functions that wrap XMLHttpRequest and node's fs module and vinn's readbuffer using Promises.
Would it be easier to use the fetch web API and node-fetch instead?
fetch appears to be strictly more powerful, and use Promises.

getSync appears to only be used by
- *cmdline.html files
- a couple perf_test.html
- chart_track_test.htm

[2017-08-31 06:29] benshayden opened #3831 "Consider removing support for ns time display mode"
Currently, traces can specify whether their timestamps should be displayed in nanoseconds.
However, nsDisplayMode is effectively the same level of detail as msDisplayMode because the former has maximumFractionDigits: 0 and the latter has maximumFractionDigits: 3.
We can use analytics to see how often this mode is used #2121
[This](https://github.com/catapult-project/catapult/commit/15d5a8e93038e31

[2017-08-31 06:30] benshayden commented on #3058
When Polymer 2.0 arrives, reconsider Serializable/ViewState/UrlJson.

[2017-08-31 06:37] benshayden opened #3832 "Roll Polymer 1.8 to start down the path towards Polymer 2.0"
The [Polymer 2.0 upgrade guide](https://www.polymer-project.org/2.0/docs/upgrade) recommends updating to Polymer 1.8, upgrading elements one at a time instead of one huge branch, and then updating to Polymer 2.0.
There are some cleanups that can be done after migrating to Polymer 2.0 tracked in #3058 .
This bug tracks updating to 1.8.
Is it as simple as bower update?
@eakuefner @zeptonaut

[2017-08-31 06:48] benshayden commented on #3810
Great! How does this plan look?
- send deprecation announcement to telemetry-announce
- Change [page test results](https://github.com/catapult-project/catapult/blob/928906d392b9074e6f883230fa5aee3774311bb5/telemetry/telemetry/internal/results/page_test_results.py#L396) to vulcanize all traces if any output formatter is a HtmlOutputFormatter
- wait a few weeks
- Delete json output formatter

I'll f

[2017-08-31 07:25] natorion commented on #3820
I just noticed that there is indeed an error message: "Some charts failed to load. Either they don't exist, or they are empty, or they are accessible only for signed-in google.com accounts." Is this new? I can't recall that I have seen this particular phrasing before.

[2017-08-31 08:52] perezju commented on #3822
+1 to `Dep` → `Commit` and caching subject, author, timestamp.

On commit URLs, would it be better to just cache the value of `namespaced_stored_object.Get(_REPOSITORIES_KEY)` so a single call to it is needed for the lifetime of each backend instance?

[2017-08-31 14:43] simonhatch commented on #3820
The message is somewhat new, last 2 months or so. Before that there was a similar message:

"No data available.
Note that some data is only available when logged in."

that was displayed on the graphs that failed to load.

[2017-08-31 15:09] #3714 closed

[2017-08-31 15:12] simonhatch commented on #2122
FYI: This has been a problem, we were blowing out memory limits a few months back: #3470

Ideally we just stop computing this thing: #3234

[2017-08-31 15:37] zeptonaut commented on #3832
My guess would be that it is as simple as a bower update, although doing this might require updating some other dependencies that it pulls in.

[2017-08-31 17:43] dave-2 commented on #3822
That sounds like a good solution. We can just stuff it in a module-level variable.

[2017-08-31 18:29] benshayden opened #3833 "Draw x-axis ticks at an angle sometimes"
Currently, the overview line charts in results.html always stack x-axis tick labels like this (ignore the red arrow).
![](http://i.imgur.com/nEuYqaf.png)

This works well when there are a few long strings in the x-axis tick labels like benchmark or story names, but it looks bad when there are many short strings like storyset repetition counters or labels like "ToT".

[NameColumnChart](https://gith

[2017-08-31 19:43] nedn commented on #3810
LGTM. Thanks for taking this bug, Ben!

[2017-09-01 03:05] dave-2 opened #3834 "Speed up namespaced_stored_object"
`namespaced_stored_object.Get()` is exceedingly slow. A call takes .08 ± .06 seconds. If you do 100 of them in a loop, the user is waiting for 8 seconds. This is pretty easy to do, e.g. looking up the repository URL for every commit in a list of Pinpoint jobs.

If the user is logged out, the time is about 70% IP whitelist lookup and 30% retrieving the stored object. If the user is logged in, there

[2017-09-01 03:11] dave-2 commented on #3834
A sample fast key-value store would be something like this:
[code]

[2017-09-01 08:45] perezju commented on #3834
That sgtm

[2017-09-01 10:48] #3808 closed

[2017-09-01 18:15] benshayden opened #3835 "Add a Subtests tab of related timeseries sparklines"
After [Dashboard charts: display sparklines of related timeseries in a tab strip](https://codereview.chromium.org/2993773002) lands, charts for memory measurements will offer a tab-strip to select between sets of sparklines of related timeseries across Process types and chromium Components.
The chart-legend will still offer checkboxes to display subtests in the chart, which are really just related

[2017-09-01 18:22] benshayden opened #3836 "Add a Bots tab of related timeseries sparklines"
In order to see a given measurement from a different bot, users can currently click the blue populate-test-picker button in the chart-title, modify the test-picker, and click Add. If they want to see the same measurement on multiple different bots, they must use the test-picker over and over.

After [Dashboard charts: display sparklines of related timeseries in a tab strip](https://codereview.chro

[2017-09-02 05:04] benshayden opened #3837 "Enable using the browser's back button in results.html"
Currently, the HistogramSetLocation always serializes the HistogramSetViewState to the URL using replaceState so that users can copy and share a deep link.
Ideally, HistogramSetLocation would use pushState so that users can easily undo/redo complex interactions (such as clicking related histogram links) using the browser's back/forward button.
However, replaceState is called so often (for every mi

[2017-09-04 09:15] perezju commented on #3810
:clap: Thanks a lot for this. Will result in a much simpler interface.

[2017-09-05 06:05] benshayden opened #3838 "Export {raw, merged} {json, csv} from results.html"
Currently, there are a few ways to extract machine-readable results from results.html:
- The download CSV button downloads a csv file containing merged results.
    - Users can group by traceStart first in order to effectively get the raw results as csv, but this is not intuitive or discoverable.
- tracing/bin/results2json extracts the raw Histograms as json
    - tracing/bin/merge_histograms merg

[2017-09-05 06:31] benshayden opened #3839 "Make 'html' telemetry's default output format."
Currently, telemetry's [default output format](https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/internal/results/results_options.py#L153) is 'chartjson', which is slowly being deprecated.
The most generally useful output format is (or will soon be) 'html', which provides a human-readble graphical interface to the benchmark results, serializes trace files, preserves TBMv

[2017-09-05 08:36] perezju commented on #3806
For what it's worth, I've been having some success by taking the histograms json, doing the metadata propagation myself, and then dumping into some form of csv to finally load from within a colab.

I did not know (or maybe I did but then forgot?) that results.html allows to export to csv too. The exported csv looks pretty neat and looks like it contains all the data I could potentially need.

Do y

[2017-09-05 09:37] pasko commented on #3806
On Tue, Sep 5, 2017 at 10:36 AM, Juan A. Navarro Pérez <
notifications@github.com> wrote:

hm, in that CSV I found only aggregated stats (like averages), is it
different for you? Can it depend on benchmark?

For colab I usually need raw data, ideally one row per benchmark run, with
each metric in a dedicated column, but the actual format does not matter as
long as this information can be restored

[2017-09-05 10:17] perezju commented on #3806
I played a bit with it now after creating this [results.html](https://github.com/catapult-project/catapult/files/1277006/results.html.zip) running the `start_with_url.cold.startup_pages` benchmark and noted that:

* Clicking on "download" after loading the page just gives me a csv with 3 summary histograms (one for each of the 3 metrics).
* If I tick the boxes to show both "name" and "stories" in

[2017-09-05 16:55] benshayden commented on #3806
Thanks for the feedback! Keep it coming!

I'm imagining providing a colab kernel containing the [Histogram python library](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/value/histogram.py) so that you can

1. download the raw/merged JSON from a results.html,
1. upload that to the kernel, and
1. slice the histograms and diagnostics however you want in python with a high-l

[2017-09-05 17:12] pasko commented on #3806
On Sep 5, 2017 18:55, "Ben Hayden" <notifications@github.com> wrote:

Thanks for the feedback! Keep it coming!

Do you think we need something else other than this csv format to play
around with the data in colabs?

I'm imagining providing a colab kernel containing the Histogram python
library
<https://github.com/catapult-project/catapult/blob/master/tracing/tracing/value/histogram.py>
so that you

[2017-09-05 19:10] #3839 closed

[2017-09-05 21:55] benshayden opened #3840 "Produce all statistics in CSVBuilder."
Currently, if one metric configures its Histograms to produce pct_050 but not avg, and another metric configures its Histograms to produce avg but not pct_050, then CSVBuilder will produce a CSV with some empty cells because it uses Histogram.statisticsScalars, which produces only the scalars that the metric configured via Histogram.customizeSummaryOptions(). CSVBuilder should fill in the cells us

[2017-09-05 22:02] benshayden commented on #2431
@eakuefner Mind if I take this?

We also need to make sure that traceUrls show up in CSVs.

[2017-09-06 00:30] dave-2 commented on #3822
So what happened is I tried to do that, but quickly learned that it wouldn't work for unit tests. We would need to clear the cache in the `tearDown()` of every test. Fine, not the best, but it works.

But then the tests started failing randomly. Turns out that they now have race conditions, because they run in parallel. I then tried to use thread-local storage, but its behavior is super weird.

tl

[2017-09-06 00:37] simonhatch commented on #3834
In the CL reply, you mentioned TLS behaviour was weird, can you go into more detail about that?

[2017-09-06 00:51] dave-2 commented on #3834
I'm sorry, I don't remember, and have already deleted the local branch where I tried it.
Regardless, implementing the local caching is significantly more code and has significantly more gotchas than speeding up the DB fetch. (E.g. stale data is a concern, thread safety)

[2017-09-06 01:20] #3334 closed

[2017-09-06 01:20] #3793 closed

[2017-09-06 01:21] #3801 closed

[2017-09-06 01:21] #3799 closed

[2017-09-06 09:03] perezju commented on #3806
I honestly would just be happy with a quick and easy easy way to get the "raw" csv out of a results.html file.

Not sure about @pasko 's workflow; but I imagine colab users wanting to get the data as quickly as posible into a [DataFrame](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) (and csv is great for that) to then do all the stats, grouping and dicing over there

[2017-09-06 11:07] pasko commented on #3806
answering from gmail on Android broke quoting, sorry about that, won't do again

[2017-09-06 13:43] anniesullie commented on #3806
@dave-2 @simonhatch I wonder if we'd also like to be able to correlate value<->trace in pinpoint.

[2017-09-06 17:49] anniesullie commented on #3831
@egonelbre who added the support

[2017-09-06 20:17] anniesullie commented on #3792
This is now **fixed**.

[2017-09-06 20:17] #3792 closed

[2017-09-06 21:05] anniesullie commented on #3823
Can you list examples of missed regressions? Or better algorithms known by metric authors?

[2017-09-06 21:06] anniesullie commented on #3824
I'm guessing #2652 will be the biggest performance win.

[2017-09-06 22:50] benshayden opened #3841 "Use Promises and observers instead of inaccurate asynchrony like Polymer this.async"
There are a few places that use untestable and flaky asynchrony mechanisms like Polymer's this.async() and requestAnimationFrame(). These callers should plumb Promises and observers ([dom-change](https://www.polymer-project.org/1.0/docs/devguide/templates#dom-change) or [observeNodes](https://www.polymer-project.org/1.0/docs/devguide/local-dom.html#observe-nodes)) instead where appropriate. This i

[2017-09-07 06:03] egonelbre commented on #3831
See the bugs linked from the commits:
* https://github.com/catapult-project/catapult/issues/624
* https://github.com/catapult-project/catapult/issues/927

Go uses tracing for [`go tool trace`](https://making.pusher.com/go-tool-trace/) with `ns` precision. It's embedded/vendored from here, so it wouldn't show up in analytics (unless someone opened a go trace from chrome).

As for viewing ns data, s

[2017-09-07 09:00] perezju opened #3842 "Dialog with point details no longer appears on chart"
When hovering over a line on [a chart](https://chromeperf.appspot.com/report?sid=690e7122b0fc9c0ea8f768b1bbafd988fd1c4166cc7cdd154a68e349d964881f&rev=1503046073), or trying to click on an alert, the dialog with details about the point no longer seems to appear.

This is bad, as I'm unable to e.g. kick-off bisects ... or do really anything with the data on the charts.

[2017-09-07 09:24] natorion opened #3843 "Popup when clicking on a data point not showing up"
Repro:

1.) open https://chromeperf.appspot.com/group_report?rev=47808
2.) Click on any datapoint in any graph
3.) nothing happens

There are multiple errors shown in the console e.g.

Uncaught TypeError: Cannot read property 'split' of undefined
    at HTMLElement.getDefaultRevisionRepository (chart-container.html:2194)
    at HTMLElement.showTooltip (chart-container.html:2149)
    at HTMLElement

[2017-09-07 09:45] perezju commented on #3842
Weirdly the issue seems to be affecting [this chart](https://chromeperf.appspot.com/report?sid=ae4791152fdbe2b91b952621899ce2e7e16778ffee5378ab40e9b81fccc6be92&rev=1503046073), but not [this other chart](https://chromeperf.appspot.com/report?sid=ba97263b067fc751f7a9bdc08764b47b8afe2ba9818758e9604b5751c4830440&start_rev=492256&end_rev=500184).

[2017-09-07 13:17] anniesullie commented on #3843
@simonhatch: CL coming for this, it's due to a typo in https://codereview.chromium.org/3008733002

[2017-09-07 13:17] anniesullie commented on #3842
Duping into #3842

[2017-09-07 13:17] #3842 closed

[2017-09-07 13:19] anniesullie commented on #3843
Demo of fix: https://dev-sullivan-7ef7bd1e-dot-chromeperf.appspot.com/group_report?rev=47808

Pushing to prod.

[2017-09-07 13:22] anniesullie commented on #3843
Fix in review: https://codereview.chromium.org/3011073002/

[2017-09-07 13:22] anniesullie commented on #3843
Lowering to P2 since dashboard is working, but fix still needs to be reviewed and landed.

@perezju FYI

[2017-09-07 16:12] benshayden commented on #3831
Perfect, thank you!

[2017-09-07 16:12] #3831 closed

[2017-09-07 17:18] altimin opened #3844 "RequestDebugTrace (--extra-chrome-categories) not working"
I requested a debug trace from perf waterfall with renderer.scheduler categories enabled.

Here is the generated try job: https://codereview.chromium.org/3009173002

But the resulting trace (https://console.developers.google.com/m/cloudstorage/b/chromium-telemetry/o/trace-file-id_4-2017-09-06_04-51-14-47168.html) does not contain requested categories.

[2017-09-07 17:57] anniesullie commented on #3844
Thanks for the detailed report! It made it really easy to spot the problem. Currently the `--extra-chrome-categories` flag is not supported for the thread_times benchmark. @nedn @zeptonaut does it make sense to add this in a one-off like I did for smoothness benchmark? Or will the benchmark be changed soon?

[2017-09-07 18:13] nedn commented on #3844
It will be changed in crbug.com/760553

[2017-09-07 18:42] ehlemur opened #3845 "tr.b.getSync does not return a trace stream in browser mode, even when asTraceStream is True."
[`tr.b.getSync(url, True)`](https://github.com/catapult-project/catapult/blob/29f450ae4dcb657197866e4d48bc465834b8d8c6/tracing/tracing/base/xhr.html#L97) does not return a trace stream in browser mode (i.e. `!tr.Headless`).

@chiniforooshan

[2017-09-07 19:01] #3840 closed

[2017-09-07 20:56] #3069 closed

[2017-09-07 21:54] maxlgu opened #3846 "[LoadingMetrics] Breakdown double counts the v8_runtime events"
Within generateTimeBreakdownTree(), when v8_runtime is enabled, the way the breakdown tree is generated will add duration to breakdown for two times.

https://cs.chromium.org/chromium/src/third_party/catapult/tracing/tracing/metrics/system_health/breakdown_tree_helpers.html?rcl=c9667ecd29cbb003b7fbdcd6f2da0f02bf0e7257&l=93

[2017-09-07 21:58] maxlgu opened #3847 "Support debug mode"
We will introduce the debug flag and dcheck() methods. When debug mode is enabled, dcheck() is executed.

This feature will enable us to validate some expensive assumptions while browser developers are debugging Catapult codes.

[2017-09-07 22:11] deepanjanroy opened #3848 "Negative cpu self time"
[This trace](https://github.com/catapult-project/catapult/files/1286242/negative_cpu_self_time.json.zip) has a big "content::Start" with negative cpuSelfTime. This should never happen.

[2017-09-07 22:24] deepanjanroy opened #3849 "Breakdown self time approximation does not add up to total"
Currently, when we generate wall time breakdown we approximate self time within rangeOfInterest my multiplying total self time by the fraction of slice duration within rangeOfInterest. But this approximation strategy can lead to sum of the breakdowns to be bigger than the total. For example:

[code]

Breakdowns adding up to the total is a fundamental assumption, and having it violated is leading t

[2017-09-07 22:32] benshayden commented on #3823
WebVR team mentioned how the DrawFrame measurement in their frame cycle duration metric should never rise above something like 16ms or 8ms so they always hit their target fps consistently. The t-test algorithm might not alert if DrawFrame rises from 15ms to 17ms, but a simple threshold algorithm would.

I seem to recall a request for the ability to manually add alerts to timeseries. Was that from

[2017-09-08 07:20] rmcilroy opened #3850 "Perf Dashboard: No way to sign-out or switch accounts"
I couldn't find a way to switch from my Google account to my Chromium account on the chromium perf dashboard without either signing out from Google everywhere (there is no signout button on the perf dashboard that I can see) or opening the dashboard in incognito mode.

Chrome version: 60.0.3112.101 (Mac)
URL: https://chromeperf.appspot.com/alerts?sortby=end_revision&sortdirection=down

[2017-09-08 09:25] perezju commented on #3823
I don't think we have in mind using any special alerting algorithm; other than maybe tweaking thresholds on the current one (e.g. ignore regressions under _x_ KiB in some metrics).

What we've mentioned a few times was the ability to be able to manually add alerts to timeseries (e.g. maybe because that timeseries is for an unmonitored submetric; but now we want to keep track of it while investigat

[2017-09-08 11:28] chromy commented on #3795
Should be fixed!

[2017-09-08 12:02] tdresser commented on #3847
Can you give an example of the sort of expensive assumption you're thinking of?

[2017-09-08 14:01] primiano opened #3851 "Trace link is gone from chromeperf dashboard"
https://chromeperf.appspot.com/report?sid=c02b152d19692fd21b71134119ec81cff17ad50c470fa9f0c191a602bfd8a585

The "Trace" link is no more :/

![image](https://user-images.githubusercontent.com/7137473/30215023-6ce68eae-94a6-11e7-8f23-6706297e5a59.png)

[2017-09-08 14:37] anniesullie opened #3852 "Histogram sparklines should keep state in url"
*Steps to reproduce:*
1. Click a tab, like "Process" or "Components" on a chart which has histogram sparklines
2. Copy the url, paste it in a new tab.

*Expected:*
Same sparklines tab is open

*Actual:*
All sparklines tabs closed.

@natorion would like to be able to use this for v8 dashboards.

Additionally, when you open a new chart by clicking a link in the sparklines, the new chart does not see

[2017-09-08 15:05] maxlgu commented on #3847
Assumption 1: Adding up all the self time of a "family" of event will get the wall duration of the top level event .

Assumption 2: Adding up all the breakdown components will get 100% or around 100%. This is probably wrong today because we approximate the self-time of border events by multiplying it with a ratio, whose error becomes larger when the border events take longer.

[2017-09-08 15:09] anniesullie commented on #3823
A few comments:

* I think configuration about how we alert should all be stored in the [alerting config](https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/models/anomaly_config.py). Currently, alerting configs are stored in the datastore and associated to metrics by test path globs. Eventually I think we'll want to check these configs into catapult (with associated name

[2017-09-08 15:18] anniesullie commented on #3014
Assigning to Ben since IIUC he's planning to look into this.

[2017-09-08 15:32] perezju commented on #3823
+1 Agree with all of that. Particularly the bit about storing alert configs into catapult.

[2017-09-08 15:49] maxlgu commented on #3846
@nedn The breakdown is supposed to count each event's duration only once, right?

[2017-09-08 16:26] anniesullie commented on #3851
This is a problem with summary metrics that trips a lot of people up :(

Basically, there are multiple levels of summaries happening here:
1. The individual pages themselves. These have trace links, like this:
https://chromeperf.appspot.com/report?sid=039cf8d6d2e00206c6abd1a26683ecb4d2316de92ceb1b909137d2441dd9785b
2. The categories of page sets, like `background_media`, `browse_news`, etc. You ca

[2017-09-08 16:27] anniesullie commented on #3832
@dave-2 was mentioning it may be possible to do the pinpoint elements in polymer 2.0 relatively easily.

[2017-09-08 16:48] nedn commented on #3846
It should uses self_time to avoid double counting.

[2017-09-08 17:04] dave-2 commented on #3832
We're already running Polymer 1.9.3! Surprise!

[2017-09-08 17:04] #3832 closed

[2017-09-08 17:40] #3823 closed

[2017-09-08 17:46] maxlgu commented on #3846
The test cases are interesting as well. The total durations of the v8runtime components adding up is larger than the event's duration, which doesn't make sense. https://cs.chromium.org/chromium/src/third_party/catapult/tracing/tracing/model/helpers/chrome_renderer_helper_test.html?rcl=574285df8dae4445d2370362a2cff4cce0eaa8c0&l=50

[2017-09-08 17:49] benshayden commented on #3847
Maybe add the validations without the debug mode and measure how long they take (tr.b.Timing) to see if the complexity of the debug mode would be worth it?

[2017-09-08 17:52] maxlgu commented on #3846
One concern I have is that when calculating self time for events of v8_runtime type, we are probably not calculating it in right way. The [self time calculation](https://cs.chromium.org/chromium/src/third_party/catapult/tracing/tracing/model/slice_group.html?rcl=c9667ecd29cbb003b7fbdcd6f2da0f02bf0e7257&l=417) is based on events and their descendants (for normal events) other than the events and th

[2017-09-08 18:14] maxlgu commented on #3846
Another problem that I find is that it incorrectly uses "[runtime-call-stat](https://cs.chromium.org/chromium/src/third_party/catapult/tracing/tracing/metrics/system_health/breakdown_tree_helpers.html?rcl=c9667ecd29cbb003b7fbdcd6f2da0f02bf0e7257&l=80)" while the correct one is "[runtime-call-stat**s**](https://cs.chromium.org/search/?q=%22runtime-call-stat%22+package:%5Echromium$&type=cs)" So this

[2017-09-08 18:16] maxlgu commented on #3846
+@tdresser

[2017-09-08 18:23] anniesullie commented on #3844
I put up a CL for supporting this in thread_times in https://chromium-review.googlesource.com/c/chromium/src/+/658039

If we decide not to land it due to the upcoming change, @altimin you may be able to patch this into your tryjob at least.

[2017-09-08 18:26] nedn commented on #3846
@camillobruni @ulan

[2017-09-08 20:06] #3665 closed

[2017-09-08 20:17] maxlgu commented on #3846
Have discussed with @deepanjanroy offline. At you so that you can follow up the issue:)

[2017-09-08 22:32] chiniforooshan opened #3853 "Write a test for importing large (>300MB) files"
See patch set 2 of https://codereview.chromium.org/3008293003/ for an example. That ps was not landed because we decided it would be nicer to generate the test data at run-time. Note that the JSZip lib that we have in tracing/third_party probably can generate only zip files not gzip files (it can decompress gzip though).

[2017-09-08 22:47] #3663 closed

[2017-09-08 22:53] benshayden commented on #1770
All of these issues appear to be fixed.

![](https://i.imgur.com/eTKTabq.png)

[2017-09-08 22:53] #1770 closed

[2017-09-08 22:57] benshayden opened #3854 "Synchronize vertical line between charts"
After [this CL](https://codereview.chromium.org/2993773002) is deployed, mousing over a point on a chart will draw a vertical line at that point's revision both in the chart and in all of the sparklines associated with that chart, if there are any.
The vertical line should be drawn at the selected revision in all charts on the page.
If a chart doesn't have a point at the selected revision (because

[2017-09-11 08:32] perezju commented on #3851
Maybe instead of the "trace link" it should have some text like "Summary of *n* traces."; we could even make that a link that reveals the per-story sparklines.

[2017-09-11 11:45] perezju opened #3855 "Dashboard thinks commit positions after 500000 are not valid"
Start from e.g. [this chart](https://chromeperf.appspot.com/report?sid=d6957e69c2f909489ad115051b3d7fe15ab533e338c56163fcb76ef0238664ac) then try to kick off a bisect from one of the points close to the right (most recent).

"Start Bisect" button is disabled and error shows: "Revisions should be git positions or hashes".

![not_commit_pos](https://user-images.githubusercontent.com/16922344/3027294

[2017-09-11 11:58] primiano commented on #3851
Ahh I even knew about this, I just didn't realize in the rush that was an aggregated metric
# 🤦

As Juan suggested, I think that a simple link / text of the form "Please expand the individual stories for traces" would help a lot.

[2017-09-11 13:42] anniesullie commented on #3855
CL up for review: https://codereview.chromium.org/3007373002

[2017-09-11 13:49] anniesullie commented on #3855
Verified on https://dev-sullivan-3e7cdead-dot-chromeperf.appspot.com/report?sid=d6957e69c2f909489ad115051b3d7fe15ab533e338c56163fcb76ef0238664ac, setting to default.

[2017-09-11 13:51] anniesullie commented on #3855
Removing P1 label as this should be fixed in production; will close when CL lands.

[2017-09-11 14:01] anniesullie commented on #3851
@benshayden This should definitely go on your backlog of UI issues.

[2017-09-11 14:04] simonhatch commented on #3850
Dupe of #3536

[2017-09-11 14:04] #3850 closed

[2017-09-11 14:19] anniesullie commented on #3855
CL landed, this is now **fixed**.

[2017-09-11 14:19] #3855 closed

[2017-09-11 14:52] captaincrunch21 commented on #3456
Hey I am interested in contributing assign this to me.

[2017-09-11 15:42] anniesullie commented on #3844
Marking **fixed** since the change to telemetry is in.

[2017-09-11 15:42] #3844 closed

[2017-09-11 16:48] dave-2 commented on #3834
I did some archaeology and found some speedups we can do in `stored_object` without having to do any immediate data migration.

tl;dr: We can reduce the number of datastore fetches from 17 to 1 by fixing a small bug, and reduce warm hits from ms to μs by removing the memcache stuff.

There's a bug in `stored_object` where it always fetches `_MAX_NUM_PARTS` `PartEntities` . When serializing the dat

[2017-09-11 16:53] #1560 closed

[2017-09-11 17:02] simonhatch commented on #3834
Nice find! Any idea how much this reduces the object lookup time by?

[2017-09-11 20:27] eakuefner commented on #3623
#3014 could also be a solution here, rather than allowing fully custom specification like this bug describes. If we can come up with a common notion of point ID for all bots, then we don't have to do this.

[2017-09-11 20:35] #3838 closed

[2017-09-11 21:58] dave-2 commented on #3834
I ran some rough numbers in the App Engine dev console. Code is at the end of this comment.
Fetching the IP whitelist 1000 times (warm):

I got a 15x speedup over the control.
I don't have cold numbers, as it seems like it's hard to disable or purge the caches.

As for how this looks in context, I deployed a dev version and annotated the times for the request and `stored_object`. I requested a gro

[2017-09-11 23:01] dave-2 commented on #3834
CL is up. https://codereview.chromium.org/3009343002/

Here's a migration script. Based on my testing, it will take about 3 hours to migrate all 188,000 stored_objects.
[code]

[2017-09-11 23:06] benshayden opened #3856 "Slimming Histograms"
Currently, Histograms are usually about a few hundred bytes each. This blocks scaling TBM2 metrics up to 10k+ traces.
Users can fall back to more limited formats such as CSV or mappers, at the cost of tools such as [results.html](https://github.com/catapult-project/catapult/blob/master/docs/metrics-results-ui.md) and whatever metadata they might want to spend the disk space on.
The only client tha

[2017-09-13 01:06] dave-2 opened #3857 "Add a retry to buildbucket_service"
Pinpoint does quite a lot of buildbucket requests. I would say around 1% of them time out or otherwise fail. A retry would help with reliability. The `dashboard.services.request` module already supports retries.

[code]

[2017-09-13 16:58] dave-2 opened #3858 "Simplify Change.Midpoint() logic"
Change.Midpoint() is fairly complex and hard to understand.

@perezju asked for a follow-up with a simplification, particularly a way to avoid modifying the lists of commits while iterating over them.

[2017-09-13 21:43] dave-2 opened #3859 "AttributeError while loading old isolates."
I'm seeing an occasional error in the logs while loading isolate.Isolate models.
Since we renamed Dep to Commit, the Change object in the model is invalid.
We don't use it anyway, so might as well just remove it.

[code]

[2017-09-13 21:53] #3857 closed

[2017-09-13 22:46] dave-2 commented on #3834
I ran a one-off migration for the Pinpoint repositories and the IP whitelist. I confirmed that when running this code in the new version, it creates a MultipartEntity with `size == 1`, and when running this code in the old version, it back-migrates to `size == 16`.

[code]

[2017-09-14 01:23] chromy commented on #1913
As mentioned on an internal thread we would like to move `py_vulcanize` out of `third_party` to make it easier to build tracing when `third_party` is not available. Given the above I hope that's okay, I'm happy to do the work but I'm not sure where to move the directory, I can create `tools/` as mentioned in the title but maybe one of the existing directories is better?

I guess the options are:
-

[2017-09-14 09:49] nedn commented on #1913
I vote for either `common/` or `tracing_build/`.

[2017-09-14 12:46] anniesullie commented on #1913
I prefer common because we may use py_vulcanize for perf dashboard in the future too.

[2017-09-14 12:48] nedn commented on #1913
That sgtm. Though Annie, should perf dashboard be using standard vulcanization tool instead of our home grown tool?
IMO, it would be great if we can just kill py_vulcanize in the future & use whatever is the standard out there.

[2017-09-14 12:50] anniesullie commented on #1913
Yeah, the best thing to do would be to use [polymer-bundler](https://github.com/Polymer/polymer-bundler) to vulcanize everything. That way we could always use paper elements, etc. I haven't had time to investigate how difficult this would be to do.

[2017-09-14 16:33] simonhatch commented on #3736
Done, any problems/etc will be done in follow ups.

[2017-09-14 16:33] #3736 closed

[2017-09-14 16:34] simonhatch commented on #3177
Think we can close this since we ended up going with service accounts.

[2017-09-14 16:34] #3177 closed

[2017-09-14 16:52] simonhatch opened #3860 "Pinpoint - Old values from job-page-change-table linger"
Repro:

- Click on a point
- Go back to jobs list
- Go to another job

@dave-2

[2017-09-14 16:54] simonhatch opened #3861 "Pinpoint - Error adding webrtc repository"
From https://pinpoint-dot-chromeperf.appspot.com/job/16c6a0ddb80000

@dave-2

[2017-09-14 17:05] dave-2 commented on #3861
Looks like there are duplicate webrtc repos.

Primary one is at:
https://webrtc.googlesource.com/src
There's a name conflict when trying to add a mirror at:
https://chromium.googlesource.com/external/webrtc/trunk/webrtc

I also see that there's something else at:
https://chromium.googlesource.com/external/webrtc/ ?

I can manually add the mirror at a different name. Man, what should I call all the

[2017-09-14 17:35] benshayden commented on #3761
[Demo results.html](http://www/~benjhayden/3009553002-loading.html) (google only).

I took this as an opportunity to try to simplify the known architectural awkwardness between RelatedHistogramMap/Breakdown diagnostics and sample Breakdown diagnostics: [design doc](https://docs.google.com/document/d/1Lv-KoSFEq4EvWoXCTk_TO-YVqPWg53RwE4x1xBR0QoI/edit) (google only).

![](https://imgur.com/kNAHP2Z.pn

[2017-09-14 17:54] benshayden commented on #3730
Done.

[2017-09-14 17:54] #3730 closed

[2017-09-14 18:19] benshayden commented on #2431
I think this is done. Plumbing the urls through RelatedEventSets is a separate issue.

[2017-09-14 18:19] #2431 closed

[2017-09-14 19:12] benshayden opened #3862 "Add GlobalMemoryDump.stableId and memory dump RelatedEventSets"
There is currently no easy way to drill down from the metrics side panel or results.html into memory dumps.
Adding GlobalMemoryDump.stableId will allow adding RelatedEventSets to memoryMetric and leakDetectionMetric to allow users to click directly from sample diagnostics to the memory dump analysis panel  in traces.

[2017-09-14 21:52] dave-2 commented on #3861
Looks like webrtc just moved locations last night/this morning.

I've uploaded a patch to handle repos moving locations.
https://codereview.chromium.org/3013683002/

[2017-09-14 23:39] dave-2 commented on #3860
Instead of adding more event handlers and observers to take care of this, I'd like us to be more Polymeric and migrate things over to use more data binding first.

We have two major things that use events instead of data binding:
1. Clicking the points on the graph. Flot is completely event-driven, but I'm working on a d3-based graph which, since it manipulates the DOM, lets us use Polymer compone

[2017-09-15 00:07] CalebRouleau opened #3863 "customize browser flag between stories"
Currently different stories within a single benchmark cannot use different browser flags.

Ned says that we can add code here:
https://cs.chromium.org/chromium/src/third_party/catapult/telemetry/telemetry/page/shared_page_state.py?rcl=49fbcfa16b5d148a595cc50036d5e8354739f13f&l=208
to enable this.

[2017-09-15 00:08] CalebRouleau commented on #3863
@nedn I can take this one I think if no one else is working on it.

[2017-09-15 00:09] nedn commented on #3863
Thanks!

[2017-09-15 11:38] deepanjanroy opened #3864 "Slice titles in chrome_user_friendly_category_driver needs updating"
We are analyzing what chrome does during a page load across 10k-ish sites, and we are using the breakdowns from chrome_user_friendly_category_driver. Unfortunately, we often end up with a very large "other" category in the breakdown. I looked into what slices actually contributed to this other category, and here is a list of slice titles
[here is a list of slice titles](https://gist.github.com/dee

[2017-09-15 11:39] deepanjanroy commented on #3864
cc @tdresser

[2017-09-15 12:19] natorion opened #3865 "Perf Dashboard: 403 when using pinpoint for bisect"
Chrome version: 61.0.3163.79 (Linux)
URL: https://chromeperf.appspot.com/report?sid=d520c90500207dfdfd4df0c1125ae9ea75669e3357d7100fa93a2cc206074bc2

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):

Failed to load resource: the server responded with a status of 400 ()
/pinpoint/new/prefill Failed to load resource: the server responded with a status of 403 ()
2/pinp

[2017-09-15 12:30] tdresser commented on #3761
Is there any reason for the doc & demo to be internal only?

Otherwise, the approach seems reasonable to me.

[2017-09-15 13:24] anniesullie commented on #3865
@simonhatch @dave-2

[2017-09-15 13:38] anniesullie commented on #3865
Quick initial analysis: I made a test bug (crbug.com/765641) and tried to bisect:
1. Not logged in: failed with a clear error message telling me to log in, not a 403
2. Logged in from google.com, appeared to succeed and posted a bug comment.
3. Logged in from chromium.org, appeared to succeed and posted a bug comment.

So I'm not sure how to reproduce. Then I checked go/chromeperf-logs, and search

[2017-09-15 13:52] simonhatch commented on #3865
Yeah that's really strange, I can't reproduce this either. Went through the same steps as @anniesullie (except I didn't kick the bisects), and got the same results. The js error is a little strange, since it seems to imply that something else also went wrong on the page, since there's a flot error there with invalid dimensions.

[2017-09-15 15:15] anniesullie commented on #3865
Is there any logging we could add to get more details on why it returned 403?

[2017-09-15 16:02] benshayden commented on #1691
These CSS features are being removed in M63, which branches on Oct 12, putting a hard deadline on fixing this. [765447](https://bugs.chromium.org/p/chromium/issues/detail?id=765447)

[2017-09-15 16:04] simonhatch opened #3866 "Dashboard - Seeing some failiures auto-starting Pinpoint jobs"
Saw this in Stackdriver's errors page:

AttributeError: 'Row' object has no attribute 'a_default_rev'
at __getattr__ (/base/data/home/runtimes/python27/python27_lib/versions/1/google/appengine/ext/ndb/model.py:3721)
at _GetPinpointRevisionInfo (/base/data/home/apps/s~chromeperf/clean-simonhatch-58feb611.404104367642656826/dashboard/auto_bisect.py:84)
at _StartPinpointBisect (/base/data/home/apps/s

[2017-09-15 16:07] dave-2 opened #3867 "Duplicate Pinpoint tasks"
Looks like some Jobs have multiple `/api/run` tasks on the taskqueue.

I'm not sure, but my first hunch is that this could be related to taskqueue retries -- the job will run once, schedule itself on taskqueue, then fail, and then the automatic taskqueue retry will run and schedule another task.

@simonhatch

[2017-09-15 16:09] dave-2 commented on #3867
Not sure if that hunch is right. The code is pretty careful to only schedule when there's no error.

[2017-09-15 16:19] dave-2 commented on #3865
I see a bunch of similar log entries from last night, just before midnight PDT. Looks like someone tried and wasn't able to kick off 5 bisect jobs.

[2017-09-15 16:23] dave-2 commented on #3865
I found it.

Dashboard's `app.yaml`:
[code]
It's only available to people logged in as a perf dashboard admininstrator.

[2017-09-15 16:24] simonhatch commented on #3865
Ooh nice catch!

[2017-09-15 16:27] benshayden commented on #1691
Relatedly, I just noticed this warning:

[Deprecation] Styling master document from stylesheets defined in HTML Imports is deprecated, and is planned to be removed in M65, around March 2018. Please refer to https://goo.gl/EGXzpw for possible migration paths.

[2017-09-15 16:32] benshayden commented on #3864
I noticed this will working on #3761 and started [trying to categorize some of them](https://codereview.chromium.org/3009553002/diff/360001/tracing/tracing/extras/chrome/chrome_user_friendly_category_driver.html). I can split and upload those changes or you can take them, up to you.

[2017-09-15 16:37] simonhatch opened #3868 "Dashboard - Sent 'None' for story filter on an auto started Pinpoint job"
The auto_bisect code wasn't updated to add the story filter, adding now.

[2017-09-15 16:51] anniesullie commented on #3865
+1, good catch, @dave-2!

[2017-09-15 17:44] #3865 closed

[2017-09-15 21:11] #3397 closed

[2017-09-15 21:24] dave-2 opened #3869 "Show proper distances between Changes on chart."
Showing the correct distances between Changes on the chart gives the users a sense of how big the regression and culprit ranges are, and how close the Job is to completing.

Old:
<img width="1440" alt="screen shot 2017-09-05 at 12 17 10 pm" src="https://user-images.githubusercontent.com/211662/30503688-12591e64-9a20-11e7-93a3-d5961046c8f0.png">

New:
<img width="1440" alt="screen shot 2017-09-05 a

[2017-09-15 22:45] anniesullie opened #3870 "Pinpoint page should make it clear which bug is being bisected for"
I often end up looking at a bisect and then bouncing back to the relevant bug. I can't find bug ids/links anywhere on the pinpoint page. Can we show  them somewhere? @dave-2 @simonhatch

[2017-09-15 22:57] anniesullie opened #3871 "Pinpoint: Make regression amounts clearer"
I'm going through and triaging old perf bugs, and one of the biggest things I need to understand is the magnitude of the regression found by bisect:

1. **Regression amount**. For each regression, I currently find myself looking at the bisect numbers to see the regression amount. For example, in [this bug](https://bugs.chromium.org/p/chromium/issues/detail?id=700861), the bisect is clear and repro

[2017-09-17 21:22] dave-2 opened #3872 "Pinpoint - Duplicate bug posts"
Pinpoint is posting multiple duplicate bug comments on completion.
Example: 6 comments on [bug 765641](https://bugs.chromium.org/p/chromium/issues/detail?id=765641#c3).

The job completed at: `2017-09-16 07:13:29.867410 UTC`
The 1st bug comment was at: `Sat Sep 16 07:13:29 2017 UTC`
The 2nd bug comment was at: `Sat Sep 16 07:58:04 2017 UTC`
The last bug comment was at: `Sat Sep 16 07:58:07 2017 UT

[2017-09-18 08:38] dave-2 commented on #3872
Sorry, ignore everything in that last comment. Turns out there are **two** Pinpoint tasks on that bug, and the second task _is_ showing duplicate tasks. Then the question is when this happened, and why.

[2017-09-18 08:55] dave-2 commented on #3872
I see calls to `/api/run/14b85b8bb80000` at (all times PDT):
[code]
So there was some kind of break and then a jump from 1 to 2 tasks.
I know I was messing around with the tasks a bunch yesterday.
This could be either from that, or maybe something from taskqueue?

[2017-09-18 11:00] deepanjanroy commented on #3864
Thanks for already starting the work on this @benshayden! You can split and upload changes from that CL since you already have them - I'm not particularly rushed.

I [started a spreadsheet](https://docs.google.com/a/chromium.org/spreadsheets/d/1L_z4hH-f31FQGTJEajMaQIDbrZ5vd9SwG493ePt6SqI/edit?usp=sharing) to collect the categories for the slices. I'm not familiar with most of these slices, so the

[2017-09-18 15:38] xunjieli opened #3873 "[netlog_viewer] Fix polymer usage"
The import url used in netlog_viewer/index.html is "https://polygit2.appspot.com/components/polymer/polymer.html". The link no longer works and gives 500.

I will follow the latest guideline on "https://www.polymer-project.org/2.0/start/quick-tour" to fix the polymer usage.

[2017-09-18 15:39] xunjieli commented on #3873
/cc @ericroman920

[2017-09-18 16:30] simonhatch commented on #3872
The taskqueue retry is set to 2, but I haven't found a call to /api/run/14b85b8bb80000 that posted anything other than 200 yet. Are there any other Pinpoint jobs that posted duplicates? I'll go check the rest and see.

[2017-09-18 16:54] simonhatch opened #3874 "Pinpoint - Inconsistent urls in bug comments"
Checkout crbug.com/765769 for examples

pinpoint-dot-chromeperf and pinpoint.chromeperf

@dave-2

[2017-09-18 17:08] dave-2 opened #3875 "Pinpoint - 404 while looking up catapult/DEPS"
catapult doesn't have a DEPS file. Pinpoint should just ignore 404 for DEPS.

[code]

[2017-09-18 17:33] anniesullie opened #3876 "Bisect dialog should prefill bug_id on /group_report?bug_id=XXXX"
The use case I have is that I'm on the /group_report page looking at a perf regression. The graph steps up strangely, so that maybe the regression is actually one before or one after the point with the alert, I can't tell. I know there are longer-term ways to address this use case (allowing people to specify multi-point alerts), but in the short term, I think that defaulting the bug_id to the argu

[2017-09-18 22:21] #3868 closed

[2017-09-18 22:21] #3866 closed

[2017-09-18 22:48] dave-2 commented on #3872
We also saw a bug where the "job failed" comment was posted 3 times. This is because we've set the job taskqueue to 2 retries, and it's being posted for every taskqueue try. I'm disabling retries for now (https://codereview.chromium.org/3017553002/)

I don't think that's the same issue as the duplicate taskqueue entries, since that job had no failures and thus no retries. It's possible that it's b

[2017-09-18 23:12] dave-2 commented on #3874
Sorry, I got all up in those Jobs' business on Friday and any ones that I modified in the dev console seem to have the wrong URL. Shouldn't happen in the future.

[2017-09-18 23:12] #3874 closed

[2017-09-19 00:51] #3875 closed

[2017-09-19 01:44] dave-2 commented on #2891
This bug was for creating Pinpoint. Now that it's soft launched, I would call that done. Yay!

[2017-09-19 01:44] #2891 closed

[2017-09-19 17:53] #3843 closed

[2017-09-19 17:54] #3809 closed

[2017-09-19 17:56] #3573 closed

[2017-09-19 18:18] simonhatch commented on #3876
How's this: https://dev-simonhatch-86c099bf-dot-chromeperf.appspot.com/group_report?bug_id=763873

[2017-09-19 18:23] anniesullie commented on #3876
LGTM!

[2017-09-19 19:01] dave-2 opened #3877 "Pinpoint chart data visualization"
Currently, the Pinpoint chart looks like this.
![image](https://user-images.githubusercontent.com/211662/30608682-fb033dba-9d2d-11e7-91af-9d5911bb05eb.png)

We have #3869 filed to show the points at their proper distances, but there's also a question of how best to show the distribution of each point.

## Areas
I have a prototype that shows the quartiles using areas. This makes it clearer that the

[2017-09-19 19:10] anniesullie commented on #3877
This is super exciting! I really love the stacks, but I can see the value in seeing all the dots (and don't know what to do about ones that go out of range either).

I've always loved the idea of heatmaps, but it does feel a bit like information overload.

Do any of these look significantly less readable if we show the distances between commits?

[2017-09-19 19:17] dave-2 commented on #3877
I think it's possible to have heatmaps that don't feel like information overload. This comparison is a big misleading, because the amount of data on those heatmaps is several orders of magnitude higher than the rest of the charts.

[2017-09-19 19:37] simonhatch commented on #3565
Pretty sure this is fixed.

[2017-09-19 19:37] #3565 closed

[2017-09-19 19:44] #3532 closed

[2017-09-19 21:16] simonhatch opened #3878 "Pinpoint - urlfetch timeouts on /isolate"
Seeing a bunch of these in the error console, often on /isolate calling gitiles_service.CommitInfo although one job did error out trying to retrieve DEPS: https://pinpoint-dot-chromeperf.appspot.com/job/11fca757b80000

@dave-2

[2017-09-19 21:31] benhenry commented on #3876
Yeah, I don't disagree, this is cool.

On Tue, Sep 19, 2017 at 11:23 AM anniesullie <notifications@github.com>
wrote:

[2017-09-19 21:32] #3876 closed

[2017-09-19 21:45] dave-2 commented on #3872
Fixed FOREVER.

![image](https://user-images.githubusercontent.com/211662/30617021-1bb7303c-9d49-11e7-876a-19ba4970e059.png)

[2017-09-19 21:45] #3872 closed

[2017-09-19 21:48] #3861 closed

[2017-09-19 21:48] #3859 closed

[2017-09-19 21:50] simonhatch opened #3879 "Pinpoint - Some sort of way to get stats out of Pinpoint"
Similar to bisect stats, ie. repro, no repro, failure, etc.

@dave-2

[2017-09-19 22:19] dave-2 opened #3880 "Pinpoint priorities with multiple jobs"
The perf sheriff frequently kicks off a lot of jobs at once.

With the current priorities, it takes a round-robin approach, doing one Change from a Job and then moving on to the next job. Maybe it's better to finish off one job completely before moving on to the next?

Counterpoint: in that case a very long-running job could starve the rest of the jobs, even very short ones. Right now no-repro job

[2017-09-20 04:58] benshayden commented on #3877
I like the stacks, too!

[UMA Timeline](https://uma.googleplex.com/p/chrome/timeline_v2/) draws multiple lines when you select multiple percentiles. WDYT?

When would pinpoint plot multiple timeseries?

[2017-09-20 07:55] natorion opened #3881 "Pinpoint: Add feedback button to be able to quickly file feedback"
I was playing around with Pinpoint and wanted to give some feedback. I was looking for a feedback button (e.g. pointing to a bug template) but there was none.

[2017-09-20 07:58] natorion opened #3882 "Pinpoint: Values on a datapoint should be alligned on the y, not the x axis"
The main graph shows aligns the value of the benchmark result on the y axis. When I click on one datapoint there appears a values box. This box aligns the values on the x axis. Please also align the values in the box on the y axis so it is consistent. See screenshot for more context.

![image](https://user-images.githubusercontent.com/7190422/30632925-0dc8c2d2-9dea-11e7-87b8-a6beafd06b7d.png)

[2017-09-20 09:11] perezju commented on #3877
I like the heatmap idea too. It's basically like the dots, but bucketed and using opacity to show density. I don't think it would look too information dense; if anything it would look cleaner than the dots themselves and there is no issue to scale with thousands or more data points.

[2017-09-20 12:55] anniesullie commented on #3877
Maybe we should try implementing a heatmap? A well-done one might just end up looking like a better stack.

As to @benshayden's question about when we'd plot multiple timeseries, the biggest thing I can think of is that we know some histograms are related, and maybe we could show breakdown timeseries to help understand whether a specific breakdown metric would be better to bisect on next.

[2017-09-20 13:09] anniesullie commented on #3881
@benshayden since he's been adding feedback links to other spots.

[2017-09-20 17:40] dave-2 commented on #3882
Hi Michael, curious what information you want from the graph, so I can understand how to best meet your needs.

Right now, the graph just shows the shape of the distribution, e.g. is it normal or bimodal or does it have a long tail? Neither axis is aligned.

[2017-09-20 17:49] dave-2 opened #3883 "Perf tryjob "Easy" button"
Here's the workflow:
* User is on the Job page. There is a Floating Action button with a Forward icon.
* User clicks the FAB and a small dialog opens up with an input box for a Gerrit URL.
* User enters their code review URL and hits "Submit".
*  Pinpoint kicks off a perf tryjob with the current Job config and the latest patchset from that code review.
* Pinpoint redirects the user to the new Job

[2017-09-20 17:54] benshayden commented on #3877
Would it make sense to use sparklines for breakdown timeseries on pinpoint to be consistent with the dashboard's charts?

[2017-09-20 17:56] anniesullie commented on #3883
What's the use case for this? User wants to run with the same benchmark/bot config as the bisect that said their CL was the culprit? If so, we should also make it possible to specify `--extra-chrome-categories` and `--extra-atrace-categories` to telemetry, since that is a major reason for running a tryjob.

[2017-09-20 17:56] dave-2 opened #3884 "Pinpoint Gerrit support"
We want an "easy button". (#3883)

Therefore we need to support Gerrit patches. We need:
* An internal representation that's:
  * Unique to the patchset.
  * Can be used to look up stuff from the Gerrit API.
* A Gerrit service to look up the Gerrit details.
* `find_isolate.py` that uses the Gerrit service to provide the right parameters to buildbucket.
* Builder recipe support that sends the relev

[2017-09-20 18:00] dave-2 commented on #3753
Pinpoint is working fine with Annie's patch, so closing this issue.
It sounds like there's further discussion needed for the story name handling in dashboard. Please open a follow-up issue if so.

[2017-09-20 18:00] #3753 closed

[2017-09-20 18:00] dave-2 commented on #3867
Haven't seen any more.
It was probably my meddling with the jobs in the dev console that was causing this.

[2017-09-20 18:00] #3867 closed

[2017-09-20 18:02] dave-2 commented on #3599
Whoops, created a duplicate issue in #3884. That one provides more up-to-date details, so closing this one.

[2017-09-20 18:02] #3599 closed

[2017-09-20 18:03] #3870 closed

[2017-09-20 18:10] benshayden commented on #3883
Would it be possible to add a link to gerrit so that users don't need to copy-paste urls?

Could pinpoint look through the CL's Bugs to find regressions found by pinpoint, and re-use any configuration from the regression pinpoint job? Maybe it could comment on the CL to say whether it fixes the associated regression?

[2017-09-20 18:10] dave-2 commented on #3516
While Pinpoint does technically support this in the Change abstraction, I think we may want special support for pinning to specific revision(s) or patch(es), because the FindIsolate quest uses the first Commit as the base_commit, and UI is designed to show only the most specific commit.

[2017-09-20 18:25] simonhatch commented on #3883
So just re-iterating what was discussed in services, think one of the things that we need to look into more deeply is how to get the results2.html if we want to preserve that functionality.

Legacy bisect has access to the command line and runs on the same bot, so it can just use the --results-label and --output-format flags to get telemetry to accumulate and spit out an html results file.

Since

[2017-09-20 18:25] dave-2 commented on #3883
@anniesullie Yep. We can do that. Do we have other use cases for perf tryjobs that are not supported by this workflow? E.g. user wants to test their patch before landing. Right now, this is the only planned entry point for perf tryjobs, since we decided to not do the command-line perf tryjobs.

@benshayden Do you mean a link on the CL page in Gerrit instead of a button on the Job page in Pinpoint?

[2017-09-20 18:29] anniesullie commented on #3883
@dave-2: The other use case I was imagining is a page that's like a simpler version of https://ct.skia.org/ -- users can specify their CL, the benchmark, the bots to run on, the flags to telemetry, etc. They might use it before submission, or just to get data about an idea ("how much memory do we save on android one if we turn off iframes entirely?")

[2017-09-20 18:31] dave-2 opened #3885 "Perf tryjob results2 support."
Splitting off from #3883.

@simonhatch said:

[2017-09-20 18:32] dave-2 commented on #3883
I created a new bug for the results2 discussion, so we can focus this one on "Perf tryjob entry points"

[2017-09-20 18:38] anniesullie commented on #3883
@nedn - are there ways pinpoint could get a list from telemetry of which benchmarks run on which platforms?

[2017-09-20 18:41] nedn commented on #3883
Moving forward, a benchmark is either runnable on mobile, or on desktop, or both.

Once @randalnephew finished his disabling migration work, getting that list should be easy.

[2017-09-20 18:41] dave-2 commented on #3883
My original plan was to have another similar FAB on the Jobs listing page.
When you click on the FAB you have two options: "Perf tryjob" and "Bisect job".
Either one pops up a dialog for creating a new job of the respective type.
We need the Jobs page to have some kind of filtering to "show only jobs I care about" so the user can track their jobs.
Does that sound good? I can file bugs for those to

[2017-09-20 18:44] anniesullie commented on #3883
About the dialogs, those sound good. The only request I have is that it's a linkable page, so documentation, `run_benchmark try`, etc can point the user to the right place easily.

[2017-09-20 19:29] dave-2 opened #3886 ""All" default option in execution selector"
The execution selector is this thing:
![image](https://user-images.githubusercontent.com/211662/30662956-c3aee280-9dfd-11e7-85db-c2efdfcc78c7.png)

Right now there are a few UI issues with it:
* There's no default option. It's not obvious you can select things.
* The chart looks like it's under the selector, but it always shows all data points.
* The isolate and task hashes are useless information

[2017-09-20 19:36] dave-2 opened #3887 "Pinpoint trace links"
We need links to traces in the UI so the user can debug easily.

This will work well with #3886.

[2017-09-20 19:48] anniesullie opened #3888 "Pinpoint: data-fitting x-axis confusing"
I was taking a look at this bisect, clicking the points before and after the improvement:
https://pinpoint-dot-chromeperf.appspot.com/job/149773efb80000

<img width="460" alt="screen shot 2017-09-20 at 3 45 16 pm" src="https://user-images.githubusercontent.com/4331931/30664161-ce18d4c0-9e1a-11e7-9a0c-d6b5c84a812a.png">
<img width="459" alt="screen shot 2017-09-20 at 3 45 26 pm" src="https://user-i

[2017-09-20 19:48] anniesullie commented on #3888
@simonhatch

[2017-09-20 19:53] anniesullie opened #3889 "Pinpoint bug updates don't send emails"
For crbug.com/766525, pinpoint did not send emails when the bisect completed. The current bisect follows this pattern, which I think is effective:

* Starting a bisect: comment on the bug, no email
* Successful bisect: comment on the bug, send email
* Infra failure or failure to reproduce bisect: comment on the bug, send email

@dave-2 @simonhatch

[2017-09-20 19:59] anniesullie opened #3890 "Pinpoint should assign bugs and cc relevant people"
Based on discussion in today's speed services meeting, and follow up discussions from [crbug.com/739133](http://crbug.com/739133), pinpoint should do the following when it finds culprit CLs:

* Assign the bug to the author of the culprit with the largest regression
* Cc the reviewers and review-cc of the culprit (this is especially helpful in cases where regressions are submitted by people who don

[2017-09-20 23:23] dave-2 opened #3891 "Job stopped running midway. Taskqueue task disappeared."
https://pinpoint-dot-chromeperf.appspot.com/job/14a92fcfb80000

The taskqueue task disappeared.
I don't know how to get a list of past tasks, so I don't know if we can look up whether the task ran or not.

[2017-09-20 23:36] dave-2 opened #3892 "Bisect returned too many culprits"
https://pinpoint-dot-chromeperf.appspot.com/job/12ef213fb80000
This bisect job produced 4 culprits, but we only expected 1.

This is because the high number of data points produced by this chart caused MWU to have a high sensitivity.

Normally, this wouldn't be a problem. We have [jobs](https://pinpoint-dot-chromeperf.appspot.com/job/15b54c97b80000) with even more data points and trimodal distribu

[2017-09-21 00:23] dave-2 opened #3893 "Perf tryjob button"
A Floating Action Button on the Jobs listing page that opens a dialog to start a perf tryjob, as discussed in [#3883](https://github.com/catapult-project/catapult/issues/3883#issuecomment-330940275).

[2017-09-21 00:55] dave-2 commented on #3871
Are you interested in the mean, median, or interquartile mean?

(The IQ mean is when you chop off the bottom and top 25% and take the mean of the rest. Since the median is when you chop off the bottom and top 50% and take the mean of the rest, the IQ mean is always between the mean and median.)

[2017-09-21 03:40] natorion commented on #3882
I think the information on the graph is already useful. I simply think that flipping the axes is beneficial because it repeats the model used in the actual bisect/regression graph on top of Pinpoint (and Chromeperf). There the time axis is always the x axis, and the value axis is the y axis. Here it is the opposite when one assumes that multiple runs = time.

[2017-09-21 04:23] dave-2 commented on #3882
Oh! Got it. You're talking about flipping the x and y axes. That makes sense, can do.

I thought you wanted all the data points to use the same y scaling. Sorry for the confusion.

[2017-09-21 05:35] benshayden commented on #3883
Or just a button that posts a form to a pinpoint endpoint? It can be like 10 LoC, doesn't have to be a big thing.

I assumed that pinpoint would do something like update regression bugs with a link to the pinpoint job?

[2017-09-21 05:42] benshayden commented on #3885
Vulcanizing histograms into results.html currently requires a catapult checkout, but that can be fixed by uploading a results-stub.html when deploying pinpoint. The stub can be checked into catapult if it can't be vulcanized at deploy time for some reason.

Converting chart json to histograms currently requires vinn, but we can translate the converter to python.

Results.html currently cannot be e

[2017-09-21 13:55] simonhatch commented on #3885
Sounds good, will add an agenda item. It might be ok to just link to a results page rather than embed it directly in Pinpoint, that would at least provide the same level of functionality as recipe bisect.

[2017-09-21 14:47] zeptonaut opened #3894 "validate_all_diagnostics produces import error during presubmit"
I'm having trouble uploading my changelist, which is a simple change that removes one power metric but doesn't touch any diagnostics.

When I run `git cl upload`, I get:

[code]

Any idea what might be going on? Strangely, it looks like this code hasn't been touched in a while, so I'm wondering if it's just something that I've done wrong. (I eventually got around this by running `git cl upload --b

[2017-09-21 14:48] simonhatch opened #3895 "Pinpoint - Identifies first cl after broken range as source of change"
https://pinpoint-dot-chromeperf.appspot.com/job/129c6a40780000

Think that's what happened here, test was broken in a range so Pinpoint bisected both on functionality and the regression.

Broken test is probably fine, but the first working revision after those breakages probably shouldn't be called out as the source of the change.

@dave-2

[2017-09-21 15:25] simonhatch opened #3896 "Telemetry - Using --also-run-disabled-tests doesn't override StoryExpectations"
Trying to enable the dummy histogram benchmark on the fyi waterfall, it's currently disabled using StoryExpectations, passing in --also-run-disabled-tests doesn't override that, is that expected?

@randalnephew @zeptonaut

[2017-09-21 17:35] dave-2 commented on #3895
Pinpoint is not aware of improvement direction or the difference between perf and functional bisects. It will call out _every_ change.

[2017-09-21 17:39] dave-2 commented on #3895
It's possible and interesting to do an auto-revert or auto-apply on the failing range, but that's going to require some careful thought and planning and some sort of indication that it's a perf bisect. Since we've split `exception` from `result_values` , I'm not opposed to adding that distinction.

[2017-09-21 17:49] simonhatch commented on #3895
Can't we do something like, if the perf change isn't over a single revision or immediately follows breakages, it gets listed out as not just a single commit but a range of commits to the beginning of the failures?

Right now the issue is that whoever's cl happens to fall after those breakages is going to get assigned as the owner. I think we need to make it clearer somehow that we actually don't k

[2017-09-21 17:53] anniesullie commented on #3895
+1 that clarity is the biggest issue.

But optionally bisecting with revert or patch would be an amazing wishlist feature. Would have been interesting in this specific case as the fix for the benchmark (re-recording the page) likely also changed performance.

[2017-09-21 18:02] simonhatch opened #3897 "Pinpoint - "Next Steps" style documentation"
When a recipe bisect completes, it adds this to the comment:

More information on addressing performance regressions:
  http://g.co/ChromePerformanceRegressions

Which leads to:
https://chromium.googlesource.com/chromium/src/+/master/docs/speed/addressing_performance_regressions.md

We should update this documentation and make it available either in the comment or in the job page (or both!).

@dav

[2017-09-21 18:50] simonhatch commented on #3128
There's a more recent, general request for doc urls for benchmarks in #3690 so let's just close this and keep the other open.

[2017-09-21 18:50] #3128 closed

[2017-09-21 20:09] #3878 closed

[2017-09-21 20:26] dave-2 opened #3898 "Investigate different hypothesis tests"
MWU is very simple to implement and pretty good at functional bisects, where all the data points are 0 or 1. But it's not very good at comparisons where the mean and median don't move much but the amount of noise changes. There are other hypothesis tests that have the reverse characteristics. We should consider doing multiple hypothesis tests at the same time and using the lower p-value or somethi

[2017-09-21 20:33] dave-2 opened #3899 "Buildbucket ID should be a link to the build."
Buildbucket doesn't provide a UI we can link to, so maybe after it's kicked off a Buildbot job, we can grab the Buildbot URL.

[2017-09-21 20:43] dave-2 opened #3900 "Use Cloud Pub/Sub instead of Taskqueue"
When we talked with Shuotao about FindIt, he mentioned that FindIt uses Pub/Sub, and both Swarming and Buildbucket support it.

Pub/Sub would allow us to get notifications about build and test status, rather than having a polling loop in a taskqueue.

We would need to ensure job.Run() is thread-safe, because the notifications can happen asynchronously. The taskqueue currently runs synchronously.

[2017-09-21 20:45] #3889 closed

[2017-09-21 21:01] #3740 closed

[2017-09-21 21:09] anniesullie commented on #3898
Another example I think would be good to investigate in this bug:

These two bisects are for very similar regressions (warm vs cold page load time on the same page/device):

https://pinpoint-dot-chromeperf.appspot.com/job/100a0b2fb80000
https://pinpoint-dot-chromeperf.appspot.com/job/16b7e3ffb80000

First one looks great. In the second one, I think most chrome devs would look at the chart and say

[2017-09-21 21:20] CalebRouleau commented on #3863
Design doc: https://docs.google.com/document/d/1I33_j_9y7D0mzAUUuRoFyJS2JVZX02wCoBeNkGRxwTQ/edit

[2017-09-21 21:36] dave-2 commented on #3898
Whoops, that's the same example!

[2017-09-21 21:42] dave-2 commented on #3895
Yes, we can do that, assuming we know it's a perf bisect.

[2017-09-21 22:40] simonhatch opened #3901 "Dashboard - Make _MakeAnomalyEntity async."
While investigating alerts popping up on seemingly unsheriffed tests, noticed this needed to be made async.

[2017-09-22 00:16] CalebRouleau commented on #3863
This currently works, but I'm keeping this bug open for the work to validate the arguments.

[2017-09-22 07:14] dave-2 opened #3902 "Flaky tests don't produce enough data to bisect."
We have a [job](https://pinpoint-dot-chromeperf.appspot.com/job/16c22180780000) where the metric is flaky and only about half the test runs produce any data at all. By the time all the runs are completed, we still don't have enough data to bisect correctly.

We may want to automatically increase the repeat count for flaky tests. Maybe we can use the same mechanism for functional bisects too, since

[2017-09-22 07:48] #3776 closed

[2017-09-22 08:32] chromy commented on #1913
Thanks! 😃 Re polymer-bundler: that would be good (especially given issues like #3717). For now I'll try moving `py_vulcanize` to `common` to see how hard it is.

[2017-09-22 17:00] simonhatch opened #3903 "Dashboard - Producing alerts on unmonitored series"
Pulling this out of https://bugs.chromium.org/p/chromium/issues/detail?id=752409, reported by @CalebRouleau @anniesullie

Seems like we're getting alerts firing on series that shouldn't get alerts. Another example here: https://chromeperf.appspot.com/group_report?sid=65930989e51291e4f986692888bc54e1cff45a4265c82af0908f50211f2be4ef

Where

from dashboard.common import utils

t = utils.TestKey('Chro

[2017-09-22 17:04] dave-2 opened #3904 "Add README.mds"
Pinpoint has a "Documentation" link, which goes to the [the Github repo](https://github.com/catapult-project/catapult/tree/master/dashboard/dashboard/pinpoint), but there's no documentation there yet.

We'll want to provide 4 pages of documentation:
* `pinpoint/` -- table of contents + what pinpoint is and how to use it
* `pinpoint/elements/` -- UI structure + data visualization principles
* `pinp

[2017-09-22 19:34] simonhatch opened #3905 "Dashboard - Triaging alerts fails when another window open"
From @benhenry

so there's some requirement that that dialog be highest z-order or something

[2017-09-22 21:10] simonhatch opened #3906 "Dashboard - Defer emailing in find_anomalies"
It's the one serial task left in there. We can either see about making it async or defer it.

[2017-09-22 23:30] dave-2 opened #3907 "Add a favicon to Pinpoint"
The missing favicon generates a lot of warnings in the logs.
An icon is nice for branding, too.

[2017-09-25 08:35] deepanjanroy commented on #3856
I revisited my data for our page load analysis, and it looks like I screwed up and overestimated the data used by going the pure tbmv2 metric route vs using a mapper. Running the code against a single trace, I found today that using tbmv2 metrics directly results in roughly 3x disk usage (520kb vs 176kb), which is not quite as significant as I thought (I may have had a bug somewhere in the modifie

[2017-09-25 14:09] simonhatch opened #3908 "Dashboard - Alert icons are displayed in front of the chart tooltip"
<img width="742" alt="screen shot 2017-09-25 at 10 08 35 am" src="https://user-images.githubusercontent.com/11619067/30812722-8d9bb76a-a1d9-11e7-8dd7-911130b8d298.png">

@benshayden

[2017-09-25 15:50] anniesullie commented on #3904
@benhenry @simonhatch

We should figure out what the ideal split is between the main speed user documentation at https://chromium.googlesource.com/chromium/src/+/master/docs/speed/ and the catapult docs is.

[2017-09-25 15:50] anniesullie commented on #3904
(But don't let that block you from writing docs!!)

[2017-09-25 16:18] benshayden commented on #3894
Unable to repro. Maybe your $PYTHONPATH is pointing to another `tracing` directory?
[code]

[2017-09-25 18:28] benshayden opened #3909 "Automatically set TOT as reference column"
Chrome perf bots produce results.html files containing 2 columns: "Patch", "TOT". Most users usually want to compare Patch to TOT.
Results.html cannot rely on there always being these 2 columns, but when these are the 2 columns, it can automatically select "TOT" as the reference in order to save users 2 clicks.

Thanks, @agrieve !

[2017-09-25 18:36] benshayden opened #3910 "Presubmit to prevent cluttering globals"
We had a hard time hunting down a test failure in [this CL](https://codereview.chromium.org/3015443002). One of the problems was that it declared a function in the global namespace instead of using tr.exportTo(). That function was named the same as another function in another test file that also failed to wrap it in tr.exportTo(), so they conflicted when run_dev_server_tests imported all tests int

[2017-09-25 18:44] benshayden opened #3911 "Show %Δavg instead of Δavg by default"
Currently, when the user selects a [reference column](https://github.com/catapult-project/catapult/blob/master/docs/metrics-results-ui.md#the-reference-column-selector) in results.html, the [statistic selector](https://github.com/catapult-project/catapult/blob/master/docs/metrics-results-ui.md#the-summary-statistic-selector) automatically changes to the delta version of the currently selected stat

[2017-09-25 19:04] benshayden commented on #3588
Ping from @agrieve

[2017-09-25 19:25] benshayden commented on #3856
Good to know, thanks for following up and thanks for hard numbers!

[2017-09-25 19:45] bokand opened #3912 "run_benchmarks stops after running 1-2 stories"
Running a page set like smoothness.tough_pinch_zoom_cases locally will cause it to crash out after just one or two stories:

[code]

It looks like we lose the browser and assume it crashed, but there's no crash log.

After some debugging, here's the stequence of steps that's causing the issue:

- Story completes. Call browser.close(). Browser on device closes.
- Call IsBrowserRunning to make sure

[2017-09-25 21:03] benshayden opened #3913 "Optimize sparklines for drill-down"
Currently, the [related timeseries sparklines](https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/elements/chart-container.html#L2869) are sorted alphabetically. This helps if you know which related timeseries you want, but not if you're drilling down into a regression. We expect drill-down to be a more common and important use-case than simple navigation, so the sparklin

[2017-09-25 21:06] benshayden commented on #3405
Closing this in favor of more specific followup bugs: #3913 #3854 #3852 #3836 #3835
If sparklines turn out to be the wrong approach, we can file a new bug.

[2017-09-25 21:06] #3405 closed

[2017-09-25 22:35] benshayden commented on #3908
Oh, z-index.

[2017-09-25 23:29] dave-2 opened #3914 "Pinpoint Error while fetching isolate"
[code]

[2017-09-26 02:25] dave-2 opened #3915 "Use <app-header-layout>"
`<app-header-layout>` gives us a few niceties:
* It's more Material Design-ey.
* Automatic layout of the logo, title, and toolbar buttons. We can save some vertical space by putting the title in the toolbar, and we get more whitespace automatically.
* Integrates well with `<paper-progress>`. The current `<loading-spinner>` is awkward. See the `<app-layout>` [demo](https://www.webcomponents.org/ele

[2017-09-26 02:26] #3914 closed

[2017-09-26 02:29] dave-2 opened #3916 "Use <iron-ajax> instead of simple_xhr."
`<iron-ajax>` allows us to using data binding for the job info. That will make it clearer what to do for Polymer lifecycle issues like #3860

This is the the last UI dashboard dependency, so we can remove `dashboard/static` from `pinpoint.yaml`.

[2017-09-26 02:37] dave-2 opened #3917 "Don't use a class-level variable in FindIsolate."
`_previous_builds` is a class-level variable in `_FindIsolateExecution`.

I suspect this is why the unit test is [failing on Windows](https://build.chromium.org/p/tryserver.client.catapult/builders/Catapult%20Windows%20Tryserver/builds/8968/steps/Dashboard%20Python%20Tests) in the [Gerrit CL](https://codereview.chromium.org/3019553002/).
The class-level variable is not cleared between unit tests.

[2017-09-26 02:56] dave-2 commented on #3871
For point #2, we can read the raw units from the ChartJSON, but to do the conversion from 607500 to 593.3 KiB, we maybe need to integrate Histogram Units.

@eakuefner @benshayden

[2017-09-26 04:24] benshayden commented on #3871
You should be able to call Unit.format() similar to how the [alerts-table](https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/elements/alerts-table.html#L525) does it.
If you only have legacy units, you can use [LEGACY_UNIT_INFO](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/value/legacy_unit_info.html) to map them to tr.b.Units.
Feel free to sc

[2017-09-26 15:50] simonhatch opened #3918 "Pinpoint - Support tracing args for request debug trace"
To support this feature, Pinpoint need to support these extra params for telemetry tests when creating a job.

command.append('--extra-chrome-categories=%s' % chrome_trace_filter_string)
command.append('--extra-atrace-categories=%s' % atrace_filter_string)

@dave-2

[2017-09-26 15:54] anniesullie commented on #3918
Long term, would also be good to allow people to specify their own telemetry arguments.

[2017-09-26 15:57] simonhatch commented on #3918
Should we just go ahead now and make this general, add some extra-telemetry-args to new.py?

[2017-09-26 16:01] anniesullie commented on #3918
I think the backend should be general, and the dialog should give users some good default choices. (At first, options for extra trace filter strings with links to docs on what those are, then more options as we see users wanting to do things and not knowing how)

[2017-09-26 16:11] simonhatch opened #3919 "Pinpoint - Surface trace links in UI"
Coming out of implementing the "request debug trace" functionality from dashboard. The chartjson contains the links, we just need to surface in a nice way.

@dave-2 @anniesullie

[2017-09-26 20:22] simonhatch opened #3920 "Dashboard - Add default_expiration: 30s on dev versions"
Something that comes up relatively often, iterating on UI it's useful to shove default_expiration: "30s" into the app.yaml, wonder if there's a nice way to just always do this for dev versions

@dave-2

[2017-09-26 20:23] dave-2 commented on #3891
Discussed with @simonhatch.
Current lead is that I may have been cleaning out old versions while a Job is still running on them. Pinpoint Jobs are pinned to a particular version, so deploying and migrating traffic to a new version doesn't affect existing Jobs.

[2017-09-26 20:29] dave-2 opened #3921 "[pinpoint] Only record repository info when bisecting into a DEPS roll"
Right now, we store repository info for every DEP in every DEPS file that we come across.
So far, we've already encountered name collisions when webrtc and breakpad moved.

If it becomes a chronic problem, we can change `Commit.Deps()` to return a dict or list of strings instead of a list of Commits, so that we only store repository info when we expand a DEPS roll. That would significantly reduce

[2017-09-26 21:51] #3884 closed

[2017-09-26 21:51] #3907 closed

[2017-09-26 21:51] #3917 closed

[2017-09-26 21:51] #3881 closed

[2017-09-26 22:23] dave-2 opened #3922 "[pinpoint] Add subdirectories in elements/"
There's enough elements associated with `<job-page>` that maybe it deserves its own subdirectory. Then we can also remove the redundant `job-page` part of the name for a bunch of elements.

[2017-09-26 22:24] dave-2 commented on #3919
Duplicate of #3887

[2017-09-26 22:24] #3919 closed

[2017-09-27 18:32] benshayden opened #3923 "Port tracing Unit system to Python"
The [tracing Unit system](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/base/unit.html) intelligently formats unitted scalar values. It currently includes the following units:

- timeInMsAutoFormat
- timeDurationInMs
- timeStampInMs
- normalizedPercentage
- sizeInBytes
- energyInJoules
- powerInWatts
- unitlessNumber
- count
- sigma

The Unit system supports delta units

[2017-09-27 19:18] randalnephew opened #3924 "Dashboard API alert history returns same values regardless if time duration given"
Using my code in: https://codereview.chromium.org/3014653002/

alert_analyzer.py --credentials $HOME/soundwave/creds.json --benchmark system_health.memory_desktop --days=300
Making API request: alerts/history/300/?benchmark=system_health.memory_desktop
52 alerts found! Collecting data related to them...

alert_analyzer.py --credentials $HOME/soundwave/creds.json --benchmark system_health.memory_de

[2017-09-27 19:27] benshayden opened #3925 "Pre-vulcanize results.html"
Telemetry vulcanizes benchmark results into results.html files using [results_renderer.py](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/results_renderer.py). This module

1. dynamically uses py_vulcanize to collect all of the html source files from a catapult working directory checkout,
1. vulcanizes the html source files into a single large string, and then
1. appends

[2017-09-27 19:51] randalnephew commented on #3924
Meant to put some of the alert data into this as well:
      "absolute_delta": "1280930.666667",
      "bisect_status": null,
      "bot": "chromium-rel-mac12",
      "bug_id": 690042,
      "dashboard_link": "/report?masters=ChromiumPerf&bots=chromium-rel-mac12&tests=system_health.memory_desktop%2Fmemory%3Achrome%3Aall_processes%3Areported_by_chrome%3Amalloc%3Aeffective_size_avg%2Fload_search%2Fl

[2017-09-27 19:55] randalnephew commented on #3924
List of all dates:
      "date": "2017-09-27",
      "date": "2017-09-26",
      "date": "2017-09-25",
      "date": "2017-09-25",
      "date": "2017-09-25",
      "date": "2017-09-23",
      "date": "2017-09-23",
      "date": "2017-09-23",
      "date": "2017-09-22",
      "date": "2017-09-22",
      "date": "2017-09-22",
      "date": "2017-09-22",
      "date": "2017-09-21",
      "date": "20

[2017-09-27 21:39] simonhatch opened #3926 "Dashboard - Pinpoint perf try should support bot list"
Need to call back to prefill the list of bots

[2017-09-27 22:41] benshayden opened #3927 "Consider removing Histogram.shortName"
TBMv2 metrics have the option of giving Histograms a `shortName`, which might be useful for metrics whose Histograms' names are annoyingly long such as memoryMetric and newCpuTimeMetric. Results.html displays these shortNames in the Name column instead of the Histogram's regular `name`. This capability was discussed and added in Sep 2016 in #2569 . It doesn't seem like any metrics have made use of

[2017-09-27 22:48] anniesullie commented on #3924
The problem is the trailing slash at the end of the path. This defaults to 7:

`alerts/history/300/?benchmark=system_health.memory_desktop`

This correctly parses as 300:

`alerts/history/300?benchmark=system_health.memory_desktop`

I'm going to WontFix since there's a pretty simple change to fix the API call, even though the error from the dashboard is not ideal.

[2017-09-27 22:48] #3924 closed

[2017-09-27 23:18] randalnephew commented on #3924
Confirming that fixed the problem in my tool.
/, the new ;.

[2017-09-28 00:34] dave-2 opened #3928 ""auto_explore" past the first and last commits"
Sometimes we don't know the correct start and end points for a bisect.
* An alert is in the wrong place, and we don't know what the right place is.
* A flaky test started failing, and we don't know exactly when it started.

As part of the "auto_explore" logic, we could potentially expand the bisection range beyond the given commits.

@perezju @simonhatch @anniesullie @nedn

[2017-09-28 10:37] perezju commented on #3879
I'll also be very interested in reviewing the sort of stats we can get out of pinpoint to track issues with our benchmarks/metrics etc.

[2017-09-28 12:44] natorion opened #3929 "Perf Dashboard: Wrong count of alerts shown"
Chrome version: 62.0.3202.29 (Linux)
URL: https://chromeperf.appspot.com/group_report?sid=fce2dd5293e9c5d99778c313a08b1641eec14d60bf3fac1f697923c58a95a243

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):
None
Please describe the problem:
According to the UI there are 212 alerts. According to the triage alert page there are 36. There are also 36 shown (see screensho

[2017-09-28 13:13] anniesullie commented on #3929
@benshayden can you take a look? I was able to reproduce by clicking on the link in the bug summary. I checked the response from the XHR to /group_report, and it's including both improvements and regressions. I believe before the grouping change we would only get regressions.

It looks like although the alerts have been triaged now (marked invalid), in the screenshot they were not triaged. So this

[2017-09-28 13:31] natorion commented on #3929
Seems like the number of alerts includes improvements although the improvements are not shown per default. See this link: https://chromeperf.appspot.com/group_report?sid=29bfeaa92c30c627bb8d2a59a4fbb5a34ad4cb8a6f59049925c9d3d385acbff3 and notice the state of the marked button on the top right.

Looks like the default, initial state of the page is bogus?

![image](https://user-images.githubusercont

[2017-09-28 13:48] krishamehta commented on #2829
Can I help ?

[2017-09-28 14:23] simonhatch commented on #3929
Yeah think the initial state isn't accurate reflected in the button in the top, improvements aren't shown by default but the button seems to imply they are. I think the alerts-table isn't aware of whether improvements should be shown or not, it does all the grouping in alerts-table.html:ShowAlertsGrouped(). The "Show All Improvements" button actually calls group-report-page.html:onToggleImprovemen

[2017-09-28 15:42] simonhatch commented on #3903
Small update, noticed a summary metric alerted yesterday: https://chromeperf.appspot.com/group_report?sid=a91b508b4c05f5cd05a6e0aa6c4b62cb5c1e1ecb299ef00dd8539b59b949933d

Still printing out the sheriff for that test

Logs for when the alert was generated say that the test DID have a sheriff at the time, Chromium Perf AV Sheriff. We're also logging every change to the sheriffs now, and there's no

[2017-09-28 16:14] simonhatch opened #3930 "Dashboard - Investigate "Monitored" property on TestMetadata"
Ran across this while investigating another issue. Looks like this is used in a few places (/list_tests, /update_test_suites). Wonder if this will be an issue once benchmarks are merged and the # of test paths for a suite grows considerably. Could blow out the entity size limit.

One possibility would be to move this out of the entity into datastore by itself. There are probably transactional issu

[2017-09-28 18:35] dave-2 opened #3931 "DeadlineExceededError during taskqueue.Add()"
https://pinpoint-dot-chromeperf.appspot.com/job/15b64f34780000

[code]

[2017-09-28 18:36] dave-2 commented on #3931
Didn't even know this was possible.

Google suggests adding a retry to the taskqueue API call.
https://issuetracker.google.com/issues/35897969#comment20

[2017-09-28 18:41] anniesullie commented on #3931
Perf dashboard batches the task queue tasks into groups I think. (check add_point.py)

[2017-09-28 18:50] dave-2 commented on #3931
The error message is misleading. We don't do any batching of tasks, because each Job has only one task and schedules its task independently from other Jobs.

I also checked `add_point.py` and it has a group of tasks, but it [adds them synchronously](https://chromium.googlesource.com/catapult/+/HEAD/dashboard/dashboard/add_point.py#265) (it actually looks like a bug in the code).

[2017-09-28 18:53] simonhatch commented on #3931
Nice find, that's a little strange. Under the hood .add() should be identical (https://cloud.google.com/appengine/docs/standard/python/refdocs/modules/google/appengine/api/taskqueue/taskqueue)

Can probably just change the block to async them all and wait on the results.

[2017-09-28 19:06] dave-2 commented on #3931
I misread the code. It chunks the tasks into groups of `MAX_TASKS_PER_ADD` (100) and adds each group synchronously. That's probably not so bad.

[2017-09-29 07:33] natorion opened #3932 "Perf Dashboard: Later bisects will not fix the assigned issue on Chromeperf"
Repro/Workflow:

1.) Create a new issue (https://bugs.chromium.org/p/chromium/issues/detail?id=769693) and start multiple bisects on a large alert page https://chromeperf.appspot.com/group_report?sid=bd95b960d11403ebdb2787317048c729afbe6916e0b32620ef660ac93353cb18

2.) First bisect results identifies a duplicate (https://bugs.chromium.org/p/chromium/issues/detail?id=769693#c5) and the assigned iss

[2017-09-29 07:39] natorion opened #3933 "Perf Dashboard: Sorting breaks selection of alerts on group_report"
Chrome version: 62.0.3202.29 (Linux)
URL: https://chromeperf.appspot.com/group_report?sid=bd95b960d11403ebdb2787317048c729afbe6916e0b32620ef660ac93353cb18

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):

jquery.flot.min.js:7 Uncaught Error: Invalid dimensions for plot, width = 0, height = 0
    at Canvas.resize (jquery.flot.min.js:7)
    at Plot.plot.resize (jquer

[2017-09-29 07:58] natorion opened #3934 "[Pinpoint] Pinpoint is not automatically assigning bugs if culprit is found"
The old bisect script did automatically assigned a bug to an owner when the culprit was found. This seems to be not the case anymore with Pinpoint. See https://bugs.chromium.org/p/chromium/issues/detail?id=769716#c6 as an example.

[2017-09-29 13:40] anniesullie commented on #3934
We also want to cc CL reviewers. This was removed from the old bisect script, but it's come up in recent postmortems, and we've decided it should be added back.

[2017-09-29 13:41] anniesullie commented on #3933
@benshayden can you take a look?
@simonhatch FYI

[2017-09-29 13:42] anniesullie commented on #3932
@dave-2 @simonhatch @benhenry

We should probably write up a short doc that covers how bisect/pinpoint ideally would
* Assign bugs
* Cc people
* Mark bugs duplicate
* Deal with multiple culprits found in the same bug.

[2017-09-29 15:42] simonhatch commented on #3934
Gonna mark this as a dupe of #3890

Definitely on our radar as high priority: [bug list](https://docs.google.com/spreadsheets/d/1aB3NyFprp54hXlumR0HZfS3o_eVPJSF7N0qE5DUbC4A/edit#gid=2103056945)

[2017-09-29 15:42] #3934 closed

[2017-09-29 15:43] simonhatch commented on #3890
@natorion

[2017-09-29 17:47] nedn commented on #2302
I think this probably no longer relevant.

[2017-09-29 17:47] #2302 closed

[2017-09-29 17:48] nedn commented on #2414
I think this is probably already tracked by metrics team. Feel free to reopen if you disagree.

[2017-09-29 17:48] #2414 closed

[2017-09-29 19:14] dave-2 commented on #3932
In the future, when we automatically kick off a bisect on every alert, we will be able to narrow down the alert to its specific commits. Then the bugs are associated with the commits, not the alerts or the bisect jobs.

The mapping will be: **1 alert → 1 bisect → N commits → N bugs**

If an alert or bisect job represents multiple regressions, it's then possible for an alert or a bisect job to have

[2017-09-29 19:27] anniesullie commented on #3932
I agree the long-term vision is great, but I think we also need a clear story until we get there. What should the dashboard do when a perf sheriff creates a bug with multiple root causes in the short term?

Long-term, what happens when pinpoint misidentifies a culprit CL? I can imagine some scenario where:
* A bug causes pinpoint to mass-misidentify culprits. For example, maybe there is a misconfi

[2017-09-29 19:44] dave-2 opened #3935 "Use regression size information in"

[2017-09-29 20:43] dave-2 opened #3936 "Use regression size information in Pinpoint"
## Background
Pinpoint has two parameters than can be used to adjust the sensitivity of its statistics.

### Significance level
The threshold probability at which we say "these samples are different". A higher threshold means that we need less evidence to say that two samples are different, thus increasing the sensitivity to regressions that are small compared to the noise.

However, the significa

[2017-09-29 20:44] dave-2 commented on #3797
I echo Annie's comments. I think we can satisfy all those needs, but maybe not in those exact forms.

Failures are handled a little differently in Pinpoint and you will find that retrying a Job is less useful than before. In Pinpoint, "failure" means "Pinpoint fell over", and my first priority is to get these failures down to <0.1%.

In bisects where the test fails in the middle of the range ([exa

[2017-09-29 21:30] rmargold opened #3937 "Unexpected identifier dispatchAsync"
I've built the embedded version of Trace Viewer following this doc: https://github.com/catapult-project/catapult/blob/master/tracing/docs/embedding-trace-viewer.md
Loading this version generates a "Unexpected identifier" JS error on line 4235, column 48, which corresponds to dispatchAsync in event_target.html.

[2017-09-29 21:38] nedn commented on #3936
Wow, thanks for the great write-up, Dave!

I wonder whether this is because we use Mann-Whitney? Otherwise if we just use the average, the more repeat we have, the less variance of the average value would be, right?

[2017-09-29 22:11] shaper opened #3938 "Support viewing js console output from shell in snap_page script"
I'd like to add console.log (or similar, happy to use a logger object) instrumentation to some of the snap_page logic, for example popup.js, and be able to view that as output in the command-line shell.

I tried opening the inspector while the browser was up, but doing so seems to break the python devtools api inspector backend connection.

[2017-09-29 22:31] dave-2 commented on #3936
@nedn That's theoretically true whether we use MWU or some other comparison of the averages, so it shouldn't make a difference there.

The results seem to show that sometimes the "inter-task noise" is stronger than the averaging. I'm not sure if that's still true if we do dozens or hundreds of repeats across many different devices, though. We'll need to do some more research. I also look forward t

[2017-09-29 22:32] shaper commented on #3938
Filed http://crbug.com/770387

[2017-09-29 22:36] #3938 closed

[2017-09-29 22:40] benshayden opened #3939 "Replace tr-ui-b-resize-sensor with ResizeObserver"
Trace viewer currently contains 2 buggy ways to detect when elements' sizes change: [tr-ui-b-resize-sensor](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/ui/base/resize_sensor.html) (wraps css-element-queries/ResizeSensor and is unused) and various 'resize' event listeners. I forget what the bugs are, specifically, but the new [ResizeObserver](http://caniuse.com/#search=

[2017-09-30 05:16] benshayden commented on #3937
What version of what runtime are you loading it in? (Chrome? Firefox? Node?)
[async/await](http://caniuse.com/#feat=async-functions) is an ES2017 feature.

[2017-10-02 09:02] perezju commented on #2965
Obsolete issue. This benchmark no longer exists.

[2017-10-02 09:02] #2965 closed

[2017-10-02 09:05] perezju commented on #2893
I think I'm going to close this now as obsolete. The only place where this would make sense is in our internal long running (~5 hours) memory test. And if something breaks there, we can do manual investigations, compute slope's etc. as needed. No need at the moment to generalize.

[2017-10-02 09:05] #2893 closed

[2017-10-02 09:07] perezju commented on #2618
@ssiddhartha do you know if this is now completed?

[2017-10-02 09:11] perezju commented on #2420
@benshayden do you know if this is still something we might want to implement?

Also, does not sound memory-infra specific. I'll remove that label.

[2017-10-02 09:16] perezju commented on #1977
I might get to finish this work after migrating the bug back to crbug again :stuck_out_tongue_winking_eye:

[2017-10-02 09:41] ssiddhartha commented on #2618
It should be fixed.

[2017-10-02 09:41] #2618 closed

[2017-10-02 15:47] tdresser commented on #1818
Has there been any progress here?

The topic of histogram metadata comes up pretty frequently. I'm still hoping to eventually have a mapping between UMA histograms and catapult histograms. This is getting somewhat more complicated as we get more complex breakdown trees, and more structured data on the server side via UKM.

[2017-10-02 16:13] benshayden commented on #2420
I appreciate the generality of the Unit system and the utility of the controller-ancestor pattern, but this bug looks pretty vague and hasn't seen much activity in a while. I have no personal interest in this bug as is. Let's focus on specific requests and use cases. #2377 was satisfyingly specific, and appears to have been fixed. If there are other use cases for customizing scalar formatting, let

[2017-10-02 16:13] #2420 closed

[2017-10-02 16:59] rmargold commented on #3937
Chrome 60.
http://kangax.github.io/compat-table/es2016plus/ says it should support it, but sounds like feature support is the issue. Is there any option to build for browsers that don't support it?
Thank you!

[2017-10-02 17:32] benshayden commented on #1818
This bug appears to be about allowing/requiring TBMv2 metrics to specify which tracing categories they require. I started that here: https://chromium-review.googlesource.com/c/catapult/+/695743

I'm not sure I see how that relates to mapping between UMA metrics and telemetry metrics?

[2017-10-02 17:46] benshayden commented on #3937
Sorry, not right now. Can you manually remove the offending method?
If not, it looks like ViewState is the only caller of dispatchSimpleEventAsync which is the only caller of EventTarget.dispatchAsync, so we could temporarily inline those helper functions so that event_target.html doesn't require await. ViewState is only imported by the histogram-set-view, which is imported by the metrics-side-pan

[2017-10-02 17:50] benshayden commented on #3909
I started to make a [change](https://chromium-review.googlesource.com/c/catapult/+/693397) to results.html to do this, but @nedn objected. We agreed to instead add `?r=TOT&s=%25Δavg` to the buildbot output's link, so I'll investigate that route instead.

[2017-10-02 18:54] rmargold commented on #3937
So I was going to inline dispatchSimpleEventAsync, but then I realized I might have messed up, and indeed I did. The Chrome version running the code was 47. Looking at the long history of full support of the feature, I'm much better making sure that gets updated, or even ignore it.
Thank you so much for the help!

[2017-10-02 18:54] #3937 closed

[2017-10-02 20:47] simonhatch opened #3940 "Dashboard - Refactor alerts-table"
Ben brought this to my attention, this file is pretty messy and looks kinda brittle with the use of asyncs and recursion guards when simultaneously observing/modifying alertsList.

Pinpoint makes use of https://www.polymer-project.org/1.0/docs/devguide/templates#filtering-and-sorting-lists which may make things simpler here too.

@benshayden

[2017-10-02 21:10] benshayden commented on #1691
Fixed, assuming the change sticks.

[2017-10-02 21:10] #1691 closed

[2017-10-03 02:38] kman2121 commented on #2829
I can take this one on.

[2017-10-03 09:25] daverodgman opened #3941 "trace_event_importer does not correctly detect GPU process"
Steps to reproduce the problem:
1. Create a simple benchmark similar to top_25_smooth (i.e. derived from the _Smoothness class), but with no scroll action (e.g., a benchmark to measure percentage_smooth for falling leaves)
2. Note that smoothness measurements are inaccurate (very low)

In this example (falling leaves), Telemetry reports values as low as ~70% on platforms which are actually obtaini

[2017-10-03 11:37] daverodgman commented on #3941
I've pushed a patch to address this here:

https://chromium-review.googlesource.com/c/catapult/+/697366

[2017-10-03 14:18] simonhatch opened #3942 "Dashboard - Remove milo_service"
Think this was originally introduced to aid in debugging stoppage alerts, which are gone.

[2017-10-03 18:47] simonhatch commented on #3581
From @nedn in crbug.com/771025:

[2017-10-03 20:45] #3935 closed

[2017-10-03 20:46] #3931 closed

[2017-10-03 21:30] benshayden opened #3943 "Consider refactoring dom-module initialization patterns"
Most dom-modules throughout tracing and dashboard are initialized by their callers by assigning either ES6 or polymer properties. For example, [side_panel_container](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/ui/side_panel/side_panel_container.html):
[code]
The polymer version of this pattern is exemplified by [alerts-page](https://github.com/catapult-project/catapult

[2017-10-03 22:14] simonhatch opened #3944 "Dashboard - /add_histograms doesn't support tir_label"
Looking at /add_histograms code, realized that this doesn't support tir_label and thus won't work as-is for some benchmarks. Diving into this w/ @benshayden to try to and figure out how to support this, looks like this is generated in telemetry via https://github.com/catapult-project/catapult/blob/master/telemetry/telemetry/internal/results/page_test_results.py#L409

We should be able to do the sa

[2017-10-03 23:22] benshayden commented on #3944
Yes, [ComputeTestPath](https://github.com/catapult-project/catapult/blob/master/dashboard/dashboard/add_histograms.py#L206) needs to

- get the STORY_TAGS diagnostic,
- ignore non-key-value tags (those that do not contain a colon `:`),
- sort them,
- ignore keys with multiple values (e.g. if a Histogram has both `case:foo` and `case:bar`, then ignore both)
- `'_'.join(tag.split(':')[1] for tag in

[2017-10-03 23:33] dave-2 opened #3945 "[📍] Data migration plan"
We're starting to have some changes that will modify the NDB schema. We need to have some things in place to ensure these go smoothly:
* Migration process documentation.
* Data migration helper script or endpoint.
* Ability to update Jobs without setting the `updated` field.
* A test migration (looking like it's going to be the [trace links CL.](https://codereview.chromium.org/3014663002/))

Curre

[2017-10-04 01:25] anniesullie commented on #3943
@dave-2 and I were having kind of the opposite discussion last week, if I am remembering right. This pattern of building the UI via dom on a specific function really doesn't feel polymeric at all. I also worry a lot about things like XSS, getting the CSS right, using paper elements which are coded in a really different style when we're not using the <template> element as intended.

From my perspec

[2017-10-04 07:26] AndreasMadsen opened #3946 "document effect of upper case phase in trace event format"
As far as I can tell, when the `ph` value is uppercase the events are grouped by the name when they are lowercase the events are grouped by the thread id.

This doesn't appear to be documented anywhere, at least not in https://docs.google.com/document/d/1CvAClvFfyA5R-PhYUmn5OOQtYMH4h6I0nSsKchNAySU/preview

Is this by choice? If so could you add it to the documentation?

[2017-10-04 13:18] natorion opened #3947 "Perf Dashboard: No v8 changelog showing anymore for v8.browsing_stories"
Chrome version: 62.0.3202.29 (Linux)
URL: https://chromeperf.appspot.com/report?sid=4b563c77f46345a2eca2856d92fbe574314836a2d25fe0cbf63db8f02688942a

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):
Failed to load resource: the server responded with a status of 400 () in /getdiagnostics ... probably unrelated?
Please describe the problem:

Starting with point 503070

[2017-10-04 13:30] anniesullie commented on #3947
@simonhatch can you help triage? @martiniss did you help with this originally?

[2017-10-04 14:20] simonhatch commented on #3772
A more recent proposal here: #3945 so closing this out.

[2017-10-04 14:20] #3772 closed

[2017-10-04 14:44] simonhatch commented on #3945
I like it, much simpler than the version we had spoken about offline. This is more similar to how I'd expect the dashboard to do a migration.

Any thoughts on how to test the migration? Dashboard's migration endpoints are unit tested which gives some degree of confidence.

[2017-10-04 16:40] benshayden commented on #3946
The specific grouping algorithm used by catapult's trace viewer is a View-level implementation detail that could be changed, or be different in a different trace viewer, so I'm not sure it makes sense to specify it in the Trace Event Format doc. IIUC, that doc is more about the low-level syntax and semantics of the trace format, not a complete specification of how the Model data should be visualiz

[2017-10-04 16:40] #3946 closed

[2017-10-04 18:58] simonhatch commented on #3947
Looking at these points in the datastore, everything prior to Sept 20'ish has those extra revision annotations while later don't. Traced that back to the upload step from the waterfall, which is missing those params, which points at this cl: https://chromium-review.googlesource.com/c/chromium/tools/build/+/653206

It looks like the flags are created and then never passed, I'll put up a CL to fix.

[2017-10-04 19:50] tdresser commented on #1818
Sorry, the thread that connects them is the idea of metric metadata. The required categories are metadata, and related UMA metrics are also metadata.

You're right that this is off topic though. We're following up via email.

[2017-10-04 21:28] AndreasMadsen commented on #3946
Well, the issue took me a long time to solve. So I just wanted to suggest it.

At the very least, the documentation suggests that there is some correct choice of lowercase/uppercase, which I don't think are. Except that it affects the viewer.

[2017-10-04 23:57] dave-2 opened #3948 "[📍] Move Job parameters into a drawer."
Right now the Job parameters are shown at the top of the page.
![image](https://user-images.githubusercontent.com/211662/31192256-a094495e-a8f5-11e7-8536-ab2da83ee130.png)
Their position really emphasizes their importance. But most of the time, people already know the context in which they're looking at the job. So this information is not that important, and distracts from the more important thing

[2017-10-05 08:15] natorion commented on #3947
Thanks! Is the data going to be backfilled after the fix lands?

On Wed, Oct 4, 2017 at 8:59 PM simonhatch <notifications@github.com> wrote:

[2017-10-05 14:17] simonhatch opened #3949 "Dashboard - Instance utilization up"
Our quota usage doubled around Oct 3, and our instance utilization on average the last 2 days is very high (~2x). We should investigate.

@anniesullie @eakuefner

[2017-10-05 14:27] simonhatch commented on #3947
No, the CL (https://chromium-review.googlesource.com/c/chromium/tools/build/+/700737) passes the correct revision args in during the upload step, so after it lands all subsequent uploads will get the right data.

To backfill I think there aren't a lot of great options. Short of either re-uploading all the previous runs or writing a custom script to run over those Rows, pull in DEPS/etc., figure ou

[2017-10-05 14:56] simonhatch opened #3950 "Dashboard - Sheriff dropdown is too small"
<img width="768" alt="screen shot 2017-10-05 at 10 55 32 am" src="https://user-images.githubusercontent.com/11619067/31233988-c1df91ce-a9bb-11e7-8ab9-2b23fe35a6c6.png">

Just small annoying thing, the dropdown is too small (or the text is too large?) and the sheriff names often wrap.

[2017-10-05 16:03] benshayden commented on #1818
This bug is old and basically fixed now, so I'm going to close it. Let's open new bugs if there are still issues.

[2017-10-05 16:03] #1818 closed

[2017-10-05 19:56] simonhatch opened #3951 "Add # histograms as part of benchmark smoke test"
Had a recent waterfall wide set of failures on dashboard upload due to an explosion in the # of metrics in loading.desktop. Ned has suggested adding a something in the benchmark smoke tests so that the CQ can catch this class of problems.

https://cs.chromium.org/chromium/src/tools/perf/benchmarks/benchmark_smoke_unittest.py?q=benchmark_smoke&sq=package:chromium&l=1

@nedn

[2017-10-05 20:01] nedn commented on #3951
@benshayden

The idea here is we compute s.t like size (or the number of histogram) of the results & blow up if it's too big.
Note that the smoke test only run one story from the selected benchmark, but we can estimate the total size by multiply that by the number of stories & number of repeat from the benchmark.

[2017-10-05 20:26] simonhatch opened #3952 "Dashboard - Use taskqueue's async methods in /add_point"
@dave-2 pointed an inefficiency in /add_point's code where it inserts tasks into the taskqueue. We should collect the futures and wait on them after.

[2017-10-05 21:32] simonhatch opened #3953 "Dashboard - /add_point ConstructTestPaths get_multi"
This seems to get last_added_revision for every test_path in the data, but then /add_point only uses 1 of them. That seems like a waste.

[2017-10-05 22:12] benshayden commented on #3951
SGTM.
How should we modify SmokeTestGenerator to count the values? I don't see anything in the Benchmark class where it has access to the PageTestResults.

[2017-10-05 22:25] nedn commented on #3951
Modifying SmokeTestGenerator SGTM

[2017-10-05 23:45] benshayden commented on #3951
Started https://chromium-review.googlesource.com/c/chromium/src/+/704054

[2017-10-06 15:02] dave-2 commented on #3945
Ran a test migration last night for #3887. Here's the data migration UI.

When there's no migration running:
![image](https://user-images.githubusercontent.com/211662/31284026-33ed1614-aa6c-11e7-8973-c6df8e753c01.png)

After clicking the button, or when there's a migration already in progress:
![image](https://user-images.githubusercontent.com/211662/31284034-39473a54-aa6c-11e7-86ac-46d711ddaa6f.p

[2017-10-06 15:28] #3887 closed

[2017-10-06 15:31] #3918 closed

[2017-10-06 18:02] benshayden opened #3954 "Link to UMA in results.html and eventually dashboard"
Many TBMv2 metrics correspond to UMA metrics. These relationships are currently only expressed in a few docs and spreadsheets. They should be expressed in TBMv2 metrics so that results.html and eventually the dashboard can link from Histograms in results.html and charts in the dashboard to UMA timelines. Link from UMA to the dashboard will have to be handled by UMA or a chrome extension.

TBMv2 me

[2017-10-06 21:45] vinterstum commented on #1913
chromy@: I landed your patch (with a tiny fix) while you were OOO; thanks :)

[2017-10-09 17:40] benshayden opened #3955 "Remove d3 v3 from catapult/tracing/third_party"
D3 v4 was just added to catapult/third_party. It isn't compatible with v3 in tracing/third_party, which is being used by the d3-based charts in tracing/ui/base.
Before we can use tracing's d3-based charts and the results2 widgets on the dashboard/pinpoint, we'll need to either migrate the tracing charts to d3 v4 or rip out the d3 usage and make them use the web apis directly.
The d3-based charts i

[2017-10-09 21:06] dave-2 commented on #3877
I've whipped up a demo with a heatmap. Here it is with a variety of data types:

## Single peaked
https://pinpoint-dot-chromeperf.appspot.com/job/14df783e780000
![image](https://user-images.githubusercontent.com/211662/31357928-831e516a-acf8-11e7-8c57-48ad1d89219e.png)
https://dev-dtu-568fb944-dot-pinpoint-dot-chromeperf.appspot.com/job/14df783e780000
![image](https://user-images.githubusercontent

[2017-10-09 23:10] dharrington opened #3956 "[wpr-go] Use DualStack on dialers"
WPR doesn't use DualStack (net.Dialer) in a couple places, which can result in fetch failures.

For example, this causes some images to fail to load on https://m.cricbuzz.com

[2017-10-10 00:34] dave-2 opened #3957 "[📍] Pinpoint job failure while reading DEPS"
[code]

[2017-10-10 00:38] jnejati opened #3958 "[wpr-go] --host does not bind to address."
--host flag seems to not have any effect. Something like the following patch for wpr.go might do the work?

211,214c211,212

[code]

[2017-10-10 00:39] dave-2 commented on #3957
It looks like the `DEPS` file format changed. There's a new conditional DEPS feature, and `src/DEPS` was updated in [chromium/src@7af36895](https://chromium.googlesource.com/chromium/src/+/7af36895aed21beb249c10ea8dfd8f2c62e02539). In the new format, a DEP can be a string of `repo@git_hash`, or a dict of `{'url': 'repo@git_hash', 'condition': 'condition_string'}

We'll need to update the DEPS pars

[2017-10-10 08:15] natorion opened #3959 "Perf Dashboard: Are Pinpoint jobs automatically triggered?"
Chrome version: 62.0.3202.29 (Linux)
URL: https://chromeperf.appspot.com/group_report?bug_id=772703

Please describe the problem:
I noticed this today while triaging some open bugs. It seems Pinpoint jobs are not automatically triggered when a bug for an alert is created. With the old bisection, a bisection was automatically created. Why this change?

[2017-10-10 08:17] natorion opened #3960 "Perf Dashboard: Pinpoint jobs don't show up on the bug overview page"
Chrome version: 62.0.3202.29 (Linux)
URL: https://chromeperf.appspot.com/group_report?bug_id=772703

Please describe the problem:
Repro:

1.) go to a bug overview page e.g.  https://chromeperf.appspot.com/group_report?bug_id=772703
2.) I manually started a pinpoint/bisect jobs
3.) notice that there is no indication that bisect jobs were run for this overview. This was the case with the old bisect

[2017-10-10 11:32] natorion opened #3961 "Perf Dashboard: Can't triage a lot of alerts at once on group_report page"
Chrome version: 62.0.3202.29 (Linux)
URL: https://chromeperf.appspot.com/group_report?rev=505211

Please describe the problem:

Repro:
1.) Open an impactful revision in group_report
2.) Select one of the buckets with a few hundred entries
3.) Tab hangs, kill dialog appears

I think this is due to the default behavior to automatically display all selected alerts. displaying 400 graphs is crippling

[2017-10-10 12:47] anniesullie commented on #3961
@simonhatch @benshayden

[2017-10-10 12:59] anniesullie commented on #3960
@dave-2 @simonhatch @benshayden we probably want to discuss the best UI for showing bisect status in perf dashboard. People definitely are using this for old bisect.

[2017-10-10 13:00] anniesullie commented on #3959
@dave-2 @simonhatch

[2017-10-10 14:34] simonhatch commented on #3959
They should be, if they're not then that's a bug. I'll take a look since this will probably be dashboard side.

[2017-10-10 16:52] #3956 closed

[2017-10-10 17:53] anniesullie opened #3962 "Perf dashboard charts should use d3"
The rest of tracing/results/etc uses d3, and its API is much more usable for the way we want to interact with the DOM. It can also be much more flexible in the way databinding works, which should mean that we can remove several hundred lines of code from chart-container.html for databinding and fixed-point x-axis, as well as make the format from graph_json.py much cleaner.

I'm taking this for now

[2017-10-10 17:58] mariakhomenko opened #3963 "Perf Dashboard: Cannot move from more specific to aggregate graph"
Chrome version: 62.0.3202.29 (Linux)
URL: https://chromeperf.appspot.com/report?sid=18011240ae6697979b36a8b2e93d401816c7be1217e34917687f7c11362f36de&start_rev=1504953559&end_rev=1507653641 (note you need to be signed in to see this)

Please copy and paste any errors from JavaScript console (Ctrl+Shift+J to open):

chart-slider.html:402 Uncaught Error: Invalid dimensions for plot, width = 0, height

[2017-10-10 18:01] anniesullie commented on #3963
@benshayden @simonhatch

[2017-10-10 21:24] anniesullie commented on #3904
Also would be great to add documentation on the classification algorithm, and the other statistical analysis done by perf try jobs and perf dashboard.

[2017-10-10 22:08] dave-2 opened #3964 "[📍] Automatically increasing repeat_count"
## Background
I've spotted a few jobs recently where a regression would've been found if the repeat count was higher (20+ repeats)
https://pinpoint-dot-chromeperf.appspot.com/job/14ffbd49780000
https://pinpoint-dot-chromeperf.appspot.com/job/149321b9780000
https://pinpoint-dot-chromeperf.appspot.com/job/14a95b79780000
https://pinpoint-dot-chromeperf.appspot.com/job/128e4429780000

The easiest thin

[2017-10-11 01:00] simonhatch commented on #3953
Landed and deployed ( #3953, #3952 ) , response times in 99'th percentile dropped by about 60%.

[2017-10-11 01:00] #3953 closed

[2017-10-11 01:00] simonhatch commented on #3952
Landed and deployed ( #3953, #3952 ) , response times in 99'th percentile dropped by about 60%.

[2017-10-11 01:00] #3952 closed

[2017-10-11 05:25] benshayden commented on #3909
I had assumed that query parameters would survive when cloudstorage redirects to apidata.googleusercontent.com, but that does not appear to be the case ([location.search doesn't work](https://console.developers.google.com/m/cloudstorage/b/chromium-telemetry/o/html-results/results-2017-10-10_19-21-40?r=TOT&s=%25Δavg)), so this approach won't quite work.

The fragment does survive, so I can make res

[2017-10-11 10:16] natorion opened #3965 "Perf Dashboard: Breadcrump updates are slow/not triggering"
Chrome version: 62.0.3202.45 (Linux)
URL: https://chromeperf.appspot.com/report?sid=c8e96db73e27d28cda8d41031225650b543995b6a7a660e4161613dc02a22c34&start_rev=445726&end_rev=499284

Please describe the problem:

When I want to swap out certain parameters in a benchmark in order to compare results (see the above example) e.g. switching the metrics but leave everything else the same I often have the

[2017-10-11 10:23] natorion opened #3966 "Perf Dashboard: Graphs don't show despite there is data for them"
Chrome version: 62.0.3202.45 (Linux)
URL: https://chromeperf.appspot.com/report?sid=cf94a1287c526767108e905afccfb02e75c914e9d142ca817240909d8c83e20a&start_rev=422881&end_rev=499284

Please describe the problem:
Repro:
1.) Open https://chromeperf.appspot.com/report?sid=cf94a1287c526767108e905afccfb02e75c914e9d142ca817240909d8c83e20a&start_rev=422881&end_rev=499284
2.) Make revision slider smaller

[2017-10-11 10:27] natorion opened #3967 "Perf Dashboard: Subtest not showing all its subtests"
Chrome version: 62.0.3202.45 (Linux)
URL: https://chromeperf.appspot.com/report?sid=3836adf633ca2e5d9aae5063a1311543a95b023badb484cd80de96f92fba1a29

Please describe the problem:
See above URL. The subtest "browse_news_reddit" is below "browse_news". It does not appear though if I simply add "browse_news" to the graph.

![image](https://user-images.githubusercontent.com/7190422/31435345-8ce0ec34-a

[2017-10-11 10:33] natorion commented on #3947
It is probably not worth it at that point. Thanks.

[2017-10-11 12:48] anniesullie commented on #3967
@benshayden @simonhatch

[2017-10-11 12:49] anniesullie commented on #3966
@simonhatch

[2017-10-11 12:50] anniesullie commented on #3965
@benshayden @simonhatch

I pushed a new dashboard version yesterday; @natorion any idea if it might be related to those changes (was it working fine yesterday?)

[2017-10-11 12:55] natorion commented on #3965
Sorry, no clue. I didn't look at Chromeperf intensively this week up until today.

[2017-10-11 13:03] anniesullie commented on #3909
This plan sgtm, but can you clarify what happens if both hash and query are set?
1. If both hash and query are set at the start
2. If we generally prefer one, do we migrate to it? Like we prefer query, we see something in the hash, do we update to use query next time we change the query?

[2017-10-11 17:28] benshayden commented on #3965
This sounds like #3963 . Can you see if [this demo](https://dev-benjhayden-fe5546b4-dot-chromeperf.appspot.com/report) works better? Here's [the CL in that demo](https://chromium-review.googlesource.com/c/catapult/+/710074).

[2017-10-11 17:44] maxlgu opened #3968 "Create new page load metrics to cover Single-Page-App navigations"
Based on the discussion:
https://plus.google.com/u/0/116424028427246945518/posts/NcRTx48frkY?cfem=1

We need to create page load metrics to cover Single-Page-App navigations.

[2017-10-11 17:45] maxlgu commented on #3968
@tdresser

[2017-10-11 18:14] #3677 closed

[2017-10-11 18:14] #3944 closed

[2017-10-11 18:33] benshayden commented on #3968
How would these new SPA metrics differ from the existing [spa_navigation_metric](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/metrics/spa_navigation_metric.html)?

[2017-10-11 18:44] tdresser commented on #3968
The existing metric is essentially SPA first paint.
We need SPA FCP and SPA TTI as well.

[2017-10-11 20:13] benshayden commented on #3909
If hash is set, then results.html will use hash regardless of whether query is set.
If hash is not set, then results.html will use query regardless of whether the query contains unrecognized parameters like cloudstorage's `qk` parameter.
This isn't a principled strategy, it's a pragmatic workaround for the cloudstorage URLs specifically that should probably also work for other similar situations i

[2017-10-12 07:12] natorion opened #3969 "Perf try jobs with V8 patches don't have results (and hidden errors)"
We wanted to use the feature to [run Chromium perf tryjobs with V8 patches](https://docs.google.com/document/d/1ThZ9-Ik-Et4PC6LfnB-P4Jz43n0cSZhfuEsGCNxEluQ/edit). Here is the associated CL: https://chromium-review.googlesource.com/c/v8/v8/+/707253.

It seems that everything for the relevant platforms (e.g. Linux) worked fine like in this result: https://build.chromium.org/p/tryserver.chromium.perf

[2017-10-12 07:13] natorion commented on #3969
@nedn

[2017-10-12 13:16] anniesullie commented on #3969
@simonhatch

Also @dave-2 will this use case work in pinpoint?

[2017-10-12 14:07] anniesullie commented on #3909
If we had a histogram viewer like the devtools timeline one, would the histograms still be stored in cloud storage?

[2017-10-12 15:05] primiano opened #3970 "[📍] Show commit position in UI"
PinPoint is awesome. I like the ui, nice and polished.
Would be nice if It did show the commit position somewhere, so when I click on two points I can tell how far apart are from each other (in terms of CLs)

[2017-10-12 15:18] primiano opened #3971 "Lot of "Bisect failed for unknown reasons" on android bots"
Quite a lot of bisects came back today in my inbox with this error.
For instance:
https://bugs.chromium.org/p/chromium/issues/detail?id=774094

It seems mostly related with android bots

[2017-10-12 15:19] primiano commented on #3971
@simonhatch @anniesullie

[2017-10-12 15:33] dave-2 commented on #3921
Ok, I think it's often enough to warrant a priority bump. Just got one in a weird repo.

[code]

[2017-10-12 15:42] dave-2 commented on #3921
It looks like for this particular one, `chromium/src/DEPS` and `skia/DEPS` pull in the same repo from different locations.

Chromium from the googlesource.com mirror.
https://chromium.googlesource.com/external/github.com/KhronosGroup/SPIRV-Tools

And Skia from Github directly.
https://github.com/KhronosGroup/SPIRV-Tools

[2017-10-12 15:50] dave-2 commented on #3970
Is it enough to show the relative positions on the chart? (#3869)
Or would you still like to see the actual commit positions?

[2017-10-12 15:52] #3957 closed

[2017-10-12 15:53] anniesullie commented on #3970
As somebody that does a LOT of perf sheriff triaging, I would really like to see the actual commit positions. I need to copy/paste sometimes.

[2017-10-12 15:59] dave-2 commented on #3970
👍

[2017-10-12 16:02] simonhatch commented on #3971
Hmm not familliar, kinda looks like it's having trouble applying a patch:

Traceback (most recent call last):
  File "/b/build_internal/scripts/slave/.recipe_deps/recipe_engine/recipe_engine/run.py", line 376, in _old_run
    recipe_result = recipe_script.run(api, properties)
  File "/b/build_internal/scripts/slave/.recipe_deps/recipe_engine/recipe_engine/loader.py", line 98, in run
    self.run_s

[2017-10-12 16:04] simonhatch commented on #3969
/usr/bin/python /b/c/b/linux_perf_bisect/src/tools/perf/run_benchmark --browser=release speedometer2 octane jetstream v8.browsing_desktop v8.browsing_mobile --verbose --output-format=html --upload-bucket=public --upload-results --results-label=TOT
Usage: run_benchmark run benchmark_name [page_set] [<options>]
run_benchmark: error: Too many arguments.

Looks like you tried to specify multiple bench

[2017-10-12 16:10] simonhatch commented on #3949
Fixed with rollback in crbug.com/771610

[2017-10-12 16:10] #3949 closed

[2017-10-12 19:18] simonhatch commented on #3959
So looking at this, believe it's a side effect of #3947 . These rows don't have the git hash info since the uploads weren't working properly for a few days, and lot of extra revision info wasn't being uploaded. There's some code duplication going on, which I'll go ahead and clean up but this shouldn't be an issue outside of that upload problem window.

[2017-10-12 20:07] dave-2 commented on #3969
@anniesullie Yes. The patch will need to be in Gerrit. I haven't tested it though, so I'm not sure bot_update/gclient supports it, but I assume it would.

[2017-10-12 20:50] simonhatch commented on #3971
Fix in crbug.com/774171

[2017-10-12 20:50] #3971 closed

[2017-10-13 04:29] benshayden commented on #3909
If they're successfully uploaded and if there's an endpoint like /results2 to query and display all of the histograms from a given benchmark run, is there any reason to still store them in cloudstorage?

[2017-10-13 07:19] natorion commented on #3965
I checked out the demo. Now all descendant Subtests are vanishing when I want to swap out and ascendant Subtest. It is very hard now to compare multiple metrics on the same workload because one always needs to reselect the same path.

[2017-10-13 11:30] perezju commented on #3877
I think this is moving in the right direction, the heatmaps do convey more information and I think they are intuitive to read (not sure what others think?)

Some random thoughts/observations:

* Zooming: I think the zoomed out version might work better as the default (and maybe only) version
* On bucket size: It does seem to me that more buckets actually make the trend easier to view, and the whol

[2017-10-13 13:10] anniesullie commented on #3909
That's my question: uploaded to where? For data that's already perf dashboard timeseries, I think you mean it's in the data store, which is fine. But when you run locally, or with a perf tryjob, where is it uploaded?

[2017-10-13 15:14] simonhatch commented on #3959
Should be fixed, reopen if it happens again.

[2017-10-13 15:14] #3959 closed

[2017-10-13 15:17] simonhatch commented on #3966
Should be fixed now.

[2017-10-13 15:17] #3966 closed

[2017-10-13 15:29] simonhatch commented on #3877
Spoke a bit offline with Dave earlier in the week, will record thoughts here.

Really like the heatmaps, they do convey a lot of information that I think is otherwise not available. At the same time I find them something unintuitive about them that I can't put my finger on, maybe that's just a side effect of them being such a new visualization approach (to me). Might be after more extensive use th

[2017-10-13 17:22] benshayden opened #3972 "Display non-numeric samples and their diagnostics in a new diagnostics tab in histogram-span"
TBMv2 Histograms support adding non-numeric samples. They don't affect the histogram's statistics except to increment the `nans` statistic. No metrics currently intentionally use non-numeric samples.

As a separate piece of background, TBMv2 does not currently contain a version of Telemetry's FailureValue, partly for simplicity and partly because we didn't understand what metric authors would want

[2017-10-13 17:55] simonhatch commented on #3967
These tests have been marked deprecated (no data received since Sept 2), and are filtered out when getting the graph data. The test-picker still allows you to choose them, but they're not included when you select the top level metric.

We could see about surfacing this better, either through the chart legend or test picker itself?

[2017-10-13 17:58] benshayden commented on #3909
If the histograms are uploaded to the dashboard, then the link can be something like
`https://chromeperf.appspot.com/histograms?uploadTimestamp=1234567890&r=TOT&s=%Δavg`

If the json is uploaded to cloud storage (or Drive or another filesystem accessible over http) instead of the dashboard, then the link can be something like
`https://chromeperf.appspot.com/histograms?r=TOT&s=%Δavg&
jsonUrl=https%

[2017-10-13 21:25] chiniforooshan commented on #3951
Hi, I'm getting errors like the following on CQ from a CL that should not affect telemetry in theory:

    File "/b/s/w/ir/third_party/catapult/telemetry/telemetry/value/failure.py", line 41, in _GetExcInfoFromMessage
      raise Exception(message)
  Exception: Too many values: 589 > 588

([failure](https://chromium-swarm.appspot.com/task?id=392ff34483822b10&refresh=10&show_raw=1))
([cl](https://c

[2017-10-13 21:38] benshayden commented on #3951
Thanks! I'll bump up the limit.
We could try to estimate what the limit should really be at some point.

[2017-10-14 04:54] benshayden opened #3973 "Automatically focus autocomplete-box in /report page if no charts"
Upon opening [the report page](https://chromeperf.appspot.com/report), there is only a single interactive widget, the Test suite autocomplete box in the test-picker. When the user clicks on it to focus it, they may either start typing part of the name of a test suite or select one from a menu. However, the user must click on it first.
There aren't any other interactive widgets on an empty report p

[2017-10-16 12:06] natorion commented on #3967
probably both. There is already a similar functionality in the test picker for tests and benchmarks. It is "simply" missing for subtests.

The same information probably should be displayed on the chart if there is any meta information like this.